<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <link rel="stylesheet" type="text/css" href="css/style.css"></link>
        <title>Error</title>
    </h:head>
    <h:body>
        <ui:composition template="../public/navContainer_public.xhtml">
            <ui:define name="content">
                <div class="mainContainer">
                    <f:view id="erroPageView">
                        <h:messages globalOnly="true" showDetail="true" showSummary="true"
                                    warnClass="msgWarn" infoClass="msgInfo" fatalClass="msgFatal" errorClass="msgError">
                        </h:messages>

                        <h1>Permit print redirection error: code 505</h1>
                        <h:form id="errorPageForm">
                            <h:outputText value="Application root: #{request.contextPath}/restricted/"/>
                            <h:outputText value="#{systemServicesBB.logSub}"/>
                            <div class="ui-g">
                                <div class="ui-g-12 ui-md-6 ui-lg-4">
                                    <div class=" data_field_card">
                                        <div class="data_field_card_title">
                                            <p>You have landed on this page due to a system error related to printable permit generation.</p>
                                        </div>
                                            <p>This error is currently under investigation by system administrators; data gathering tools have been put in place to assist in solving this problem. </p>
                                            <p>The current workaround steps: </p>
                                            <ol>
                                                <li>Close this (new) tab and return to your permit file profile page.</li> 
                                                <li>Reload the permit file by clicking "view" in the session permit file box (right most
                                            box in the top session nav bar). Do not just click the browser's refresh button/F5.</li> 
                                                <li>Re-click "print official permit" for your desired occupancy permit.</li> 
                                            </ol>  
                                            
                                            <p>If the problem persists, you should nullify the offending permit and generate a new permit
                                            making sure that the permit contains a date of application, final inspection, and issuance. Also 
                                            check that an issuing code source is selected.</p>


                                    </div>
                                </div>
                            </div>
                        </h:form>
                    </f:view>
                </div>
            </ui:define>
        </ui:composition>
    </h:body>
</html>

