<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <link rel="stylesheet" type="text/css" href="css/style.css"></link>
        <title>Activate Internal User</title>
    </h:head>
    <h:body>
        <ui:composition template="./../public/navContainer_chooseMuni.xhtml">
            <ui:define name="content">
                <f:view id="initiateSessionView">
                    <h:form id="init-session-messages-form">

                        <!-- VALIDATION MESSAGE -->
                        <p:growl id="growl" showDetail="false" globalOnly="false" redisplay="false"/>
                    </h:form>

                    <p:ajaxStatus onstart="PF('session-status-dialog').show()" 
                                  onsuccess="PF('session-status-dialog').hide()"
                                  delay="500" />

                    <p:dialog widgetVar="session-status-dialog" 
                              modal="true"
                              height="250px"
                              width="350px"
                              draggable="false" 
                              closable="false" 
                              resizable="false" 
                              showHeader="false">
                        <div class="p-text-center">
                            <h:outputText value="Stand by: loading...loading" />
                            <p:spacer height="3px" />
                            <img src="https://upload.wikimedia.org/wikipedia/commons/2/27/Skid_Loader_anim.gif"
                                 alt="loading" 
                                 width="150px"
                                 style="display: block; margin-left:auto; margin-right:auto;"/>
                            <p style="font-size: 0.7em;">Pasimi, CC BY-SA 4.0 https://creativecommons.org/licenses/by-sa/4.0, via Wikimedia Commons</p>
                        </div>
                    </p:dialog>

                    <!-- MAIN CONTAINER -->
                    <div class="mainContainer">

                        <!-- TITLE COMPONENT -->
                        <div class="public-title">
                            <div class="public-title-main">
                                Authentication Successful
                            </div>
                            <div class="public-title-sub">
                                User: <h:outputText value="#{sessionInitializer.usernameQueuedForSession}"/>
                            </div>
                        </div>

                        <!-- CONTENTS CONTAINER -->
                        <div class="public-main-contents-containner">

                            <!--CONTENT MAIN COMPONENT -->
                            <div class="public-main-contents">

                                <!-- GUIDANCE COMPONENT -->
                                <div class="public-guide">
                                    <p>Choose one of your valid authorization period to credentialization your session</p>
                                </div>

                                <h:outputText value="Password update: Sucess at #{userBB.getPrettyDate(userBB.passwordResetTimestamp)}! Use your updated password on your next login." 
                                              rendered="#{!empty userBB.passwordResetTimestamp}" 
                                              style="font-size: 1.8em; color:darkblue; font-weight: bold;"/>
                                <p:spacer height="5px" />
                                <!-- CONTENT IO COMPONENT -->
                                <div class="public-main-contents-io">
                                    <h:form id="initiateSessionForm">
                                        <p:commandLink value="expand all" 
                                                       disabled="false"
                                                       rendered="true"
                                                       style="color: blue"
                                                       onclick="jQuery('.ui-row-toggler').click()"
                                                       />
                                        <p:spacer height="5px" />
                                        <p:dataTable
                                            id="usersettings-umaps-table"
                                            widgetVar="usersettings-umaps-table"
                                            value="#{sessionInitializer.umapCandidateList}"
                                            rendered="#{!empty sessionInitializer.umapCandidateList}"
                                            var="period"
                                            rowKey="#{period.userMuniAuthPeriodID}"
                                            tableStyleClass="primeDataTable"
                                            >   

                                            <p:column width="3%" exportable="false">
                                                <f:facet name="header">
                                                    <h:outputText value="Expand row" />
                                                </f:facet>
                                                <p:rowToggler/>
                                            </p:column>

                                            <p:column
                                                sortBy="#{period.muni.muniName}">
                                                <f:facet name="header">
                                                    <h:outputText value="Muni" />
                                                </f:facet>
                                                <h:outputText value="#{period.muni.muniName}"
                                                              styleClass="bold larger-text"/>
                                                <p:spacer height="3px" />
                                                <h:outputText value="#{period.role.label}" styleClass="italic"/>
                                                <h:outputText value="#{period.codeOfficer ? ' (+Code Officer)':''}" 
                                                              styleClass="italic"/>
                                            </p:column>
                                          
                                            <p:column>
                                                <f:facet name="header">
                                                    <h:outputText value="Actions" />
                                                </f:facet>
                                                <p:commandButton ajax="false"
                                                                 id="sessioninit-umaplist-button-credentialize" 
                                                                 value="#{empty sessionInitializer.userAuthorizedQueuedForSession.forcePasswordResetTS ? 'Go' : 'update your password now!' }" 
                                                                 disabled="#{(!empty period.recorddeactivatedTS) or (!empty sessionInitializer.userAuthorizedQueuedForSession.forcePasswordResetTS)}"
                                                                 styleClass="multiButtonLineButton" 
                                                                 action="#{sessionInitializer.sessionInit_credentializeUserMuniAuthPeriod(period)}"
                                                                 update="init-session-messages-form"
                                                                 icon="pi pi-sign-in">
                                                </p:commandButton>
                                            </p:column>
                                            <p:rowExpansion>
                                                <div class="outlinedBox">

                                                    <h:panelGrid columns="2" border="0" 
                                                                 cellpadding="5" columnClasses="gridTd, gridTd"
                                                                 footerClass="gridFooter">
                                                        <h:panelGroup>
                                                            <h:outputLabel value="UMAP Rank: "/>
                                                            <h:outputText value="#{period.role.rank}"/>
                                                            <p:spacer height="0px" />
                                                            <h:outputLabel value="Role: "/>
                                                            <h:outputText value="#{period.role.label}"/>
                                                        </h:panelGroup>
                                                        <h:panelGroup>
                                                            <h:outputLabel value="Period ID: "/>
                                                            <h:outputText value="#{period.userMuniAuthPeriodID}"/>
                                                            <p:spacer height="0px" />
                                                            <h:outputText value="Access start: " />
                                                            <h:outputText value="#{systemServicesBB.getPrettyDate(period.startDate)}"/>
                                                            <p:spacer height="0px" />
                                                            <h:outputText value="Access stop: " />
                                                            <h:outputText value="#{systemServicesBB.getPrettyDate(period.stopDate)}"/>
                                                            <p:spacer height="0px" />
                                                            <h:outputText value="Code officer: " />
                                                            <h:outputText value="#{period.codeOfficer ? 'Yes':'No'}" style="background-color: #{period.codeOfficer ? 'lightblue' : ''}"/>
                                                            <p:spacer height="0px" />
                                                            <h:outputText value="Deactivated TS: " />
                                                            <h:outputText value="#{systemServicesBB.getPrettyDate(period.recorddeactivatedTS)}"/>
                                                        </h:panelGroup>
                                                        <h:panelGroup>

                                                            <h:outputLabel value="cred by: " />
                                                            <p:spacer height="0px" />
                                                            <h:outputLabel value="user id: " />
                                                            <h:outputText value="#{period.createdByUserID}" />

                                                        </h:panelGroup>

                                                        <h:panelGroup>
                                                            <h:outputLabel value="Created TS:" />
                                                            <h:outputText value="#{systemServicesBB.getPrettyDate(period.createdTS)}"/>
                                                        </h:panelGroup>
                                                        <h:panelGroup>

                                                            <h:outputLabel value="Notes" />
                                                            <h:outputText value="#{period.notes}" escape="false"/>
                                                        </h:panelGroup>

                                                        <f:facet name="footer">

                                                            <h4>Log entries associated with this authorization period</h4>

                                                            <p:scrollPanel id="usersettings-umaps-log-scrollpanel"
                                                                           style="height: 200px;">

                                                                <p:dataTable
                                                                    id="usersettings-umaps-log-table"
                                                                    value="#{period.periodActivityLogBook}"
                                                                    rendered="#{!empty period.periodActivityLogBook}"
                                                                    var="entry"
                                                                    rowKey="#{entry.logBookEntryID}"
                                                                    tableStyleClass="primeDataTable">

                                                                    <p:column>
                                                                        <f:facet name="header">
                                                                            <h:outputText value="Log entry ID" />
                                                                        </f:facet>
                                                                        <h:outputText value="#{entry.logBookEntryID}"/>
                                                                    </p:column>
                                                                    <p:column>
                                                                        <f:facet name="header">
                                                                            <h:outputText value="AuthPerID" />
                                                                        </f:facet>
                                                                        <h:outputText value="#{entry.userMuniAuthPeriodID}"/>
                                                                    </p:column>
                                                                    <p:column>
                                                                        <f:facet name="header">
                                                                            <h:outputText value="Cat" />
                                                                        </f:facet>
                                                                        <h:outputText value="#{entry.category}"/>
                                                                    </p:column>
                                                                    <p:column>
                                                                        <f:facet name="header">
                                                                            <h:outputText value="TS" />
                                                                        </f:facet>
                                                                        <h:outputText value="#{entry.entryTS}"/>
                                                                    </p:column>
                                                                    <p:column>
                                                                        <f:facet name="header">
                                                                            <h:outputText value="Client address" />
                                                                        </f:facet>
                                                                        <h:outputText value="#{entry.header_remoteaddr}"/>
                                                                    </p:column>
                                                                </p:dataTable>
                                                            </p:scrollPanel>

                                                        </f:facet>
                                                    </h:panelGrid>
                                                </div>
                                            </p:rowExpansion>
                                        </p:dataTable>
                                    </h:form>
                                </div>

                                <!-- CONTENT BUTTON -->


                                <p:panel id="usertools-panel"
                                         toggleable="true"
                                         collapsed="false"
                                         header="User Tools"
                                         rendered="true"
                                         >
                                    <h:form id="logout-form">

                                        <div class="public-main-contents-button-right">
                                            <p:commandButton id="navcontres-button-logout"
                                                             action="#{systemServicesBB.logout}" 
                                                             value="Logout"
                                                             icon="pi pi-arrow-left"
                                                             ajax="false"
                                                             style="width: 100%"/>
                                        </div>
                                    </h:form>
                                    <h:form id="usertools-form">

                                        <div class="restrict-main-contents-io-link" 
                                             style="margin-bottom:30px;">

                                            <p:commandLink   id="usertools-update-password"
                                                             ajax="true"
                                                             actionListener="#{userBB.onUpdatePasswordInit}"
                                                             update="user-passwordupdate-dialog
                                                             user-passwordupdate-form"
                                                             value="Update codeNforce login password" 
                                                             rendered="true"
                                                             oncomplete="PF('user-passwordupdate-dialog-var').show();"/>

                                        </div>
                                    </h:form>
                                </p:panel>
                            </div>
                        </div>
                    </div>
                    <script>
                        var y = document.getElementById('public-login-arrow-id');
                        y.className += " public-menu-active";
                    </script> 

                    <p:dialog    id="user-passwordupdate-dialog"
                                 widgetVar="user-passwordupdate-dialog-var" 
                                 header="Update user login password" 
                                 responsive="true" 
                                 width="800"
                                 height="250"
                                 modal="true"
                                 dynamic="true"
                                 closable="true"
                                 closeOnEscape="true    " >


                        <h:form id="user-passwordupdate-form">
                            
                            <div class="p-grid">
                                <div class="p-col-6">
                                    <p:outputLabel for="usersettings-it-password"
                                                   styleClass="bold">
                                        <h:outputText value="New password "/>
                                    </p:outputLabel>
                                    <p:password id="usersettings-it-password" value="#{userBB.formPassword}" 
                                                style="width: 150px;"
                                                maxlength="80"
                                                tabindex="3" 
                                                required="true" 
                                                validatorMessage="Length must be between 8 and 50 characters"
                                                feedback="true"
                                                styleClass="inputText">
                                        <f:validateLength minimum="8" maximum="50"/>
                                    </p:password>
                                    <p:spacer height="3px" />
                                    <h:outputText value="(choose a UNIQUE password of at least 8 characters)"/>
                                </div>
                                <div class="p-col-6">

                                    <p:outputLabel for="usersettings-it-password"
                                                   styleClass="bold">
                                        <h:outputText value="Re-enter password"/>
                                    </p:outputLabel>

                                    <p:password id="usersettings-it-password-reentry" value="#{userBB.formPasswordReentry}" 
                                                style="width: 150px;"
                                                maxlength="80"
                                                tabindex="3" 
                                                required="true" 
                                                validatorMessage="Length must be between 8 and 50 characters"
                                                feedback="true"
                                                styleClass="inputText">
                                        <f:validateLength minimum="8" maximum="50"/>
                                    </p:password>

                                    <h:message for="usersettings-it-password" showDetail="false" showSummary="true" 
                                               warnClass="msgWarn" infoClass="msgInfo" fatalClass="msgFatal" errorClass="msgError"/>

                                </div>
                                
                            </div>

                            <p:spacer height="65px" />

                                <p:spacer height="5px" />
                                <h:outputText value="Store your password in a secure place."
                                              styleClass="italic"/>
                                <p:spacer height="3px" />
                                <h:outputText value="Forgotten passwords require an account access reset by a system administrator."
                                              styleClass="italic"/>
                                <p:spacer height="5px" />
                                <p:commandButton id="usersettings-button-updatepassword"
                                                 ajax="false"
                                                 action="#{userBB.commitPasswordUpdates}"
                                                 update="init-session-messages-form"
                                                 icon="pi pi-save"
                                                 value="Update password and reload page" />
                        </h:form>
                    </p:dialog>
                </f:view>
            </ui:define>
        </ui:composition>
    </h:body>
</html>

