<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    <h:head>
       
        <h:outputStylesheet name="css/dashboards.css"/>
        <title>CodeNForce Dashboard</title>
    </h:head>
    <h:body>
        <ui:composition template="navContainer_restricted.xhtml">
            <ui:define name="content">
                <f:view id="missionControlView">
                    <ui:include src="compositions/violationMigration.xhtml" />
                    <div class="mainContainer">
                        <h:form id="messages-global-form">
                            <p:growl id="messages-global-growl"
                                     redisplay="false"
                                     />
                        </h:form>

                        <div class="ui-g data_container_nested_restrict">
                            <div class="ui-g-12 ui-md-12 ui-lg-12 restrict-data-field p-m-0 p-py-0">
                                <ui:include src="/restricted/compositions/eventCalendar.xhtml"/>
                            </div>

                            <div class="ui-g-12 ui-md-12 ui-lg-6 restrict-data-field p-m-0 p-py-0">
                               
                                <ui:include src="cogstaff/prop/compositions/propertySearchDash.xhtml"/>
                                <ui:include src="cogstaff/occ/compositions/occPeriodListSearch.xhtml"/>
                                <ui:include src="cogstaff/compositions/eventSearch.xhtml" />
                                <ui:include src="cogstaff/occ/compositions/occPermitListSearch.xhtml"/>
                                <ui:include src="cogstaff/compositions/mapPanel.xhtml" />
                                <ui:include src="compositions/fieldInspectionSearch.xhtml"/>
                            </div>

                            <div class="ui-g-12 ui-md-12 ui-lg-6 restrict-data-field p-m-0 p-py-0">
                                <ui:include src="/restricted/compositions/missioncontrol/missConCECaseSearch.xhtml" />
                                <ui:include src="/restricted/compositions/missioncontrol/missConCEAR.xhtml" />
                                <ui:include src="cogstaff/ce/compositions/codeViolationSearch.xhtml" />
                                <ui:include src="cogstaff/ce/compositions/citationSearch.xhtml"/>
                            </div>
                        </div>
                    </div>
                </f:view>
            </ui:define>
        </ui:composition>
    </h:body>
</html>

