<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <h:head>
        <link rel="shortcut icon" type="image/x-icon" href="#{request.contextPath}/resources/favicon.ico"/>
         <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0, user-scalable=0" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <h:outputStylesheet name="css/style.css"/>
        <h:outputStylesheet name="css/primeflex.min.css"/>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
        <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet"/>
        <link href="https://fonts.googleapis.com/css?family=Heebo" rel="stylesheet"/>
        <title>codeNforce</title>
    </h:head>
    <h:body>
        <h:outputScript name="/js/navcontainer.js" target="body"/>
        <div class="navbar flexing-box-topbar">
            <div class="logo-image-wrapper-home">
                <h:graphicImage value="/images/codenforce-brand.png" />
            </div>
        </div>
        <div class="flex-box-container">
            <div class="flexing-box-interior #{sessionBean.crossMuniViewMode ? 'xmuni-banner':''}">
                <div class="flex-box-container-interior">
                    <f:view id="sessionInfoView">
                        <div id="maincontent">
                            <!-- SIDE NAVIGATION BAR -->
                            <ui:include src="/restricted/compositions/session/sideNav.xhtml" />
                            <!-- TOP NAVIGATION BAR -->  
                            <div class="p-grid p-m-0 p-pt-1">
                                <f:subview id="xmuni-status-subview"
                                           rendered="#{sessionBean.crossMuniViewMode}">
                                    <div class="p-lg-12 p-md-12 p-sm-12 xmuni-banner">
                                        <h:form id="xmuni-banner-form">
                                            <div class="inline-icon">
                                                <i class="material-icons">
                                                    <h:outputText value="nat"/>
                                                </i>
                                            </div> 
                                            <h:outputText value="Cross-Muni Mode Active: Viewing property and case info in #{sessionBean.crossMuniMuni.muniName}"
                                                          rendered="#{not empty sessionBean.crossMuniMuni}" />
                                            
                                            <h:outputText value=" (Xmuni Activation ID: #{sessionBean.XMuniRecord.activationID})"
                                                          rendered="#{not empty sessionBean.XMuniRecord}" />
                                                
                                                <p:commandLink id="exit-xmuni-cb"
                                                               value="EXIT cross-muni mode"
                                                               ajax="false"
                                                               style="margin-left:10px; color: blue; font-weight: bold; font-size: 1.3em;"
                                                               action="#{sessionBean.onExitCrossMuniViewMode}"/>
                                                
                                                <h:outputText value=" | " />
                                                <div class="restrict-main-contents-io-link link-button help-icon-tightright">
                                                    <a href="https://technologyrediscovery.github.io/codenforce/case/crossmuni.html"
                                                       target="_blank">
                                                        <i class="material-icons"
                                                           style="display: inline-block">help_outline</i>
                                                    </a>
                                                </div>
                                        </h:form>
                                    </div>
                                </f:subview>
                                <div class="p-lg-2 p-md-4 p-sm-12">
                                    <ui:include src="/restricted/compositions/session/sessMuni.xhtml" />
                                </div>
                                <div class="p-lg-2 p-md-4 p-sm-12">
                                    <ui:include src="/restricted/compositions/session/sessInspections.xhtml" />
                                </div>
                                <div class="p-lg-2 p-md-4 p-sm-12">
                                    <ui:include src="/restricted/compositions/session/sessProperty.xhtml" />
                                </div>
                                <div class="p-lg-2 p-md-4 p-sm-12">  
                                    <ui:include src="/restricted/compositions/session/sessPerson.xhtml" />
                                </div>
                                <div class="p-lg-2 p-md-4 p-sm-12">
                                    <ui:include src="/restricted/compositions/session/sessCECase.xhtml" />
                                </div>
                                <div class="p-lg-2 p-md-4 p-sm-12">
                                    <ui:include src="/restricted/compositions/session/sessOccPeriod.xhtml" />
                                </div>
                            </div>                            

                            <ui:include src="/restricted/cogstaff/ce/compositions/caseListReportConfig.xhtml" />
                            <ui:include src="/restricted/cogstaff/occ/compositions/occPermittingActivityReportConfig.xhtml" />
                            <p:spacer height="0px;"/>
                            <div class="flexing-box-pagecontent">
                                <ui:insert name="content">
                                    <p>I am the not content in the template content placeholder. I am not aware of any way for this particular element to ever be displayed to anybody.</p>
                                </ui:insert>
                            </div>
                        </div>
                    </f:view>
                </div>
            </div>
        </div>
    </h:body>
</html>
