<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <link rel="stylesheet" type="text/css" href="css/style.css"></link>
        <title>User Configuration</title>
    </h:head>
    <h:body>
        <ui:composition template="/restricted/navContainer_restricted.xhtml">
            <ui:define name="content">
                <f:view id="usercfg-info-view">

                    <p:outputPanel id="body-panel">

                        <h:form id="form-messages-global">
                            <p:messages id="messages-global" globalOnly="true" showDetail="true" showSummary="true" />
                        </h:form>

                        <div class="mainContainer">

                            <!-- TITLE COMPONENT -->
                            <div class="public-title">
                                <div class="public-title-main">
                                    User Configuration
                                </div>
                                <div class="public-title-sub">
                                    and municipal access period management
                                </div>
                            </div>


                            <div class ="two-column-page-flex-container">
                                <div class="list-column" >


                                    <h:form id="mode-form">
                                        <p:selectOneButton style="  width: 100%;
                                                           margin-top: 10px ;
                                                           height: 20px;"
                                                           value="#{userConfigBB.currentMode}"
                                                           unselectable="false"
                                                           >
                                            <f:selectItems value="#{userConfigBB.pageModes}"
                                                           var="pmo"
                                                           itemLabel="#{pmo.title}"
                                                           itemDisabled="#{!userConfigBB.currentPropertySelected and pmo.objectSelectRequiredToEnable}"/>
                                            <f:ajax render="@all"/>
                                        </p:selectOneButton>
                                    </h:form>

                                    <p:spacer height="8px" />

                                    <p:panel    id="usercfg-search-query-panel"
                                                toggleable="true"
                                                widgetVar="usercfg-search-query-panel-var"
                                                collapsed="false"
                                                style="width:100%;"
                                                header="Property search configuration"
                                                rendered="#{userConfigBB.activeLookupMode}">

                                        <h:form id="usercfg-search-messages-form">
                                            <h:messages id="usercfg-search-messages"
                                                        globalOnly="true" showDetail="true" showSummary="true"
                                                        warnClass="msgWarn" infoClass="msgInfo" fatalClass="msgFatal" errorClass="msgError">
                                            </h:messages>
                                        </h:form>


                                        <p:outputLabel for="usercfg-search-appendresults-chkbox-0">
                                            <h:outputText value="Append results to list? "
                                                          styleClass="bold"/>
                                        </p:outputLabel>

                                        <p:selectBooleanCheckbox   id="usercfg-search-appendresults-chkbox-0"
                                                                   value="#{propertySearchBB.appendResultsToList}"
                                                                   disabled="false" />

                                        <p:spacer height="5px" />

                                        <p:commandButton   id="usercfg-search-exec-cb-0"
                                                           ajax="true"
                                                           actionListener="#{propertySearchBB.executeQuery}"
                                                           icon="fa fa-search"
                                                           styleClass="button"
                                                           value="Search"
                                                           disabled="#{propertySearchBB.querySelected.queryExecuted}"
                                                           update=" 
                                                           @form
                                                           usercfg-search-messages-form
                                                           usercfg-search-log-form
                                                           usercfg-search-results-panel
                                                           usercfg-search-clear-cb-0"/>


                                        <p:commandButton   id="usercfg-search-clear-cb-0"
                                                           ajax="true"
                                                           actionListener="#{propertySearchBB.resetQuery}"
                                                           icon="fa fa-eraser"
                                                           styleClass="button inline-button"
                                                           value="Clear search"
                                                           disabled="#{!propertySearchBB.querySelected.queryExecuted}"
                                                           update=" usercfg-search-messages-form
                                                           usercfg-search-log-form
                                                           usercfg-search-results-panel
                                                           @form
                                                           usercfg-search-query-form"/>

                                        <p:commandButton   id="usercfg-search-advanced-button"
                                                           ajax="true"
                                                           actionListener="#{userConfigBB.onAdvancedSearchButtonChange}"
                                                           oncomplete="PF('usercfg-search-advanced-var').show()"
                                                           rendered="#{systemServicesBB.bbSessionUser.keyCard.hasMuniStaffPermissions}"
                                                           value="Advanced search"
                                                           icon="fa fa-gears"
                                                           />

                                        </h:form>


                                    </p:panel>

                                    <p:panel    id="usercfg-search-results-panel"
                                                toggleable="true"
                                                widgetVar="usercfg-search-query-panel-var"
                                                collapsed="false"
                                                style="width:100%;"
                                                header="Search results"
                                                rendered="#{userConfigBB.activeLookupMode}">


                                        <h:form id="usercfg-search-results-form">


                                            <p:commandButton   id="usercfg-search-results-clear"
                                                               ajax="true"
                                                               actionListener="#{propertySearchBB.clearPropertyList}"
                                                               icon="fa fa-eraser"
                                                               styleClass="button"
                                                               value="clear results list"
                                                               update=" usercfg-search-messages-form
                                                               usercfg-search-results-form"/>
                                            <p:spacer height="3px" />


                                            <p:commandButton    id="usercfg-search-loadusercfg-button"
                                                                icon="fa fa-folder-open-o"
                                                                value="Load Property"
                                                                action="#{userConfigBB.onExplorePropertyButtonChange(prop)}"
                                                                ajax="true"
                                                                update="
                                                                form-messages-global
                                                                usercfg--panel-info
                                                                usercfg--panel-addupdate
                                                                usercfg-remove-panel
                                                                usercfg-workflow-panel
                                                                usercfg-events-panel
                                                                usercfg-persons-panel
                                                                usercfg-cases-panel
                                                                usercfg-units-panel
                                                                usercfg-extinfo-panel
                                                                usercfg-info-header-form
                                                                "
                                                                />
                                        </h:form>
                                    </p:panel>

                                    <p:panel  id="usercfg-search-log-panel"
                                              toggleable="true"
                                              widgetVar="usercfg-search-log-panel-var"
                                              collapsed="true"
                                              style="width:100%;"
                                              header="Query log"
                                              rendered="#{userConfigBB.activeLookupMode}">

                                        <h:form id="usercfg-search-log-form">
                                            <div class='search-query-desc'>
                                                <h:outputText id="usercfg-search-log-ot"
                                                              value="#{propertySearchBB.querySelected.queryLog}"
                                                              escape="false"/>
                                            </div>
                                        </h:form>
                                    </p:panel>
                                </div>

                                <div class ="object-column">
                                    <p:outputPanel id = "usercfg-lists-outpanel" >
                                        <h:form id="usercfg-info-header-form">

                                            <h:outputText id="header-ot" styleClass="dataText" value="#{userConfigBB.currentProperty.address}" />
                                            <h:outputText value=" | " />
                                            <h:outputText value="#{userConfigBB.currentProperty.muni.muniName}" />
                                            <h:outputText value=" | " />
                                            <h:outputText id="header-lob-ot" value="Lot-block: #{userConfigBB.currentProperty.parID}"/>
                                            <h:outputText value=" | " />
                                            <h:outputText id="header-propid-ot" value="ID: #{userConfigBB.currentProperty.propertyID}"/>
                                        </h:form>

                                        <p:panel id="usercfg--panel-info"
                                                 toggleable="true"
                                                 collapsed="false"
                                                 header="Property Record"
                                                 rendered="#{userConfigBB.getActiveViewMode() }"
                                                 >
                                            <p:spacer height="10px"/>
                                            <h:form id="evruleconfig-panel-info-form">
                                                <div    id='usercfg--ot-addr-div'
                                                        class="ui-g-12 ui-md-6 ui-lg-3 data_field">
                                                    <h:outputLabel  styleClass="data_field_label"
                                                                    for="usercfg--ot-addr"
                                                                    value="Address"/>

                                                    <div class="data_field_value" >
                                                    </div>
                                                </div>
                                            </h:form>
                                        </p:panel>

                                        <!--Insert Table-->
                                        <p:panel id="usercfg--panel-addupdate"
                                                 toggleable="true"
                                                 collapsed="false"
                                                 header="#{userConfigBB.currentProperty.propertyID == 0 ? 'New property record':'Update property record'}"
                                                 rendered="#{userConfigBB.getActiveInsertUpdateMode() }"
                                                 >
                                            <h:form id="usercfg-add-form">
                                                <p:commandButton    id="usercfg-add-addnew-commit-button-1"
                                                                    icon="fa fa-thmubs-o-up"
                                                                    ajax="false"
                                                                    action="#{userConfigBB.onInsertButtonChange()}"
                                                                    value="Commit record"
                                                                    rendered="#{userConfigBB.currentProperty.propertyID == 0}"
                                                                    />

                                                <p:commandButton    id="usercfg-add-update-commit-button-1"
                                                                    icon="fa fa-edit"
                                                                    ajax="false"
                                                                    action="#{userConfigBB.onUpdateButtonChange()}"
                                                                    value="Commit updates"
                                                                    rendered="#{userConfigBB.currentProperty.propertyID != 0}"
                                                                    />

                                                <p:commandButton    id="usercfg-add-discard-button-1"
                                                                    icon="fa fa-trash-o"
                                                                    ajax="true"
                                                                    action="#{userConfigBB.onDiscardNewPropertyDataButtonChange}"
                                                                    value="Discard new record"
                                                                    rendered="#{userConfigBB.currentProperty.propertyID == 0}"
                                                                    />

                                                <div    id="usercfg-add-container-div"
                                                        class="ui-g data-container">
                                                    <div    id="usercfg-add-address-div"
                                                            class="ui-g-12 ui-md-12 ui-lg-12 data_field">
                                                    </div>
                                                    <div    id="usercfg-add-cit-div"
                                                            class="ui-g-12 ui-md-12 ui-lg-12 data_field">
                                                    </div>
                                                </div>
                                            </h:form>
                                        </p:panel>

                                        <p:panel id="usercfg-remove-panel"
                                                 toggleable="true"
                                                 collapsed="false"
                                                 header="Remove property"
                                                 rendered="#{userConfigBB.getActiveRemoveMode() }"
                                                 >

                                            <h:form id="usercfg--remove-form">

                                                <p>Caution: This action is like 'delete'; we have to dig the record back out by
                                                    hand if you goof.</p>
                                                <p:commandButton icon="fa fa-trash-o"
                                                                 ajax="false"
                                                                 action="#{userConfigBB.onRemoveButtonChange()}"
                                                                 value="Permanently remove property ID:#{userConfigBB.currentProperty.propertyID}"
                                                                 />
                                            </h:form>
                                        </p:panel>

                                        <p:panel    id="usercfg-workflow-panel"
                                                    toggleable="true"
                                                    widgetVar="usercfg-workflow-panel-var"
                                                    collapsed="false"
                                                    header="Proposals">
                                            <h:form id="usercfg-workflow-form">
                                            </h:form>
                                        </p:panel>
                                    </p:outputPanel>
                                </div>
                            </div>
                        </div>

                        <p:dialog    id="usercfg-search-advanced-dialog"
                                     height="400" width="600"
                                     widgetVar="usercfg-search-advanced-var"
                                     closable="true"
                                     header="Advanced Search Parameters">

                            <h:form id="usercfg-search-params-form-1">
                                <p:commandButton   id="usercfg-search-exec-cb"
                                                   ajax="true"
                                                   actionListener="#{propertySearchBB.executeQuery}"
                                                   icon="fa fa-search"
                                                   styleClass="button"
                                                   value="Search"
                                                   disabled="#{propertySearchBB.querySelected.queryExecuted}"
                                                   update=" usercfg-search-messages-form
                                                   usercfg-search-results-form
                                                   usercfg-search-log-form
                                                   usercfg-search-exec-cb
                                                   usercfg-search-clear-cb"/>

                                <p:commandButton   id="usercfg-search-clear-cb"
                                                   ajax="true"
                                                   actionListener="#{propertySearchBB.resetQuery}"
                                                   icon="fa fa-eraser"
                                                   styleClass="button inline-button"
                                                   value="Clear search"
                                                   disabled="#{!propertySearchBB.querySelected.queryExecuted}"
                                                   update=" usercfg-search-messages-form
                                                   usercfg-search-log-form
                                                   @form
                                                   usercfg-search-query-form"/>

                                <p:spacer height="5px" />

                                <p:outputLabel for="usercfg-search-appendresults-chkbox">
                                    <h:outputText value="Append results to list? "
                                                  styleClass="bold"/>
                                </p:outputLabel>

                                <p:selectBooleanCheckbox   id="usercfg-search-appendresults-chkbox"
                                                           value="#{propertySearchBB.appendResultsToList}"
                                                           disabled="false" />

                                <p:separator />

                                <p:commandButton   id="usercfg-search-exec-cb-2"
                                                   ajax="true"
                                                   actionListener="#{propertySearchBB.executeQuery}"
                                                   icon="fa fa-search"
                                                   styleClass="button"
                                                   value="Search"
                                                   oncomplete="PF('usercfg-search-advanced-var').hide()"
                                                   disabled="#{propertySearchBB.querySelected.queryExecuted}"
                                                   update=" usercfg-search-messages-form
                                                   usercfg-search-results-form
                                                   usercfg-search-log-form
                                                   usercfg-search-exec-cb
                                                   usercfg-search-clear-cb"/>

                                <p:commandButton ajax="true"
                                                 value="Cancel" icon="pi pi-stop"
                                                 onclick="PF('usercfg-search-advanced-var').hide()"
                                                 tabindex="4"/>

                            </h:form>
                        </p:dialog>
                </f:view>

                <script type="text/javascript">
                    $(function () {
                        $.extend(PF("datatable"), {
                            onKeyDown: function (e) {
                                var key = e.which,
                                        keyCode = $.ui.keyCode;
                                if ((key === keyCode.ENTER || key === keyCode.NUMPAD_ENTER)) {
                                    e.preventDefault();
                                }
                            },
                            onKeyUp: function (e, rowIndex) {
                                var key = e.which,
                                        keyCode = $.ui.keyCode;
                                //.ui-row-editor-check .ui-icon-check .ui-c
                                if ((key === keyCode.ENTER || key === keyCode.NUMPAD_ENTER)) {
                                    this.tbody
                                            .find('.ui-row-editor .ui-icon-check')
                                            .eq(rowIndex)
                                            .click();
                                }
                                if (key === keyCode.ESCAPE) {
                                    this.tbody
                                            .find('.ui-row-editor .ui-icon-close')
                                            .eq(rowIndex)
                                            .click();
                                }
                            }
                        });
                    });
                </script>
            </ui:define>
        </ui:composition>
    </h:body>
</html>

