<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <h:outputStylesheet name="css/style.css"/>
        <h:outputStylesheet name="css/primeflex.min.css"/>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
        <title>Report</title>
    </h:head>
    <h:body style="font-family: sans-serif">
        <ui:insert name="report-header">
            <f:view id="report-header">

                <div class="ui-g">
                    <div class="ui-g-4 ui-md-4 ui-lg-4 restrict-data-field-value-vertical">
                        <div class="ui-g-12 ui-md-12 ui-lg-12">
                            <div class="logo-image-wrapper">
                                <p:graphicImage     id="report-headerphoto"
                                                     value="#{blobsterBB.image}"
                                                     alt="no preview available" 
                                                     width="300"
                                                     cache="true"
                                                     rendered="#{!empty reportingBB.headerImageBlob}">
                                     <f:param name="blobid" value="#{reportingBB.headerImageBlob.photoDocID}"/>
                                 </p:graphicImage>
                            </div>
                        </div>
                      
                    </div>
                    <div class="ui-g-8 ui-md-8 ui-lg-8 restrict-data-field" style="text-align: right;">

                        <div class="restrict-data-field-value-vertical">

                            <div class="report-title">
                                <h:outputText id="report-title-ot"  value="#{reportingBB.currentReport.title}"/> 
                            </div>
                            <div class="report-title-sub">

                                <h:outputText id="report-subtitle-ot"  value="#{reportingBB.currentReport.muni.muniName}"/> 

                            </div>
                            <div class="report-period-label">
                                <h:outputText value="Reporting Period:" />
                            </div>
                            <div class="report-period-val">
                                <h:outputText value="#{reportingBB.getPrettyDateNoTime(reportingBB.reportCECaseList.date_start_val)}" />
                                <h:outputText value=" to " />
                                <h:outputText value="#{reportingBB.getPrettyDateNoTime(reportingBB.reportCECaseList.date_end_val)}" />
                            </div>
                            <div class="report-notes">
                                <h:outputText id="report-notes-ot"  value="Notes: #{reportingBB.currentReport.notes}"/>
                            </div>
                        </div>
                    </div>
                </div>
            </f:view>
        </ui:insert>

        <div class="flexing-box-pagecontent" style="font-family: sans-serif;">
            <ui:insert name="print-content">

                <p>I am the not content in the template content placeholder. I am not aware of any way for this particular element to ever be displayed to anybody.</p>

            </ui:insert>
        </div>
    </h:body>
</html>

