<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:tt="http://xmlns.jcp.org/jsf/composite/components">
    <h:head>
        <link rel="stylesheet" type="text/css" href="css/style.css"></link>
        <title>Case Event Configuration Tool</title>
    </h:head>
    <h:body>
        <ui:composition template="/restricted/navContainer_restricted.xhtml">

            <ui:define name="content">

                <f:view>
                    <div class="mainContainer">

                        <h:form id="eventcat-growl-form">
                            <p:growl id="eventcat-growl"
                                     globalOnly="false" />
                        </h:form>

                        <h1>Event subsystem configuration</h1>




                        <p:panel    id="event-setup-panel"
                                    toggleable="true"
                                    widgetVar="event-setup-panel-var"
                                    collapsed="false"
                                    rendered="true"
                                    header="General Event setup">
                            
                            <h:form id="event-setup-form">
                                
                                
                            </h:form>
                            
                            
                        </p:panel>


                        <p:panel    id="event-categories-panel"
                                    toggleable="true"
                                    widgetVar="event-categories-panel-var"
                                    collapsed="false"
                                    rendered="true"
                                    header="Event Category Manager">


                        <h:form id="eventcat-add-init-form">

                            <p:commandButton id="eventcat-add-init-button"
                                             value="New Event Category"
                                             icon="pi pi-plus"
                                             rendered="#{systemServicesBB.bbSessionUser.keyCard.hasMuniManagerPermissions}"
                                             actionListener="#{eventCatConfigBB.onAddEventCategoryInit}"
                                             oncomplete="PF('eventcat-viewaddedit-dialog-var').show();"
                                             update="eventcat-viewaddedit-form
                                             eventcat-growl-form"/>

                        </h:form>
                        <p:spacer height="5px" />


                        <h:form id="eventcat-list-form">

                            <p:dataTable
                                id="eventcat-table"
                                value="#{eventCatConfigBB.eventCategoryList}"
                                rendered="#{!empty eventCatConfigBB.eventCategoryList}"
                                var="cat"                      
                                rowKey="#{cat.categoryID}"
                                expandedRow="false"
                                resizableColumns="true"
                                draggableColumns="true"
                                tableStyleClass="primeDataTable"
                                sortMode="multiple"
                                tabindex="1">
                                <!--<p:ajax event="rowSelect" update="selectedRowLabel"/>-->


                                <p:column width="5%"
                                          sortBy="#{cat.categoryID}">
                                    <f:facet name="header">
                                        <h:outputText value="ID" />
                                    </f:facet>
                                    <h:outputText value="#{cat.categoryID}"/>
                                </p:column>

                                <p:column width="8%" sortBy="#{cat.eventType.label}">
                                    <f:facet name="header">
                                        <h:outputText value="Event Type" />
                                    </f:facet>
                                    <h:outputText value="#{cat.eventType.label}"
                                                  rendered="#{!empty cat.eventType}"/>
                                </p:column>

                                <p:column width="20%" 
                                          sortBy="#{cat.eventCategoryTitle}">
                                    <f:facet name="header">
                                        <h:outputText value="Category" />
                                    </f:facet>
                                    <h:outputText value="#{cat.eventCategoryTitle}"/>
                                </p:column>

                                <p:column width="10%">
                                    <f:facet name="header">
                                        <h:outputText value="Icon" />
                                    </f:facet>
                                    <i class="material-icons">
                                        <h:outputText value="#{cat.icon.materialIcon}"/>
                                    </i>
                                </p:column>

                                <p:column width="5%"
                                          sortBy="#{cat.alertEvent}"
                                          styleClass="#{cat.alertEvent ? 'rowcolor-lightgreen' : ''}">
                                    <f:facet name="header">
                                        <h:outputText value="Property" />
                                        <p:spacer height="1px" />
                                        <h:outputText value="Alert?" />
                                    </f:facet>
                                    <h:outputText value="#{cat.alertEvent ? 'Yes':'No'}"/>

                                </p:column>

                                <p:column width="5%"
                                          sortBy="#{cat.followUpEvent}"
                                          styleClass="#{cat.followUpEvent ? 'rowcolor-lightgreen' : ''}">
                                    <f:facet name="header">
                                        <h:outputText value="Requires" />
                                        <p:spacer height="1px" />
                                        <h:outputText value="Followup?" />
                                    </f:facet>
                                    <h:outputText value="#{cat.followUpEvent ? 'Yes':'No'}"/>

                                </p:column>

                                <p:column width="5%"
                                          sortBy="#{cat.adminEvent}"
                                          styleClass="#{cat.adminEvent ? 'lightgreen' : ''}">
                                    <f:facet name="header">
                                        <h:outputText value="Admin" />
                                        <p:spacer height="1px" />
                                        <h:outputText value="Event?" />
                                    </f:facet>
                                    <h:outputText value="#{cat.adminEvent ? 'Yes':'No'}"/>

                                </p:column>
                                <p:column width="5%"
                                          sortBy="#{cat.greenBufferDays}"
                                          styleClass="#{cat.greenBufferDays ne 0 ? 'lightgreen' : ''}">
                                    <f:facet name="header">
                                        <h:outputText value="Green" />
                                        <p:spacer height="1px" />
                                        <h:outputText value="Buffer?" />
                                    </f:facet>
                                    <h:outputText value="#{cat.greenBufferDays}"/>

                                </p:column>

                                <p:column width="5%"
                                          sortBy="#{cat.active}"
                                          styleClass="#{cat.active ? '' : 'rowcolor-lightgray'}">
                                    <f:facet name="header">
                                        <h:outputText value="Active?" />
                                    </f:facet>
                                    <h:outputText value="#{cat.active ? 'Yes' : 'no'}"/>

                                </p:column>

                                <p:column width="10%">
                                    <f:facet name="header">
                                        <h:outputText value="Actions" />
                                    </f:facet>

                                    <p:commandLink  id="eventcat-view-cl" 
                                                    ajax="true"
                                                    actionListener="#{eventCatConfigBB.viewEventCategory(cat)}"
                                                    value="view"
                                                    style="color:blue; font-weight: bold;"
                                                    oncomplete="PF('eventcat-viewaddedit-dialog-var').show();"
                                                    rendered="#{systemServicesBB.bbSessionUser.keyCard.hasMuniStaffPermissions}"
                                                    update="eventcat-addedit-dialog
                                                    eventcat-viewaddedit-form" />

                                    <p:spacer height="5px" />

                                    <p:commandLink  id="eventcat-edit-cl" 
                                                    ajax="true"
                                                    actionListener="#{eventCatConfigBB.editEventCategoryInit(cat)}"
                                                    value="edit"
                                                    style="color:blue; font-weight: bold;"
                                                    oncomplete="PF('eventcat-viewaddedit-dialog-var').show();"
                                                    rendered="#{systemServicesBB.bbSessionUser.keyCard.hasMuniStaffPermissions}"
                                                    update="eventcat-viewaddedit-form
                                                    eventcat-addedit-dialog"/>

                                </p:column>
                            </p:dataTable>
                        </h:form>
                                                </p:panel>

                    </div>


                    <p:dialog id="eventcat-addedit-dialog"
                              widgetVar="eventcat-viewaddedit-dialog-var"
                              width="1200"
                              height="600"
                              header="Add/Edit Event Category #{eventCatConfigBB.currentEventCategory.categoryID eq 0 ? 'New event category' : eventCatConfigBB.currentEventCategory.categoryID}"
                              modal="true"
                              dynamic="true"
                              resizable="true"
                              closable="true"
                              closeOnEscape="true"
                              >
                        <h:form id="eventcat-viewaddedit-form">

                            <p:commandButton id="eventcat-edittoggle-button"
                                             value="#{eventCatConfigBB.editModeEventCat ? 'Save changes':'Edit'}"
                                             rendered="#{systemServicesBB.bbSessionUser.keyCard.hasMuniStaffPermissions}"
                                             icon="pi #{eventCatConfigBB.editModeEventCat ? 'pi-save' : 'pi-pencil'}"
                                             actionListener="#{eventCatConfigBB.onToggleEventCatEditMode}"
                                             oncomplete="PF('eventcat-viewaddedit-dialog-var').show();"
                                             update="@form
                                             eventcat-growl-form
                                             eventcat-list-form"/>

                            <div class="gray_button">

                                <p:commandButton id="eventcat-edit-abort"
                                                 value="Cancel"
                                                 styleClass="gray_button"
                                                 rendered="#{eventCatConfigBB.editModeEventCat}"
                                                 icon="pi pi-arrow-left"
                                                 actionListener="#{eventCatConfigBB.onEventCatEditAbort}"
                                                 oncomplete="PF('eventcat-viewaddedit-dialog-var').show();"
                                                 update="@form
                                                 @form:@parent:eventcat-growl-form"/>
                            </div>

                            <p:spacer height="5px"/>

                            <p:panel id="eventcat-description-panel"
                                     toggleable="true"
                                     collapsed="false"
                                     header="Description">

                                <div class="p-grid">

                                    <div class="p-col-4 restrict-data-field-label-inline">
                                        <h:outputText value="ID"/>
                                    </div>
                                    <div class="p-col-8 restrict-data-field-value-inline">
                                        <h:outputText value="#{eventCatConfigBB.currentEventCategory.categoryID}" />
                                        <h:outputText value="#{eventCatConfigBB.currentEventCategory.categoryID eq 0 ? ' (New Record)' : ''}" />
                                    </div>


                                    <div class="p-col-4 restrict-data-field-label-inline">
                                        <h:outputText value="Event Type: "/>
                                    </div>
                                    <div class="p-col-8 restrict-data-field-value-inline">
                                        <h:outputText id="evcat-type-ot"
                                                      value="#{eventCatConfigBB.currentEventCategory.eventType.label}" 
                                                      rendered="#{!eventCatConfigBB.editModeEventCat and !empty eventCatConfigBB.currentEventCategory.eventType}" />

                                        <p:selectOneMenu id="evcat-type-som" 
                                                         required="true" 
                                                         value="#{eventCatConfigBB.currentEventCategory.eventType}" 
                                                         rendered="#{eventCatConfigBB.editModeEventCat}"
                                                         >
                                            <f:selectItems value="#{eventCatConfigBB.eventTypeList}"
                                                           var="et"
                                                           itemValue="#{et}"
                                                           itemLabel="#{et.label}"/>
                                        </p:selectOneMenu>
                                    </div>

                                    <div class="p-col-4 restrict-data-field-label-inline">
                                        <h:outputText value="Category Title"/>


                                    </div>
                                    <div class="p-col-8 restrict-data-field-value-inline">
                                        <h:outputText id="evcat-title-ot"
                                                      value="#{eventCatConfigBB.currentEventCategory.eventCategoryTitle}" 
                                                      rendered="#{!eventCatConfigBB.editModeEventCat}" />

                                        <p:inputText id="evcat-title-it" 
                                                     value="#{eventCatConfigBB.currentEventCategory.eventCategoryTitle}" 
                                                     style="width: 100%;" 
                                                     required="true" 
                                                     styleClass="inputText"
                                                     rendered="#{eventCatConfigBB.editModeEventCat}" />
                                    </div>


                                    <div class="p-col-4 restrict-data-field-label-inline">
                                        <h:outputText value="Category Description"/>
                                    </div>
                                    <div class="p-col-8 restrict-data-field-value-inline">
                                        <h:outputText id="evcat-descr-ot"
                                                      value="#{eventCatConfigBB.currentEventCategory.eventCategoryDesc}" 
                                                      rendered="#{!eventCatConfigBB.editModeEventCat}" />

                                        <p:inputText id="evcat-descr-it" 
                                                     value="#{eventCatConfigBB.currentEventCategory.eventCategoryDesc}" 
                                                     style="width: 100%;" 
                                                     required="false" 
                                                     rendered="#{eventCatConfigBB.editModeEventCat}" />
                                    </div>

                                    <div class="p-col-4 restrict-data-field-label-inline">
                                        <h:outputText value="Suggested event description"/>
                                    </div>
                                    <div class="p-col-8 restrict-data-field-value-inline">
                                        <h:outputText id="evcat-sugdescr-ot"
                                                      value="#{eventCatConfigBB.currentEventCategory.hostEventDescriptionSuggestedText}" 
                                                      rendered="#{!eventCatConfigBB.editModeEventCat}" />

                                        <p:inputText id="evcat-sugdescr-it" 
                                                     value="#{eventCatConfigBB.currentEventCategory.hostEventDescriptionSuggestedText}" 
                                                     style="width: 100%;" 
                                                     required="false" 
                                                     rendered="#{eventCatConfigBB.editModeEventCat}" />
                                    </div>

                                    <div class="p-col-4 restrict-data-field-label-inline">
                                        <h:outputText value="Green Priority Buffer (Days)"/>
                                    </div>
                                    <div class="p-col-8 restrict-data-field-value-inline">
                                        <h:outputText id="evcat-greenbuffer-ot"
                                                      value="#{eventCatConfigBB.currentEventCategory.greenBufferDays}" 
                                                      rendered="#{!eventCatConfigBB.editModeEventCat}" />

                                        <p:inputText id="evcat-greenbuffer-it" 
                                                     value="#{eventCatConfigBB.currentEventCategory.greenBufferDays}" 
                                                     style="width: 100%;" 
                                                     required="false" 
                                                     rendered="#{eventCatConfigBB.editModeEventCat}" />
                                    </div>



                                    <div class="p-col-4 restrict-data-field-label-inline">
                                        <h:outputText value="Alert event?"/>
                                    </div>
                                    <div class="p-col-8 restrict-data-field-value-inline">
                                        <h:outputText id="evcat-alert-ot"
                                                      value="#{eventCatConfigBB.currentEventCategory.alertEvent ? 'Yes; Alert!' : 'No'}" 
                                                      rendered="#{!eventCatConfigBB.editModeEventCat}" />

                                        <p:selectBooleanCheckbox id="evcat-alert-cb"
                                                                 value="#{eventCatConfigBB.currentEventCategory.alertEvent}"
                                                                 rendered="#{eventCatConfigBB.editModeEventCat}" >
                                            <p:ajax update="evcat-stopcat-solb" />
                                        </p:selectBooleanCheckbox>
                                    </div>

                                    <div class="p-col-4 restrict-data-field-label-inline">
                                        <h:outputText value="Alert stop category"/>
                                    </div>
                                    <div class="p-col-8 restrict-data-field-value-inline">
                                        <h:outputText id="evcat-stopcat-ot"
                                                      value="#{eventCatConfigBB.currentEventCategory.alertStopCategory.eventCategoryTitle} (ID:#{eventCatConfigBB.currentEventCategory.alertStopCategory.categoryID})" 
                                                      rendered="#{!eventCatConfigBB.editModeEventCat}" />


                                        <p:selectOneMenu    id="evcat-stopcat-solb"
                                                            value="#{eventCatConfigBB.currentEventCategory.alertStopCategory}"
                                                            style="width: 100%;"
                                                            converter="eventCategoryConverter"
                                                            filter="true"
                                                            filterMatchMode="contains"
                                                            rendered="#{eventCatConfigBB.editModeEventCat}" 
                                                            disabled="#{not eventCatConfigBB.currentEventCategory.alertEvent}">

                                            <f:selectItems value="#{eventCatConfigBB.eventCategoryList}"
                                                           var="cat"
                                                           itemLabel="#{cat.eventType.label}: #{cat.eventCategoryTitle}" 
                                                           itemValue="#{cat}"/>

                                        </p:selectOneMenu>

                                    </div>

                                    <div class="p-col-4 restrict-data-field-label-inline">
                                        <h:outputText value="Requires follow-up?"/>
                                    </div>
                                    <div class="p-col-8 restrict-data-field-value-inline">
                                        <h:outputText id="evcat-followup-ot"
                                                      value="#{eventCatConfigBB.currentEventCategory.active ? 'Yes; Requires follow-up' : 'No'}" 
                                                      rendered="#{!eventCatConfigBB.editModeEventCat}" />

                                        <p:selectBooleanCheckbox id="evcat-followup-cb"
                                                                 value="#{eventCatConfigBB.currentEventCategory.followUpEvent}"
                                                                 rendered="#{eventCatConfigBB.editModeEventCat}" />
                                    </div>

                                    <div class="p-col-4 restrict-data-field-label-inline">
                                        <h:outputText value="Administrative event?"/>
                                    </div>
                                    <div class="p-col-8 restrict-data-field-value-inline">
                                        <h:outputText id="evcat-admin-ot"
                                                      value="#{eventCatConfigBB.currentEventCategory.adminEvent? 'Yes; Admin event' : 'No'}" 
                                                      rendered="#{!eventCatConfigBB.editModeEventCat}" />

                                        <p:selectBooleanCheckbox id="evcat-admin-cb"
                                                                 value="#{eventCatConfigBB.currentEventCategory.adminEvent}"
                                                                 rendered="#{eventCatConfigBB.editModeEventCat}" />
                                    </div>


                                    <div class="p-col-4 restrict-data-field-label-inline">
                                        <h:outputText value="Active record?"/>
                                    </div>
                                    <div class="p-col-8 restrict-data-field-value-inline">
                                        <h:outputText id="evcat-active-ot"
                                                      value="#{eventCatConfigBB.currentEventCategory.active ? 'Yes; Active' : 'No; Deactivated'}" 
                                                      rendered="#{!eventCatConfigBB.editModeEventCat}" />

                                        <p:selectBooleanCheckbox id="evcat-active-cb"
                                                                 value="#{eventCatConfigBB.currentEventCategory.active}"
                                                                 rendered="#{eventCatConfigBB.editModeEventCat}" />
                                    </div>




                                </div>

                            </p:panel>

                            <p:panel id="eventcat-permissions-panel"
                                     toggleable="true"
                                     collapsed="false"
                                     header="Permissions">

                                <div class="p-grid">

                                    <div class="p-col-4 restrict-data-field-label-inline">
                                        <h:outputText value="Minimum rank to create" />
                                    </div>
                                    <div class="p-col-8 restrict-data-field-value-inline">


                                        <h:outputText id="evcat-minrank-create-ot"
                                                      value="#{eventCatConfigBB.currentEventCategory.roleFloorEventEnact.label} (RNK:#{eventCatConfigBB.currentEventCategory.roleFloorEventEnact.rank})" 
                                                      rendered="#{!eventCatConfigBB.editModeEventCat and !empty eventCatConfigBB.currentEventCategory.roleFloorEventEnact}" />


                                        <p:selectOneMenu id="aup-roletype-create-som" 
                                                         required="false" 
                                                         value="#{eventCatConfigBB.currentEventCategory.roleFloorEventEnact}"
                                                         rendered="#{eventCatConfigBB.editModeEventCat}">
                                            <f:selectItem itemLabel="select a role..." noSelectionOption="true" />
                                            <f:selectItems value="#{systemServicesBB.sessRoleTypes}"  
                                                           var="rt" 
                                                           itemValue="#{rt}" 
                                                           itemLabel="#{rt.label}, (RNK: #{rt.rank})"/>
                                        </p:selectOneMenu>

                                    </div>


                                    <div class="p-col-4 restrict-data-field-label-inline">
                                        <h:outputText value="Minimum rank to view" />
                                    </div>
                                    <div class="p-col-8 restrict-data-field-value-inline">


                                        <h:outputText id="evcat-minrank-view-ot"
                                                      value="#{eventCatConfigBB.currentEventCategory.roleFloorEventView.label} (RNK:#{eventCatConfigBB.currentEventCategory.roleFloorEventView.rank})" 
                                                      rendered="#{!eventCatConfigBB.editModeEventCat and !empty eventCatConfigBB.currentEventCategory.roleFloorEventView}" />


                                        <p:selectOneMenu id="aup-roletype-view-som" 
                                                         required="false" 
                                                         value="#{eventCatConfigBB.currentEventCategory.roleFloorEventView}"
                                                         rendered="#{eventCatConfigBB.editModeEventCat}">
                                            <f:selectItem itemLabel="select a role..." noSelectionOption="true" />
                                            <f:selectItems value="#{systemServicesBB.sessRoleTypes}"  
                                                           var="rt" 
                                                           itemValue="#{rt}" 
                                                           itemLabel="#{rt.label}, (RNK: #{rt.rank})"/>
                                        </p:selectOneMenu>

                                    </div>

                                    <div class="p-col-4 restrict-data-field-label-inline">
                                        <h:outputText value="Minimum rank to update" />
                                    </div>
                                    <div class="p-col-8 restrict-data-field-value-inline">


                                        <h:outputText id="evcat-minrank-update-ot"
                                                      value="#{eventCatConfigBB.currentEventCategory.roleFloorEventUpdate.label} (RNK:#{eventCatConfigBB.currentEventCategory.roleFloorEventUpdate.rank})" 
                                                      rendered="#{!eventCatConfigBB.editModeEventCat and !empty eventCatConfigBB.currentEventCategory.roleFloorEventUpdate}" />


                                        <p:selectOneMenu id="aup-roletype-update-som" 
                                                         required="false" 
                                                         value="#{eventCatConfigBB.currentEventCategory.roleFloorEventUpdate}"
                                                         rendered="#{eventCatConfigBB.editModeEventCat}">
                                            <f:selectItem itemLabel="select a role..." noSelectionOption="true" />
                                            <f:selectItems value="#{systemServicesBB.sessRoleTypes}"  
                                                           var="rt" 
                                                           itemValue="#{rt}" 
                                                           itemLabel="#{rt.label}, (RNK: #{rt.rank})"/>
                                        </p:selectOneMenu>

                                    </div>
                                </div>

                            </p:panel>

                            <p:panel id="eventcat-notifications-panel"
                                     toggleable="true"
                                     collapsed="false"
                                     header="Notifications and Viewing">

                                <div class="p-grid">
                                    <div class="p-col-4 restrict-data-field-label-inline">
                                        <h:outputText value="Notify Case Monitors"/>
                                    </div>
                                    <div class="p-col-8 restrict-data-field-value-inline">

                                        <h:outputText value="#{eventCatConfigBB.currentEventCategory.notifymonitors ? 'Yes':'No'}"
                                                      rendered="#{!eventCatConfigBB.editModeEventCat}" />                                                          

                                        <p:inputSwitch id="notifyCaseMonitors" 
                                                       value="#{eventCatConfigBB.currentEventCategory.notifymonitors}" 
                                                       onLabel="Yes" 
                                                       offLabel="No" 
                                                       tabindex="2"
                                                       rendered="#{eventCatConfigBB.editModeEventCat}"/>
                                    </div>


                                    <div class="p-col-4 restrict-data-field-label-inline">
                                        <h:outputText value="Icon"/>
                                    </div>
                                    <div class="p-col-8 restrict-data-field-value-inline">

                                        <h:outputText value="#{eventCatConfigBB.currentEventCategory.icon.materialIcon} (ID:#{eventCatConfigBB.currentEventCategory.icon.ID})"
                                                      rendered="#{!eventCatConfigBB.editModeEventCat and !empty eventCatConfigBB.currentEventCategory.icon}" />

                                        <tt:iconSelector value="#{eventCatConfigBB.currentEventCategory.icon}"
                                                         iconList="#{eventCatConfigBB.iconList}"
                                                         rendered="#{eventCatConfigBB.editModeEventCat}"
                                                         required="false"/>
                                    </div>

                                    <div class="p-col-4 restrict-data-field-label-inline">
                                        <h:outputText value="Hidable"/>
                                    </div>
                                    <div class="p-col-8 restrict-data-field-value-inline">
                                        <h:outputText value="#{eventCatConfigBB.currentEventCategory.hidable ? 'Yes':'No'}"
                                                      rendered="#{!eventCatConfigBB.editModeEventCat}" />
                                        <p:inputSwitch id="hidable" 
                                                       value="#{eventCatConfigBB.currentEventCategory.hidable}" 
                                                       onLabel="Yes" 
                                                       offLabel="No" 
                                                       rendered="#{eventCatConfigBB.editModeEventCat}"/>
                                    </div>


                                    <div class="p-col-4 restrict-data-field-label-inline">
                                        <h:outputText value="Display order (relative): within EventType" />
                                    </div>
                                    <div class="p-col-8 restrict-data-field-value-inline">
                                        <h:outputText id="evcat-order-type-ot" 
                                                      value="#{eventCatConfigBB.currentEventCategory.relativeOrderWithinType}" 
                                                      rendered="#{!eventCatConfigBB.editModeEventCat}" />
                                        <p:inputNumber id="order-type"
                                                       value="#{eventCatConfigBB.currentEventCategory.relativeOrderWithinType}" 
                                                       label="Relative order within type" 
                                                       rendered="#{eventCatConfigBB.editModeEventCat}"/>
                                    </div>

                                    <div class="p-col-4 restrict-data-field-label-inline">
                                        <h:outputText value="Display order (relative): global" />
                                    </div>
                                    <div class="p-col-8 restrict-data-field-value-inline">
                                        <h:outputText id="evcat-order-global-ot" 
                                                      value="#{eventCatConfigBB.currentEventCategory.relativeOrderGlobal}" 
                                                      rendered="#{!eventCatConfigBB.editModeEventCat}" />
                                        <p:inputNumber id="order-global"
                                                       value="#{eventCatConfigBB.currentEventCategory.relativeOrderGlobal}" 
                                                       label="Relative order global" 
                                                       rendered="#{eventCatConfigBB.editModeEventCat}"/>
                                    </div>
                                </div>
                            </p:panel>
                        </h:form>
                    </p:dialog>
                    <p:spacer height="20px" />
                </f:view>
            </ui:define>
        </ui:composition>
    </h:body>
</html>

