<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:tt="http://xmlns.jcp.org/jsf/composite/components">

    <p:panel    id="cecase-query-panel"
                toggleable="true"
                widgetVar="cecase-query-panel-var"
                collapsed="false"
                rendered="true">

        <f:facet name="header">
            <h:outputText value="Code Enforcement Cases" />
            <div class="restrict-main-contents-io-link link-button help-icon-tightright">
                <a href="https://technologyrediscovery.github.io/codenforce/dashboard/dashboard#case-search"
                   target="_blank">
                    <i class="material-icons"
                       style="display: inline-block">help_outline</i>
                </a>
            </div>
            <div class="restrict-main-contents-io-link link-button help-text-tightleft"
                 style="margin-right: 10px;">
                <a href="https://technologyrediscovery.github.io/codenforce/dashboard/dashboard#case-search"
                   target="_blank">
                    <h:outputText value="help" />
                </a>
            </div>
        </f:facet>

        <h:form id="cecase-search-form">
            <h:outputLabel styleClass="bold" 
                           value="Search By:" 
                           for="cecase-query-desc-ot" />
            <p:spacer height="5px" />
            <p:selectOneMenu id="cecase-query-som" 
                             tabindex="1" 
                             value="#{ceCaseSearchAndReportBB.querySelected}"
                             disabled="#{ceCaseSearchAndReportBB.querySelected.queryExecuted}">
                <f:converter converterId="bOBQueryConverter"/>
                <f:selectItem itemLabel="select one..." noSelectionOption="true" itemDisabled="true"/>
                <f:selectItems id="querylist-si" value="#{ceCaseSearchAndReportBB.queryList}" var="ql" itemValue="#{ql}" itemLabel="#{ql.queryTitle}" />
                <p:ajax listener="#{ceCaseSearchAndReportBB.changeQuerySelected}"
                        update="@form
                        messages-global-form" />
            </p:selectOneMenu>

            <p:spacer height="5px" />

            <h:outputLabel styleClass="bold" 
                           value="Description: " 
                           for="cecase-query-desc-ot" />
            <h:outputText id="cecase-query-desc-ot" 
                          value="#{ceCaseSearchAndReportBB.querySelected.queryName.desc}" />

            <p:spacer height="5px" />

            <p:commandButton   id="cecase-executequery-cb" 
                               ajax="true" 
                               actionListener="#{ceCaseSearchAndReportBB.executeQuery}"
                               disabled="#{ceCaseSearchAndReportBB.querySelected.queryExecuted}"
                               styleClass="button"
                               icon="pi pi-search"
                               value="Search" 
                               update="@form
                               cecase-search-results-form">
            </p:commandButton>

            <p:commandLink      id="cecase-search-clear-cb" 
                                ajax="true" 
                                actionListener="#{ceCaseSearchAndReportBB.resetQuery}"
                                style="font-weight: bold; color: blue; margin-left: 5px;"
                                value="reset search" 
                                disabled="#{!ceCaseSearchAndReportBB.querySelected.queryExecuted}"
                                update="@form"/>

            <h:outputText value=" | " />

            <p:outputLabel for="cecase-search-appendresults-chkbox"
                           style="margin-left: 5px;">
                <h:outputText value="Append results to list? "/>
            </p:outputLabel>

            <p:selectBooleanCheckbox   id="cecase-search-appendresults-chkbox" 
                                       value="#{ceCaseSearchAndReportBB.appendResultsToList}" 
                                       styleClass="inline-control">
                <p:ajax />
            </p:selectBooleanCheckbox>

        </h:form>

        <h:form id="cecase-search-results-form" >

            <p:spacer height="5px" />

            <h:outputText value="Listing #{ceCaseSearchAndReportBB.caseList.size()} cases" 
                          styleClass="italic"/>

            <h:outputText value=" | " />

            <p:commandLink   id="cecase-search-results-clear-button" 
                             ajax="true" 
                             actionListener="#{ceCaseSearchAndReportBB.clearCECaseList}"
                             styleClass="button"
                             style="font-weight: bold; color:blue;"
                             value="clear results list" 
                             update="messages-global-form
                             cecase-search-results-form"/>

            <p:spacer height="5px" />
            <h:outputText value="Cases in this list may not reflect the most recent changes made to a case. Re-run case search to refresh." 
                          class="italic"/>
            <p:spacer height="5px" />

            <p:dataTable
                id="cecase-search-results-table"
                value="#{ceCaseSearchAndReportBB.caseList}"
                rendered="#{!empty ceCaseSearchAndReportBB.caseList}"
                var="cse"
                rowKey="#{cse.caseID}"
                widgetVar="ceViewTable"
                tableStyleClass="primeDataTable"
                rowExpandMode="single"
                expandedRow="false"
                resizableColumns="true"
                reflow="true"
                >

                <p:column width="5%">
                    <f:facet name="header">
                        <h:outputText value="Exp" />
                    </f:facet>
                    <p:rowToggler />
                </p:column>
                <p:column width="15%" 
                          sortBy="#{cse.priority.label}"
                          styleClass="#{!empty cse.priority ? cse.priority.rowStyleClass:''}">

                    <f:facet name="header">
                        <h:outputText value="Priority" />
                        <p:spacer height="2px" />
                        <div class="restrict-main-contents-io-link link-button help-icon-tightright">
                            <a href="https://technologyrediscovery.github.io/codenforce/dashboard/dashboard#case-priority-color-scheme"
                               target="_blank">
                                <i class="material-icons"
                                   style="display: inline-block">help_outline</i>
                            </a>
                        </div>
                    </f:facet>

                    <i class="material-icons">
                        <h:outputText value="#{!empty cse.priorityIcon ? cse.priorityIcon.materialIcon:''}"/>
                    </i>

                    <p:spacer height="3px" />

                    <h:outputText value="#{cse.priority.label}" style="font-size:0.7em;" />

                </p:column>

                <p:column width="11%" 
                          sortBy="#{cse.caseManager.human.name}">
                    <f:facet name="header">
                        <h:outputText value="Manager" />
                    </f:facet>
                    <h:outputText value="#{cse.caseManager.human.name}"/>
                </p:column>

                <p:column width="20%" 
                          sortBy="#{cse.originationDate}">

                    <f:facet name="header">
                        <h:outputText value="Opened" />
                    </f:facet>
                    <h:outputText value="#{ceCaseSearchAndReportBB.getPrettyDateNoTime(cse.originationDate)}"/>
                    <p:spacer height="2px"/>
                    <h:outputText value="Age: #{cse.caseAge} days"
                                  style="font-style: italic"/>
                </p:column>

                <p:column width="35%" 
                          sortBy="#{cse.addressPretty1Line}"
                          >

                    <f:facet name="header">
                        <h:outputText value="Info" />
                    </f:facet>

                    <h:outputText value="#{cse.addressPretty1Line} "
                                  styleClass="bold"/>

                    <f:subview id="case-property-unit-subview"
                               rendered="#{!empty cse.unitNumber}" >

                        <p:spacer height="2px"
                                  rendered="#{not empty cse.unitNumber}"/>
                        <h:outputText value="Unit: #{cse.unitNumber}" />
                    </f:subview>

                    <p:spacer height="2px"
                              rendered="#{!(empty cse.originationEvent)}"/>

                    <h:outputText value="Origin: #{cse.originationEvent.category.eventCategoryTitle}"
                                  rendered="#{!empty cse.originationEvent}"/>

                    <p:spacer height="2px" />

                    <h:outputText value="Name: #{cse.caseName}"/>

                </p:column>

                <p:column width="14%">
                    <f:facet name="header">
                        <h:outputText value="Actions" />
                    </f:facet>

                    <div class="restrict-main-contents-io-link">

                        <p:commandLink  id="cecase-search-view-case"
                                        value="view case"
                                        action="#{navigationBB.onCECaseListItemSelect(cse)}"
                                        ajax="false" />

                        <p:spacer height="2px" />

                        <p:commandLink  id="cecase-action-logevent"
                                        value="log event"
                                        style="button"
                                        actionListener="#{eventBB.onEventAddFromNonHolderSpecificpageInit(cse)}"
                                        ajax="true"
                                        oncomplete="PF('event-add-dialog-var').show()"
                                        update="event-add-dialog
                                        messages-global-form">
                            <f:param name="event-list-component-to-update" 
                                     value="cecase-search-results-form event-cal-form" />
                        </p:commandLink>

                        <p:spacer height="2px" />

                    
                        <p:spacer height="2px" />
                        <h:outputText value="(ID: #{cse.caseID})" />

                        <p:commandLink  id="cecase-search-action-link"
                                        value="actions"
                                        type="button"
                                        disabled="false"
                                        rendered="false"
                                        ajax="true" />


                    </div>
                    <p:overlayPanel for="cecase-search-action-link"
                                    style="width:350px;" 
                                    dismissable="true"
                                    showCloseIcon="true" >

                        <h4>Actions available for case id 
                            <h:outputText value="#{cse.caseID}" />
                        </h4>

                        <div class="restrict-main-contents-io-link">
                            <p:commandLink  id="cecase-action-pincase"
                                            value="#{cse.pinned ? 'unpin case':'pin case'}"
                                            actionListener="#{pinningBB.togglePin(cse)}"
                                            style="button"
                                            ajax="true"
                                            disabled="true"
                                            update="@form"
                                            rendered="false"/>
                           
                           
                        </div>
                    </p:overlayPanel>

                </p:column>
                <p:rowExpansion>
                    <tt:cecaseDetails value="#{cse}" /> 
                </p:rowExpansion>
            </p:dataTable>
        </h:form>
    </p:panel>

</ui:composition>