<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns="http://www.w3.org/1999/xhtml">


    <p:panel    id="muni-persons-panel"
                toggleable="true"
                widgetVar="muni-person-panel-var"
                collapsed="false"
                rendered="true">

        <f:facet name="header">
            <h:outputText value="Muni-Person links" />
            
        </f:facet>

        <h:form id="muni-persons-panel-form">

            <p:commandButton   id="muni-persons-manage-button"
                               ajax="true"
                               actionListener="#{personBB.onSelectAndLinkPersonsInit(missionControlBB.currentMuni)}"
                               oncomplete="PF('human-search-dialog-var').show()"
                               rendered="#{systemServicesBB.bbSessionUser.keyCard.hasMuniStaffPermissions}"
                               disabled="false"
                               value="Manage muni-person links"
                               update=" human-search-dialog
                               messages-global-form
                               search-query-form
                               pers-selected-form
                               hlh-humlist-form
                               pers-upstreampool-panel
                               pers-upstreampool-form"
                               icon="pi pi-user-edit"
                               >
                <f:param name="person-list-component-to-update"
                         value="muni-persons-panel-form:muni-persons-table" />
            </p:commandButton>

            <p:spacer height="5px" />

            <p:dataTable id="muni-persons-table"
                         value="#{missionControlBB.managedHumanLinkList}"
                         rendered="true"
                         var="humlink"
                         tableStyleClass="primeDataTable"
                         rowKey="#{humlink.humanID}"
                         >

                <p:column headerText="Name"
                          width="35%"
                          styleClass="centeredColumnContent">
                    <h:outputText value="#{humlink.name}" />

                </p:column>

                <p:column headerText="Role"
                          width="35%"
                          styleClass="centeredColumnContent">
                    <h:outputText value="#{humlink.linkedObjectRole.title}"/>

                </p:column>

                <p:column headerText="Actions"
                          width="30%"
                          styleClass="centeredColumnContent">
                    <p:commandLink      id="prop-person-exploreperson-cl"
                                        ajax="true"
                                        style="color:blue;"
                                        action="#{personBB.onHumanViewLinkClick(humlink, missionControlBB.currentMuni)}"
                                        value="View/Edit person"
                                        oncomplete="PF('person-profile-dialog-var').show();"
                                        update="person-profile-dialog
                                        topnav-pers-form"
                                        >
                        <f:param name="person-list-component-to-update"
                                 value="muni-persons-panel-form:muni-persons-table" />
                    </p:commandLink>
                    <h:outputText value=" (HumID: #{humlink.humanID})" />
                    <p:spacer height="3px" />
                    <p:commandLink      id="prop-personlink-vieweditlink-cl"
                                        ajax="true"
                                        style="color:blue;"
                                        action="#{personBB.onHumanLinkEditInitButtonChange(humlink, missionControlBB.currentMuni)}"
                                        value="View/Edit link"
                                        oncomplete="PF('humanlink-viewedit-dialog-var').show();"
                                        update="humanlink-viewedit-dialog
                                        humanlink-viewedit-form"
                                        >
                        <f:param name="person-list-component-to-update"
                                 value="muni-persons-panel-form:muni-persons-table" />
                    </p:commandLink>
                    <p:spacer height="3px" />
                    <h:outputText value="(LinkID: #{humlink.linkID})" />
                </p:column>
            </p:dataTable>
        </h:form>
    </p:panel>

</ui:composition>