<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns="http://www.w3.org/1999/xhtml">

    

    <ui:include src="/restricted/cogstaff/ce/compositions/ceCaseAdd.xhtml" />

    <ui:include src="/restricted/cogstaff/ce/ceActionRequests.xhtml" />

    <p:panel id="dashpanel-ce-cears"
             collapsed="false"
             closable="false"
             toggleable="true"
             rendered="true"
             toggleableHeader="true">

        <f:facet name="header">
           <h:outputText value="Code enforcement action requests" />
           <div class="restrict-main-contents-io-link link-button help-icon-tightright">
               <a href="https://technologyrediscovery.github.io/codenforce/public/cears.html#internal-cear-management-tools"
                  target="_blank">
                   <i class="material-icons"
                      style="display: inline-block">help_outline</i>
               </a>
           </div>
        </f:facet>

        <h:form id="cearManage-form-lookup">

            <p:selectOneMenu id="cearquery-som" 
                             tabindex="1" 
                             value="#{cEActionRequestsBB.selectedQueryCEAR}"
                             disabled="#{cEActionRequestsBB.selectedQueryCEAR.queryExecuted}"
                             style="margin-right: 10px;">
                <f:converter converterId="bOBQueryConverter"/>
                <f:selectItem itemLabel="select a query..." noSelectionOption="true" itemDisabled="true"/>
                <f:selectItems id="querylist-si" value="#{cEActionRequestsBB.queryList}" var="q" itemValue="#{q}" itemLabel="#{q.queryTitle}" />
                <p:ajax     listener="#{cEActionRequestsBB.changeQuerySelected}"
                            update="cears-query-desc-ot
                        cear-search-params-form"/>
            </p:selectOneMenu>


            <h:outputLabel styleClass="bold" value="Query description: " for="cears-query-desc-ot" />
            <p:spacer height="3px" />
            <h:outputText id="cears-query-desc-ot" value="#{cEActionRequestsBB.selectedQueryCEAR.queryName.desc}" />

        </h:form>

        <h:form id="cear-search-params-form">
            <p:commandButton    id="execute-selected-query" 
                                ajax="true"
                                value="Search" 
                                actionListener="#{cEActionRequestsBB.executeQuery}"
                                disabled="#{cEActionRequestsBB.selectedQueryCEAR.queryExecuted}"
                                icon="pi pi-search"
                                update="cear-growl-form
                                cearManage-form-lookup
                                @form
                                dash-cears-form
                                "/>
            
            
            <p:commandLink      id="cear-search-clear-cb" 
                                ajax="true" 
                                actionListener="#{cEActionRequestsBB.resetQuery}"
                                style="font-weight: bold; color: blue; margin-left: 5px;"
                                value="reset search" 
                                disabled="#{!cEActionRequestsBB.selectedQueryCEAR.queryExecuted}"
                                update=" cear-search-log-dialog-form
                                cearManage-form-lookup
                                cear-growl-form
                                dash-cears-form
                                @form"/>
            <p:spacer height="3px" />
            
            <p:panel id="cear-search-controls-panel"
                     collapsed="true"
                     toggleable="true"
                     header="Advanced search"
                     styleClass="advanced-search"
                     >

                <f:subview id="cear-search-param-subview-muni"
                           rendered="#{(cEActionRequestsBB.searchParamsSelected.muni_ctl or cEActionRequestsBB.selectedQueryCEAR.queryName.showAllControls) and systemServicesBB.bbSessionUser.keyCard.hasSysAdminPermissions}">

                    <div class="p-grid">
                        <div class="p-lg-4 p-md-6 p-sm-12 restrict-data-field-label-inline">
                            <p:outputLabel id="cear-filter-muni-ol" 
                                           for="seev-filter-muni-chkbx" 
                                           value="filter by municipality "/>
                            <p:selectBooleanCheckbox id="seev-filter-muni-chkbx" 
                                                     value="#{cEActionRequestsBB.searchParamsSelected.muni_ctl}" 
                                                     style="margin-left: 8px;">
                                <p:ajax update="cear-search-muni-som"/>
                            </p:selectBooleanCheckbox>
                        </div>
                        <div class="p-col-8 p-lg-8 p-md-8 p-sm-12 restrict-data-field-value-inline">
                            <p:selectOneMenu id="cear-search-muni-som" 
                                             tabindex="1" 
                                             value="#{cEActionRequestsBB.searchParamsSelected.muni_val}"
                                             disabled="#{!cEActionRequestsBB.searchParamsSelected.muni_ctl}">
                                <f:converter converterId="muniConverter"/>
                                <f:selectItem itemLabel="select municipality..." noSelectionOption="true" itemDisabled="true"/>
                                <f:selectItems id="muniNameList" value="#{systemServicesBB.municipalityListForSearch}" var="m" itemValue="#{m}" itemLabel="#{m.muniName}" />
                            </p:selectOneMenu>
                        </div>
                    </div>
                </f:subview>

                <f:subview id="cear-search-param-subview-dates"
                           rendered="#{cEActionRequestsBB.searchParamsSelected.date_startEnd_ctl or cEActionRequestsBB.selectedQueryCEAR.queryName.showAllControls}">
                    <div class="p-grid">
                        <div class="p-lg-4 p-md-6 p-sm-12 restrict-data-field-label-inline">
                            <p:outputLabel id="cear-search-startend-chkbx-ol" 
                                           for="cear-search-startend-chkbx" 
                                           value="filter by date range "/>

                            <p:selectBooleanCheckbox id="cear-search-startend-chkbx" 
                                                     value="#{cEActionRequestsBB.searchParamsSelected.date_startEnd_ctl}" 
                                                     style="margin-left: 8px;">
                                <p:ajax update="cear-search-date-field-val
                                        cear-search-date-start-val
                                        cear-search-date-end-val
                                        cear-search-date-relative-ctl" />
                            </p:selectBooleanCheckbox>

                        </div>
                        <div class="p-lg-8 p-md-8 p-sm-12 nested-grid restrict-data-field-value-inline">
                            <div class="p-grid">
                                <div class="p-col-12">
                                </div>

                                <div class="p-col-12">
                                    <p:selectOneMenu  id="cear-search-date-field-val" 
                                                      tabindex="1" 
                                                      value="#{cEActionRequestsBB.searchParamsSelected.date_field}"
                                                      disabled="#{!cEActionRequestsBB.searchParamsSelected.date_startEnd_ctl}"
                                                      converter="dateFieldConverter">
                                        <f:selectItem itemLabel="select a date field..." 
                                                      noSelectionOption="true" 
                                                      itemDisabled="true"/>
                                        <f:selectItems id="cear-search-date-field-val-items" 
                                                       value="#{cEActionRequestsBB.searchParamsSelected.dateFieldList}" 
                                                       var="f" itemValue="#{f}" itemLabel="#{f.title}" />
                                    </p:selectOneMenu>
                                </div>
                                <div class="p-col-12 restrict-data-field-label-vertical">

                                    <p:outputLabel for="cear-search-date-start-val" 
                                                   value="start date"/>
                                </div>
                                <div class="p-col-12 restrict-data-field-value-vertical">

                                    <p:datePicker  id="cear-search-date-start-val" 
                                                   value="#{cEActionRequestsBB.searchParamsSelected.date_start_val}" 
                                                   disabled="#{(!cEActionRequestsBB.searchParamsSelected.date_startEnd_ctl) or cEActionRequestsBB.searchParamsSelected.date_relativeDates_ctl or cEActionRequestsBB.selectedQueryCEAR.queryExecuted}"
                                                   rendered="true"
                                                   style="width: 100%;"
                                                   pattern="MM/dd/yyyy HH:mm"
                                                   hideOnDateTimeSelect="true"
                                                   showOnFocus="false"
                                                   showIcon="true"
                                                   showButtonBar="true"
                                                   mask="true"
                                                   timeInput="true" 
                                                   required="true" />
                                </div>

                                <div class="p-col-12 restrict-data-field-label-vertical">
                                    <p:outputLabel for="cear-search-date-end-val" 
                                                   value="end date"/>
                                </div>
                                <div class="p-col-12 restrict-data-field-value-vertical">

                                    <p:datePicker id="cear-search-date-end-val" 
                                                  value="#{cEActionRequestsBB.searchParamsSelected.date_end_val}" 
                                                  disabled="#{(!cEActionRequestsBB.searchParamsSelected.date_startEnd_ctl) or cEActionRequestsBB.searchParamsSelected.date_relativeDates_ctl or cEActionRequestsBB.selectedQueryCEAR.queryExecuted}"
                                                  rendered="true"
                                                  style="width: 100%;"
                                                  pattern="MM/dd/yyyy HH:mm"
                                                  hideOnDateTimeSelect="true"
                                                  showOnFocus="false"
                                                  showIcon="true"
                                                  showButtonBar="true"
                                                  mask="true"
                                                  timeInput="true" 
                                                  required="true" />
                                </div>

                                <div class="p-col-12 restrict-data-field-label-vertical">

                                    <p:outputLabel for="cear-search-date-relative-ctl" 
                                                   value="Relative dates"
                                                   styleClass="datum-label"/>

                                    <p:selectBooleanCheckbox id="cear-search-date-relative-ctl" 
                                                             value="#{cEActionRequestsBB.searchParamsSelected.date_relativeDates_ctl}" 
                                                             disabled="#{!cEActionRequestsBB.searchParamsSelected.date_startEnd_ctl}" 
                                                             style="margin-left: 8px;">
                                        <p:ajax update="cear-search-date-end-val
                                                cear-search-date-start-val
                                                cear-search-date-end-val
                                                cear-search-date-relative-start-val
                                                cear-search-date-relative-end-val" />
                                    </p:selectBooleanCheckbox>
                                </div>

                                <div class="p-col-12 restrict-data-field-label-vertical">
                                    <p:outputLabel for="cear-search-date-relative-start-val" 
                                                   value="start date # days from today (negative values count into past)"/>
                                </div>
                                <div class="p-col-12 restrict-data-field-value-vertical">
                                    <p:inputText id="cear-search-date-relative-start-val" 
                                                 value="#{cEActionRequestsBB.searchParamsSelected.date_relativeDates_start_val}" 
                                                 disabled="#{!(cEActionRequestsBB.searchParamsSelected.date_startEnd_ctl and cEActionRequestsBB.searchParamsSelected.date_relativeDates_ctl) or cEActionRequestsBB.selectedQueryCEAR.queryExecuted}" />
                                    <h:message for="cear-search-date-relative-start-val" showDetail="false" showSummary="true" 
                                               warnClass="msgWarn" infoClass="msgInfo" fatalClass="msgFatal" errorClass="msgError" />
                                </div>

                                <div class="p-col-12 restrict-data-field-label-vertical">
                                    <p:outputLabel for="cear-search-date-relative-end-val" 
                                                   value="end date # days from today (negative values count into past)"/>
                                </div>
                                <div class="p-col-12 restrict-data-field-value-vertical">
                                    <p:inputText id="cear-search-date-relative-end-val" 
                                                 value="#{cEActionRequestsBB.searchParamsSelected.date_realtiveDates_end_val}" 
                                                 disabled="#{!(cEActionRequestsBB.searchParamsSelected.date_startEnd_ctl and cEActionRequestsBB.searchParamsSelected.date_relativeDates_ctl) or cEActionRequestsBB.selectedQueryCEAR.queryExecuted}" />
                                    <h:message for="cear-search-date-relative-end-val" showDetail="false" showSummary="true" 
                                               warnClass="msgWarn" infoClass="msgInfo" fatalClass="msgFatal" errorClass="msgError" />
                                </div>
                            </div>
                        </div>
                    </div>
                </f:subview>        

                <f:subview id="cear-search-param-subview-user"
                           rendered="#{cEActionRequestsBB.searchParamsSelected.user_ctl or cEActionRequestsBB.selectedQueryCEAR.queryName.showAllControls}">
                    <div class="p-grid">
                        <div class="p-lg-4 p-md-6 p-sm-12 restrict-data-field-label-inline">
                            <p:outputLabel for="cear-search-filter-user-ctl" 
                                           value="User filter"/>

                            <p:selectBooleanCheckbox id="cear-search-filter-user-ctl" 
                                                     value="#{cEActionRequestsBB.searchParamsSelected.user_ctl}"
                                                     disabled="#{!(cEActionRequestsBB.searchParamsSelected.user_rtMin.rank lt systemServicesBB.bbSessionUser.keyCard.governingAuthPeriod.role.rank)}"
                                                     style="margin-left: 8px;">
                                <p:ajax update="cear-search-filter-user-som
                                        cear-search-user-field-val" />
                            </p:selectBooleanCheckbox>

                        </div>
                        <div class="p-lg-8 p-md-8 p-sm-12 restrict-data-field-value-inline">

                            <p:selectOneMenu  id="cear-search-user-field-val" 
                                              tabindex="1" 
                                              value="#{cEActionRequestsBB.searchParamsSelected.user_field}"
                                              disabled="#{!cEActionRequestsBB.searchParamsSelected.user_ctl or cEActionRequestsBB.selectedQueryCEAR.queryExecuted}">
                                <f:selectItem itemLabel="select a user field..." 
                                              noSelectionOption="true" 
                                              itemDisabled="true"/>
                                <f:selectItems id="cear-search-user-field-val-items" 
                                               value="#{cEActionRequestsBB.searchParamsSelected.userFieldList}" 
                                               var="uf" itemValue="#{uf}" itemLabel="#{uf.title}" />
                            </p:selectOneMenu>
                            <p:selectOneMenu id="cear-search-filter-user-som" required="false" 
                                             value="#{cEActionRequestsBB.searchParamsSelected.user_val}"
                                             disabled="#{!cEActionRequestsBB.searchParamsSelected.user_ctl or cEActionRequestsBB.selectedQueryCEAR.queryExecuted}">
                                <f:selectItem itemLabel="select a user..." noSelectionOption="true" />
                                <f:selectItems value="#{systemServicesBB.userListForSearch}"  var="u" itemValue="#{u}" 
                                               itemLabel="#{u.human.name} (username:#{u.username})"/>
                                <f:converter converterId="userConverter"/>
                            </p:selectOneMenu>
                        </div>
                    </div>
                </f:subview>        

                <f:subview id="cear-search-param-subview-id"
                           rendered="#{cEActionRequestsBB.searchParamsSelected.bobID_ctl or cEActionRequestsBB.selectedQueryCEAR.queryName.showAllControls}">
                    <div class="p-grid">
                        <div class="p-lg-4 p-md-6 p-sm-12 restrict-data-field-label-inline">
                            <p:outputLabel for="cear-search-filter-id-ctl" 
                                           value="filter by action request id"/>

                            <p:selectBooleanCheckbox id="cear-search-filter-id-ctl" 
                                                     value="#{cEActionRequestsBB.searchParamsSelected.bobID_ctl}"
                                                     style="margin-left: 8px;">
                                <p:ajax update="cear-search-filter-id-val" />
                            </p:selectBooleanCheckbox>

                        </div>
                        <div class="p-lg-8 p-md-8 p-sm-12 restrict-data-field-value-inline">
                            <p:inputText id="cear-search-filter-id-val"
                                         type="number"
                                         value="#{cEActionRequestsBB.searchParamsSelected.bobID_val}"
                                         disabled="#{!cEActionRequestsBB.searchParamsSelected.bobID_ctl or cEActionRequestsBB.selectedQueryCEAR.queryExecuted}"/>
                        </div>
                    </div>
                </f:subview>        

                <f:subview id="cear-search-param-subview-resultcap"
                           rendered="#{cEActionRequestsBB.searchParamsSelected.limitResultCount_ctl or cEActionRequestsBB.selectedQueryCEAR.queryName.showAllControls}">
                    <div class="p-grid">
                        <div class="p-lg-4 p-md-6 p-sm-12 restrict-data-field-label-inline">
                            <p:outputLabel id="cear-query-limit-ol" 
                                           for="cear-query-limit" 
                                           value="limit results"/>
                            <p:selectBooleanCheckbox id="cear-query-limit" 
                                                     value="#{cEActionRequestsBB.searchParamsSelected.limitResultCount_ctl}" 
                                                     style="margin-left: 8px;">
                                <p:ajax update="cear-filter-limit-it" />
                            </p:selectBooleanCheckbox>

                        </div>
                        <div class="p-lg-8 p-md-8 p-sm-12 restrict-data-field-value-inline">

                            <p:inputText id="cear-filter-limit-it"
                                         type="number"
                                         value="#{cEActionRequestsBB.searchParamsSelected.limitResultCount_val}"
                                         disabled="#{!cEActionRequestsBB.searchParamsSelected.limitResultCount_ctl or cEActionRequestsBB.selectedQueryCEAR.queryExecuted}"/>
                            <h:message for="cear-filter-limit-it" showDetail="false" showSummary="true"
                                       warnClass="msgWarn" infoClass="msgInfo" fatalClass="msgFatal" errorClass="msgError" />
                        </div>
                    </div>
                </f:subview>        

                <f:subview id="cear-search-param-subview-active"
                           rendered="#{cEActionRequestsBB.searchParamsSelected.active_ctl or cEActionRequestsBB.selectedQueryCEAR.queryName.showAllControls}">
                    <div class="p-grid">
                        <div class="p-lg-4 p-md-6 p-sm-12 restrict-data-field-label-inline">
                            <p:outputLabel for="cear-search-filter-active-ctl" 
                                           value="filter by active"/>


                            <p:selectBooleanCheckbox id="cear-search-filter-active-ctl" 
                                                     value="#{cEActionRequestsBB.searchParamsSelected.active_ctl}"
                                                     style="margin-left: 8px;">
                                <p:ajax update="cear-search-filter-active-val" />
                            </p:selectBooleanCheckbox>



                        </div>
                        <div class="p-lg-8 p-md-8 p-sm-12 restrict-data-field-value-inline">
                            <p:outputLabel for="cear-search-filter-active-val" 
                                           value="is active"/>
                            <p:selectBooleanCheckbox id="cear-search-filter-active-val" 
                                                     value="#{cEActionRequestsBB.searchParamsSelected.active_val}"
                                                     disabled="#{!cEActionRequestsBB.searchParamsSelected.active_ctl or cEActionRequestsBB.selectedQueryCEAR.queryExecuted}"
                                                     style="margin-left: 8px;">
                            </p:selectBooleanCheckbox>
                        </div>
                    </div>
                </f:subview>        


                <f:subview id="cear-search-param-subview-issue"
                           rendered="#{cEActionRequestsBB.searchParamsSelected.issueType_ctl or cEActionRequestsBB.selectedQueryCEAR.queryName.showAllControls}">
                    <div class="p-grid">
                        <div class="p-lg-4 p-md-6 p-sm-12 restrict-data-field-label-inline">
                            <p:outputLabel for="cear-search-filter-issue-ctl" 
                                           value="Issue type filter"/>

                            <p:selectBooleanCheckbox id="cear-search-filter-issue-ctl" 
                                                     value="#{cEActionRequestsBB.searchParamsSelected.issueType_ctl}"
                                                     disabled="#{!(cEActionRequestsBB.searchParamsSelected.user_rtMin.rank lt systemServicesBB.bbSessionUser.keyCard.governingAuthPeriod.role.rank)}"
                                                     style="margin-left: 8px;">
                                <p:ajax update="cear-search-filter-issue-som" />
                            </p:selectBooleanCheckbox>

                        </div>
                        <div class="p-lg-8 p-md-8 p-sm-12 restrict-data-field-value-inline">
                            <p:selectOneMenu  id="cear-search-filter-issue-som" 
                                              tabindex="1" 
                                              value="#{cEActionRequestsBB.searchParamsSelected.issueType_val}"
                                              disabled="#{!cEActionRequestsBB.searchParamsSelected.issueType_ctl or cEActionRequestsBB.selectedQueryCEAR.queryExecuted}"
                                              converter="issueTypeConverter">
                                <f:selectItem itemLabel="select a concern issue description" 
                                              noSelectionOption="true" 
                                              itemDisabled="true"/>
                                <f:selectItems id="cear-search-issue-field-val-items" 
                                               value="#{cEActionRequestsBB.issueTypeList}" 
                                               var="iss" itemValue="#{iss}" itemLabel="#{iss.name}" />
                            </p:selectOneMenu>
                        </div>
                    </div>
                </f:subview>   
                <f:subview id="cear-search-param-subview-status"
                           rendered="#{cEActionRequestsBB.searchParamsSelected.requestStatus_ctl or cEActionRequestsBB.selectedQueryCEAR.queryName.showAllControls}">
                    <div class="p-grid">
                        <div class="p-lg-4 p-md-6 p-sm-12 restrict-data-field-label-inline">
                            <p:outputLabel for="cear-search-filter-status-ctl" 
                                           value="Request status filter"/>

                            <p:selectBooleanCheckbox id="cear-search-filter-status-ctl" 
                                                     value="#{cEActionRequestsBB.searchParamsSelected.requestStatus_ctl}"
                                                     disabled="#{!(cEActionRequestsBB.searchParamsSelected.user_rtMin.rank lt systemServicesBB.bbSessionUser.keyCard.governingAuthPeriod.role.rank)}"
                                                     style="margin-left: 8px;">
                                <p:ajax update="cear-search-filter-status-som" />
                            </p:selectBooleanCheckbox>

                        </div>
                        <div class="p-lg-8 p-md-8 p-sm-12 restrict-data-field-value-inline">
                            <p:selectOneMenu  id="cear-search-filter-status-som" 
                                              tabindex="1" 
                                              value="#{cEActionRequestsBB.searchParamsSelected.requestStatus_val}"
                                              disabled="#{!cEActionRequestsBB.searchParamsSelected.requestStatus_ctl or cEActionRequestsBB.selectedQueryCEAR.queryExecuted}"
                                              converter="ceActionRequestStatusConverter">
                                <f:selectItem itemLabel="select a status description" 
                                              noSelectionOption="true" 
                                              itemDisabled="true"/>
                                <f:selectItems id="cear-search-status-field-val-items" 
                                               value="#{cEActionRequestsBB.statusList}" 
                                               var="stat" itemValue="#{stat}" itemLabel="#{stat.statusTitle}" />
                            </p:selectOneMenu>
                        </div>
                    </div>
                </f:subview>

                <f:subview id="cear-search-param-subview-nonaddressable"
                           rendered="#{cEActionRequestsBB.searchParamsSelected.nonaddressable_ctl or cEActionRequestsBB.selectedQueryCEAR.queryName.showAllControls}">
                    <div class="p-grid">
                        <div class="p-lg-4 p-md-6 p-sm-12 restrict-data-field-label-inline">
                            <p:outputLabel for="cear-search-filter-nonaddressable-ctl" 
                                           value="filter by nonaddressable"/>


                            <p:selectBooleanCheckbox id="cear-search-filter-nonaddressable-ctl" 
                                                     value="#{cEActionRequestsBB.searchParamsSelected.nonaddressable_ctl}"
                                                     style="margin-left: 8px;">
                                <p:ajax update="cear-search-filter-nonaddressable-val" />
                            </p:selectBooleanCheckbox>



                        </div>
                        <div class="p-lg-8 p-md-8 p-sm-12 restrict-data-field-value-inline">
                            <p:outputLabel for="cear-search-filter-nonaddressable-val" 
                                           value="is nonaddressable"/>
                            <p:selectBooleanCheckbox id="cear-search-filter-nonaddressable-val" 
                                                     value="#{cEActionRequestsBB.searchParamsSelected.nonaddressable_val}"
                                                     disabled="#{!cEActionRequestsBB.searchParamsSelected.nonaddressable_ctl or cEActionRequestsBB.selectedQueryCEAR.queryExecuted}"
                                                     style="margin-left: 8px;">
                            </p:selectBooleanCheckbox>
                        </div>
                    </div>
                </f:subview>   

                <f:subview id="cear-search-param-subview-urgent"
                           rendered="#{cEActionRequestsBB.searchParamsSelected.urgent_ctl or cEActionRequestsBB.selectedQueryCEAR.queryName.showAllControls}">
                    <div class="p-grid">
                        <div class="p-lg-4 p-md-6 p-sm-12 restrict-data-field-label-inline">
                            <p:outputLabel for="cear-search-filter-urgent-ctl" 
                                           value="filter by urgent"/>
                            <p:selectBooleanCheckbox id="cear-search-filter-urgent-ctl" 
                                                     value="#{cEActionRequestsBB.searchParamsSelected.urgent_ctl}"
                                                     style="margin-left: 8px;">
                                <p:ajax update="cear-search-filter-urgent-val" />
                            </p:selectBooleanCheckbox>
                        </div>
                        <div class="p-lg-8 p-md-8 p-sm-12 restrict-data-field-value-inline">
                            <p:outputLabel for="cear-search-filter-urgent-val" 
                                           value="is urgent"/>
                            <p:selectBooleanCheckbox id="cear-search-filter-urgent-val" 
                                                     value="#{cEActionRequestsBB.searchParamsSelected.urgent_val}"
                                                     disabled="#{!cEActionRequestsBB.searchParamsSelected.urgent_ctl or cEActionRequestsBB.selectedQueryCEAR.queryExecuted}"
                                                     style="margin-left: 8px;">
                            </p:selectBooleanCheckbox>
                        </div>
                    </div>
                </f:subview>   

                <f:subview id="cear-search-param-subview-caseAttachment"
                           rendered="#{cEActionRequestsBB.searchParamsSelected.caseAttachment_ctl or cEActionRequestsBB.selectedQueryCEAR.queryName.showAllControls}">
                    <div class="p-grid">
                        <div class="p-lg-4 p-md-6 p-sm-12 restrict-data-field-label-inline">
                            <p:outputLabel for="cear-search-filter-caseAttachment-ctl" 
                                           value="filter by case attachment"/>

                            <p:selectBooleanCheckbox id="cear-search-filter-caseAttachment-ctl" 
                                                     value="#{cEActionRequestsBB.searchParamsSelected.caseAttachment_ctl}"
                                                     style="margin-left: 8px;">
                                <p:ajax update="cear-search-filter-caseAttachment-val" />
                            </p:selectBooleanCheckbox>

                        </div>
                        <div class="p-lg-8 p-md-8 p-sm-12 restrict-data-field-value-inline">
                            <p:outputLabel for="cear-search-filter-caseAttachment-val" 
                                           value="is caseAttachment"/>
                            <p:selectBooleanCheckbox id="cear-search-filter-caseAttachment-val" 
                                                     value="#{cEActionRequestsBB.searchParamsSelected.caseAttachment_val}"
                                                     disabled="#{!cEActionRequestsBB.searchParamsSelected.caseAttachment_ctl or cEActionRequestsBB.selectedQueryCEAR.queryExecuted}"
                                                     style="margin-left: 8px;">
                            </p:selectBooleanCheckbox>
                        </div>
                    </div>
                </f:subview>   

                <f:subview id="cear-search-param-subview-pacc"
                           rendered="#{cEActionRequestsBB.searchParamsSelected.pacc_ctl or cEActionRequestsBB.selectedQueryCEAR.queryName.showAllControls}">
                    <div class="p-grid">
                        <div class="p-lg-4 p-md-6 p-sm-12 restrict-data-field-label-inline">
                            <p:outputLabel for="cear-search-filter-pacc-ctl" 
                                           value="filter by PACC access enabled"/>
                            <p:selectBooleanCheckbox id="cear-search-filter-pacc-ctl" 
                                                     value="#{cEActionRequestsBB.searchParamsSelected.pacc_ctl}"
                                                     style="margin-left: 8px;">
                                <p:ajax update="cear-search-filter-pacc-val" />
                            </p:selectBooleanCheckbox>
                        </div>
                        <div class="p-lg-8 p-md-8 p-sm-12 restrict-data-field-value-inline">
                            <p:outputLabel for="cear-search-filter-pacc-val" 
                                           value="is pacc"/>
                            <p:selectBooleanCheckbox id="cear-search-filter-pacc-val" 
                                                     value="#{cEActionRequestsBB.searchParamsSelected.pacc_val}"
                                                     disabled="#{!cEActionRequestsBB.searchParamsSelected.pacc_ctl or cEActionRequestsBB.selectedQueryCEAR.queryExecuted}"
                                                     style="margin-left: 8px;">
                            </p:selectBooleanCheckbox>
                        </div>
                    </div>
                </f:subview>   

                <f:subview id="cear-search-param-subview-paccnum"
                           rendered="#{cEActionRequestsBB.searchParamsSelected.paccnum_ctl or cEActionRequestsBB.selectedQueryCEAR.queryName.showAllControls}">
                    <div class="p-grid">
                        <div class="p-lg-4 p-md-6 p-sm-12 restrict-data-field-label-inline">
                            <p:outputLabel id="cear-query-limit-ol" 
                                           for="cear-query-paccnum" 
                                           value="Public access control code"/>
                            <p:selectBooleanCheckbox id="cear-query-paccnum" 
                                                     value="#{cEActionRequestsBB.searchParamsSelected.paccnum_ctl}" 
                                                     style="margin-left: 8px;"
                                                     >
                                <p:ajax update="cear-search-filter-paccnum-val-it" />
                            </p:selectBooleanCheckbox>
                        </div>
                        <div class="p-lg-8 p-md-8 p-sm-12 restrict-data-field-value-inline">

                            <p:inputText id="cear-search-filter-paccnum-val-it"
                                         type="number"
                                         value="#{cEActionRequestsBB.searchParamsSelected.paccnum_val}"
                                         disabled="#{!cEActionRequestsBB.searchParamsSelected.paccnum_ctl or cEActionRequestsBB.selectedQueryCEAR.queryExecuted}"/>
                        </div>
                    </div>
                </f:subview>        
                <p:spacer height="3px" />
                
                     <p:commandLink      id="cear-search-log-cl" 
                                ajax="true" 
                                oncomplete="PF('cear-search-log-dialog-var').show()"
                                style="font-weight: bold; color: blue; "
                                value="view search log" 
                                update=" cear-search-log-dialog-form"/>
                     
            </p:panel>
        </h:form>


        <h:form id="dash-cears-form">
            <h:outputText   id="cear-list-size-ot"
                            value="listing (#{cEActionRequestsBB.requestListSize}) requests"
                            styleClass="italic" />

            <p:spacer height="3px" />

            <p:dataTable id="requestTable"
                         value="#{cEActionRequestsBB.requestListSearch}"
                         rendered="true"
                         var="r"
                         rowKey="#{r.requestID}"
                         tableStyleClass="primeDataTable"
                         reflow="true"
                         >

                <p:column headerText="Icon"
                          width="7%"
                          >
                      <i class="material-icons">
                          <h:outputText value="#{!empty r.requestStatus ? r.requestStatus.icon.materialIcon :''}"/>
                    </i>
                </p:column>
                <p:column headerText="Status"
                          width="18%"
                          sortBy="#{r.requestStatus.statusTitle}">
                    <h:outputText value="#{r.requestStatus.statusTitle}"/>
                    <p:spacer height="3px" />
                    <h:outputText value="Case ID: #{r.caseID}"
                                  rendered="#{r.caseID ne 0}" />
                </p:column>
                <p:column headerText="Date Submitted"
                          width="15%"
                          sortBy="#{r.createdTS}">
                    <h:outputText value="#{missionControlBB.getPrettyDateNoTime(r.createdTS)}"/>
                </p:column>

                <p:column headerText="Property"
                          width="30%"
                          sortBy="#{r.requestProperty.address.buildingNo}">
                      <p:commandLink id="cear-prop-cl"
                                     action="#{cEActionRequestsBB.onViewCEARProperty(r)}"
                                   style="font-weight: bold; color:blue;"
                                   rendered="#{not empty r.requestProperty}">
                            <h:outputText value="#{r.requestProperty.address.addressPretty2LineEscapeFalse}"
                                          escape="false"
                                          rendered="#{not empty r.requestProperty}"/>
                      </p:commandLink>
                    <h:outputText value="No linked property."
                                  rendered="#{empty r.requestProperty}"
                                  styleClass="italic"/>
                    <p:spacer height="3px" />
                    <h:outputText value="Loc description: #{r.nonaddressableDescription}"
                                  rendered="#{r.notAtKnownAddress and not empty r.nonaddressableDescription}"
                                  styleClass="italic"/>
                </p:column>

                <p:column headerText="Issue Type"
                          width="18%"
                          sortBy="#{r.issue.name}">
                    <h:outputText value="#{r.issue.name}"/>
                </p:column>

                <p:column headerText="Actions"
                          width="10%"
                          >
                    <p:commandLink    
                        id="dash-switchuser-button-switch"
                        value="view/manage"
                        style="font-weight: bold; color: blue;"
                        ajax="true"
                        actionListener="#{cEActionRequestsBB.manageActionRequest(r)}" 
                        oncomplete="PF('cear-profile-dialog-var').show();" 
                        update="cear-profile-dialog
                        cear-changeprop-form
                        cear-persons-panel
                        cear-persons-panel-form
                        cear-blobs-form
                        cear-routing-form
                        cear-requestor-form
                        cear-casenotes-form"/>
                    <p:spacer height="3px" />
                    <h:outputText value="(ID: #{r.requestID})" />
                </p:column>
            </p:dataTable>
        </h:form>
    </p:panel>
    
    <p:dialog id="cear-search-log-dialog"
        widgetVar="cear-search-log-dialog-var"
        closable="true"
        width="60%"
        modal="true"
        closeOnEscape="true">
                  
        <h:form id="cear-search-log-dialog-form">
            <h:outputText value="#{cEActionRequestsBB.selectedQueryCEAR.queryLog}" 
                          escape="false"/>
        </h:form>
        
    </p:dialog>
    
</ui:composition>