<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:tt="http://xmlns.jcp.org/jsf/composite/components" >

    <p:column width="30%"
              sortBy="#{street.name}"
              filterBy="#{street.name}"
              filterMatchMode="contains"
              >
        <f:facet name="header">
            <h:outputText value="Street Name"/>
        </f:facet>
        <h:outputText value="#{street.name}" />
    </p:column>

    <p:column width="15%">
        <f:facet name="header">
            <h:outputText value="City, State"/>
            <p:spacer height="2px" />
            <h:outputText value="ZIP Code"/>
        </f:facet>
        <h:outputText value="#{street.cityStateZip.state}, " />
        <h:outputText value="#{street.cityStateZip.zipCode}" />
        <p:spacer height="2px" />
        <h:outputText value="#{street.cityStateZip.defaultCity}" />

    </p:column>

    <p:column width="25%">
        <f:facet name="header">
            <h:outputText value="Actions"/>
        </f:facet>

        <p:commandLink  id="street-select"
                        value="load mailing addresses"
                        style="color:blue; font-weight: bold;"
                        rendered="true"
                        actionListener="#{addressBB.onStreetSelectLinkClick(street)}"
                        ajax="true"
                        update="@form:@parent:building-form
                        @form:@parent:addresses-growl-form"
                        />

        <p:spacer height="2px" />

        <p:commandLink  id="street-viewedit"
                        value="view/edit street"
                        style="color:blue; font-weight: bold;"
                        rendered="true"
                        actionListener="#{addressBB.onStreetViewEditLinkClick(street)}"
                        ajax="true"
                        oncomplete="PF('street-infoedit-dialog-var').show();"
                        update="street-infoedit-dialog
                        street-infoedit-form
                        mailing-street-notes-form"
                        />
    </p:column>
</ui:composition>