<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:tt="http://xmlns.jcp.org/jsf/composite/components" >

    <p:column width="20%"
              sortBy="#{addr.buildingNo}"
              filterBy="#{addr.buildingNo}">
        <f:facet name="header">
            <h:outputText value="Bldg No."/>
            <p:spacer height="2px" />
            <h:outputText value="Unit?"/>
        </f:facet>
        <h:outputText value="#{addr.buildingNo}" />
        <p:spacer height="2px" />
        <h:outputText value="#{addr.secondaryUnitIdentifier}"
                      rendered="#{addr.useSecondaryUnitIdentifier and not empty addr.secondaryUnitIdentifier}"/>
    </p:column>

    <p:column width="25%"
              sortBy="#{addr.street.name}">
        <f:facet name="header">
            <h:outputText value="Street"/>
        </f:facet>
        <h:outputText value="#{addr.street.name}" />
    </p:column>

    <p:column width="35%">
        <f:facet name="header">
            <h:outputText value="Attn?"/>
            <p:spacer height="2px" />
            <h:outputText value="PO BOX?"/>
        </f:facet>
        <h:outputText value="ATTN: #{addr.attn}" 
                      rendered="#{addr.useAttention and not empty addr.attn}"/>
        <p:spacer height="2px" />
        <h:outputText value="PO BOX: #{addr.poBox}" 
                      rendered="#{addr.usePOBox and addr.poBox ne 0}"/>

    </p:column>



    <p:column width="20%">
        <f:facet name="header">
            <h:outputText value="Actions"/>
        </f:facet>

        <p:commandLink  id="address-select"
                        value="select for linking"
                        style="color:blue; font-weight: bold;"
                        rendered="#{systemServicesBB.permissionAllowAncillaryObjectEdit}"
                        actionListener="#{addressBB.onMailingAddressViewEditLinkClick(addr)}"
                        ajax="true"
                        update="selected-address-form
                        selected-address-links-form
                        address-linking-dialog
                        address-linking-dialog-form
                        "
                        oncomplete="PF('address-chooselinkpath-dialog-var').show();"
                        />
        <p:spacer height="3px" />

        <p:commandLink  id="address-view"
                        value="view/edit"
                        style="color:blue; font-weight: bold;"
                        rendered="true"
                        actionListener="#{addressBB.onMailingAddressViewEditLinkClick(addr)}"
                        ajax="true"
                        oncomplete="PF('address-dialog-var').show();"
                        update="address-dialog
                        address-dialog-outpanel
                        addresses-growl-form"
                        />

    </p:column>
</ui:composition>