<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns="http://www.w3.org/1999/xhtml">

    <h:form id="blobs-growl-form">
        <p:growl id="blobs-growl"
                 keepAlive="true"
                 life="4000"/>
    </h:form>

    <p:dialog   id="blob-upload-dialog"
                height="600" width="800"
                widgetVar="blob-upload-dialog-var"
                responsive="true"
                dynamic="true"
                modal="true"
                resizable="true"
                closable="true"
                closeOnEscape="true"
                header="Upload Photos and Documents on #{blobUtilitiesBB.currentBlobHolder.blobLinkEnum.objectParentTitle} (ID:#{blobUtilitiesBB.currentBlobHolder.parentObjectID})"
                rendered="true"
                > 
        <h:form id="blob-upload-form" 
                enctype="multipart/form-data">
            <h2>
                <h:outputText  value="Upload Photos/Docs to #{blobUtilitiesBB.currentBlobHolder.blobLinkEnum.objectParentTitle} (ID:#{blobUtilitiesBB.currentBlobHolder.parentObjectID})" />
            </h2>
            <p>Allowed file types: pdf, jpeg, png, gif, doc/docx, xls/xlsx, txt, csv, odt, ods (Limit: 3 files)</p>

            <p:fileUpload 
                mode="advanced" 
                listener="#{blobUtilitiesBB.onBlobUploadCommitButtonChange}"
                multiple="true"
                fileLimit="3"
                sizeLimit="999999999" 
                allowTypes="/(\.|\/)(jpe?g|JPG|JPE?G|png|gif|GIF|PNG|pdf|PDF|doc|DOC|docx|DOCX|XLS|xls|xlsx|XLSX|txt|csv|CSV|TXT|ods|ODS|odt|ODT)$/"
                rendered="true"
                maxChunkSize="1485760"
                update="blobs-growl-form
                blobs-gallery-dialog
                gallery-form
                #{blobUtilitiesBB.getBlobListComponentToUpdateAfterChangesDynamic()}"
                oncomplete="PF('blob-upload-dialog-var').hide();"/>    
        </h:form>
    </p:dialog>

    <p:dialog   id="blobs-gallery-dialog"
                height="800" width="1000"
                widgetVar="blobs-gallery-dialog-var"
                responsive="true"
                dynamic="true"
                modal="true"
                resizable="true"
                closable="true"
                closeOnEscape="true"
                header="Photos and Documents on #{blobUtilitiesBB.currentBlobHolder.blobLinkEnum.objectParentTitle} (ID:#{blobUtilitiesBB.currentBlobHolder.parentObjectID})"
                rendered="true"
                > 
        <h:form id="gallery-form">
            <p:dataTable id="blob-table"
                         value="#{blobUtilitiesBB.currentBlobHolder.blobList}"
                         rendered="#{!empty blobUtilitiesBB.currentBlobHolder.blobList}"
                         var="blob"
                         rowKey="#{blob.photoDocID}"
                         tableStyleClass="primeDataTable">

                <p:column headerText="PhotoDoc ID"
                          style="width:5%;">
                    <h:outputText value="#{blob.photoDocID}" />
                </p:column>
                <p:column headerText="Blob ID"
                          style="width:5%;">
                    <h:outputText value="#{blob.bytesID}" />
                </p:column>

                <p:column headerText="Preview"
                          style="width:10%;">
                    <p:graphicImage value="#{blobsterBB.image}"
                                    alt="no preview available" 
                                    style="width: 150px" 
                                    cache="true"
                                    rendered="#{blob.type.browserViewable}">
                        <f:param name="blobid" value="#{blob.photoDocID}"/>
                    </p:graphicImage>
                    
                </p:column>
                <p:column headerText="Timestamp"
                          style="width:15%;">
                    <h:outputText value="#{blob.createdTS}" />
                </p:column>
                <p:column headerText="Title / Descr"
                          style="width:20%;">
                    <h:outputText value="#{blob.title}" />
                    <p:spacer height="5px" />
                    <h:outputText value="#{blob.description}" />
                </p:column>
                <p:column headerText="Preview"
                          style="width:30%;">
                    <p:graphicImage value="#{blobsterBB.image}"
                                    alt="no preview available" 
                                    style="width: 150px" 
                                    cache="true"
                                    rendered="#{blob.type.browserViewable}">
                        <f:param name="blobid" value="#{blob.photoDocID}"/>
                    </p:graphicImage>

                    <h:outputText value="no preview available; download to view"
                                  rendered="#{!blob.type.browserViewable}" />
                </p:column>
                <p:column headerText="Actions"
                          style="width:15%;">
                    <p:commandLink id="blob-viewblob-cl"
                                   actionListener="#{blobUtilitiesBB.onViewBlobLinkClick(blob, blobUtilitiesBB.currentBlobHolder)}"
                                   value="view"
                                   style="color:blue;"
                                   rendered="#{blob.type.browserViewable}"
                                   update="blobs-viewblob-dialog
                                   blob-viewblob-form"
                                   oncomplete="PF('blobs-viewblob-dialog-var').show();" />

                    <h:outputText value=" | "/>

                    <p:commandLink id="blob-editblob-cl"
                                   actionListener="#{blobUtilitiesBB.onViewBlobLinkClick(blob, blobUtilitiesBB.currentBlobHolder)}"
                                   value="details"
                                   style="color:blue;"
                                   update="blob-veweditmetadata-form
                                   blob-vieweditmetadata-dialog"
                                   oncomplete="PF('blobs-vieweditmetadata-dialog-var').show();" />

                    <h:outputText value=" | "/>

                    <p:commandLink id="blob-download-cl"
                                   value="download"
                                   ajax="false"
                                   style="color:blue;">
                        <p:fileDownload value="#{blobRetrieveBB.retrieveBlob(blob)}" />
                    </p:commandLink>
                </p:column>
            </p:dataTable>
            <p:spacer height="5px" />
        </h:form>
    </p:dialog>

    <p:dialog   id="blobs-viewblob-dialog"
                height="800" width="800"
                widgetVar="blobs-viewblob-dialog-var"
                responsive="true"
                dynamic="true"
                modal="true"
                resizable="true"
                closable="true"
                closeOnEscape="true"
                header="Viewing Photo/Doc: #{blobUtilitiesBB.currentBlobLight.photoDocID}"
                rendered="true"
                > 
        <h:form id="blob-viewblob-form">

            <h2>
                <h:outputText value="#{blobUtilitiesBB.currentBlobLight.title}" />
                <h:outputText value=" | " />
                <h:outputText value="#{blobUtilitiesBB.currentBlobLight.type.title}" />

            </h2>

            <h:outputText value="Description: #{blobUtilitiesBB.currentBlobLight.description}" />

            <p:spacer height="5px" />

            <p:commandLink id="blob-view-download-cl"
                           value="download"
                           ajax="false"
                           style="color:blue;">
                <p:fileDownload value="#{blobRetrieveBB.retrieveBlob(blobUtilitiesBB.currentBlobLight)}" />
            </p:commandLink>

            <p:spacer height="5px" />

            <p:graphicImage value="#{blobsterBB.image}"
                            alt="canot display" 
                            style="width: 100%" 
                            rendered="#{blobUtilitiesBB.currentBlobLight.type.browserViewable}">
                <f:param name="blobid" value="#{blobUtilitiesBB.currentBlobLight.photoDocID}"/>
            </p:graphicImage>
        </h:form>
    </p:dialog>

    <p:dialog   id="blob-vieweditmetadata-dialog"
                width="800"
                widgetVar="blobs-vieweditmetadata-dialog-var"
                responsive="true"
                dynamic="true"
                modal="true"
                resizable="true"
                closable="true"
                closeOnEscape="true"
                header="Describe Photo/Doc: #{blobUtilitiesBB.currentBlobLight.photoDocID}"
                rendered="true"
                > 
        <h:form id="blob-veweditmetadata-form">

            <p:commandButton id="blob-editmetadata-button"
                             value="#{blobUtilitiesBB.editModeBlobMetadata ? 'Save Changes' : 'Edit'}"
                             disabled="false"
                             rendered="true"
                             icon="pi #{blobUtilitiesBB.editModeBlobMetadata ? 'pi-save' : 'pi-pencil'}"
                             actionListener="#{blobUtilitiesBB.toggleEditModeBlobMetadata}"
                             oncomplete="PF('blobs-vieweditmetadata-dialog-var').show();"
                             update="@form
                             blobs-growl-form
                             gallery-form
                             #{blobUtilitiesBB.blobListComponentToUpdateAfterChanges}"/>

            <div class="gray_button">

                <p:commandButton id="inspections-inspectiondetails-abort"
                                 value="Cancel"
                                 styleClass="gray_button"
                                 rendered="#{blobUtilitiesBB.editModeBlobMetadata}"
                                 icon="pi pi-arrow-left"
                                 actionListener="#{blobUtilitiesBB.onBlobEditMetadataAbortButtonClick}"
                                 oncomplete="PF('blobs-vieweditmetadata-dialog-var').hide();"
                                 update="blobs-growl-form"
                                 />
            </div>

            <p:spacer height="5px"/>

            <p:panel id="blob-metadata-panel"
                     toggleable="true"
                     collapsed="false"
                     header="Photo/Doc Details">

                <div class="p-grid">
                    <div class="p-col-6">Original Filename</div>
                    <div class="p-col-6">
                        <h:outputText value="#{blobUtilitiesBB.currentBlobLight.filename}" />
                    </div>

                    <div class="p-col-6">Description</div>
                    <div class="p-col-6">
                        <h:outputText value="#{blobUtilitiesBB.currentBlobLight.description}" 
                                      rendered="#{!blobUtilitiesBB.editModeBlobMetadata}"/>

                        <p:inputTextarea     value="#{blobUtilitiesBB.currentBlobLight.description}"
                                             rendered="#{blobUtilitiesBB.editModeBlobMetadata}" 
                                             cols="25"
                                             rows="4"/>
                    </div>
                </div>
            </p:panel>
        </h:form>
    </p:dialog>

    <p:dialog   id="blob-deactivate-dialog"
                height="400" width="800"
                widgetVar="blobs-deactivate-dialog-var"
                responsive="true"
                dynamic="true"
                modal="true"
                resizable="true"
                closable="true"
                closeOnEscape="true"
                header="Deactivate Photo/Doc: #{blobUtilitiesBB.currentBlobLight.photoDocID}"
                rendered="true"
                > 
        <h:form id="blob-deactivate-form">

            <div class="p-grid">
                <div class="p-col-6">
                    <h2>Remove photo/doc </h2>
                    <p:spacer height="5px" />
                    <p:commandButton id="blob-deactivate-button"
                                     value="Remove photo or document ID: #{blobUtilitiesBB.currentBlobLight.photoDocID}"
                                     disabled="false"
                                     ajax="true"
                                     rendered="true"
                                     icon="pi pi-trash"
                                     style="background-color: darkred;"
                                     actionListener="#{blobUtilitiesBB.deactivateCurrentBlobLightPublicUser}"
                                     oncomplete="PF('blobs-deactivate-dialog-var').hide();"
                                     update="#{blobUtilitiesBB.blobListComponentToUpdateAfterChanges}
                                     blobs-growl-form"/>
                </div>
            </div>
        </h:form>
    </p:dialog>
</ui:composition>
