
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:tt="http://xmlns.jcp.org/jsf/composite/components">
    <h:form id="calendar-growl-form">
        <p:growl id="calendar-growl"
                 keepAlive="true"
                 life="6000"/>
    </h:form>
    <p:panel id="cal-panel"
             widgetVar="cal-panel-var"
             header="Event Calendar"
             toggleable="true"
             collapsed="false"
             rendered="true" >

        <h:form id="event-cal-form">
            <div class="p-grid"
                 id="cal-grid">
                    <div class="p-lg-2 p-md-4 p-sm-12">
                         <div class="evcal-dayheader">
                            <h:outputText value="Follow-up Event Backlog" />
                        </div>
                        <ui:repeat id="event-backlog-uir"
                                   value="#{sessionEventConductor.followUpEventsBackLog}"
                                   var="ev">
                           
                             <tt:eventCalendarDisplay id="cal-evlist-backlog-tt"
                                                     value="#{ev}" />

                            <p:spacer height="2px" />
                        </ui:repeat>
                    </div>

                <ui:repeat id="evcal-calendar-6day"
                           value="#{sessionEventConductor.eventCalendar5Day}"
                           var="day">

                    <div class="p-lg-2 p-md-4 p-sm-12">
                        <div class="evcal-dayheader">
                            <h:outputText value="#{day.dayPrettyPrefix}" />
                            <h:outputText value="#{sessionEventConductor.getPrettyLocalDateOnlyNoTime(day.day)} " />
                        </div>
                        <ui:repeat id="evcal-evlist-day-minus1"
                                   value="#{day.evList}"
                                   var="ev">
                          
                            <tt:eventCalendarDisplay id="cal-evlist-primary-tt"
                                                     value="#{ev}" />
                            <p:spacer height="2px" />
                        </ui:repeat>
                        <p:spacer height="2px" />
                        
                        <p:panel id="calendar-dayoverflow-panel"
                                 collapsed="true"
                                 toggleable="true"
                                 header="+#{day.evListOverflow.size()} more"
                                 styleClass="advanced-search"
                                 rendered="#{not empty day.evListOverflow}"
                                 >
                            <ui:repeat id="evcal-evlist-day-overflow-uir"
                                       value="#{day.evListOverflow}"
                                       var="evof">
                                 <tt:eventCalendarDisplay id="cal-evlist-overflow-tt"
                                                     value="#{evof}" />
                                <p:spacer height="2px" />
                            </ui:repeat>
                        </p:panel>
                    </div>
                </ui:repeat>
            </div>
        </h:form>
        <p:spacer height="5px" />
            <h:form id="eventcal-tools-form">
                <div class="restrict-main-contents-io-link">
                        <p:commandLink  id="eventcal-refresh-cl"
                                        value="refresh calendar"
                                        actionListener="#{sessionEventConductor.refreshCalendarAndFollowupBacklog}"
                                        ajax="true"
                                        update="cal-panel
                                        calendar-growl-form"/>
                        <h:outputText value=" | " />
                        <p:commandLink  id="eventcal-addgeneralevent-cl"
                                        value="add general event"
                                        actionListener="#{eventBB.onEventAddGeneralInit}"
                                        ajax="true"
                                        update="event-add-dialog
                                        messages-global-form"
                                        oncomplete="PF('event-add-dialog-var').show()">
                            <f:param name="event-list-component-to-update" 
                                     value="event-cal-form" />
                        </p:commandLink>

                </div>
            </h:form>
    </p:panel>
</ui:composition>