<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:p="http://primefaces.org/ui">
    <p:panel    id="dash-inspection-search-panel"
                toggleable="true"
                style="width: 100%;"
                widgetVar="inspection-serach-panel-var"
                collapsed="false"
                rendered="true"
                header="Field Inspections in #{sessionBean.sessMuni.muniName}" >

        <h:form id="inspections-growl-form">
            <p:growl id="inspections-messages-growl"
                     />
        </h:form>

        <p:ajaxStatus onstart="PF('field-inspection-status-dialog').show()" 
                      onsuccess="PF('field-inspection-status-dialog').hide()"
                      delay="500" />

        <p:dialog widgetVar="field-inspection-status-dialog" 
                  modal="true"
                  height="220px"
                  width="350px"
                  draggable="false" 
                  closable="false" 
                  resizable="false" 
                  showHeader="false">
            <div class="p-text-center">
                <h:outputText value="Stand by: loading...loading" />
                <p:spacer height="3px" />
                <img src="https://upload.wikimedia.org/wikipedia/commons/2/27/Skid_Loader_anim.gif"
                     alt="loading" 
                     width="150px"
                     style="margin-left:auto; margin-right:auto;"/>
                <p style="font-size: 0.7em;">Pasimi, CC BY-SA 4.0 https://creativecommons.org/licenses/by-sa/4.0, via Wikimedia Commons</p>
            </div>
        </p:dialog>

        <h:form id="field-inspections-search-form">
            <div class="p-grid">
                <div class="p-col-12" >
                    <h:outputText value="Select a query:" 
                                  style="font-weight: bold;"/>
                    <p:spacer height="3px" />
                    <div class="restrict-data-field-value-inline" >

                        <p:selectOneMenu id="inspectionsquery-som" 
                                         tabindex="1" 
                                         value="#{sessionInspectionConductor.querySelected}"
                                         disabled="#{!empty sessionInspectionConductor.querySelected.executionTimestamp}">
                            <f:converter converterId="bOBQueryConverter"/>
                            <f:selectItem itemLabel="select a query..." 
                                          noSelectionOption="true" 
                                          itemDisabled="true"/>
                            <f:selectItems id="querylist-si" value="#{sessionInspectionConductor.queryList}" var="ql" itemValue="#{ql}" itemLabel="#{ql.queryTitle}" />
                            <p:ajax listener="#{sessionInspectionConductor.changeQuerySelected}"
                                    update="@form
                                    inspectionsearch-params-form
                                    inspections-growl-form
                                    "/>
                        </p:selectOneMenu>
                    </div>
                    <p:spacer height="5px" />

                    <h:outputLabel styleClass="bold" 
                                   value="Description: "  />

                    <h:outputText id="inspection-query-desc-ot" 
                                  value="#{sessionInspectionConductor.querySelected.queryName.desc}" />
                </div>
            </div>
        </h:form>

        <h:form id="inspectionsearch-params-form">
            <div class="p-grid">
                <div class="p-col-12">
                    <p:commandButton    id="execute-selected-query-top" 
                                        ajax="true"
                                        value="Search" 
                                        actionListener="#{sessionInspectionConductor.executeQuery}"
                                        disabled="#{!empty sessionInspectionConductor.querySelected.executionTimestamp}"
                                        icon="pi pi-search"
                                        update="
                                        @form
                                        field-inspections-search-form
                                        inspection-list-form
                                        inspection-list-form:field-inspections-table
                                        inspection-search-log-form
                                        inspections-growl-form
                                        "/>

                    <p:commandLink   id="inspection-search-clear-cl" 
                                     ajax="true" 
                                     actionListener="#{sessionInspectionConductor.resetQuery}"
                                     styleClass="button inline-button"
                                     style="font-weight: bold; color: blue; margin-left: 5px;"
                                     value="reset query" 
                                     disabled="#{empty sessionInspectionConductor.querySelected.executionTimestamp}"
                                     update="@form
                                     field-inspections-search-form
                                     inspection-list-form
                                     inspection-list-form:field-inspections-table
                                     inspection-search-log-form
                                     inspections-growl-form"/>
                    <h:outputText value=" | " />

                    <p:outputLabel for="inspection-search-appendresults-chkbox"
                                   style="margin-left: 5px;">
                        <h:outputText value="Append results to list? "/>
                    </p:outputLabel>
                    <p:selectBooleanCheckbox   id="inspection-search-appendresults-chkbox" 
                                               value="#{sessionInspectionConductor.appendResultsToList}" 
                                               style="margin-left: 5px;">
                        <p:ajax />
                    </p:selectBooleanCheckbox>
                </div>
                <div class="p-lg-4 p-md-6 p-sm-12">
                    <div class="restrict-main-contents-io-link">
                        <p:commandLink   id="inspection-log-view-cl" 
                                         ajax="true" 
                                         actionListener="#{sessionInspectionConductor.onViewFieldInspectionLogLinkClick}"
                                         styleClass="button inline-button"
                                         value="view search log" 
                                         oncomplete="PF('inspection-search-log-dialog-var').show();"
                                         disabled="#{empty sessionInspectionConductor.querySelected.executionTimestamp}"
                                         update="inspection-search-log-dialog"/>
                    </div>
                </div>
            </div>

            <p:spacer height="5px" />

            <p:panel id="inspection-search-controls-panel"
                     collapsed="true"
                     toggleable="true"
                     header="Advanced search"
                     styleClass="advanced-search">

                <f:subview id="inspectionsearch-param-subview-muni"
                           rendered="#{(sessionInspectionConductor.searchParamsSelected.muni_ctl or sessionInspectionConductor.querySelected.queryName.showAllControls) and systemServicesBB.bbSessionUser.keyCard.hasSysAdminPermissions}">

                    <div class="p-grid">
                        <div class="p-lg-4 p-md-6 p-sm-12 restrict-data-field-label-inline">
                            <p:outputLabel id="inspection-filter-muni-ol" 
                                           for="seev-filter-muni-chkbx" 
                                           value="filter by municipality "/>
                            <p:selectBooleanCheckbox id="seev-filter-muni-chkbx" 
                                                     value="#{sessionInspectionConductor.searchParamsSelected.muni_ctl}" 
                                                     style="margin-left: 8px;">
                                <p:ajax update="inspection-search-muni-som"/>
                            </p:selectBooleanCheckbox>
                        </div>
                        <div class="p-col-8 p-lg-8 p-md-8 p-sm-12 restrict-data-field-value-inline">
                            <p:selectOneMenu id="inspection-search-muni-som" tabindex="1" value="#{sessionInspectionConductor.searchParamsSelected.muni_val}"
                                             disabled="#{!sessionInspectionConductor.searchParamsSelected.muni_ctl}">
                                <f:converter converterId="muniConverter"/>
                                <f:selectItem itemLabel="select municipality..." noSelectionOption="true" itemDisabled="true"/>
                                <f:selectItems id="muniNameList" value="#{systemServicesBB.municipalityListForSearch}" var="m" itemValue="#{m}" itemLabel="#{m.muniName}" />
                            </p:selectOneMenu>
                        </div>
                    </div>
                </f:subview>

                <f:subview id="inspectionsearch-param-subview-dates"
                           rendered="#{sessionInspectionConductor.searchParamsSelected.date_startEnd_ctl or sessionInspectionConductor.querySelected.queryName.showAllControls}">
                    <div class="p-grid">
                        <div class="p-col-12">
                            <p:divider style="solid" />
                        </div>
                        <div class="p-lg-4 p-md-6 p-sm-12 restrict-data-field-label-inline">
                            <p:outputLabel id="inspection-search-startend-chkbx-ol" 
                                           for="inspection-search-startend-chkbx" 
                                           value="filter by date range "/>

                            <p:selectBooleanCheckbox id="inspection-search-startend-chkbx" 
                                                     value="#{sessionInspectionConductor.searchParamsSelected.date_startEnd_ctl}" 
                                                     style="margin-left: 8px;">
                                <p:ajax update="inspection-search-date-field-val
                                        inspection-search-date-start-val
                                        inspection-search-date-end-val
                                        inspection-search-date-relative-ctl" />
                            </p:selectBooleanCheckbox>

                        </div>
                        <div class="p-lg-8 p-md-8 p-sm-12 nested-grid restrict-data-field-value-inline">
                            <div class="p-grid">
                                <div class="p-col-12">
                                </div>

                                <div class="p-col-12">
                                    <p:selectOneMenu  id="inspection-search-date-field-val" 
                                                      tabindex="1" 
                                                      value="#{sessionInspectionConductor.searchParamsSelected.date_field}"
                                                      disabled="#{!sessionInspectionConductor.searchParamsSelected.date_startEnd_ctl}"
                                                      converter="dateFieldConverter">
                                        <f:selectItem itemLabel="select a date field..." 
                                                      noSelectionOption="true" 
                                                      itemDisabled="true"/>
                                        <f:selectItems id="inspection-search-date-field-val-items" 
                                                       value="#{sessionInspectionConductor.searchParamsSelected.dateFieldList}" 
                                                       var="f" itemValue="#{f}" itemLabel="#{f.title}" />
                                    </p:selectOneMenu>
                                </div>
                                <div class="p-col-12 restrict-data-field-label-vertical">

                                    <p:outputLabel for="inspection-search-date-start-val" 
                                                   value="start date"/>
                                </div>
                                <div class="p-col-12 restrict-data-field-value-vertical">

                                    <p:datePicker 	id="inspection-search-date-start-val" 
                                                   value="#{sessionInspectionConductor.searchParamsSelected.date_start_val}" 
                                                   disabled="#{(!sessionInspectionConductor.searchParamsSelected.date_startEnd_ctl) or sessionInspectionConductor.searchParamsSelected.date_relativeDates_ctl}"
                                                   rendered="true"
                                                   style="width: 100%;"
                                                   pattern="MM/dd/yyyy HH:mm"
                                                   hideOnDateTimeSelect="true"
                                                   showOnFocus="false"
                                                   showIcon="true"
                                                   showButtonBar="true"
                                                   mask="true"
                                                   timeInput="true" 
                                                   required="true" />
                                </div>

                                <div class="p-col-12 restrict-data-field-label-vertical">
                                    <p:outputLabel for="inspection-search-date-end-val" 
                                                   value="end date"/>
                                </div>
                                <div class="p-col-12 restrict-data-field-value-vertical">

                                    <p:datePicker id="inspection-search-date-end-val" 
                                                  value="#{sessionInspectionConductor.searchParamsSelected.date_end_val}" 
                                                  disabled="#{(!sessionInspectionConductor.searchParamsSelected.date_startEnd_ctl) or sessionInspectionConductor.searchParamsSelected.date_relativeDates_ctl}"
                                                  rendered="true"
                                                  style="width: 100%;"
                                                  pattern="MM/dd/yyyy HH:mm"
                                                  hideOnDateTimeSelect="true"
                                                  showOnFocus="false"
                                                  showIcon="true"
                                                  showButtonBar="true"
                                                  mask="true"
                                                  timeInput="true" 
                                                  required="true" />
                                </div>

                                <div class="p-col-12 restrict-data-field-label-vertical">

                                    <p:outputLabel for="inspection-search-date-relative-ctl" 
                                                   value="Relative dates"
                                                   styleClass="datum-label"/>

                                    <p:selectBooleanCheckbox id="inspection-search-date-relative-ctl" 
                                                             value="#{sessionInspectionConductor.searchParamsSelected.date_relativeDates_ctl}" 
                                                             disabled="#{!sessionInspectionConductor.searchParamsSelected.date_startEnd_ctl}" 
                                                             style="margin-left: 8px;">
                                        <p:ajax update="inspection-search-date-end-val
                                                inspection-search-date-start-val
                                                inspection-search-date-end-val
                                                inspection-search-date-relative-start-val
                                                inspection-search-date-relative-end-val" />
                                    </p:selectBooleanCheckbox>
                                </div>

                                <div class="p-col-12 restrict-data-field-label-vertical">
                                    <p:outputLabel for="inspection-search-date-relative-start-val" 
                                                   value="start date # days from today (negative values count into past)"/>
                                </div>
                                <div class="p-col-12 restrict-data-field-value-vertical">
                                    <p:inputText id="inspection-search-date-relative-start-val" 
                                                 value="#{sessionInspectionConductor.searchParamsSelected.date_relativeDates_start_val}" 
                                                 disabled="#{!(sessionInspectionConductor.searchParamsSelected.date_startEnd_ctl and sessionInspectionConductor.searchParamsSelected.date_relativeDates_ctl)}" />
                                    <h:message for="inspection-search-date-relative-start-val" showDetail="false" showSummary="true" 
                                               warnClass="msgWarn" infoClass="msgInfo" fatalClass="msgFatal" errorClass="msgError" />
                                </div>

                                <div class="p-col-12 restrict-data-field-label-vertical">
                                    <p:outputLabel for="inspection-search-date-relative-end-val" 
                                                   value="end date # days from today (negative values count into past)"/>
                                </div>
                                <div class="p-col-12 restrict-data-field-value-vertical">
                                    <p:inputText id="inspection-search-date-relative-end-val" 
                                                 value="#{sessionInspectionConductor.searchParamsSelected.date_realtiveDates_end_val}" 
                                                 disabled="#{!(sessionInspectionConductor.searchParamsSelected.date_startEnd_ctl and sessionInspectionConductor.searchParamsSelected.date_relativeDates_ctl)}" />
                                    <h:message for="inspection-search-date-relative-end-val" showDetail="false" showSummary="true" 
                                               warnClass="msgWarn" infoClass="msgInfo" fatalClass="msgFatal" errorClass="msgError" />
                                </div>
                            </div>
                        </div>
                    </div>
                </f:subview>        


                <f:subview id="inspectionsearch-param-subview-user"
                           rendered="#{sessionInspectionConductor.searchParamsSelected.user_ctl or sessionInspectionConductor.querySelected.queryName.showAllControls}">
                    <div class="p-grid">
                        <div class="p-col-12">
                            <p:divider style="solid" />
                        </div>
                        <div class="p-lg-4 p-md-6 p-sm-12 restrict-data-field-label-inline">
                            <p:outputLabel for="inspection-search-filter-user-ctl" 
                                           value="User filter"/>

                            <p:selectBooleanCheckbox id="inspection-search-filter-user-ctl" 
                                                     value="#{sessionInspectionConductor.searchParamsSelected.user_ctl}"
                                                     disabled="#{!(sessionInspectionConductor.searchParamsSelected.user_rtMin.rank lt systemServicesBB.bbSessionUser.keyCard.governingAuthPeriod.role.rank)}"
                                                     style="margin-left: 8px;">
                                <p:ajax update="inspection-search-filter-user-som
                                        inspection-search-user-field-val" />
                            </p:selectBooleanCheckbox>

                        </div>
                        <div class="p-lg-8 p-md-8 p-sm-12 restrict-data-field-value-inline">

                            <p:selectOneMenu  id="inspection-search-user-field-val" 
                                              tabindex="1" 
                                              value="#{sessionInspectionConductor.searchParamsSelected.user_field}"
                                              disabled="#{!sessionInspectionConductor.searchParamsSelected.user_ctl}"
                                              converter="userFieldConverter">
                                <f:selectItem itemLabel="select a user field..." 
                                              noSelectionOption="true" 
                                              itemDisabled="true"/>
                                <f:selectItems id="inspection-search-user-field-val-items" 
                                               value="#{sessionInspectionConductor.searchParamsSelected.userFieldList}" 
                                               var="uf" itemValue="#{uf}" itemLabel="#{uf.title}" />
                            </p:selectOneMenu>
                            <p:selectOneMenu id="inspection-search-filter-user-som" required="false" 
                                             value="#{sessionInspectionConductor.searchParamsSelected.user_val}"
                                             disabled="#{!sessionInspectionConductor.searchParamsSelected.user_ctl}">
                                <f:selectItem itemLabel="select a user..." noSelectionOption="true" />
                                <f:selectItems value="#{systemServicesBB.userListForSearch}"  var="u" itemValue="#{u}" 
                                               itemLabel="#{u.human.name} (username:#{u.username})"/>
                                <f:converter converterId="userConverter"/>
                            </p:selectOneMenu>
                        </div>
                    </div>
                </f:subview>  

                <f:subview id="inspectionsearch-param-subview-resultcap"
                           rendered="#{sessionInspectionConductor.searchParamsSelected.limitResultCount_ctl or sessionInspectionConductor.querySelected.queryName.showAllControls}">
                    <div class="p-grid">
                        <div class="p-col-12">
                            <p:divider style="solid" />
                        </div>
                        <div class="p-lg-4 p-md-6 p-sm-12 restrict-data-field-label-inline">
                            <p:outputLabel id="inspection-query-limit-ol" 
                                           for="inspection-query-limit" 
                                           value="limit results"/>
                            <p:selectBooleanCheckbox id="inspection-query-limit" 
                                                     value="#{sessionInspectionConductor.searchParamsSelected.limitResultCount_ctl}" 
                                                     style="margin-left: 8px;">
                                <p:ajax update="inspection-filter-limit-it" />
                            </p:selectBooleanCheckbox>

                        </div>
                        <div class="p-lg-8 p-md-8 p-sm-12 restrict-data-field-value-inline">

                            <p:inputText id="inspection-filter-limit-it"
                                         type="number"
                                         value="#{sessionInspectionConductor.searchParamsSelected.limitResultCount_val}"
                                         disabled="#{!sessionInspectionConductor.searchParamsSelected.limitResultCount_ctl}"/>
                            <h:message for="inspection-filter-limit-it" showDetail="false" showSummary="true"
                                       warnClass="msgWarn" infoClass="msgInfo" fatalClass="msgFatal" errorClass="msgError" />
                        </div>
                    </div>
                </f:subview>

                <f:subview id="inspectionsearch-param-subview-determination"
                           rendered="#{sessionInspectionConductor.searchParamsSelected.determination_ctl or sessionInspectionConductor.querySelected.queryName.showAllControls}">
                    <div class="p-grid">
                        <div class="p-col-12">
                            <p:divider style="solid" />
                        </div>
                        <div class="p-lg-4 p-md-6 p-sm-12 restrict-data-field-label-inline">
                            <p:outputLabel for="inspection-search-filter-determination-ctl" 
                                           value="filter by finalized"/>


                            <p:selectBooleanCheckbox id="inspection-search-filter-determination-ctl" 
                                                     value="#{sessionInspectionConductor.searchParamsSelected.determination_ctl}"
                                                     style="margin-left: 8px;">
                                <p:ajax update="inspection-search-filter-determination-val" />
                            </p:selectBooleanCheckbox>

                        </div>
                        <div class="p-lg-8 p-md-8 p-sm-12 restrict-data-field-value-inline">
                            <p:outputLabel for="inspection-search-filter-determination-val" 
                                           value="is finalized"/>
                            <p:selectBooleanCheckbox id="inspection-search-filter-determination-val" 
                                                     value="#{sessionInspectionConductor.searchParamsSelected.determination_val}"
                                                     disabled="#{!sessionInspectionConductor.searchParamsSelected.determination_ctl}"
                                                     style="margin-left: 8px;">
                            </p:selectBooleanCheckbox>
                        </div>
                    </div>
                </f:subview>  

                <f:subview id="inspectionsearch-param-subview-reinspection"
                           rendered="#{sessionInspectionConductor.searchParamsSelected.reinspection_ctl or sessionInspectionConductor.querySelected.queryName.showAllControls}">
                    <div class="p-grid">
                        <div class="p-col-12">
                            <p:divider style="solid" />
                        </div>
                        <div class="p-lg-4 p-md-6 p-sm-12 restrict-data-field-label-inline">
                            <p:outputLabel for="inspection-search-filter-reinspection-ctl" 
                                           value="filter by reinspection"/>


                            <p:selectBooleanCheckbox id="inspection-search-filter-reinspection-ctl" 
                                                     value="#{sessionInspectionConductor.searchParamsSelected.reinspection_ctl}"
                                                     style="margin-left: 8px;">
                                <p:ajax update="inspection-search-filter-reinspection-val" />
                            </p:selectBooleanCheckbox>



                        </div>
                        <div class="p-lg-8 p-md-8 p-sm-12 restrict-data-field-value-inline">
                            <p:outputLabel for="inspection-search-filter-reinspection-val" 
                                           value="is reinspected"/>
                            <p:selectBooleanCheckbox id="inspection-search-filter-reinspection-val" 
                                                     value="#{sessionInspectionConductor.searchParamsSelected.reinspection_val}"
                                                     disabled="#{!sessionInspectionConductor.searchParamsSelected.reinspection_ctl}"
                                                     style="margin-left: 8px;">
                            </p:selectBooleanCheckbox>
                        </div>
                    </div>
                </f:subview>

                <f:subview id="inspectionsearch-param-subview-dt-qualifies"
                           rendered="#{sessionInspectionConductor.searchParamsSelected.dt_qualifies_ctl or sessionInspectionConductor.querySelected.queryName.showAllControls}">
                    <div class="p-grid">
                        <div class="p-col-12">
                            <p:divider style="solid" />
                        </div>
                        <div class="p-lg-4 p-md-6 p-sm-12 restrict-data-field-label-inline">
                            <p:outputLabel for="inspection-search-filter-dt-qualifies-ctl" 
                                           value="filter by determination status"/>


                            <p:selectBooleanCheckbox id="inspection-search-filter-dt-qualifies-ctl" 
                                                     value="#{sessionInspectionConductor.searchParamsSelected.dt_qualifies_ctl}"
                                                     style="margin-left: 8px;">
                                <p:ajax update="inspection-search-filter-dt-qualifies-val" />
                            </p:selectBooleanCheckbox>



                        </div>
                        <div class="p-lg-8 p-md-8 p-sm-12 restrict-data-field-value-inline">
                            <p:outputLabel for="inspection-search-filter-dt-qualifies-val" 
                                           value="is pass"/>
                            <p:selectBooleanCheckbox id="inspection-search-filter-dt-qualifies-val" 
                                                     value="#{sessionInspectionConductor.searchParamsSelected.dt_qualifies_val}"
                                                     disabled="#{!sessionInspectionConductor.searchParamsSelected.dt_qualifies_ctl}"
                                                     style="margin-left: 8px;">
                            </p:selectBooleanCheckbox>
                        </div>
                    </div>
                </f:subview> 

                <f:subview id="inspectionsearch-param-subview-fieldinit"
                           rendered="#{sessionInspectionConductor.searchParamsSelected.fieldInit_ctl or sessionInspectionConductor.querySelected.queryName.showAllControls}">
                    <div class="p-grid">
                        <div class="p-col-12">
                            <p:divider style="solid" />
                        </div>
                        <div class="p-lg-4 p-md-6 p-sm-12 restrict-data-field-label-inline">
                            <p:outputLabel for="inspection-search-filter-fieldinit-ctl" 
                                           value="filter by field-initiated inspections"/>


                            <p:selectBooleanCheckbox id="inspection-search-filter-fieldinit-ctl" 
                                                     value="#{sessionInspectionConductor.searchParamsSelected.fieldInit_ctl}"
                                                     style="margin-left: 8px;">
                                <p:ajax update="inspection-search-filter-fieldinit-val
                                        inspection-search-filter-fieldinit-nonnullloc-val" />
                            </p:selectBooleanCheckbox>



                        </div>
                        <div class="p-lg-8 p-md-8 p-sm-12 restrict-data-field-value-inline">
                            <p:outputLabel for="inspection-search-filter-fieldinit-val" 
                                           value="is initated in the field"/>
                            <p:selectBooleanCheckbox id="inspection-search-filter-fieldinit-val" 
                                                     value="#{sessionInspectionConductor.searchParamsSelected.fieldInitMuniOccPeriod_val}"
                                                     disabled="#{!sessionInspectionConductor.searchParamsSelected.fieldInit_ctl}"
                                                     style="margin-left: 8px;">
                            </p:selectBooleanCheckbox>
                            <p:spacer height="3px" />
                            <p:outputLabel for="inspection-search-filter-fieldinit-nonnullloc-val" 
                                           value="has location info filled in"/>
                            <p:selectBooleanCheckbox id="inspection-search-filter-fieldinit-nonnullloc-val" 
                                                     value="#{sessionInspectionConductor.searchParamsSelected.fieldInitNonNullLocDescr_val}"
                                                     disabled="#{!sessionInspectionConductor.searchParamsSelected.fieldInit_ctl}"
                                                     style="margin-left: 8px;">
                            </p:selectBooleanCheckbox>
                        </div>
                    </div>
                </f:subview> 

                <f:subview id="inspectionsearch-param-routing"
                           rendered="#{sessionInspectionConductor.searchParamsSelected.fieldRoutingStatus_ctl or sessionInspectionConductor.querySelected.queryName.showAllControls}">
                    <div class="p-grid">
                        <div class="p-col-12">
                            <p:divider style="solid" />
                        </div>
                        <div class="p-lg-4 p-md-6 p-sm-12 restrict-data-field-label-inline">
                            <p:outputLabel for="inspection-search-filter-fieldinit-routing-ctl" 
                                           value="filter by field initiated routing status"/>


                            <p:selectBooleanCheckbox id="inspection-search-filter-fieldinit-routing-ctl" 
                                                     value="#{sessionInspectionConductor.searchParamsSelected.fieldRoutingStatus_ctl}"
                                                     style="margin-left: 8px;">
                                <p:ajax update="inspection-search-filter-fieldinit-routing-val" />
                            </p:selectBooleanCheckbox>
                        </div>
                        <div class="p-lg-8 p-md-8 p-sm-12 restrict-data-field-value-inline">
                            <p:outputLabel for="inspection-search-filter-fieldinit-routing-val" 
                                           value="has been routed to a proper home"/>
                            <p:selectBooleanCheckbox id="inspection-search-filter-fieldinit-routing-val" 
                                                     value="#{sessionInspectionConductor.searchParamsSelected.fieldRoutingStatusRouted_val}"
                                                     disabled="#{!sessionInspectionConductor.searchParamsSelected.fieldRoutingStatus_ctl}"
                                                     style="margin-left: 8px;">
                            </p:selectBooleanCheckbox>
                        </div>
                    </div>
                </f:subview>   
                
                <f:subview id="inspectionsearch-param-dispatch-active"
                           rendered="#{sessionInspectionConductor.searchParamsSelected.fieldDispatch_ctl or sessionInspectionConductor.querySelected.queryName.showAllControls}">
                    <div class="p-grid">
                        <div class="p-col-12">
                            <p:divider style="solid" />
                        </div>
                        <div class="p-lg-4 p-md-6 p-sm-12 restrict-data-field-label-inline">
                            <p:outputLabel for="inspection-search-filter-dispatch-ctl" 
                                           value="filter by dispatch status?"/>
                            <p:selectBooleanCheckbox id="inspection-search-filter-dispatch-ctl" 
                                                     value="#{sessionInspectionConductor.searchParamsSelected.fieldDispatch_ctl}"
                                                     style="margin-left: 8px;">
                                <p:ajax update="inspection-search-filter-dispatch-retrieved-ctl" />
                                <p:ajax update="inspection-search-filter-dispatch-retrieved-val" />
                                <p:ajax update="inspection-search-filter-dispatch-synced-ctl" />
                                <p:ajax update="inspection-search-filter-dispatch-synced-val" />
                            </p:selectBooleanCheckbox>
                        </div>
                        <div class="p-lg-8 p-md-8 p-sm-12 restrict-data-field-value-inline">
                            <p:outputLabel for="inspection-search-filter-dispatch-retrieved-ctl" 
                                           value="filter by mobile device retrieval?"/>
                            <p:selectBooleanCheckbox id="inspection-search-filter-dispatch-retrieved-ctl" 
                                                     value="#{sessionInspectionConductor.searchParamsSelected.fieldDispatchRetrievedByMobile_ctl}"
                                                     disabled="#{!sessionInspectionConductor.searchParamsSelected.fieldDispatch_ctl}"
                                                     style="margin-left: 8px;">
                                <p:ajax update="inspection-search-filter-dispatch-retrieved-val" />
                            </p:selectBooleanCheckbox>
                            <p:spacer height="3px" />
                            <p:outputLabel for="inspection-search-filter-dispatch-retrieved-val" 
                                           value="has been retrieved by field user"/>
                            <p:selectBooleanCheckbox id="inspection-search-filter-dispatch-retrieved-val" 
                                                     value="#{sessionInspectionConductor.searchParamsSelected.fieldDispatchRetrievedByMobile_val}"
                                                     disabled="#{not sessionInspectionConductor.searchParamsSelected.fieldDispatch_ctl or not sessionInspectionConductor.searchParamsSelected.fieldDispatchRetrievedByMobile_ctl}"
                                                     style="margin-left: 8px;">
                            </p:selectBooleanCheckbox>
                            <p:divider type="dashed" />
                            <p:outputLabel for="inspection-search-filter-dispatch-synced-ctl" 
                                           value="filter by uploaded status?"/>
                            <p:selectBooleanCheckbox id="inspection-search-filter-dispatch-synced-ctl" 
                                                     value="#{sessionInspectionConductor.searchParamsSelected.fieldDispatchCycleComplete_ctl}"
                                                     disabled="#{!sessionInspectionConductor.searchParamsSelected.fieldDispatch_ctl}"
                                                     style="margin-left: 8px;">
                                <p:ajax update="inspection-search-filter-dispatch-synced-val" />
                            </p:selectBooleanCheckbox>
                            <p:spacer height="3px" />
                            <p:outputLabel for="inspection-search-filter-dispatch-synced-val" 
                                           value="has been uploaded back to server"/>
                            <p:selectBooleanCheckbox id="inspection-search-filter-dispatch-synced-val" 
                                                     value="#{sessionInspectionConductor.searchParamsSelected.fieldDispatchCycleComplete_val}"
                                                     disabled="#{not sessionInspectionConductor.searchParamsSelected.fieldDispatch_ctl or not sessionInspectionConductor.searchParamsSelected.fieldDispatchCycleComplete_ctl}"
                                                     style="margin-left: 8px;">
                            </p:selectBooleanCheckbox>
                        </div>
                    </div>
                </f:subview>   
                
                <f:subview id="inspectionsearch-param-subview-active"
                           rendered="#{sessionInspectionConductor.searchParamsSelected.active_ctl or sessionInspectionConductor.querySelected.queryName.showAllControls}">
                    <div class="p-grid">
                        <div class="p-col-12">
                            <p:divider style="solid" />
                        </div>
                        <div class="p-lg-4 p-md-6 p-sm-12 restrict-data-field-label-inline">
                            <p:outputLabel for="inspection-search-filter-active-ctl" 
                                           value="filter by active"/>


                            <p:selectBooleanCheckbox id="inspection-search-filter-active-ctl" 
                                                     value="#{sessionInspectionConductor.searchParamsSelected.active_ctl}"
                                                     style="margin-left: 8px;">
                                <p:ajax update="inspection-search-filter-active-val" />
                            </p:selectBooleanCheckbox>



                        </div>
                        <div class="p-lg-8 p-md-8 p-sm-12 restrict-data-field-value-inline">
                            <p:outputLabel for="inspection-search-filter-active-val" 
                                           value="is active"/>
                            <p:selectBooleanCheckbox id="inspection-search-filter-active-val" 
                                                     value="#{sessionInspectionConductor.searchParamsSelected.active_val}"
                                                     disabled="#{!sessionInspectionConductor.searchParamsSelected.active_ctl}"
                                                     style="margin-left: 8px;">
                            </p:selectBooleanCheckbox>
                        </div>
                    </div>
                </f:subview>   

            </p:panel>
        </h:form>

        <h:form id="inspection-list-form">
            <div class="p-grid">

                <div class="p-col-12">
                    <h:outputText   id="inspectionlist-size-ot"
                                    value="listing #{sessionInspectionConductor.sessFieldInspectionResultList.size()} field inspections" />

                    <h:outputText value=" | " />

                    <p:commandLink   id="inspection-search-clear-button" 
                                     ajax="true" 
                                     actionListener="#{sessionInspectionConductor.clearFieldInspectionList}"
                                     disabled="false"
                                     styleClass="button"
                                     style="font-weight: bold; color:blue;"
                                     value="clear results list" 
                                     update="@form
                                     inspections-growl-form" />
                </div>
            </div>

            <p:spacer height="5px" />

            <p:dataTable
                id="field-inspections-table"
                value="#{sessionInspectionConductor.sessFieldInspectionResultList}"
                rendered="true"
                var="inspection"
                rowKey="#{inspection.inspectionID}"
                tableStyleClass="primeDataTable"
                resizableColumns="true"
                widgetVar="inspections-table-var"
                scrollable="true" 
                reflow="true"
                >
                  <p:column headerText="Parent"
                          style="width:4%;"
                          sortBy="#{inspection.domainEnum.title}">
                      <i class="material-icons">
                        <h:outputText value="#{inspection.domainEnum.materialIcon}" />
                      </i>
                </p:column>
                <p:column headerText="Location"
                          style="width:20%;"
                          sortBy="#{inspection.parentPropertyAddress1Line}">
                    <div class="restrict-main-contents-io-link">
                        <p:commandLink id="fin-prop-nav-cl"
                                       action="#{sessionInspectionConductor.onNavigateToFINProperty(inspection)}"
                                       ajax="false">
                            <h:outputText value="#{inspection.parentPropertyAddress1Line}"
                                          escape="false"/>
                        </p:commandLink>
                    </div>
                    <p:spacer height="2px" />
                    <h:outputText value="#{inspection.containingCECaseOccPeriodDescription}" />
                    <p:spacer height="2px" />
                    
                    
                </p:column>
                <p:column headerText="Date"
                          style="width:12%;"
                          sortBy="#{inspection.effectiveDateOfRecord}">
                    <h:outputText value="#{sessionInspectionConductor.getPrettyLocalDate(inspection.inspectionDate)}" />
                </p:column>
                <p:column headerText="Inspector"
                          style="width:10%;"
                          sortBy="#{inspection.inspector.human.name}">
                    <h:outputText value="#{inspection.inspector.human.name}" />
                </p:column>
                <p:column headerText="Determination"
                          style="width:15%;">
                    <h:outputText id="dispatch-ot"
                                  value="dispatched to handheld computer field application"
                                  rendered="#{!empty inspection.dispatch and (empty inspection.dispatch.synchronizationTS and (empty inspection.dispatch.deactivatedTS))}" />
                    <p:spacer height="3px" />
                    <h:outputText id="followup-to-ot"
                                  value="Follow-up to inspection ID #{inspection.followUpToInspectionID}"
                                  rendered="#{inspection.followUpToInspectionID ne 0}" />
                    <p:spacer height="3px" />
                    <h:outputText value="#{empty inspection.determination ? '(in process)':inspection.determination.title}" />
                </p:column>
                <p:column headerText="Actions"
                          style="width:15%;">
                    <div class="restrict-main-contents-io-link">
                        <p:commandLink      id="view-parentobject-cl"
                                            ajax="false"
                                            action="#{sessionInspectionConductor.onInspectionViewParentObject(inspection)}"
                                            rendered="true"
                                            value="view #{inspection.domainEnum.title}"
                                            update="inspections-growl-form"/>
                    </div>
                    <p:spacer height="2px"/>
                    <h:outputText value="(ID: #{inspection.inspectionID})" />
                </p:column>
            </p:dataTable>
        </h:form>
        <p:dialog   id="inspection-search-log-dialog"
                    header="Field Inspection search log" 
                    widgetVar="inspection-search-log-dialog-var"
                    responsive="true"
                    closable="true"
                    closeOnEscape="true"
                    width="60%">
            <h:form id="inspection-search-log-form">

                <h:outputText id="inspection-search-log-ot" 
                              value="#{sessionInspectionConductor.querySelected.queryLog}"
                              escape="false"/>
            </h:form>

        </p:dialog>
    </p:panel>
</ui:composition>