<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <link rel="stylesheet" type="text/css" href="css/style.css"></link>
        <title>Technical reference</title>
    </h:head>
    <h:body>
        <ui:composition template="./../../../navContainer_public.xhtml">
            <ui:define name="content">
                <f:view id="docHomeView">

                    <!-- MAIN CONTAINER -->
                    <div class="mainContainer">

                        <!-- TITLE COMPONENT -->
                        <div class="public-title">
                            <div class="public-title-main">
                                For Developers
                            </div>
                        </div>

                        <!-- CONTENTS CONTAINER -->
                        <div class="public-main-contents-containner">

                            <!--CONTENT MAIN COMPONENT -->
                            <div class="public-main-contents">

                                <!-- GUIDANCE COMPONENT -->
                                <div class="public-guide">

                                </div>

                                <!-- CONTENT IO COMPONENT -->
                                <div class="public-main-contents-io public-main-contents-login">

                                    <h:graphicImage styleClass="public-login-logo" value="/images/login-logo.png" />

                                    <div class="publi-login-container">
                                        <div class="public-login-text">
                                            <div class="public-main-contents-title">
                                                Github Pages Documentation:
                                            </div>

                                            <p>The most current system documentation is evolving and <span class="bold"><a href="https://technologyrediscovery.github.io/codenforce/" style="color:darkblue;">rooted at master/docs</a></span> 
                                                in our project's <span class="bold"><a href="https://gitlab.com/echocharliedelta/codenforce" style="color:darkblue;">official GitHub repository</a></span>
                                            </p>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        
                    </div>
                </f:view>
                <script>
                    var y = document.getElementById('public-fordeveloper-arrow-id');
                    y.className += " public-menu-active";
                </script> 
            </ui:define>
        </ui:composition>
    </h:body>
</html>

