<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <h:head>
        <link rel="stylesheet" type="text/css" href="css/style.css"></link>
        <title>Add Fee</title>
    </h:head>

    <h:body id="feeManageBody">

        <ui:composition template="../../navContainer_restricted.xhtml">
            <ui:define name="content">
                <f:view >

                    <p:outputPanel id="body-panel">
                        <h1>Fee Record Configuration Tool (dev)</h1>
                        <p>View, create, and manage fees</p>

                        <h2>Recorded 
                            <p:outputLabel rendered="#{feeManagementBB.redirected}" value="#{feeManagementBB.currentDomain}"/>
                            Fees 
                            <p:outputLabel rendered="#{feeManagementBB.editingOccPeriod()}" value="At #{feeManagementBB.occPeriodAddress}"/>
                            <p:outputLabel rendered="#{feeManagementBB.editingCECase()}" value="At #{feeManagementBB.CECaseAddress}"/>
                        </h2>

                        <h:form id="form-messages-global">
                            <p:messages id="messages-global" globalOnly="true" showDetail="true" showSummary="true" />
                        </h:form>

                        <h:form>

                            <p:commandButton ajax="false"
                                             action="#{feeManagementBB.finishAndRedir()}"
                                             value="Finish editing fee list and return."
                                             />
                            <p:commandButton ajax="false"
                                             action="#{feeManagementBB.goToFeePermissions()}"
                                             value="Edit fee permissions"
                                             />
                            <p:commandButton ajax="false"
                                             action="#{feeManagementBB.goToFeeTypes()}"
                                             value="Manage fee types"
                                             />

                        </h:form>

                        <div class="mainContainer">

                            <div class ="two-column-page-flex-container">

                                <div class="list-column" >

                                    <h:form id="mode-form">

                                        <p:selectOneButton style="width: 100%; margin-top: 10px ; height: 20px;"
                                                           value="#{feeManagementBB.currentMode}" 
                                                           >
                                            <f:selectItem itemLabel="LOOKUP" itemValue="Lookup"  />
                                            <f:selectItem itemLabel="INSERT" itemValue="Insert"  />
                                            <f:selectItem itemLabel="UPDATE" itemValue="Update"  />
                                            <f:selectItem itemLabel="WAIVE" itemValue="Remove"  />

                                            <f:ajax render="@all"/>

                                        </p:selectOneButton> 

                                    </h:form>

                                    <p:spacer height="30px"/>

                                    <p:scrollPanel style="height: 550px; border: none" >


                                        <h:form id="feeManage-form-side">

                                            <p:dataTable id="feeAssignedTable"
                                                         value="#{feeManagementBB.feeAssignedList}"
                                                         rendered="#{!empty feeManagementBB.feeAssignedList}"
                                                         var="fee"
                                                         rowKey="#{fee.assignedFeeID}"
                                                         tableStyleClass="primeDataTable"
                                                         >


                                                <p:column headerText="ID"
                                                          styleClass="centeredColumnContent">
                                                    <h:outputText value="#{fee.assignedFeeID}"/>
                                                </p:column>


                                                <p:column headerText="Fee Name"
                                                          styleClass="centeredColumnContent"
                                                          sortBy="#{fee.fee.name}"
                                                          filterBy="#{fee.fee.name}">
                                                    <h:outputText value="#{fee.fee.name}"/>
                                                </p:column>


                                                <p:column headerText="Amount"
                                                          styleClass="centeredColumnContent"
                                                          sortBy="#{fee.fee.amount}"
                                                          filterBy="#{fee.fee.amount}">
                                                    <h:outputText value="#{fee.fee.amount}"/>
                                                </p:column>

                                                <p:column styleClass="centeredColumnContent"
                                                          style="width: 80px">

                                                    <p:selectBooleanButton onLabel="Deselect" 
                                                                           offLabel="Select"
                                                                           styleClass="selectButton" 
                                                                           value="#{feeManagementBB.currentFeeSelected}"
                                                                           disabled="#{feeManagementBB.getSelectedButtonActive()}"
                                                                           >

                                                        <p:ajax update="
                                                                form-messages-global
                                                                feeManage-form-side
                                                                feeManage-panel"
                                                                listener="#{feeManagementBB.onAssignedFeeSelectedButtonChange(fee)}"/>

                                                    </p:selectBooleanButton>

                                                </p:column>

                                            </p:dataTable>

                                            <p:spacer height="10px"/>

                                        </h:form>

                                    </p:scrollPanel>

                                </div>



                                <div class ="object-column">

                                    <p:outputPanel id = "feeManage-panel" >

                                        <!--LookUp Table-->
                                        <p:panel id="feeManage-panel-lookup"
                                                 toggleable="true"
                                                 collapsed="false"
                                                 header="LookUp Panel"
                                                 rendered="#{feeManagementBB.getActiveLookupMode()}"
                                                 >

                                            <p:spacer height="10px"/>

                                            <h:form id="feeManage-form-lookup">

                                                <h:panelGrid columns="4" 
                                                             columnClasses="gridTd, gridTd, gridTd, gridTd" 
                                                             >

                                                    <h:panelGroup>
                                                        <p:outputLabel value="ID:"/>
                                                        <p:spacer height="5px"/>
                                                        <div class="FeeReadTableOutputLabel">
                                                            <p:outputLabel value="&#160;#{feeManagementBB.selectedAssignedFee.assignedFeeID}"/>
                                                        </div>
                                                        <p:spacer height="10px"/>
                                                    </h:panelGroup>

                                                    <h:panelGroup>
                                                        <p:outputLabel value="Fee Name:"/>
                                                        <p:spacer height="5px"/>
                                                        <div class="FeeReadTableOutputLabel">
                                                            <p:outputLabel value="&#160;#{feeManagementBB.selectedAssignedFee.fee.name}"/>
                                                        </div>
                                                        <p:spacer height="10px"/>
                                                    </h:panelGroup>

                                                    <h:panelGroup>
                                                        <p:outputLabel value="Amount:"/>
                                                        <p:spacer height="5px"/>
                                                        <div class="FeeReadTableOutputLabel">
                                                            <p:outputLabel value="&#160;#{feeManagementBB.selectedAssignedFee.fee.amount}"/>
                                                        </div>
                                                        <p:spacer height="10px"/>
                                                    </h:panelGroup>

                                                    <h:panelGroup>
                                                        <p:outputLabel value="Effective:"/>
                                                        <p:spacer height="5px"/>
                                                        <div class="FeeReadTableOutputLabel">
                                                            <p:outputLabel value="&#160;#{feeManagementBB.selectedAssignedFee.fee.effectiveDate}"/>
                                                        </div>
                                                        <p:spacer height="10px"/>
                                                    </h:panelGroup>

                                                    <h:panelGroup>
                                                        <p:outputLabel value="Expiry:"/>
                                                        <p:spacer height="5px"/>
                                                        <div class="FeeReadTableOutputLabel">
                                                            <p:outputLabel value="&#160;#{feeManagementBB.selectedAssignedFee.fee.expiryDate}"/>
                                                        </div>
                                                        <p:spacer height="10px"/>
                                                    </h:panelGroup>

                                                    <h:panelGroup>
                                                        <p:outputLabel value="Fee Notes:"/>
                                                        <p:spacer height="5px"/>
                                                        <div class="FeeReadTableOutputLabel">
                                                            <p:outputLabel value="&#160;#{feeManagementBB.selectedAssignedFee.fee.notes}"/>
                                                        </div>
                                                        <p:spacer height="10px"/>
                                                    </h:panelGroup>

                                                    <h:panelGroup>
                                                        <p:outputLabel value="Assigned By:"/>
                                                        <p:spacer height="5px"/>
                                                        <div class="FeeReadTableOutputLabel">
                                                            <p:outputLabel value="&#160;#{feeManagementBB.selectedAssignedFee.assignedBy.person.firstName} #{feeManagementBB.selectedAssignedFee.assignedBy.person.lastName} (ID: #{feeManagementBB.selectedAssignedFee.assignedBy.userID})"/>
                                                        </div>
                                                        <p:spacer height="10px"/>
                                                    </h:panelGroup>

                                                    <h:panelGroup>
                                                        <p:outputLabel value="Last Modified:"/>
                                                        <p:spacer height="5px"/>
                                                        <div class="FeeReadTableOutputLabel">
                                                            <p:outputLabel value="&#160;#{feeManagementBB.selectedAssignedFee.lastModified}"/>
                                                        </div>
                                                        <p:spacer height="10px"/>
                                                    </h:panelGroup>

                                                    <h:panelGroup>
                                                        <p:outputLabel value="Other Notes:"/>
                                                        <p:spacer height="5px"/>
                                                        <div class="FeeReadTableOutputLabel">
                                                            <p:outputLabel value="&#160;#{feeManagementBB.selectedAssignedFee.notes}"/>
                                                        </div>
                                                        <p:spacer height="10px"/>
                                                    </h:panelGroup>

                                                    <h:panelGroup rendered="#{not empty feeManagementBB.selectedAssignedFee.reducedByUser}">
                                                        <p:outputLabel value="Amount Reduced by:"/>
                                                        <p:spacer height="5px"/>
                                                        <div class="FeeReadTableOutputLabel">
                                                            <p:outputLabel value="&#160; $#{feeManagementBB.selectedAssignedFee.reducedBy}"/>
                                                        </div>
                                                        <p:spacer height="10px"/>
                                                    </h:panelGroup>

                                                    <h:panelGroup rendered="#{not empty feeManagementBB.selectedAssignedFee.reducedByUser}">
                                                        <p:outputLabel value="Reduced By:"/>
                                                        <p:spacer height="5px"/>
                                                        <div class="FeeReadTableOutputLabel">
                                                            <p:outputLabel value="&#160;#{feeManagementBB.selectedAssignedFee.reducedByUser.person.firstName} #{feeManagementBB.selectedAssignedFee.reducedByUser.person.lastName} (ID: #{feeManagementBB.selectedAssignedFee.reducedByUser.userID})"/>
                                                        </div>
                                                        <p:spacer height="10px"/>
                                                    </h:panelGroup>

                                                    <h:panelGroup>
                                                        <p:outputLabel value="Waived?"/>
                                                        <p:spacer height="5px"/>
                                                        <div class="FeeReadTableOutputLabel">
                                                            <p:outputLabel value="&#160; #{feeManagementBB.isSelectedFeeWaived()}"/>
                                                        </div>
                                                        <p:spacer height="10px"/>
                                                    </h:panelGroup>

                                                    <h:panelGroup rendered="#{not empty feeManagementBB.selectedAssignedFee.waivedBy}">
                                                        <p:outputLabel value="Waived By:"/>
                                                        <p:spacer height="5px"/>
                                                        <div class="FeeReadTableOutputLabel">
                                                            <p:outputLabel value="&#160;#{feeManagementBB.selectedAssignedFee.waivedBy.person.firstName} #{feeManagementBB.selectedAssignedFee.waivedBy.person.lastName} (ID: #{feeManagementBB.selectedAssignedFee.waivedBy.userID})"/>
                                                        </div>
                                                        <p:spacer height="10px"/>
                                                    </h:panelGroup>

                                                </h:panelGrid>

                                            </h:form>

                                        </p:panel>


                                        <!--Insert Table-->
                                        <p:panel id="feeManage-panel-insert"
                                                 toggleable="true"
                                                 collapsed="false"
                                                 header="Insert Panel"
                                                 rendered="#{feeManagementBB.getActiveInsertMode()}"
                                                 >

                                            <p:spacer height="10px"/>

                                            <h:form id="feeManage-form-insert">

                                                <h:panelGroup>
                                                    <p:outputLabel value="Fee to assign:"/>
                                                    <p:spacer height="5px"/>

                                                    <p:dataTable
                                                        id="feeFeeTable"
                                                        value="#{feeManagementBB.feeList}"
                                                        rendered="#{!empty feeManagementBB.feeList}"
                                                        var="o"
                                                        selectionMode="single"
                                                        selection="#{feeManagementBB.selectedAssignedFee.fee}"
                                                        rowKey="#{o.feeID}"
                                                        tableStyleClass="primeDataTable"
                                                        filteredValue="#{feeManagementBB.filteredFeeList}">

                                                        <p:column width="10%">
                                                            <f:facet name="header">
                                                                <h:outputText value="ID" />
                                                            </f:facet>
                                                            <h:outputText value="#{o.feeID}"/>
                                                        </p:column>

                                                        <p:column width="25%">
                                                            <f:facet name="header">
                                                                <h:outputText value="Municipality" />
                                                            </f:facet>
                                                            <h:outputText value="#{o.muni.muniName}"/>
                                                        </p:column>

                                                        <p:column width="25%">
                                                            <f:facet name="header">
                                                                <h:outputText value="Name" />
                                                            </f:facet>
                                                            <h:outputText value="#{o.name}"/>
                                                        </p:column>

                                                        <p:column width="25%">
                                                            <f:facet name="header">
                                                                <h:outputText value="Amount" />
                                                            </f:facet>
                                                            <h:outputText value="#{o.amount}"/>
                                                        </p:column>

                                                        <p:column width="25%">
                                                            <f:facet name="header">
                                                                <h:outputText value="Effective Date" />
                                                            </f:facet>
                                                            <h:outputText value="#{o.effectiveDate}"/>
                                                        </p:column>

                                                        <p:column width="25%">
                                                            <f:facet name="header">
                                                                <h:outputText value="Expire Date" />
                                                            </f:facet>
                                                            <h:outputText value="#{o.expiryDate}"/>
                                                        </p:column>

                                                    </p:dataTable>
                                                    <p:spacer height="10px"/>
                                                </h:panelGroup>

                                                <h:panelGroup rendered="#{feeManagementBB.editingCECase()}">
                                                    <p:dataTable
                                                        id="feeViolationTable"
                                                        value="#{feeManagementBB.violationList}"
                                                        rendered="#{!empty feeManagementBB.violationList}"
                                                        var="v"
                                                        selectionMode="single"
                                                        selection="#{feeManagementBB.selectedViolation}"
                                                        rowKey="#{v.violationID}"
                                                        tableStyleClass="primeDataTable"
                                                        filteredValue="#{feeManagementBB.filteredViolationList}"
                                                        expandedRow="false"
                                                        rowExpandMode="multiple">

                                                        <p:ajax event="rowSelect" update=":feeManage-form-insert:feeFeeTable" listener="#{feeManagementBB.violationSelected(e)}"/>

                                                        <p:column width="2%">
                                                            <p:rowToggler />
                                                        </p:column>


                                                        <p:column width="4%">
                                                            <i class="material-icons"><h:outputText value="#{v.icon.materialIcon}" /></i>
                                                        </p:column>


                                                        <p:column width="6%" sortBy="#{v.status.label}">
                                                            <f:facet name="header">
                                                                <h:outputText value="Status" />
                                                            </f:facet>
                                                            <h:outputText id="violation-status-ot" value="#{v.status.label}"/>
                                                        </p:column>

                                                        <p:column width="12%">
                                                            <f:facet name="header">
                                                                <h:outputText value="Ordinance" />
                                                            </f:facet>
                                                            <div class="rowExpansion">

                                                                <h:outputText id="violation-compactlist-line-ot-resolved" value="#{v}"/>
                                                            </div>
                                                        </p:column>
                                                        <p:column width="10%">
                                                            <f:facet name="header">
                                                                <h:outputText value="Stip Comp Date" />
                                                            </f:facet>
                                                            <h:outputText value="#{v.stipulatedComplianceDatePretty}"/>
                                                        </p:column>
                                                        <p:column width="5%">
                                                            <f:facet name="header">
                                                                <h:outputText value="Days left" />
                                                            </f:facet>
                                                            <h:outputText value="#{empty v.actualComplianceDate ? v.daysUntilStipulatedComplianceDate: null}"/>

                                                        </p:column>

                                                        <p:rowExpansion>
                                                            <div class="outlinedBox">
                                                                <h:outputLabel styleClass="bold" value="Violation ID: "  />
                                                                <h:outputText  value="#{v.violationID}" />
                                                                <p:spacer height="5px" />
                                                                <h:outputLabel styleClass="bold" value="Ordindance: "  />
                                                                <p:spacer height="5px" />
                                                                <h:outputLabel value="#{v.violatedEnfElement.source.sourceName} 
                                                                               (#{v.violatedEnfElement.source.sourceYear}), " />
                                                                <h:outputText  value="Ch. #{v.violatedEnfElement.ordchapterNo}:" />
                                                                <h:outputText  value="#{v.violatedEnfElement.ordchapterTitle}" />
                                                                <p:spacer height="2px" />

                                                                <h:outputText  value="&#167;#{v.violatedEnfElement.ordSecNum}:" />
                                                                <h:outputText  value="#{v.violatedEnfElement.ordSecTitle}; " />
                                                                <h:outputText  value="&#167;&#167;#{v.violatedEnfElement.ordSubSecNum} " />
                                                                <h:outputText  value="#{v.violatedEnfElement.ordSubSecTitle}" />

                                                                <p:spacer height="2px" />

                                                                <h:panelGrid    id="violation-ord-fulltext-pg" columns="1" columnClasses="gridTd" 
                                                                                rendered="true">
                                                                    <h:panelGroup>
                                                                        <h:outputLabel styleClass="bold" value="Full ordinance text: "/>
                                                                        <div class="ord-text">
                                                                            <h:outputText value="#{v.violatedEnfElement.ordTechnicalText}"/>
                                                                        </div>
                                                                    </h:panelGroup>

                                                                </h:panelGrid>
                                                                <p:spacer height="5px"/>
                                                                <h:outputLabel styleClass="bold" value="Description of violation: "/>
                                                                <h:outputText styleClass="weight-normal" value="#{v.description}" escape="false" />
                                                                <p:spacer height="5px"/>
                                                                <h:outputLabel styleClass="bold" value="Internal notes: "/>
                                                                <h:outputText styleClass="weight-normal" value="#{v.notes}" escape="false"/>
                                                            </div>
                                                        </p:rowExpansion>
                                                    </p:dataTable>

                                                    <p:spacer height="10px"/>

                                                    <h:message for="feeViolationTable" showDetail="false" showSummary="true" 
                                                               warnClass="msgWarn" infoClass="msgInfo" fatalClass="msgFatal" errorClass="msgError" />
                                                </h:panelGroup>

                                                <h:panelGrid columns="4" 
                                                             columnClasses="gridTd, gridTd, gridTd, gridTd" 
                                                             >

                                                    <h:panelGroup>
                                                        <p:outputLabel value="Waived?"/>
                                                        <p:spacer height="5px"/>

                                                        <p:inputSwitch id="feeWaived" value="#{feeManagementBB.waived}" 
                                                                       onLabel="Yes" offLabel="No"/>

                                                        <p:spacer height="10px"/>
                                                    </h:panelGroup>

                                                    <h:panelGroup>
                                                        <p:outputLabel value="Reduce By:"/>
                                                        <p:spacer height="5px"/>

                                                        <p:inputText value="#{feeManagementBB.selectedAssignedFee.reducedBy}"
                                                                     styleClass="FeeAssignedReadTableInputText"/>

                                                        <p:spacer height="10px"/>
                                                    </h:panelGroup>

                                                    <h:panelGroup>
                                                        <p:outputLabel value="Notes:"/>
                                                        <p:spacer height="5px"/>

                                                        <p:inputText value="#{feeManagementBB.selectedAssignedFee.notes}"
                                                                     styleClass="FeeAssignedReadTableInputText"/>

                                                        <p:spacer height="10px"/>
                                                    </h:panelGroup>

                                                </h:panelGrid>

                                                <p:spacer height="10px" />

                                                <!--Insert Button-->
                                                <p:commandButton icon="fa fa-edit"
                                                                 ajax="false"
                                                                 action="#{feeManagementBB.onInsertAssignedFeeButtonChange()}"
                                                                 value="INSERT"
                                                                 />

                                            </h:form>

                                        </p:panel>


                                        <!--Update Table-->
                                        <p:panel id="feeManage-panel-update"
                                                 toggleable="true"
                                                 collapsed="false"
                                                 header="LookUp Panel"
                                                 rendered="#{feeManagementBB.getActiveUpdateMode()}"
                                                 >

                                            <p:spacer height="10px"/>

                                            <h:form id="feeManage-form-update">

                                                <h:panelGroup>
                                                    <p:outputLabel value="Fee to assign:"/>
                                                    <p:spacer height="5px"/>

                                                    <p:dataTable
                                                        id="feeFeeTable"
                                                        value="#{feeManagementBB.feeList}"
                                                        rendered="#{!empty feeManagementBB.feeList}"
                                                        var="o"
                                                        selectionMode="single"
                                                        selection="#{feeManagementBB.selectedAssignedFee.fee}"
                                                        rowKey="#{o.feeID}"
                                                        tableStyleClass="primeDataTable"
                                                        filteredValue="#{feeManagementBB.filteredFeeList}">

                                                        <p:column width="10%">
                                                            <f:facet name="header">
                                                                <h:outputText value="ID" />
                                                            </f:facet>
                                                            <h:outputText value="#{o.feeID}"/>
                                                        </p:column>

                                                        <p:column width="25%">
                                                            <f:facet name="header">
                                                                <h:outputText value="Municipality" />
                                                            </f:facet>
                                                            <h:outputText value="#{o.muni.muniName}"/>
                                                        </p:column>

                                                        <p:column width="25%">
                                                            <f:facet name="header">
                                                                <h:outputText value="Name" />
                                                            </f:facet>
                                                            <h:outputText value="#{o.name}"/>
                                                        </p:column>

                                                        <p:column width="25%">
                                                            <f:facet name="header">
                                                                <h:outputText value="Amount" />
                                                            </f:facet>
                                                            <h:outputText value="#{o.amount}"/>
                                                        </p:column>

                                                        <p:column width="25%">
                                                            <f:facet name="header">
                                                                <h:outputText value="Effective Date" />
                                                            </f:facet>
                                                            <h:outputText value="#{o.effectiveDate}"/>
                                                        </p:column>

                                                        <p:column width="25%">
                                                            <f:facet name="header">
                                                                <h:outputText value="Expire Date" />
                                                            </f:facet>
                                                            <h:outputText value="#{o.expiryDate}"/>
                                                        </p:column>

                                                    </p:dataTable>
                                                    <p:spacer height="10px"/>
                                                </h:panelGroup>

                                                <h:panelGroup rendered="#{feeManagementBB.editingCECase()}">
                                                    <p:dataTable
                                                        id="feeViolationTable"
                                                        value="#{feeManagementBB.violationList}"
                                                        rendered="#{!empty feeManagementBB.violationList}"
                                                        var="v"
                                                        selectionMode="single"
                                                        selection="#{feeManagementBB.selectedViolation}"
                                                        rowKey="#{v.violationID}"
                                                        tableStyleClass="primeDataTable"
                                                        filteredValue="#{feeManagementBB.filteredViolationList}"
                                                        expandedRow="false"
                                                        rowExpandMode="multiple">

                                                        <p:ajax event="rowSelect" update=":feeManage-form-insert:feeFeeTable" listener="#{feeManagementBB.violationSelected(e)}"/>

                                                        <p:column width="2%">
                                                            <p:rowToggler />
                                                        </p:column>


                                                        <p:column width="4%">
                                                            <i class="material-icons"><h:outputText value="#{v.icon.materialIcon}" /></i>
                                                        </p:column>


                                                        <p:column width="6%" sortBy="#{v.status.label}">
                                                            <f:facet name="header">
                                                                <h:outputText value="Status" />
                                                            </f:facet>
                                                            <h:outputText id="violation-status-ot" value="#{v.status.label}"/>
                                                        </p:column>

                                                        <p:column width="12%">
                                                            <f:facet name="header">
                                                                <h:outputText value="Ordinance" />
                                                            </f:facet>
                                                            <div class="rowExpansion">

                                                                <h:outputText id="violation-compactlist-line-ot-resolved" value="#{v}"/>
                                                            </div>
                                                        </p:column>
                                                        <p:column width="10%">
                                                            <f:facet name="header">
                                                                <h:outputText value="Stip Comp Date" />
                                                            </f:facet>
                                                            <h:outputText value="#{v.stipulatedComplianceDatePretty}"/>
                                                        </p:column>
                                                        <p:column width="5%">
                                                            <f:facet name="header">
                                                                <h:outputText value="Days left" />
                                                            </f:facet>
                                                            <h:outputText value="#{empty v.actualComplianceDate ? v.daysUntilStipulatedComplianceDate: null}"/>

                                                        </p:column>

                                                        <p:rowExpansion>
                                                            <div class="outlinedBox">
                                                                <h:outputLabel styleClass="bold" value="Violation ID: "  />
                                                                <h:outputText  value="#{v.violationID}" />
                                                                <p:spacer height="5px" />
                                                                <h:outputLabel styleClass="bold" value="Ordindance: "  />
                                                                <p:spacer height="5px" />
                                                                <h:outputLabel value="#{v.violatedEnfElement.source.sourceName} 
                                                                               (#{v.violatedEnfElement.source.sourceYear}), " />
                                                                <h:outputText  value="Ch. #{v.violatedEnfElement.ordchapterNo}:" />
                                                                <h:outputText  value="#{v.violatedEnfElement.ordchapterTitle}" />
                                                                <p:spacer height="2px" />

                                                                <h:outputText  value="&#167;#{v.violatedEnfElement.ordSecNum}:" />
                                                                <h:outputText  value="#{v.violatedEnfElement.ordSecTitle}; " />
                                                                <h:outputText  value="&#167;&#167;#{v.violatedEnfElement.ordSubSecNum} " />
                                                                <h:outputText  value="#{v.violatedEnfElement.ordSubSecTitle}" />

                                                                <p:spacer height="2px" />

                                                                <h:panelGrid    id="violation-ord-fulltext-pg" columns="1" columnClasses="gridTd" 
                                                                                rendered="true">
                                                                    <h:panelGroup>
                                                                        <h:outputLabel styleClass="bold" value="Full ordinance text: "/>
                                                                        <div class="ord-text">
                                                                            <h:outputText value="#{v.violatedEnfElement.ordTechnicalText}"/>
                                                                        </div>
                                                                    </h:panelGroup>

                                                                </h:panelGrid>
                                                                <p:spacer height="5px"/>
                                                                <h:outputLabel styleClass="bold" value="Description of violation: "/>
                                                                <h:outputText styleClass="weight-normal" value="#{v.description}" escape="false" />
                                                                <p:spacer height="5px"/>
                                                                <h:outputLabel styleClass="bold" value="Internal notes: "/>
                                                                <h:outputText styleClass="weight-normal" value="#{v.notes}" escape="false"/>
                                                            </div>
                                                        </p:rowExpansion>
                                                    </p:dataTable>

                                                    <p:spacer height="10px"/>

                                                    <h:message for="feeViolationTable" showDetail="false" showSummary="true" 
                                                               warnClass="msgWarn" infoClass="msgInfo" fatalClass="msgFatal" errorClass="msgError" />
                                                </h:panelGroup>

                                                <h:panelGrid columns="4" 
                                                             columnClasses="gridTd, gridTd, gridTd, gridTd" 
                                                             >

                                                    <h:panelGroup>
                                                        <p:outputLabel value="Reduce By:"/>
                                                        <p:spacer height="5px"/>

                                                        <p:inputText value="#{feeManagementBB.selectedAssignedFee.reducedBy}"
                                                                     styleClass="FeeAssignedReadTableInputText"/>

                                                        <p:spacer height="10px"/>
                                                    </h:panelGroup>

                                                    <h:panelGroup>
                                                        <p:outputLabel value="Notes:"/>
                                                        <p:spacer height="5px"/>

                                                        <p:inputText value="#{feeManagementBB.selectedAssignedFee.notes}"
                                                                     styleClass="FeeAssignedReadTableInputText"/>

                                                        <p:spacer height="10px"/>
                                                    </h:panelGroup>

                                                </h:panelGrid>

                                                <p:spacer height="10px" />

                                                <!--Update Button-->
                                                <p:commandButton icon="fa fa-edit"
                                                                 ajax="false"
                                                                 action="#{feeManagementBB.onUpdateAssignedFeeButtonChange()}"
                                                                 value="UPDATE"
                                                                 />

                                            </h:form>

                                        </p:panel>


                                        <!--Remove Table-->
                                        <p:panel id="feeManage-panel-remove"
                                                 toggleable="true"
                                                 collapsed="false"
                                                 header="LookUp Panel"
                                                 rendered="#{feeManagementBB.getActiveRemoveMode()}"
                                                 >

                                            <p:spacer height="10px"/>

                                            <h:form id="feeManage-form-remove">

                                                <h:panelGrid columns="4" 
                                                             columnClasses="gridTd, gridTd, gridTd, gridTd" 
                                                             >


                                                    <h:panelGroup>
                                                        <p:outputLabel value="ID:"/>
                                                        <p:spacer height="5px"/>
                                                        <div class="FeeReadTableOutputLabel">
                                                            <p:outputLabel value="&#160;#{feeManagementBB.selectedAssignedFee.assignedFeeID}"/>
                                                        </div>
                                                        <p:spacer height="10px"/>
                                                    </h:panelGroup>

                                                    <h:panelGroup>
                                                        <p:outputLabel value="Fee Name:"/>
                                                        <p:spacer height="5px"/>
                                                        <div class="FeeReadTableOutputLabel">
                                                            <p:outputLabel value="&#160;#{feeManagementBB.selectedAssignedFee.fee.name}"/>
                                                        </div>
                                                        <p:spacer height="10px"/>
                                                    </h:panelGroup>

                                                    <h:panelGroup>
                                                        <p:outputLabel value="Amount:"/>
                                                        <p:spacer height="5px"/>
                                                        <div class="FeeReadTableOutputLabel">
                                                            <p:outputLabel value="&#160;#{feeManagementBB.selectedAssignedFee.fee.amount}"/>
                                                        </div>
                                                        <p:spacer height="10px"/>
                                                    </h:panelGroup>

                                                    <h:panelGroup>
                                                        <p:outputLabel value="Effective:"/>
                                                        <p:spacer height="5px"/>
                                                        <div class="FeeReadTableOutputLabel">
                                                            <p:outputLabel value="&#160;#{feeManagementBB.selectedAssignedFee.fee.effectiveDate}"/>
                                                        </div>
                                                        <p:spacer height="10px"/>
                                                    </h:panelGroup>

                                                    <h:panelGroup>
                                                        <p:outputLabel value="Expiry:"/>
                                                        <p:spacer height="5px"/>
                                                        <div class="FeeReadTableOutputLabel">
                                                            <p:outputLabel value="&#160;#{feeManagementBB.selectedAssignedFee.fee.expiryDate}"/>
                                                        </div>
                                                        <p:spacer height="10px"/>
                                                    </h:panelGroup>

                                                    <h:panelGroup>
                                                        <p:outputLabel value="Fee Notes:"/>
                                                        <p:spacer height="5px"/>
                                                        <div class="FeeReadTableOutputLabel">
                                                            <p:outputLabel value="&#160;#{feeManagementBB.selectedAssignedFee.fee.notes}"/>
                                                        </div>
                                                        <p:spacer height="10px"/>
                                                    </h:panelGroup>

                                                    <h:panelGroup>
                                                        <p:outputLabel value="Assigned By:"/>
                                                        <p:spacer height="5px"/>
                                                        <div class="FeeReadTableOutputLabel">
                                                            <p:outputLabel value="&#160;#{feeManagementBB.selectedAssignedFee.assignedBy.person.firstName} #{feeManagementBB.selectedAssignedFee.assignedBy.person.lastName} (ID: #{feeManagementBB.selectedAssignedFee.assignedBy.userID})"/>
                                                        </div>
                                                        <p:spacer height="10px"/>
                                                    </h:panelGroup>

                                                    <h:panelGroup>
                                                        <p:outputLabel value="Last Modified:"/>
                                                        <p:spacer height="5px"/>
                                                        <div class="FeeReadTableOutputLabel">
                                                            <p:outputLabel value="&#160;#{feeManagementBB.selectedAssignedFee.lastModified}"/>
                                                        </div>
                                                        <p:spacer height="10px"/>
                                                    </h:panelGroup>

                                                    <h:panelGroup>
                                                        <p:outputLabel value="Other Notes:"/>
                                                        <p:spacer height="5px"/>
                                                        <div class="FeeReadTableOutputLabel">
                                                            <p:outputLabel value="&#160;#{feeManagementBB.selectedAssignedFee.notes}"/>
                                                        </div>
                                                        <p:spacer height="10px"/>
                                                    </h:panelGroup>

                                                    <h:panelGroup rendered="#{not empty feeManagementBB.selectedAssignedFee.reducedByUser}">
                                                        <p:outputLabel value="Amount Reduced by:"/>
                                                        <p:spacer height="5px"/>
                                                        <div class="FeeReadTableOutputLabel">
                                                            <p:outputLabel value="&#160; $#{feeManagementBB.selectedAssignedFee.reducedBy}"/>
                                                        </div>
                                                        <p:spacer height="10px"/>
                                                    </h:panelGroup>

                                                    <h:panelGroup rendered="#{not empty feeManagementBB.selectedAssignedFee.reducedByUser}">
                                                        <p:outputLabel value="Reduced By:"/>
                                                        <p:spacer height="5px"/>
                                                        <div class="FeeReadTableOutputLabel">
                                                            <p:outputLabel value="&#160;#{feeManagementBB.selectedAssignedFee.reducedByUser.person.firstName} #{feeManagementBB.selectedAssignedFee.reducedByUser.person.lastName} (ID: #{feeManagementBB.selectedAssignedFee.reducedByUser.userID})"/>
                                                        </div>
                                                        <p:spacer height="10px"/>
                                                    </h:panelGroup>

                                                    <h:panelGroup>
                                                        <p:outputLabel value="Waived?"/>
                                                        <p:spacer height="5px"/>
                                                        <div class="FeeReadTableOutputLabel">
                                                            <p:outputLabel value="&#160; #{feeManagementBB.isSelectedFeeWaived()}"/>
                                                        </div>
                                                        <p:spacer height="10px"/>
                                                    </h:panelGroup>

                                                    <h:panelGroup rendered="#{not empty feeManagementBB.selectedAssignedFee.waivedBy}">
                                                        <p:outputLabel value="Waived By:"/>
                                                        <p:spacer height="5px"/>
                                                        <div class="FeeReadTableOutputLabel">
                                                            <p:outputLabel value="&#160;#{feeManagementBB.selectedAssignedFee.waivedBy.person.firstName} #{feeManagementBB.selectedAssignedFee.waivedBy.person.lastName} (ID: #{feeManagementBB.selectedAssignedFee.waivedBy.userID})"/>
                                                        </div>
                                                        <p:spacer height="10px"/>
                                                    </h:panelGroup>

                                                </h:panelGrid>

                                                <p:spacer height="10px" />

                                                <!--Remove Button (Though this is actually a waive button but it's called remove for consistency)-->
                                                <p:commandButton icon="fa fa-edit"
                                                                 ajax="false"
                                                                 action="#{feeManagementBB.onRemoveAssignedFeeButtonChange()}"
                                                                 value="WAIVE"
                                                                 />

                                            </h:form>

                                        </p:panel>


                                    </p:outputPanel>
                                </div>
                            </div>
                        </div>
                    </p:outputPanel>
                </f:view>
            </ui:define>
        </ui:composition>
    </h:body>
</html>

