<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <h:head>
        <link rel="stylesheet" type="text/css" href="css/style.css"></link>
        <title>Manage Occupancy Inspection Fees</title>
    </h:head>

    <h:body id="feeManageBody">

        <ui:composition template="../../navContainer_restricted.xhtml">
            <ui:define name="content">
                <f:view>

                    <p:outputPanel id="body-panel">
                        <h1>Manage Fees</h1>

                        <h:form id="form-messages-global">
                            <p:messages id="messages-global" globalOnly="true" showDetail="true" showSummary="true" />
                        </h:form>

                        <h:form>

                            <p:commandButton ajax="false"
                                             action="#{feeManagementBB.finishAndRedir()}"
                                             value="Finish editing fee list and return."
                                             />

                        </h:form>

                        <div class="mainContainer">

                            <div class ="two-column-page-flex-container">

                                <div class="list-column" >

                                    <h:form id="mode-form">

                                        <p:selectOneButton style="width: 100%; margin-top: 10px ; height: 20px;"
                                                           value="#{feeManagementBB.currentMode}" 
                                                           >
                                            <f:selectItem itemLabel="LOOKUP" itemValue="Lookup"  />
                                            <f:selectItem itemLabel="INSERT" itemValue="Insert"  />
                                            <f:selectItem itemLabel="UPDATE" itemValue="Update"  />
                                            <f:selectItem itemLabel="REMOVE" itemValue="Remove"  />

                                            <f:ajax render="@all"/>

                                        </p:selectOneButton> 

                                    </h:form>

                                    <p:spacer height="30px"/>

                                    <p:scrollPanel style="height: 550px;" >

                                        <h:form id="feeManage-form-side">

                                            <p:dataTable id="feeTable"
                                                         value="#{feeManagementBB.feeTypeList}"
                                                         rendered="#{!empty feeManagementBB.feeTypeList}"
                                                         var="fee"
                                                         tableStyleClass="primeDataTable"
                                                         >

                                                <p:column headerText="ID"
                                                          styleClass="centeredColumnContent">

                                                    <h:outputText value="#{fee.feeID}"/>

                                                </p:column>

                                                <p:column headerText="Name"
                                                          styleClass="centeredColumnContent">

                                                    <h:outputText value="#{fee.name}"/>

                                                </p:column>

                                                <p:column headerText="Muni"
                                                          styleClass="centeredColumnContent">

                                                    <h:outputText value="#{fee.muni.muniName} (#{fee.muni.muniCode})"/>

                                                </p:column>

                                                <p:column headerText="Option"
                                                          styleClass="centeredColumnContent"
                                                          style="width: 80px"
                                                          >

                                                    <p:selectBooleanButton onLabel="Deselect" 
                                                                           offLabel="Select"
                                                                           styleClass="selectButton" 
                                                                           value="#{feeManagementBB.currentFeeSelected}"
                                                                           disabled="#{feeManagementBB.getSelectedButtonActive()}"
                                                                           >

                                                        <p:ajax update="
                                                                form-messages-global
                                                                feeManage-form-side
                                                                feeManage-panel"
                                                                listener="#{feeManagementBB.onFeeSelectedButtonChange(fee)}"/>

                                                    </p:selectBooleanButton>

                                                </p:column>

                                            </p:dataTable>

                                            <p:spacer height="10px"/>

                                        </h:form>

                                    </p:scrollPanel>

                                </div>



                                <div class ="object-column">

                                    <p:outputPanel id = "feeManage-panel" >

                                        <!--LookUp Table-->
                                        <p:panel id="feeManage-panel-lookup"
                                                 toggleable="true"
                                                 collapsed="false"
                                                 header="LoopUp Panel"
                                                 rendered="#{feeManagementBB.getActiveLookupMode()}"
                                                 >

                                            <p:spacer height="10px"/>

                                            <h:form id="feeManage-form-lookup">

                                                <h:panelGrid columns="4" 
                                                             
                                                             columnClasses="gridTd, gridTd, gridTd, gridTd" 
                                                             >

                                                    <h:panelGroup>
                                                        <p:outputLabel value="ID:"/>
                                                        <p:spacer height="5px"/>
                                                        <div class="FeeReadTableOutputLabel">
                                                            <p:outputLabel value="&#160;#{feeManagementBB.selectedFeeType.feeID}"/>
                                                        </div>
                                                        <p:spacer height="10px"/>
                                                    </h:panelGroup>

                                                    <h:panelGroup>
                                                        <p:outputLabel value="Name:"/>
                                                        <p:spacer height="5px"/>
                                                        <div class="FeeReadTableOutputLabel">
                                                            <p:outputLabel value="&#160;#{feeManagementBB.selectedFeeType.name}"/>
                                                        </div>
                                                        <p:spacer height="10px"/>
                                                    </h:panelGroup>

                                                    <h:panelGroup>
                                                        <p:outputLabel value="Muni:"/>
                                                        <p:spacer height="5px"/>
                                                        <div class="FeeReadTableOutputLabel">
                                                            <p:outputLabel value="&#160;#{feeManagementBB.selectedFeeType.muni.muniName} (#{feeManagementBB.selectedFeeType.muni.muniCode})"/>
                                                        </div>
                                                        <p:spacer height="10px"/>
                                                    </h:panelGroup>

                                                    <h:panelGroup>
                                                        <p:outputLabel value="Amount:"/>
                                                        <p:spacer height="5px"/>
                                                        <div class="FeeReadTableOutputLabel">
                                                            <p:outputLabel value="&#160;#{feeManagementBB.selectedFeeType.amount}"/>
                                                        </div>
                                                        <p:spacer height="10px"/>
                                                    </h:panelGroup>

                                                    <h:panelGroup>
                                                        <p:outputLabel value="Effective Date:"/>
                                                        <p:spacer height="5px"/>
                                                        <div class="FeeReadTableOutputLabel">
                                                            <p:outputLabel value="&#160;#{feeManagementBB.selectedFeeType.effectiveDate}"/>
                                                        </div>
                                                        <p:spacer height="10px"/>
                                                    </h:panelGroup>

                                                    <h:panelGroup>
                                                        <p:outputLabel value="Expiry Date:"/>
                                                        <p:spacer height="5px"/>
                                                        <div class="FeeReadTableOutputLabel">
                                                            <p:outputLabel value="&#160;#{feeManagementBB.selectedFeeType.expiryDate}"/>
                                                        </div>
                                                        <p:spacer height="10px"/>
                                                    </h:panelGroup>

                                                    <h:panelGroup>
                                                        <p:outputLabel value="Notes:"/>
                                                        <p:spacer height="5px"/>
                                                        <div class="FeeReadTableOutputLabel">
                                                            <p:outputLabel value="&#160;#{feeManagementBB.selectedFeeType.notes}"/>
                                                        </div>
                                                        <p:spacer height="10px"/>
                                                    </h:panelGroup>

                                                </h:panelGrid>

                                            </h:form>

                                        </p:panel>


                                        <!--Insert Table-->
                                        <p:panel id="feeManage-panel-insert"
                                                 toggleable="true"
                                                 collapsed="false"
                                                 header="Insert Panel"
                                                 rendered="#{feeManagementBB.getActiveInsertMode()}"
                                                 >

                                            <p:spacer height="10px"/>

                                            <h:form id="feeManage-form-insert">

                                                <h:panelGrid columns="4" 
                                                             
                                                             columnClasses="gridTd, gridTd, gridTd, gridTd" 
                                                             >

                                                    <h:panelGroup>
                                                        <p:outputLabel value="ID:"/>
                                                        <p:spacer height="5px"/>
                                                        <div class="FeeReadTableOutputLabel">
                                                            <p:outputLabel value="#{feeManagementBB.selectedFeeType.feeID}"/>
                                                        </div>
                                                        <p:spacer height="10px"/>
                                                    </h:panelGroup>

                                                    <h:panelGroup>
                                                        <p:outputLabel value="Name:"/>
                                                        <p:spacer height="5px"/>
                                                        <div class="FeeReadTableOutputLabel">
                                                            <p:inputText value="#{feeManagementBB.selectedFeeType.name}"
                                                                         styleClass="FeeTypeReadTableInputText"/>
                                                        </div>
                                                        <p:spacer height="10px"/>
                                                    </h:panelGroup>

                                                    <h:panelGroup>
                                                        <p:outputLabel value="Muni:"/>
                                                        <p:spacer height="5px"/>
                                                        <div class="FeeReadTableOutputLabel">
                                                            <p:selectOneMenu id="muniSelectMenu" tabindex="5" required="false" value="#{feeManagementBB.selectedFeeType.muni}">
                                                                <f:converter converterId="muniConverter"/>
                                                            </p:selectOneMenu>
                                                        </div>
                                                        <p:spacer height="10px"/>
                                                    </h:panelGroup>

                                                    <h:panelGroup>
                                                        <p:outputLabel value="Amount:"/>
                                                        <p:spacer height="5px"/>
                                                        <div class="FeeReadTableOutputLabel">
                                                            <p:inputText value="#{feeManagementBB.selectedFeeType.amount}"
                                                                         styleClass="FeeTypeReadTableInputText"/>
                                                        </div>
                                                        <p:spacer height="10px"/>
                                                    </h:panelGroup>

                                                    <h:panelGroup>
                                                        <p:outputLabel value="Effective Date:"/>
                                                        <p:spacer height="5px"/>
                                                        <div class="FeeReadTableOutputLabel">
                                                            
                                                                <p:datePicker 	id="feemanage-insert-effectivedate"
                                                                                value="#{feeManagementBB.selectedFeeType.effective}" 
                                                                                rendered="true"
                                                                                style="width: 100%;"
                                                                                pattern="MM/dd/yyyy HH:mm"
                                                                                hideOnDateTimeSelect="true"
                                                                                showOnFocus="false"
                                                                                showIcon="true"
                                                                                disabled="false"
                                                                                showButtonBar="true"
                                                                                mask="true"
                                                                                timeInput="true" 
                                                                                required="true" />

                                                        
                                                        </div>
                                                        <p:spacer height="10px"/>
                                                    </h:panelGroup>

                                                    <h:panelGroup>
                                                        <p:outputLabel value="Expiry Date:"/>
                                                        <p:spacer height="5px"/>
                                                        <div class="FeeReadTableOutputLabel">
                                                            
                                                            
                                                                <p:datePicker 	id="feemanage-insert-expiry-datepicker"
                                                                                value="#{feeManagementBB.selectedFeeType.expiry}" 
                                                                                rendered="true"
                                                                                style="width: 100%;"
                                                                                pattern="MM/dd/yyyy HH:mm"
                                                                                disabled="false"
                                                                                hideOnDateTimeSelect="true"
                                                                                showOnFocus="false"
                                                                                showIcon="true"
                                                                                showButtonBar="true"
                                                                                mask="true"
                                                                                timeInput="true" 
                                                                                required="true" />

                                                        </div>
                                                        <p:spacer height="10px"/>
                                                    </h:panelGroup>

                                                    <h:panelGroup>
                                                        <p:outputLabel value="Notes:"/>
                                                        <p:spacer height="5px"/>
                                                        <div class="FeeReadTableOutputLabel">
                                                            <p:inputText value="#{feeManagementBB.selectedFeeType.notes}"
                                                                         styleClass="FeeTypeReadTableInputText"/>
                                                        </div>
                                                        <p:spacer height="10px"/>
                                                    </h:panelGroup>

                                                </h:panelGrid>

                                                <p:spacer height="10px" />

                                                <!--Insert Button-->
                                                <p:commandButton icon="fa fa-edit"
                                                                 ajax="false"
                                                                 action="#{feeManagementBB.onInsertFeeButtonChange()}"
                                                                 value="INSERT"
                                                                 />

                                            </h:form>

                                        </p:panel>


                                        <!--Remove Table-->
                                        <p:panel id="feeManage-panel-remove"
                                                 toggleable="true"
                                                 collapsed="false"
                                                 header="LoopUp Panel"
                                                 rendered="#{feeManagementBB.getActiveRemoveMode()}"
                                                 >

                                            <p:spacer height="10px"/>

                                            <h:form id="feeManage-form-remove">

                                                <h:panelGrid columns="4" 
                                                             
                                                             columnClasses="gridTd, gridTd, gridTd, gridTd" 
                                                             >

                                                    <h:panelGroup>
                                                        <p:outputLabel value="ID:"/>
                                                        <p:spacer height="5px"/>
                                                        <div class="FeeReadTableOutputLabel">
                                                            <p:outputLabel value="&#160;#{feeManagementBB.selectedFeeType.feeID}"/>
                                                        </div>
                                                        <p:spacer height="10px"/>
                                                    </h:panelGroup>

                                                    <h:panelGroup>
                                                        <p:outputLabel value="Name:"/>
                                                        <p:spacer height="5px"/>
                                                        <div class="FeeReadTableOutputLabel">
                                                            <p:outputLabel value="&#160;#{feeManagementBB.selectedFeeType.name}"/>
                                                        </div>
                                                        <p:spacer height="10px"/>
                                                    </h:panelGroup>

                                                    <h:panelGroup>
                                                        <p:outputLabel value="Muni:"/>
                                                        <p:spacer height="5px"/>
                                                        <div class="FeeReadTableOutputLabel">
                                                            <p:outputLabel value="&#160;#{feeManagementBB.selectedFeeType.muni.muniName} (#{feeManagementBB.selectedFeeType.muni.muniCode})"/>
                                                        </div>
                                                        <p:spacer height="10px"/>
                                                    </h:panelGroup>

                                                    <h:panelGroup>
                                                        <p:outputLabel value="Amount:"/>
                                                        <p:spacer height="5px"/>
                                                        <div class="FeeReadTableOutputLabel">
                                                            <p:outputLabel value="&#160;#{feeManagementBB.selectedFeeType.amount}"/>
                                                        </div>
                                                        <p:spacer height="10px"/>
                                                    </h:panelGroup>

                                                    <h:panelGroup>
                                                        <p:outputLabel value="Effective Date:"/>
                                                        <p:spacer height="5px"/>
                                                        <div class="FeeReadTableOutputLabel">
                                                            <p:outputLabel value="&#160;#{feeManagementBB.selectedFeeType.effectiveDate}"/>
                                                        </div>
                                                        <p:spacer height="10px"/>
                                                    </h:panelGroup>

                                                    <h:panelGroup>
                                                        <p:outputLabel value="Expiry Date:"/>
                                                        <p:spacer height="5px"/>
                                                        <div class="FeeReadTableOutputLabel">
                                                            <p:outputLabel value="&#160;#{feeManagementBB.selectedFeeType.expiryDate}"/>
                                                        </div>
                                                        <p:spacer height="10px"/>
                                                    </h:panelGroup>

                                                    <h:panelGroup>
                                                        <p:outputLabel value="Notes:"/>
                                                        <p:spacer height="5px"/>
                                                        <div class="FeeReadTableOutputLabel">
                                                            <p:outputLabel value="&#160;#{feeManagementBB.selectedFeeType.notes}"/>
                                                        </div>
                                                        <p:spacer height="10px"/>
                                                    </h:panelGroup>

                                                </h:panelGrid>

                                                <p:spacer height="10px" />

                                                <!--Remove Button-->
                                                <p:commandButton icon="fa fa-edit"
                                                                 ajax="false"
                                                                 action="#{feeManagementBB.onRemoveFeeButtonChange()}"
                                                                 value="Remove"
                                                                 />

                                            </h:form>

                                        </p:panel>


                                    </p:outputPanel>
                                </div>
                            </div>
                        </div>
                    </p:outputPanel>
                </f:view>
            </ui:define>
        </ui:composition>
    </h:body>
</html>

