<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <h:head>
        <link rel="stylesheet" type="text/css" href="css/style.css"></link>
        <title>Manage Payment Types</title>
    </h:head>

    <h:body id="payTypeManageBody">

        <ui:composition template="../../navContainer_restricted.xhtml">
            <ui:define name="content">
                <f:view >

                    <p:outputPanel id="body-panel">
                        <h1>Manage Payment Types</h1>

                        <h:form id="form-messages-global">
                            <p:messages id="messages-global" globalOnly="true" showDetail="true" showSummary="true" />
                        </h:form>

                        <h:form>

                            <p:commandButton ajax="false"
                                             action="#{feeManagementBB.finishAndRedir()}"
                                             value="Finish editing payment types and return."
                                             />

                        </h:form>
                        
                        <div class="mainContainer">

                            <div class ="two-column-page-flex-container">

                                <div class="list-column" >

                                    <h:form id="mode-form">

                                        <p:selectOneButton style="width: 100%; margin-top: 10px ; height: 20px;"
                                                           value="#{paymentBB.currentMode}" 
                                                           >
                                            <f:selectItem itemLabel="LOOKUP" itemValue="Lookup"  />
                                            <f:selectItem itemLabel="INSERT" itemValue="Insert"  />
                                            <f:selectItem itemLabel="UPDATE" itemValue="Update"  />
                                            <f:selectItem itemLabel="REMOVE" itemValue="Remove"  />

                                            <f:ajax render="@all"/>

                                        </p:selectOneButton> 

                                    </h:form>

                                    <p:spacer height="30px"/>

                                    <p:scrollPanel style="height: 550px;" >

                                        <h:form id="payType-form-side">

                                            <p:dataTable id="typeTable"
                                                         value="#{paymentBB.paymentTypeList}"
                                                         rendered="#{!empty paymentBB.paymentTypeList}"
                                                         var="type"
                                                         tableStyleClass="primeDataTable"
                                                         >

                                                <p:column headerText="ID"
                                                          styleClass="centeredColumnContent">

                                                    <h:outputText value="#{type.paymentTypeId}"/>

                                                </p:column>

                                                <p:column headerText="Payment Type"
                                                          styleClass="centeredColumnContent">

                                                    <h:outputText value="#{type.paymentTypeTitle}"/>

                                                </p:column>

                                                <p:column headerText="Option"
                                                          styleClass="centeredColumnContent"
                                                          style="width: 80px"
                                                          >

                                                    <p:selectBooleanButton onLabel="Deselect" 
                                                                           offLabel="Select"
                                                                           styleClass="selectButton" 
                                                                           value="#{paymentBB.currentPaymentSelected}"
                                                                           disabled="#{paymentBB.getSelectedButtonActive()}"
                                                                           >

                                                        <p:ajax update="
                                                                form-messages-global
                                                                payType-form-side
                                                                payType-panel"
                                                                listener="#{paymentBB.onSelectedPayTypeButtonChange(type)}"/>

                                                    </p:selectBooleanButton>

                                                </p:column>

                                            </p:dataTable>

                                            <p:spacer height="10px"/>

                                        </h:form>

                                    </p:scrollPanel>

                                </div>



                                <div class ="object-column">

                                    <p:outputPanel id = "payType-panel" >

                                        <!--LookUp Table-->
                                        <p:panel id="payType-panel-lookup"
                                                 toggleable="true"
                                                 collapsed="false"
                                                 header="LookUp Panel"
                                                 rendered="#{paymentBB.getActiveLookupMode()}"
                                                 >

                                            <p:spacer height="10px"/>

                                            <h:form id="payType-form-lookup">

                                                <h:panelGrid columns="4" 
                                                             columnClasses="gridTd, gridTd, gridTd, gridTd" 
                                                             >

                                                    <h:panelGroup>
                                                        <p:outputLabel value="ID:"/>
                                                        <p:spacer height="5px"/>
                                                        <div class="payTypeReadTableOutputLabel">
                                                            <p:outputLabel value="&#160;#{paymentBB.selectedPaymentType.paymentTypeId}"/>
                                                        </div>
                                                        <p:spacer height="10px"/>
                                                    </h:panelGroup>

                                                    <h:panelGroup>
                                                        <p:outputLabel value="Title:"/>
                                                        <p:spacer height="5px"/>
                                                        <div class="payTypeReadTableOutputLabel">
                                                            <p:outputLabel value="&#160;#{paymentBB.selectedPaymentType.paymentTypeTitle}"/>
                                                        </div>
                                                        <p:spacer height="10px"/>
                                                    </h:panelGroup>

                                                </h:panelGrid>

                                            </h:form>

                                        </p:panel>


                                        <!--Insert Table-->
                                        <p:panel id="payType-panel-insert"
                                                 toggleable="true"
                                                 collapsed="false"
                                                 header="Insert Panel"
                                                 rendered="#{paymentBB.getActiveInsertMode()}"
                                                 >

                                            <p:spacer height="10px"/>

                                            <h:form id="payType-form-insert">

                                                <h:panelGrid columns="4" 
                                                             columnClasses="gridTd, gridTd, gridTd, gridTd" 
                                                             >

                                                    <h:panelGroup>
                                                        <p:outputLabel value="ID:"/>
                                                        <p:spacer height="5px"/>
                                                        <div class="payTypeReadTableOutputLabel">
                                                            <p:outputLabel value="&#160;#{paymentBB.selectedPaymentType.paymentTypeId}"/>
                                                        </div>
                                                        <p:spacer height="10px"/>
                                                    </h:panelGroup>
                                                    
                                                    <h:panelGroup>
                                                        <h:outputLabel value="Title:"/>
                                                        <p:spacer height="5px"/>

                                                        <p:inputText value="#{paymentBB.selectedPaymentType.paymentTypeTitle}"
                                                                     styleClass="payTypeTableInputText"/>

                                                        <p:spacer height="10px"/>
                                                    </h:panelGroup>

                                                </h:panelGrid>

                                                <p:spacer height="10px" />

                                                <!--Insert Button-->
                                                <p:commandButton icon="fa fa-edit"
                                                                 ajax="false"
                                                                 action="#{paymentBB.onInsertPayTypeButtonChange()}"
                                                                 value="INSERT"
                                                                 />

                                            </h:form>

                                        </p:panel>


                                        <!--Update Table-->
                                        <p:panel id="payType-panel-update"
                                                 toggleable="true"
                                                 collapsed="false"
                                                 header="LookUp Panel"
                                                 rendered="#{paymentBB.getActiveUpdateMode()}"
                                                 >

                                            <p:spacer height="10px"/>

                                            <h:form id="payType-form-update">

                                                <h:panelGrid columns="4" 
                                                             columnClasses="gridTd, gridTd, gridTd, gridTd" 
                                                             >

                                                    <h:panelGroup>
                                                        <p:outputLabel value="ID:"/>
                                                        <p:spacer height="5px"/>
                                                        <div class="payTypeReadTableOutputLabel">
                                                            <p:outputLabel value="&#160;#{paymentBB.selectedPaymentType.paymentTypeId}"/>
                                                        </div>
                                                        <p:spacer height="10px"/>
                                                    </h:panelGroup>
                                                    
                                                    <h:panelGroup>
                                                        <h:outputLabel value="Title:"/>
                                                        <p:spacer height="5px"/>

                                                        <p:inputText value="#{paymentBB.selectedPaymentType.paymentTypeTitle}"
                                                                     styleClass="payTypeTableInputText"/>

                                                        <p:spacer height="10px"/>
                                                    </h:panelGroup>

                                                </h:panelGrid>

                                                <p:spacer height="10px" />

                                                <!--Update Button-->
                                                <p:commandButton icon="fa fa-edit"
                                                                 ajax="false"
                                                                 action="#{paymentBB.onUpdatePayTypeButtonChange()}"
                                                                 value="UPDATE"
                                                                 />

                                            </h:form>

                                        </p:panel>


                                        <!--Remove Table-->
                                        <p:panel id="payType-panel-remove"
                                                 toggleable="true"
                                                 collapsed="false"
                                                 header="LookUp Panel"
                                                 rendered="#{paymentBB.getActiveRemoveMode()}"
                                                 >

                                            <p:spacer height="10px"/>

                                            <h:form id="payType-form-remove">

                                                <h:panelGrid columns="4" 
                                                             columnClasses="gridTd, gridTd, gridTd, gridTd" 
                                                             >

                                                    <h:panelGroup>
                                                        <p:outputLabel value="ID:"/>
                                                        <p:spacer height="5px"/>
                                                        <div class="payTypeReadTableOutputLabel">
                                                            <p:outputLabel value="&#160;#{paymentBB.selectedPaymentType.paymentTypeId}"/>
                                                        </div>
                                                        <p:spacer height="10px"/>
                                                    </h:panelGroup>
                                                    
                                                    <h:panelGroup>
                                                        <p:outputLabel value="Title:"/>
                                                        <p:spacer height="5px"/>
                                                        <div class="payTypeReadTableOutputLabel">
                                                            <p:outputLabel value="&#160;#{paymentBB.selectedPaymentType.paymentTypeTitle}"/>
                                                        </div>
                                                        <p:spacer height="10px"/>
                                                    </h:panelGroup>

                                                </h:panelGrid>

                                                <p:spacer height="10px" />

                                                <!--Remove Button-->
                                                <p:commandButton icon="fa fa-edit"
                                                                 ajax="false"
                                                                 action="#{paymentBB.onRemovePayTypeButtonChange()}"
                                                                 value="Remove"
                                                                 />

                                            </h:form>

                                        </p:panel>


                                    </p:outputPanel>
                                </div>
                            </div>
                        </div>
                    </p:outputPanel>
                </f:view>
            </ui:define>
        </ui:composition>
    </h:body>
</html>

