<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <h:head>
        <link rel="stylesheet" type="text/css" href="css/style.css"></link>
        <title>Manage Payments</title>
    </h:head>

    <h:body id="muniManageBody">

        <ui:composition template="../../navContainer_restricted.xhtml">
            <ui:define name="content">
                <f:view >

                    <p:outputPanel id="body-panel">
                        <h1>Manage Payments</h1>

                        <h:form id="form-messages-global">
                            <p:messages id="messages-global" globalOnly="true" showDetail="true" showSummary="true" />
                        </h:form>

                        <h2>Recorded payments 
                            <p:outputLabel rendered="#{paymentBB.editingOccPeriod()}" value="for OccPeriod ##{paymentBB.currentOccPeriod.periodID} (#{paymentBB.currentAddress})"/>
                            <p:outputLabel rendered="#{paymentBB.editingCECase()}" value="for CECase ##{paymentBB.currentCase.caseID} (#{paymentBB.currentAddress})"/>
                        </h2>

                        <h:form>

                            <p:commandButton ajax="false"
                                             action="#{paymentBB.finishAndRedir()}"
                                             value="Finish editing payment list and return."
                                             />
                            <p:commandButton ajax="false"
                                             action="#{paymentBB.goToPaymentTypeManage()}"
                                             value="Manage payment types"
                                             />

                        </h:form>

                        <div class="mainContainer">

                            <div class ="two-column-page-flex-container">

                                <div class="list-column" >

                                    <h:form id="mode-form">

                                        <p:selectOneButton style="width: 100%; margin-top: 10px ; height: 20px;"
                                                           value="#{paymentBB.currentMode}" 
                                                           >
                                            <f:selectItem itemLabel="LOOKUP" itemValue="Lookup"  />
                                            <f:selectItem itemLabel="INSERT" itemValue="Insert"  />
                                            <f:selectItem itemLabel="UPDATE" itemValue="Update"  />
                                            <f:selectItem itemLabel="REMOVE" itemValue="Remove"  />

                                            <f:ajax render="@all"/>

                                        </p:selectOneButton> 

                                    </h:form>

                                    <p:spacer height="30px"/>

                                    <p:scrollPanel style="height: 550px;" >

                                        <!--Payment List Side Panel-->
                                        <h:form id="paymentManage-form-side">



                                            <p:dataTable id="paymentTable"
                                                         value="#{paymentBB.paymentList}"
                                                         rendered="#{!empty paymentBB.paymentList}"
                                                         var="p"
                                                         tableStyleClass="primeDataTable"
                                                         >

                                                <p:column>
                                                    <f:facet name="header">
                                                        <h:outputText value="ID" />
                                                    </f:facet>
                                                    <h:outputText value="#{p.paymentID}"/>
                                                </p:column>

                                                <p:column>
                                                    <f:facet name="header">
                                                        <h:outputText value="Assigned Fee ID" />
                                                    </f:facet>
                                                    <h:outputText value="#{p.assignedFeeID} (#{p.domain})"/>
                                                </p:column>

                                                <p:column>
                                                    <f:facet name="header">
                                                        <h:outputText value="Date Received" />
                                                    </f:facet>
                                                    <h:outputText value="#{p.dateReceived}"/>
                                                </p:column>

                                                <p:column headerText="Option"
                                                          styleClass="centeredColumnContent"
                                                          style="width: 80px"
                                                          >

                                                    <p:selectBooleanButton onLabel="Deselect" 
                                                                           offLabel="Select"
                                                                           styleClass="selectButton"
                                                                           value="#{paymentBB.currentPaymentSelected}"
                                                                           disabled="#{paymentBB.getSelectedButtonActive()}"
                                                                           >

                                                        <p:ajax update="
                                                                form-messages-global
                                                                paymentManage-form-side
                                                                paymentManage-panel"
                                                                listener="#{paymentBB.onPaymentSelectedButtonChange(p)}"/>

                                                    </p:selectBooleanButton>

                                                </p:column>

                                            </p:dataTable>

                                            <p:spacer height="10px"/>

                                        </h:form>

                                    </p:scrollPanel>

                                </div>



                                <div class ="object-column">

                                    <p:outputPanel id = "paymentManage-panel" >

                                        <!--LookUp Table-->
                                        <p:panel id="paymentManage-panel-lookup"
                                                 toggleable="true"
                                                 collapsed="false"
                                                 header="LoopUp Panel"
                                                 rendered="#{paymentBB.getActiveLookupMode()}"
                                                 >

                                            <p:spacer height="10px"/>

                                            <h:form id="paymentManage-form-lookup">

                                                <h:panelGrid columns="4" 

                                                             columnClasses="gridTd, gridTd, gridTd, gridTd" 
                                                             >

                                                    <h:panelGroup>
                                                        <p:outputLabel value="ID:"/>
                                                        <p:spacer height="5px"/>
                                                        <div class="PaymentReadTableOutputLabel">
                                                            <p:outputLabel value="&#160;#{paymentBB.selectedPayment.paymentID}"/>
                                                        </div>
                                                        <p:spacer height="10px"/>
                                                    </h:panelGroup>

                                                    <h:panelGroup>
                                                        <p:outputLabel value="Assigned Fee ID:"/>
                                                        <p:spacer height="5px"/>
                                                        <div class="PaymentReadTableOutputLabel">
                                                            <p:outputLabel value="&#160;#{paymentBB.selectedPayment.assignedFeeID} (#{paymentBB.selectedPayment.domain})"/>
                                                        </div>
                                                        <p:spacer height="10px"/>
                                                    </h:panelGroup>

                                                    <h:panelGroup>
                                                        <p:outputLabel value="Payment Type:"/>
                                                        <p:spacer height="5px"/>
                                                        <div class="PaymentReadTableOutputLabel">
                                                            <p:outputLabel value="&#160;#{paymentBB.selectedPayment.paymentType.paymentTypeTitle}"/>
                                                        </div>
                                                        <p:spacer height="10px"/>
                                                    </h:panelGroup>

                                                    <h:panelGroup>
                                                        <p:outputLabel value="Date Received:"/>
                                                        <p:spacer height="5px"/>
                                                        <div class="PaymentReadTableOutputLabel">
                                                            <p:outputLabel value="&#160;#{paymentBB.selectedPayment.dateReceived}"/>
                                                        </div>
                                                        <p:spacer height="10px"/>
                                                    </h:panelGroup>

                                                    <h:panelGroup>
                                                        <p:outputLabel value="Date Deposited:"/>
                                                        <p:spacer height="5px"/>
                                                        <div class="PaymentReadTableOutputLabel">
                                                            <p:outputLabel value="&#160;#{paymentBB.selectedPayment.dateDeposited}"/>
                                                        </div>
                                                        <p:spacer height="10px"/>
                                                    </h:panelGroup>

                                                    <h:panelGroup>
                                                        <p:outputLabel value="Amount:"/>
                                                        <p:spacer height="5px"/>
                                                        <div class="PaymentReadTableOutputLabel">
                                                            <p:outputLabel value="&#160;$#{paymentBB.selectedPayment.amount}"/>
                                                        </div>
                                                        <p:spacer height="10px"/>
                                                    </h:panelGroup>

                                                    <h:panelGroup>
                                                        <p:outputLabel value="Payer:"/>
                                                        <p:spacer height="5px"/>
                                                        <div class="PaymentReadTableOutputLabel">
                                                            <p:outputLabel value="&#160;#{paymentBB.selectedPayment.payer.lastName}, #{paymentBB.selectedPayment.payer.firstName} (#{paymentBB.selectedPayment.payer.personID})"/>
                                                        </div>
                                                        <p:spacer height="10px"/>
                                                    </h:panelGroup>

                                                    <h:panelGroup>
                                                        <p:outputLabel value="Reference No:"/>
                                                        <p:spacer height="5px"/>
                                                        <div class="PaymentReadTableOutputLabel">
                                                            <p:outputLabel value="&#160;#{paymentBB.selectedPayment.referenceNum}"/>
                                                        </div>
                                                        <p:spacer height="10px"/>
                                                    </h:panelGroup>

                                                    <h:panelGroup>
                                                        <p:outputLabel value="Check No:"/>
                                                        <p:spacer height="5px"/>
                                                        <div class="PaymentReadTableOutputLabel">
                                                            <p:outputLabel value="&#160;#{paymentBB.selectedPayment.checkNum}"/>
                                                        </div>
                                                        <p:spacer height="10px"/>
                                                    </h:panelGroup>

                                                    <h:panelGroup>
                                                        <p:outputLabel value="Cleared:"/>
                                                        <p:spacer height="5px"/>
                                                        <div class="PaymentReadTableOutputLabel">
                                                            <p:outputLabel value="&#160;#{paymentBB.selectedPayment.cleared}"/>
                                                        </div>
                                                        <p:spacer height="10px"/>
                                                    </h:panelGroup>

                                                </h:panelGrid>

                                            </h:form>

                                        </p:panel>

                                        <!--Insert Table-->
                                        <p:panel id="paymentManage-panel-insert"
                                                 toggleable="true"
                                                 collapsed="false"
                                                 header="Insert Panel"
                                                 rendered="#{paymentBB.getActiveInsertMode()}"
                                                 >

                                            <p:spacer height="10px"/>

                                            <h:form id="paymentManage-form-insert">

                                                <p:dataTable
                                                    id="feeAssignedInsertTable"
                                                    value="#{paymentBB.assignedFeeList}"
                                                    rendered="#{!empty paymentBB.assignedFeeList}"
                                                    var="fee"
                                                    selectionMode="single"
                                                    selection="#{paymentBB.selectedAssignedFee}"
                                                    rowKey="#{fee.assignedFeeID}"
                                                    tableStyleClass="primeDataTable"
                                                    filteredValue="#{feeManagementBB.filteredViolationList}"
                                                    expandedRow="false"
                                                    rowExpandMode="multiple">

                                                    <p:column>
                                                        <p:rowToggler />
                                                    </p:column>

                                                    <p:column headerText="Fee ID"
                                                              sortBy="#{fee.assignedFeeID}"
                                                              filterBy="#{fee.assignedFeeID}">
                                                        <h:outputText value="#{fee.assignedFeeID}"/>
                                                    </p:column>

                                                    <p:column headerText="Fee Name"
                                                              sortBy="#{fee.fee.name}"
                                                              filterBy="#{fee.fee.name}">
                                                        <h:outputText value="#{fee.fee.name}"/>
                                                    </p:column>
                                                    <p:column headerText="Amount"
                                                              sortBy="#{fee.fee.amount}"
                                                              filterBy="#{fee.fee.amount}">
                                                        <h:outputText value="#{fee.fee.amount}"/>
                                                    </p:column>

                                                    <p:rowExpansion>
                                                        <div class="outlinedBox">
                                                            <p:spacer height="5px" />
                                                            <h:panelGrid    id="violation-ord-fulltext-pg" columns="1" columnClasses="gridTd" 
                                                                            rendered="true">
                                                                <h:panelGroup>
                                                                    <h:outputLabel styleClass="bold" value="Effective: "/>
                                                                    <div class="ord-text">
                                                                        <h:outputText value="#{fee.fee.effectiveDate}"/>
                                                                    </div>
                                                                </h:panelGroup>

                                                                <h:panelGroup>
                                                                    <h:outputLabel styleClass="bold" value="Expiry: "/>
                                                                    <div class="ord-text">
                                                                        <h:outputText value="#{fee.fee.expiryDate}"/>
                                                                    </div>
                                                                </h:panelGroup>

                                                                <h:panelGroup>
                                                                    <h:outputLabel styleClass="bold" value="Fee Notes: "/>
                                                                    <div class="ord-text">
                                                                        <h:outputText value="#{fee.fee.notes}"/>
                                                                    </div>
                                                                </h:panelGroup>

                                                                <h:panelGroup>
                                                                    <h:outputLabel styleClass="bold" value="Assigned By: "/>
                                                                    <div class="ord-text">
                                                                        <h:outputText value="#{fee.assignedBy.person.firstName} #{fee.assignedBy.person.lastName} (ID: #{fee.assignedBy.userID})"/>
                                                                    </div>
                                                                </h:panelGroup>

                                                                <h:panelGroup>
                                                                    <h:outputLabel styleClass="bold" value="Last Modified: "/>
                                                                    <div class="ord-text">
                                                                        <h:outputText value="#{fee.lastModified}"/>
                                                                    </div>
                                                                </h:panelGroup>

                                                                <h:panelGroup>
                                                                    <h:outputLabel styleClass="bold" value="Other Notes: "/>
                                                                    <div class="ord-text">
                                                                        <h:outputText value="#{fee.notes}"/>
                                                                    </div>
                                                                </h:panelGroup>

                                                                <h:panelGroup rendered="#{not empty fee.reducedByUser}">
                                                                    <h:outputLabel styleClass="bold" value="Amount Reduced By: "/>
                                                                    <div class="ord-text">
                                                                        <h:outputText value="#{fee.reducedBy}"/>
                                                                    </div>
                                                                </h:panelGroup>

                                                                <h:panelGroup rendered="#{not empty fee.reducedByUser}">
                                                                    <h:outputLabel styleClass="bold" value="Reduced By: "/>
                                                                    <div class="ord-text">
                                                                        <h:outputText value="#{fee.reducedByUser.person.firstName} #{fee.reducedByUser.person.lastName} (ID: #{fee.reducedByUser.userID})"/>
                                                                    </div>
                                                                </h:panelGroup>

                                                                <h:panelGroup>
                                                                    <h:outputLabel styleClass="bold" value="Waived? "/>
                                                                    <div class="ord-text">
                                                                        <h:outputText value="#{not empty fee.waivedBy}"/>
                                                                    </div>
                                                                </h:panelGroup>

                                                                <h:panelGroup rendered="#{not empty fee.waivedBy}">
                                                                    <h:outputLabel styleClass="bold" value="Waived By: "/>
                                                                    <div class="ord-text">
                                                                        <h:outputText value="#{fee.waivedBy.person.firstName} #{fee.waivedBy.person.lastName} (ID: #{fee.waivedBy.userID})"/>
                                                                    </div>
                                                                </h:panelGroup>

                                                            </h:panelGrid>
                                                            <p:spacer height="5px"/>
                                                        </div>
                                                    </p:rowExpansion>
                                                </p:dataTable>

                                                <h:panelGrid columns="4" 

                                                             columnClasses="gridTd, gridTd, gridTd, gridTd" 
                                                             >

                                                    <h:panelGroup>
                                                        <p:outputLabel value="ID:"/>
                                                        <p:spacer height="5px"/>
                                                        <div class="PaymentReadTableOutputLabel">
                                                            <p:outputLabel value="&#160;#{paymentBB.selectedPayment.paymentID}"/>
                                                        </div>
                                                        <p:spacer height="10px"/>
                                                    </h:panelGroup>

                                                    <h:panelGroup>
                                                        <p:outputLabel value="Assigned Fee ID:"/>
                                                        <p:spacer height="5px"/>
                                                        <div class="PaymentReadTableOutputLabel">
                                                            <p:outputLabel value="&#160;#{paymentBB.selectedPayment.assignedFeeID} (#{paymentBB.selectedPayment.domain})"/>
                                                        </div>
                                                        <p:spacer height="10px"/>
                                                    </h:panelGroup>

                                                    <h:panelGroup>
                                                        <p:outputLabel value="Payment Type:"/>
                                                        <p:spacer height="5px"/>

                                                        <p:selectOneMenu id="paymentTypeMenu" tabindex="5" required="false" converter="paymentTypeConverter" value="#{paymentBB.selectedPayment.paymentType}">
                                                            <f:selectItems id="paymentTypeList" value="#{paymentBB.paymentTypeList}" var="pt" itemValue="#{pt}" itemLabel="#{pt.paymentTypeTitle}"/>
                                                        </p:selectOneMenu>

                                                        <p:spacer height="10px"/>
                                                    </h:panelGroup>

                                                    <h:panelGroup>
                                                        <p:outputLabel value="Date Received:"/>
                                                        <p:spacer height="5px"/>
                                                        <p:datePicker 	id="newPaymentDateReceived"
                                                                       value="#{paymentBB.selectedPayment.dateReceived}" 
                                                                       rendered="true"
                                                                       style="width: 100%;"
                                                                       pattern="MM/dd/yyyy HH:mm"
                                                                       disabled="false"
                                                                       hideOnDateTimeSelect="true"
                                                                        showOnFocus="false"
                                                                        showIcon="true"
                                                                       showButtonBar="true"
                                                                       mask="true"
                                                                       timeInput="true" 
                                                                       required="true" />

                                                        <p:spacer height="10px"/>
                                                    </h:panelGroup>

                                                    <h:panelGroup>
                                                        <p:outputLabel value="Date Deposited:"/>
                                                        <p:spacer height="5px"/>
                                                        <p:datePicker 	value="#{paymentBB.selectedPayment.dateDeposited}" 
                                                                       id="newPaymentDateDeposited"
                                                                       rendered="true"
                                                                       style="width: 100%;"
                                                                       pattern="MM/dd/yyyy HH:mm"
                                                                       disabled="false"
                                                                       hideOnDateTimeSelect="true"
                                                                        showOnFocus="false"
                                                                        showIcon="true"
                                                                       showButtonBar="true"
                                                                       mask="true"
                                                                       timeInput="true" 
                                                                       required="true" />

                                                        <p:spacer height="10px"/>
                                                    </h:panelGroup>

                                                    <h:panelGroup>
                                                        <p:outputLabel value="Amount:"/>
                                                        <p:spacer height="5px"/>

                                                        <p:inputText value="#{paymentBB.selectedPayment.amount}"
                                                                     styleClass="paymentReadTableInputText"/>

                                                        <p:spacer height="10px"/>
                                                    </h:panelGroup>

                                                    <h:panelGroup>
                                                        <p:outputLabel value="Payer ID:"/>
                                                        <p:spacer height="5px"/>

                                                        <p:inputText value="#{paymentBB.selectedPaymentPayer}"
                                                                     styleClass="paymentReadTableInputText"/>

                                                        <p:spacer height="10px"/>
                                                    </h:panelGroup>

                                                    <h:panelGroup>
                                                        <p:outputLabel value="Reference No:"/>
                                                        <p:spacer height="5px"/>

                                                        <p:inputText value="#{paymentBB.selectedPayment.referenceNum}"
                                                                     styleClass="paymentReadTableInputText"/>

                                                        <p:spacer height="10px"/>
                                                    </h:panelGroup>

                                                    <h:panelGroup>
                                                        <p:outputLabel value="Check No:"/>
                                                        <p:spacer height="5px"/>

                                                        <p:inputText value="#{paymentBB.selectedPayment.checkNum}"
                                                                     styleClass="paymentReadTableInputText"/>

                                                        <p:spacer height="10px"/>
                                                    </h:panelGroup>

                                                    <h:panelGroup>
                                                        <p:outputLabel value="Cleared?"/>
                                                        <p:spacer height="5px"/>

                                                        <p:inputSwitch value="#{paymentBB.selectedPayment.cleared}" 
                                                                       tabindex="13" onLabel="Yes" offLabel="No"/>

                                                        <p:spacer height="10px"/>
                                                    </h:panelGroup>

                                                </h:panelGrid>

                                                <p:spacer height="10px" />

                                                <!--Insert Button-->
                                                <p:commandButton icon="fa fa-edit"
                                                                 ajax="false"
                                                                 action="#{paymentBB.onInsertButtonChange()}"
                                                                 value="INSERT"
                                                                 />

                                            </h:form>

                                        </p:panel>


                                        <!--Update Table-->
                                        <p:panel id="paymentManage-panel-update"
                                                 toggleable="true"
                                                 collapsed="false"
                                                 header="LoopUp Panel"
                                                 rendered="#{paymentBB.getActiveUpdateMode()}"
                                                 >

                                            <p:spacer height="10px"/>

                                            <h:form id="paymentManage-form-update">

                                                <p:dataTable
                                                    id="feeAssignedInsertTable"
                                                    value="#{paymentBB.assignedFeeList}"
                                                    rendered="#{!empty paymentBB.assignedFeeList}"
                                                    var="fee"
                                                    selectionMode="single"
                                                    selection="#{paymentBB.selectedAssignedFee}"
                                                    rowKey="#{fee.assignedFeeID}"
                                                    tableStyleClass="primeDataTable"
                                                    filteredValue="#{feeManagementBB.filteredViolationList}"
                                                    expandedRow="false"
                                                    rowExpandMode="multiple">

                                                    <p:column>
                                                        <p:rowToggler />
                                                    </p:column>

                                                    <p:column headerText="Fee ID"
                                                              sortBy="#{fee.assignedFeeID}"
                                                              filterBy="#{fee.assignedFeeID}">
                                                        <h:outputText value="#{fee.assignedFeeID}"/>
                                                    </p:column>

                                                    <p:column headerText="Fee Name"
                                                              sortBy="#{fee.fee.name}"
                                                              filterBy="#{fee.fee.name}">
                                                        <h:outputText value="#{fee.fee.name}"/>
                                                    </p:column>
                                                    <p:column headerText="Amount"
                                                              sortBy="#{fee.fee.amount}"
                                                              filterBy="#{fee.fee.amount}">
                                                        <h:outputText value="#{fee.fee.amount}"/>
                                                    </p:column>

                                                    <p:rowExpansion>
                                                        <div class="outlinedBox">
                                                            <p:spacer height="5px" />
                                                            <h:panelGrid    id="violation-ord-fulltext-pg" columns="1" columnClasses="gridTd" 
                                                                            rendered="true">
                                                                <h:panelGroup>
                                                                    <h:outputLabel styleClass="bold" value="Effective: "/>
                                                                    <div class="ord-text">
                                                                        <h:outputText value="#{fee.fee.effectiveDate}"/>
                                                                    </div>
                                                                </h:panelGroup>

                                                                <h:panelGroup>
                                                                    <h:outputLabel styleClass="bold" value="Expiry: "/>
                                                                    <div class="ord-text">
                                                                        <h:outputText value="#{fee.fee.expiryDate}"/>
                                                                    </div>
                                                                </h:panelGroup>

                                                                <h:panelGroup>
                                                                    <h:outputLabel styleClass="bold" value="Fee Notes: "/>
                                                                    <div class="ord-text">
                                                                        <h:outputText value="#{fee.fee.notes}"/>
                                                                    </div>
                                                                </h:panelGroup>

                                                                <h:panelGroup>
                                                                    <h:outputLabel styleClass="bold" value="Assigned By: "/>
                                                                    <div class="ord-text">
                                                                        <h:outputText value="#{fee.assignedBy.person.firstName} #{fee.assignedBy.person.lastName} (ID: #{fee.assignedBy.userID})"/>
                                                                    </div>
                                                                </h:panelGroup>

                                                                <h:panelGroup>
                                                                    <h:outputLabel styleClass="bold" value="Last Modified: "/>
                                                                    <div class="ord-text">
                                                                        <h:outputText value="#{fee.lastModified}"/>
                                                                    </div>
                                                                </h:panelGroup>

                                                                <h:panelGroup>
                                                                    <h:outputLabel styleClass="bold" value="Other Notes: "/>
                                                                    <div class="ord-text">
                                                                        <h:outputText value="#{fee.notes}"/>
                                                                    </div>
                                                                </h:panelGroup>

                                                                <h:panelGroup rendered="#{not empty fee.reducedByUser}">
                                                                    <h:outputLabel styleClass="bold" value="Amount Reduced By: "/>
                                                                    <div class="ord-text">
                                                                        <h:outputText value="#{fee.reducedBy}"/>
                                                                    </div>
                                                                </h:panelGroup>

                                                                <h:panelGroup rendered="#{not empty fee.reducedByUser}">
                                                                    <h:outputLabel styleClass="bold" value="Reduced By: "/>
                                                                    <div class="ord-text">
                                                                        <h:outputText value="#{fee.reducedByUser.person.firstName} #{fee.reducedByUser.person.lastName} (ID: #{fee.reducedByUser.userID})"/>
                                                                    </div>
                                                                </h:panelGroup>

                                                                <h:panelGroup>
                                                                    <h:outputLabel styleClass="bold" value="Waived? "/>
                                                                    <div class="ord-text">
                                                                        <h:outputText value="#{not empty fee.waivedBy}"/>
                                                                    </div>
                                                                </h:panelGroup>

                                                                <h:panelGroup rendered="#{not empty fee.waivedBy}">
                                                                    <h:outputLabel styleClass="bold" value="Waived By: "/>
                                                                    <div class="ord-text">
                                                                        <h:outputText value="#{fee.waivedBy.person.firstName} #{fee.waivedBy.person.lastName} (ID: #{fee.waivedBy.userID})"/>
                                                                    </div>
                                                                </h:panelGroup>

                                                            </h:panelGrid>
                                                            <p:spacer height="5px"/>
                                                        </div>
                                                    </p:rowExpansion>
                                                </p:dataTable>

                                                <h:panelGrid columns="4" 

                                                             columnClasses="gridTd, gridTd, gridTd, gridTd" 
                                                             >

                                                    <h:panelGroup>
                                                        <p:outputLabel value="ID:"/>
                                                        <p:spacer height="5px"/>
                                                        <div class="PaymentReadTableOutputLabel">
                                                            <p:outputLabel value="&#160;#{paymentBB.selectedPayment.paymentID}"/>
                                                        </div>
                                                        <p:spacer height="10px"/>
                                                    </h:panelGroup>

                                                    <h:panelGroup>
                                                        <p:outputLabel value="Assigned Fee ID:"/>
                                                        <p:spacer height="5px"/>
                                                        <div class="PaymentReadTableOutputLabel">
                                                            <p:outputLabel value="&#160;#{paymentBB.selectedPayment.assignedFeeID} (#{paymentBB.selectedPayment.domain})"/>
                                                        </div>
                                                        <p:spacer height="10px"/>
                                                    </h:panelGroup>

                                                    <h:panelGroup>
                                                        <p:outputLabel value="Payment Type:"/>
                                                        <p:spacer height="5px"/>

                                                        <p:selectOneMenu id="paymentTypeMenu" tabindex="5" required="false" converter="paymentTypeConverter" value="#{paymentBB.selectedPayment.paymentType}">
                                                            <f:selectItems id="paymentTypeList" value="#{paymentBB.paymentTypeList}" var="pt" itemValue="#{pt}" itemLabel="#{pt.paymentTypeTitle}"/>
                                                        </p:selectOneMenu>

                                                        <p:spacer height="10px"/>
                                                    </h:panelGroup>

                                                    <h:panelGroup>
                                                        <p:outputLabel value="Date Received:"/>
                                                        <p:spacer height="5px"/>
                                                        <p:datePicker 	value="#{paymentBB.selectedPayment.dateReceived}" 
                                                                       id="newPaymentDateReceived"
                                                                       rendered="true"
                                                                       style="width: 100%;"
                                                                       pattern="MM/dd/yyyy HH:mm"
                                                                       disabled="false"
                                                                       hideOnDateTimeSelect="true"
                                                                        showOnFocus="false"
                                                                        showIcon="true"
                                                                       showButtonBar="true"
                                                                       mask="true"
                                                                       timeInput="true" 
                                                                       required="true" />



                                                        <p:spacer height="10px"/>
                                                    </h:panelGroup>

                                                    <h:panelGroup>
                                                        <p:outputLabel value="Date Deposited:"/>
                                                        <p:spacer height="5px"/>
                                                        <p:datePicker 	value="#{paymentBB.selectedPayment.dateDeposited}" 
                                                                        id="newPaymentDateDeposited"
                                                                        rendered="true"
                                                                        style="width: 100%;"
                                                                        pattern="MM/dd/yyyy HH:mm"
                                                                        disabled="false"
                                                                        hideOnDateTimeSelect="true"
                                                                        showOnFocus="false"
                                                                        showIcon="true"
                                                                        showButtonBar="true"
                                                                        mask="true"
                                                                        timeInput="true" 
                                                                        required="true" />
                                                     
                                                        <p:spacer height="10px"/>
                                                    </h:panelGroup>

                                                    <h:panelGroup>
                                                        <p:outputLabel value="Amount:"/>
                                                        <p:spacer height="5px"/>

                                                        <p:inputText value="#{paymentBB.selectedPayment.amount}"
                                                                     styleClass="paymentReadTableInputText"/>

                                                        <p:spacer height="10px"/>
                                                    </h:panelGroup>

                                                    <h:panelGroup>
                                                        <p:outputLabel value="Payer ID:"/>
                                                        <p:spacer height="5px"/>

                                                        <p:inputText value="#{paymentBB.selectedPaymentPayer}"
                                                                     styleClass="paymentReadTableInputText"/>

                                                        <p:spacer height="10px"/>
                                                    </h:panelGroup>

                                                    <h:panelGroup>
                                                        <p:outputLabel value="Reference No:"/>
                                                        <p:spacer height="5px"/>

                                                        <p:inputText value="#{paymentBB.selectedPayment.referenceNum}"
                                                                     styleClass="paymentReadTableInputText"/>

                                                        <p:spacer height="10px"/>
                                                    </h:panelGroup>

                                                    <h:panelGroup>
                                                        <p:outputLabel value="Check No:"/>
                                                        <p:spacer height="5px"/>

                                                        <p:inputText value="#{paymentBB.selectedPayment.checkNum}"
                                                                     styleClass="paymentReadTableInputText"/>

                                                        <p:spacer height="10px"/>
                                                    </h:panelGroup>

                                                    <h:panelGroup>
                                                        <p:outputLabel value="Cleared?"/>
                                                        <p:spacer height="5px"/>

                                                        <p:inputSwitch value="#{paymentBB.selectedPayment.cleared}" 
                                                                       tabindex="13" onLabel="Yes" offLabel="No"/>

                                                        <p:spacer height="10px"/>
                                                    </h:panelGroup>

                                                </h:panelGrid>

                                                <p:spacer height="10px" />

                                                <!--Update Button-->
                                                <p:commandButton icon="fa fa-edit"
                                                                 ajax="false"
                                                                 action="#{paymentBB.onUpdateButtonChange()}"
                                                                 value="UPDATE"
                                                                 />

                                            </h:form>

                                        </p:panel>


                                        <!--Remove Table-->
                                        <p:panel id="paymentManage-panel-remove"
                                                 toggleable="true"
                                                 collapsed="false"
                                                 header="LoopUp Panel"
                                                 rendered="#{paymentBB.getActiveRemoveMode()}"
                                                 >

                                            <p:spacer height="10px"/>

                                            <h:form id="paymentManage-form-remove">

                                                <h:panelGrid columns="4" 

                                                             columnClasses="gridTd, gridTd, gridTd, gridTd" 
                                                             >

                                                    <!--Remove Table Content-->
                                                    <h:panelGroup>
                                                        <p:outputLabel value="ID:"/>
                                                        <p:spacer height="5px"/>
                                                        <div class="PaymentReadTableOutputLabel">
                                                            <p:outputLabel value="&#160;#{paymentBB.selectedPayment.paymentID}"/>
                                                        </div>
                                                        <p:spacer height="10px"/>
                                                    </h:panelGroup>

                                                    <h:panelGroup>
                                                        <p:outputLabel value="Assigned Fee ID:"/>
                                                        <p:spacer height="5px"/>
                                                        <div class="PaymentReadTableOutputLabel">
                                                            <p:outputLabel value="&#160;#{paymentBB.selectedPayment.assignedFeeID} (#{paymentBB.selectedPayment.domain})"/>
                                                        </div>
                                                        <p:spacer height="10px"/>
                                                    </h:panelGroup>

                                                    <h:panelGroup>
                                                        <p:outputLabel value="Payment Type:"/>
                                                        <p:spacer height="5px"/>
                                                        <div class="PaymentReadTableOutputLabel">
                                                            <p:outputLabel value="&#160;#{paymentBB.selectedPayment.paymentType.paymentTypeTitle}"/>
                                                        </div>
                                                        <p:spacer height="10px"/>
                                                    </h:panelGroup>

                                                    <h:panelGroup>
                                                        <p:outputLabel value="Date Received:"/>
                                                        <p:spacer height="5px"/>
                                                        <div class="PaymentReadTableOutputLabel">
                                                            <p:outputLabel value="&#160;#{paymentBB.selectedPayment.dateReceived}"/>
                                                        </div>
                                                        <p:spacer height="10px"/>
                                                    </h:panelGroup>

                                                    <h:panelGroup>
                                                        <p:outputLabel value="Date Deposited:"/>
                                                        <p:spacer height="5px"/>
                                                        <div class="PaymentReadTableOutputLabel">
                                                            <p:outputLabel value="&#160;#{paymentBB.selectedPayment.dateDeposited}"/>
                                                        </div>
                                                        <p:spacer height="10px"/>
                                                    </h:panelGroup>

                                                    <h:panelGroup>
                                                        <p:outputLabel value="Amount:"/>
                                                        <p:spacer height="5px"/>
                                                        <div class="PaymentReadTableOutputLabel">
                                                            <p:outputLabel value="&#160;$#{paymentBB.selectedPayment.amount}"/>
                                                        </div>
                                                        <p:spacer height="10px"/>
                                                    </h:panelGroup>

                                                    <h:panelGroup>
                                                        <p:outputLabel value="Payer:"/>
                                                        <p:spacer height="5px"/>
                                                        <div class="PaymentReadTableOutputLabel">
                                                            <p:outputLabel value="&#160;#{paymentBB.selectedPayment.payer.lastName}, #{paymentBB.selectedPayment.payer.firstName} (#{paymentBB.selectedPayment.payer.personID})"/>
                                                        </div>
                                                        <p:spacer height="10px"/>
                                                    </h:panelGroup>

                                                    <h:panelGroup>
                                                        <p:outputLabel value="Reference No:"/>
                                                        <p:spacer height="5px"/>
                                                        <div class="PaymentReadTableOutputLabel">
                                                            <p:outputLabel value="&#160;#{paymentBB.selectedPayment.referenceNum}"/>
                                                        </div>
                                                        <p:spacer height="10px"/>
                                                    </h:panelGroup>

                                                    <h:panelGroup>
                                                        <p:outputLabel value="Check No:"/>
                                                        <p:spacer height="5px"/>
                                                        <div class="PaymentReadTableOutputLabel">
                                                            <p:outputLabel value="&#160;#{paymentBB.selectedPayment.checkNum}"/>
                                                        </div>
                                                        <p:spacer height="10px"/>
                                                    </h:panelGroup>

                                                    <h:panelGroup>
                                                        <p:outputLabel value="Cleared:"/>
                                                        <p:spacer height="5px"/>
                                                        <div class="PaymentReadTableOutputLabel">
                                                            <p:outputLabel value="&#160;#{paymentBB.selectedPayment.cleared}"/>
                                                        </div>
                                                        <p:spacer height="10px"/>
                                                    </h:panelGroup>

                                                </h:panelGrid>

                                                <p:spacer height="10px" />

                                                <!--Remove Button-->
                                                <p:commandButton icon="fa fa-edit"
                                                                 ajax="false"
                                                                 action="#{paymentBB.onRemoveButtonChange()}"
                                                                 value="Remove"
                                                                 />

                                            </h:form>

                                        </p:panel>


                                    </p:outputPanel>
                                </div>
                            </div>
                        </div>
                    </p:outputPanel>
                </f:view>
            </ui:define>
        </ui:composition>
    </h:body>
</html>

