<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:tt="http://xmlns.jcp.org/jsf/composite/components">

    <p:panel id="events-panel"
             toggleable="true"
             collapsed="false">

        <f:facet name="header">
            <h:form id="event-panel-header-form">
                <h:outputText value="Events attached to #{eventBB.currentEventHolder.eventDomain.title} (ID:#{eventBB.currentEventHolder.BObID})" />
                <div class="restrict-main-contents-io-link link-button help-icon-tightright">
                    <a href="https://technologyrediscovery.github.io/codenforce/case/casescreen#log-an-event"
                       target="_blank">
                        <i class="material-icons"
                           style="display: inline-block">help_outline</i>
                    </a>
                </div>
                <div class="restrict-main-contents-io-link link-button help-text-tightleft">
                    <a href="https://technologyrediscovery.github.io/codenforce/case/casescreen#log-an-event"
                       target="_blank">
                        <h:outputText value="help" />
                    </a>
                </div>
            </h:form>
        </f:facet>

        <h:form id="event-masterlist-form">

            <p:commandButton id="events-add-button"
                             styleClass="noFill button-size-small"
                             value="Add Event"
                             icon="pi pi-plus"
                             rendered="#{systemServicesBB.permissionAllowAncillaryObjectEdit}"
                             disabled="#{sessionBean.crossMuniViewMode}"
                             actionListener="#{eventBB.onEventAddInit}"
                             oncomplete="PF('event-add-dialog-var').show()"
                             update="event-add-dialog"
                             >

                <f:param name="event-list-component-to-update" 
                         value="event-masterlist-form" />

            </p:commandButton>

            <p:commandLink value="Export events to calendar"
                           action="#{eventBB.changeSelectionMode()}"
                           update="@form"
                           style="color: blue; margin-left: 5px; font-weight: bold"/>

            <p:spacer height="5px"/>
            
            <p:dataTable id="crossdomain-events-table"
                         value="#{eventBB.managedEventList}"
                         rendered="true"
                         var="genevent"
                         tableStyleClass="primeDataTable"
                         rowKey="#{genevent.eventID}"
                         reflow="true"
                         selection="#{eventBB.selectedEvents}"
                         rowStyleClass="#{genevent.followUpNeeded ? 'followup':''}"
                         selectionMode="multiple" 
                         >

                <p:column 
                          styleClass="centeredColumnContent" 
                          style="width:16px;text-align:center" 
                          rendered="#{eventBB.selectionMode}"/>

                <p:column headerText="Date"
                          width="20%"
                          sortBy="#{genevent.eventStartDateOnly}"
                          styleClass="centeredColumnContent">
                    <h:outputText value="#{empty genevent.timeStart ? eventBB.getPrettyDate(genevent.createdTS) : eventBB.getPrettyDate(genevent.timeStart) }"/>
                </p:column>

                <p:column headerText="Category"
                          width="20%"
                          sortBy="#{genevent.category.eventCategoryTitle}"
                          styleClass="centeredColumnContent #{genevent.category.alertEvent ? 'alert-background':''}">

                    <div class="#{genevent.category.icon.styleClass}">
                        <i class="material-icons status-display-icon-i"><h:outputText value="#{genevent.category.icon.materialIcon}"/></i>
                    </div>

                    <h:outputText value="#{genevent.category.eventType.label}:"
                                  styleClass="#{genevent.category.alertEvent ? 'bold':''}"/>

                    <p:spacer height="1px" />

                    <h:outputText value="#{genevent.category.eventCategoryTitle}"
                                  styleClass="#{genevent.category.alertEvent ? 'bold':''}"/>
                    <p:spacer height="1px" />
                    <h:outputText value="Property Alert!"
                                  rendered="#{genevent.category.alertEvent}"
                                  styleClass="#{genevent.category.alertEvent ? 'bold':''}"/>
                </p:column>

                <p:column headerText="Description"
                          width="50%"
                          styleClass="wrapText">

                    <h:outputText value="#{genevent.description}"
                                  escape="false"/>
                    <p:spacer height="3px" />
                    <h:outputText value="(OPID:#{genevent.occPeriodID}) (PCLID: #{genevent.parcelKey}) (CSEID:#{genevent.ceCaseID})"
                                  rendered="false" />


                </p:column>

                <p:column headerText="Actions"
                          width="10%"
                          styleClass="centeredColumnContent"
                          sortBy="#{genevent.eventID}">
                    <div class="restrict-main-contents-io-link link-button">
                        <p:commandLink id="event-open-button"
                                       styleClass="noFill button-size-small"
                                       value="view/edit"
                                       rendered="#{not sessionBean.crossMuniViewMode}"
                                       type="button"
                                       ajax="true"
                                       oncomplete="PF('event-profile-dialog-var').show()"
                                       update="event-profile-dialog
                                       event-profile-form"
                                       >
                            <p:ajax listener="#{eventBB.onViewEvent(genevent)}" />
                            <f:param name="event-list-component-to-update" 
                                     value="event-masterlist-form:crossdomain-events-table" />
                        </p:commandLink>
                    </div>

                    <f:subview id="case-event-followup-required-subview"
                               rendered="#{genevent.followUpNeeded}">
                        <p:spacer height="3px" />
                        <div class="restrict-main-contents-io-link event-followup-required">
                            <p:commandLink id="event-masterlist-followup-cl"
                                           actionListener="#{eventBB.onFollowUpToEventInit(genevent)}"
                                           oncomplete="PF('event-add-dialog-var').show()"
                                           update="event-add-dialog">
                                <f:param name="event-list-component-to-update" value="event-masterlist-form:crossdomain-events-table" />
                                <h:outputText value="Follow up" />
                            </p:commandLink>
                        </div>
                    </f:subview>

                    <f:subview id="event-masterlist-followup-satisfied-subview"
                               rendered="#{not genevent.followUpNeeded and genevent.category.followUpEvent}">
                        <p:spacer height="3px" />
                        <div class="p-grid">
                            <div class="p-col-2">
                                <div class="evcal-evicon-container">
                                    <i class="material-icons">
                                        <h:outputText value="done"/>
                                    </i>
                                </div>
                            </div>

                            <div class="p-col-10">
                                <h:outputText value="Follow-up complete!"/>
                            </div>
                        </div>
                    </f:subview>

                    <p:spacer height="3px" />
                    <h:outputText value="(ID:#{genevent.eventID})"/>
                    
                    <p:spacer height="3px" />
                    <h:outputText value="#{empty genevent.deactivatedTS ? 'Active' : 'Deactivated'}"
                                  styleClass="italic"/>

                </p:column>
            </p:dataTable>
            <p:spacer height="5px"/>

            <p:commandButton styleClass="noFill button-size-small" 
                             value="Export Selected Events To Calendar File" 
                             icon="pi pi-download"
                             action="#{eventBB.exportCalendar()}" 
                             ajax="false" 
                             rendered="#{eventBB.selectionMode}" 
                             />
            <p:commandButton styleClass="noFill button-size-small ui-button-secondary" 
                             value="Done/Cancel" 
                             icon="pi pi-thumbs-up"
                             style="margin-left: 5px" 
                             rendered="#{eventBB.selectionMode}" 
                             action="#{eventBB.abortExportOperation()}" 
                             update="@form"/>
        </h:form>
    </p:panel>


</ui:composition>