<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns:tt="http://xmlns.jcp.org/jsf/composite/components">

    <h:form id="event-growl-form">
        <p:growl id="event-growl" 
                 globalOnly="false"/>
    </h:form>

    <!-- Event profile dialog -->
    <p:dialog id="event-profile-dialog"
              height="750" width="1200"
              widgetVar="event-profile-dialog-var"
              responsive="true"
              resizable="true"
              closable="true"
              closeOnEscape="true"
              dynamic="true"
              modal="true"
              header="Event Profile (ID: #{eventBB.currentEvent.eventID}) ">

        <div class="p-grid nested-grid">
            <div class="p-lg-6 p-md-12 p-sm-12">
                <p:panel id="event-info-panel"
                         toggleable="true"
                         collapsed="false"
                         header="Event Details">
                    <h:form id="event-profile-form">

                        <p:commandButton id="event-edit-toggle-button"
                                         value="#{eventBB.eventEditMode ? 'Save changes' : 'Edit'}"
                                         rendered="#{eventBB.permissionAllowEventEditDeac}"
                                         disabled="#{!eventBB.currentEvent.active or eventBB.selectionMode eq 'true'}"
                                         ajax="true"
                                         style="margin-right:10px;"
                                         icon="pi pi-#{eventBB.eventEditMode ? 'check' : 'pencil'}"
                                         actionListener="#{eventBB.onEventEditModeToggleButtonPress}"
                                         update="@form
                                         event-growl-form
                                         event-persons-panel-form
                                         @form:@parent:#{eventBB.eventListComponentForRefreshTrigger}"
                                         />

                        <div class="gray_button">
                            <p:commandButton    id="event-edit-cancel-button"
                                                ajax="true"
                                                rendered="#{eventBB.eventEditMode}"
                                                value="Abort edit"
                                                actionListener="#{eventBB.onEventEditCancelButtonChange}"
                                                update="@form
                                                event-persons-panel-form
                                                event-growl-form"
                                                icon="pi pi-arrow-left" />
                        </div>

                        <p:spacer height="5px" />
                        <div class="p-grid">

                            <div class="p-col-4 restrict-data-field-label-inline">
                                <p:outputLabel for="event-ec-ot">
                                    <h:outputText value="Category"/>
                                </p:outputLabel>
                            </div>

                            <div class="p-col-8 restrict-data-field-value-inline nested-grid">
                                <div class="p-grid">
                                    <div class="p-col-2">
                                        <div class="evcal-evicon-container">
                                            <i class="material-icons">
                                                <h:outputText value="#{eventBB.currentEvent.category.icon.materialIcon}"/>
                                            </i>
                                        </div>
                                    </div>

                                    <div class="p-col-10">
                                        <div class="restrict-main-contents-io-link">
                                            <p:commandLink id="eventinfo-catinfo-cl"
                                                           actionListener="#{eventBB.onViewCurrentEventCategoryDetails}"
                                                           oncomplete="PF('event-catinfo-dialog-var').show();"
                                                           rendered="true"
                                                           update="event-catinfo-dialog">
                                                <h:outputText id="event-ec-ot"
                                                              value="#{eventBB.currentEvent.category.eventCategoryTitle}"/>
                                            </p:commandLink>
                                        </div>

                                        <p:spacer height="3px" />
                                        <h:outputText id="event-et-ot"
                                                      value="Type: #{eventBB.currentEvent.category.eventType.label} "/>
                                        <p:spacer height="3px" />
                                        <h:outputText id="event-domain-ot"
                                                      value="Domain: #{eventBB.currentEvent.domain.title} "/>
                                    </div>
                                </div>
                            </div>

                            <div class="p-col-4 restrict-data-field-label-inline">
                                <p:outputLabel for="event-et-ot">
                                    <h:outputText value="Parent"/>
                                </p:outputLabel>
                            </div>

                            <div class="p-col-8 restrict-data-field-value-inline restrict-main-contents-io-link">


                                <p:commandLink id="view-event-holder-cl"
                                               action="#{sessionEventConductor.onViewEventHolder(eventBB.currentEvent)}"
                                               >
                                    <h:outputText value="#{eventBB.currentEvent.casePeriodPropertyString}"/>
                                    <p:spacer height="1px" />
                                    <h:outputText value="#{eventBB.currentEvent.parcelAddressOneLine}" escape="false" />
                                </p:commandLink>
                            </div>


                            <div class="p-col-4 restrict-data-field-label-inline">
                                <p:outputLabel for="event-descr-ot">
                                    <h:outputText value="Description"/>
                                </p:outputLabel>
                            </div>
                            <div class="p-col-8 restrict-data-field-value-inline">
                                <h:outputText id="event-descr-ot"
                                              value="#{eventBB.currentEvent.description}"
                                              rendered="#{!eventBB.eventEditMode}"
                                              escape="false"/>


                                <p:textEditor   id="event-description-editor"
                                                value="#{eventBB.currentEvent.description}"
                                                rendered="#{eventBB.eventEditMode}"
                                                height="150"
                                                secure="false"
                                                required="false"
                                                >
                                    <f:facet name="toolbar">
                                        <span class="ql-formats">
                                            <button class="ql-bold" />
                                            <button class="ql-italic" />
                                            <button class="ql-underline" />
                                            <select class="ql-size" />
                                        </span>
                                        <span class="ql-formats">
                                            <select class="ql-color" />
                                        </span>
                                        <span class="ql-formats">
                                            <button class="ql-list" value="ordered" />
                                            <button class="ql-list" value="bullet" />
                                        </span>
                                        <span class="ql-formats">
                                            <button class="ql-clean" />
                                        </span>
                                    </f:facet>
                                </p:textEditor>


                            </div>

                            <div class="p-col-4 restrict-data-field-label-inline">
                                <p:outputLabel for="event-st-ot">
                                    <h:outputText value="Action date and time"/>
                                </p:outputLabel>
                            </div>
                            <div class="p-col-8 restrict-data-field-value-inline">

                                <h:outputText id="event-st-ot"
                                              value="#{eventBB.getPrettyDate(eventBB.currentEvent.timeStart)}"
                                              rendered="#{!eventBB.eventEditMode}"/>

                                <p:datePicker value="#{eventBB.currentEvent.timeStart}"
                                              id="event-edit-time-start-cal"
                                              rendered="#{eventBB.eventEditMode}"
                                              style="width: 100%;"
                                              pattern="MM/dd/yyyy HH:mm"
                                              disabled="false"
                                              hideOnDateTimeSelect="true"
                                              showOnFocus="false"
                                              showIcon="true"
                                              showButtonBar="true"
                                              mask="true"
                                              tabindex="16" 
                                              timeInput="true" 
                                              required="true">


                                </p:datePicker>

                                <p:spacer height="5px" />
                                <h:outputLabel for="event-edit-time-start-cal"
                                               rendered="#{eventBB.eventEditMode}">
                                    <h:outputText value="Event length (mins)"/>
                                </h:outputLabel>
                                <p:spacer height="3px" />
                                <p:inputNumber id="event-edit-duration-in"
                                               value="#{eventBB.formEventDuration}"
                                               rendered="#{eventBB.eventEditMode}"
                                               style="width: 50px;">
                                    <p:ajax listener="#{eventBB.updateTimeEndFromDuration}" />
                                </p:inputNumber>
                                <p:spacer height="2px" />
                                <h:outputText value="enter mins then press tab to update event end time" 
                                              rendered="#{eventBB.eventEditMode}"
                                              style="font-style: italic; font-size: 0.7em;"/>
                            </div>

                            <f:subview id="event-edit-endtime"
                                       rendered="false" >

                                <div class="p-col-4 restrict-data-field-label-inline">
                                    <p:outputLabel for="event-time-end-ot">
                                        <h:outputText value="End time (auto-populated)"/>
                                    </p:outputLabel>
                                </div>
                                <div class="p-col-8 restrict-data-field-value-inline">
                                    <h:outputText id="event-time-end-ot"
                                                  value="#{eventBB.getPrettyDate(eventBB.currentEvent.timeEnd)}"
                                                  rendered="#{!eventBB.eventEditMode}"/>


                                    <p:datePicker value="#{eventBB.currentEvent.timeEnd}"
                                                  id="event-edit-time-end-cal"
                                                  rendered="#{eventBB.eventEditMode}"
                                                  showButtonBar="true"
                                                  style="width: 100%;"
                                                  disabled="true"
                                                  hideOnDateTimeSelect="true"
                                                  showOnFocus="false"
                                                  showIcon="true"
                                                  mask="true"
                                                  pattern="MM/dd/yyyy HH:mm"
                                                  tabindex="16" 
                                                  timeInput="true" 
                                                  required="true"/>
                                </div>
                            </f:subview>


                            <div class="p-col-4 restrict-data-field-label-inline">
                                <p:outputLabel for="event-followup-ot">
                                    <h:outputText value="Follow up event?"/>
                                </p:outputLabel>

                                <p:spacer height="3px" />

                                <div class="restrict-main-contents-io-link">

                                    <p:commandLink id="case-followup-help-button"
                                                   value="help"
                                                   type="button" />
                                </div>
                                <p:overlayPanel for="case-followup-help-button"
                                                style="width:350px;" 
                                                dismissable="true"
                                                showCloseIcon="true">
                                    <h3>Follow-up events</h3>
                                    <p>Follow-up events require users to log another event of any category 
                                        by clicking the "follow up now" link in the event's action column 
                                        or under the event category title in the event calendar.
                                        This link will load the normal event add dialog with
                                        an additional yellow banner at the top denoting that 
                                        the event the user is about to add will be linked to the event from 
                                        which the add dialog is launched, i.e. the event requiring follow up.

                                        When the new event is saved, 
                                        codeNforce will link to the event requiring follow up to mark 
                                        that this follow up has been completed. </p>

                                    <p class="event-followup-required">CodeNForce draws attention to 
                                        events that require follow up with this yellow-highlighting which is applied
                                        to events requiring follow-up system wide</p>

                                    <p>Once the follow up has been completed, the yellow highlighting will no longer be activated,
                                        the "follow-up now" link will not appear, and the responding event will appear
                                        in the "Linked events" panel inside the event info dialog.</p>
                                </p:overlayPanel>


                            </div>
                            <div class="p-col-8 restrict-data-field-value-inline nested-grid">
                                <h:outputText id="event-followup-ot"
                                              value="#{eventBB.currentEvent.category.followUpEvent ? 'Yes; requires follow up' : 'No'}"/>

                                <f:subview id="event-followup-required-subview"
                                           rendered="#{eventBB.currentEvent.followUpNeeded and eventBB.currentEvent.category.followUpEvent and not eventBB.eventEditMode}">
                                    <p:spacer height="3px" />
                                    <tt:eventFollowUpLink value="#{eventBB.currentEvent}"
                                                          holder="#{null}"
                                                          linktext="Follow-up on event now" />
                                </f:subview>

                                <f:subview id="event-followup-satisfied-subview"
                                           rendered="#{not eventBB.currentEvent.followUpNeeded and eventBB.currentEvent.category.followUpEvent}">
                                    <p:spacer height="3px" />
                                    <div class="p-grid">
                                        <div class="p-col-2">
                                            <div class="evcal-evicon-container">
                                                <i class="material-icons">
                                                    <h:outputText value="done"/>
                                                </i>
                                            </div>
                                        </div>

                                        <div class="p-col-10">
                                            <h:outputText value="Well done: follow-up complete!"/>
                                        </div>
                                    </div>
                                </f:subview>

                            </div>

                            <div class="p-col-4 restrict-data-field-label-inline">
                                <p:outputLabel for="event-alert-ot">
                                    <h:outputText value="Alert event"/>
                                </p:outputLabel>
                            </div>
                            <div class="p-col-8 restrict-data-field-value-inline">

                                <h:outputText   id="event-alert-ot"
                                                value="#{eventBB.currentEvent.category.alertEvent ? 'Yes; alert event!' : 'No'}"/>

                            </div>

                            <f:subview id="evinfo-stopalert-event-info-subview"
                                       rendered="#{not empty eventBB.currentEvent.category.alertStopCategory}">
                                <div class="p-col-4 restrict-data-field-label-inline">
                                    <p:outputLabel for="alert-stopalert-info-ot">
                                        <h:outputText value="Stop alert event type and category: "/>
                                    </p:outputLabel>
                                </div>
                                <div class="p-col-8 restrict-data-field-value-inline">

                                    <h:outputText  id="alert-stopalert-info-ot"
                                                   value="#{eventBB.currentEvent.category.alertStopCategory.eventType.label} - #{eventBB.currentEvent.category.alertStopCategory.eventCategoryTitle}" />

                                </div>
                            </f:subview>

                            <div class="p-col-4 restrict-data-field-label-inline">
                                <p:outputLabel for="event-creator">
                                    <h:outputText value="Creation"/>
                                </p:outputLabel>
                            </div>
                            <div class="p-col-8 restrict-data-field-value-inline">

                                <h:outputText id="event-createdts"
                                              value="#{eventBB.getPrettyDate(eventBB.currentEvent.createdTS)}"/>
                                <p:spacer height="3px" />
                                <h:outputText id="event-creator-by"
                                              value="#{ !empty eventBB.currentEvent.createdBy
                                                        ? 'By '
                                                        : ''}"/>
                                <h:outputText id="event-creator"
                                              value="#{ !empty eventBB.currentEvent.createdBy
                                                        ? eventBB.currentEvent.createdBy.human.name
                                                        : ''}"/>
                            </div>
                            <div class="p-col-4 restrict-data-field-label-inline">
                                <p:outputLabel for="event-lastupdatedts">
                                    <h:outputText value="Last update"/>
                                </p:outputLabel>
                            </div>
                            <div class="p-col-8 restrict-data-field-value-inline">

                                <h:outputText id="event-lastupdatedts"
                                              value="#{eventBB.getPrettyDate(eventBB.currentEvent.lastUpdatedTS)}"
                                              rendered="#{!eventBB.eventEditMode}"/>
                                <p:spacer height="3px"
                                          rendered="#{!eventBB.eventEditMode}"/>
                                <h:outputText id="event-lastupdator-by"
                                              value="#{ !empty eventBB.currentEvent.lastUpdatedBy
                                                        ? 'By '
                                                        : ''}"
                                              rendered="#{!eventBB.eventEditMode}"/>
                                <h:outputText id="event-lastupdatorname"
                                              value="#{ !empty eventBB.currentEvent.lastUpdatedBy
                                                        ? eventBB.currentEvent.lastUpdatedBy.human.name
                                                        : ''}"
                                              rendered="#{!eventBB.eventEditMode}"/>
                            </div>

                            <div class="p-col-4 restrict-data-field-label-inline">
                                <p:outputLabel for="event-active-ot">
                                    <h:outputText value="Active"/>
                                    <p:spacer height="5px" />
                                </p:outputLabel>
                                <p:commandLink id="event-deactivate-cb"
                                               actionListener="#{eventBB.onEventDeactivateInit}"
                                               rendered="#{eventBB.permissionAllowEventEditDeac and empty eventBB.currentEvent.deactivatedTS}"
                                               disabled="#{eventBB.eventEditMode or sessionBean.crossMuniViewMode}"
                                               style="color:blue; font-weight: bold;"
                                               value="deactivate event"
                                               update="event-deactivate-dialog
                                               event-deactivate-form"
                                               oncomplete="PF('event-deactivate-dialog-var').show();"/>

                                <p:commandLink id="event-reactivate-cb"
                                               actionListener="#{eventBB.onEventReactivateCommitButtonChange}"
                                               rendered="#{!empty eventBB.currentEvent.deactivatedTS}"
                                               disabled="#{eventBB.eventEditMode or sessionBean.crossMuniViewMode}"
                                               style="color:blue; font-weight: bold;"
                                               value="restore event"
                                               update="@form
                                               event-growl-form
                                               @form:@parent:#{eventBB.eventListComponentForRefreshTrigger}"
                                               >
                                </p:commandLink>
                            </div>
                            <div class="p-col-8 restrict-data-field-value-inline">
                                <h:outputText id="event-active-ot"
                                              value="#{eventBB.currentEvent.active ? 'Yes' : 'No'}"/>
                            </div>
                        </div>
                    </h:form>
                </p:panel>
            </div>
            <div class="p-lg-6 p-md-12 p-sm-12">
                <p:panel id="event-persons-panel"
                         toggleable="true"
                         collapsed="false"
                         header="Person connections">

                    <h:form id="event-persons-panel-form">

                        <p:commandButton   id="event-persons-manage-button"
                                           ajax="true"
                                           actionListener="#{personBB.onSelectAndLinkPersonsInit(eventBB.currentEvent)}"
                                           oncomplete="PF('human-search-dialog-var').show()"
                                           rendered="#{eventBB.permissionAllowEventEditDeac}"
                                           disabled="#{!empty eventBB.currentEvent.deactivatedTS or eventBB.eventEditMode or eventBB.currentEvent.eventID eq 0 or sessionBean.crossMuniViewMode or eventBB.selectionMode eq 'true'}"
                                           value="Manage event-person links"
                                           update=" human-search-dialog
                                           event-growl-form
                                           search-query-form
                                           pers-selected-form
                                           hlh-humlist-form
                                           pers-upstreampool-panel
                                           pers-upstreampool-form"
                                           icon="pi pi-user-edit"
                                           >
                            <f:param name="person-list-component-to-update"
                                     value="event-persons-panel-form:event-persons-table" />
                        </p:commandButton>

                        <p:spacer height="5px" />

                        <p:dataTable id="event-persons-table"
                                     value="#{eventBB.managedEventHumanLinkList}"
                                     rendered="true"
                                     var="humlink"
                                     tableStyleClass="primeDataTable"
                                     rowKey="#{humlink.humanID}"
                                     >

                            <p:column headerText="Name"
                                      width="35%"
                                      styleClass="centeredColumnContent">
                                <h:outputText value="#{humlink.name}" />

                            </p:column>

                            <p:column headerText="Role"
                                      width="35%"
                                      styleClass="centeredColumnContent">
                                <h:outputText value="#{humlink.linkedObjectRole.title}"/>

                            </p:column>

                            <p:column headerText="Actions"
                                      width="30%"
                                      styleClass="centeredColumnContent">
                                <p:commandLink      id="event-person-exploreperson-cl"
                                                    ajax="true"
                                                    style="color:blue;"
                                                    action="#{personBB.onHumanViewLinkClick(humlink, eventBB.currentEvent)}"
                                                    value="View/Edit person"
                                                    oncomplete="PF('person-profile-dialog-var').show();"
                                                    update="person-profile-dialog
                                                    topnav-pers-form"
                                                    >
                                    <f:param name="person-list-component-to-update"
                                             value="event-persons-panel-form:event-persons-table" />
                                </p:commandLink>
                                <h:outputText value=" (HumID: #{humlink.humanID})" />
                                <p:spacer height="3px" />
                                <p:commandLink      id="event-personlink-vieweditlink-cl"
                                                    ajax="true"
                                                    style="color:blue;"
                                                    action="#{personBB.onHumanLinkEditInitButtonChange(humlink, eventBB.currentEvent)}"
                                                    value="View/Edit link"
                                                    oncomplete="PF('humanlink-viewedit-dialog-var').show();"
                                                    update="humanlink-viewedit-dialog
                                                    humanlink-viewedit-form"
                                                    >
                                    <f:param name="person-list-component-to-update"
                                             value="event-persons-panel-form:event-persons-table" />
                                </p:commandLink>
                                <p:spacer height="3px" />
                                <h:outputText value="(LinkID: #{humlink.linkID})" />
                            </p:column>
                        </p:dataTable>
                    </h:form>
                </p:panel>
                <p:panel id="event-links-panel"
                         toggleable="true"
                         collapsed="false"
                         header="Linked events">

                    <h:form id="event-links-form" >
                        <tt:eventList value="#{eventBB.currentEvent.eventList}" />
                    </h:form>
                </p:panel>

                <p:panel id="event-linkobjects-panel"
                         toggleable="true"
                         collapsed="false"
                         header="Objects linked to this event">

                    <h:form id="event-linkedobjects-form" >

                    </h:form>
                </p:panel>


                <p:panel id="event-notes-panel"
                         toggleable="true"
                         collapsed="false"
                         header="Notes">

                    <h:form id="event-notes-form" >
                        <p:commandButton  id="event-notes-add-button"
                                          rendered="#{systemServicesBB.bbSessionUser.keyCard.hasMuniReaderPermissions}"
                                          disabled="#{sessionBean.crossMuniViewMode or eventBB.selectionMode}"
                                          value="Add New Note"
                                          icon="pi pi-paperclip"
                                          actionListener="#{eventBB.onNoteInitButtonChange}"
                                          oncomplete="PF('event-note-dialog-var').show()"
                                          update="event-note-form
                                          event-growl-form"/>
                        <p:spacer height="5px" />
                        <h:outputText id="event-note-ot"
                                      value="#{eventBB.currentEvent.notes}"
                                      escape="false"/>
                    </h:form>
                </p:panel>
            </div>
        </div>
    </p:dialog>

    <!-- Event add dialog -->
    <p:dialog id="event-add-dialog"
              height="800" width="90%"
              widgetVar="event-add-dialog-var"
              responsive="true"
              resizable="true"
              closable="true"
              modal="true"
              closeOnEscape="true"
              dynamic="true"
              header="Attaching new event to a #{eventBB.currentEventHolder.eventDomain.title} with ID #{eventBB.currentEventHolder.BObID}"
              rendered="#{systemServicesBB.permissionAllowAncillaryObjectEdit}"
              >

        <h:form id="event-add-form">
            <div class="ui-g data_container_nested_restrict">

                <f:subview id="event-add-followupflag-subview"
                           rendered="#{not empty eventBB.eventFollowUpTarget}">
                    <div class="ui-g-12 ui-md-12 ui-lg-12 event-followup-required event-followup-required-addflag">
                        <h:outputText value="This event will be a follow-up to: #{eventBB.eventFollowUpTarget.category.eventCategoryTitle} " />
                        <h:outputText value=" | " />
                        <h:outputText value="#{eventBB.eventFollowUpTarget.casePeriodPropertyString}"/>
                        <h:outputText value=" | " />
                        <h:outputText value="#{eventBB.eventFollowUpTarget.parcelAddressOneLine}" 
                                      escape="false" />
                    </div>
                </f:subview>
                <f:subview id="event-add-stopalert-subview"
                           rendered="#{eventBB.alertStopEventPathwayActive}">

                    <div class="ui-g-12 ui-md-12 ui-lg-12 alert-background bold">
                        <h:outputText value="This event will stop the alert #{eventBB.alertEventForStoppage.category.eventCategoryTitle} " />
                        <h:outputText value=" | " />
                        <h:outputText value="#{eventBB.alertEventForStoppage.casePeriodPropertyString}"/>
                        <h:outputText value=" | " />
                        <h:outputText value="#{eventBB.alertEventForStoppage.parcelAddressOneLine}" 
                                      escape="false" />
                    </div>
                </f:subview>
                <f:subview id="event-add-general-subview"
                           rendered="#{eventBB.generalEventPathwayActive}">

                    <div class="ui-g-12 ui-md-12 ui-lg-12 event-general bold">
                        <h:outputText value="You are adding a GENERAL EVENT: Great for logging misc TODO items or reminders not related to a specific property, case, or permit." />
                    </div>
                </f:subview>

                <!--Left column in event add--> 
                <div class="ui-g-12 ui-md-12 ui-lg-6 nested-grid">
                    <div class="p-grid">

                        <f:subview id="type-cat-alertnote-subview"
                                   rendered="#{eventBB.alertStopEventPathwayActive}">
                            <div class="p-col-12">

                                <h:outputText value="This new event's type and category are determined by the alert you are stopping. 
                                              Cancel this new event add dialog to deactivateyour stop alert event mode."
                                              styleClass="italic" />
                            </div>
                        </f:subview>

                        <f:subview id="type-cat-selection-subview"
                                   rendered="#{not eventBB.alertStopEventPathwayActive}">

                            <div class="p-col-12 restrict-data-field">
                                <div class="restrict-main-contents-io-title">
                                    <h:outputLabel for="event-add-type-solb">
                                        <h:outputText value="Pick an event type"/>
                                    </h:outputLabel>
                                </div>

                                <div class="restrict-main-contents-io-content">
                                    <p:growl for="event-add-type-solb"/>
                                    <p:selectOneListbox id="event-add-type-solb"
                                                        required="true"
                                                        value="#{eventBB.skeletonType}"
                                                        tabindex="1">

                                        <p:ajax update="event-add-form"/>

                                        <f:selectItems value="#{eventBB.listOfPotentialTypes}" var="et" itemLabel="#{et.label}"/>
                                    </p:selectOneListbox>
                                </div>
                            </div>

                            <div class="p-col-12 restrict-main-contents-io-title">
                                <h:outputLabel for="event-add-cat-solb">
                                    <h:outputText value="Pick an event category"/>
                                </h:outputLabel>
                            </div>


                            <div class="p-col-12 restrict-main-contents-io-content">
                                <p:selectOneListbox id="event-add-cat-solb"
                                                    style="width: 100%;"
                                                    value="#{eventBB.skeletonEvent.category}"
                                                    var="evcat"
                                                    filter="true" 
                                                    filterMatchMode="contains" 
                                                    tabindex="2">

                                    <f:selectItems value="#{eventBB.listOfPotentialCategories}" 
                                                   var="ec" 
                                                   itemValue="#{ec}"
                                                   itemLabel="#{ec.eventCategoryTitle}"/>
                                    <p:column style="width: 10%;">
                                        <div class="evcal-evicon-container">
                                            <i class="material-icons">
                                                <h:outputText value="#{evcat.icon.materialIcon}"/>
                                            </i>
                                        </div>
                                    </p:column>
                                    <p:column style="width: 30%;">
                                        <h:outputText value="#{evcat.eventCategoryTitle}" />
                                    </p:column>

                                    <p:column>
                                        <h:outputText value="#{evcat.followUpEvent ? 'Requires follow-up!':''}" 
                                                      styleClass="followup"/>
                                        <h:outputText value="#{evcat.alertEvent ? 'Property Alert!':''}" />

                                    </p:column>


                                    <p:ajax listener="#{eventBB.onCategoryChangeUpdateSkeletonEventMembers}"
                                            update="event-add-form" />
                                    <f:converter converterId="eventCategoryConverter"/>

                                </p:selectOneListbox>
                            </div>


                            <div class="p-col-12 restrict-main-contents-io-content">
                                <p:selectBooleanCheckbox id="event-add-updatefields-sbb"
                                                         itemLabel="Auto fill event details"
                                                         title="Description and duration will be set automatically"
                                                         value="#{eventBB.updateFieldsOnCategoryChange}">
                                    <p:ajax/>
                                </p:selectBooleanCheckbox>
                            </div>
                        </f:subview>
                    </div>
                </div>
                <!--Right column in event add--> 
                <div class="ui-g-12 ui-md-12 ui-lg-6 nested-grid">
                    <div class="p-grid">

                        <div class="p-col-12 restrict-data-field">
                            <h2>

                                <h:outputText id="event-add-currtypecat-type-ot"
                                              value="#{eventBB.skeletonType.label}"/>
                                <h:outputText value=": "/>
                                <h:outputText id="event-add-currtypecat-cat-ot"
                                              value="#{eventBB.skeletonEvent.category.eventCategoryTitle}"/>
                            </h2>
                            <div class="restrict-main-contents-io-link">
                                <p:commandLink id="eventinfo-catinfo-cl-add"
                                               actionListener="#{eventBB.onViewEventCategoryDetails}"
                                               oncomplete="PF('event-catinfo-dialog-var').show();"
                                               rendered="#{not empty eventBB.skeletonEvent}"
                                               ajax="true"
                                               update="event-catinfo-dialog">
                                    <h:outputText id="event-ec-add-ot"
                                                  value="category details"/>
                                </p:commandLink>
                            </div>
                        </div>

                        <div class="p-col-3 restrict-main-contents-io-title">
                            <h:outputLabel for="event-add-time-start-cal">
                                <h:outputText value="Action date"/>
                            </h:outputLabel>
                        </div>

                        <div class="p-col-3 restrict-main-contents-io-content">
                            <p:growl for="event-add-time-start-cal"/>

                            <p:datePicker value="#{eventBB.skeletonEvent.timeStart}"
                                          id="event-add-time-start-cal"
                                          pattern="MM/dd/yyyy HH:mm"
                                          tabindex="3" 
                                          timeInput="true" 
                                          showButtonBar="false"
                                          inline="false"
                                          hideOnDateTimeSelect="true"
                                          showOnFocus="false"
                                          showIcon="true"
                                          mask="true"
                                          hourFormat="24"
                                          required="true">
                                <p:ajax listener="#{eventBB.recalculateEndTime}"/>
                            </p:datePicker>
                        </div>

                        <div class="p-col-3 restrict-main-contents-io-title">
                            <h:outputLabel for="event-add-time-start-cal">
                                <h:outputText value="Length (mins)"/>
                            </h:outputLabel>
                        </div>

                        <div class="p-col-3 restrict-main-contents-io-content">
                            <p:inputNumber id="event-add-duration-in"
                                           value="#{eventBB.skeletonDuration}"
                                           style="width: 50px;"
                                           tabindex="4">
                                <p:ajax     listener="#{eventBB.recalculateEndTime}" />
                            </p:inputNumber>

                        </div>
                        <f:subview id="event-add-endtime"
                                   rendered="false" >

                            <div class="ui-g-12 ui-md-12 ui-lg-4 restrict-data-field">
                                <div class="restrict-main-contents-io-title">
                                    <h:outputLabel for="event-add-time-end-cal">
                                        <h:outputText value="End time (auto-populated)"/>
                                    </h:outputLabel>
                                </div>

                                <div class="restrict-main-contents-io-content">
                                    <p:growl for="event-add-time-end-cal" />
                                    <p:datePicker id="event-add-time-end-cal"
                                                  value="#{eventBB.skeletonEvent.timeEnd}"
                                                  disabled="true"
                                                  showButtonBar="false"
                                                  mask="true"
                                                  pattern="MM/dd/yyyy HH:mm"
                                                  hideOnDateTimeSelect="true"
                                                  showOnFocus="false"
                                                  showIcon="true"
                                                  tabindex="16" 
                                                  timeInput="true" 
                                                  hourFormat="24"
                                                  required="true"/>
                                </div>
                            </div>
                        </f:subview>
                        <div class="p-col-12 restrict-data-field">
                            <div class="restrict-main-contents-io-title">
                                <h:outputLabel for="event-add-descr-it">
                                    <h:outputText value="Description"/>
                                </h:outputLabel>
                            </div>

                            <div class="restrict-main-contents-io-content">

                                <p:textEditor  value="#{eventBB.skeletonEvent.description}" 
                                               height="275"
                                               secure="false"
                                               required="false"
                                               >
                                    <f:facet name="toolbar">
                                        <span class="ql-formats">
                                            <button class="ql-bold" />
                                            <button class="ql-italic" />
                                            <button class="ql-underline" />
                                            <select class="ql-size" />
                                        </span>
                                        <span class="ql-formats">
                                            <select class="ql-color" />
                                        </span>
                                        <span class="ql-formats">
                                            <button class="ql-list" value="ordered" />
                                            <button class="ql-list" value="bullet" />
                                        </span>
                                        <span class="ql-formats">
                                            <button class="ql-clean" />
                                        </span>
                                    </f:facet>
                                </p:textEditor>
                            </div>
                        </div>
                        <div class="p-col-6">
                            <div class='gray_button'>


                                <p:commandButton id="event-add-cancel-button"
                                                 value="Cancel"
                                                 tabindex="6"
                                                 actionListener="#{eventBB.onEventAddAbort}"
                                                 oncomplete="PF('event-add-dialog-var').hide()"
                                                 icon="pi pi-arrow-left"/>
                            </div>

                        </div>
                        <div class="p-col-6 ">
                            <div class="restrict-main-contents-io-button">

                                <p:commandButton id="event-add-dialog-show-cb"
                                                 disabled="#{empty eventBB.skeletonEvent.category}"
                                                 rendered="#{systemServicesBB.permissionAllowAncillaryObjectEdit}"
                                                 value="Create new event"
                                                 icon="pi pi-save"
                                                 actionListener="#{eventBB.eventAddCommit}"
                                                 oncomplete="PF('event-add-dialog-var').hide()"
                                                 tabindex="5"
                                                 update="
                                                 event-growl-form
                                                 @form:@parent:#{eventBB.eventListComponentForRefreshTrigger}
                                                 "/>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </h:form>
    </p:dialog>

    <!-- Event edit dialog -->
    <p:dialog id="event-note-dialog"
              height="400" width="400"
              widgetVar="event-note-dialog-var"
              responsive="true"
              resizable="true"
              closable="true"
              closeOnEscape="true"
              dynamic="true"
              modal="true"
              header="New note on event ID:#{eventBB.currentEvent.eventID}">


        <h:form id="event-note-form">
            <h:outputText styleClass="ui-label" value="Note text: "/>
            <p:inputTextarea id="event-notes-editor"
                             value="#{eventBB.formNoteText}"
                             required="false"
                             rows="5"
                             cols="40"
                             />

            <p:spacer height="5px" />
            <p style="font-style: italic">Your username and the current date are automatically included in the note.</p>
            <p:spacer height="5px" />

            <p:commandButton id="event-dialog-notes-button-addnote"
                             ajax="true"
                             disabled="false"
                             actionListener="#{eventBB.onNoteCommitButtonChange}"
                             oncomplete="PF('event-note-dialog-var').hide()"
                             rendered="#{systemServicesBB.bbSessionUser.keyCard.hasMuniStaffPermissions}"
                             value="Attach Note"
                             styleClass="inline-button"
                             icon="fa fa-sticky-note-o"
                             update="event-notes-form
                             event-growl-form
                             @form:@parent:#{eventBB.eventListComponentForRefreshTrigger}
                             "/>
        </h:form>

    </p:dialog>

    <p:dialog id="event-deactivate-dialog"
              height="300" width="400"
              widgetVar="event-deactivate-dialog-var"
              responsive="true"
              resizable="trie"
              closable="true"
              closeOnEscape="true"
              dynamic="true"
              modal="true"
              header="Deactivate event id #{eventBB.currentEvent.eventID}"
              rendered="true">

        <h:form id="event-deactivate-form">
            <div class="ui-g data_container_nested_restrict">
                <div class="p-col-12 restrict-data-field">
                    <div class="restrict-data-field-label-inline">
                        <h:outputLabel for="event-remove-button">
                            <h:outputText value="Deactivated events can be seen by changing event view options"/>
                        </h:outputLabel>
                    </div>
                </div>

                <div class="p-col-6">
                    <div class="restrict-main-contents-io-button-left gray_button">
                        <p:commandButton id="event-nuke-cancel-button"
                                         ajax="true"
                                         value="Cancel"
                                         process="@none"
                                         immediate="true"
                                         oncomplete="PF('event-deactivate-dialog-var').hide()"
                                         actionListener="#{eventBB.onEventDeactivateAbort}"
                                         icon="pi pi-stop"/>
                    </div>
                </div>

                <div class="p-col-6">
                    <div class="restrict-main-contents-io-button red_button">
                        <p:commandButton ajax="true" 
                                         actionListener="#{eventBB.onEventDeactivateCommit}"
                                         value="Deactivate event"
                                         icon="pi pi-trash"
                                         oncomplete="PF('event-deactivate-dialog-var').hide()"
                                         update="event-profile-form
                                         event-profile-dialog
                                         event-growl-form
                                         @form:@parent:#{eventBB.eventListComponentForRefreshTrigger}"
                                         rendered="true"/>
                    </div>
                </div>
            </div>
        </h:form>
    </p:dialog>

    <p:dialog id="event-catinfo-dialog"
              height="600" width="800"
              widgetVar="event-catinfo-dialog-var"
              responsive="true"
              resizable="trie"
              closable="true"
              closeOnEscape="true"
              dynamic="true"
              modal="true"
              header="Event Category details: #{eventBB.currentEventCategory.eventCategoryTitle}"
              rendered="true">

        <h:form id="evcat-details-form">
            <p:panel id="eventcat-details-description-panel"
                     toggleable="true"
                     collapsed="false"
                     header="Description">

                <div class="p-grid">

                    <div class="p-col-4 restrict-data-field-label-inline">
                        <h:outputText value="ID"/>
                    </div>
                    <div class="p-col-8 restrict-data-field-value-inline">
                        <h:outputText value="#{eventBB.currentEventCategory.categoryID}" />
                    </div>


                    <div class="p-col-4 restrict-data-field-label-inline">
                        <h:outputText value="Event Type: "/>
                    </div>
                    <div class="p-col-8 restrict-data-field-value-inline">
                        <h:outputText id="evcat-type-ot"
                                      value="#{eventBB.currentEventCategory.eventType.label}" 
                                      rendered="true" />
                    </div>

                    <div class="p-col-4 restrict-data-field-label-inline">
                        <h:outputText value="Category Title"/>
                    </div>
                    <div class="p-col-8 restrict-data-field-value-inline">
                        <h:outputText id="evcat-title-ot"
                                      value="#{eventBB.currentEventCategory.eventCategoryTitle}" 
                                      rendered="true"/>
                    </div>

                    <div class="p-col-4 restrict-data-field-label-inline">
                        <h:outputText value="Category Description"/>
                    </div>
                    <div class="p-col-8 restrict-data-field-value-inline">
                        <h:outputText id="evcat-descr-ot"
                                      value="#{eventBB.currentEventCategory.eventCategoryDesc}" 
                                      rendered="true" />
                    </div>

                    <div class="p-col-4 restrict-data-field-label-inline">
                        <h:outputText value="Suggested event description"/>
                    </div>
                    <div class="p-col-8 restrict-data-field-value-inline">
                        <h:outputText id="evcat-sugdescr-ot"
                                      value="#{eventBB.currentEventCategory.hostEventDescriptionSuggestedText}" 
                                      rendered="true" />
                    </div>

                    <div class="p-col-4 restrict-data-field-label-inline">
                        <h:outputText value="Green Priority Buffer (Days)"/>
                    </div>
                    <div class="p-col-8 restrict-data-field-value-inline">
                        <h:outputText id="evcat-greenbuffer-ot"
                                      value="#{eventBB.currentEventCategory.greenBufferDays}" 
                                      rendered="true"/>
                    </div>

                    <div class="p-col-4 restrict-data-field-label-inline">
                        <h:outputText value="Alert event?"/>
                    </div>
                    <div class="p-col-8 restrict-data-field-value-inline">
                        <h:outputText id="evcat-alert-ot"
                                      value="#{eventBB.currentEventCategory.alertEvent ? 'Yes; Alert!' : 'No'}" 
                                      rendered="true"/>
                    </div>

                    <div class="p-col-4 restrict-data-field-label-inline">
                        <h:outputText value="Alert stop category"/>
                    </div>
                    <div class="p-col-8 restrict-data-field-value-inline">
                        <h:outputText id="evcat-stopcat-ot"
                                      value="#{eventBB.currentEventCategory.alertStopCategory.eventCategoryTitle} (ID:#{eventBB.currentEventCategory.alertStopCategory.categoryID})" 
                                      rendered="#{not empty eventBB.currentEventCategory.alertStopCategory}"/>
                    </div>

                    <div class="p-col-4 restrict-data-field-label-inline">
                        <h:outputText value="Requires follow-up?"/>
                    </div>
                    <div class="p-col-8 restrict-data-field-value-inline">
                        <h:outputText id="evcat-followup-ot"
                                      value="#{eventBB.currentEventCategory.followUpEvent ? 'Yes; Requires follow-up' : 'No'}" 
                                      rendered="true"/>
                    </div>

                    <div class="p-col-4 restrict-data-field-label-inline">
                        <h:outputText value="Administrative event?"/>
                    </div>
                    <div class="p-col-8 restrict-data-field-value-inline">
                        <h:outputText id="evcat-admin-ot"
                                      value="#{eventBB.currentEventCategory.adminEvent? 'Yes; Admin event' : 'No'}" 
                                      rendered="true"/>
                    </div>

                    <div class="p-col-4 restrict-data-field-label-inline">
                        <h:outputText value="Active record?"/>
                    </div>
                    <div class="p-col-8 restrict-data-field-value-inline">
                        <h:outputText id="evcat-active-ot"
                                      value="#{eventBB.currentEventCategory.active ? 'Yes; Active' : 'No; Deactivated'}" 
                                      rendered="true"/>
                    </div>
                </div>
            </p:panel>

            <p:panel id="eventcat-permissions-panel"
                     toggleable="true"
                     collapsed="false"
                     header="Permissions">

                <div class="p-grid">

                    <div class="p-col-4 restrict-data-field-label-inline">
                        <h:outputText value="Minimum rank to create" />
                    </div>
                    <div class="p-col-8 restrict-data-field-value-inline">
                        <h:outputText id="evcat-minrank-create-ot"
                                      value="#{eventBB.currentEventCategory.roleFloorEventEnact.label} (RNK:#{eventBB.currentEventCategory.roleFloorEventEnact.rank})" 
                                      rendered="true"/>
                    </div>


                    <div class="p-col-4 restrict-data-field-label-inline">
                        <h:outputText value="Minimum rank to view" />
                    </div>
                    <div class="p-col-8 restrict-data-field-value-inline">
                        <h:outputText id="evcat-minrank-view-ot"
                                      value="#{eventBB.currentEventCategory.roleFloorEventView.label} (RNK:#{eventBB.currentEventCategory.roleFloorEventView.rank})" 
                                      rendered="true" />
                    </div>

                    <div class="p-col-4 restrict-data-field-label-inline">
                        <h:outputText value="Minimum rank to update" />
                    </div>
                    <div class="p-col-8 restrict-data-field-value-inline">
                        <h:outputText id="evcat-minrank-update-ot"
                                      value="#{eventBB.currentEventCategory.roleFloorEventUpdate.label} (RNK:#{eventBB.currentEventCategory.roleFloorEventUpdate.rank})" 
                                      rendered="true" />
                    </div>
                </div>

            </p:panel>

            <p:panel id="eventcat-notifications-panel"
                     toggleable="true"
                     collapsed="false"
                     header="Notifications and Viewing">

                <div class="p-grid">
                    <div class="p-col-4 restrict-data-field-label-inline">
                        <h:outputText value="Notify Case Monitors"/>
                    </div>
                    <div class="p-col-8 restrict-data-field-value-inline">

                        <h:outputText value="#{eventBB.currentEventCategory.notifymonitors ? 'Yes':'No'}"
                                      rendered="true"/>                                                          
                    </div>


                    <div class="p-col-4 restrict-data-field-label-inline">
                        <h:outputText value="Icon"/>
                    </div>
                    <div class="p-col-8 restrict-data-field-value-inline">

                        <h:outputText value="#{eventBB.currentEventCategory.icon.materialIcon} (ID:#{eventBB.currentEventCategory.icon.ID})"
                                      rendered="true"/>
                    </div>

                    <div class="p-col-4 restrict-data-field-label-inline">
                        <h:outputText value="Hidable"/>
                    </div>
                    <div class="p-col-8 restrict-data-field-value-inline">
                        <h:outputText value="#{eventBB.currentEventCategory.hidable ? 'Yes':'No'}"
                                      rendered="true"/>
                    </div>


                    <div class="p-col-4 restrict-data-field-label-inline">
                        <h:outputText value="Display order (relative): within EventType" />
                    </div>
                    <div class="p-col-8 restrict-data-field-value-inline">
                        <h:outputText id="evcat-order-type-ot" 
                                      value="#{eventBB.currentEventCategory.relativeOrderWithinType}" 
                                      rendered="true" />
                    </div>

                    <div class="p-col-4 restrict-data-field-label-inline">
                        <h:outputText value="Display order (relative): global" />
                    </div>
                    <div class="p-col-8 restrict-data-field-value-inline">
                        <h:outputText id="evcat-order-global-ot" 
                                      value="#{eventBB.currentEventCategory.relativeOrderGlobal}" 
                                      rendered="true" />
                    </div>
                </div>
            </p:panel>
        </h:form>
    </p:dialog>
</ui:composition>