<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:tt="http://xmlns.jcp.org/jsf/composite/components">

    <f:subview id="propertyalerts-subview"
               rendered="#{sessionBean.sessProperty.propertyAlerts.renderAlerts}">
        <h:form id="alerts-form">
            <div class="alert-container"
                 style="width:100%">

                <div class="p-grid alert-background">

                    <ui:repeat id="alert-uir"
                               value="#{sessionBean.sessProperty.propertyAlerts.alertsActive}"
                               var="alert">
                        <div class="p-col-1 alert-text">
                            <i class="material-icons">
                                <h:outputText value="#{alert.alertEvent.category.icon.materialIcon}" />
                            </i>
                        </div>
                        <div class="p-col-7 alert-text">
                            <h:outputText value="#{alert.alertEvent.category.eventCategoryTitle}" />
                        </div>
                        <ui:include src="propertyAlertManageCols.xhtml" />
                    </ui:repeat>
                </div>
            </div>
        </h:form>
    </f:subview>
</ui:composition>