<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:tt="http://xmlns.jcp.org/jsf/composite/components">
    <f:subview id="alert-action-cols"
               rendered="#{sessionBean.propertyPageFocus}">


        <div class="p-col-2">
            <div class="restrict-main-contents-io-link" >

                <p:commandLink id="alert-event-details-cl"
                               value="details"
                               ajax="true"
                               oncomplete="PF('event-profile-dialog-var').show()"
                               update=" event-profile-dialog 
                               event-profile-form"
                               actionListener="#{eventBB.onViewEvent(alert.alertEvent)}">
                </p:commandLink>

            </div>
        </div>
        <div class="p-col-2">
            <div class="restrict-main-contents-io-link" >

                <p:commandLink id="alert-stop-init-cl"
                               value="stop this alert"
                               ajax="true"
                               actionListener="#{eventBB.onStopALertEventInit(alert.alertEvent)}"
                               oncomplete="PF('event-add-dialog-var').show()"
                               update="event-add-dialog" >
                <f:param name="event-list-component-to-update" 
                         value="event-masterlist-form" />

                </p:commandLink>
            </div>
        </div>
    </f:subview>
    <f:subview id="no-actions-fillers-cols"
               rendered="#{not sessionBean.propertyPageFocus}">


        <div class="p-col-2">
            <h:outputText value=" " />
        </div>
        <div class="p-col-2">
            <h:outputText value=" " />
        </div>
    </f:subview>

</ui:composition>