<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:cc="http://xmlns.jcp.org/jsf/composite"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core" >
    <cc:interface>
        <cc:attribute name="blobholder" required="true" />
        <cc:attribute name="componentid" required="true" type="java.lang.String" />
        <cc:attribute name="disablecontrols" required="true" />
    </cc:interface>

    <cc:implementation>
        <p:panel id="blobscc-panel"
                 toggleable="true"
                 collapsed="false"
                 header="Files and Photos"
                 rendered="true"
                 >

            <h:form id="blobscc-form">
                <p:commandButton    id="blobcc-addblobinit-button"
                                    ajax="true"
                                    styleClass="noFill button-size-small"
                                    actionListener="#{blobUtilitiesBB.onUploadBlobInitButtonChange(cc.attrs.blobholder)}"
                                    disabled="#{cc.attrs.disablecontrols}"
                                    oncomplete="PF('blob-upload-dialog-var').show()"
                                    update="blob-upload-dialog
                                    blob-uploadconnect-tabview"
                                    value="Upload photo or document"
                                    icon="pi pi-upload"
                                    >
                    <f:param name="blob-list-component-to-update" value="#{cc.attrs.componentid}:blobscc-form" />
                </p:commandButton>

                <p:spacer height="5px" />

                <p:dataTable
                    id="blobscc-blobs-table"
                    value="#{cc.attrs.blobholder.blobList}"
                    rendered="true"
                    var="blob"
                    rowKey="#{blob.bytesID}"
                    tableStyleClass="primeDataTable"
                    resizableColumns="true"
                    draggableRows="false" tabindex="6">

                    <p:column width="15%">
                        <f:facet name="header">
                            <h:outputText value="Preview"/>
                        </f:facet>

                        <f:subview id="blob-preview-subview"
                                   rendered="#{blob.type.browserViewable}">

                            <p:commandLink      id="blob-view-button-preview"
                                                ajax="true"
                                                styleClass="noFill button-size-small"
                                                action="#{blobUtilitiesBB.onViewBlobLinkClick(blob, cc.attrs.blobholder)}"
                                                oncomplete="PF('blobs-viewblob-dialog-var').show()"
                                                update="blobs-viewblob-dialog
                                                blob-viewblob-form"
                                                >
                                <p:graphicImage value="#{blobsterBB.image}"
                                                alt="no preview available" 
                                                style="width: 100px" 
                                                cache="true"
                                                rendered="#{blob.type.browserViewable}">
                                    <f:param name="blobid" value="#{blob.photoDocID}"/>
                                </p:graphicImage>
                            </p:commandLink>

                        </f:subview>
                        <f:subview id="blob-icononly-subview"
                                   rendered="#{not blob.type.browserViewable}">
                                <i class="material-icons larger-text"
                                   style="font-size: 5em;">file_present</i>
                        </f:subview>
                    </p:column>

                    <p:column width="45%">
                        <f:facet name="header">
                            <h:outputText value="Info"/>
                        </f:facet>
                        <div class="rowExpansion">
                            <h:outputText value="#{blob.title}"
                                          styleClass="larger-text bold"
                                          rendered="#{not empty blob.title}"/>
                            <h:outputText value="[no title]"
                                          styleClass="italic"
                                          rendered="#{empty blob.title}"/>
                            <br/>
                            <h:outputText value="description: #{blob.description}"/>
                            <br/>
                            <h:outputText value="filename: #{blob.filename}"/>
                            <br/>
                            <h:outputText value="created: #{systemServicesBB.getPrettyDateNoTime(blob.createdTS)}"/>
                            <br/>
                            <h:outputText value="#{blob.type.title}"/>
                        </div>
                    </p:column>

                    <p:column>
                        <f:facet name="header">
                            <h:outputText value="Actions"/>
                        </f:facet>
                        <p:commandButton 
                            value="Download" 
                            ajax="false"
                            icon="pi pi-download" 
                            styleClass="ui-button-outlined">
                            <p:fileDownload value="#{blobRetrieveBB.retrieveBlob(blob)}"
                                            />
                        </p:commandButton>
                        <br/>
                        <div class="restrict-main-contents-io-link link-button">

                            <p:commandLink      id="blob-view-button"
                                                ajax="true"
                                                styleClass="noFill button-size-small"
                                                action="#{blobUtilitiesBB.onViewBlobLinkClick(blob, cc.attrs.blobholder)}"
                                                value="view"
                                                oncomplete="PF('blobs-viewblob-dialog-var').show()"
                                                update="blobs-viewblob-dialog
                                                blob-viewblob-form"
                                                />
                            <p:spacer height="3px" />
                            <p:commandLink      id="blob-edit-button"
                                                ajax="true"
                                                styleClass="noFill button-size-small"
                                                action="#{blobUtilitiesBB.onBlobEditMetaDataInitLinkClick(blob, cc.attrs.blobholder)}"
                                                value="edit"
                                                oncomplete="PF('blobs-vieweditmetadata-dialog-var').show()"
                                                update="blob-vieweditmetadata-dialog
                                                blob-veweditmetadata-form"
                                                >
                                <f:param name="blob-list-component-to-update" value="#{cc.attrs.componentid}:blobscc-form" />
                            </p:commandLink>
                            <p:spacer height="3px" />
                            <p:commandLink      id="blob-remove-button"
                                                ajax="true"
                                                styleClass="noFill button-size-small"
                                                action="#{blobUtilitiesBB.onDeactivateBlobInitLinkClick(blob, cc.attrs.blobholder)}"
                                                oncomplete="PF('blobs-deactivate-dialog-var').show();"
                                                value="remove"
                                                update="blob-deactivate-dialog
                                                blob-deactivate-form"
                                                >
                                <f:param name="blob-list-component-to-update" value="#{cc.attrs.componentid}:blobscc-form" />
                            </p:commandLink>
                        </div>
                    </p:column>
                </p:dataTable>
                <p>
                    <h:outputText value="Current Blob holder: #{cc.attrs.blobholder.parentObjectID} | link enum: #{cc.attrs.blobholder.blobLinkEnum.objectParentTitle}" 
                                  rendered="#{not empty cc.attrs.blobholder}"/>
                    <h:outputText value="Empty Current Blob holder!" 
                                  rendered="#{empty cc.attrs.blobholder}"/>
                </p>
            </h:form>
        </p:panel>
    </cc:implementation>
</html>