<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:cc="http://xmlns.jcp.org/jsf/composite"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <cc:interface>
        <cc:attribute name="value" required="true" />
    </cc:interface>

    <cc:implementation>
        <h4>Case Details 
            <h:outputText value=" (#{cc.attrs.value.daysSinceLastEvent} days since last event)" />
        </h4>

        <p:spacer height="3px" />

        <p:accordionPanel id="case-expansioninfo-panel"
                          >
            <p:tab title="Violations (#{cc.attrs.value.violationList.size()})">

                <p:dataScroller id="violations-scroller"
                                value="#{cc.attrs.value.violationList}"
                                var="viol"
                                style="font-family: sans-serif;">

                    <h:outputText value="#{!(empty viol.status) ? viol.status.label : ''}"
                                  styleClass="bold" />


                    <h:outputText value="#{!(empty viol.status) ? ': ' : ''}"
                                  styleClass="bold" />

                    <h:outputText    id="violation-scroller-chapter-ot"
                                     value="#{viol.violatedEnfElement.headerString}"
                                     escape="false"/>
                    <p:spacer height="3px" />

                    <h:outputText value="Findings: "
                                  styleClass="bold" />
                    
                    <h:outputText value="#{viol.description}"
                                  />
                    <p:spacer height="3px" />

                    <h:outputText value="Compliance due: "
                                  styleClass="bold" />
                    
                    <h:outputText value="#{systemServicesBB.getPrettyDate(viol.stipulatedComplianceDate)}"
                                  />
                    <p:divider style="solid" />

                </p:dataScroller>

            </p:tab>
            <p:tab title="Notices (#{cc.attrs.value.noticeList.size()})">

                <p:dataScroller id="case-nov-scroller"
                                value="#{cc.attrs.value.noticeList}"
                                var="nov"
                                style="font-family: sans-serif;">

                    <h:outputText value="Mailed on: " 
                                  rendered="#{!(empty nov.sentTS)}"/>
                    <h:outputText value="#{nov.sentTSPretty}"
                                  rendered="#{!(empty nov.sentTS)}"/>

                </p:dataScroller>

            </p:tab>
            <p:tab title="Citations (#{cc.attrs.value.citationList.size()})">

                <p:dataScroller id="case-citations-scroller"
                                value="#{cc.attrs.value.citationList}"
                                var="cit"
                                style="font-family: sans-serif;">
                    <div style="text-decoration: underline;">
                        <h:outputText value="ID: #{cit.citationNo}" />
                    </div>
                    <p:spacer height="3px" />
                    <ui:repeat id="citation-status-uir"
                               value="#{cit.statusLog}"
                               var="logentry">
                        <h:outputText value="#{reportingBB.getPrettyDateNoTime(logentry.dateOfRecord)}: #{logentry.status.statusTitle}"/>
                        <p:spacer height="3px" />
                    </ui:repeat>
                </p:dataScroller>

            </p:tab>
            <p:tab title="Events (#{cc.attrs.value.eventList.size()})">
                <p:dataScroller id="case-events-scroller"
                                value="#{cc.attrs.value.eventList}"
                                var="ev">
                    <h:outputText value="#{missionControlBB.getPrettyDate(ev.timeStart)}" 
                                  style="font-weight: bold;"/>
                    <h:outputText value=": "
                                  style="font-weight: bold;"/>

                    <h:outputText value="#{ev.category.eventCategoryTitle}" />
                    <h:outputText value=" | #{ev.description}" 
                                  styleClass="italic" 
                                  escape="false"/>
                    <p:spacer height="3px" />


                </p:dataScroller>
            </p:tab>
            <p:tab title="Priority log">
                <h4>
                    Priority log
                </h4>
                <h:outputText value="#{cc.attrs.value.priorityAssignmentLog}"
                              escape="false"/>
            </p:tab>
        </p:accordionPanel>
    </cc:implementation>
</html>