<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:cc="http://xmlns.jcp.org/jsf/composite"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <cc:interface>
        <cc:attribute name="addfrompropertyprofile" required="true" type="boolean"/>
        <cc:attribute name="addfromfinrouting" required="true" type="boolean"/>
        <cc:attribute name="addfromcearrouting" required="true" type="boolean"/>
    </cc:interface>

    <cc:implementation>
        <div class="restrict-main-contents-io-button-left">

            <p:commandButton   id="lightning-case-choose-cb"
                               ajax="true"
                               type="button"
                               rendered="#{propertyProfileBB.permissionAllowCECaseCreate}"
                               value="New lightning case!"
                               disabled="#{!empty propertyProfileBB.currentProperty.deactivatedTS or sessionBean.crossMuniViewMode}"
                               icon="pi pi-bolt"
                               />
        </div>
        <p:overlayPanel for="lightning-case-choose-cb"
                        style="width:650px;" 
                        dismissable="true"
                        showCloseIcon="true"
                        modal="true"
                        >

            <h3>Create a case lightning fast or OR configure lightning options with "settings"</h3>


            <div class="p-grid tight-grid-padding">
                <ui:repeat id="oneclick-buttons-uir"
                           value="#{ceCaseAddBB.oneClickCaseList}"
                           var="oneclick"
                           rendered="#{ceCaseAddBB.permissionAllowCECaseCreate}">
                    <div class="p-lg-6 p-md-6 p-sm-12 nested-grid">
                        <div class="p-grid ">
                            <div class="p-col-2">
                                <i class="material-icons">
                                    <h:outputText value="#{oneclick.icon.materialIcon}"/>
                                </i>
                            </div>
                            <div class="p-col-10">
                                <div class="restrict-main-contents-io-link">
                                    <f:subview id="oneclick-caseprofileadd-subview"
                                               rendered="#{cc.attrs.addfrompropertyprofile}">
                                        <p:commandLink    id="oneclick-create-cl"
                                                          ajax="true"
                                                          actionListener="#{ceCaseAddBB.onCreateCaseFromOneClickButton(oneclick)}"
                                                          update="@form
                                                          cecase-add-growl-form"
                                                          >
                                            <h:outputText value="#{oneclick.title}" />
                                        </p:commandLink>
                                    </f:subview>
                                    <f:subview id="oneclick-finrouting-subview"
                                               rendered="#{cc.attrs.addfromfinrouting}">
                                        <p:commandLink    id="oneclick-create-finrouting-cl"
                                                          ajax="false"
                                                          action="#{fieldInspectionBB.completeRoutingStep4CreateNewCECase(oneclick)}"
                                                          >
                                            <h:outputText value="#{oneclick.title}" />
                                        </p:commandLink>
                                    </f:subview>
                                </div>
                            </div>
                        </div>
                    </div>
                </ui:repeat>

                <f:subview id="oneclick-settings-subview"
                           rendered="#{cc.attrs.addfrompropertyprofile}">
                    <div class="p-lg-6 p-md-6 p-sm-12 nested-grid">
                        <div class="p-grid">
                            <div class="p-col-2">
                                <i class="material-icons">
                                    <h:outputText value="settings"/>
                                </i>
                            </div>
                            <div class="p-col-10">

                                <div class="restrict-main-contents-io-link">
                                    <p:commandLink   id="oneclick-config-button"
                                                     ajax="true"
                                                     actionListener="#{ceCaseAddBB.onConfigureOneClickCases}"
                                                     rendered="true"
                                                     value="configure lightning cases"
                                                     oncomplete="PF('onclick-config-dialog-var').show();" 
                                                     update="   :oneclick-list-form
                                                     :oneclick-addedit-form" />
                                </div>
                            </div>
                        </div>
                    </div>
                </f:subview>
            </div>
        </p:overlayPanel>
    </cc:implementation>
</html>