<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:cc="http://xmlns.jcp.org/jsf/composite"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <cc:interface>
        <cc:attribute name="value" required="true" />
        <cc:attribute name="cecaseprefix" 
                      type="java.lang.String"
                      required="true" />
    </cc:interface>

    <cc:implementation> 
        
        <p:dataScroller
            id="caselist-report-datascroller"
            value="#{cc.attrs.value}"
            rendered="true"
            var="cse">
            
            <div class="report-tb-kpi-title">
                <h:outputText id="header-id-ot" value="#{cc.attrs.cecaseprefix}: #{cse.addressPretty1Line}"/>
            </div>

            <!-- NESTED DATA CONTAINER -->
            <div class="ui-g data_container_nested_restrict_report">

                <!--NESTED DATA FIELD -->
                <div class="ui-g-6 ui-md-6 ui-lg-6 restrict-data-field-report" >

                    <!--NESTED DATA LABEL INLINE -->
                    <div class="restrict-data-field-label-inline" >
                        <h:outputLabel value="Status: "/>
                    </div>
                    <!--NESTED DATA VALUE INLINE -->
                    <div class="restrict-data-field-value-inline" >
                        <h:outputText id="selcase-o-status-it" 
                                      value="#{cse.statusBundle.phase.label} (Case ID: #{cse.caseID})"/>
                    </div>
                </div>
                <!--NESTED DATA FIELD -->
                <div class="ui-g-6 ui-md-6 ui-lg-6 restrict-data-field-report" >
                    <div class="restrict-data-field-label-inline" >
                        <h:outputLabel value="Manager: "/>
                    </div>
                    <!--NESTED DATA VALUE INLINE -->
                    <div class="restrict-data-field-value-inline" >
                        <h:outputText id="selcase-manager-ot" 
                                      value="#{cse.caseManager.human.name} "/>  
                    </div>
                </div>
                <!--NESTED DATA FIELD -->
                <f:subview id="cse-unit-subview"
                           rendered="#{not empty cse.unitNumber}">
                    
                    <div class="ui-g-6 ui-md-6 ui-lg-6 restrict-data-field-report" >
                        <div class="restrict-data-field-label-inline" >
                            <h:outputLabel value="Unit: "/>
                        </div>
                        <!--NESTED DATA VALUE INLINE -->
                        <div class="restrict-data-field-value-inline" >
                            <h:outputText id="selcase-unit-ot" 
                                          value="#{cse.unitNumber} "/>  
                        </div>
                    </div>
                </f:subview>
                <!--NESTED DATA FIELD -->
                <div class="ui-g-6 ui-md-6 ui-lg-6 restrict-data-field-report" >

                    <!--NESTED DATA LABEL INLINE -->
                    <div class="restrict-data-field-label-inline" >
                        <h:outputLabel value="Opened: "/>
                    </div>
                    <!--NESTED DATA VALUE INLINE -->
                    <div class="restrict-data-field-value-inline" >
                        <h:outputText id="selcase-o-odate-ot" 
                                      value="#{reportingBB.getPrettyDateNoTime(cse.originationDate)}"/>
                    </div>
                </div>

                <!--NESTED DATA FIELD -->
                <div class="ui-g-6 ui-md-6 ui-lg-6 restrict-data-field-report" >

                    <!--NESTED DATA LABEL INLINE -->
                    <div class="restrict-data-field-label-inline" >
                        <h:outputLabel value="Closed: "
                                       rendered="#{!empty cse.closingDate}"/>
                    </div>
                    <!--NESTED DATA VALUE INLINE -->
                    <div class="restrict-data-field-value-inline" >
                        <h:outputText id="selcase-cdate-it" 
                                      value="#{reportingBB.getPrettyDateNoTime(cse.closingDate)}"
                                      rendered="#{!empty cse.closingDate}"/>
                    </div>
                </div>


                <div class="ui-g-6 ui-md-6 ui-lg-6 restrict-data-field-report" >
                    <div class="restrict-data-field-label-inline" >
                        <h:outputText value="(#{cse.violationList.size()}) " />
                        <h:outputLabel value="Violations: "/>

                    </div>

                    <!--NESTED DATA VALUE INLINE -->
                    <div class="restrict-data-field-value-inline" >
                        <p:dataScroller id="violations-scroller"
                                        value="#{cse.violationList}"
                                        var="viol"
                                        style="font-family: sans-serif;">

                            <h:outputText value="#{!(empty viol.status) ? viol.status.label : ''}"
                                          style="font-weight: bold;"/>


                            <h:outputText value="#{!(empty viol.status) ? ': ' : ''}"
                                          style="font-weight: bold;"/>

                            <h:outputText    id="violation-scroller-chapter-ot"
                                             value="#{viol.violatedEnfElement.headerString}"
                                             escape="false"/>
                        </p:dataScroller>
                    </div>
                </div>
                <div class="ui-g-6 ui-md-6 ui-lg-6 restrict-data-field-report" >

                    <!--NESTED DATA LABEL INLINE -->
                    <div class="restrict-data-field-label-inline" >
                        <h:outputLabel value="(#{cse.noticeList.size()}) Notices: : "/>
                    </div>
                    <!--NESTED DATA VALUE INLINE -->
                    <div class="restrict-data-field-value-inline" >
                        <p:dataScroller id="case-nov-scroller"
                                        value="#{cse.noticeList}"
                                        var="nov"
                                        style="font-family: sans-serif;">

                            <h:outputText value="Mailed on: " 
                                          rendered="#{!(empty nov.sentTS)}"/>
                            <h:outputText value="#{nov.sentTSPretty}"
                                          rendered="#{!(empty nov.sentTS)}"/>

                        </p:dataScroller>
                    </div>
                </div>
                <div class="ui-g-6 ui-md-6 ui-lg-6 restrict-data-field-report" >

                    <!--NESTED DATA LABEL INLINE -->
                    <div class="restrict-data-field-label-inline" >
                        <h:outputText value="(#{cse.citationList.size()}) " />
                        <h:outputLabel value="Citations: "/>
                    </div>
                    <!--NESTED DATA VALUE INLINE -->
                    <div class="restrict-data-field-value-inline" >
                        <p:dataScroller id="case-citations-scroller-6"
                                        value="#{cse.citationList}"
                                        var="cit"
                                        style="font-family: sans-serif;">
                            <div style="text-decoration: underline;">
                                <h:outputText value="ID: #{cit.citationNo}" />
                            </div>
                            <p:spacer height="3px" />
                            <ui:repeat id="citation-status-uir"
                                       value="#{cit.statusLog}"
                                       var="logentry">
                                <h:outputText value="#{reportingBB.getPrettyDateNoTime(logentry.dateOfRecord)}: #{logentry.status.statusTitle}"/>
                                <p:spacer height="3px" />
                            </ui:repeat>
                        </p:dataScroller>
                    </div>
                </div>
                <div class="ui-g-6 ui-md-6 ui-lg-6 restrict-data-field-report" >

                    <!--NESTED DATA LABEL INLINE -->
                    <div class="restrict-data-field-label-inline" >
                        <h:outputText value="(#{cse.eventList.size()} )" />
                        <h:outputLabel value="Events:"/>
                    </div>
                    <!--NESTED DATA VALUE INLINE -->
                    <div class="restrict-data-field-value-inline" >
                        <p:dataScroller id="case-citations-scroller-1"
                                        value="#{cse.eventList}"
                                        var="ev"
                                        style="font-family: sans-serif;">
                            <h:outputText value="#{missionControlBB.getPrettyDate(ev.timeStart)}" 
                                          style="font-weight: bold;"/>
                            <h:outputText value=": "
                                          style="font-weight: bold;"/>

                            <h:outputText value="#{ev.category.eventCategoryTitle}" />
                            <p:spacer height="1px" 
                                      rendered="#{reportingBB.reportCECaseList.includeSectionCaseByCaseDetail_eventDescription and not empty ev.description}" />
                            <h:outputText value=" (#{ev.description})"
                                            styleClass="italic"
                                            rendered="#{reportingBB.reportCECaseList.includeSectionCaseByCaseDetail_eventDescription and not empty ev.description}"  />
                        </p:dataScroller>
                    </div>
                </div>
                <f:subview id="cear-list-subview"
                           rendered="#{cse.ceActionRequestList.size() ne 0}">
                    <div class="ui-g-6 ui-md-6 ui-lg-6 restrict-data-field-report" >
                        <!--NESTED DATA LABEL INLINE -->
                        <div class="restrict-data-field-label-inline" >
                            <h:outputText value="(#{cse.ceActionRequestList.size()} )" />
                            <h:outputLabel value="Action requests: "/>
                        </div>
                        <!--NESTED DATA VALUE INLINE -->
                        <div class="restrict-data-field-value-inline" >
                            <p:dataScroller id="case-cear-scroller"
                                            value="#{cse.ceActionRequestList}"
                                            var="cear"
                                            style="font-family: sans-serif;">
                                <h:outputText value="#{missionControlBB.getPrettyDate(cear.dateOfRecord)}" 
                                              style="font-weight: bold;"/>
                                <h:outputText value=": "
                                              style="font-weight: bold;"/>
                                <h:outputText value="#{cear.issue.name}" />
                                <p:spacer height="3px" />
                                <h:outputText value="Submitter: " 
                                              style="font-weight: bold;"/>
                                <h:outputText value="#{cear.requestorName}"
                                              rendered="#{not cear.anonymitiyRequested}"/>
                                <h:outputText value="[anonymous]"
                                              rendered="#{cear.anonymitiyRequested}"/>
                                <h:outputText value="[Internal user]"
                                              rendered="#{cear.internalUserSubmitter}"/>
                                
                                <p:divider type="solid" />
                            </p:dataScroller>
                        </div>
                    </div>
                </f:subview>
            </div>
            <p:spacer height="2px" />
        </p:dataScroller>
    </cc:implementation>
</html>