<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:cc="http://xmlns.jcp.org/jsf/composite"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <cc:interface>
        <cc:attribute name="violation" required="true" />
    </cc:interface>

    <cc:implementation>
         <p:commandButton    id="violation-compliance-init-cb"
                            ajax="true"
                            value="Record compliance"
                            actionListener="#{ceCaseBB.onViolationRecordComplianceInitButtonChange(cc.attrs.violation)}"
                            icon="pi pi-check"
                            rendered="#{ceCaseBB.permissionAllowViolationAddUpdate 
                                        and cc.attrs.violation.status.allowCompliance
                                        and empty ceCaseBB.currentCase.deactivatedTS}"
                            oncomplete="PF('violation-batch-dialog-var').show()"
                            update="  violation-batch-dialog"/>

        <p:spacer height="5px" />

        <p:commandButton    id="violation-citationviolationupdate-init-cb"
                            ajax="true"
                            value="Update citation status"
                            actionListener="#{ceCaseBB.onViolationUpdateCitationViolationStatus(cc.attrs.violation)}"
                            icon="pi pi-pencil"
                            rendered="#{ceCaseBB.permissionAllowViolationAddUpdate 
                                        and cc.attrs.violation.status.requireCitationViolationLinkUpdates
                                        and empty ceCaseBB.currentCase.deactivatedTS}"
                            oncomplete="PF('citation-profile-dialog-var').show()"
                            update="citation-profile-dialog
                            violation-growl-form" />
        <p:spacer height="5px" />

        <p:commandButton id="citation-violation-help-button"
                         icon="pi pi-question-circle"
                         styleClass="button-help"
                         type="button" 
                         value="where's my compliance button?"
                         rendered="#{ceCaseBB.permissionAllowViolationAddUpdate 
                                     and cc.attrs.violation.status.requireCitationViolationLinkUpdates
                                     and empty ceCaseBB.currentCase.deactivatedTS}"/>

        <p:overlayPanel for="citation-violation-help-button"
                        style="width:650px;" 
                        dismissable="true"
                        showCloseIcon="true"
                        >

            <h3>Updating cited violations</h3>

            <p>Where did the compliance button go on this violation?</p>

            <p>Once a violation has been cited in at least one citation, the outcome of that violation is managed through its citation. Click the button "Update citation status" will bring 
                up the citation info dialog on the first citation that has cited this violation. Use the update link in the citation-violation list in the upper right to record the outcome of the court-mediated 
                citation process.</p>


        </p:overlayPanel>
    </cc:implementation>
</html>