<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:cc="http://xmlns.jcp.org/jsf/composite"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <cc:interface>
        <cc:attribute name="casevar" required="true" />
    </cc:interface>

    <cc:implementation>
        <p:column width="15%" 
                  sortBy="#{cc.attrs.casevar.priority.label}"
                  styleClass="#{!empty cc.attrs.casevar.priority ? cc.attrs.casevar.priority.rowStyleClass:''}">

            <f:facet name="header">
                <h:outputText value="Priority" />
                <p:spacer height="2px" />
                <div class="restrict-main-contents-io-link link-button help-icon-tightright">
                    <a href="https://technologyrediscovery.github.io/codenforce/dashboard/dashboard#case-priority-color-scheme"
                       target="_blank">
                        <i class="material-icons"
                           style="display: inline-block">help_outline</i>
                    </a>
                </div>
            </f:facet>

            <i class="material-icons">
                <h:outputText value="#{!empty cc.attrs.casevar.priorityIcon ? cc.attrs.casevar.priorityIcon.materialIcon:''}"/>
            </i>

            <p:spacer height="3px" />

            <h:outputText value="#{cc.attrs.casevar.priority.label}" style="font-size:0.7em;" />

        </p:column>

        <p:column width="11%" 
                  sortBy="#{cc.attrs.casevar.caseManager.human.name}">
            <f:facet name="header">
                <h:outputText value="Manager" />
            </f:facet>
            <h:outputText value="#{cc.attrs.casevar.caseManager.human.name}"/>
        </p:column>

        <p:column width="20%" 
                  sortBy="#{cc.attrs.casevar.originationDate}">

            <f:facet name="header">
                <h:outputText value="Opened" />
            </f:facet>
            <h:outputText value="#{systemServicesBB.getPrettyDateNoTime(cc.attrs.casevar.originationDate)}"/>
            <p:spacer height="2px"/>
            <h:outputText value="Age: #{cc.attrs.casevar.caseAge} days"
                          style="font-style: italic"/>
        </p:column>

        <p:column width="35%" 
                  sortBy="#{cc.attrs.casevar.addressPretty1Line}"
                  >

            <f:facet name="header">
                <h:outputText value="Info" />
            </f:facet>

            <h:outputText value="#{cc.attrs.casevar.addressPretty1Line} "
                          styleClass="bold"/>

            <f:subview id="case-property-unit-subview"
                       rendered="#{!empty cc.attrs.casevar.unitNumber}" >

                <p:spacer height="2px"
                          rendered="#{not empty cc.attrs.casevar.unitNumber}"/>
                <h:outputText value="Unit: #{cc.attrs.casevar.unitNumber}" />
            </f:subview>

            <p:spacer height="2px"
                      rendered="#{!(empty cc.attrs.casevar.originationEvent)}"/>

            <h:outputText value="Origin: #{cc.attrs.casevar.originationEvent.category.eventCategoryTitle}"
                          rendered="#{!empty cc.attrs.casevar.originationEvent}"/>

            <p:spacer height="2px" />

            <h:outputText value="Name: #{cc.attrs.casevar.caseName}"/>

        </p:column>
    </cc:implementation>
</html>