<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:cc="http://xmlns.jcp.org/jsf/composite"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <cc:interface>
        <cc:attribute name="penaltylist" required="true" />
    </cc:interface>

    <cc:implementation>
        
        <f:subview id="penalty-header-subview"
                   rendered="#{not empty cc.attrs.penaltylist}">
            <h3>Violation penalties</h3>
        </f:subview>
        
        <p:dataTable    id="citation-penalties-table"
                        value="#{cc.attrs.penaltylist}"
                        rendered="#{not empty cc.attrs.penaltylist}"
                        var="penalty"  
                        rowKey="#{penality.penaltyID}"
                        tableStyleClass="primeDataTable"
                        draggableRows="false" 
                        tabindex="1">

            <p:column width="25%"
                      sortBy="#{penalty.penaltyType.label}">
                <f:facet name="header">
                    <h:outputText value="Type"/>
                </f:facet>
                <h:outputText value="#{penalty.penaltyType.label}" />
            </p:column>

            <p:column width="15%">
                <f:facet name="header">
                    <h:outputText value="Date"/>
                </f:facet>
                <h:outputText value="#{citationBB.getPrettyLocalDate(penalty.dateOfRecord)}" />
            </p:column>

            <p:column width="20%"
                      sortBy="#{penalty.fineAmount}">
                <f:facet name="header">
                    <h:outputText value="Amount"/>
                </f:facet>
                <h:outputText value="#{penalty.fineAmount}">
                    <f:convertNumber type="currency" currencySymbol="$" maxFractionDigits="2" />
                </h:outputText>

            </p:column>
            <p:column width="20%">
                <f:facet name="header">
                    <h:outputText value="Note"/>
                </f:facet>
                <div class="wrapText">
                    <h:outputText value="#{penalty.notes}" />
                </div>
            </p:column>

            <p:column width="10%">
                <f:facet name="header">
                    <h:outputText value="Actions"/>
                </f:facet>

                <div class="restrict-main-contents-io-link">
                    <p:commandLink      id="citation-penalty-edit-cb"
                                        ajax="true"
                                        actionListener="#{citationBB.onPenalityViewEdit(penalty)}"
                                        oncomplete="PF('citation-penalty-dialog-var').show()"
                                        rendered="#{citationBB.permissionAllowCitationUpdate}"
                                        update="citation-penalty-dialog"
                                        value="edit" />
                </div>
                <p:spacer height="3px" />
                <h:outputText value="(ID: #{penalty.penaltyID})" />
            </p:column>
        </p:dataTable>
    </cc:implementation>
</html>