<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:cc="http://xmlns.jcp.org/jsf/composite"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
   <cc:interface>
        <cc:attribute name="citationviolationlist" required="true" />
        <cc:attribute name="showremove" required="true" />
    </cc:interface>

    <cc:implementation>
        <p:dataTable    id="tt-citationviolation-table"
                        value="#{cc.attrs.citationviolationlist}"
                        rendered="true"
                        var="cv"
                        rowKey="#{cv.citationViolationID}"
                        tableStyleClass="primeDataTable"
                        draggableRows="false" 
                        resizableColumns="true"
                        tabindex="6"
                        lazy="false">

            <p:column width="25%"
                      headerText="Current Status">

                <div class="#{cv.ccvLink.citVStatus.terminalStatus ? 'citation-violation-status-terminal':'citation-violation-status-inprocess'}">
                    <h:outputText value="#{cv.ccvLink.citVStatus.label}" 
                                  styleClass="citation-violation-status"/>
                    <p:spacer height="3px" />
                    <h:outputText value="#{cv.ccvLink.citVStatus.terminalStatus ? 'Terminal/final status':'In-process status'}" 
                                  styleClass="citation-violation-status-lastupdated"/>
                    <p:spacer height="3px" />
                    <h:outputText value="Last updated: #{citationBB.getPrettyDateNoTime(cv.ccvLink.linkLastUpdatedTS)}" 
                                  styleClass="citation-violation-status-lastupdated"/>
                </div>
            </p:column>
            <p:column width="45%">
                <f:facet name="header">
                    <h:outputText value="Ordinance"/>
                </f:facet>
                <h:outputText value="#{cv.ccvLink.violatedEnfElement.headerString}"
                              escape="false"
                              class="wrapText bold"/>

            </p:column>
            <p:column width="20%"
                      rendered="#{cc.attrs.showremove}">
                <f:facet name="header">
                    <h:outputText value="Update to..."/>
                </f:facet>
                <p:selectOneMenu style="width: 100%;"
                                    id="citation-violation-status-batchupdate-solb"
                                    value="#{cv.updatedStatus}"
                                    tabindex="10"
                                    var="citvstatus">
                    <f:selectItems  id="citation-violation-status-batchupdate-selitems"
                                    value="#{citationBB.citationViolationStatusEnumList}"
                                    var="cvsenum"
                                    itemValue="#{cvsenum}"
                                    itemLabel="#{cvsenum.label}"/>

                    <p:column style="width: 70%">
                        <h:outputText value="#{citvstatus.label}" />
                    </p:column>
                    <p:column style="width: 30%">
                        <h:outputText value="#{citvstatus.terminalStatus ? 'Terminal status':'In-process status'}" />
                    </p:column>
                </p:selectOneMenu>

            </p:column>

            <p:column width="10%">
                <f:facet name="header">
                    <h:outputText value="Actions"/>
                </f:facet>
                <div class="restrict-main-contents-io-link">
                    <p:commandLink      id="citv-remove-cl"
                                        ajax="true"
                                        actionListener="#{citationBB.onCitationViolationRemoveFromBatchQueue(cv)}"
                                        rendered="#{cc.attrs.showremove}"
                                        update="@form"
                                        value="remove from batch" />
                    <p:commandLink      id="citv-add-cl"
                                        ajax="true"
                                        actionListener="#{citationBB.onCitationViolationAddToBatchQueue(cv)}"
                                        rendered="#{not cc.attrs.showremove}"
                                        update="@form"
                                        value="add to batch" />
                </div>


            </p:column>
        </p:dataTable>
    </cc:implementation>
</html>