<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:cc="http://xmlns.jcp.org/jsf/composite"
      xmlns:p="http://primefaces.org/ui" >
    <cc:interface>
        <cc:attribute name="value" required="true" />
        <cc:attribute name="required" required="true" type="boolean" />
        <cc:attribute name="disabled" required="true" type="boolean" />
        
    </cc:interface>

    <cc:implementation>

        <p:inputText    id="email-inputmask"
                        value="#{cc.attrs.value}"
                        required="#{cc.attrs.required}"
                        disabled="#{cc.attrs.disabled}"
                        validatorMessage="Enter email in format address@domain.com/org/etc"
                        requiredMessage="An email address is required to complete the form"
                        validator="emailAddressValidator"
                        converter="trimConverter">

            
        </p:inputText>
        
          <p:message for="email-inputmask" 
                    display="both" 
                    showSummary="true"
                    showDetail="false"/>
    </cc:implementation>
</html>