<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:cc="http://xmlns.jcp.org/jsf/composite"
      xmlns:p="http://primefaces.org/ui" >
    <cc:interface>
        <cc:attribute name="value" required="true" />
    </cc:interface>

    <cc:implementation>


        <p:dataTable id="eventlist-table"
                     value="#{cc.attrs.value}"
                     rendered="#{not empty cc.attrs.value}"
                     var="genevent"
                     tableStyleClass="primeDataTable"
                     rowKey="#{genevent.eventID}"
                     reflow="true">
            
            <p:column headerText="Action date"
                      width="20%"
                      sortBy="#{genevent.timeStart}"
                      styleClass="centeredColumnContent">
                <h:outputText value="#{empty genevent.timeStart ? eventBB.getPrettyDate(genevent.createdTS) : eventBB.getPrettyDate(genevent.timeStart) }"/>
            </p:column>

            <p:column headerText="Category"
                      width="20%"
                      sortBy="#{genevent.category.eventCategoryTitle}"
                      styleClass="centeredColumnContent">

                <div class="#{genevent.category.icon.styleClass}">
                    <i class="material-icons status-display-icon-i">
                        <h:outputText value="#{genevent.category.icon.materialIcon}"/>
                    </i>
                </div>

                <h:outputText value="#{genevent.category.eventType.label}:"/>

                <p:spacer height="1px" />

                <h:outputText value="#{genevent.category.eventCategoryTitle}"/>
            </p:column>

            <p:column headerText="Description"
                      width="40%"
                      styleClass="centeredColumnContent wrapText">

                <h:outputText value="#{genevent.description}"
                              escape="false"/>

            </p:column>

            <p:column headerText="ID"
                      width="10%"
                      styleClass="centeredColumnContent">

                <h:outputText value="(ID:#{genevent.eventID})"/>

            </p:column>
        </p:dataTable>
    </cc:implementation>
</html>