<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:cc="http://xmlns.jcp.org/jsf/composite"
      xmlns:p="http://primefaces.org/ui" 
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <cc:interface>
        <cc:attribute name="value" required="true" />
        <cc:attribute name="holder" required="true" />
        <cc:attribute name="linktext" required="true" />
        <cc:attribute name="updatecomponent" required="false"/>
    </cc:interface>

    <cc:implementation>
        <div class="restrict-main-contents-io-link event-followup-required">
            <p:commandLink id="evcal-followup-cl"
                           style="padding-bottom: 0px;"
                           actionListener="#{eventBB.onFollowUpToEventInit(cc.attrs.value)}"
                           oncomplete="PF('event-add-dialog-var').show()"
                           update="event-add-dialog">
                <f:param name="event-list-component-to-update" value="#{cc.attrs.updatecomponent}" />
                <h:outputText value="#{cc.attrs.linktext}" />
            </p:commandLink>
        </div>
    </cc:implementation>
</html>