<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:cc="http://xmlns.jcp.org/jsf/composite"
      xmlns:p="http://primefaces.org/ui" 
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:tt="http://xmlns.jcp.org/jsf/composite/components">
    <cc:interface>
        <cc:attribute name="value" required="true" />
    </cc:interface>

    <cc:implementation>
          <div class="evcal-evrow">
                                
            <div class="evcal-evicon-container">
                <i class="material-icons">
                    <h:outputText value="#{cc.attrs.value.category.icon.materialIcon}"/>
                </i>
            </div>
            <div class="evcal-evtime-container">
                <h:outputText value="#{sessionEventConductor.getPrettyTimeOnly(cc.attrs.value.timeStart)}" />
            </div>
            <div class="evcal-evcat-container"
                 style="font-size: 0.8em;">
                <div class="restrict-main-contents-io-link link-button"
                     style="padding-bottom: 0px;">
                    <p:commandLink id="evcal-event-open-button"
                                   styleClass="noFill button-size-small"
                                   style="padding-bottom: 0px;"
                                   value="#{cc.attrs.value.category.eventCategoryTitle}"
                                   oncomplete="PF('event-profile-dialog-var').show()"
                                   update="event-profile-dialog event-profile-form"
                                   actionListener="#{eventBB.onViewEvent(cc.attrs.value)}">
                         <f:param name="event-list-component-to-update" value="event-cal-form" />
                    </p:commandLink>
                </div>
                <f:subview id="event-followup-link-subview"
                           rendered="#{cc.attrs.value.followUpNeeded}">
                    <br />
                    <tt:eventFollowUpLink value="#{cc.attrs.value}"
                                          holder="#{null}"
                                          linktext="Follow up now" 
                                          updatecomponent="event-cal-form"/>
                </f:subview>
                <f:subview id="event-followup-notrequired-br"
                           rendered="#{not cc.attrs.value.followUpNeeded}">
                    <br />
                </f:subview>
                <p:commandLink id="evcal-holder-cl"
                               action="#{sessionEventConductor.onViewEventHolder(cc.attrs.value)}"
                               style="font-weight: bold; color:blue;">
                    <h:outputText value="#{cc.attrs.value.casePeriodPropertyString}"
                                  rendered="#{not empty cc.attrs.value.casePeriodPropertyString}"/>
                    <p:spacer height="1px" />
                    <h:outputText value="#{cc.attrs.value.parcelAddressOneLine}" escape="false" 
                                  rendered="#{not empty cc.attrs.value.parcelAddressOneLine}"/>
                </p:commandLink>
            </div>
        </div>
    </cc:implementation>
</html>