<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:cc="http://xmlns.jcp.org/jsf/composite"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <cc:interface>
        <cc:attribute name="findingsholder" required="true" />
        <cc:attribute name="savemethod"
                      method-signature="void action()" 
                      required="true"/>
        <cc:attribute name="requirefinding" type="boolean" required="true" />
        
    </cc:interface>

    <cc:implementation>
        <p:outputPanel id="cannedfindings-outpanel" layout="block">
            <div class="p-grid">
                <div class="p-col-12 padding-low-bottom">
                    <p:textEditor    id="cdelOrdTechnicalText"  
                                     value="#{cc.attrs.findingsholder.findings}"
                                     required="#{cc.attrs.requirefinding}"
                                     secure="false"
                                     height="#{fieldInspectionBB.largeFindingsBoxes ? '200px':'75px'}"
                                     style="width:100%;">
                        <f:facet name="toolbar">
                            <span class="ql-formats">
                                <button class="ql-bold" />
                                <button class="ql-italic" />
                                <button class="ql-underline" />
                            </span>
                            <span class="ql-formats">
                                <select class="ql-color" />
                            </span>
                            <span class="ql-formats">
                                <button class="ql-list" value="ordered" />
                                <button class="ql-list" value="bullet" />
                            </span>
                            <span class="ql-formats">
                                <button class="ql-clean" />
                            </span>
                        </f:facet>
                    </p:textEditor>
                    <p:message for="cdelOrdTechnicalText" display="both" />
              
                </div>
                <div class="p-col-4 padding-low-top">
                    <div class="restrict-main-contents-io-link">
                        <ui:repeat id="cannedfinding-uir"
                                   value="#{cc.attrs.findingsholder.cannedFindingsCandidates}"
                                   var="cannedfinding">
                            <p:commandLink id="cannedfinding-singelupdate-cl"
                                           type="button"
                                           actionListener="#{textBlockBB.onApplyCannedFinding(cannedfinding, cc.attrs.findingsholder)}"
                                           value="#{cannedfinding.textBlockName}"
                                           update="#{cc.attrs.clientId}:cdelOrdTechnicalText" />
                            <p:spacer height="1px" />
                        </ui:repeat>
                    </div>
                </div>
                <div class="p-col-4 padding-low-top">
                    <div class="restrict-main-contents-io-link">
                        <p:commandLink id="cannedfinding-makefindingscanned-cl"
                                       type="button"
                                       actionListener="#{textBlockBB.onSaveCurrentFindingsAsCannedFindingInit(cc.attrs.findingsholder)}"
                                       value="store findings for reuse"
                                       oncomplete="PF('manage-canned-findings-dialog-var').show();"
                                       update="manage-canned-findings-dialog" >
                            <f:param name="cannedFindingComponentForRefresh"
                                     value="#{cc.clientId}" />
                            <f:ajax listener="#{cc.attrs.savemethod}" execute="@form" />
                        </p:commandLink>
                    </div>
                  
                </div>
                <div class="p-col-4 padding-low-top">
                    <div class="restrict-main-contents-io-link">
                        <p:commandLink id="cannedfinding-manage-cl"
                                       type="button"
                                       actionListener="#{textBlockBB.onManageCannedFindings(cc.attrs.findingsholder)}"
                                       value="manage findings"
                                       oncomplete="PF('manage-canned-findings-dialog-var').show();"
                                       update="manage-canned-findings-dialog" >
                            <f:param name="cannedFindingComponentForRefresh"
                                     value="#{cc.clientId}" />
                            <f:ajax listener="#{cc.attrs.savemethod}" execute="@form" />
                        </p:commandLink>
                    </div>
                </div>
            </div>
        </p:outputPanel>
    </cc:implementation>
</html>