<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:cc="http://xmlns.jcp.org/jsf/composite"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <cc:interface>
        <cc:attribute name="value" required="true" />
        <cc:attribute name="rendered" required="true" />
        <cc:attribute name="required" required="true" />
        <cc:attribute name="iconList" required="true" />
    </cc:interface>
    
    <cc:implementation>
        <p:selectOneMenu value="#{cc.attrs.value}"
                     panelStyle="width:180px"
                     var="i"
                     converter="iconConverter"
                     filter="true"
                     filterMatchMode="contains"
                     required="#{cc.attrs.required}"
                     rendered="#{cc.attrs.rendered}">

            <f:selectItem itemLabel="select Icon..." noSelectionOption="true" />
            <f:selectItems value="#{cc.attrs.iconList}" var="icon"
                    itemLabel="#{icon.name}" itemValue="#{icon}"/>

                <p:column style="width:10%">
                        <i class="material-icons"><h:outputText value="#{i.materialIcon}"/></i>
                </p:column>

                <p:column>
                        <f:facet name="header">
                                <h:outputText value="Name"/>
                        </f:facet>
                        <h:outputText value="#{i.name}"/>
                </p:column>

                <f:facet name="footer">
                    <h:outputText value="#{cc.attrs.iconList.size()} icons" 
                                style="font-weight:bold;" styleClass="p-py-1 p-d-block"/>
                </f:facet>
        </p:selectOneMenu>
    </cc:implementation>
</html>