<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:cc="http://xmlns.jcp.org/jsf/composite"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:tt="http://xmlns.jcp.org/jsf/composite/components" >
    <cc:interface>
        <cc:attribute name="inspectable" required="true" />
        <cc:attribute name="containerid" required="true" />
    </cc:interface>

    <cc:implementation>

        <p:panel id="inspections-panel"
                 toggleable="true"
                 widgetVar="inspections-panel-var"
                 collapsed="false" >
            <f:facet name="header">
                <h:outputText value="Field Inspections" />
            </f:facet>

            <h:form id="inspectionspanelcc-inspections-form">
                <div class="button-row-container">

                    <p:commandButton id="inspections-newbutton"
                                     value="New inspection"
                                     disabled="#{not fieldInspectionBB.currentInspectable.newInspectionsAllowed}"
                                     rendered="#{fieldInspectionBB.permissionAllowAddUpdateInspectionMetadata}"
                                     icon="pi pi-plus"
                                     oncomplete="PF('inspection-create-dialog-var').show()"
                                     actionListener="#{fieldInspectionBB.onCreateInspectionInitButtonChange(cc.attrs.inspectable)}"
                                     update="inspections-selectchecklist-form"
                                     styleClass="linedup-button"
                                     >
                        <f:param name="initiating-inspection-list-component-id" value=":#{cc.attrs.containerid}:inspectionspanelcc-inspections-form" />
                    </p:commandButton>

                </div>

                <p:spacer height="5px"/>

                <p:dataTable    id="finlist-cc-inspections-table"
                                value="#{fieldInspectionBB.currentInspectable.inspectionList}"
                                rendered="#{!empty fieldInspectionBB.currentInspectable.inspectionList}"
                                var="inspection"
                                rowKey="#{inspection.inspectionID}"
                                reflow="true"
                                lazy="true"
                                tableStyleClass="primeDataTable">

                    <p:column headerText="Date"
                              sortBy="#{inspection.effectiveDateOfRecord}"
                              style="width:20%;">
                        <h:outputText value="#{fieldInspectionBB.getPrettyDateNoTime(inspection.effectiveDateOfRecord)}" />
                    </p:column>
                    <p:column headerText="Inspector"
                              style="width:20%;">
                        <h:outputText value="#{inspection.inspector.human.name}" />

                    </p:column>
                    <p:column headerText="Status"
                              style="width:40%;">
                        
                        <tt:inspectionStatusCellCC  id="inspection-panel-status-tt"
                                                    inspection="#{inspection}" />
                       
                    </p:column>
                    <p:column headerText="Actions"
                              style="width:15%;">
                        <p:commandLink  id="inspection-details-cl"
                                        value="view/edit"
                                        actionListener="#{fieldInspectionBB.onViewEditInspectionLinkClick(inspection)}"
                                        ajax="true"
                                        style="color:blue; font-weight: bold;"
                                        oncomplete="PF('inspection-profile-dialog-var').show()"
                                        rendered="#{systemServicesBB.bbSessionUser.keyCard.hasMuniStaffPermissions}"
                                        update="inspection-profile-masteroutputpanel
                                        inspection-profile-dialog"
                                        >
                            <f:param name="initiating-inspection-list-component-id" value=":#{cc.attrs.containerid}:inspectionspanelcc-inspections-form" />
                        </p:commandLink>
                      
                        <p:spacer height="3px" />
                        <p:commandLink  id="occperiod-start-reinspect-settings-cl"
                                        value="reinspect"
                                        ajax="true"
                                        style="font-weight: bold; color: blue;"
                                        actionListener="#{fieldInspectionBB.onReinspectionInitFromFinList(inspection)}"
                                        oncomplete="PF('inspection-followup-dialog-var').show();"
                                        rendered="#{fieldInspectionBB.permissionAllowAddUpdateInspectionMetadata and not empty inspection.determinationTS}"
                                        update="inspection-followup-form
                                        inspection-followup-dialog">
                            <f:param name="initiating-inspection-list-component-id" value=":#{cc.attrs.containerid}:inspectionspanelcc-inspections-form" />

                        </p:commandLink>
                        <p:spacer height="3px" />
                        <h:outputText value="(ID:#{inspection.inspectionID})" />
                    </p:column>
                </p:dataTable>
                
            </h:form>
        </p:panel>

    </cc:implementation>
</html>