<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:cc="http://xmlns.jcp.org/jsf/composite"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <cc:interface>
        <cc:attribute name="compid" required="true" />
        <cc:attribute name="dimlengthft" required="true" type="float"/>
        <cc:attribute name="dimlengthin" required="true" type="float"/>
        <cc:attribute name="dimwidthft" required="true" type="float" />
        <cc:attribute name="dimwidthin" required="true" type="float" />
        <cc:attribute name="dimtotalsqft" required="true" type="float" />
    </cc:interface>

    <cc:implementation>

        <div class="p-col-3">
            <p:inputNumber id="dim1-length-ft"
                           value="#{cc.attrs.dimlengthft}"
                           required="false" 
                           styleClass="small-width-input"
                           rendered="#{not fieldInspectionBB.dimensionEntryInchesOnly}"
                           decimalPlaces="0"
                           disabled="false">
                <p:ajax event="change"
                        listener="#{fieldInspectionBB.onDimensionValueChange}" 
                        update="@form:#{cc.attrs.compid}:dim1-sqft
                                @form:spc-totalsqft-ot"/>
            </p:inputNumber> 

            <h:outputText value=" ft. " 
                          rendered="#{not fieldInspectionBB.dimensionEntryInchesOnly}"/>

            <p:inputNumber id="dim1-length-in"
                           value="#{cc.attrs.dimlengthin}"
                           required="false" 
                           styleClass="small-width-input"
                           rendered="true"
                           decimalPlaces="0"
                           disabled="false"> 
                <p:ajax event="change"
                        listener="#{fieldInspectionBB.onDimensionValueChange}" 
                        update="@form:#{cc.attrs.compid}:dim1-sqft
                        @form:spc-totalsqft-ot"/>
            </p:inputNumber> 

            <h:outputText value=" in. " />

        </div>
        <div class="p-col-1">
            <h:outputText value=" X " 
                          styleClass="bold larger-text"/>
        </div>
        <div class="p-col-3">

            <p:inputNumber id="dim1-width-ft"
                           value="#{cc.attrs.dimwidthft}"
                           required="false" 
                           styleClass="small-width-input"
                           rendered="#{not fieldInspectionBB.dimensionEntryInchesOnly}"
                           decimalPlaces="0"
                           disabled="false"> 
                <p:ajax event="change"
                        listener="#{fieldInspectionBB.onDimensionValueChange}" 
                        update="@form:#{cc.attrs.compid}:dim1-sqft
                        @form:spc-totalsqft-ot"/>
            </p:inputNumber> 

            <h:outputText value=" ft. " 
                          rendered="#{not fieldInspectionBB.dimensionEntryInchesOnly}"/>

            <p:inputNumber id="dim1-width-in"
                           value="#{cc.attrs.dimwidthin}"
                           required="false" 
                           styleClass="small-width-input"
                           rendered="true"
                           decimalPlaces="0"
                           disabled="false"> 
                <p:ajax event="change"
                        listener="#{fieldInspectionBB.onDimensionValueChange}" 
                        update="@form:#{cc.attrs.compid}:dim1-sqft
                        @form:spc-totalsqft-ot"/>
            </p:inputNumber> 
            <h:outputText value=" in. " />

        </div>
        <div class="p-col-1">
            <h:outputText value=" = " 
                          styleClass="bold larger-text"/>

        </div>
        <div class="p-col-4">

            <p:inputNumber id="dim1-sqft"
                           value="#{cc.attrs.dimtotalsqft}"
                           required="false" 
                           styleClass="med-width-input"
                           rendered="true"
                           disabled="true"> 
             
            </p:inputNumber> 

            <h:outputText value=" sq. ft. " />
        </div>
    </cc:implementation>
</html>