<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:cc="http://xmlns.jcp.org/jsf/composite"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <cc:interface>
        <cc:attribute name="inspection" required="true" />
        <cc:attribute name="componentid" required="true" />
        <cc:attribute name="editmode" required="true" type="boolean" />
        <cc:attribute name="showlocalcontrols" required="true" type="boolean" />
        <cc:attribute name="showparentinfo" required="true" type="boolean" />
        <cc:attribute name="showpostcreationfields" required="true" type="boolean" />
    </cc:interface>

    <cc:implementation>
        <div class="p-grid">

            <f:subview id="localedit-cancel-subivew"
                       rendered="#{cc.attrs.showlocalcontrols}">
                <div class="p-md-12 p-sm-12">
                    <p:commandButton id="inspections-inspectiondetails-editbutton"
                                     value="#{cc.attrs.editmode ? 'Save Changes' : 'Edit'}"
                                     disabled="#{!cc.attrs.inspection.browserUserEditingAllowed or not empty cc.attrs.inspection.determinationTS}"
                                     rendered="#{fieldInspectionBB.permissionAllowAddUpdateInspectionMetadata}"
                                     icon="pi #{cc.attrs.editmode ? 'pi-check' : 'pi-pencil'}"
                                     actionListener="#{fieldInspectionBB.onToggleEditModeInspectionMetadata}"
                                     oncomplete="PF('inspection-profile-dialog-var').show();"
                                     update="inspection-profile-masteroutputpanel
                                     @form:@parent:inspectiontools-growl-form
                                     #{fieldInspectionBB.inspectionListComponentForUpdate}"/>
                    <span class="gray_button">

                        <p:commandButton id="inspections-inspectiondetails-abort"
                                         value="Cancel"
                                         styleClass="gray_button"
                                         immediate="true"
                                         rendered="#{cc.attrs.editmode}"
                                         icon="pi pi-stop"
                                         actionListener="#{fieldInspectionBB.abortEditsOccInspectionMetadata}"
                                         oncomplete="PF('inspection-profile-dialog-var').show()"
                                         update="   @form
                                         @form:@parent:inspectiontools-growl-form
                                         inspection-actions-form
                                         inspection-advancedtools-form
                                         inspection-actions-form
                                         inspection-inspectedspaces-form"/>
                    </span>
                </div>
            </f:subview>
            <f:subview id="inspection-details-parentinfo-subivew"
                       rendered="#{cc.attrs.showparentinfo}">

                <div class="p-md-4 p-sm-12 restrict-data-field-label-inline">
                    Property and case/file
                </div>
                <div class="p-md-8 p-sm-12 restrict-data-field-value-inline">
                    <f:subview id="fin-loc-nothomeless"
                               rendered="#{not cc.attrs.inspection.routingRequired and not empty cc.attrs.inspection.parentPropertyAddress2LineEscapeFalse}">
                        <h:outputText value="#{cc.attrs.inspection.parentPropertyAddress2LineEscapeFalse}"
                                      escape="false"/>
                        <p:spacer height="3px" />
                        <h:outputText value="#{cc.attrs.inspection.containingCECaseOccPeriodDescription}"/>
                    </f:subview>
                    <f:subview id="fin-loc-nothomeless-emptyinspectionparentinfo"
                               rendered="#{not cc.attrs.inspection.routingRequired and empty cc.attrs.inspection.parentPropertyAddress2LineEscapeFalse}">
                        <h:outputText value="#{fieldInspectionBB.currentInspectable.properyCaseFileDescriptiveStringEscapeFalse}"
                                      escape="false"/>
                    </f:subview>

                    <f:subview id="fin-loc-homeless"
                               rendered="#{cc.attrs.inspection.routingRequired}">
                        <h:outputText value="Inspection with routing required | Location: #{cc.attrs.inspection.combinedRawLocation} " />
                    </f:subview>
                </div>
            </f:subview>


            <div class="p-md-4 p-sm-12 restrict-data-field-label-inline">
                Inspector *
            </div>
            <div class="p-md-8 p-sm-12 restrict-data-field-value-inline">
                <h:outputText rendered="true"
                              value="#{cc.attrs.inspection.inspector.human.name}"/>
                <p:spacer height="3px" />
                <div class="restrict-main-contents-io-link">

                    <p:commandLink  id="inspectiondetails-changeinspector-cl"
                                    value="edit inspector"
                                    ajax="true"
                                    actionListener="#{fieldInspectionBB.onInspectorChangeInit}"
                                    oncomplete="PF('inspection-changeinspector-dialog-var').show();"
                                    update="inspection-changeinspector-form"
                                    disabled="#{(cc.attrs.showlocalcontrols and cc.attrs.inspection.dispatched) or not empty cc.attrs.inspection.determinationTS}">
                        <f:param name="inspection-createedit-formpath" value="#{cc.attrs.componentid}" />
                    </p:commandLink>
                </div>


            </div>

            <div class="p-md-4 p-sm-12 restrict-data-field-label-inline">
                Checklist *
            </div>
            <div class="p-md-8 p-sm-12 restrict-data-field-value-inline">
                <h:outputText rendered="true"
                              value="#{cc.attrs.inspection.checklistTemplate.title} (ID:#{cc.attrs.inspection.checklistTemplate.inspectionChecklistID})"/>

                <p:spacer height="3px" />
                <div class="restrict-main-contents-io-link">

                    <p:commandLink  id="inspectiondetails-changechecklist-cl"
                                    value="edit checklist"
                                    ajax="true"
                                    actionListener="#{fieldInspectionBB.onInspectionChecklistChangeInit}"
                                    oncomplete="PF('inspections-selectchecklist-var').show();"
                                    update="inspections-selectchecklist-form"
                                    disabled="#{(cc.attrs.showlocalcontrols and cc.attrs.inspection.dispatched) or not empty cc.attrs.inspection.determinationTS}">
                        <f:param name="inspection-createedit-formpath" value="#{cc.attrs.componentid}" />
                    </p:commandLink>
                </div>
            </div>

            <div class="p-md-4 p-sm-12 restrict-data-field-label-inline">
                Cause for inspection
            </div>
            <div class="p-md-8 p-sm-12 restrict-data-field-value-inline">
                <h:outputText rendered="#{!cc.attrs.editmode}"
                              value="#{cc.attrs.inspection.cause.title}"/>

                <p:selectOneMenu id="cause-som"
                                 value="#{cc.attrs.inspection.cause}"
                                 rendered="#{cc.attrs.editmode}"
                                 required="false"
                                 converter="occInspectionCauseConverter">
                    <f:selectItem itemLabel="select a cause"
                                  noSelectionOption="true"
                                  itemDisabled="false"/>
                    <f:selectItems value="#{fieldInspectionBB.causeList}"
                                   var="cause"
                                   itemLabel="#{cause.title}"
                                   itemValue="#{cause}"/>
                </p:selectOneMenu>
            </div>


            <div class="p-md-4 p-sm-12 restrict-data-field-label-inline">
                Date of inspection *
            </div>
            <div class="p-md-8 p-sm-12 restrict-data-field-value-inline">
                <h:outputText rendered="#{!cc.attrs.editmode}"
                              value="#{fieldInspectionBB.getPrettyLocalDateNoTime(cc.attrs.inspection.inspectionDate)}"/>


                <p:datePicker   id="inspection-dor-datepicker"
                                rendered="#{cc.attrs.editmode}"
                                value="#{cc.attrs.inspection.inspectionDate}"
                                style="width: 100%;"
                                pattern="MM/dd/yyyy"
                                disabled="false"
                                monthNavigator="true"
                                showButtonBar="true"
                                hideOnDateTimeSelect="true"
                                showOnFocus="false"
                                showIcon="true"
                                mask="true"
                                timeInput="false"
                                required="true" >
                    <f:convertDateTime pattern="MM/dd/yyyy" type="localDate"/>
                </p:datePicker>
            </div>

            <div class="p-md-4 p-sm-12 restrict-data-field-label-inline">
                Start time
            </div>
            <div class="p-md-8 p-sm-12 restrict-data-field-value-inline">
                <h:outputText rendered="#{!cc.attrs.editmode}"
                              value="#{fieldInspectionBB.getPrettyTime(cc.attrs.inspection.inspectionTimeStart)}"/>
                <p:datePicker 	 id="inspection-time-start-datepicker"
                                rendered="#{cc.attrs.editmode}"
                                value="#{cc.attrs.inspection.inspectionTimeStart}"
                                style="width: 100%;"
                                pattern="HH:mm"
                                disabled="false"
                                showButtonBar="true"
                                hideOnDateTimeSelect="true"
                                showOnFocus="false"
                                showIcon="true"
                                mask="true"
                                timeInput="true"
                                required="false" >
                    <f:validator validatorId="fieldInspectionTimeStartValidator" />
                </p:datePicker>
            </div>

            <div class="p-md-4 p-sm-12 restrict-data-field-label-inline">
                End time
            </div>
            <div class="p-md-8 p-sm-12 restrict-data-field-value-inline">
                <h:outputText   rendered="#{!cc.attrs.editmode}"
                                value="#{fieldInspectionBB.getPrettyTime(cc.attrs.inspection.inspectionTimeEnd)}"/>
                <p:datePicker 	 id="inspection-time-end-datepicker"
                                rendered="#{cc.attrs.editmode}"
                                value="#{cc.attrs.inspection.inspectionTimeEnd}"
                                style="width: 100%;"
                                pattern="HH:mm"
                                disabled="false"
                                showButtonBar="true"
                                hideOnDateTimeSelect="true"
                                showOnFocus="false"
                                showIcon="true"
                                mask="true"
                                timeInput="true"
                                required="false" >
                    <f:validator validatorId="fieldInspectionTimeEndValidator" />
                </p:datePicker>
                <p:message for="inspection-time-end-datepicker" 
                           display="both"
                           showSummary="true"
                           showDetail="false"/>
            </div>

            <f:subview id="dispatch-subview"
                       rendered="#{not cc.attrs.showlocalcontrols}">

                <div class="p-md-4 p-sm-12 restrict-data-field-label-inline">
                    Dispatch to mobile?
                    <p:commandButton id="dispatch-help-button"
                                     icon="pi pi-question-circle"
                                     styleClass="button-help"
                                     type="button" />

                    <p:overlayPanel for="dispatch-help-button"
                                    style="width:350px;" 
                                    dismissable="true"
                                    showCloseIcon="true"
                                    modal="trye">
                        <h3>Dispatching inspections during creation</h3>
                        <p>By checking this box during inspection creation the inspection will automatically be queued up for
                            being performed using the codeNforce mobile software tool. When dispatched to mobile, users cannot perform inspection
                            functions in the browser until the dispatched inspection is synchronized back to the server.</p>

                        <p>You may revoke mobile dispatches at any time from the inspection profile.</p>
                    </p:overlayPanel>
                </div>
                <div class="p-md-2 p-sm-2 restrict-data-field-value-inline">
                    <p:graphicImage   id="handheld-thumb-graphicimage"
                                      width="100%"
                                      value="/images/handheld2#{cc.attrs.inspection.dispatchOnCreationCommit ? '':'-disabled'}.jpg"
                                      />
                </div>
                <div class="p-md-6 p-sm-10 restrict-data-field-value-inline">
                    <h:outputText   rendered="#{!cc.attrs.editmode}"
                                    value="#{not empty cc.attrs.inspection.dispatch ? 'Dispatched to handheld' : 'Not dispatched'}"/>

                    <p:selectBooleanCheckbox value="#{cc.attrs.inspection.dispatchOnCreationCommit}" 
                                             rendered="#{cc.attrs.editmode}"
                                             >
                        <p:ajax update="dispatchduringfininit-notes-ita
                                handheld-thumb-graphicimage" />
                    </p:selectBooleanCheckbox>

                    <p:spacer height="3px" />

                    <h:outputText value="Dispatch notes: " />
                    <p:spacer height="3px" />
                    <p:inputTextarea    id="dispatchduringfininit-notes-ita"
                                        value="#{cc.attrs.inspection.dispatch.dispatchNotes}"
                                        disabled="#{not cc.attrs.inspection.dispatchOnCreationCommit}"
                                        rows="2"
                                        cols="30"
                                        required="false"/>


                </div>
            </f:subview>

            <f:subview id="comments-subview"
                       rendered="#{cc.attrs.showpostcreationfields}">
                <div class="p-md-4 p-sm-12 restrict-data-field-label-inline">
                    Comments
                </div>
                <div class="p-md-8 p-sm-12 restrict-data-field-value-inline">
                    <h:outputText   rendered="#{!cc.attrs.editmode}"
                                    value="#{cc.attrs.inspection.generalComments}"
                                    escape="false"/>

                    <p:textEditor  value="#{cc.attrs.inspection.generalComments}"
                                   height="575"
                                   secure="false"
                                   required="false"
                                   rendered="#{cc.attrs.editmode}"
                                   >
                        <f:facet name="toolbar">
                            <span class="ql-formats">
                                <button class="ql-bold" />
                                <button class="ql-italic" />
                                <button class="ql-underline" />
                                <select class="ql-size" />
                            </span>
                            <span class="ql-formats">
                                <select class="ql-color" />
                            </span>
                            <span class="ql-formats">
                                <button class="ql-list" value="ordered" />
                                <button class="ql-list" value="bullet" />
                            </span>
                            <span class="ql-formats">
                                <button class="ql-clean" />
                            </span>
                        </f:facet>
                    </p:textEditor>


                </div>
            </f:subview>
            <div class="p-md-4 p-sm-12 restrict-data-field-label-inline">
                Pre-inspection notes
            </div>
            <div class="p-md-8 p-sm-12 restrict-data-field-value-inline">
                <h:outputText   rendered="#{!cc.attrs.editmode}"
                                value="#{cc.attrs.inspection.notesPreInspection}"
                                escape="false"/>
                <p:textEditor  value="#{cc.attrs.inspection.notesPreInspection}"
                               height="575"
                               secure="false"
                               required="false"
                               rendered="#{cc.attrs.editmode}"
                               >
                    <f:facet name="toolbar">
                        <span class="ql-formats">
                            <button class="ql-bold" />
                            <button class="ql-italic" />
                            <button class="ql-underline" />
                            <select class="ql-size" />
                        </span>
                        <span class="ql-formats">
                            <select class="ql-color" />
                        </span>
                        <span class="ql-formats">
                            <button class="ql-list" value="ordered" />
                            <button class="ql-list" value="bullet" />
                        </span>
                        <span class="ql-formats">
                            <button class="ql-clean" />
                        </span>
                    </f:facet>
                </p:textEditor>
            </div>
        </div>

        <p:panel id="inspection-occupancylimits-panel"
                 collapsed="true"
                 toggleable="true"
                 header="Occupancy and room counts"
                 styleClass="advanced-search">

            <div class="p-grid">

                <div class="p-md-4 p-sm-12 restrict-data-field-label-inline">
                    Max occupancy
                </div>
                <div class="p-md-8 p-sm-12 restrict-data-field-value-inline">
                    <h:outputText rendered="#{!cc.attrs.editmode}"
                                  value="#{cc.attrs.inspection.maxOccupantsAllowed}"/>

                    <p:inputText rendered="#{cc.attrs.editmode}"
                                 value="#{cc.attrs.inspection.maxOccupantsAllowed}"
                                 required="false"/>
                </div>

                <div class="p-md-4 p-sm-12 restrict-data-field-label-inline">
                    Number of bedrooms
                </div>
                <div class="p-md-8 p-sm-12 restrict-data-field-value-inline">
                    <h:outputText rendered="#{!cc.attrs.editmode}"
                                  value="#{cc.attrs.inspection.numBedrooms}"/>
                    <p:inputText rendered="#{cc.attrs.editmode}"
                                 value="#{cc.attrs.inspection.numBedrooms}"
                                 required="false"/>
                </div>

                <div class="p-md-4 p-sm-12 restrict-data-field-label-inline">
                    Number of bathrooms
                </div>
                <div class="p-md-8 p-sm-12 restrict-data-field-value-inline">
                    <h:outputText rendered="#{!cc.attrs.editmode}"
                                  value="#{cc.attrs.inspection.numBathrooms}"/>
                    <p:inputText rendered="#{cc.attrs.editmode}"
                                 value="#{cc.attrs.inspection.numBathrooms}"
                                 required="false"/>
                </div>
            </div>
        </p:panel>
    </cc:implementation>
</html>