<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:cc="http://xmlns.jcp.org/jsf/composite"
      xmlns:tt="http://xmlns.jcp.org/jsf/composite/components"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <cc:interface>
        <cc:attribute name="elementlist" required="true" />
        <cc:attribute name="savemethod"
                      method-signature="void action()"
                      required="true"/>
    </cc:interface>
    <cc:implementation>
        <p:dataTable id="inspection-table"
                     value="#{cc.attrs.elementlist}"
                     rendered="#{!empty cc.attrs.elementlist}" 
                     var="oise"
                     rowKey="#{oise.inspectedSpaceElementID}"
                     expandedRow="false"
                     rowExpandMode="true" 
                     reflow="true"
                     tableStyleClass="primeDataTable">

            <p:column headerText="Category"
                      width="10%" >
                <h:outputText value="#{oise.guideEntry.category}" />
            </p:column>
            <p:column headerText="Ordinance"
                      width="30%" >

                <h:outputText value="#{oise.headerString}"
                              escape="false" />
                <p:spacer height="2px" />
                <p:commandLink id="spaceelement-vieword-cl-simple"
                               ajax="true"
                               type="button"
                               style="color:blue; font-weight: bold; margin-left: 5px;"
                               actionListener="#{fieldInspectionBB.onSpaceElementViewLinkClick(oise)}"
                               update=" codeelement-fulltext-dialog
                               codeelement-fulltext-form"
                               oncomplete="PF('codeelement-fulltext-dialog-var').show();"
                               value="ordinance info"/> 

                <h:outputText value=" | " />
                
                <p:commandLink    id="show-ord-outcome-cl"
                                  value="ord info 2"
                                  style="color:blue; font-weight: bold;"
                                  type="button"
                                  />


                <p:overlayPanel for="show-ord-outcome-cl"
                                style="width:800px;"
                                dismissable="true"
                                showCloseIcon="true"
                                modal="true"
                                >

                    <h2>
                        <h:outputText value="#{oise.headerString}"
                                      escape="false"/>
                    </h2>
                    <div class="monospace">

                        <h:outputText id="ord-text-ot"
                                      value="#{oise.ordTechnicalText}"
                                      escape="false"/>

                    </div>

                </p:overlayPanel>
            </p:column>

            <p:column headerText="Inspection outcome"
                      width="20%">

                <p:selectOneButton id="inspections-entryscreen-statussel-simple"
                                   value="#{oise.statusEnum}"
                                   unselectable="false">

                    <f:selectItems value="#{fieldInspectionBB.statuses}"
                                   var="status"
                                   itemLabel="#{status.label}"/>
                </p:selectOneButton>
            </p:column>
            <p:column headerText="Findings"
                      width="25%">

                <tt:findingsHolderEditorCC id="ordoutcome-findings-rteditor"
                                             findingsholder="#{oise}" 
                                             savemethod="#{cc.attrs.savemethod}"
                                             requirefinding="false"/>
                
                
                

            </p:column>
        </p:dataTable>
    </cc:implementation>

</html>