<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:cc="http://xmlns.jcp.org/jsf/composite"

      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <cc:interface>
        <cc:attribute name="inspection" required="true" />
    </cc:interface>
    <cc:implementation>
        <div class="p-grid">
            <f:subview id="fin-status-finalized-subview"
                       rendered="#{cc.attrs.inspection.finalized}">
                <div class="p-col-1">
                    <i class="material-icons #{cc.attrs.inspection.determination.icon.styleClass}">
                        <h:outputText value="#{cc.attrs.inspection.determination.icon.materialIcon}"/>
                    </i>
                </div>
                <div class="p-col-11 #{cc.attrs.inspection.determination.icon.styleClass}">
                    <h:outputText value="#{cc.attrs.inspection.determination.titleWithOutcome}" />
                   
                    <p:spacer height="3px" />
                    <div class="italic small-text">

                        <h:outputText value="Finalized by " />
                        <h:outputText value="#{cc.attrs.inspection.determinationBy.userHuman.name}" 
                                      rendered="#{not empty cc.attrs.inspection.determinationBy}"/>
                        <h:outputText value=" on #{systemServicesBB.generatePrettyLocalDateTime(cc.attrs.inspection.determinationTS)}"
                                      rendered="#{not empty cc.attrs.inspection.determinationTS}"/>
                    </div>
                </div>
            </f:subview>

            <f:subview id="fin-status-routingrequired-subview"
                       rendered="#{cc.attrs.inspection.routingRequired}">
                <div class="p-col-1 inspection-routing-highlighted bold">
                    <i class="material-icons">
                        <h:outputText value="notifications_actiove"/>
                    </i>
                </div>
                <div class="p-col-11 inspection-routing-highlighted bold">
                    <h:outputText value="Assignment required!" />
                    <h:outputText value="Raw location:  #{cc.attrs.inspection.combinedRawLocation}" />
                </div>

            </f:subview>
            <f:subview id="fin-status-inprocess-subview"
                       rendered="#{not cc.attrs.inspection.finalized}">
                <div class="p-col-1">
                    <i class="material-icons">
                        <h:outputText value="pending_actions"/>
                    </i>
                </div>
                <div class="p-col-11">
                    <h:outputText value="In-process inspection; not yet finalized" />
                </div>
            </f:subview>

            <f:subview id="fin-status-dispatch-subview"
                       rendered="#{cc.attrs.inspection.dispatched}">
                <div class="p-col-1">
                    <i class="material-icons">
                        <h:outputText value="smartphone"/>
                    </i>
                </div>
                <div class="p-col-10 dispatched-highlight">
                    <h:outputText id="dispatch-ot"
                                  value="Dispatched to mobile application. "
                                  rendered="#{empty inspection.dispatch.synchronizationTS and empty inspection.dispatch.deactivatedTS}" />

                    <h:outputText id="dispatch-notretrievd-ot"
                                  value="Log in to the mobile software using your usual cnf username and password and complete the inspection."
                                  rendered="#{empty inspection.dispatch.synchronizationTS and empty cc.attrs.inspection.dispatch.retrievalTS and empty inspection.dispatch.deactivatedTS}" 
                                  styleClass="italic"/>

                    <p:spacer height="3px" />
                    <h:outputText value="Dispatch notes: #{fieldInspectionBB.currentDispatch.dispatchNotes}" 
                                  rendered="#{not empty fieldInspectionBB.currentDispatch.dispatchNotes}"
                                  styleClass="italic"/>

                </div>
                <div class="p-col-1">

                    <p:commandButton id="dispatch-help-button"
                                     icon="pi pi-question-circle"
                                     styleClass="button-help"
                                     type="button" />

                    <p:overlayPanel for="dispatch-help-button"
                                    style="width:350px;"
                                    dismissable="true"
                                    showCloseIcon="true">
                        <h3>Dispatched inspection</h3>
                        <p>This inspection has been dispatched for completion in the field using the the codeNforce mobile software tool.</p>
                        <p>To undertake the inspection:</p>
                        <ol>
                            <li>If you have not already done so, acquire the software package from the Apple App Store or Google Playstore</li>
                            <li>Login using the same credentials used to log into this browser tool.</li>
                            <li>Choose this municipality from the available muni list</li>
                            <li>Select this field inspection and click "Go"</li>
                            <li>Undertake your field inspection.</li>
                            <li>Complete the inspection by tapping the "Upload" button</li>
                            <li>Re-view this case or file to see your uploaded inspection</li>
                        </ol>


                    </p:overlayPanel>
                </div>
                <f:subview id="fin-status-dispatched-retrieved-subview"
                           rendered="#{not empty cc.attrs.inspection.dispatch.retrievalTS and empty cc.attrs.inspection.dispatch.synchronizationTS and empty cc.attrs.inspection.dispatch.deactivatedTS}">
                    <div class="p-col-1">
                        <i class="material-icons">
                            <h:outputText value="download"/>
                        </i>
                    </div>
                    <div class="p-col-10">
                        <h:outputText value="Downloaded to mobile user's device on #{systemServicesBB.generatePrettyLocalDateTime(cc.attrs.inspection.dispatch.retrievalTS)}" />
                    </div>
                    <div class="p-col-1">
                        <p:commandButton id="retrieval-help-button"
                                         icon="pi pi-question-circle"
                                         styleClass="button-help"
                                         type="button" />

                        <p:overlayPanel for="retrieval-help-button"
                                        style="width:350px;"
                                        dismissable="true"
                                        showCloseIcon="true">
                            <h3>Dispatch retrieval</h3>
                            <p>After an inspection is dispatched to the handheld computer application, the field user must login on the handheld device
                                and pull down any dispatched inspections. Once this transfer occurs, the date and time are reported in this field. The inspection
                                remains locked to browser users until the inspection is synchronized from the handheld device back to the server OR the browser
                                user decides to revoke the dispatch (used only in exceptional circumstances).</p>


                        </p:overlayPanel>
                    </div>
                </f:subview>



            </f:subview>
            <f:subview id="fin-status-dispatched-synced-subview"
                       rendered="#{not empty cc.attrs.inspection.dispatch.synchronizationTS and not cc.attrs.inspection.routingRequired and empty cc.attrs.inspection.dispatch.deactivatedTS}">
                <div class="p-col-1">
                    <i class="material-icons">
                        <h:outputText value="cloud_sync"/>
                    </i>
                </div>
                <div class="p-col-10">
                    <h:outputText value="Dispatch completed on #{systemServicesBB.generatePrettyLocalDateTime(cc.attrs.inspection.dispatch.synchronizationTS)}" />
                </div>
                <div class="p-col-1">

                    <p:commandButton id="sync-help-button"
                                     icon="pi pi-question-circle"
                                     styleClass="button-help"
                                     type="button" />

                    <p:overlayPanel for="sync-help-button"
                                    style="width:350px;"
                                    dismissable="true"
                                    showCloseIcon="true">
                        <h3>Dispatch synchronization</h3>
                        <p>Once an inspection is completed using the handheld computer application, the results are sent back to the codeNForce server
                            and the inspection is then unlocked for further editing using the browser-based tools. This field will show the date this occurs.</p>
                    </p:overlayPanel>
                </div>
            </f:subview>
            
            <f:subview id="fin-status-dispatched-aborted-subview"
                       rendered="#{not empty cc.attrs.inspection.dispatch and not empty cc.attrs.inspection.dispatch.deactivatedTS}">
                <div class="p-col-1">
                    <i class="material-icons">
                        <h:outputText value="delete"/>
                    </i>
                </div>
                <div class="p-col-11">
                    <h:outputText value="Dispatch revoked on #{systemServicesBB.generatePrettyLocalDateTime(cc.attrs.inspection.dispatch.deactivatedTS)} by user #{fieldInspectionBB.currentInspection.dispatch.deactivatedBy.human.name}" 
                                  styleClass="italic small-text"/>
                </div>
            </f:subview>

            <f:subview id="fin-status-reinspection-subview"
                       rendered="#{cc.attrs.inspection.reinspection}">
                <div class="p-col-1">
                    <i class="material-icons">
                        <h:outputText value="restart_alt"/>
                    </i>
                </div>
                <div class="p-col-11">
                    <h:outputText id="followup-to-ot"
                                  value="Follow-up/reinspection to inspection ID #{cc.attrs.inspection.followUpToInspectionID}"/>
                </div>
            </f:subview>
        </div>
    </cc:implementation>
</html>