<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:cc="http://xmlns.jcp.org/jsf/composite"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:tt="http://xmlns.jcp.org/jsf/composite/components">
    <cc:interface>
        <cc:attribute name="addfrompropertyprofile" required="true" type="boolean"/>
        <cc:attribute name="addfromfinrouting" required="true" type="boolean"/>
        <cc:attribute name="addfromcearrouting" required="true" type="boolean"/>
    </cc:interface>

    <cc:implementation>
        
            <p:dataTable id="prop-units-table"
                         value="#{propertyProfileBB.currentProperty.unitWithListsList}"
                         rendered="#{!empty propertyProfileBB.currentProperty.unitWithListsList}"
                         var="unit"
                         tableStyleClass="primeDataTable thick-borders"
                         rowKey="#{unit.unitID}"
                         expandedRow="false"
                         rowExpandMode="multiple"
                         resizableColumns="true"
                         reflow="true"
                         >

                <p:column width="15%"
                          sortBy="#{unit.unitNumber}">
                    <f:facet name="header">
                        <h:outputText value="Unit" />
                    </f:facet>
                    <h:outputText value="#{unit.unitNumber}"
                                  styleClass="unit_number"/>
                    <f:subview id="unit-address-subview"
                               rendered="#{not empty unit.primaryMailingAddressLink}">
                        <p:spacer height="2px" />
                        <h:outputText value="#{unit.primaryMailingAddressLink.addressPretty1Line}"
                                      styleClass="small-text"/>

                    </f:subview>
                    <p:spacer height="3px" />
                    <p:commandLink id="prop-unit-viewedit-cl"
                                   actionListener="#{propertyProfileBB.onUnitViewEditLinkClick(unit)}"
                                   value="view/edit unit"
                                   disabled="#{sessionBean.crossMuniViewMode}"
                                   rendered="#{cc.attrs.addfrompropertyprofile}"
                                   ajax="true"
                                   style="color:blue; font-weight: bold;"
                                   oncomplete="PF('unit-dialog-var').show();"
                                   update="unit-info-form
                                   units-growl-form
                                   unit-dialog
                                   unit-periods-form
                                   unit-addresses-form
                                   unit-persons-form
                                   unit-cecases-form" />
                </p:column>

                <p:column   width="85%"
                            headerText="Permit files, Inspections, and Certificates"
                            styleClass="">
                    <div class="p-grid">
                        <div class="p-col-4">
                            <h:outputText value="Unit contains (#{unit.periodList.size()}) permit files"/>
                        </div>
                        <div class="p-col-8">
                            <p:commandButton   id="prop-unit-newperiod-button"
                                               ajax="true"
                                               actionListener="#{propertyProfileBB.onOccperiodCreateInitButtonChange(unit)}"
                                               oncomplete="PF('occperiod-add-dialog-var').show()"
                                               rendered="#{propertyProfileBB.permissionAllowOccPeriodCreate and cc.attrs.addfrompropertyprofile}"
                                               disabled="#{!empty propertyProfileBB.currentProperty.deactivatedTS or sessionBean.crossMuniViewMode}"
                                               value="New Permit File on unit #{unit.unitNumber}"
                                               icon="pi pi-plus"
                                               update="occperiod-add-form"
                                               />

                        </div>
                        <div class="p-col-12 nested-grid">

                            <div class="p-grid">
                                <tt:permitFileListDisplayGridGuts   id="unitlist-periodlist-tt"
                                                                    value="#{unit.periodList}" 
                                                                    addfrompropertyprofile="#{cc.attrs.addfrompropertyprofile}"
                                                                    addfromcearrouting="#{cc.attrs.addfromcearrouting}" 
                                                                    addfromfinrouting="#{cc.attrs.addfromfinrouting}"
                                                                    />
                            </div>
                        </div>
                    </div>
                </p:column>

                <p:rowExpansion>
                    <div class="row-expansion-threesided-box">
                        <div class="p-grid">
                            <div class="p-col-6">

                                <h3>
                                    <h:outputText value="Persons attached to unit #{unit.unitNumber}" />
                                </h3>
                                <p:commandLink    id="prop-units-reload"
                                                  actionListener="#{propertyProfileBB.onReloadCurrentPropertyDataHeavy}"
                                                  value="refresh persons"
                                                  disabled="false"
                                                  ajax="true"
                                                  style="color:blue; font-weight: bold;"
                                                  update="@form" />

                                <p:spacer height="3px" />

                                <p:dataTable id="unitlist-persons-table"
                                             value="#{unit.humanLinkList}"
                                             rendered="#{!empty unit.humanLinkList}"
                                             var="h"
                                             tableStyleClass="primeDataTable"
                                             rowKey="#{h.humanID}"
                                             >

                                    <p:column headerText="Name"
                                              width="85%"
                                              styleClass="centeredColumnContent">
                                        <h:outputText value="#{h.name} is #{h.linkedObjectRole.title} this unit"/>
                                        <p:spacer height="3px" />
                                        <h:outputText value="Link timestamp: #{propertyProfileBB.getPrettyDate(h.linkCreatedTS)}"/>
                                        <p:spacer height="3px" />
                                        <h:outputText value="(Human ID: #{h.humanID}; Link ID: #{h.linkID})"/>

                                    </p:column>

                                    <p:column headerText="Actions"
                                              width="15%"
                                              styleClass="centeredColumnContent">
                                        <p:commandLink      id="unitlist-person-exploreperson-button"
                                                            ajax="true"
                                                            style="color:blue; font-weight: bold;"
                                                            actionListener="#{personBB.onHumanViewLinkClick(h)}"
                                                            value="view"
                                                            update="person-info-form
                                                            person-profile-addresses-form
                                                            person-profile-phones-form
                                                            person-profile-emails-form
                                                            person-links-form
                                                            person-profile-dialog
                                                            persontools-growl-form"
                                                            oncomplete="PF('person-profile-dialog-var').show();"
                                                            />

                                    </p:column>
                                </p:dataTable>

                            </div>
                            <div class="p-col-6 nested-grid">



                            </div>
                        </div>

                    </div>
                </p:rowExpansion>
            </p:dataTable>
        
                         
                         
        
    </cc:implementation>
</html>