<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:cc="http://xmlns.jcp.org/jsf/composite"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <cc:interface>
        <cc:attribute name="addfrompropertyprofile" required="true" type="boolean"/>
        <cc:attribute name="addfromfinrouting" required="true" type="boolean"/>
        <cc:attribute name="addfromcearrouting" required="true" type="boolean"/>
    </cc:interface>

    <cc:implementation>
        <div class="p-grid">
            <div class="p-col-12">
                <h:outputText value="Permit files hold inspections and certificates as well as related events and files." />

            </div>
            <div class="p-col-4 restrict-data-field-label-inline">
                <h:outputLabel value="Property:" />
            </div>
            <div class="p-col-8">
                <h:outputText value="#{propertyProfileBB.currentProperty.address.addressPretty2LineEscapeFalse}"
                              escape="false" />
                <p:spacer height="3px" />
                <h:outputText value="Parcel: #{propertyProfileBB.currentProperty.countyParcelID}" />
            </div>

            <div class="p-col-4 restrict-data-field-label-inline">
                <h:outputLabel value="Unit:" />
            </div>
            <div class="p-col-8 nested-grid">

                <f:subview id="occperiod-add-unitchosen-subview"
                           rendered="#{not empty propertyProfileBB.currentPropertyUnit}">
                    <h:outputText value="#{propertyProfileBB.currentPropertyUnit.unitNumber}" />
                </f:subview>

                <f:subview id="occperiod-add-chooseunit-subview"
                           rendered="#{empty propertyProfileBB.currentPropertyUnit}">
                    <div class="p-grid">
                        <div class="p-col-6">
                            <div class="restrict-data-field-label-inline">
                                <h:outputText value="Choose an existing unit:" />
                            </div>
                            <p:spacer height="3px" />
                            <p:selectOneMenu id="occperiod-add-unit-som"
                                             value="#{propertyProfileBB.occPeriodInitSelectedUnit}"
                                             required="false"
                                             disabled="#{propertyProfileBB.occPeriodInitCreateNewUnitWithNumber}"
                                             rendered="true">
                                
                                <f:converter converterId="propertyUnitConverter"/>
                                <f:selectItem itemLabel="Choose a unit on this property"
                                              noSelectionOption="true" 
                                              itemDisabled="true"/>
                                <f:selectItems id="occperiod-add-unit-selitems"
                                               value="#{propertyProfileBB.currentProperty.unitList}"
                                               var="pu" 
                                               itemValue="#{pu}" 
                                               itemLabel="#{pu.unitNumber} (ID:#{pu.unitID})"/>
                            </p:selectOneMenu>
                        </div>
                        <div class="p-col-6">
                            <div class="restrict-data-field-label-inline">
                                <h:outputText value="OR Create a new unit with number: " />
                                <p:selectBooleanButton id="periodadd-unit-selector-sbb"
                                                       value="#{propertyProfileBB.occPeriodInitCreateNewUnitWithNumber}" 
                                                       onLabel="Attach to in a new unit"
                                                       offLabel="Attach to existing unit">
                                    <p:ajax update="occperiod-add-newunit-unitnumber-it
                                            occperiod-add-unit-som" />
                                </p:selectBooleanButton>
                            </div>
                            <p:spacer height="3px" />
                            <p:inputText id="occperiod-add-newunit-unitnumber-it"
                                         value="#{propertyProfileBB.occPeriodInitNewUnitNumberForm}"
                                         disabled="#{not propertyProfileBB.occPeriodInitCreateNewUnitWithNumber}">
                                
                            </p:inputText>

                        </div>
                    </div>
                </f:subview>
            </div>

            <div class="p-col-4 restrict-data-field-label-inline">
                <h:outputLabel value="File type:"
                               for="occperiod-add-ftype-som"/>
            </div>
            <div class="p-col-8">
                <p:selectOneMenu id="occperiod-add-ftype-som"
                                 value="#{propertyProfileBB.currentOccPeriod.periodType}"
                                 required="true">

                    <f:converter converterId="occPeriodTypeConverter"/>
                    <f:selectItem itemLabel="select a permit file type..."
                                  noSelectionOption="true"
                                  itemDisabled="true"/>
                    <f:selectItems id="occperiod-add-ftype-selectitems"
                                   value="#{propertyProfileBB.occPeriodTypeList}"
                                   var="opt"
                                   itemValue="#{opt}"
                                   itemLabel="#{opt.title}"/>
                    <p:ajax update="occperiod-add-origevent-som"
                            listener="#{propertyProfileBB.onOccPeriodInitTypeChange()}" />
                </p:selectOneMenu>
            </div>

            <div class="p-col-4 restrict-data-field-label-inline">
                <h:outputLabel value="Origination category:"
                               for="occperiod-add-origevent-som"/>
            </div>
            <div class="p-col-8">
                <p:selectOneMenu id="occperiod-add-origevent-som"
                                 value="#{propertyProfileBB.currentOccPeriod.originationEventCategory}"
                                 required="true">

                    <f:converter converterId="eventCategoryConverter"/>
                    <f:selectItem itemLabel="select an event category"
                                  noSelectionOption="true"
                                  itemDisabled="true"/>
                    <f:selectItems id="occperiod-add-origevent-selectitems"
                                   value="#{propertyProfileBB.occPeriodOriginiationEventCandidateList}"
                                   var="ec"
                                   itemValue="#{ec}"
                                   itemLabel="#{ec.eventCategoryTitle}"/>
                </p:selectOneMenu>

            </div>

            <div class="p-col-4 restrict-data-field-label-inline">
                <h:outputLabel value="File manager:" />
            </div>
            <div class="p-col-8 nested-grid">
                <div class="p-grid">
                    <div class="p-col-6">
                        <h:outputText value="#{propertyProfileBB.currentOccPeriod.manager.userHuman.name}" />
                    </div>
                    <div class="p-col-6">

                        <p:selectOneMenu rendered="true"
                                         value="#{propertyProfileBB.occPeriodInitDifferentManagerSelected}"
                                         converter="userConverter">
                            <f:selectItem itemLabel="select a different permit file manager"
                                          noSelectionOption="true"
                                          itemDisabled="true"/>
                            <f:selectItems value="#{systemServicesBB.bbSessionMuni.userListMuniActiveStaffAndUp}"
                                           var="user"
                                           itemLabel="#{user.human.name} (#{user.username})"
                                           itemValue="#{user}"/>
                        </p:selectOneMenu>

                    </div>
                </div>
            </div>


            <div class="p-col-4 restrict-data-field-label-inline">
                <h:outputLabel value="Opening notes (appers as event description)"
                               for="occperiod-add-eventnotes-som"/>
            </div>
            <div class="p-col-8">
                <p:inputTextarea id="permitfile-openingnotes"
                                 value="#{propertyProfileBB.formEventNotes}"
                                 rows="5"
                                 cols="30" />

            </div>
        </div>

        <p:spacer height="5px" />
        <f:subview id="occperiodadd-commit-propprofile-subview"
                   rendered="#{cc.attrs.addfrompropertyprofile}">

            <div>

                <p:commandButton ajax="false"
                                 action="#{propertyProfileBB.onOccPeriodCreateCommitButtonChange}"
                                 rendered="#{propertyProfileBB.permissionAllowOccPeriodCreate}"
                                 icon="pi pi-save"
                                 styleClass="inline-button"
                                 value="Create new permit file and go to profile" />
            </div>

            <div class="gray_button">
                <p:commandButton ajax="true"
                                 value="Cancel"
                                 icon="pi pi-arrow-left"
                                 process="@none"
                                 immediate="true"
                                 onclick="PF('dialog-addoccperiod-var').hide()" />
            </div>
        </f:subview>
        <f:subview id="occperiodadd-commit-finrouting-subview"
                   rendered="#{cc.attrs.addfromfinrouting}">
            
              <p:commandButton  ajax="false"
                                action="#{fieldInspectionBB.completeRoutingStep4CreateNewOccPeriod}"
                                rendered="#{propertyProfileBB.permissionAllowOccPeriodCreate}"
                                icon="pi pi-save"
                                styleClass="inline-button"
                                value="Assign inspection to this new permit file and go to file" />
            
        </f:subview>

    </cc:implementation>
</html>