<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:cc="http://xmlns.jcp.org/jsf/composite"
          
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">
    <cc:interface>
        <cc:attribute name="permit" required="true"/>
        <cc:attribute name="showabort" required="true" type="boolean"/>
    </cc:interface>
    
    <cc:implementation>
        <f:subview id="permit-amendment-flag-subview"
                   rendered="#{cc.attrs.permit.currentPermitAmendmentMode}">
            <h:form id="permit-amendment-flag-form">
                <div class="p-grid">
                    <div class="p-col-8 permit-amendment-mode">
                        <h:outputText value="You are amending permit reference no. #{cc.attrs.permit.referenceNo}. Only step 4: Persons, Step 5: Review, and Step 6: Print, Issue, and Record are accessible in this mode." />
                        
                    </div>
                    <div class="p-col-4 permit-amendment-mode">
                        <div class="restrict-main-contents-io-link">
                            
                           <p:commandLink  id="permit-amendmentmode-abort"
                                            ajax="true" 
                                            value="abort amendment process"
                                            rendered="#{cc.attrs.showabort}"
                                            actionListener="#{occPeriodBB.onOccPermitAmendAbort}"
                                            update=":occperiod-permits-form
                                            :permit-flow-messages-form"
                                            oncomplete="PF('occperiod-createpermit-flow-var').hide();"
                                            />
                        </div>
                    </div>
                </div>
            </h:form>
        </f:subview>
    </cc:implementation>
</html>