<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:cc="http://xmlns.jcp.org/jsf/composite"
      xmlns:p="http://primefaces.org/ui"

      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <cc:interface>
        <cc:attribute name="person" required="true" />
    </cc:interface>

    <cc:implementation>
        <div class="restrict-main-contents-io-link">
            <p:commandLink      id="permit-person-cand-add-leftcol"
                                value="#{occPeriodBB.currentOccPermit.permitType.personColumnLeftGeneratedLabel}" 
                                ajax="true"
                                actionListener="#{occPeriodBB.onOccPermitPersonLinkFromFlow(cc.attrs.person)}"
                                rendered="true"
                                update= "permits-growl-form
                                :permit-chosenpersons-flow-form
                                ">
                <f:param name="personlinkenumstring" value="CURRENT_OWNER" />
            </p:commandLink> 
        </div>
        <div class="restrict-main-contents-io-link">
            <p:commandLink      id="permit-person-cand-add-rightcol"
                                value="#{occPeriodBB.currentOccPermit.permitType.personColumnRightGeneratedLabel}" 
                                ajax="true"
                                actionListener="#{occPeriodBB.onOccPermitPersonLinkFromFlow(cc.attrs.person)}"
                                rendered="true"
                                update= "permits-growl-form
                                :permit-chosenpersons-flow-form
                                ">
                <f:param name="personlinkenumstring" value="NEW_OWNER" />
            </p:commandLink> 
        </div>
        <div class="restrict-main-contents-io-link">
            <p:commandLink      id="permit-person-cand-add-manager"
                                value="Manager" 
                                ajax="true"
                                actionListener="#{occPeriodBB.onOccPermitPersonLinkFromFlow(cc.attrs.person)}"
                                rendered="#{occPeriodBB.currentOccPermit.permitType.personColumnManagerActivate}"
                                update= "permits-growl-form
                                :permit-chosenpersons-flow-form
                                ">
                <f:param name="personlinkenumstring" value="MANAGERS" />
            </p:commandLink> 
        </div>
        <div class="restrict-main-contents-io-link">
            <p:commandLink      id="permit-person-cand-add-tenant"
                                value="Tenant across sale" 
                                ajax="true"
                                actionListener="#{occPeriodBB.onOccPermitPersonLinkFromFlow(cc.attrs.person)}"
                                rendered="#{occPeriodBB.currentOccPermit.permitType.personColumnTenantActivate}"
                                update= "permits-growl-form
                                :permit-chosenpersons-flow-form
                                ">
                <f:param name="personlinkenumstring" value="SALE_WITH_TENANTS" />
            </p:commandLink> 
        </div>
    </cc:implementation>
</html>