<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:cc="http://xmlns.jcp.org/jsf/composite"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">
    <cc:interface>
        <cc:attribute name="permit" required="true" />
        <cc:attribute name="displayeditcontrols" required="true" type="boolean"/>
        
    </cc:interface>

    <cc:implementation>

        <div class="p-grid">
            <div class="p-col-12 centeredColumnContent">
                <f:subview id="permit-headerimage-subview"
                           rendered="#{cc.attrs.permit.staticheaderphotodocid ne 0}">
                    <p:graphicImage value="#{blobsterBB.image}"
                                    alt=" " 
                                    styleClass="centered-header-image"
                                    style="width:#{cc.attrs.permit.staticheaderWidthPx}px"
                                    cache="true">
                        <f:param name="blobid" value="#{cc.attrs.permit.staticheaderphotodocid}"/>
                    </p:graphicImage>

                </f:subview>
                <f:subview id="permit-headertext-subview"
                           rendered="true">

                    <h:outputText value="#{cc.attrs.permit.statictitle}" 
                                  styleClass="occpermit-title"
                                  />
                    <f:subview id="permit-muniaddress-subview"
                               rendered="#{cc.attrs.permit.staticdisplaymuniaddress}">
                        <p:spacer height="3px" />
                        <h:outputText value="#{cc.attrs.permit.staticmuniaddress}"
                                      escape="false"
                                      styleClass="occpermit-titlesub"/>
                    </f:subview>
                </f:subview>
            </div>
            <div class="p-col-4 restrict-data-field-label-inline">
                <h:outputText value="Property:" />
            </div>
            <div class="p-col-8 restrict-data-field-value-inline">
                <h:outputText value="#{cc.attrs.permit.staticpropertyinfo}" 
                              escape="false"/>
            </div>

            <div class="p-col-4 restrict-data-field-label-inline">
                <h:outputText value="Permit Number:" />
            </div>
            <div class="p-col-8 restrict-data-field-value-inline">
                <h:outputText value="#{cc.attrs.permit.referenceNo}" 
                              rendered="#{not empty cc.attrs.permit.referenceNo}"/>
            </div>

            <div class="p-col-5">
                <f:subview id="personlink-leftcol-subview"
                           rendered="#{cc.attrs.permit.staticdisplayperslinkleftcol}" >
                    <h:outputText value="#{cc.attrs.permit.staticownersellerlabel}:"
                                  styleClass="bold" />
                    <p:spacer height="2px" />
                    <h:outputText value="#{cc.attrs.permit.staticownerseller}" 
                                  escape="false"
                                  styleClass="#{cc.attrs.displayeditcontrols and cc.attrs.permit.currentPermitAmendmentMode ? 'permit-amendment-mode' : ''}"/>
                </f:subview>
            </div>
            <div class="p-col-2">
                <h:outputText value="#{cc.attrs.permit.staticcolumnlink}" />
            </div>
            <div class="p-col-5">
                <f:subview id="personlink-rightgcol-subview"
                           rendered="#{cc.attrs.permit.staticdisplayperslinkrightcol}" >
                    <h:outputText value="#{cc.attrs.permit.staticbuyertenantlabel}:"
                                  styleClass="bold" />
                    <p:spacer height="2px" />
                    <h:outputText value="#{cc.attrs.permit.staticbuyertenant}"
                                  escape="false" 
                                  styleClass="#{cc.attrs.displayeditcontrols and cc.attrs.permit.currentPermitAmendmentMode ? 'permit-amendment-mode' : ''}"/>
                </f:subview>
            </div>

            <f:subview id="permit-sv-propuse"
                       rendered="#{not empty cc.attrs.permit.staticproposeduse}">
                <div class="p-col-3 restrict-data-field-label-inline">
                    <h:outputText value="Proposed use:" />
                </div>
                <div class="p-col-3">
                    <h:outputText value="#{cc.attrs.permit.staticproposeduse}" />
                      
                </div>
            </f:subview>

            <f:subview id="permit-sv-usecode"
                       rendered="#{not empty cc.attrs.permit.staticusecode}">
                <div class="p-col-3 restrict-data-field-label-inline">
                    <h:outputText value="Use code:" />
                </div>
                <div class="p-col-3">
                    <h:outputText value="#{cc.attrs.permit.staticusecode}" />
                    <f:subview id="permit-changepropinfo-subview-2"
                               rendered="#{cc.attrs.displayeditcontrols}">
                        <p:spacer height="3px" />
                        <div class="restrict-main-contents-io-link">
                            
                        <p:commandLink  id="permit-propinfo-init-cl-flow-2" 
                                            ajax="true"
                                             actionListener="#{propertyProfileBB.onParcelInfoEditModeToggleButtonChange}"
                                            value="edit use code"
                                            disabled="#{cc.attrs.permit.currentPermitAmendmentMode}"
                                            rendered="#{occPeriodBB.permissionsAllowOccPermitDraft}"
                                            update="permits-growl-form
                                            cert-flow-propinfo-dialog"
                                            oncomplete="PF('cert-flow-propinfo-dialog-var').show();"/>
                        </div>
                    </f:subview>
                </div>
            </f:subview>

            <f:subview id="permit-sv-propclass"
                       rendered="#{not empty cc.attrs.permit.staticpropclass}">
                <div class="p-col-3 restrict-data-field-label-inline">
                    <h:outputText value="Property class:" />
                </div>
                <div class="p-col-3">
                    <h:outputText value="#{cc.attrs.permit.staticpropclass}" />
                    <f:subview id="permit-changepropinfo-subview-3"
                               rendered="#{cc.attrs.displayeditcontrols}">
                        <p:spacer height="3px" />
                        <div class="restrict-main-contents-io-link">
                            
                        <p:commandLink  id="permit-propinfo-init-cl-flow-3" 
                                            ajax="true"
                                             actionListener="#{propertyProfileBB.onParcelInfoEditModeToggleButtonChange}"
                                            value="edit class"
                                            disabled="#{cc.attrs.permit.currentPermitAmendmentMode}"
                                            rendered="#{occPeriodBB.permissionsAllowOccPermitDraft}"
                                            update="permits-growl-form
                                            cert-flow-propinfo-dialog"
                                            oncomplete="PF('cert-flow-propinfo-dialog-var').show();"/>
                        </div>
                    </f:subview>
                </div>
            </f:subview>

            <f:subview id="permit-sv-consttype"
                       rendered="#{not empty cc.attrs.permit.staticconstructiontype}">
                <div class="p-col-3 restrict-data-field-label-inline">
                    <h:outputText value="Construction type:" />
                </div>
                <div class="p-col-3 restrict-data-field-value-inline">
                    <h:outputText value="#{cc.attrs.permit.staticconstructiontype}" />
                    <f:subview id="permit-changepropinfo-subview-4"
                               rendered="#{cc.attrs.displayeditcontrols}">
                        <p:spacer height="3px" />
                        <div class="restrict-main-contents-io-link">
                            
                        <p:commandLink  id="permit-propinfo-init-cl-flow-4" 
                                            ajax="true"
                                             actionListener="#{propertyProfileBB.onParcelInfoViewEditLinkClick}"
                                            value="edit construction type"
                                            disabled="#{cc.attrs.permit.currentPermitAmendmentMode}"
                                            rendered="#{occPeriodBB.permissionsAllowOccPermitDraft}"
                                            update="permits-growl-form
                                            cert-flow-propinfo-dialog"
                                            oncomplete="PF('cert-flow-propinfo-dialog-var').show();"/>
                        </div>
                    </f:subview>
                </div>
            </f:subview>

            <f:subview id="permit-sv-date-application"
                       rendered="#{not empty cc.attrs.permit.staticdateofapplication}">
                <div class="p-col-3 restrict-data-field-label-inline">
                    <h:outputText value="Date of Application:" />
                </div>
                <div class="p-col-3 restrict-data-field-value-inline">
                    <h:outputText value="#{occPeriodBB.getPrettyLocalDateNoTime(cc.attrs.permit.staticdateofapplication)}" />
                </div>
            </f:subview>

            <f:subview id="permit-sv-date-ins-initial"
                       rendered="#{not empty cc.attrs.permit.staticinitialinspection}">
                <div class="p-col-3 restrict-data-field-label-inline">
                    <h:outputText value="Initial Inspection:" />
                </div>
                <div class="p-col-3 restrict-data-field-value-inline">
                    <h:outputText value="#{occPeriodBB.getPrettyLocalDateNoTime(cc.attrs.permit.staticinitialinspection)}" />
                </div>
            </f:subview>

            <f:subview id="permit-sv-date-ins-reins"
                       rendered="#{not empty cc.attrs.permit.staticreinspectiondate}">
                <div class="p-col-3 restrict-data-field-label-inline">
                    <h:outputText value="Reinspection Date:" />
                </div>
                <div class="p-col-3 restrict-data-field-value-inline">
                    <h:outputText value="#{occPeriodBB.getPrettyLocalDateNoTime(cc.attrs.permit.staticreinspectiondate)}" />
                </div>
            </f:subview>

            <f:subview id="permit-sv-date-ins-final"
                       rendered="#{not empty cc.attrs.permit.staticfinalinspection}">
                <div class="p-col-3 restrict-data-field-label-inline">
                    <h:outputText value="Final inspection:" />
                </div>
                <div class="p-col-3 restrict-data-field-value-inline">
                    <h:outputText value="#{occPeriodBB.getPrettyLocalDateNoTime(cc.attrs.permit.staticfinalinspection)}" />
                </div>
            </f:subview>

            <f:subview id="permit-sv-date-issuance"
                       rendered="#{not empty cc.attrs.permit.staticdateofissue}">
                <div class="p-col-3 restrict-data-field-label-inline">
                    <h:outputText value="Date of Issuance:" />
                </div>
                <div class="p-col-3 restrict-data-field-value-inline">
                    <h:outputText value="#{occPeriodBB.getPrettyLocalDateNoTime(cc.attrs.permit.staticdateofissue)}" />
                </div>
            </f:subview>

            <f:subview id="permit-sv-date-expiry"
                       rendered="#{(not empty cc.attrs.permit.staticdateofexpiry) and (cc.attrs.permit.permitType.expires)}">
                <div class="p-col-3 restrict-data-field-label-inline">
                    <h:outputText value="Date of Expiry:" />
                </div>
                <div class="p-col-3 restrict-data-field-value-inline">
                    <h:outputText value="#{reportingBB.getPrettyLocalDateNoTime(cc.attrs.permit.staticdateofexpiry)}" />
                </div>
            </f:subview>

            <f:subview id="permit-sv-issuedunder"
                       rendered="#{not empty cc.attrs.permit.staticissuedundercodesourceid}">
                <div class="p-col-3 restrict-data-field-label-inline">
                    <h:outputText value="Issued Under:" />
                </div>
                <div class="p-col-3 restrict-data-field-value-inline">
                    <h:outputText value="#{cc.attrs.permit.staticissuedundercodesourceid}"
                                  escape="false"/>
                    
                     <f:subview id="permit-changesources-subview"
                               rendered="#{cc.attrs.displayeditcontrols}">
                        <p:spacer height="3px" />
                        <div class="restrict-main-contents-io-link">
                            
                        <p:commandLink  id="permit-changesources-init-cl-flow" 
                                            ajax="true"
                                            actionListener="#{occPeriodBB.onCodeSourceEditInitButtonChange}"
                                            value="edit code issuance"
                                            disabled="#{cc.attrs.permit.currentPermitAmendmentMode}"
                                            rendered="#{occPeriodBB.permissionsAllowOccPermitDraft}"
                                            update="permits-growl-form
                                            cert-flow-codesources-dialog"
                                            oncomplete="PF('cert-flow-codesources-dialog-var').show();"/>
                        </div>
                    </f:subview>
                </div>
            </f:subview>

            <div class="p-col-12">
                <h:outputText value=" " />
            </div>

            <f:subview id="permit-sv-conditions"
                       rendered="#{not empty cc.attrs.permit.staticstipulations}">
                <div class="p-col-3 restrict-data-field-label-inline">
                    <h:outputText value="Stipulations:" />
                </div>
                <div class="p-col-9 restrict-data-field-value-inline">
                    <h:outputText value="#{cc.attrs.permit.staticstipulations}"
                                  escape="false"/>
                </div>
            </f:subview>

            <f:subview id="permit-sv-notices"
                       rendered="#{not empty cc.attrs.permit.staticnotice}">
                <div class="p-col-3 restrict-data-field-label-inline">
                    <h:outputText value="Notices: " />
                </div>
                <div class="p-col-9 restrict-data-field-value-inline">
                    <h:outputText value="#{cc.attrs.permit.staticnotice}"
                                  escape="false" />
                </div>
            </f:subview>

            <f:subview id="permit-sv-comments"
                       rendered="#{not empty cc.attrs.permit.staticcomments}">
                <div class="p-col-3 restrict-data-field-label-inline">
                    <h:outputText value="Comments:" />
                </div>
                <div class="p-col-9 restrict-data-field-value-inline">
                    <h:outputText value="#{cc.attrs.permit.staticcomments}" 
                                  escape="false"/>
                </div>
            </f:subview>

            <f:subview id="permit-sv-managers"
                       rendered="#{not empty cc.attrs.permit.staticmanager and cc.attrs.permit.staticdisplayperslinkmanagers}">
                <div class="p-col-6 restrict-data-field-label-inline">
                    <h:outputText value="Property Manager(s):" />
                </div>
                <div class="p-col-6 restrict-data-field-value-inline">
                    <h:outputText value="#{cc.attrs.permit.staticmanager}"
                                  escape="false"
                                  styleClass="#{cc.attrs.displayeditcontrols and cc.attrs.permit.currentPermitAmendmentMode ? 'permit-amendment-mode' : ''}"/>
                </div>
            </f:subview>

            <f:subview id="permit-sv-tenenats"
                       rendered="#{not empty cc.attrs.permit.statictenants and cc.attrs.permit.staticdisplayperslinktenants}">
                <div class="p-col-6 restrict-data-field-label-inline">
                    <h:outputText value="Property Tenant(s):" />
                </div>
                <div class="p-col-6 restrict-data-field-value-inline">
                    <h:outputText value="#{cc.attrs.permit.statictenants}"
                                  escape="false"
                                  styleClass="#{cc.attrs.displayeditcontrols and cc.attrs.permit.currentPermitAmendmentMode ? 'permit-amendment-mode' : ''}"/>
                </div>
            </f:subview>

            <f:subview id="permit-sv-leaseterm"
                       rendered="#{not empty cc.attrs.permit.staticleaseterm}">
                <div class="p-col-4 restrict-data-field-label-inline">
                    <h:outputText value="Lease Term:" />
                </div>
                <div class="p-col-8 restrict-data-field-value-inline">
                    <h:outputText value="#{cc.attrs.permit.staticleaseterm}" />
                </div>
            </f:subview>

            <f:subview id="permit-sv-leasestatus"
                       rendered="#{not empty cc.attrs.permit.staticleasestatus}">
                <div class="p-col-4 restrict-data-field-label-inline">
                    <h:outputText value="Lease:" />
                </div>
                <div class="p-col-8 restrict-data-field-value-inline">
                    <h:outputText value="#{cc.attrs.permit.staticleasestatus}" />
                </div>
            </f:subview>

            <f:subview id="permit-sv-payment"
                       rendered="#{not empty cc.attrs.permit.staticpaymentstatus}">
                <div class="p-col-4 restrict-data-field-label-inline">
                    <h:outputText value="Payment:" />
                </div>
                <div class="p-col-8 restrict-data-field-value-inline">
                    <h:outputText value="#{cc.attrs.permit.staticpaymentstatus}" />
                </div>
            </f:subview>

            <div class="p-col-12">
                <h:outputText value=" " />
            </div>

            <f:subview id="permit-sv-signature"
                       rendered="true">
                <div class="p-col-4 restrict-data-field-label-inline">
                    <h:outputText value="Issuing official:" />
                </div>
                <div class="p-col-8 restrict-data-field-value-inline">
                    <p:graphicImage value="#{blobsterBB.image}"
                                    alt=" " 
                                    styleClass="signature"
                                    cache="true"
                                    rendered="#{cc.attrs.permit.staticOfficerSignaturePhotoDocID ne 0}">
                        <f:param name="blobid" value="#{cc.attrs.permit.staticOfficerSignaturePhotoDocID}"/>
                    </p:graphicImage>
                    <p:spacer height="3px" />
                    <h:outputText   id="permit-officername-ot"
                                    value="#{cc.attrs.permit.staticofficername}" 
                                  escape="false"/>
                    <f:subview id="permit-changeofficer-subview"
                               rendered="#{cc.attrs.displayeditcontrols}">
                        <p:spacer height="3px" />
                        <div class="restrict-main-contents-io-link">
                            
                        <p:commandLink  id="permit-changeofficer-init-cl-flow" 
                                            ajax="true"
                                            actionListener="#{occPeriodBB.onOccPermitChangeOfficerInit}"
                                            value="edit issuing officer"
                                            disabled="#{cc.attrs.permit.currentPermitAmendmentMode}"
                                            rendered="#{occPeriodBB.permissionsAllowOccPermitDraft}"
                                            update="permits-growl-form
                                            @form:@parent:permit-changeofficer-form"
                                            oncomplete="PF('permit-changeofficer-flow-dialog-var').show();"/>
                        </div>
                    </f:subview>
                </div>
            </f:subview>
        </div>
    </cc:implementation>
</html>