<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:cc="http://xmlns.jcp.org/jsf/composite"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:tt="http://xmlns.jcp.org/jsf/composite/components">
    <cc:interface>
        <cc:attribute name="personlinklist" required="true" />
    </cc:interface>

    <cc:implementation>
        
        
        <p:dataTable    id="permit-personlinks-cands-prop"
                        value="#{cc.attrs.personlinklist}"
                        rendered="#{not empty cc.attrs.personlinklist}"
                        var="hl"
                        rowKey="#{hl.linkID}"
                        tableStyleClass="primeDataTable"
                        draggableRows="false" 
                        tabindex="6"
                        rowExpandMode="multiple">
            <p:column width="25%"
                      sortBy="#{hl.linkedObjectRole.schema.TARGET_OBJECT_FRIENDLY_NAME}">
                <f:facet name="header">
                    <h:outputText value="Object"/>
                </f:facet>
                <h:outputText value="#{hl.linkedObjectRole.schema.TARGET_OBJECT_FRIENDLY_NAME}" />
            </p:column>
            <p:column width="50%"
                      headerText="Person and role">

                <div class="restrict-main-contents-io-link">

                    <p:commandLink  id="person-view-commandlink-addedperson"
                       ajax="true" 
                       actionListener="#{personBB.explorePerson(hl)}"
                       oncomplete="PF('person-profile-dialog-var').show();"
                       update="person-info-form
                       person-notes-form
                       person-profile-addresses-form
                       person-profile-phones-form
                       person-profile-emails-form
                       person-links-form
                       person-profile-dialog
                       persontools-growl-form
                       topnav-pers-form"
                       >
                       <h:outputText value="#{hl.name}" />
                    </p:commandLink>
                </div>
                <p:spacer height="2px" />
                <h:outputText value="#{hl.linkedObjectRole.title}" />
                <h:outputText value=" #{hl.linkedObjectRole.schema.TARGET_OBJECT_FRIENDLY_NAME}" />

            </p:column>
            <p:column width="25%"
                      headerText="Add to to permit as ...">
                <tt:permitPersonRoutingLinks    id="person-routing-links-tt"
                                                person="#{hl}" />
                
            </p:column>
        </p:dataTable>
    </cc:implementation>
</html>