<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:cc="http://xmlns.jcp.org/jsf/composite"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <cc:interface>
        <cc:attribute name="previousstep" required="false" type="int"/>
    </cc:interface>

    <cc:implementation>
        <div class="gray_button">
            <p:commandButton
                id="permit-flow-back-button"
                value="Back to step #{cc.attrs.previousstep}: #{occPeriodBB.permitFlowStepMap[cc.attrs.previousstep]}"
                actionListener="#{occPeriodBB.gotoPermitFlowStepX}"
                ajax="true" 
                icon="pi pi-arrow-left"
                update="permit-steps-panel"
                rendered="#{cc.attrs.showback}">
                <f:param name="flowsteptarget" value="#{cc.attrs.previousstep}" />
            </p:commandButton>
        </div>
    </cc:implementation>
</html>