<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:cc="http://xmlns.jcp.org/jsf/composite"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <cc:interface>
        <cc:attribute name="value" required="true" />
        <cc:attribute name="addfrompropertyprofile" required="true" type="boolean"/>
        <cc:attribute name="addfromfinrouting" required="true" type="boolean"/>
        <cc:attribute name="addfromcearrouting" required="true" type="boolean"/>
    </cc:interface>

    <cc:implementation>
        <h:outputText id="periodlist-noperiods-ot"
                      value="this unit does not contain any permit files. Create one with the blue button"
                      rendered="#{empty propertyProfileBB.currentProperty.completePeriodList}"
                      styleClass="italic" />
                      
        
        <ui:repeat id="prop-periods-uir"
                   var="period"
                   value="#{cc.attrs.value}"
                   rendered="#{!empty propertyProfileBB.currentProperty.completePeriodList}"
                   >
            <div class="p-col-4 restrict-data-field-label-inline underline">
                <h:outputText value="Permit file opening and status" />
            </div>
            <div class="p-col-4 restrict-data-field-label-inline underline">
                <h:outputText value="Inspections" />
                <h:outputText value=" (#{period.inspectionList.size()})"
                              rendered="#{not empty period.inspectionList}" />
            </div>
            <div class="p-col-4 restrict-data-field-label-inline underline">
                <h:outputText value="Certificates" />
                <h:outputText value=" (#{period.permitList.size()})"
                              rendered="#{not empty period.permitList}"/>
            </div>
            <div class="p-col-4 #{!empty period.status ? period.status.statusEnum.cssClass :''} nested-grid">
                <div class="p-grid">
                    <div class="p-col-12">
                        <h:outputText value="File opened: #{propertyProfileBB.getPrettyDate(period.startDate)}"
                                      styleClass="data-text"/>
                    </div>
                    <div class="p-col-2">
                        <i class="material-icons">
                            <h:outputText value="#{!empty period.status ? period.status.statusEnum.iconPropertyLookup : ''}"/>
                        </i>

                    </div>
                    <div class="p-col-10">
                        <h:outputText value="#{period.status.statusEnum.label}" />
                    </div>
                    <div class="p-col-12">
                        <p:commandLink          id="occperiodtable-exploreperiod-cl"
                                                value="view permit file #{cc.attrs.addfromfinrouting ? '(and end inspection assignment)':''}"
                                                style="color:blue; font-weight: bold;"
                                                ajax="false"
                                                action="#{propertyProfileBB.onViewOccPeriodButtonChange(period)}"
                                                rendered="#{systemServicesBB.bbSessionUser.keyCard.hasMuniReaderPermissions}"
                                                disabled="#{sessionBean.crossMuniViewMode}"
                                                />
                        <f:subview id="period-route-select-subview"
                                   rendered="#{cc.attrs.addfromfinrouting}" >
                            <div class="inspection-routing-highlighted">
                                <p:commandButton  id="fieldfin-routetoperiod-cl"
                                                value="Assign inspection to this file"
                                                action="#{fieldInspectionBB.completeRoutingStep3ChooseExistingOccPeriod(period)}"
                                                ajax="true"
                                                rendered="#{systemServicesBB.bbSessionUser.keyCard.hasMuniStaffPermissions}"
                                                icon="pi pi-save"
                                                >
                                </p:commandButton>
                            </div>
                        </f:subview>
                    </div>
                </div>
            </div>
            <div class="p-col-4 leftalign">
                <ui:repeat id="occperiod-inspection-uir"
                           value="#{period.inspectionList}"
                           var="periodfin">

                    <p:commandLink  id="fieldfin-inspection-details-propunitperiod"
                                    actionListener="#{fieldInspectionBB.onViewEditInspectionLinkClick(periodfin)}"
                                    ajax="true"
                                    style="color:blue; font-weight: bold;"
                                    oncomplete="PF('inspection-profile-dialog-var').show()"
                                    rendered="#{systemServicesBB.bbSessionUser.keyCard.hasMuniStaffPermissions}"
                                    update="inspectiontools-growl-form
                                    inspection-profile-dialog
                                    inspection-profile-form
                                    inspection-advancedtools-form
                                    inspection-actions-form
                                    inspection-inspectedspaces-form
                                    "
                                    >
                        <h:outputText value="#{propertyProfileBB.getPrettyDateNoTime(periodfin.effectiveDateOfRecord)} "
                                      styleClass="bold"/>
                    </p:commandLink>

                    <h:outputText value="by #{periodfin.inspector.userHuman.name}: " />
                    <h:outputText value="#{periodfin.determination.title} (#{periodfin.determination.qualifiesAsPassed ? 'Pass':'Fail'}) "
                                  rendered="#{not empty periodfin.determination}"/>
                    <h:outputText value="in process"
                                  rendered="#{empty periodfin.determination}"
                                  styleClass="italic"/>
                    <p:spacer height="2px" />
                </ui:repeat>
            </div>
            <div class="p-col-4 leftalign">
                <ui:repeat id="occperiod-cert-uir"
                           value="#{period.permitList}"
                           var="periodcert">
                    <p:commandLink          id="occperiodtable-exploreperiod-cert-cl"
                                            style="color:blue; font-weight: bold;"
                                            ajax="false"
                                            action="#{propertyProfileBB.onViewOccPeriodButtonChange(period)}"
                                            rendered="#{systemServicesBB.bbSessionUser.keyCard.hasMuniReaderPermissions}"
                                            disabled="#{sessionBean.crossMuniViewMode}"
                                            >

                        <h:outputText value="#{periodcert.permitType.title}: "
                                      rendered="#{not empty periodcert.permitType}"
                                      styleClass="bold"/>
                    </p:commandLink>
                    <h:outputText value="#{propertyProfileBB.getPrettyLocalDateNoTime(periodcert.staticdateofissue)} "
                                  rendered="#{not empty periodcert.staticdateofissue}"/>
                    <h:outputText value="draft only"
                                  rendered="#{empty periodcert.staticdateofissue}"
                                  styleClass="italic"/>
                    <p:spacer height="2px" />
                </ui:repeat>
            </div>
            <p:divider style="solid" />
        </ui:repeat>
    </cc:implementation>
</html>