<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:cc="http://xmlns.jcp.org/jsf/composite"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:tt="http://xmlns.jcp.org/jsf/composite/components"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <cc:interface>
        <cc:attribute name="personlinklist" required="true" />
        <cc:attribute name="permitpersonlinkenumvalue" required="true" />
    </cc:interface>

    <cc:implementation>
        <ui:repeat id="permit-chosenpersons-uir"
                   var="chosenPerson"
                   value="#{cc.attrs.personlinklist}">
            <div class="restrict-main-contents-io-link">

                <p:commandLink  id="person-view-commandlink-chosenperson"
                                ajax="true" 
                                actionListener="#{personBB.explorePerson(chosenPerson)}"
                                oncomplete="PF('person-profile-dialog-var').show();"
                                update="person-info-form
                                person-notes-form
                                person-profile-addresses-form
                                person-profile-phones-form
                                person-profile-emails-form
                                person-links-form
                                person-profile-dialog
                                persontools-growl-form
                                topnav-pers-form"
                                >
                    <h:outputText value="#{chosenPerson.name}" />
                </p:commandLink>
            </div>
            <p:spacer height="2px" />
            <h:outputText value="#{chosenPerson.prettyContactStringComplete}"
                          escape="false"/>
            <p:spacer height="2px" />
            <p:commandLink id="permit-person-remove-cl"
                           value="remove"
                           ajax="true"
                           style="color:blue; font-weight: bold;"
                           actionListener="#{occPeriodBB.onOccPermitPersonLinkFromFlowRemove(chosenPerson)}"
                           update="@form
                           permits-growl-form"
                           >
                <f:param name="personlinkenumstring" value="#{cc.attrs.permitpersonlinkenumvalue}" />
            </p:commandLink>

            <p:divider type="solid" />
        </ui:repeat>
    </cc:implementation>
</html>