<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:cc="http://xmlns.jcp.org/jsf/composite"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <cc:interface>
        <cc:attribute name="nextstep" required="false" type="int"/>
    </cc:interface>

    <cc:implementation>
        <div class="restrict-main-contents-io-button">
            <p:commandButton
                id="permit-flow-forward-button"
                value="Go to step #{cc.attrs.nextstep}: #{occPeriodBB.permitFlowStepMap[cc.attrs.nextstep]}"
                actionListener="#{occPeriodBB.gotoPermitFlowStepX}"
                ajax="true" 
                icon="pi pi-arrow-right"
                update="permit-steps-panel
                @form"
                rendered="#{cc.attrs.showforward}">
                <f:param name="flowsteptarget" value="#{cc.attrs.nextstep}" />
            </p:commandButton>
        </div>
    </cc:implementation>
</html>