<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:cc="http://xmlns.jcp.org/jsf/composite"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <cc:interface>
        <cc:attribute name="currentstep" required="true" type="int"/>
    </cc:interface>

    <cc:implementation>
        <div class="gray_button">
            <p:commandButton
                id="permit-flow-save-button"
                value="Save and close"
                actionListener="#{occPeriodBB.onSavePermitFlowAndClose}"
                ajax="true" 
                icon="pi pi-save"
                update="permit-steps-panel
                occperiod-permits-form"
                oncomplete="PF('occperiod-createpermit-flow-var').hide();"
                rendered="#{cc.attrs.showsaveclose}">
                <f:param name="flowsteptarget" value="#{cc.attrs.currentstep}" />
            </p:commandButton>
        </div>
    </cc:implementation>
</html>