<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:cc="http://xmlns.jcp.org/jsf/composite"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <cc:interface>
        <cc:attribute name="currentstep" required="true" type="int"/>
        <cc:attribute name="previousstep" required="false" type="int"/>
        <cc:attribute name="nextstep" required="false" type="int"/>
        <cc:attribute name="showback" required="true" type="boolean"/>
        <cc:attribute name="showsaveclose" required="true" type="boolean" />
        <cc:attribute name="showforward" required="true" type="boolean"/>
    </cc:interface>
    
    <cc:implementation>
        <div class="ui-g">
            <div class="ui-g-4">
                <div class="gray_button">
                        <p:commandButton
                            id="permit-flow-back-button"
                            value="Back to step #{cc.attrs.previousstep}: #{occPeriodBB.permitFlowStepMap[cc.attrs.previousstep]}"
                            actionListener="#{occPeriodBB.gotoPermitFlowStepX}"
                            ajax="true" 
                            icon="pi pi-arrow-left"
                            update="permit-steps-panel
                            "
                            rendered="#{cc.attrs.showback}">
                            <f:param name="flowsteptarget" value="#{cc.attrs.currentstep - 1}" />
                        </p:commandButton>
                </div>
            </div>
            <div class="ui-g-4">
                <div class="gray_button">
                        <p:commandButton
                            id="permit-flow-save-button"
                            value="Save and close"
                            actionListener="#{occPeriodBB.onSavePermitFlowAndClose}"
                            ajax="true" 
                            icon="pi pi-save"
                            update="permit-steps-panel
                                    occperiod-permits-form"
                            oncomplete="PF('occperiod-createpermit-flow-var').hide();"
                            rendered="#{cc.attrs.showsaveclose}">
                            <f:param name="flowsteptarget" value="#{cc.attrs.currentstep}" />
                        </p:commandButton>
                </div>
            </div>
            <div class="ui-g-4">
                <div class="restrict-main-contents-io-button">
                    <p:defaultCommand target="permit-flow-forward-button" />
                        <p:commandButton
                            id="permit-flow-forward-button"
                            value="Go to step #{cc.attrs.nextstep}: #{occPeriodBB.permitFlowStepMap[cc.attrs.nextstep]}"
                            actionListener="#{occPeriodBB.gotoPermitFlowStepX}"
                            ajax="true" 
                            icon="pi pi-arrow-right"
                            update="permit-steps-panel
                                    @form"
                            rendered="#{cc.attrs.showforward}">
                            <f:param name="flowsteptarget" value="#{cc.attrs.currentstep + 1}" />
                        </p:commandButton>
                </div>
            </div>
        </div>
    </cc:implementation>
</html>