<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:cc="http://xmlns.jcp.org/jsf/composite"
      >
    <cc:interface>
        <cc:attribute name="currentstep" required="true" type="int"/>
    </cc:interface>
    
    <cc:implementation>
        <h2>
            <h:outputText   id="header-ot"
                            value="Step #{cc.attrs.currentstep}: #{occPeriodBB.permitFlowStepMap[cc.attrs.currentstep]}" />
        </h2>
    </cc:implementation>
</html>