<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:cc="http://xmlns.jcp.org/jsf/composite"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <cc:interface>
        <cc:attribute name="value" required="true" />
    </cc:interface>

    <cc:implementation>

        <f:subview id="owner-phones-subview"
                   rendered="#{not empty cc.attrs.value.phoneList}">
            <ui:repeat id="owner-phones-uir"
                       value="#{cc.attrs.value.phoneList}"
                       var="plphone">
                <h:outputText value="#{plphone.phoneNumber}" />
                <h:outputText value=" (#{plphone.phoneType.title})" />
                <p:spacer height="2px" />
            </ui:repeat>
        </f:subview>

        <f:subview id="owner-emails-subview"
                   rendered="#{not empty cc.attrs.value.emailList}">
            <p:spacer height="2px" />
            <ui:repeat id="fir-owner-phones-uir"
                       value="#{cc.attrs.value.emailList}"
                       var="plemail">
                <div class="restrict-main-contents-io-link">
                    <h:outputLink value="mailto:#{plemail.emailaddress}" >
                        <h:outputText value="#{plemail.emailaddress}" />
                    </h:outputLink>
                </div>
                <p:spacer height="2px" />
            </ui:repeat>
        </f:subview>
    </cc:implementation>
</html>