<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:cc="http://xmlns.jcp.org/jsf/composite"
      xmlns:p="http://primefaces.org/ui" 
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <cc:interface>
        <cc:attribute name="humanListHolder" required="true" type="com.tcvcog.tcvce.entities.IFace_humanListHolder"/>
        <cc:attribute name="componentToUpdate" required="true" type="java.lang.String"/>       
    </cc:interface>

    <cc:implementation>
        <p:panel    id="cc-persons-panel"
                    toggleable="true"
                    collapsed="false"
                    header="#{cc.attrs.humanListHolder.descriptionString} Person Links">
            <h:form id="cc-persons-panel-form">

                <p:commandButton   id="cc-persons-manage-button"
                                   ajax="true"
                                   actionListener="#{personBB.onSelectAndLinkPersonsInit(cc.attrs.humanListHolder)}"
                                   oncomplete="PF('human-search-dialog-var').show()"
                                   rendered="#{systemServicesBB.bbSessionUser.keyCard.hasMuniStaffPermissions}"
                                   disabled="#{not cc.attrs.humanListHolder.active or sessionBean.crossMuniViewMode}"
                                   value="Manage person links"
                                   update=" human-search-dialog
                                   search-query-form
                                   pers-selected-form
                                   hlh-humlist-form
                                   pers-upstreampool-panel
                                   pers-upstreampool-form"
                                   icon="pi pi-user-edit"
                                   >
                    <f:param name="person-list-component-to-update"
                             value="#{cc.attrs.componentToUpdate}" />
                </p:commandButton>

                <p:spacer height="5px" />

                <p:dataTable id="cc-persons-table"
                             value="#{cc.attrs.humanListHolder.humanLinkList}"
                             rendered="true"
                             var="humlink"
                             tableStyleClass="primeDataTable"
                             rowKey="#{humlink.humanID}"
                             >

                    <p:column headerText="Name"
                              width="35%"
                              styleClass="centeredColumnContent">
                        <h:outputText value="#{humlink.name}" />

                    </p:column>

                    <p:column headerText="Role"
                              width="35%"
                              styleClass="centeredColumnContent">
                        <h:outputText value="#{humlink.linkedObjectRole.title}"/>
                    </p:column>

                    <p:column headerText="Actions"
                              width="30%"
                              styleClass="centeredColumnContent">
                        <div class="restrict-main-contents-io-link">
                            
                            <p:commandLink      id="cc-person-exploreperson-cl"
                                                ajax="true"
                                                action="#{personBB.onHumanViewLinkClick(humlink, cc.attrs.humanListHolder)}"
                                                value="view/edit person"
                                                oncomplete="PF('person-profile-dialog-var').show();"
                                                update="person-profile-dialog
                                                topnav-pers-form"
                                                >
                                <f:param name="person-list-component-to-update"
                                         value="#{cc.attrs.componentToUpdate}" />
                            </p:commandLink>
                        </div>
                        <p:spacer height="3px" />
                        <div class="restrict-main-contents-io-link">
                            <p:commandLink      id="cc-personlink-vieweditlink-cl"
                                                ajax="true"
                                                style="color:blue;"
                                                action="#{personBB.onHumanLinkEditInitButtonChange(humlink, cc.attrs.humanListHolder)}"
                                                value="view/edit link"
                                                oncomplete="PF('humanlink-viewedit-dialog-var').show();"
                                                update="humanlink-viewedit-dialog
                                                humanlink-viewedit-form"
                                                >
                                <f:param name="person-list-component-to-update"
                                         value="#{cc.attrs.componentToUpdate}" />
                            </p:commandLink>
                        </div>
                    </p:column>
                </p:dataTable>
            </h:form>
        </p:panel>
    </cc:implementation>
</html>