<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:cc="http://xmlns.jcp.org/jsf/composite"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <cc:interface>
        <cc:attribute name="confirmpropertyview" required="true" type="boolean"/>
        <cc:attribute name="fieldfinroutingmodeon" required="true" type="boolean"/>
        <cc:attribute name="cearroutingmodeon" required="true" type="boolean"/>
    </cc:interface>

    <cc:implementation>

        <h:form id="propsearch-quick-messages-form">
            <p:growl id="propsearch-quick-growl"
                     globalOnly="false" 
                     />
        </h:form>

        <div class="p-grid">
            <div class="p-md-6 p-sm-12 nested-grid">
                <h:form id="prop-search-quick-input-form">
                    <f:subview id="propsearch-raw-location-reminder-subivew"
                               rendered="#{cc.attrs.fieldfinroutingmodeon}" >
                        <div class="reinspection-flag">
                            <div class="p-grid">
                                <div class="p-col-4 restrict-data-field-label-inline">
                                    <h:outputText value="Inspection location" />
                                </div>

                                <div class="p-col-8 restrict-data-field-value-inline">
                                    <h:outputText value="#{fieldInspectionBB.finForRouting.combinedRawLocation}" 
                                                  styleClass="larger-text"/>
                                    <p:spacer height="3px" />
                                    <h:outputText value="use this location to search for and select the correct property" 
                                                  styleClass="italic"/>
                                </div>
                            </div>
                        </div>
                        <p:spacer height="15px" />
                    </f:subview>

                    <div class="p-grid">
                        <div class="p-col-4">
                            <h:outputText value="Building Number" />
                        </div>

                        <div class="p-col-8">
                            <p:inputText id="quick-bldg-it"
                                         disabled="false"
                                         size="15"
                                         value="#{propertySearchBB.queryDashAddress.primaryParams.address_bldgNum_val}" 
                                         required="false"/>
                        </div>
                        <div class="p-col-4">
                            <h:outputText value="Street Name" />
                        </div>

                        <div class="p-col-8">
                            <p:inputText id="quick-stname-it"
                                         disabled="false"
                                         size="15"
                                         value="#{propertySearchBB.queryDashAddress.primaryParams.addressStreetName_val}" 
                                         required="false"/>
                        </div>
                        <div class="p-col-4">
                            <h:outputText value=" " />
                        </div>
                        <div class="p-col-8">
                            <p:commandButton id="prop-search-quick-exec-cb-0"
                                             ajax="true"
                                             actionListener="#{propertySearchBB.executeQueryDash}"
                                             icon="pi pi-search"
                                             value="Search"
                                             disabled="#{propertySearchBB.queryDashAddress.queryExecuted}"
                                             update=" 
                                             @form
                                             @form:@parent:prop-search-quick-results-form
                                             @form:@parent:propsearch-quick-messages-form"/>

                        </div>
                    </div>
                </h:form>
            </div>
            <div class="p-md-6 p-sm-12 nested-grid">
                <h:form id="prop-search-quick-results-form">

                    <f:subview id="finrouting-assigntosessionprop-subview"
                               rendered="#{cc.attrs.fieldfinroutingmodeon}">
                        <p:commandButton        id="fieldfin-routing-usesessprop-cb"
                                                value="Assign inspection to session property: #{not empty sessionBean.sessProperty.address ? sessionBean.sessProperty.address.addressPretty1Line : sessionBean.sessProperty.countyParcelID} "
                                                disabled="false"
                                                rendered="true"
                                                icon="pi pi-home"
                                                ajax="true"
                                                actionListener="#{fieldInspectionBB.completeRoutingStep1ChooseProperty(sessionBean.sessProperty)}"
                                                update="finrouting-steps-panel"
                                                />
                        <p:spacer height="3px" />
                        <h:outputText value="... or select a property from your search results below" 
                                      styleClass="italic"/>
                        <p:spacer height="15px" />
                    </f:subview>

                    <div class="p-grid">
                        <div class="p-md-6 p-sm-12">
                            <h:outputText   value="showing (#{propertySearchBB.propListDashSearch.size()}) results"
                                            styleClass="italic" />
                        </div>

                        <div class="p-md-6 p-sm-12 restrict-main-contents-io-link">
                            <p:commandLink id="prop-search-quick-results-clear"
                                           ajax="true"
                                           actionListener="#{propertySearchBB.clearPropListDash}"   
                                           value="clear Results "
                                           update="
                                           @form"/>
                        </div>
                    </div>

                    <p:spacer height="5px" />

                    <p:dataTable id="prop-search-quick-results-table"
                                 value="#{propertySearchBB.propListDashSearch}"
                                 var="prop"
                                 rowKey="#{prop.parcelKey}"
                                 tableStyleClass="primeDataTable"
                                 draggableRows="false"
                                 draggableColumns="true"
                                 expandedRow="false"
                                 rowExpandMode="multiple"
                                 tabindex="6"
                                 reflow="true"
                                 >

                        <p:column width="60%" style="text-align: center">
                            <f:facet name="header">
                                <h:outputText value="Property results"/>
                                <p:spacer height="2px" />
                                <p:commandLink  id="prop-quick-listreverse-cl"
                                                ajax="true"
                                                style="color:blue; font-weight: bold;"
                                                rendered="true"
                                                value="reverse order"
                                                actionListener="#{propertySearchBB.onPropertyDashSortReverseLinkClick}"
                                                update="@form"/>
                            </f:facet>
                            <h:outputText value="#{prop.address.addressPretty1Line}" 
                                          escape="false"/>
                        </p:column>

                        <p:column width="40%" style="text-align: center">
                            <f:facet name="header">
                                <h:outputText value="Actions"/>
                            </f:facet>

                            <div class="restrict-main-contents-io-link">
                                <p:commandLink  id="prop-quick-view-cl"
                                                ajax="false"
                                                rendered="true"
                                                action="#{propertySearchBB.exploreProperty(prop)}" >
                                    <h:outputText value="view property #{cc.attrs.fieldfinroutingmodeon ? '(and exit inspection assignment)':''}" />
                                </p:commandLink>
                            </div>
                            <f:subview id="fieldrouting-nextstepbutton-subview"
                                       rendered="#{cc.attrs.fieldfinroutingmodeon}" >
                                <div class="restrict-main-contents-io-button-maxwidth">
                                    <p:commandButton        id="fieldfin-routing-chooseprop-cb"
                                                            value="Proceed to assign inspection on this property"
                                                            disabled="false"
                                                            rendered="true"
                                                            icon="pi pi-home"
                                                            ajax="true"
                                                            actionListener="#{fieldInspectionBB.completeRoutingStep1ChooseProperty(prop)}"
                                                            update="finrouting-steps-panel"
                                                            />

                                </div>
                            </f:subview>
                        </p:column>
                    </p:dataTable>
                </h:form>
            </div>
        </div>
    </cc:implementation>
</html>