<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:cc="http://xmlns.jcp.org/jsf/composite"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <cc:interface>
        <cc:attribute name="query" required="true" />
        <cc:attribute name="searchparams" required="true" />
        <cc:attribute name="searchedobjectname" required="true" />

    </cc:interface>

    <cc:implementation>

        <f:subview id="dateusercc-param-subview-dates"
                   rendered="#{cc.attrs.searchparams.date_startEnd_ctl or cc.attrs.query.queryName.showAllControls}">
            <div class="p-grid">
                <div class="p-col-12">
                    <p:divider style="solid" />
                </div>
                <div class="p-lg-4 p-md-6 p-sm-12 restrict-data-field-label-inline">
                    <p:outputLabel id="dateusercc-startend-chkbx-ol" 
                                   for="dateusercc-startend-chkbx" 
                                   value="filter by date range "/>

                    <p:selectBooleanCheckbox id="dateusercc-startend-chkbx" 
                                             value="#{cc.attrs.searchparams.date_startEnd_ctl}" 
                                             style="margin-left: 8px;">
                        <p:ajax update="dateusercc-date-field-val
                                dateusercc-date-start-val
                                dateusercc-date-end-val
                                dateusercc-date-relative-ctl" />
                    </p:selectBooleanCheckbox>

                </div>
                <div class="p-lg-8 p-md-8 p-sm-12 nested-grid restrict-data-field-value-inline">
                    <div class="p-grid">
                        <div class="p-col-12">
                        </div>

                        <div class="p-col-12">
                            <p:selectOneMenu  id="dateusercc-date-field-val" 
                                              tabindex="1" 
                                              value="#{cc.attrs.searchparams.date_field}"
                                              disabled="#{!cc.attrs.searchparams.date_startEnd_ctl}"
                                              converter="dateFieldConverter">
                                <f:selectItem itemLabel="select a date field..." 
                                              noSelectionOption="true" 
                                              itemDisabled="true"/>
                                <f:selectItems id="dateusercc-date-field-val-items" 
                                               value="#{cc.attrs.searchparams.dateFieldList}" 
                                               var="f" itemValue="#{f}" itemLabel="#{f.title}" />
                            </p:selectOneMenu>
                        </div>
                        <div class="p-col-12 restrict-data-field-label-vertical">

                            <p:outputLabel for="dateusercc-date-start-val" 
                                           value="start date"/>
                        </div>
                        <div class="p-col-12 restrict-data-field-value-vertical">

                            <p:datePicker 	id="dateusercc-date-start-val" 
                                           value="#{cc.attrs.searchparams.date_start_val}" 
                                           disabled="#{(!cc.attrs.searchparams.date_startEnd_ctl) or cc.attrs.searchparams.date_relativeDates_ctl}"
                                           rendered="true"
                                           style="width: 100%;"
                                           pattern="MM/dd/yyyy HH:mm"
                                           hideOnDateTimeSelect="true"
                                           showOnFocus="false"
                                           showIcon="true"
                                           showButtonBar="true"
                                           mask="true"
                                           timeInput="true" 
                                           required="true" />
                        </div>

                        <div class="p-col-12 restrict-data-field-label-vertical">
                            <p:outputLabel for="dateusercc-date-end-val" 
                                           value="end date"/>
                        </div>
                        <div class="p-col-12 restrict-data-field-value-vertical">

                            <p:datePicker id="dateusercc-date-end-val" 
                                          value="#{cc.attrs.searchparams.date_end_val}" 
                                          disabled="#{(!cc.attrs.searchparams.date_startEnd_ctl) or cc.attrs.searchparams.date_relativeDates_ctl}"
                                          rendered="true"
                                          style="width: 100%;"
                                          pattern="MM/dd/yyyy HH:mm"
                                          hideOnDateTimeSelect="true"
                                          showOnFocus="false"
                                          showIcon="true"
                                          showButtonBar="true"
                                          mask="true"
                                          timeInput="true" 
                                          required="true" />
                        </div>

                        <div class="p-col-12 restrict-data-field-label-vertical">

                            <p:outputLabel for="dateusercc-date-relative-ctl" 
                                           value="Relative dates"
                                           styleClass="datum-label"/>

                            <p:selectBooleanCheckbox id="dateusercc-date-relative-ctl" 
                                                     value="#{cc.attrs.searchparams.date_relativeDates_ctl}" 
                                                     disabled="#{!cc.attrs.searchparams.date_startEnd_ctl}" 
                                                     style="margin-left: 8px;">
                                <p:ajax update="dateusercc-date-end-val
                                        dateusercc-date-start-val
                                        dateusercc-date-end-val
                                        dateusercc-date-relative-start-val
                                        dateusercc-date-relative-end-val" />
                            </p:selectBooleanCheckbox>
                        </div>

                        <div class="p-col-12 restrict-data-field-label-vertical">
                            <p:outputLabel for="dateusercc-date-relative-start-val" 
                                           value="start date # days from today (negative values count into past)"/>
                        </div>
                        <div class="p-col-12 restrict-data-field-value-vertical">
                            <p:inputText id="dateusercc-date-relative-start-val" 
                                         value="#{cc.attrs.searchparams.date_relativeDates_start_val}" 
                                         disabled="#{!(cc.attrs.searchparams.date_startEnd_ctl and cc.attrs.searchparams.date_relativeDates_ctl)}" />
                            <h:message for="dateusercc-date-relative-start-val" showDetail="false" showSummary="true" 
                                       warnClass="msgWarn" infoClass="msgInfo" fatalClass="msgFatal" errorClass="msgError" />
                        </div>

                        <div class="p-col-12 restrict-data-field-label-vertical">
                            <p:outputLabel for="dateusercc-date-relative-end-val" 
                                           value="end date # days from today (negative values count into past)"/>
                        </div>
                        <div class="p-col-12 restrict-data-field-value-vertical">
                            <p:inputText id="dateusercc-date-relative-end-val" 
                                         value="#{cc.attrs.searchparams.date_realtiveDates_end_val}" 
                                         disabled="#{!(cc.attrs.searchparams.date_startEnd_ctl and cc.attrs.searchparams.date_relativeDates_ctl)}" />
                            <h:message for="dateusercc-date-relative-end-val" showDetail="false" showSummary="true" 
                                       warnClass="msgWarn" infoClass="msgInfo" fatalClass="msgFatal" errorClass="msgError" />
                        </div>
                    </div>
                </div>
            </div>
        </f:subview>        


        <f:subview id="dateusercc-param-subview-user"
                   rendered="#{cc.attrs.searchparams.user_ctl or cc.attrs.query.queryName.showAllControls}">
            <div class="p-grid">
                <div class="p-col-12">
                    <p:divider style="solid" />
                </div>
                <div class="p-lg-4 p-md-6 p-sm-12 restrict-data-field-label-inline">
                    <p:outputLabel for="dateusercc-filter-user-ctl" 
                                   value="User filter"/>

                    <p:selectBooleanCheckbox id="dateusercc-filter-user-ctl" 
                                             value="#{cc.attrs.searchparams.user_ctl}"
                                             disabled="#{!(cc.attrs.searchparams.user_rtMin.rank lt systemServicesBB.bbSessionUser.keyCard.governingAuthPeriod.role.rank)}"
                                             style="margin-left: 8px;">
                        <p:ajax update="dateusercc-filter-user-som
                                dateusercc-user-field-val" />
                    </p:selectBooleanCheckbox>

                </div>
                <div class="p-lg-8 p-md-8 p-sm-12 restrict-data-field-value-inline">

                    <p:selectOneMenu  id="dateusercc-user-field-val" 
                                      tabindex="1" 
                                      value="#{cc.attrs.searchparams.user_field}"
                                      disabled="#{!cc.attrs.searchparams.user_ctl}"
                                      converter="userFieldConverter">
                        <f:selectItem itemLabel="select a user field..." 
                                      noSelectionOption="true" 
                                      itemDisabled="true"/>
                        <f:selectItems id="dateusercc-user-field-val-items" 
                                       value="#{cc.attrs.searchparams.userFieldList}" 
                                       var="uf" itemValue="#{uf}" itemLabel="#{uf.title}" />
                    </p:selectOneMenu>
                    <p:selectOneMenu id="dateusercc-filter-user-som" required="false" 
                                     value="#{cc.attrs.searchparams.user_val}"
                                     disabled="#{!cc.attrs.searchparams.user_ctl}">
                        <f:selectItem itemLabel="select a user..." noSelectionOption="true" />
                        <f:selectItems value="#{systemServicesBB.userListForSearch}"  var="u" itemValue="#{u}" 
                                       itemLabel="#{u.human.name} (username:#{u.username})"/>
                        <f:converter converterId="userConverter"/>
                    </p:selectOneMenu>
                </div>
            </div>
        </f:subview>  


    </cc:implementation>
</html>