<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:cc="http://xmlns.jcp.org/jsf/composite"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <cc:interface>
        <cc:attribute name="timestamp" required="true" />
        <cc:attribute name="user" required="true" />
    </cc:interface>

    <cc:implementation>

        <h:outputText id="timestamp-date-display"
                      value="#{systemServicesBB.getPrettyDate(cc.attrs.timestamp)}"
                      rendered="#{not empty cc.attrs.value.timestamp}"/>
        <f:subview id="user-display"
                   rendered="#{not empty cc.attrs.user}" >
            <p:spacer height="3px"
                      rendered="true"/>
            <h:outputText id="user-by"
                          value="by " />
            <h:outputText id="user-name"
                          value="#{cc.attrs.value.user.human.name}" />
            <h:outputText id="user-username"
                          value="(#{cc.attrs.value.user.username})" />

        </f:subview>
    </cc:implementation>
</html>