<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:cc="http://xmlns.jcp.org/jsf/composite"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <cc:interface>
        <cc:attribute name="value" required="true" />

    </cc:interface>

    <cc:implementation>

        <div class="p-col-3 restrict-data-field-label-inline">
            <p:outputLabel for="trackedentity-creator">
                <h:outputText value="Creation"/>
            </p:outputLabel>
        </div>
        <div class="p-col-9 restrict-data-field-value-inline">

            <h:outputText id="trackedentity-createdts"
                          value="#{systemServicesBB.getPrettyDate(cc.attrs.value.createdTS)}"
                          rendered="#{not empty cc.attrs.value.createdTS}"/>
            <p:spacer height="3px" />
            <h:outputText id="trackedentity-creator-by"
                          value="#{ !empty cc.attrs.value.createdBy
                                    ? 'By '
                                    : ''}"/>
            <h:outputText id="trackedentity-creator"
                          value="#{ !empty cc.attrs.value.createdBy
                                    ? cc.attrs.value.createdBy.human.name
                                    : ''}"/>
        </div>
        <div class="p-col-3 restrict-data-field-label-inline">
            <p:outputLabel for="trackedentity-lastupdatedts">
                <h:outputText value="Last update"/>
            </p:outputLabel>
        </div>
        <div class="p-col-9 restrict-data-field-value-inline">

            <h:outputText id="trackedentity-lastupdatedts"
                          value="#{systemServicesBB.getPrettyDate(cc.attrs.value.lastUpdatedTS)}"
                          rendered="#{not empty cc.attrs.value.lastUpdatedTS}"/>
            <p:spacer height="3px"
                      rendered="true"/>
            <h:outputText id="trackedentity-lastupdator-by"
                          value="#{ !empty cc.attrs.value.lastUpdatedBy
                                    ? 'By '
                                    : ''}"
                          rendered="true"/>
            <h:outputText id="trackedentity-lastupdatorname"
                          value="#{ !empty cc.attrs.value.lastUpdatedBy
                                    ? cc.attrs.value.lastUpdatedBy.human.name
                                    : ''}"
                          rendered="true"/>
        </div>

        <div class="p-col-3 restrict-data-field-label-inline">
            <p:outputLabel for="trackedentity-active-ot">
                <h:outputText value="Active"/>
            </p:outputLabel>
            
        </div>
        <div class="p-col-9 restrict-data-field-value-inline">
            <h:outputText id="trackedentity-active-ot"
                          value="#{cc.attrs.value.active ? 'Yes; active record' : 'No; deactivated record'}"/>
            <f:subview id="trackedentity-deac-fields-subview"
                       rendered="#{not empty cc.attrs.value.deactivatedTS}">
                <p:spacer height="3px" />
                <h:outputText id="trackedentity-deacts"
                              value="#{systemServicesBB.getPrettyDate(cc.attrs.value.deactivatedTS)}"/>
                <p:spacer height="3px"
                          rendered="true"/>
                <h:outputText id="trackedentity-deac-by"
                              value="#{ !empty cc.attrs.value.deactivatedBy
                                        ? 'By '
                                        : ''}"
                              rendered="true"/>
                <h:outputText id="trackedentity-deacname"
                              value="#{ !empty cc.attrs.value.deactivatedBy
                                        ? cc.attrs.value.deactivatedBy.human.name
                                        : ''}"
                              rendered="true"/>
            </f:subview>
        </div>
    </cc:implementation>
</html>