<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:cc="http://xmlns.jcp.org/jsf/composite"
      xmlns:p="http://primefaces.org/ui">
    <cc:interface>
        <cc:attribute name="value" required="true" />

    </cc:interface>

    <cc:implementation>

        <div class="p-col-3 restrict-data-field-label-inline">
            <h:outputText value="Created" />
        </div>
        <div class="p-col-9 restrict-data-field-value-inline">
            <h:outputText value="#{systemServicesBB.getPrettyDate(cc.attrs.value.createdTS)} "
                          rendered="#{!empty cc.attrs.value.createdby_UMAP}"/>
            <p:spacer height="3px" />
            <h:outputText value="by user ID:#{cc.attrs.value.createdby_UMAP.userID}"
                          rendered="#{!empty cc.attrs.value.createdby_UMAP}"/>
        </div>

        <div class="p-col-3 restrict-data-field-label-inline">
            <h:outputText value="Last Updated" />
        </div>
        <div class="p-col-9 restrict-data-field-value-inline">
            <h:outputText value="#{systemServicesBB.getPrettyDate(cc.attrs.value.lastUpdatedTS)}" 
                          rendered="#{!empty cc.attrs.value.lastUpdatedby_UMAP}"/>

            <p:spacer height="3px" />
            <h:outputText value="by user ID:#{cc.attrs.value.lastUpdatedby_UMAP.userID}"
                          rendered="#{!empty cc.attrs.value.lastUpdatedby_UMAP}"/>
        </div>
        <div class="p-col-3 restrict-data-field-label-inline">
            <h:outputText value="Record status" />
            
        </div>
        <div class="p-col-9 restrict-data-field-value-inline">
            <h:outputText value="Active record" 
                          rendered="#{empty cc.attrs.value.deactivatedTS}"/>

            <h:outputText value="DEACTIVATED record" 
                          rendered="#{!empty cc.attrs.value.deactivatedTS}"/>

            <h:outputText value="#{systemServicesBB.getPrettyDate(cc.attrs.value.deactivatedTS)}" 
                          rendered="#{!empty cc.attrs.value.deactivatedTS}"/>

            <p:spacer height="3px" />
            <h:outputText value="by User ID:#{cc.attrs.value.deactivatedBy_UMAP.userID}"
                          rendered="#{!empty cc.attrs.value.deactivatedBy_UMAP}"/>

        </div>
    </cc:implementation>
</html>