<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <link rel="stylesheet" type="text/css" href="css/style.css"></link>
        <title>Permitting Activity Report</title>
    </h:head>
    <h:body>
        <ui:composition template="./../report_template_occactivity.xhtml">
            <ui:define name="print-content">
                <f:view id="report-occactivity-view">
                    <div class="p-grid">
                        <div class="p-col-12 restrict-data-field-value-vertical">
                            <div class="p-col-12">
                                <div class="logo-image-wrapper">
                                    <p:graphicImage     id="report-headerphoto"
                                                        value="#{blobsterBB.image}"
                                                        alt="no preview available" 
                                                        width="#{reportingBB.headerImageWidthPx}"
                                                        cache="true"
                                                        rendered="#{!empty reportingBB.headerImageBlob}">
                                        <f:param name="blobid" value="#{reportingBB.headerImageBlob.photoDocID}"/>
                                    </p:graphicImage>
                                </div>
                            </div>
                        </div>

                        <div class="p-col-12 restrict-data-field">

                            <div class="report-trailblaze-headerbox">
                                <div class="report-trailblaze-headerbox-title">
                                    <h:outputText value="#{reportingBB.reportConfigOccActivity.title}"/>
                                </div>
                                <div class="report-trailblaze-headerbox-tail">
                                    <h:outputText value=" "/>
                                </div>
                            </div>


                            <div class="restrict-data-field-value-vertical">


                                <div class="report-muni">
                                    <h:outputText id="report-subtitle-ot"  
                                                  value="#{reportingBB.reportConfigOccActivity.muni.muniName}"/> 
                                </div>
                                <div class="report-daterange">
                                    <h:outputText value="Reporting Period: " />
                                    <h:outputText value="#{reportingBB.getPrettyDateNoTime(reportingBB.reportConfigOccActivity.date_start_val)}" />
                                    <h:outputText value=" to " />
                                    <h:outputText value="#{reportingBB.getPrettyDateNoTime(reportingBB.reportConfigOccActivity.date_end_val)}" />
                                </div>
                                <div class="report-generatorandtimestamp">
                                    <h:outputText value="Generated by: #{reportingBB.reportConfigOccActivity.creator.userHuman.name} at #{reportingBB.getPrettyDate(reportingBB.reportConfigOccActivity.generationTimestamp)}" />
                                </div>
                                <div class="report-notes">
                                    <h:outputText id="report-notes-ot"  
                                                  value="Notes: #{reportingBB.reportConfigOccActivity.notes}"
                                                  rendered="#{not empty reportingBB.reportConfigOccActivity.notes}"/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="p-grid nested-grid">
                        <div class="p-col-4 restrict-data-field-label-inline underline">
                            <h:outputText value="Summary by permit type" />
                        </div>
                        <div class="p-col-8 restrict-data-field-label-inline underline"
                             style="padding-left: 0px;">
                            <h:outputText value="Counts" />
                        </div>
                        <f:subview id="manual-app-count-subview"
                                   rendered="#{reportingBB.reportConfigOccActivity.showOccApplicationCountFreeEntry}">
                            <div class="p-col-4 restrict-data-field-label-inline">
                                <h:outputText value="Permit applications" />
                            </div>
                            <div class="p-col-8">
                                <div class="p-grid">
                                    <div class="p-col-12 report-fieldvalue-tightpadding">
                                        <h:outputText   class="restrict-data-field-label-inline"
                                                        value="Count received:" />
                                        <h:outputText   class="restrict-data-field-value-inline"
                                                        value="#{reportingBB.reportConfigOccActivity.occApplicationCountFreeEntry}" />
                                    </div>
                                </div>
                            </div>
                            <p:divider style="solid" />
                        </f:subview>

                        <ui:repeat id="count-by-permittype-uir"
                                   value="#{reportingBB.reportConfigOccActivity.permitTypeListContainerList}"
                                   var="typecontainer">
                            <div class="p-col-4 restrict-data-field-label-inline">
                                <h:outputText value="Permit type: #{typecontainer.permitType.title}" />
                                <h:outputText value=" (expires)" 
                                              rendered="#{typecontainer.permitType.expires}"/>
                            </div>
                            <div class="p-col-8">
                                <div class="p-grid">
                                    <div class="p-col-12 report-fieldvalue-tightpadding">
                                        <h:outputText   class="restrict-data-field-label-inline"
                                                        value="Permits issued:" />
                                        <h:outputText   class="restrict-data-field-value-inline"
                                                        value="#{typecontainer.occPeriodHeavyList.size()}" />
                                    </div>
                                    <f:subview id="fincount-bypermittype"
                                               rendered="#{reportingBB.reportConfigOccActivity.includeInspectionCountForPermits}">

                                        <div class="p-col-12 report-fieldvalue-tightpadding">
                                            <h:outputText   class="restrict-data-field-label-inline"
                                                            value="Initial inspections:" />
                                            <h:outputText   class="restrict-data-field-value-inline"
                                                            value="#{typecontainer.finInitialList.size()}" />
                                        </div>
                                        <div class="p-col-12 report-fieldvalue-tightpadding">
                                            <h:outputText   class="restrict-data-field-label-inline"
                                                            value="Re-inspections:" />
                                            <h:outputText   class="restrict-data-field-value-inline"
                                                            value="#{typecontainer.finReinspectionList.size()}" />
                                        </div>
                                    </f:subview>
                                </div>
                            </div>
                            <p:divider style="solid" />
                        </ui:repeat>
                        <div class="p-col-4 restrict-data-field-label-inline underline">
                            <h:outputText value="Summary of field inspections" />
                        </div>
                        <div class="p-col-8 restrict-data-field-label-inline underline"
                             style="padding-left: 0px;">
                            <h:outputText value="Total" />
                        </div>
                        <f:subview id="fincount-ce-subview"
                                   rendered="#{reportingBB.reportConfigOccActivity.countCECaseInspections}">
                            <div class="p-col-4 restrict-data-field-label-inline">
                                <h:outputText value="Code enforcement inspections" />
                                <p:spacer height="3px" />
                                <h:outputText value="(with violations found)" />
                            </div>
                            <div class="p-col-8">
                                <div class="p-grid">
                                    <div class="p-col-12 report-fieldvalue-tightpadding">
                                        <h:outputText   class="restrict-data-field-label-inline"
                                                        value="Inspections:" />
                                        <h:outputText   class="restrict-data-field-value-inline"
                                                        value="#{reportingBB.reportConfigOccActivity.finListCE.size()}" />
                                    </div>
                                </div>
                            </div>
                            <p:divider style="solid" />
                        </f:subview>
                        <f:subview id="fincount-occ-subview"
                                   rendered="#{reportingBB.reportConfigOccActivity.countOccPeriodInspections}">
                            <div class="p-col-4 restrict-data-field-label-inline">
                                <h:outputText value="Occupancy inspections" />
                                <p:spacer height="3px" />
                                <h:outputText value="WITH violations found" />
                            </div>
                            <div class="p-col-8">
                                <div class="p-grid">
                                    <div class="p-col-12 report-fieldvalue-tightpadding">
                                        <h:outputText   class="restrict-data-field-value-inline"
                                                        value="#{reportingBB.reportConfigOccActivity.finListOccFail.size()}" />
                                    </div>
                                </div>
                            </div>
                            <div class="p-col-4 restrict-data-field-label-inline">
                                <h:outputText value="Occupancy inspections" />
                                <p:spacer height="3px" />
                                <h:outputText value="WITHOUT violations found" />
                            </div>
                            <div class="p-col-8">
                                <div class="p-grid">
                                    <div class="p-col-12 report-fieldvalue-tightpadding">
                                        <h:outputText   class="restrict-data-field-value-inline"
                                                        value="#{reportingBB.reportConfigOccActivity.finListOccPass.size()}" />
                                    </div>
                                </div>
                            </div>
                            <div class="p-col-4 restrict-data-field-label-inline">
                                <h:outputText value="Total occupancy inspections conducted" />
                            </div>
                            <div class="p-col-8">
                                <div class="p-grid">
                                    <div class="p-col-12 report-fieldvalue-tightpadding">
                                        <h:outputText   class="restrict-data-field-value-inline"
                                                        value="#{reportingBB.reportConfigOccActivity.finListOccPassFailTotal}" />
                                    </div>
                                </div>
                            </div>
                            <p:divider style="solid" />
                        </f:subview>
                        <f:subview id="violation-transfer-subview"
                                   rendered="#{reportingBB.reportConfigOccActivity.activateTransferredViolationCount}">
                            <div class="p-col-4 restrict-data-field-label-inline">
                                <h:outputText value="Inspection violations transferred to code enforcement" />
                            </div>
                            <div class="p-col-8">
                                <div class="p-grid">
                                    <div class="p-col-12 report-fieldvalue-tightpadding">
                                        <h:outputText   class="restrict-data-field-label-inline"
                                                        value="Violations:" />
                                        <h:outputText   class="restrict-data-field-value-inline"
                                                        value="#{reportingBB.reportConfigOccActivity.migratedViolations.size()}" />
                                    </div>
                                </div>
                            </div>
                            <p:divider style="solid" />
                        </f:subview>
                    </div>

                    <f:subview id="permit-detail-subview"
                               rendered="#{reportingBB.reportConfigOccActivity.detailPermits}">
                        <h:form id="report-occactivity-form">

                            <div class="report-trailblaze-headerbox printing-page-break-before">
                                <div class="report-trailblaze-headerbox-title">
                                    <h:outputText value="Detail: Permits issued by permit type" />

                                </div>
                                <div class="report-trailblaze-headerbox-tail">
                                    <h:outputText value=" "/>
                                </div>
                            </div>

                            <div class="p-grid">
                                <ui:repeat id="detail-count-by-permittype-uir"
                                           value="#{reportingBB.reportConfigOccActivity.permitTypeListContainerList}"
                                           var="typecontainer">
                                    <div class="p-col-3 restrict-data-field-label-inline">
                                        <div class="report-tb-kpi-title">
                                            <h:outputText value="#{typecontainer.permitType.title}" />
                                            <h:outputText value=" (expires)" 
                                                          rendered="#{typecontainer.permitType.expires}"/>
                                        </div>
                                        <p:spacer height="3px" />
                                        <div class="report-data-value-tight-inline">
                                            <h:outputText value="Permits issued: #{typecontainer.occPeriodHeavyList.size()}" />
                                        </div>

                                    </div>
                                    <div class="p-col-9">
                                        <p:spacer height="5px" />
                                        <ui:repeat id="permit-detail-uir"
                                                   value="#{typecontainer.occPeriodHeavyList}"
                                                   var="period">
                                            <div class="p-grid">
                                                <div class="ui-g-5 ui-md-5 ui-lg-5 nested-grid">
                                                    <div class="p-grid">
                                                        <div class="p-col-12 report-property-addresss ">
                                                            <h:outputText value="#{period.governingOccPermit.staticPropertyInfoBRCleaned}"
                                                                          escape="false"
                                                                          styleClass="report-bodyfont-medium"/>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="ui-g-7 ui-md-7 ui-lg-7 nested-grid">
                                                    <div class="p-grid report-bodyfont-smaller">

                                                        <div class="p-col-12 report-fieldvalue-tightpadding ">
                                                            <h:outputText       class="restrict-data-field-label-inline"
                                                                                value="Issuance date: " />
                                                            <h:outputText       class="restrict-data-field-value-inline"
                                                                                value="#{reportingBB.getPrettyLocalDateNoTime(period.governingOccPermit.staticdateofissue)}" />
                                                        </div>
                                                        <div class="p-col-12 report-fieldvalue-tightpadding">
                                                            <h:outputText       class="restrict-data-field-label-inline"  
                                                                                value="Proposed use:" />
                                                            <h:outputText       class="restrict-data-field-value-inline"
                                                                                value="#{period.governingOccPermit.staticproposeduse}" />
                                                        </div>
                                                        <f:subview id="permit-detail-dates-subview"
                                                                   rendered="#{reportingBB.reportConfigOccActivity.includePermitApplicationAndInspectionDates}">
                                                            <div class="p-col-12 report-fieldvalue-tightpadding ">
                                                                <h:outputText   class="restrict-data-field-label-inline"
                                                                                value="Date of application:" />
                                                                <h:outputText   class="restrict-data-field-value-inline"
                                                                                value="#{reportingBB.getPrettyLocalDateNoTime(period.governingOccPermit.staticdateofapplication)}" />
                                                            </div>
                                                            <div class="p-col-12 report-fieldvalue-tightpadding ">
                                                                <h:outputText   class="restrict-data-field-label-inline"
                                                                                value="Date of first inspection:" />
                                                                <h:outputText   class="restrict-data-field-value-inline"
                                                                                value="#{reportingBB.getPrettyLocalDateNoTime(period.governingOccPermit.staticinitialinspection)}" />
                                                            </div>
                                                            <div class="p-col-12 report-fieldvalue-tightpadding ">
                                                                <h:outputText   class="restrict-data-field-label-inline"
                                                                                value="Date of final inspection:" />
                                                                <h:outputText   class="restrict-data-field-value-inline"
                                                                                value="#{reportingBB.getPrettyLocalDateNoTime(period.governingOccPermit.staticfinalinspection)}" />
                                                            </div>
                                                        </f:subview>
                                                        <f:subview id="permit-detail-refno-subview"
                                                                   rendered="#{reportingBB.reportConfigOccActivity.includePermitNumber}">
                                                            <div class="p-col-12 report-fieldvalue-tightpadding ">
                                                                <h:outputText   class="restrict-data-field-label-inline"
                                                                                value="Reference number:" />
                                                                <h:outputText   class="restrict-data-field-value-inline"
                                                                                value="#{period.governingOccPermit.referenceNo}" />
                                                            </div>
                                                        </f:subview>
                                                        <f:subview id="permit-detail-officer-subview"
                                                                   rendered="#{reportingBB.reportConfigOccActivity.includePermitIssingOfficer}">
                                                            <div class="p-col-12 report-fieldvalue-tightpadding">
                                                                <h:outputText   class="restrict-data-field-label-inline"
                                                                                value="Issuing officer:" />
                                                                <h:outputText   class="restrict-data-field-value-inline"
                                                                                value="#{period.governingOccPermit.derivedOfficerNameOnly}" />
                                                            </div>
                                                        </f:subview>
                                                    </div>
                                                </div>
                                            </div>
                                            <p:divider style="solid" />
                                        </ui:repeat>
                                        <f:subview id="permit-inspections-subview"
                                                   rendered="#{reportingBB.reportConfigOccActivity.showInspectionsBackingPermits}">
                                        </f:subview>
                                    </div>
                                    <p:divider type="solid" />
                                </ui:repeat>
                            </div>
                        </h:form>
                    </f:subview>

                    <f:subview id="fins-detail-subview"
                               rendered="#{reportingBB.reportConfigOccActivity.detailFieldInspections}">
                        <h:form id="report-fin-detail-form">

                            <div class="report-trailblaze-headerbox printing-page-break-before">
                                <div class="report-trailblaze-headerbox-title">
                                    <h:outputText value="Detail: Field inspections with violated ordinances" />

                                </div>
                                <div class="report-trailblaze-headerbox-tail">
                                    <h:outputText value=" "/>
                                </div>
                            </div>



                            <ui:repeat id="find-detail-container-uir"
                                       value="#{reportingBB.reportConfigOccActivity.finListContainerList}"
                                       var="fincont">

                                <div class="report-tb-kpi-title">
                                    <h:outputText value="#{fincont.title}" />
                                </div>
                                <ui:repeat id="detail-fins-occ-uir"
                                           value="#{fincont.finList}"
                                           var="fin">

                                    <div class="p-grid">
                                        <div class="ui-g-5 ui-md-5 ui-lg-5 nested-grid">
                                            <div class="p-grid">
                                                <div class="p-col-12 report-property-addresss ">
                                                    <h:outputText value="#{fin.parentPropertyAddress2LineEscapeFalse}"
                                                                  escape="false"
                                                                  styleClass="report-bodyfont-medium"/>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="ui-g-7 ui-md-7 ui-lg-7 nested-grid">
                                            <div class="p-grid report-bodyfont-smaller">

                                                <f:subview id="fin-metadata-subview"
                                                           rendered="#{reportingBB.reportConfigOccActivity.showInspectionMetaData}">
                                                    <div class="p-col-12 report-fieldvalue-tightpadding ">
                                                        <h:outputText       class="restrict-data-field-label-inline"
                                                                            value="Determination:" />
                                                        <h:outputText       class="restrict-data-field-value-inline"
                                                                            value="#{fin.determination.title}"
                                                                            rendered="#{not empty fin.determination}"/>
                                                    </div>
                                                    <div class="p-col-12 report-fieldvalue-tightpadding ">
                                                        <h:outputText       class="restrict-data-field-label-inline"
                                                                            value="Inspection date:" />
                                                        <h:outputText       class="restrict-data-field-value-inline"
                                                                            value="#{reportingBB.getPrettyDateNoTime(fin.effectiveDateOfRecord)}" />
                                                    </div>
                                                    <div class="p-col-12 report-fieldvalue-tightpadding">
                                                        <h:outputText       class="restrict-data-field-label-inline"  
                                                                            value="Inspector:" />
                                                        <h:outputText       class="restrict-data-field-value-inline"
                                                                            value="#{fin.inspector.userHuman.name}"
                                                                            rendered="#{not empty fin.inspector}"/>
                                                    </div>
                                                </f:subview>
                                                <f:subview id="fin-details-subview"
                                                           rendered="#{reportingBB.reportConfigOccActivity.showInspectionFailedItems and not fin.determination.qualifiesAsPassed}">
                                                    <div class="p-col-12 report-fieldvalue-tightpadding">
                                                        <h:outputText       class="restrict-data-field-label-inline"  
                                                                            value="Violated ordinances:" />
                                                        <div class="restrict-data-field-value-inline">
                                                            <ul>
                                                                <ui:repeat id="fin-violatedords-uir"
                                                                           value="#{fin.failedItems}"
                                                                           var="failedord">
                                                                    <li>
                                                                        <h:outputText  value="#{failedord.headerString}"
                                                                                       escape="false"/>
                                                                        <f:subview id="ord-failedfindings-subview"
                                                                                   rendered="#{reportingBB.reportConfigOccActivity.showInspectionFailedItemsFindings}">
                                                                            <h:outputText  value=" (Findings: #{failedord.inspectionNotes})"  
                                                                                           escape="false"/>
                                                                        </f:subview>
                                                                    </li>
                                                                </ui:repeat>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </f:subview>
                                            </div>
                                        </div>
                                    </div>
                                    <p:divider style="solid" />
                                </ui:repeat>
                                <p:divider style="solid" />
                            </ui:repeat>

                            <f:subview id="voil-detail-subview"
                                       rendered="#{reportingBB.reportConfigOccActivity.detailMigratedViolations}">

                                <div class="report-trailblaze-headerbox printing-page-break-before">
                                    <div class="report-trailblaze-headerbox-title">
                                        <h:outputText value="Detail: Violations transferred to code enforcement" />

                                    </div>
                                    <div class="report-trailblaze-headerbox-tail">
                                        <h:outputText value=" "/>
                                    </div>
                                </div>
                                <ui:repeat id="viol-uir"
                                           value="#{reportingBB.reportConfigOccActivity.migratedViolations}"
                                           var="viol">
                                    <h:outputText value="#{viol.propertyAddress}: "
                                                  escape="false" />
                                    <h:outputText value="#{viol.violatedEnfElement.headerString}"
                                                  escape="false" />
                                    <h:outputText value="(#{viol.violationID})"
                                                  escape="false" />

                                </ui:repeat>

                            </f:subview>

                        </h:form>
                    </f:subview>
                </f:view>
            </ui:define>
        </ui:composition>
    </h:body>
</html>

