<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:tt="http://xmlns.jcp.org/jsf/composite/components">
    <h:head>
        <link rel="stylesheet" type="text/css" href="css/style.css"></link>
        <title>Code Enforcement Activity Report</title>
    </h:head>
    <h:body>
        <ui:composition template="./../report_template.xhtml">

            <ui:define name="print-content">
                <div class="printer-friendly-report"
                     style="font-size: #{reportingBB.reportCECaseList.textSize.bodyScaleEm}em;">

                    <h:form id="case-list-report-form">
                        <f:subview id="sec-summary-subview"
                                   rendered="#{reportingBB.reportCECaseList.includeSectionReportSummary}">

                            <div class="report-trailblaze-headerbox">
                                <div class="report-trailblaze-headerbox-title">
                                    <h:outputText value="Report Summary from #{reportingBB.getPrettyDateNoTime(reportingBB.reportCECaseList.date_start_val)} to #{reportingBB.getPrettyDateNoTime(reportingBB.reportCECaseList.date_end_val)}" />

                                </div>
                                <div class="report-trailblaze-headerbox-tail">
                                    <h:outputText value=" "/>
                                </div>
                            </div>

                            <div class="ui-g data_container_nested_restrict_report">

                                <f:subview id="metric-summary-opensor"
                                           rendered="#{reportingBB.reportCECaseList.includeSectionReportSummary_openAsOfSOR}">

                                    <div class="ui-g-12 ui-md-12 ui-lg-12 restrict-data-field-report"   >

                                        <!--NESTED DATA LABEL INLINE -->
                                        <div class="restrict-data-field-label-inline" >
                                            <h:outputLabel value="Total cases open as of start of reporting period: "/>
                                            <h:outputText value="#{reportingBB.getPrettyDateNoTime(reportingBB.reportCECaseList.date_start_val)}:" />
                                        </div>
                                        <!--NESTED DATA VALUE INLINE -->
                                        <div class="restrict-data-field-value-inline"
                                             style="color:black;">
                                            <h:outputText value="#{reportingBB.reportCECaseList.caseListOpenAsOfDateStart.size()}" />
                                            <p:spacer height="2px" />
                                            <div style="margin-left: 20px">
                                                <ui:repeat id="caselist-openatsor-uir"
                                                           value="#{reportingBB.reportCECaseList.caseListOpenAsOfDateStart}"
                                                           var="cse"
                                                           rendered="#{reportingBB.reportCECaseList.includeReportSummary_caseListsForEachSummary}">
                                                    <h:outputText value="ID: #{cse.caseID}" />
                                                    <h:outputText value=" | " />
                                                    <h:outputText value="Addr: #{cse.addressPretty1Line}" />
                                                    <h:outputText value=" | " />
                                                    <h:outputText value="Name: #{cse.caseName}" />
                                                    <p:spacer height="2px" />
                                                </ui:repeat>
                                            </div>
                                        </div>
                                    </div>
                                </f:subview>

                                <f:subview id="metric-summary-opened"
                                           rendered="#{reportingBB.reportCECaseList.includeSectionReportSummary_casesOpened}">

                                    <div class="ui-g-12 ui-md-12 ui-lg-12 restrict-data-field-report" >

                                        <!--NESTED DATA LABEL INLINE -->
                                        <div class="restrict-data-field-label-inline" >
                                            <h:outputLabel value="Cases opened: "/>
                                        </div>
                                        <!--NESTED DATA VALUE INLINE -->
                                        <div class="restrict-data-field-value-inline"
                                             style="color:black;">
                                            <h:outputText value="#{reportingBB.reportCECaseList.caseListOpenedInDateRange.size()}" />
                                            <p:spacer height="2px" />
                                            <div style="margin-left: 20px">

                                                <ui:repeat id="caselist-openedindr-uir"
                                                           value="#{reportingBB.reportCECaseList.caseListOpenedInDateRange}"
                                                           var="cse"
                                                           rendered="#{reportingBB.reportCECaseList.includeReportSummary_caseListsForEachSummary}">
                                                    <h:outputText value="ID: #{cse.caseID}" />
                                                    <h:outputText value=" | " />
                                                    <h:outputText value="Addr: #{cse.addressPretty1Line}" />
                                                    <h:outputText value=" | " />
                                                    <h:outputText value="Name: #{cse.caseName}" />
                                                    <p:spacer height="2px" />
                                                </ui:repeat>
                                            </div>
                                        </div>
                                    </div>
                                </f:subview>

                                <f:subview id="metric-summary-closed"
                                           rendered="#{reportingBB.reportCECaseList.includeSectionReportSummary_casesClosed}">

                                    <div class="ui-g-12 ui-md-12 ui-lg-12 restrict-data-field-report" >

                                        <!--NESTED DATA LABEL INLINE -->
                                        <div class="restrict-data-field-label-inline" 
                                             >
                                            <h:outputLabel value="Cases closed: "/>
                                        </div>
                                        <!--NESTED DATA VALUE INLINE -->
                                        <div class="restrict-data-field-value-inline"
                                             style="color:black;" >
                                            <h:outputText value="#{reportingBB.reportCECaseList.caseListClosedInDateRange.size()}" />
                                            <p:spacer height="2px" />
                                            <div style="margin-left: 20px">
                                                <ui:repeat id="caselist-closedindr-uir"
                                                           value="#{reportingBB.reportCECaseList.caseListClosedInDateRange}"
                                                           var="cse"
                                                           rendered="#{reportingBB.reportCECaseList.includeReportSummary_caseListsForEachSummary}">
                                                    <h:outputText value="ID: #{cse.caseID}" />
                                                    <h:outputText value=" | " />
                                                    <h:outputText value="Addr: #{cse.addressPretty1Line}" />
                                                    <h:outputText value=" | " />
                                                    <h:outputText value="Name: #{cse.caseName}" />
                                                    <p:spacer height="2px" />
                                                </ui:repeat>
                                            </div>
                                        </div>
                                    </div>
                                </f:subview>

                                <f:subview id="metric-summary-openasofeor"
                                           rendered="#{reportingBB.reportCECaseList.includeSectionReportSummary_openAsOfEOR}">

                                    <div class="ui-g-12 ui-md-12 ui-lg-12 restrict-data-field-report" >

                                        <!--NESTED DATA LABEL INLINE -->
                                        <div class="restrict-data-field-label-inline" >
                                            <h:outputLabel value="Total cases open as of end of reporting period: "/>
                                            <h:outputText value="#{reportingBB.getPrettyDateNoTime(reportingBB.reportCECaseList.date_end_val)}:" />
                                        </div>
                                        <!--NESTED DATA VALUE INLINE -->
                                        <div class="restrict-data-field-value-inline"
                                             style="color:black;">
                                            <h:outputText value="#{reportingBB.reportCECaseList.caseListOpenAsOfDateEnd.size()}" />
                                            <p:spacer height="2px" />
                                            <div style="margin-left: 20px">
                                                <ui:repeat id="caselist-opendasofeor-uir"
                                                           value="#{reportingBB.reportCECaseList.caseListOpenAsOfDateEnd}"
                                                           var="cse"
                                                           rendered="#{reportingBB.reportCECaseList.includeReportSummary_caseListsForEachSummary}">
                                                    <h:outputText value="ID: #{cse.caseID}" />
                                                    <h:outputText value=" | " />
                                                    <h:outputText value="Addr: #{cse.addressPretty1Line}" />
                                                    <h:outputText value=" | " />
                                                    <h:outputText value="Name: #{cse.caseName}" />
                                                    <p:spacer height="2px" />
                                                </ui:repeat>
                                            </div>
                                        </div>
                                    </div>
                                </f:subview>

                                <f:subview id="metric-summary-newviols"
                                           rendered="#{reportingBB.reportCECaseList.includeSectionReportSummary_newViolations}">

                                    <div class="ui-g-12 ui-md-12 ui-lg-12 restrict-data-field-report" >

                                        <!--NESTED DATA LABEL INLINE -->
                                        <div class="restrict-data-field-label-inline" 
                                             >
                                            <h:outputLabel value="New violations: "/>
                                        </div>
                                        <!--NESTED DATA VALUE INLINE -->
                                        <div class="restrict-data-field-value-inline"
                                             style="color:black;" >
                                            <h:outputText value="#{reportingBB.reportCECaseList.violationsLoggedDateRange.size()}" />
                                            <p:spacer height="2px" />
                                            <div style="margin-left: 20px">
                                                <ui:repeat id="caselist-violsnew-uir"
                                                           value="#{reportingBB.reportCECaseList.violationsLoggedDateRange}"
                                                           var="v"
                                                           rendered="#{reportingBB.reportCECaseList.includeReportSummary_caseListsForEachSummary}">
                                                    <h:outputText value="ID: #{v.violationID}" />
                                                    <h:outputText value=" | " />
                                                    <h:outputText value="Ord: #{v.violatedEnfElement.headerString}" />
                                                    <h:outputText value=" | " />
                                                    <h:outputText value="CseID: #{v.ceCaseID}" />
                                                    <p:spacer height="2px" />
                                                </ui:repeat>
                                            </div>
                                        </div>
                                    </div>
                                </f:subview>

                                <f:subview id="metric-summary-compviol"
                                           rendered="#{reportingBB.reportCECaseList.includeSectionReportSummary_compViol}">

                                    <div class="ui-g-12 ui-md-12 ui-lg-12 restrict-data-field-report" >

                                        <!--NESTED DATA LABEL INLINE -->
                                        <div class="restrict-data-field-label-inline" 
                                             >
                                            <h:outputLabel value="Violations that have come into compliance: "/>
                                        </div>
                                        <!--NESTED DATA VALUE INLINE -->
                                        <div class="restrict-data-field-value-inline"
                                             style="color:black;" >
                                            <h:outputText value="#{reportingBB.reportCECaseList.violationsLoggedComplianceDateRange.size()}" />
                                            <p:spacer height="2px" />
                                            <div style="margin-left: 20px">
                                                <ui:repeat id="caselist-violcomp-uir"
                                                           value="#{reportingBB.reportCECaseList.violationsLoggedComplianceDateRange}"
                                                           var="v"
                                                           rendered="#{reportingBB.reportCECaseList.includeReportSummary_caseListsForEachSummary}">
                                                    <h:outputText value="ID: #{v.violationID}" />
                                                    <h:outputText value=" | " />
                                                    <h:outputText value="Ord: #{v.violatedEnfElement.headerString}" />
                                                    <h:outputText value=" | " />
                                                    <h:outputText value="CseID: #{v.ceCaseID}" />
                                                    <p:spacer height="2px" />
                                                </ui:repeat>
                                            </div>
                                        </div>
                                    </div>
                                </f:subview>

                                <f:subview id="metric-summary-evslogged"
                                           rendered="#{reportingBB.reportCECaseList.includeSectionReportSummary_eventsLogged}">

                                    <div class="ui-g-12 ui-md-12 ui-lg-12 restrict-data-field-report" >

                                        <!--NESTED DATA LABEL INLINE -->
                                        <div class="restrict-data-field-label-inline" 
                                             >
                                            <h:outputLabel value="Number of events logged: "/>
                                        </div>
                                        <!--NESTED DATA VALUE INLINE -->
                                        <div class="restrict-data-field-value-inline"
                                             style="color:black;" >
                                            <h:outputText value="#{reportingBB.reportCECaseList.eventList.size()}" />


                                        </div>
                                    </div>
                                </f:subview>
                            </div>

                            <f:subview id="rptcecaselist-pie-caseclosure"
                                       rendered="#{reportingBB.reportCECaseList.includeSectionReportSummary_closurePieChart}">
                                <div class="report-tb-kpi-container printing-page-break-before">
                                    <div class="ui-g">
                                        <div class="ui-g-6 ui-md-6 ui-lg-6" >
                                            <div class="report-kpi-aggregate-container">
                                                <div class="report-tb-kpi-icon">
                                                    <div class="inline-icon report-icon">
                                                        <i class="material-icons">
                                                            <h:outputText value="door_back"/>
                                                        </i>
                                                    </div>
                                                    <div class="report-tb-kpi-title">
                                                        <h:outputText value="Closed Cases" />
                                                    </div>
                                                    <div class="report-tb-kpi-value">
                                                        <h:outputText value="Total closed count: #{reportingBB.reportCECaseList.caseListClosedInDateRange.size()}" />
                                                    </div>
                                                </div>

                                                <div class="report-legend-container">
                                                    <ui:repeat value="#{reportingBB.reportCECaseList.pieClosureLegend}" 
                                                               var="liclose">
                                                        <div class="report-legend-item">
                                                            <div class="report-legend-colorbox"
                                                                 style="background-color: #{liclose.colorRGBString}; color:#{liclose.colorRGBString}">
                                                                <h:outputText value="color"/>
                                                            </div>
                                                            <div class="report-legend-title">
                                                                <h:outputText value="#{liclose.title}: " />
                                                            </div>
                                                            <div class="report-legend-count">
                                                                <h:outputText value="#{liclose.value}" />
                                                            </div>
                                                        </div>
                                                    </ui:repeat>

                                                </div>
                                            </div>

                                        </div>
                                        <div class="ui-g-6 ui-md-6 ui-lg-6" >
                                            <div class="report-pie-container">
                                                <p:pieChart id="pie-closure"
                                                            model="#{reportingBB.reportCECaseList.pieClosure}" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </f:subview>
                        </f:subview>
                        <f:subview id="sec-codeviolations-subview"
                                   rendered="#{reportingBB.reportCECaseList.includeSectionCodeViolationStatus}">

                            <div class="report-trailblaze-headerbox">
                                <div class="report-trailblaze-headerbox-title">
                                    <h:outputText value="Code Violation Status as of #{reportingBB.getPrettyDateNoTime(reportingBB.reportCECaseList.date_end_val)} " />
                                </div>
                                <div class="report-trailblaze-headerbox-tail">
                                    <h:outputText value=" "/>
                                </div>
                            </div>
                            <div class="report-tb-kpis">
                                <div class="report-tb-kpi-container">
                                    <div class="ui-g">

                                        <div class="ui-g-12 ui-md-12 ui-lg-12" >
                                            <h:outputText value="The following categories pull from all violations entered into the system before #{reportingBB.getPrettyDateNoTime(reportingBB.reportCECaseList.date_end_val)} " />
                                        </div>


                                        <f:subview id="metric-aggcompliance-subview"
                                                   rendered="#{reportingBB.reportCECaseList.includeSectionCodeViolationStatus_compliance}">

                                            <div class="ui-g-12 ui-md-12 ui-lg-12 restrict-data-field-report" >

                                                <!--NESTED DATA LABEL INLINE -->
                                                <div class="restrict-data-field-label-inline" >
                                                    <h:outputLabel value="Compliance achieved: "/>
                                                </div>
                                                <!--NESTED DATA VALUE INLINE -->
                                                <div class="restrict-data-field-value-inline"
                                                     style="color:black;" >
                                                    <h:outputText value="#{reportingBB.reportCECaseList.violationsAccumulatedCompliance.size()}" />
                                                </div>
                                            </div>
                                        </f:subview>


                                        <f:subview id="sec-withincompwindow-subview"
                                                   rendered="#{reportingBB.reportCECaseList.includeSectionCodeViolationStatus_withinWindow}">

                                            <div class="ui-g-12 ui-md-12 ui-lg-12 restrict-data-field-report" >

                                                <!--NESTED DATA LABEL INLINE -->
                                                <div class="restrict-data-field-label-inline" >
                                                    <h:outputLabel value="Within compliance window: "/>
                                                </div>
                                                <!--NESTED DATA VALUE INLINE -->
                                                <div class="restrict-data-field-value-inline"
                                                     style="color:black;" >
                                                    <h:outputText value="#{reportingBB.reportCECaseList.violationsWithinStipCompWindow.size()}" />
                                                </div>
                                            </div>
                                        </f:subview>

                                        <f:subview id="sec-outsidewindow-subview"
                                                   rendered="#{reportingBB.reportCECaseList.includeSectionCodeViolationStatus_expiredWindow}">

                                            <div class="ui-g-12 ui-md-12 ui-lg-12 restrict-data-field-report" >

                                                <!--NESTED DATA LABEL INLINE -->
                                                <div class="restrict-data-field-label-inline" >
                                                    <h:outputLabel value="Requiring ongoing action (but not cited): "/>
                                                </div>
                                                <!--NESTED DATA VALUE INLINE -->
                                                <div class="restrict-data-field-value-inline"
                                                     style="color:black;" >
                                                    <h:outputText value="#{reportingBB.reportCECaseList.violationsOutsideCompWindowNOTCited.size()}" />
                                                </div>
                                            </div>
                                        </f:subview>

                                        <f:subview id="sec-codeviolationscited-subview"
                                                   rendered="#{reportingBB.reportCECaseList.includeSectionCodeViolationStatus_cited}">

                                            <div class="ui-g-12 ui-md-12 ui-lg-12 restrict-data-field-report" >

                                                <!--NESTED DATA LABEL INLINE -->
                                                <div class="restrict-data-field-label-inline" >
                                                    <h:outputLabel value="Violations cited: "/>
                                                </div>
                                                <!--NESTED DATA VALUE INLINE -->
                                                <div class="restrict-data-field-value-inline"
                                                     style="color:black;" >
                                                    <h:outputText value="#{reportingBB.reportCECaseList.violationsNoComplianceButCited.size()}" />
                                                </div>
                                            </div>
                                        </f:subview>
                                    </div>
                                </div>
                            </div>
                        </f:subview>

                        <f:subview id="sec-citaions-subview"
                                   rendered="#{reportingBB.reportCECaseList.includeSectionCitations}">

                            <div class="report-trailblaze-headerbox">
                                <div class="report-trailblaze-headerbox-title">
                                    <h:outputText value="Citations" />
                                </div>
                                <div class="report-trailblaze-headerbox-tail">
                                    <h:outputText value=" "/>
                                </div>
                            </div>
                            <div class="report-tb-kpi-container">
                                <div class="ui-g">
                                    <f:subview id="sec-citaions-citcount-subview"
                                               rendered="#{reportingBB.reportCECaseList.includeSectionCitations_citationsAnyStage}">

                                        <div class="ui-g-12 ui-md-12 ui-lg-12 restrict-data-field-report" >

                                            <!--NESTED DATA LABEL INLINE -->
                                            <div class="restrict-data-field-label-inline" >
                                                <h:outputLabel value="Citations (at any stage) on active cases within the reporting period: "/>
                                            </div>
                                            <!--NESTED DATA VALUE INLINE -->
                                            <div class="restrict-data-field-value-inline"
                                                 style="color:black;" >
                                                <h:outputText value="#{reportingBB.reportCECaseList.citationList.size()}" />
                                            </div>
                                        </div>
                                    </f:subview>
                                </div>
                            </div>
                            <f:subview id="rptcecaselist-pie-citation-subview"
                                       rendered="#{reportingBB.reportCECaseList.includeSectionCitations_pieChart}">
                                <div class="report-tb-kpi-container">
                                    <div class="ui-g">
                                        <div class="ui-g-6 ui-md-6 ui-lg-6" >

                                            <div class="report-kpi-aggregate-container">

                                                <div class="report-tb-kpi-icon">
                                                    <div class="inline-icon report-icon">
                                                        <i class="material-icons">
                                                            <h:outputText value="gavel"/>
                                                        </i>
                                                    </div>

                                                    <div class="report-tb-kpi-title">
                                                        <h:outputText value="Citations by status as of  #{reportingBB.getPrettyDateNoTime(reportingBB.reportCECaseList.date_end_val)}" />
                                                    </div>
                                                    <div class="report-tb-kpi-value">
                                                        <h:outputText value="Total citations as of #{reportingBB.getPrettyDateNoTime(reportingBB.reportCECaseList.date_end_val)}: #{reportingBB.reportCECaseList.citationList.size()}" />
                                                        <p:spacer height="3px" />
                                                        <h:outputText value="The following breakdown may not total #{reportingBB.reportCECaseList.citationList.size()} because only citations with one or more status log entries are tallied."
                                                                      style="font-style: italic; font-size: 0.7em; line-height: normal;" />
                                                    </div>
                                                </div>

                                                <div class="report-legend-container">

                                                    <ui:repeat value="#{reportingBB.reportCECaseList.pieCitationLegend}" 
                                                               var="licite">
                                                        <div class="report-legend-item">
                                                            <div class="report-legend-colorbox"
                                                                 style="background-color: #{licite.colorRGBString}; color:#{licite.colorRGBString}">
                                                                <h:outputText value="color"/>
                                                            </div>
                                                            <div class="report-legend-title">
                                                                <h:outputText value="#{licite.title}: " />
                                                            </div>
                                                            <div class="report-legend-count">
                                                                <h:outputText value="#{licite.value}" />
                                                            </div>
                                                        </div>
                                                    </ui:repeat>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="ui-g-6 ui-md-6 ui-lg-6" >
                                            <div class="report-pie-container">
                                                <p:pieChart id="pie-citation"
                                                            model="#{reportingBB.reportCECaseList.pieCitation}" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </f:subview>
                        </f:subview>

                        <f:subview id="sec-cears-subview"
                                   rendered="#{reportingBB.reportCECaseList.includeSectionCEActionRequestSummary}">

                            <div class="report-trailblaze-headerbox printing-page-break-before">
                                <div class="report-trailblaze-headerbox-title">
                                    <h:outputText value="Code enforcement action request summary" />
                                </div>
                                <div class="report-trailblaze-headerbox-tail">
                                    <h:outputText value=" "/>
                                </div>
                            </div>
                            <div class="report-tb-kpi-container">
                                <div class="ui-g">
                                    <f:subview id="sec-citaions-citcount-subview"
                                               rendered="#{reportingBB.reportCECaseList.includeSectionCitations_citationsAnyStage}">
                                        <div class="ui-g-12 ui-md-12 ui-lg-12 restrict-data-field-report" >
                                            <div class="report-tb-kpi-value">
                                                <h:outputText value="Total requests submitted from #{reportingBB.getPrettyDateNoTime(reportingBB.reportCECaseList.date_start_val)} to #{reportingBB.getPrettyDateNoTime(reportingBB.reportCECaseList.date_end_val)}: " />
                                                <h:outputText value="#{reportingBB.reportCECaseList.cearSummaryBundle.requestsInPeriod.size()}" />
                                            </div>
                                             <h3>
                                                <h:outputText value="Totals by category of action request"
                                                              styleClass="bold" />
                                            </h3>
                                            <p:dataTable id="cearsbyissue-table"
                                                         value="#{reportingBB.reportCECaseList.cearSummaryBundle.issueRowList}"
                                                         var="cearissuerow"
                                                         lazy="true"
                                                         tableStyleClass="primeDataTable report-table"

                                                         >
                                                <p:column width="80%">
                                                    <f:facet name="header">
                                                        <h:outputText value="Category" />
                                                    </f:facet>
                                                    <h:outputText value="#{cearissuerow.issue.name}" />    
                                                </p:column>

                                                <p:column width="20%">
                                                    <f:facet name="header">
                                                        <h:outputText value="Total" />
                                                    </f:facet>
                                                    <h:outputText value="#{cearissuerow.requestList.size()}" />    
                                                    <f:facet name="footer">
                                                        <h:outputText value="Grand total: #{reportingBB.reportCECaseList.cearSummaryBundle.requestsInPeriod.size()}" />
                                                    </f:facet>
                                                </p:column>
                                            </p:dataTable>
                                            
                                            <h3>
                                                <h:outputText value="Totals by enforcement stage"
                                                              styleClass="bold" />
                                            </h3>
                                            
                                            <p:spacer height="3px" />
                                            
                                            <p:dataTable    id="outcome-totals-table"
                                                            value="#{reportingBB.reportCECaseList.cearSummaryBundle.totalByOutcome.entrySet()}" var="entry"
                                                            tableStyleClass="primeDataTable report-table"
                                                            lazy="false">
                                                <p:column headerText="Stage"
                                                          width="80%">
                                                    <h:outputText value="#{entry.key.statusTitle}" />
                                                </p:column>
                                                <p:column headerText="Total"
                                                          width="20%">
                                                    <h:outputText value="#{entry.value}" />
                                                    <f:facet name="footer">
                                                        <h:outputText value="Grand total: #{reportingBB.reportCECaseList.cearSummaryBundle.outcomeTabulatedTotal}" />
                                                    </f:facet>
                                                </p:column>
                                            </p:dataTable>
                                        </div>
                                        <p:spacer height="3px" />
                                        <h:outputText value="Requests submitted before #{reportingBB.getPrettyDateNoTime(reportingBB.reportCECaseList.date_start_val)} which have not yet been reviewed: " />
                                        <h:outputText value="#{reportingBB.reportCECaseList.cearSummaryBundle.unprocessedCEARSBeforeReporting.size()}" />
                                        
                                    </f:subview>
                                </div>
                            </div>
                        </f:subview>

                        <f:subview id="report-streetsummary-subview"
                                   rendered="#{reportingBB.reportCECaseList.includeSectionStreetLevelSummary}">
                            <div class="report-trailblaze-headerbox printing-page-break-before">
                                <div class="report-trailblaze-headerbox-title">
                                    <h:outputText value="Code Enforcement by Street: Summary" />
                                </div>
                                <div class="report-trailblaze-headerbox-tail">
                                    <h:outputText value=" text"/>
                                </div>
                            </div>

                            <p:spacer height="10px" />

                            <p:dataTable id="street-summary-table"
                                         value="#{reportingBB.reportCECaseList.streetContainerList}"
                                         var="streetcont"
                                         draggableColumns="true"
                                         rendered="#{reportingBB.reportCECaseList.includeSectionStreetLevelSummary and !(empty reportingBB.reportCECaseList.streetContainerList)}"
                                         tableStyleClass="primeDataTable report-table">

                                <p:column width="25%">
                                    <f:facet name="header">
                                        <h:outputText value="Street name" />
                                    </f:facet>
                                    <h:outputText value="#{streetcont.streetName}"/>
                                </p:column>

                                <p:column>
                                    <f:facet name="header">
                                        <h:outputText value="New Cases this period" />
                                    </f:facet>
                                    <h:outputText value="#{streetcont.caseOpenedListCountPreDup}"/>
                                </p:column>


                                <p:column>
                                    <f:facet name="header">
                                        <h:outputText value="Continuing cases" />
                                    </f:facet>
                                    <h:outputText value="#{streetcont.caseContinuingListCountPreDup}"/>
                                </p:column>


                                <p:column>
                                    <f:facet name="header">
                                        <h:outputText value="Closed cases" />
                                    </f:facet>
                                    <h:outputText value="#{streetcont.caseClosedListCountPreDup}"/>
                                </p:column>

                            </p:dataTable>

                        </f:subview>


                        <f:subview id="report-casedetails-subview"
                                   rendered="#{reportingBB.reportCECaseList.includeSectionCaseByCaseDetail}">

                            <div class="report-tb-streetlist printing-page-break-before">

                                <div class="report-trailblaze-headerbox">
                                    <div class="report-trailblaze-headerbox-title">
                                        <h:outputText value="Code Enforcement by Street: Detail" />
                                    </div>
                                    <div class="report-trailblaze-headerbox-tail">
                                        <h:outputText value=" text"/>
                                    </div>
                                </div>


                                <ui:repeat id="cases-by-street-uirpt"
                                           value="#{reportingBB.reportCECaseList.streetContainerList}"
                                           var="csc">

                                    <div class="intermediate-report-header">
                                        <h:outputText value="#{csc.streetName}" />
                                    </div>
                                    <div class="report-street-summary">
                                        <h:outputText value="New cases: #{csc.caseOpenedList.size()} | Continuing cases: #{csc.caseContinuingList.size()} | Closed cases: #{csc.caseClosedList.size()}" />
                                    </div>

                                    <tt:cecaseDetailReport value="#{csc.caseOpenedList}"
                                                           cecaseprefix="Opened"
                                                           rendered="true"
                                                           />

                                    <p:spacer height="3px" />

                                    <tt:cecaseDetailReport value="#{csc.caseContinuingList}"
                                                           cecaseprefix="Continuing"
                                                           rendered="true"
                                                           />

                                    <p:spacer height="3px" />

                                    <tt:cecaseDetailReport value="#{csc.caseClosedList}"
                                                           cecaseprefix="Closed"
                                                           rendered="true"
                                                           />
                                </ui:repeat>
                            </div>
                        </f:subview>
                    </h:form>
                </div>
            </ui:define>
        </ui:composition>
    </h:body>
</html>

