<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:tt="http://xmlns.jcp.org/jsf/composite/components">
    <h:head>
        <link rel="stylesheet" type="text/css" href="css/style.css"></link>
        <title>Occupancy Permit</title>
    </h:head>
    <h:body>
        <ui:composition template="./../report_template_permit.xhtml">
            <ui:define name="print-content">
                <h:form id="permit-draft-form">
                    <div class="occpermit-borderbox">
                        <tt:permitStaticFieldsForReviewAndPrint     id="occpermit-print-staticfields-tt"
                                                                    permit="#{reportingBB.reportConfigOccPermit.permit}"
                                                                displayeditcontrols="#{false}" />
                    </div>
                </h:form>
            </ui:define>
        </ui:composition>
    </h:body>
</html>

