<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <link rel="stylesheet" type="text/css" href="css/style.css"></link>
        <title>Field Inspection Report</title>
    </h:head>
    <h:body>
        <ui:composition template="./../report_template_occinsp.xhtml">
            <ui:define name="report-header">
                <f:view id="report-header">
                    <div class="flexing-box-topbar">
                        <div class="logoBox">
                            <div class="logo-image-wrapper">
                                <p:graphicImage     id="report-headerphoto"
                                                    value="#{blobsterBB.image}"
                                                    alt="no preview available" 
                                                    width="#{reportingBB.headerImageWidthPx}"
                                                    cache="true"
                                                    rendered="#{!empty reportingBB.headerImageBlob}">
                                    <f:param name="blobid" value="#{reportingBB.headerImageBlob.photoDocID}"/>
                                </p:graphicImage>

                            </div>
                        </div>
                    </div>
                </f:view>
            </ui:define>
            <p:spacer height="5px" style="clear:both;" />
            <ui:define name="print-content">

                <f:view id="report-inspection-view">
                    <h:form id="report-inspection-form">

                        <h1 style="clear:both;">Field Inspection Report</h1>

                        <div class="p-grid nested-grid">
                            <div class="p-col-6">
                                <h2>Property Details</h2>
                                <h:outputText styleClass="occperiod-address" 
                                              value="#{reportingBB.reportConfigFieldInspection.inspectedProperty.address.addressPretty2LineEscapeFalse}"
                                              escape="false"/>
                                <p:spacer height="3px" />

                                <div class="p-grid">
                                    <div class="p-col-4">
                                        <div class="restrict-data-field-label-inline" >                                                
                                            <h:outputText value="Parcel ID:" />
                                        </div>
                                    </div>
                                    <div class="p-col-8">
                                        <h:outputText value="#{reportingBB.reportConfigFieldInspection.inspectedProperty.countyParcelID}" />
                                    </div>

                                </div>
                            </div>
                            <div class="p-col-6">

                                <f:subview id="fir-unit-subview"
                                           rendered="#{not empty reportingBB.reportConfigFieldInspection.inspectedUnit}" >

                                    <h2>Unit Details</h2>
                                    <div class="p-grid">
                                        <div class="p-col-4">
                                            <div class="restrict-data-field-label-inline" >

                                                <h:outputText value="Unit Number: " />
                                            </div>
                                        </div>
                                        <div class="p-col-8">
                                            <h:outputText value="#{reportingBB.reportConfigFieldInspection.inspectedUnit.unitNumber}"
                                                          rendered="true" />
                                        </div>
                                        <div class="p-col-4">
                                            <div class="restrict-data-field-label-inline" >
                                                <h:outputText value="Internal Unit ID: "/>
                                            </div>
                                        </div>
                                        <div class="p-col-8">
                                            <h:outputText value="#{reportingBB.reportConfigFieldInspection.inspectedUnit.unitID}" />
                                        </div>
                                    </div>
                                </f:subview>
                            </div>
                        </div>

                        <f:subview id="fir-owner-subview"
                                   rendered="#{reportingBB.reportConfigFieldInspection.includeOwnerInfo and !(empty reportingBB.reportConfigFieldInspection.personLinkList)}">
                            <h2>Person Connections</h2>
                            <div class="p-grid">
                                <ui:repeat id="fir-personlinks-uir"
                                           value="#{reportingBB.reportConfigFieldInspection.personLinkList}"
                                           var="persLink">
                                    <div class="p-col-3">

                                        <h:outputText value="#{persLink.name}" 
                                                      styleClass="bold"/>
                                        <p:spacer height="2px" />
                                        <h:outputText value="(#{persLink.linkedObjectRole.title})" />
                                        <f:subview id="fir-owner-addresses-subview"
                                                   rendered="#{reportingBB.reportConfigFieldInspection.includeOwnerAddresses}">
                                            <p:spacer height="2px" />
                                            <ui:repeat id="fir-owner-addresses-uir"
                                                       value="#{persLink.mailingAddressLinkList}"
                                                       var="pladdr">
                                                <h:outputText value="#{pladdr.addressPretty2LineEscapeFalse}" 
                                                              escape="false"/>
                                                <p:spacer height="2px" />
                                            </ui:repeat>
                                        </f:subview>

                                        <f:subview id="fir-owner-phones-subview"
                                                   rendered="#{reportingBB.reportConfigFieldInspection.includeOwnerPhones}">
                                            <p:spacer height="2px" />
                                            <ui:repeat id="fir-owner-phones-uir"
                                                       value="#{persLink.phoneList}"
                                                       var="plphone">
                                                <h:outputText value="#{plphone.phoneNumber}" />
                                                <h:outputText value=" (#{plphone.phoneType.title})" />
                                                <p:spacer height="2px" />
                                            </ui:repeat>
                                        </f:subview>

                                        <f:subview id="fir-owner-emails-subview"
                                                   rendered="#{reportingBB.reportConfigFieldInspection.includeOwnerEmails}">
                                            <p:spacer height="2px" />
                                            <ui:repeat id="fir-owner-phones-uir"
                                                       value="#{persLink.emailList}"
                                                       var="plemail">
                                                <h:outputText value="#{plemail.emailaddress}" />
                                                <p:spacer height="2px" />
                                            </ui:repeat>
                                        </f:subview>
                                        <p:spacer height="3px" />
                                    </div>
                                </ui:repeat>
                            </div>
                        </f:subview>

                        <p:spacer height="3px" />

                        <h2>Inspection Details</h2>

                        <div class="p-grid">
                            <div class="p-col-3">
                                <div class="restrict-data-field-label-inline" >
                                    <h:outputLabel value="Inspector: "/>
                                </div>
                            </div>
                            <div class="p-col-3">
                                <div class="restrict-data-field-value-inline" >
                                    <h:outputText value="#{reportingBB.reportConfigFieldInspection.inspection.inspector.human.name}" />
                                </div>
                            </div>

                            <div class="p-col-3">
                                <div class="restrict-data-field-label-inline" >
                                    <h:outputLabel value="Municipality:"/>
                                </div>

                            </div>
                            <div class="p-col-3">
                                <div class="restrict-data-field-value-inline" >
                                    <h:outputText value="#{reportingBB.reportConfigFieldInspection.muni.muniName}" />
                                </div>

                            </div>
                            <div class="p-col-3">
                                <div class="restrict-data-field-label-inline" >
                                    <h:outputText value="Inspection Date:" />
                                </div>

                            </div>
                            <div class="p-col-3">
                                <div class="restrict-data-field-value-inline" >
                                    <h:outputText value="#{reportingBB.getPrettyLocalDate(reportingBB.reportConfigFieldInspection.inspection.inspectionDate)}" />
                                </div>

                            </div>

                            <div class="p-col-3">
                                <div class="restrict-data-field-label-inline" >
                                    <h:outputText value="Determination" />
                                </div>
                            </div>
                            <div class="p-col-3">
                                <div class="restrict-data-field-value-inline" >
                                    <h:outputText value="#{reportingBB.reportConfigFieldInspection.inspection.determination.titleWithOutcome}" />
                                </div>
                            </div>
                            <f:subview id="fin-time-start-subview"
                                       rendered="#{not empty reportingBB.reportConfigFieldInspection.inspection.inspectionTimeStart}">
                                <div class="p-col-3">
                                    <div class="restrict-data-field-label-inline" >
                                        <h:outputText value="Start Time:" />
                                    </div>
                                </div>
                                <div class="p-col-3">
                                    <div class="restrict-data-field-value-inline" >
                                        <h:outputText value="#{reportingBB.getPrettyTime(reportingBB.reportConfigFieldInspection.inspection.inspectionTimeStart)}" />
                                    </div>
                                </div>

                                <div class="p-col-3">
                                    <div class="restrict-data-field-label-inline" >
                                        <h:outputText value="End Time:" />
                                    </div>
                                </div>
                                <div class="p-col-3">
                                    <div class="restrict-data-field-value-inline" >
                                        <h:outputText value="#{reportingBB.getPrettyTime(reportingBB.reportConfigFieldInspection.inspection.inspectionTimeEnd)}" />
                                    </div>
                                </div>

                            </f:subview>

                            <div class="p-col-3">
                                <div class="restrict-data-field-label-inline" >
                                    <h:outputText value="Cause of Inspection" />
                                </div>
                            </div>
                            <div class="p-col-3">
                                <div class="restrict-data-field-value-inline" >
                                    <h:outputText value="#{reportingBB.reportConfigFieldInspection.inspection.cause.title}" />
                                </div>
                            </div>


                            <div class="p-col-3">
                                <div class="restrict-data-field-label-inline" >
                                    <h:outputText value="Checklist:" />
                                </div>
                            </div>
                            <div class="p-col-3">
                                <div class="restrict-data-field-value-inline" >
                                    <h:outputText value="#{reportingBB.reportConfigFieldInspection.inspection.checklistTemplate.title}" />
                                </div>
                            </div>



                            <div class="p-col-3">
                                <div class="restrict-data-field-label-inline" >
                                    <h:outputText value="Pre-Inspection Notes" />
                                </div>
                            </div>
                            <div class="p-col-3">
                                <div class="restrict-data-field-value-inline" >
                                    <h:outputText value="#{reportingBB.reportConfigFieldInspection.inspection.notesPreInspection}" 
                                                  escape="false"/>
                                </div>
                            </div>

                            <div class="p-col-3">
                                <div class="restrict-data-field-label-inline" >
                                    <h:outputText value="General Comments" />
                                </div>
                            </div>
                            <div class="p-col-3">
                                <div class="restrict-data-field-value-inline" >
                                    <h:outputText value="#{reportingBB.reportConfigFieldInspection.inspection.generalComments}" 
                                                  escape="false"/>
                                </div>
                            </div>

                            <div class="p-col-3">
                                <div class="restrict-data-field-label-inline" >
                                    <h:outputText value="Inspection ID" />
                                </div>

                            </div>
                            <div class="p-col-3">
                                <div class="restrict-data-field-value-inline" >
                                    <h:outputText value="#{reportingBB.reportConfigFieldInspection.inspection.inspectionID}" />
                                </div>

                            </div>

                        </div>

                        <f:subview id="fir-bedbathocc-subview"
                                   rendered="#{reportingBB.reportConfigFieldInspection.includeBedBathOccCounts}" >
                            <div class="p-grid">
                                <div class="p-col-4">
                                    <div class="restrict-data-field-label-inline" >
                                        <h:outputText value="# Bedrooms" />
                                    </div>
                                </div>
                                <div class="p-col-8">
                                    <h:outputText value="#{reportingBB.reportConfigFieldInspection.inspection.numBedrooms}" />
                                </div>

                                <div class="p-col-4">
                                    <div class="restrict-data-field-label-inline" >
                                        <h:outputText value="# Bathrooms" />
                                    </div>
                                </div>
                                <div class="p-col-8">
                                    <h:outputText value="#{reportingBB.reportConfigFieldInspection.inspection.numBathrooms}" />
                                </div>

                                <div class="p-col-4">
                                    <div class="restrict-data-field-label-inline" >
                                        <h:outputText value="Max Occupants Allowed" />
                                    </div>
                                </div>
                                <div class="p-col-8">
                                    <h:outputText value="#{reportingBB.reportConfigFieldInspection.inspection.maxOccupantsAllowed}" />
                                </div>

                                <div class="p-col-4">
                                    <h:outputText value=" " />
                                </div>
                                <div class="p-col-8">
                                    <h:outputText value=" " />
                                </div>
                            </div>
                        </f:subview>


                        <f:subview id="fir-spacesummary-subview"
                                   rendered="#{reportingBB.reportConfigFieldInspection.includeSpaceSummaryTable}" >


                            <h2 class="printing-page-break-before">Space summary</h2>

                            <p:dataTable id="space-summary-table"
                                         var="inspace"
                                         value="#{reportingBB.reportConfigFieldInspection.inspection.inspectedSpaceList}"
                                         rowKey="#{inspace.inspectedSpaceID}"
                                         tableStyleClass="primeDataTable">

                                <p:column headerText="Space"
                                          width="10%" >
                                    <h:outputText value="#{inspace.type.spaceTypeTitle}" />
                                </p:column>

                                <p:column headerText="Floor"
                                          width="5%" >
                                    <h:outputText value=" Floor: #{inspace.floorNumber}"
                                                  rendered="#{inspace.floorNumber ne 0}" />
                                </p:column>

                                <p:column headerText="Location"
                                          width="10%" >
                                    <h:outputText value="#{inspace.locationString}"
                                                  rendered="#{not empty inspace.locationString}" />
                                </p:column>
                                <p:column headerText="Size"
                                          width="10%" >
                                    <h:outputText value="#{inspace.spaceTotalSqFt} ft&#178;" escape="false"
                                                  rendered="#{inspace.displayTotalSqFt}"/>
                                    <f:facet name="footer">
                                        <h:outputText value="Total: #{reportingBB.reportConfigFieldInspection.inspection.totalInspectedSqFt} ft&#178;"  escape="false"/>
                                    </f:facet>
                                </p:column>

                                <p:column headerText="Max occupancy"
                                          width="10%" >
                                    <h:outputText value="#{inspace.maxOccPersons}" 
                                                  rendered="#{inspace.maxOccPersons ne 0}"/>
                                    <f:facet name="footer">
                                        <h:outputText value="Total: #{reportingBB.reportConfigFieldInspection.inspection.totalOccupancyCount}" />
                                    </f:facet>
                                </p:column>

                                <p:column headerText="Max sleeping"
                                          width="10%" >
                                    <h:outputText value="#{inspace.maxSleepingPersons}" 
                                                  rendered="#{inspace.maxSleepingPersons ne 0}"/>
                                    <f:facet name="footer">
                                        <h:outputText value="Total: #{reportingBB.reportConfigFieldInspection.inspection.totalSleepingPersonMax}" />
                                    </f:facet>
                                </p:column>
                                <p:column headerText="Egress count"
                                          width="10%" >
                                    <h:outputText value="#{inspace.egressCount}" 
                                                  rendered="#{inspace.egressCount ne 0}"/>
                                    <f:facet name="footer">
                                        <h:outputText value="Total: #{reportingBB.reportConfigFieldInspection.inspection.totalEgressCount}"/>
                                    </f:facet>
                                </p:column>

                                <p:column headerText="Violated ordinances"
                                          width="35%" >
                                    <ui:repeat id="finreport-spaceele-uir-fail"
                                               value="#{inspace.elementListFail}"
                                               var="ele_fail">
                                        <div class="p-col-12">
                                            <div class="inspection-fail">

                                                <h:outputText value="- #{ele_fail.headerString}"
                                                              escape="false"/>
                                            </div>

                                        </div>
                                    </ui:repeat>   
                                    <f:facet name="footer">
                                        <h:outputText value="#{reportingBB.reportConfigFieldInspection.inspection.totalViolatedOrdCount} total violated ordinances"  escape="false"/>
                                    </f:facet>

                                </p:column>
                                
                            </p:dataTable>
                        </f:subview>


                        <h2 class="printing-page-break-before">Inspection Results</h2>

                        <p:dataScroller
                            id="scroller-inspectedspacelist"
                            widgetVar="var-scroller-inspectedspacelist"
                            var="inspace"
                            value="#{reportingBB.reportConfigFieldInspection.inspection.inspectedSpaceListVisible}"
                            rowIndexVar="#{inspace.inspectedSpaceID}">

                            <div class="occinsspace-metadata-container">

                                <div class="occperiod-inspace-header">
                                    <h:outputText styleClass="data-text" value="#{inspace.type.spaceTypeTitle}" />
                                </div>
                                <div class="occperiod-inspace-info">

                                    <f:subview id="occperiod-inspace-info-location-subview"
                                               rendered="#{not inspace.location.defaultLocation and reportingBB.reportConfigFieldInspection.includeInspectedSpaceLocation}">
                                        <h:outputText value="Location: " /> 
                                        <h:outputText value="#{inspace.location.locationString1Line}" /> 
                                    </f:subview>
                                    <f:subview id="occperiod-inspace-info-locationstring-subview"
                                               rendered="#{reportingBB.reportConfigFieldInspection.includeInspectedSpaceLocation}">
                                        <h:outputText value=" Floor: #{inspace.floorNumber}"
                                                      rendered="#{inspace.floorNumber ne 0}" />
                                        <h:outputText value=" (#{inspace.locationString})"
                                                      rendered="#{not empty inspace.locationString}" />
                                    </f:subview>
                                   
                                    <f:subview id="occperiod-inspace-info-notes-subview"
                                               rendered="#{reportingBB.reportConfigFieldInspection.includeSpaceNotes}">
                                        <p:spacer height="3px" />
                                        <h:outputText value="#{inspace.notes}"
                                                      rendered="#{not empty inspace.notes}" 
                                                      escape="false"/>
                                        
                                    </f:subview>
                                </div>                                                
                            </div>

                            <p:spacer height="5px" />
                            <p:dataScroller
                                id="scroller-inspectedspacelist-elementlist"
                                widgetVar="var-scroller-inspectedspacelist-elementlist"
                                var="inelement"
                                value="#{inspace.inspectedElementListVisible}"
                                rowIndexVar="#{inelement.inspectedSpaceElementID}">

                                <div class="occperiod-inelement-header">
                                    <h:outputText  styleClass="data-text" 
                                                   value="#{inelement.headerString}" 
                                                   escape="false"/>
                                </div>

                                <p:spacer height="5px" />

                                <div class="p-grid nested-grid">
                                    <div class="p-col-12">
                                        <div class="restrict-data-field-label-inline" >
                                            <h:outputText value="Item Status:" />
                                        </div>
                                        <h:outputText value="#{inelement.status.statusEnum.label}" />
                                    </div>

                                    <f:subview      id="fin-inspectedspace-subview-ordtext"
                                                    rendered="#{reportingBB.reportConfigFieldInspection.includeFullOrdText}">
                                        <div class="p-col-12">
                                            <div class="restrict-data-field-label-inline" >
                                                <h:outputText value="Ordinance text" />
                                            </div>
                                            <h:outputText styleClass="italic" value="#{inelement.ordTechnicalText}" escape="false"/>
                                        </div>
                                    </f:subview>

                                    <f:subview      id="fin-inspectedspace-subview-findings"
                                                    rendered="#{(!(empty inelement.inspectionNotes)) and reportingBB.reportConfigFieldInspection.includeOrdinanceFindings}">
                                        <div class="p-col-12">
                                            <h:outputText styleClass="restrict-data-field-label-inline" value="Findings: " />
                                            <h:outputText  styleClass="data-text" 
                                                           value="#{inelement.inspectionNotes}" 
                                                           escape="false"/>
                                        </div>
                                    </f:subview>

                                    <f:subview      id="occperiod-inspectedspace-subview-compliancedata"
                                                    rendered="#{reportingBB.reportConfigFieldInspection.includeOrdinanceInspectionTimestamps}">
                                        <div class="p-col-6">
                                            <h:outputText value="Inspected: " 
                                                          styleClass="restrict-data-field-label-inline"/>
                                            <h:outputText value="#{reportingBB.getPrettyDate(inelement.lastInspectedTS)}" />
                                        </div>
                                        <div class="p-col-6">
                                            <h:outputText value="Compliance: " 
                                                          styleClass="restrict-data-field-label-inline"/>
                                            <h:outputText value="#{reportingBB.getPrettyDate(inelement.complianceGrantedTS)}" 
                                                          rendered="#{!empty inelement.complianceGrantedTS}"/>
                                            <h:outputText value="[no compliance]" 

                                                          rendered="#{empty inelement.complianceGrantedTS}"/>
                                        </div>
                                    </f:subview>
                                </div>

                                <f:subview id="fir-element-photos-subview"
                                           rendered="#{(reportingBB.reportConfigFieldInspection.includePhotos_pass and (!empty inelement.complianceGrantedTS)) 
                                                       or (reportingBB.reportConfigFieldInspection.includePhotos_fail and (empty inelement.complianceGrantedTS)) and inelement.blobList.size() ne 0}">
                                    <h3>
                                        <h:outputText value="Photos (#{inelement.blobList.size()})" />
                                    </h3>

                                    <ui:repeat value="#{inelement.blobList}"
                                               var="blobord" >
                                        <h4>
                                            <h:outputText value=" Photo ID:#{blobord.photoDocID}"
                                                          rendered="#{reportingBB.reportConfigFieldInspection.includePhotoIDs}"/>

                                            <h:outputText value=": #{blobord.title}"
                                                          rendered="#{reportingBB.reportConfigFieldInspection.includePhotoTitles}"/>
                                        </h4>
                                        <h:outputText value="Description: #{blobord.description}"
                                                      rendered="#{reportingBB.reportConfigFieldInspection.includePhotoDescriptions and blobord.description ne ''}"
                                                      />
                                        <p:spacer height="3px" />
                                        <h:outputText value="Filename: #{blobord.filename}"
                                                      rendered="#{reportingBB.reportConfigFieldInspection.includePhotoOriginalFileNames}"
                                                      />
                                        <p:spacer height="3px" />

                                        <p:graphicImage value="#{blobsterBB.image}"
                                                        alt="no preview available" 
                                                        style="width: #{reportingBB.reportConfigFieldInspection.unifiedPhotoWidth}px" 
                                                        cache="true"
                                                        rendered="#{blobord.type.browserViewable}">
                                            <f:param name="blobid" value="#{blobord.photoDocID}"/>
                                        </p:graphicImage>

                                        <h:outputText value="no preview available; download to view"
                                                      rendered="#{!blobord.type.browserViewable}" />
                                        <p:divider />
                                    </ui:repeat>
                                </f:subview>
                                <p:divider />
                            </p:dataScroller>
                        </p:dataScroller>

                        <f:subview id="fin-additionalphotos-subview"
                                   rendered="#{reportingBB.reportConfigFieldInspection.includeOverallInspectionPhotos}" >
                            <h2>
                                <h:outputText value="Overall inspection photos (#{reportingBB.reportConfigFieldInspection.inspection.blobList.size()})" />
                            </h2>
                            <ui:repeat value="#{reportingBB.reportConfigFieldInspection.inspection.blobList}"
                                       var="blobins" >

                                <h4>
                                    <h:outputText value="#{blobins.title}"
                                                  rendered="#{reportingBB.reportConfigFieldInspection.includePhotoTitles}"/>
                                    <h:outputText value=" (ID:#{blobins.photoDocID})"
                                                  rendered="#{reportingBB.reportConfigFieldInspection.includePhotoIDs}"/>
                                </h4>
                                <h:outputText value="Description: #{blobins.description}"
                                              rendered="#{reportingBB.reportConfigFieldInspection.includePhotoDescriptions}"
                                              />
                                <p:spacer height="3px" />
                                <h:outputText value="Filename: #{blobins.filename}"
                                              rendered="#{reportingBB.reportConfigFieldInspection.includePhotoOriginalFileNames}"
                                              />
                                <p:spacer height="3px" />

                                <p:graphicImage value="#{blobsterBB.image}"
                                                alt="no preview available" 
                                                style="width: #{reportingBB.reportConfigFieldInspection.unifiedPhotoWidth}px" 
                                                cache="true"
                                                rendered="#{blobins.type.browserViewable}">
                                    <f:param name="blobid" value="#{blobins.photoDocID}"/>
                                </p:graphicImage>

                                <h:outputText value="no preview available; download to view"
                                              rendered="#{!blobins.type.browserViewable}" />
                                <p:divider />
                            </ui:repeat>
                        </f:subview>
                    </h:form>
                </f:view>
            </ui:define>
        </ui:composition>
    </h:body>
</html>

