<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns="http://www.w3.org/1999/xhtml">

    <div class="page-links">
        <div class="restrict-main-contents-io-link link-button">
            <a href="#propinfo-panel-info">property info</a>
        </div>

        <h:outputText value=" | " />

        <div class="restrict-main-contents-io-link link-button">
            <a href="#prop-cases-panel">
                <h:outputText value="code enf cases (#{propertyProfileBB.currentProperty.ceCaseList.size()})" />
            </a>
        </div>

        <div class="restrict-main-contents-io-link link-button">
            <a href="#prop-periods-panel">
                <h:outputText value="occupancy periods (#{propertyProfileBB.currentProperty.completePeriodList.size()})" />
            </a>
        </div>

        <h:outputText value=" | " />

        <div class="restrict-main-contents-io-link link-button">
            <a href="#prop-units-panel">
                <h:outputText value="units (#{propertyProfileBB.currentProperty.unitWithListsList.size()})" />
            </a>
        </div>

        <h:outputText value=" | " />

        <div class="restrict-main-contents-io-link link-button">
            <a href="#prop-persons-panel">
                <h:outputText value="persons (#{propertyProfileBB.currentProperty.humanLinkList.size()})" />
            </a>
        </div>

        <h:outputText value=" | " />

        <div class="restrict-main-contents-io-link link-button">
            <a href="#prop-events-panel">
                <h:outputText value="events (#{propertyProfileBB.currentProperty.eventList.size()})" />
            </a>
        </div>

        <h:outputText value=" | " />


        <div class="restrict-main-contents-io-link link-button">
            <a href="#propinfo-notes-panel">notes</a>
        </div>

        <h:outputText value=" | " />


        <div class="restrict-main-contents-io-link link-button">
            <a href="#prop-blobs-panel">docs and photos</a>
        </div>
        <h:outputText value=" | " />


        <div class="restrict-main-contents-io-link link-button">
            <a href="#prop-extinfo-panel">external data</a>
        </div>
    </div>



</ui:composition>
