<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns="http://www.w3.org/1999/xhtml">



    <p:panel id="propinfo-notes-panel"
             toggleable="true"
             collapsed="false"
             header="Property Notes"
             rendered="true"
             > 
        <h:form id="propinfo-notes-form">
            <h:messages id="propinfo-notes-messages"
                        globalOnly="true" showDetail="true" showSummary="true"
                        warnClass="msgWarn" infoClass="msgInfo" fatalClass="msgFatal" errorClass="msgError">
            </h:messages>

            <div class="ui-g data-container">
                <p:commandButton   id="propinfo-notes-add-button"
                                   rendered="#{systemServicesBB.bbSessionUser.keyCard.hasMuniReaderPermissions}"
                                   value="Add New Note"  
                                   icon="pi pi-paperclip"
                                   actionListener="#{propertyProfileBB.onParcelNoteAppendInit}"
                                   disabled="false"
                                   oncomplete="PF('propinfo-notes-dialog-var').show()"
                                   update="propinfo-note-create-form" />
            </div>
            <p:spacer height="5px" />
            <div    id="propinf-ot-notes-div"
                    class="data_field"
                    style="clear:both;">
                <h:outputLabel  styleClass="data_field_label"
                                for="propinfo-ot-notes"
                                value="Notes"/>

                <h:outputText   id="propinfo-ot-notes"
                                styleClass="data_field_value"
                                value="#{propertyProfileBB.currentProperty.notes}"
                                escape="false"/>
            </div>

        </h:form>
    </p:panel>


    <p:dialog   id="propinfo-notes-dialog"
                height="450" width="750"
                widgetVar="propinfo-notes-dialog-var"
                closable="true"
                dynamic="true"
                closeOnEscape="true"
                header="Append note to Property with parcelkey #{propertyProfileBB.currentProperty.parcelKey}"
                rendered="#{systemServicesBB.bbSessionUser.keyCard.hasMuniReaderPermissions}"
                >

        <h:form id="propinfo-note-create-form">

            <h:messages id="propinfo-dialog-note-messages"
                        globalOnly="true" showDetail="true" showSummary="true"
                        warnClass="msgWarn" infoClass="msgInfo" fatalClass="msgFatal" errorClass="msgError">
            </h:messages>


            <h:outputText styleClass="ui-label" value="Note text: (Your name and date are automatically included) "/>
            <p:spacer height="5px" />
            <p:inputTextarea   id="propinfo-notes-editor"
                               value="#{propertyProfileBB.formNoteText}"
                               required="false"
                               rows="5"
                               cols="40"
                               />


            <p:spacer height="5px" />

            <p:commandButton   id="propinfo-dialog-notes-button-addnote"
                               ajax="true" 
                               actionListener="#{propertyProfileBB.onParcelNoteAppendCommit}"
                               oncomplete="PF('propinfo-notes-dialog-var').hide()"
                               rendered="#{systemServicesBB.bbSessionUser.keyCard.hasMuniStaffPermissions}"                                                                               
                               value="Attach Note"  
                               styleClass="inline-button"
                               icon="pi pi-save"
                               update="propinfo-notes-form
                               property-messages-global"/>
            <div class="gray_button">
                <p:commandButton    id="propinfo-updatemetadata-button-cancel"
                                    ajax="true"  tabindex="27"
                                    value="Cancel"
                                    icon="pi pi-arrow-left"
                                    immediate="true"
                                    onclick="PF('propinfo-notes-dialog-var').hide()"
                                    />
            </div>
        </h:form>
    </p:dialog>
</ui:composition>
