<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns="http://www.w3.org/1999/xhtml">


    <p:panel id="parcel-advanced-panel"
             toggleable="true"
             collapsed="true"
             header="Advanced fields for parcel ID: #{propertyProfileBB.currentProperty.parcelKey}"
             rendered="true"
             >
        <h:form id="parcel-advanced-form">
            <div class="p-grid">
                <div class="p-col-4  restrict-data-field-label-inline">
                    <h:outputText value="Municipality" />
                </div>
                <div class="p-col-8 restrict-data-field-value-inline">
                    <h:outputText value="#{propertyProfileBB.currentProperty.muni.muniName} (Muni Code:#{propertyProfileBB.currentProperty.muni.muniCode}) "/>
                </div>
                <div class="p-col-4 restrict-data-field-label-inline">
                    <h:outputText value="InternalID" />
                </div>
                <div class="p-col-8 restrict-data-field-value-inline">
                    <h:outputText value="#{propertyProfileBB.currentProperty.propertyID} "/>
                </div>

                <div class="p-col-4 restrict-data-field-label-inline">
                    <h:outputText value="Property Source" />
                </div>
                <div class="p-col-8 re">
                    <h:outputText value="#{propertyProfileBB.currentProperty.source.title} "
                                  rendered="#{!propertyProfileBB.currentPropertyEditMode}" />

                    <h:selectOneMenu id="property-id-source-som"
                                     value="#{propertyProfileBB.currentProperty.source}" style="width:175px;height:25px"
                                     rendered="#{propertyProfileBB.currentPropertyEditMode}" >

                        <f:converter converterId="bobSourceConverter"/>

                        <f:selectItem itemLabel="select a source..." noSelectionOption="true" />

                        <f:selectItems id="parcel-info-source-selitems"
                                       value="#{propertyProfileBB.sourceList}"
                                       var="bs" itemValue="#{bs}" itemLabel="#{bs.title}"/>

                    </h:selectOneMenu>
                </div>

                <div class="p-col-4 restrict-data-field-label-inline">
                    <h:outputText value="Created" />
                </div>
                <div class="p-col-8 restrict-data-field-value-inline">
                    <h:outputText value="#{propertyProfileBB.getPrettyDate(propertyProfileBB.currentProperty.createdTS)} "
                                  rendered="#{!empty propertyProfileBB.currentProperty.createdBy}"/>
                    <p:spacer height="3px" />
                    <h:outputText value="by #{propertyProfileBB.currentProperty.createdBy.human.name} (#{propertyProfileBB.currentProperty.createdBy.username})"
                                  rendered="#{!empty propertyProfileBB.currentProperty.createdBy}"/>
                </div>

                <div class="p-col-4 restrict-data-field-label-inline">
                    <h:outputText value="Last Updated" />
                </div>
                <div class="p-col-8 restrict-data-field-value-inline">
                    <h:outputText value="#{propertyProfileBB.getPrettyDate(propertyProfileBB.currentProperty.lastUpdatedTS)}" 
                                  rendered="#{!empty propertyProfileBB.currentProperty.lastUpdatedBy}"/>

                    <p:spacer height="3px" />
                    <h:outputText value="by #{propertyProfileBB.currentProperty.lastUpdatedBy.human.name} (#{propertyProfileBB.currentProperty.lastUpdatedBy.username})"
                                  rendered="#{!empty propertyProfileBB.currentProperty.lastUpdatedBy}"/>
                </div>
                <div class="p-col-4 restrict-data-field-label-inline">
                    <h:outputText value="Record status" />
                    <p:spacer height="3px" />
                    <div class="restrict-main-contents-io-link">

                        <p:commandLink id="property-deac-init-cb"
                                       ajax="true"
                                       actionListener="#{propertyProfileBB.onPropertyDeacInit}"
                                       oncomplete="PF('property-deac-dialog-var').show();"
                                       update="property-deac-dialog"
                                       value="deactivate property"
                                       rendered="#{systemServicesBB.bbSessionUser.keyCard.hasSysAdminPermissions}"
                                       disabled="#{propertyProfileBB.currentPropertyEditMode or !empty propertyProfileBB.currentProperty.deactivatedTS}"/>
                    </div>
                </div>
                <div class="p-col-8 restrict-data-field-value-inline">
                    <h:outputText value="Active record" 
                                  rendered="#{empty propertyProfileBB.currentProperty.deactivatedTS}"/>

                    <h:outputText value="DEACTIVATED record" 
                                  rendered="#{!empty propertyProfileBB.currentProperty.deactivatedTS}"/>

                    <h:outputText value="#{propertyProfileBB.getPrettyDate(propertyProfileBB.currentProperty.deactivatedTS)}" 
                                  rendered="#{!empty propertyProfileBB.currentProperty.deactivatedTS}"/>

                    <p:spacer height="3px" />
                    <h:outputText value="by #{propertyProfileBB.currentProperty.deactivatedBy.human.name} (#{propertyProfileBB.currentProperty.deactivatedBy.username})"
                                  rendered="#{!empty propertyProfileBB.currentProperty.deactivatedBy}"/>
                </div>
            </div>
        </h:form>
    </p:panel>
    <p:dialog id="property-deac-dialog"
              width="550" height="600"
              header="Deactivate property"
              widgetVar="property-deac-dialog-var"
              closable="true"
              resizable="true"
              dynamic="true"
              closeOnEscape="true"
              modal="true"
              rendered="true">

        <h:form id="property-deac-form">
            <div class="p-grid">
                <div class='p-col-12'>
                    <h2>Irreversible action warning!</h2>
                    <p>This action can only be undone by a database dev, and they will grumble while doing so. Properties to deac must not have any active cases or permit files.</p>
                    <p>All events and blobs and info bundles will be deactivated. Associated action requests will NOT be deactivated</p>
                </div>
                <div class='p-col-12'>
                    <h3>Deactivation audit log</h3>
                    <h:outputText value="#{propertyProfileBB.currentProperty.deactivationAuditLog}"
                                  escape="false" 
                                  styleClass="monospace"/>
                </div>
                <div class="p-col-6">
                    <div class="restrict-main-contents-io-button-left gray_button">
                        <p:commandButton id="property-deac-abort-button"
                                         value="Cancel"
                                         icon="pi pi-arrow-left"
                                         immediate="true"
                                         oncomplete="PF('property-deac-dialog-var').hide()"
                                         update="property-messages-global"
                                         actionListener="#{propertyProfileBB.onPropertyDeacAbort}"/>
                    </div>
                </div>
                <div class="p-col-6">
                    <div class="restrict-main-contents-io-button red_button">
                        <p:commandButton id="property-dac-commit-button"
                                         value="Deactivate property ID:#{propertyProfileBB.currentProperty.parcelKey}"
                                         icon="pi pi-trash"
                                         disabled="#{sessionBean.crossMuniViewMode or not propertyProfileBB.currentProperty.allowDeactivation}"
                                         action="#{propertyProfileBB.onPropertyDeacCommit}"/>
                    </div>
                </div>
            </div>        
        </h:form>
    </p:dialog>
</ui:composition>
