<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns="http://www.w3.org/1999/xhtml">


    <ui:include src="/restricted/cogstaff/ce/ceActionRequests.xhtml" />

    <p:panel id="property-cears"
             collapsed="false"
             closable="true"
             toggleable="true"
             rendered="true"
             toggleableHeader="true">
        <f:facet name="header">
            <h:outputText value="Action Requests" />
            <div class="restrict-main-contents-io-link link-button help-icon-tightright">
                <a href="https://technologyrediscovery.github.io/codenforce/public/cears.html#internal-cear-management-tools"
                   target="_blank">
                    <i class="material-icons"
                       style="display: inline-block">help_outline</i>
                </a>
            </div>
        </f:facet>

        <h:form id="prop-cears-form">
            <h:outputText   id="cear-list-size-ot"
                            value="listing (#{propertyProfileBB.currentProperty.cearList.size()}) requests"
                            styleClass="italic" />

            <p:spacer height="3px" />

            <p:dataTable id="requestTable"
                         value="#{propertyProfileBB.currentProperty.cearList}"
                         rendered="true"
                         var="r"
                         rowKey="#{r.requestID}"
                         tableStyleClass="primeDataTable"
                         reflow="true"
                         >

                <p:column headerText="Status"
                          width="20%"
                          sortBy="#{r.requestStatus.statusTitle}">
                    <h:outputText value="#{r.requestStatus.statusTitle}"/>
                    <p:spacer height="3px" />
                    <h:outputText value="Case ID: #{r.caseID}"
                                  rendered="#{r.caseID ne 0}" />
                </p:column>
                <p:column headerText="Date Submitted"
                          width="18%"
                          sortBy="#{r.createdTS}">
                    <h:outputText value="#{missionControlBB.getPrettyDateNoTime(r.createdTS)}"/>
                </p:column>

                <p:column headerText="Issue Type"
                          width="18%"
                          sortBy="#{r.issue.name}">
                    <h:outputText value="#{r.issue.name}"/>
                </p:column>

                <p:column headerText="Actions"
                          width="10%"
                          >
                    <p:commandLink    
                        id="dash-switchuser-button-switch"
                        value="view/manage"
                        style="font-weight: bold; color: blue;"
                        ajax="true"
                        actionListener="#{cEActionRequestsBB.manageActionRequest(r)}" 
                        oncomplete="PF('cear-profile-dialog-var').show();" 
                        update="cear-profile-dialog
                        cear-changeprop-form
                        cear-persons-panel
                        cear-persons-panel-form
                        cear-blobs-form
                        cear-routing-form"/>
                    <p:spacer height="3px" />
                    <h:outputText value="(ID: #{r.requestID})" />
                </p:column>
            </p:dataTable>
        </h:form>
    </p:panel>


</ui:composition>
