<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns="http://www.w3.org/1999/xhtml">

    <p:panel id="parcel-info-panel"
             toggleable="true"
             collapsed="false"
             header="Parcel Info #{propertyProfileBB.currentProperty.countyParcelID}"
             rendered="true"
             >
        <div class="p-grid">

            <div class="p-col-4 restrict-data-field-label-inline">
                <h:outputLabel value="Info record ID"/>
            </div>
            <div class="p-col-8">
                <h:outputText value="#{propertyProfileBB.currentProperty.parcelInfo.parcelInfoID}" />
            </div>
            <div class="p-col-4 restrict-data-field-label-inline">
                <h:outputLabel value="Parcel Key (internal)"/>
            </div>
            <div class="p-col-8">
                <h:outputText value="#{propertyProfileBB.currentProperty.parcelInfo.parcelParcelKey}" />
            </div>
            <div class="p-col-4 restrict-data-field-label-inline">
                <h:outputLabel value="County"/>
            </div>
            <div class="p-col-8">
                <h:outputText value="#{propertyProfileBB.currentProperty.parcelInfo.countyCode}" 
                              rendered="#{!propertyProfileBB.currentParcelInfoEditMode}" />
            </div>

            <div class="p-col-12">
                <p:divider style="solid" />

                <h:outputText value="Allegheny county parcel descriptors: " 
                              styleClass="bold underline"/>
                <p:spacer height="3px" />
                <h:outputText value="* fields should map directly to the Allegheny County real estate portal values. Change at your own risk." />
            </div>

            <div class="p-col-4 restrict-data-field-label-inline">
                <h:outputText value="Class"  />
            </div>
            <div class="p-col-8 restrict-data-field-value-inline">
                <h:outputText value="#{propertyProfileBB.currentProperty.parcelInfo.propClass}" 
                              rendered="#{!propertyProfileBB.currentParcelInfoEditMode}" />

                <h:inputText value="#{propertyProfileBB.currentProperty.parcelInfo.propClass}" 
                             rendered="#{propertyProfileBB.currentParcelInfoEditMode}" 
                             styleClass="fullwidth-component" />
            </div>

            <div class="p-col-4 restrict-data-field-label-inline">
                <h:outputText value="Use group"  />
            </div>
            <div class="p-col-8 restrict-data-field-value-inline">
                <h:outputText value="#{propertyProfileBB.currentProperty.parcelInfo.useGroup}" 
                              rendered="#{!propertyProfileBB.currentParcelInfoEditMode}" />

                <h:inputText value="#{propertyProfileBB.currentProperty.parcelInfo.useGroup}" 
                             rendered="#{propertyProfileBB.currentParcelInfoEditMode}" 
                             styleClass="fullwidth-component" />
            </div>

            <div class="p-col-4 restrict-data-field-label-inline">
                <h:outputText value="Construction type"  />
            </div>
            <div class="p-col-8 restrict-data-field-value-inline">
                <h:outputText value="#{propertyProfileBB.currentProperty.parcelInfo.constructionType}" 
                              rendered="#{!propertyProfileBB.currentParcelInfoEditMode}" />

                <h:inputText value="#{propertyProfileBB.currentProperty.parcelInfo.constructionType}" 
                             rendered="#{propertyProfileBB.currentParcelInfoEditMode}" 
                             styleClass="fullwidth-component" />
            </div>
            <div class="p-col-12">
                <p:divider style="solid" />
            </div>

            <div class="p-col-4 restrict-data-field-label-inline">
                <h:outputLabel value="Condition"/>
            </div>
            <div class="p-col-8">
                <h:outputText value="#{!(empty propertyProfileBB.currentProperty.parcelInfo.condition)
                                       ? propertyProfileBB.currentProperty.parcelInfo.condition.title
                                       : ''}"
                              rendered="#{!propertyProfileBB.currentParcelInfoEditMode}" />

                <h:selectOneMenu id="prop-add-condition-som"
                                 value="#{propertyProfileBB.currentProperty.parcelInfo.condition}" 
                                 style="width:100%;"
                                 rendered="#{propertyProfileBB.currentParcelInfoEditMode}" >
                    <f:converter converterId="intensityClassConverter"/>
                    <f:selectItem itemLabel="select a condition ..." noSelectionOption="true" />
                    <f:selectItems id="propinfoedit-condition-selitems"
                                   value="#{propertyProfileBB.conditionIntensityList}"
                                   var="ic" itemValue="#{ic}" itemLabel="#{ic.numericRating}: #{ic.title}"/>

                </h:selectOneMenu>
            </div>

            <div class="p-col-4 restrict-data-field-label-inline">
                <h:outputLabel value="Use Type"/>
            </div>
            <div class="p-col-8">
                <h:outputText value="#{propertyProfileBB.currentProperty.parcelInfo.useType.name}" 
                              rendered="#{!propertyProfileBB.currentParcelInfoEditMode}"  />

                <h:selectOneMenu id="prop-add-source-som"
                                 value="#{propertyProfileBB.currentProperty.parcelInfo.useType}" 
                                 style="width:100%;"
                                 rendered="#{propertyProfileBB.currentParcelInfoEditMode}" >
                    <f:converter converterId="propertyUseTypeConverter"/>
                    <f:selectItem itemLabel="select a use type..." noSelectionOption="true" />
                    <f:selectItems id="parcel-info-put-selitems"
                                   value="#{propertyProfileBB.putList}"
                                   var="put" itemValue="#{put}" itemLabel="#{put.name}"/>

                </h:selectOneMenu>
            </div>

            <div class="p-col-4 restrict-data-field-label-inline">
                <h:outputLabel value="Non-Addressable"/>
            </div>
            <div class="p-col-8">
                <h:outputText value="#{propertyProfileBB.currentProperty.parcelInfo.nonAddressable? 'Yes': 'No'}" 
                              rendered="#{!propertyProfileBB.currentParcelInfoEditMode}" />

                <p:inputSwitch value="#{propertyProfileBB.currentProperty.parcelInfo.nonAddressable}"
                               onLabel="Non-addressable"
                               offLabel="Normal (addressable)"
                               rendered="#{propertyProfileBB.currentParcelInfoEditMode}"  />

            </div>

            <div class="p-col-4 restrict-data-field-label-inline">
                <h:outputLabel value="Info record source"/>
            </div>
            <div class="p-col-8">
                <h:outputText value="#{propertyProfileBB.currentProperty.parcelInfo.bobSource.title}" 
                              rendered="#{!propertyProfileBB.currentParcelInfoEditMode}" />

                <h:selectOneMenu id="prop-info-source-som"
                                 value="#{propertyProfileBB.currentProperty.parcelInfo.bobSource}" style="width:175px;height:25px"
                                 rendered="#{propertyProfileBB.currentParcelInfoEditMode}" >
                    <f:converter converterId="bobSourceConverter"/>
                    <f:selectItem itemLabel="select a source..." noSelectionOption="true" />
                    <f:selectItems id="parcel-info-source-selitems"
                                   value="#{propertyProfileBB.sourceList}"
                                   var="bs" itemValue="#{bs}" itemLabel="#{bs.title}"/>

                </h:selectOneMenu>
            </div>

            <div class="p-col-4 restrict-data-field-label-inline">
                <h:outputLabel value="Info record creation"/>
            </div>
            <div class="p-col-8 restrict-data-field-value-inline">
                <h:outputText value="#{propertyProfileBB.getPrettyDate(propertyProfileBB.currentProperty.parcelInfo.createdTS)}" 
                              rendered="true" />
            </div>
            <div class="p-col-4 restrict-data-field-label-inline">
                <h:outputLabel value="Info record last update"/>
            </div>
            <div class="p-col-8">
                <h:outputText value="#{propertyProfileBB.getPrettyDate(propertyProfileBB.currentProperty.parcelInfo.lastUpdatedTS)}" 
                              rendered="#{!propertyProfileBB.currentParcelInfoEditMode}" />
            </div>

        </div>
    </p:panel>
</ui:composition>
