<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns="http://www.w3.org/1999/xhtml">


    <p:panel id="property-adresses-panel"
             toggleable="true"
             collapsed="false"
             header="Mailing Address Links">
        <h:form id="property-profile-addresses-form">

            <p:commandButton        id="prop-addresses-add-cb"
                                    value="Link New Mailing Address" 
                                    ajax="true"
                                    icon="pi pi-link"
                                    actionListener="#{addressBB.onLinkPersonPropToAddressInitButtonChange(propertyProfileBB.currentProperty)}"
                                    rendered="#{systemServicesBB.permissionAllowAncillaryObjectEdit}"
                                    disabled="#{!empty propertyProfileBB.currentProperty.deactivatedTS or sessionBean.crossMuniViewMode}"
                                    oncomplete="PF('address-search-dialog-var').show(); "
                                    update="address-search-dialog">
                <f:param name="initiating-address-list-component-id" value="property-profile-addresses-form" />
            </p:commandButton>

            <p:spacer height="5px"/>

            <p:dataTable    id="property-addresses-table"
                            value="#{propertyProfileBB.currentPropertyMADLinkList}"
                            rendered="#{!empty propertyProfileBB.currentPropertyMADLinkList}"
                            var="pml"
                            rowKey="#{pml.linkID}"
                            tableStyleClass="primeDataTable"
                            draggableRows="false" 
                            tabindex="6">


                <p:column width="10%">
                    <f:facet name="header">
                        <h:outputText value="Link title"/>
                    </f:facet>
                    <h:outputText value="#{pml.linkedObjectRole.title}" />
                </p:column>

                <p:column width="50%">
                    <f:facet name="header">
                        <h:outputText value="Mailing Address"/>
                    </f:facet>

                    <h:outputText value="#{pml.addressPretty2LineEscapeFalse}"
                                  escape="false" />
                </p:column>
               

                <p:column width="20%">
                    <f:facet name="header">
                        <h:outputText value="Actions"/>
                    </f:facet>
                    <div class="restrict-main-contents-io-link">

                        <p:commandLink      id="prop-address-actions-cl"
                                            ajax="true"
                                            actionListener="#{addressBB.onMailingAddressLinkViewEditInit(pml)}"
                                            style="color:blue;"
                                            oncomplete="PF('address-link-dialog-var').show()"
                                            rendered="#{systemServicesBB.bbSessionUser.keyCard.hasMuniStaffPermissions}"
                                            update="address-link-dialog
                                            address-link-notes-form"
                                            value="view/edit" >
                            <f:param name="initiating-address-list-component-id" value="property-profile-addresses-form" />
                        </p:commandLink>
                    </div>
                   
                </p:column>
            </p:dataTable>
        </h:form>          
    </p:panel>

</ui:composition>
