<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:tt="http://xmlns.jcp.org/jsf/composite/components">

    <h:form id="units-growl-form">

        <p:growl id="units-growl"
                 globalOnly="false"
                 />
    </h:form>

    <p:panel    id="prop-units-panel"
                toggleable="true"
                widgetVar="prop-events-panel-var"
                collapsed="false"
                header="Units, Permit Files, and Inspections"
                rendered="true">
        <h:form id="prop-units-panel-form">

            <f:subview id="fin-choose-permitfile-mode"
                       rendered="#{not empty sessionInspectionConductor.sessFieldInspectionAwaitingRouting}" >
                <div class="p-grid field-init-inspection-routing margin-buffered">

                    <div class="p-col-2">
                        <i class="material-icons icon-large">
                            <h:outputText value="roundabout_right" />
                        </i>
                    </div>

                    <div class="p-col-10">
                        <h:outputText value="Inspection linking mode: "
                                      styleClass="bold"/>
                        <h:outputText value="You are in field-initiated inspection linking mode: choose the permit file or ce case to which this inspection should be connected."  />

                        <p:spacer height="3px" />

                        <p:commandLink  id="fieldfin-inspection-details-3-cl"
                                        value="view inspection"
                                        actionListener="#{fieldInspectionBB.onViewEditInspectionLinkClick(sessionInspectionConductor.sessFieldInspectionAwaitingRouting)}"
                                        ajax="true"
                                        style="color:blue; font-weight: bold;"
                                        oncomplete="PF('inspection-profile-dialog-var').show()"
                                        rendered="#{systemServicesBB.bbSessionUser.keyCard.hasMuniStaffPermissions}"
                                        update="inspectiontools-growl-form
                                        inspection-profile-dialog
                                        inspection-profile-form
                                        inspection-advancedtools-form
                                        inspection-actions-form
                                        inspection-inspectedspaces-form
                                        "
                                        >
                        </p:commandLink>

                        <h:outputText value=" | " />

                        <p:commandLink  id="fieldfin-exitrouting-2-cl"
                                        value="exit inspection linking mode"
                                        actionListener="#{fieldInspectionBB.onClearFieldInitiatedFinRouting}"
                                        ajax="true"
                                        style="color:blue; font-weight: bold;"
                                        rendered="#{systemServicesBB.bbSessionUser.keyCard.hasMuniStaffPermissions}"
                                        update="@form
                                        units-growl-form"
                                        >AwaitingRou
                        </p:commandLink>
                    </div>

                    <div class="p-col-6 restrict-data-field-label-inline">
                        <h:outputText value="Raw property address:" />
                    </div>
                    <div class="p-col-6 restrict-data-field-value-inline">
                        <h:outputText value="#{sessionInspectionConductor.sessFieldInspectionAwaitingRouting.rawPropertyAddress}" />
                    </div>

                    <div class="p-col-6 restrict-data-field-label-inline">
                        <h:outputText value="Raw unit number" />
                    </div>
                    <div class="p-col-6 restrict-data-field-value-inline">
                        <h:outputText value="#{sessionInspectionConductor.sessFieldInspectionAwaitingRouting.rawPropertyUnit}" />
                    </div>
                </div>
            </f:subview>

            <p:commandButton    id="prop-units-explore-button"
                                ajax="true"
                                value="Add new unit"
                                styleClass="noFill button-size-small"
                                actionListener="#{propertyProfileBB.onUnitAddInitButtonChange}"
                                icon="pi pi-plus"
                                oncomplete="PF('unit-dialog-var').show();"
                                rendered="#{systemServicesBB.permissionAllowAncillaryObjectEdit}"
                                disabled="#{!empty propertyProfileBB.currentProperty.deactivatedTS or sessionBean.crossMuniViewMode}"
                                update="unit-info-form
                                units-growl-form
                                unit-dialog
                                unit-periods-form
                                unit-addresses-form
                                unit-persons-form
                                unit-cecases-form"
                                />

            <p:commandButton   id="prop-unit-newperiod-general-button"
                               ajax="true"
                               actionListener="#{propertyProfileBB.onOccperiodCreateInitButtonChange(null)}"
                               oncomplete="PF('occperiod-add-dialog-var').show()"
                               rendered="#{propertyProfileBB.permissionAllowOccPeriodCreate}"
                               disabled="#{!empty propertyProfileBB.currentProperty.deactivatedTS or sessionBean.crossMuniViewMode}"
                               value="Add new permit file"
                               icon="pi pi-plus"
                               update="occperiod-add-form"
                               style="margin-left: 8px;"
                               />


            <p:spacer height="5px" />
            <tt:occPeriodsUnitsCC id="propprofile-unitsperiods-tt"
                                  addfrompropertyprofile="true"
                                  addfromfinrouting="false"
                                  addfromcearrouting="false" />
        </h:form>
    </p:panel>



    <p:dialog   id="unit-dialog"
                height="750" width="90%"
                widgetVar="unit-dialog-var"
                responsive="true"
                resizable="true"
                closable="true"
                closeOnEscape="true"
                dynamic="true"
                modal="true"
                header="Manage Property Unit: #{propertyProfileBB.currentPropertyUnit.unitNumberCleaned} (ID: #{propertyProfileBB.currentPropertyUnit.unitID})"
                rendered="true"
                >

        <div class="p-grid nested-grid">
            <div class="p-col" >
                <p:panel    id="unit-info-panel"
                            toggleable="true"
                            widgetVar="unit-info-panel-var"
                            collapsed="false"
                            header="Property Unit #{propertyProfileBB.currentPropertyUnit.unitID eq 0 ? '(New unit)': propertyProfileBB.currentPropertyUnit.unitID }">
                    <h:form id="unit-info-form">
                        <p:commandButton id="unit-edit-toggle-button"
                                         ajax="true"
                                         value="#{propertyProfileBB.unitEditMode ? 'Save Changes' : 'Edit'}"
                                         rendered="#{systemServicesBB.bbSessionUser.keyCard.hasMuniStaffPermissions}"
                                         icon="pi #{propertyProfileBB.unitEditMode ? 'pi-save' : 'pi-pencil'}"
                                         actionListener="#{propertyProfileBB.onUnitEditToggleButtonChange}"
                                         oncomplete="PF('unit-dialog-var').show();"
                                         update="@form
                                         units-growl-form
                                         unit-dialog
                                         prop-units-panel-form"/>
                        <div class="gray_button">
                            <p:commandButton id="unit-edit-abort"
                                             value="Cancel"
                                             rendered="#{propertyProfileBB.unitEditMode}"
                                             icon="pi pi-arrow-left"
                                             immediate="true"
                                             ajax="true"
                                             actionListener="#{propertyProfileBB.onUnitEditModeAbortButtonChange}"
                                             update="@form"
                                             />
                        </div>
                        <div class="p-grid">
                            <div class="p-col-4">
                                <h:outputText value="Unit Number" />
                            </div>
                            <div class="p-col-8">
                                <h:outputText value="#{propertyProfileBB.currentPropertyUnit.unitNumberCleaned}"
                                              rendered="#{!propertyProfileBB.unitEditMode}"/>
                                <p:inputText value="#{propertyProfileBB.currentPropertyUnit.unitNumber}"
                                             rendered="#{propertyProfileBB.unitEditMode}"/>
                            </div>
                            <div class="p-col-4">
                                <h:outputText value="Mailing address" />
                            </div>
                            <div class="p-col-8">
                                <h:outputText value="#{!empty propertyProfileBB.currentPropertyUnit.parcelMailing
                                                       ? propertyProfileBB.currentPropertyUnit.parcelMailing.addressPretty2LineEscapeFalse : ''}"
                                              escape="false"
                                              rendered="#{!propertyProfileBB.unitEditMode}" />
                            </div>
                            <div class="p-col-4">
                                <h:outputText value="Intent to rent (start)" />
                            </div>
                            <div class="p-col-8">
                                <h:outputText value="#{propertyProfileBB.getPrettyLocalDateOnlyNoTime(propertyProfileBB.currentPropertyUnit.rentalIntentDateStart)}"
                                              rendered="#{!propertyProfileBB.unitEditMode}"/>
                                <p:datePicker   value="#{propertyProfileBB.currentPropertyUnit.rentalIntentDateStart}"
                                                pattern="MM/dd/yyyy"
                                                mask="true"
                                                hideOnDateTimeSelect="true"
                                                showOnFocus="false"
                                                showIcon="true"
                                                showButtonBar="true"
                                                monthNavigator="true"
                                                required="false"
                                                rendered="#{propertyProfileBB.unitEditMode}"/>
                            </div>
                            <div class="p-col-4">
                                <h:outputText value="Intent to rent (stop)" />
                            </div>
                            <div class="p-col-8">
                                <h:outputText value="#{propertyProfileBB.getPrettyLocalDateOnlyNoTime(propertyProfileBB.currentPropertyUnit.rentalIntentDateStop)}"
                                              rendered="#{!propertyProfileBB.unitEditMode}"/>
                                <p:datePicker   value="#{propertyProfileBB.currentPropertyUnit.rentalIntentDateStop}"
                                                pattern="MM/dd/yyyy"
                                                mask="true"
                                                hideOnDateTimeSelect="true"
                                                showOnFocus="false"
                                                showIcon="true"
                                                showButtonBar="true"
                                                monthNavigator="true"
                                                required="false"
                                                rendered="#{propertyProfileBB.unitEditMode}"/>
                            </div>

                            <div class="p-col-4">
                                <h:outputText value="Rental notes" />
                            </div>
                            <div class="p-col-8">
                                <h:outputText value="#{propertyProfileBB.currentPropertyUnit.rentalNotes}"
                                              rendered="#{!propertyProfileBB.unitEditMode}"/>

                                <p:inputTextarea value="#{propertyProfileBB.currentPropertyUnit.rentalNotes}"
                                                 rows="5"
                                                 cols="40"
                                                 rendered="#{propertyProfileBB.unitEditMode}"/>
                            </div>
                            <div class="p-col-4">
                                <h:outputText value="Attached to parcel ID" />
                            </div>
                            <div class="p-col-8">
                                <h:outputText value="#{propertyProfileBB.currentPropertyUnit.parcelKey}"/>
                            </div>

                            <div class="p-col-4">
                                <h:outputText value="Record status" />
                                <p:spacer height="3px" />

                                <p:commandLink   id="prop-unit-deac-init"
                                                 ajax="true"
                                                 actionListener="#{propertyProfileBB.onUnitDeacInit}"
                                                 oncomplete="PF('unit-deac-dialog-var').show(); "
                                                 rendered="#{propertyProfileBB.permissionAllowParcelEdit}"
                                                 disabled="#{propertyProfileBB.unitEditMode}"
                                                 value="deactivate unit"
                                                 style="color:blue; font-weight: bold;"
                                                 update="unit-deac-form
                                                 unit-deac-dialog"
                                                 />
                            </div>
                            <div class="p-col-8">
                                <h:outputText value="#{propertyProfileBB.currentPropertyUnit.active ? 'Active':'Inactive'}"
                                              />
                            </div>
                        </div>
                    </h:form>
                </p:panel>

                <p:panel    id="unit-persons-panel"
                            toggleable="true"
                            widgetVar="unit-persons-panel-var"
                            collapsed="false"
                            header="Persons">
                    <h:form id="unit-persons-form" >

                        <p:commandButton   id="unit-persons-manage-button"
                                           ajax="true"
                                           actionListener="#{personBB.onSelectAndLinkPersonsInit(propertyProfileBB.currentPropertyUnit)}"
                                           oncomplete="PF('human-search-dialog-var').show()"
                                           disabled="#{!propertyProfileBB.currentPropertyUnit.active}"
                                           rendered="#{systemServicesBB.bbSessionUser.keyCard.hasMuniStaffPermissions}"
                                           value="Manage unit-person links"
                                           update=" human-search-dialog
                                           search-query-form
                                           pers-selected-form
                                           hlh-humlist-form
                                           pers-upstreampool-panel
                                           pers-upstreampool-form"
                                           icon="pi pi-users"
                                           >
                            <f:param name="person-list-component-to-update"
                                     value="unit-persons-form" />
                            <p:ajax listener="#{propertyProfileBB.onManageUnitPersonButtonChange}" />
                        </p:commandButton>

                        <p:spacer height="5px" />

                        <p:dataTable id="unit-persons-table"
                                     value="#{propertyProfileBB.managedUnitHumanLinkList}"
                                     rendered="#{!empty propertyProfileBB.managedUnitHumanLinkList}"
                                     var="human"
                                     tableStyleClass="primeDataTable"
                                     rowKey="#{human.humanID}"
                                     >

                            <p:column headerText="Name"
                                      width="85%"
                                      styleClass="centeredColumnContent">
                                <h:outputText value="#{human.name} is #{human.linkedObjectRole.title} this unit"/>
                                <p:spacer height="3px" />
                                <h:outputText value="Link timestamp: #{eventBB.getPrettyDate(human.linkCreatedTS)}"/>
                                <p:spacer height="3px" />
                                <h:outputText value="(Human ID: #{human.humanID}; Link ID: #{human.linkID})"/>

                            </p:column>

                            <p:column headerText="Actions"
                                      width="15%"
                                      styleClass="centeredColumnContent">
                                <p:commandLink      id="unit-person-exploreperson-button"
                                                    ajax="true"
                                                    style="color:blue;"
                                                    action="#{personBB.onHumanViewLinkClick(human)}"
                                                    value="view"
                                                    update="person-info-form
                                                    person-profile-addresses-form
                                                    person-profile-phones-form
                                                    person-profile-emails-form
                                                    person-links-form
                                                    person-profile-dialog
                                                    persontools-growl-form"
                                                    oncomplete="PF('person-profile-dialog-var').show();"
                                                    />
                            </p:column>
                        </p:dataTable>
                    </h:form>
                </p:panel>
            </div>

            <div class="p-col" >
                <p:panel    id="unit-periods-panel"
                            toggleable="true"
                            widgetVar="unit-periods-panel-var"
                            collapsed="false"
                            header="Permit files">
                    <h:form id="unit-periods-form">


                        <p:commandButton   id="prop-unit-newperiod-button2"
                                           ajax="true"
                                           actionListener="#{propertyProfileBB.onOccperiodCreateInitButtonChange(propertyProfileBB.currentPropertyUnit)}"
                                           oncomplete="PF('occperiod-add-dialog-var').show()"
                                           rendered="#{propertyProfileBB.permissionAllowOccPeriodCreate}"
                                           disabled="#{sessionBean.crossMuniViewMode}"
                                           value="New Permit File"
                                           icon="pi pi-plus"
                                           update="occperiod-add-form"
                                           />
                        <p:spacer height="3px" />

                        <div class="p-grid">
                            <tt:permitFileListDisplayGridGuts id="unit-info-permitgrid-tt"
                                                              value="#{propertyProfileBB.currentPropertyUnit.periodList}" 
                                                              addfrompropertyprofile="false"
                                                              addfromcearrouting="false"
                                                              addfromfinrouting="false"/>
                        </div>
                    </h:form>
                </p:panel>

                <p:panel    id="unit-addresses-panel"
                            toggleable="true"
                            widgetVar="unit-addresses-panel-var"
                            collapsed="false"
                            header="Mailing addresses">
                    <h:form id="unit-addresses-form">
                        <div class="p-grid">
                            <div class="p-col-6">
                                <p:commandButton        id="prop-addresses-add-cb"
                                                        value="Link New Mailing Address"
                                                        ajax="true"
                                                        icon="pi pi-link"
                                                        actionListener="#{addressBB.onLinkPersonPropToAddressInitButtonChange(propertyProfileBB.currentPropertyUnit)}"
                                                        rendered="#{systemServicesBB.permissionAllowAncillaryObjectEdit}"
                                                        disabled="#{sessionBean.crossMuniViewMode}"
                                                        oncomplete="PF('address-search-dialog-var').show(); "
                                                        update="address-search-dialog">
                                    <f:param name="initiating-address-list-component-id" value="unit-addresses-form" />
                                </p:commandButton>

                            </div>
                            <div class="p-col-6">
                                <p:commandLink      id="prop-units-addresses-reload"
                                                    actionListener="#{propertyProfileBB.refreshCurrentPropertyUnit}"
                                                    value="refresh addresses"
                                                    disabled="false"
                                                    ajax="true"
                                                    style="color:blue; font-weight: bold;"
                                                    update="@form" />
                            </div>
                        </div>

                        <p:spacer height="5px"/>

                        <p:dataTable    id="propertyunit-addresses-table"
                                        value="#{propertyProfileBB.managedPropertyUnitAddressLinkList}"
                                        var="puml"
                                        rowKey="#{puml.linkID}"
                                        tableStyleClass="primeDataTable"
                                        draggableRows="false" >


                            <p:column width="10%">
                                <f:facet name="header">
                                    <h:outputText value="Link title"/>
                                </f:facet>
                                <h:outputText value="#{puml.linkedObjectRole.title}" />
                            </p:column>

                            <p:column width="50%">
                                <f:facet name="header">
                                    <h:outputText value="Mailing Address"/>
                                </f:facet>

                                <h:outputText value="#{puml.addressPretty2LineEscapeFalse}"
                                              escape="false" />
                            </p:column>

                            <p:column width="25%">
                                <f:facet name="header">
                                    <h:outputText value="Actions"/>
                                </f:facet>
                                <div class="restrict-main-contents-io-link">

                                    <p:commandLink      id="propunit-address-actions-cl"
                                                        ajax="true"
                                                        actionListener="#{addressBB.onMailingAddressPropertyUnitLinkView(puml, propertyProfileBB.currentPropertyUnit )}"
                                                        oncomplete="PF('address-link-dialog-var').show()"
                                                        rendered="#{systemServicesBB.bbSessionUser.keyCard.hasMuniStaffPermissions}"
                                                        update="address-link-dialog
                                                        address-link-notes-form"
                                                        value="view/edit" >
                                        <f:param name="initiating-address-list-component-id" value="unit-addresses-form" />
                                    </p:commandLink>
                                </div>

                            </p:column>
                        </p:dataTable>
                    </h:form>
                </p:panel>

                <p:panel    id="unit-cecases-panel"
                            toggleable="true"
                            widgetVar="unit-cecases-panel-var"
                            collapsed="false"
                            header="Code Enforcement Cases"
                            rendered="false">
                    <h:form id="unit-cecases-form">

                        <p>Case list coming soon!</p>
                    </h:form>
                </p:panel>

                <p:panel    id="unit-notes-panel"
                            toggleable="true"
                            collapsed="false"
                            header="Notes">
                    <h:form id="unit-notes-form">

                        <p:commandButton    id="unit-note-add-cb"
                                            ajax="true"
                                            value="Create new note"
                                            process="@none"
                                            immediate="true"
                                            oncomplete="PF('unit-note-dialog-var').show()"
                                            actionListener="#{propertyProfileBB.onUnitNoteAddInitButtonChange}"
                                            update="unit-note-dialog
                                            unit-note-form"
                                            icon="pi pi-plus" />

                        <p:spacer height="2px" />

                        <h:outputText value="#{propertyProfileBB.currentPropertyUnit.notes}"
                                      escape="false"
                                      class="wrapText"/>
                    </h:form>
                </p:panel>
            </div>
        </div>
    </p:dialog>

    <p:dialog   id="unit-note-dialog"
                height="350" width="400"
                widgetVar="unit-note-dialog-var"
                responsive="true"
                resizable="true"
                closable="true"
                closeOnEscape="true"
                dynamic="true"
                modal="true"
                rendered="true"
                >
        <f:facet name="header">
            <h:outputText value="Add note to unit #{propertyProfileBB.currentPropertyUnit.unitNumber}" />
        </f:facet>
        <h:form id="unit-note-form">

            <p:inputTextarea value="#{propertyProfileBB.formUnitNoteText}"
                             cols="50"
                             rows="10"/>
            <p:spacer height="5px" />

            <h:outputText value="date, time, and your name is automatically included in the note"
                          style="font-style: italic;"/>

            <p:spacer height="5px" />
            <p:commandButton    id="unit-note-commit-button"
                                rendered="true"
                                ajax="true"
                                disabled="false"
                                value="Save Note"
                                actionListener="#{propertyProfileBB.onUnitNoteAddCommitButtonChange}"
                                icon="pi pi-save"
                                oncomplete="PF('unit-note-dialog-var').hide()"
                                update="unit-notes-form
                                units-growl-form"/>
        </h:form>
    </p:dialog>

    <p:dialog   id="unit-deac-dialog"
                height="350" width="400"
                widgetVar="unit-deac-dialog-var"
                responsive="true"
                resizable="true"
                closable="true"
                closeOnEscape="true"
                dynamic="true"
                modal="true"
                rendered="true"
                >
        <f:facet name="header">
            <h:outputText value="Deactivate property unit: #{propertyProfileBB.currentPropertyUnit.unitNumber} (ID:#{propertyProfileBB.currentPropertyUnit.unitID})" />
        </f:facet>
        <h:form id="unit-deac-form">

            <div class="red_button">

                <p:commandButton    id="unit-deac-commit-button"
                                    rendered="#{propertyProfileBB.permissionAllowParcelEdit}"
                                    ajax="true"
                                    disabled="false"
                                    value="Deactivate unit: #{propertyProfileBB.currentPropertyUnit.unitNumber}"
                                    actionListener="#{propertyProfileBB.onUnitDeacCommit}"
                                    icon="pi pi-trash"
                                    oncomplete="PF('unit-deac-dialog-var').hide(); PF('unit-dialog-var').hide();"
                                    update="units-growl-form
                                    prop-units-panel-form"/>
            </div>
            <div class="gray_button">
                <p:commandButton    id="unit-deac-abort-button"
                                    rendered="true"
                                    ajax="true"
                                    disabled="false"
                                    value="Cancel"
                                    actionListener="#{propertyProfileBB.onUnitDeacAbort}"
                                    icon="pi pi-arrow-left"
                                    oncomplete="PF('unit-deac-dialog-var').hide(); "
                                    update="units-growl-form"/>

            </div>
        </h:form>
    </p:dialog>

    <p:dialog    id="occperiod-add-dialog"
                 height="700" width="90%"
                 widgetVar="occperiod-add-dialog-var"
                 closable="true"
                 closeOnEscape="true"
                 resizable="true"
                 responsive="true"
                 dynamic="true"
                 modal="true"
                 header="Create new permit file">

        <h:form id="occperiod-add-form">
            <p:panel    id="occperiod-add-periodinfo-panel"
                        toggleable="true"
                        widgetVar="occperiod-add-periodinfo-panel-var"
                        collapsed="false"
                        header="Permit file details">
                <tt:occPeriodAddCC id="propprofile-periodadd-tt"
                                   addfrompropertyprofile="true"
                                   addfromcearrouting="false"
                                   addfromfinrouting="false" />
            </p:panel>


        </h:form>
    </p:dialog>

    <p:dialog    id="unit-changes-dialog"
                 height="600"
                 width="1200"
                 dynamic="true"
                 widgetVar="unit-changes-dialog-var"
                 closable="true"
                 closeOnEscape="true">
        <p:panel    id="unit-changes-list-panel"
                    toggleable="true"
                    widgetVar="unit-changes-list-panel-var"
                    collapsed="false"
                    header="Change list">

            <h:form id="select-view-option-form">

                <p:commandButton rendered="#{propertyUnitChangesBB.wasRedirected()}"
                                 value="Finish and return"
                                 action="#{propertyUnitChangesBB.goBack()}"
                                 />
                <p:spacer height="10px"/>
                <p:outputLabel value="What changes would you like to edit?"/>
                <p:selectOneMenu style="width: 300px;"
                                 id="unit-changes-list-viewoptions"
                                 value="#{propertyUnitChangesBB.currentViewOption}"
                                 >
                    <p:ajax update="form-unitedit
                            unit-changes-list-form"/>

                    <f:selectItems  id="select-view-option-items"
                                    value="#{propertyUnitChangesBB.allViewOptions}"
                                    var="vo"
                                    itemValue="#{vo}"
                                    itemLabel="#{vo.label}"/>
                </p:selectOneMenu>
                <p:spacer height="5px" />
            </h:form>

            <h:form id="unit-changes-list-form" >
                <p:commandButton       id="button-editunits"
                                       action="#{propertyUnitChangesBB.goToPropertyUnits()}"
                                       rendered="#{sessionBean.sessUser.keyCard.hasMuniStaffPermissions}"
                                       value="Edit unit list"
                                       icon="pi pi-edit"
                                       />

                <p:spacer height="5px" />
                <p:dataScroller
                    id="datascroller-unit-changes"
                    var="unit"
                    rowIndexVar="#{unit.unitID}"
                    value="#{propertyUnitChangesBB.heavyDisplayList}"
                    widgetVar="unit-changes-ds"
                    >

                    <div class="outlinedBox event-ds-box">
                        <h3>
                            <h:outputText value="Unit ID: #{unit.unitID}" />
                        </h3>

                        <p:spacer height="5px" />

                        <h:outputText value="Unit Number: #{unit.unitNumber.equalsIgnoreCase('-1')? 'Single unit structure' : unit.unitNumber}" />

                        <p:spacer height="5px" />

                        <h:outputText value="Rental notes: #{unit.rentalNotes}" />

                        <p:spacer height="5px" />

                        <h:outputText value="Rental intent: #{!empty unit.rentalIntentDateStart and empty unit.rentalIntentDateStop? 'Yes' : 'No'}" />

                        <p:spacer height="5px" />

                        <h:outputText value="Rental Intent Dates: " rendered="#{!empty unit.rentalIntentDateStart and empty unit.rentalIntentDateStop}"/>
                        <h:outputText value="#{unit.rentalIntentDateStart} - #{unit.rentalIntentDateStart}" rendered="#{!empty unit.rentalIntentDateStart and empty unit.rentalIntentDateStop}"/>

                        <p:spacer height="5px" rendered="#{!empty unit.rentalIntentDateStart and empty unit.rentalIntentDateStop}"/>

                        <h:outputText value="Unit Description: #{unit.notes}" />

                        <p:spacer height="5px" />

                        <h:outputText value="Other known address: #{unit.otherKnownAddress}" />

                        <p:spacer height="5px" />

                        <h:outputText value="Active? #{unit.active ? 'Yes' : 'No'}" />

                        <h4>Proposed changes</h4>

                        <p:dataScroller
                            id="scroller-changelist"
                            widgetVar="var-scroller-changelist"
                            rowIndexVar="#{change.unitChangeID}"
                            var="change"
                            value="#{unit.changeOrderList}"
                            >

                            <div style="datum">
                                <h:outputText value="Change # #{change.unitChangeID}" />
                            </div>

                            <div style="datum">
                                <h:outputText value="Active? #{change.active}" />
                            </div>

                            <div style="datum">
                                <h:outputText value="Approved? #{propertyUnitChangesBB.approvedByWho(change)}" />
                            </div>

                            <div style="datum">
                                <h:outputText rendered="#{not empty change.unitNumber}"
                                              value="Proposed unit number: #{change.unitNumber}" />
                            </div>

                            <div style="datum">
                                <h:outputText rendered="#{not empty change.rentalNotes}"
                                              value="Proposed rental notes: #{change.rentalNotes}" />
                            </div>

                            <div style="datum">
                                <h:outputText rendered="#{not empty change.notes}"
                                              value="Proposed unit description: #{change.notes}" />
                            </div>

                            <div style="datum">
                                <h:outputText rendered="#{not empty change.otherKnownAddress}"
                                              value="Proposed other known address: #{change.otherKnownAddress}" />
                            </div>

                            <div style="datum">
                                <h:outputText value="Did the user want to add this unit? #{change.added ? 'Yes' : 'No'}" />
                            </div>

                            <div style="datum">
                                <h:outputText value="Did user want to remove (deactivate) this unit? #{change.removed ? 'Yes' : 'No'}" />
                            </div>
                            <p:commandButton       id="button-compare-change-order"
                                                   ajax="true"
                                                   update="form-unitedit"
                                                   actionListener="#{propertyUnitChangesBB.initializeChangeComparison(unit, change)}"
                                                   oncomplete="PF('dialog-widvar-change-edit').show()"
                                                   rendered="#{systemServicesBB.bbSessionUser.keyCard.hasMuniReaderPermissions}"
                                                   disabled="#{not change.active}"
                                                   value="Compare and manage change order"
                                                   icon="pi pi-edit"/>
                        </p:dataScroller>
                    </div>
                </p:dataScroller>

                <p:outputLabel
                    rendered="#{propertyUnitChangesBB.heavyDisplayList.isEmpty()}"
                    value="No changes matching the criteria were found on this property!"/>
            </h:form>
        </p:panel>
    </p:dialog>

    <p:dialog    id="dialog-compare-changes"
                 height="300" width="600"
                 dynamic="true"
                 widgetVar="dialog-widvar-change-edit"
                 closable="true" >
        <h2>Compare and Manage a change order</h2>

        <h:form id="unit-compare-form">

            <h:outputText value="Did the user want to add this unit? " />
            <h:outputText value="#{propertyUnitChangesBB.currChangeOrder.added ? 'Yes' : 'No'}" />

            <p:spacer height="5px" />

            <h:outputText value="Did user want to remove (deactivate) this unit? " />
            <h:outputText value="#{propertyUnitChangesBB.currChangeOrder.removed ? 'Yes' : 'No'}" />

            <h:panelGrid columns="2">

                <h:panelGroup>

                    <h:outputText value="Unit Number: " />
                    <h:outputText value="#{propertyUnitChangesBB.currPropUnit.unitNumber}" />

                    <p:spacer height="5px" />

                    <h:outputText value="Rental notes: " />
                    <h:outputText value="#{propertyUnitChangesBB.currPropUnit.rentalNotes}" />

                    <p:spacer height="5px" />

                    <h:outputText value="Unit Description: " />
                    <h:outputText value="#{propertyUnitChangesBB.currPropUnit.notes}" />

                    <p:spacer height="5px" />

                    <h:outputText value="Other known address: " />
                    <h:outputText value="#{propertyUnitChangesBB.currPropUnit.otherKnownAddress}" />

                </h:panelGroup>

                <h:panelGroup>

                    <h:outputText value="Proposed unit number: " />
                    <h:outputText value="#{not empty propertyUnitChangesBB.currChangeOrder.unitNumber ? propertyUnitChangesBB.currChangeOrder.unitNumber : 'None'}" />

                    <p:spacer height="5px" />

                    <h:outputText value="Proposed rental notes: " />
                    <h:outputText value="#{not empty propertyUnitChangesBB.currChangeOrder.rentalNotes ? propertyUnitChangesBB.currChangeOrder.rentalNotes : 'None'}" />

                    <p:spacer height="5px" />

                    <h:outputText value="Proposed unit description: " />
                    <h:outputText value="#{not empty propertyUnitChangesBB.currChangeOrder.notes ? propertyUnitChangesBB.currChangeOrder.notes : 'None'}" />

                    <p:spacer height="5px" />

                    <h:outputText value="Proposed other known address: " />
                    <h:outputText value="#{not empty propertyUnitChangesBB.currChangeOrder.otherKnownAddress ? propertyUnitChangesBB.currChangeOrder.otherKnownAddress : 'None'}" />

                </h:panelGroup>

            </h:panelGrid>

            <p:spacer height="5px" />

            <p:commandButton ajax="true"
                             value="Cancel" icon="pi pi-arrow-left"
                             onclick="PF('dialog-widvar-change-edit').hide()"
                             tabindex="4"/>

            <p:commandButton ajax="true"
                             actionListener="#{propertyUnitChangesBB.rejectChangeOrder()}"
                             oncomplete="PF('dialog-widvar-change-edit').hide()"
                             icon="pi pi-ban"
                             update="units-growl-form
                             unit-changes-list-form"
                             value="Reject (Deactivate) Change Order"
                             tabindex="3"/>

            <p:commandButton ajax="true"
                             actionListener="#{propertyUnitChangesBB.applyChangeOrder()}"
                             oncomplete="PF('dialog-widvar-change-edit').hide()"
                             icon="pi pi-save"
                             update="units-growl-form
                             unit-changes-list-form"
                             value="Apply Change Order"
                             tabindex="3"/>
        </h:form>
    </p:dialog>

</ui:composition>
