<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:tt="http://xmlns.jcp.org/jsf/composite/components">


    <ui:include src="/restricted/cogstaff/ce/compositions/ceCaseAdd.xhtml" />

    <p:panel    id="prop-cases-panel"
                toggleable="true"
                widgetVar="prop-cases-panel-var"
                collapsed="false"
                header="Code Enforcement Cases"
                rendered="true">

        <h:form id="prop-cases-panel-form">

            <div class="p-grid">
                <div class="p-lg-4 p-md-12 p-sm-12">
                    <p:commandButton   id="prop-cases-newcase-button"
                                       ajax="true"
                                       actionListener="#{ceCaseAddBB.onCECaseAddInitButtonChange}"
                                       rendered="#{propertyProfileBB.permissionAllowCECaseCreate}"
                                       value="Create New Code Enforcement Case"
                                       disabled="#{!empty propertyProfileBB.currentProperty.deactivatedTS or sessionBean.crossMuniViewMode}"
                                       icon="pi pi-shopping-bag"
                                       oncomplete="PF('cecase-add-dialog-var').show();" 
                                       update="cecase-add-dialog
                                       cecase-add-form" />

                </div>
                <div class="p-lg-8 p-md-12 p-sm-12 nested-grid top-spaced">
                    <tt:cecaseOneClickCC id="propprofile-onelick-tt"
                                         addfrompropertyprofile="true"
                                         addfromfinrouting="false"
                                         addfromcearrouting="false"
                                         />
                </div>
            </div>

            <p:spacer height="5px" />

            <p:dataTable id="prop-cases-table"
                         value="#{propertyProfileBB.managedCECasePDHList}"
                         rendered="true"
                         var="cse"
                         tableStyleClass="primeDataTable"
                         rowKey="#{cse.caseID}"
                         expandedRow="false"
                         rowExpandMode="multiple"
                         >
                <p:column width="5%">
                    <f:facet name="header">
                        <h:outputText value="Exp" />
                    </f:facet>
                    <p:rowToggler />
                </p:column>
                <p:column headerText="Lightning?"
                          sortBy="#{empty cse.oneClickTemplate}"
                          styleClass="centeredColumnContent"
                          width="5%">
                    <f:subview id="case-oneclick-icon-subview"
                               rendered="#{not empty cse.oneClickTemplate}">
                        <i class="material-icons">
                            <h:outputText value="#{cse.oneClickTemplate.icon.materialIcon}"/>
                        </i>
                    </f:subview>  
                </p:column>
                <p:column width="15%" 
                          sortBy="#{cse.priority.label}"
                          styleClass="#{!empty cse.priority ? cse.priority.rowStyleClass:''}">

                    <f:facet name="header">
                        <h:outputText value="Priority" />
                        <p:spacer height="2px" />
                        <div class="restrict-main-contents-io-link link-button help-icon-tightright">
                            <a href="https://technologyrediscovery.github.io/codenforce/dashboard/dashboard#case-priority-color-scheme"
                               target="_blank">
                                <i class="material-icons"
                                   style="display: inline-block">help_outline</i>
                            </a>
                        </div>
                    </f:facet>

                    <i class="material-icons">
                        <h:outputText value="#{!empty cse.priorityIcon ? cse.priorityIcon.materialIcon:''}"/>
                    </i>

                    <p:spacer height="3px" />
                    <h:outputText value="#{cse.priority.label}" style="font-size:0.7em;" />

                </p:column>
                <p:column headerText="Date Opened"
                          styleClass="centeredColumnContent"
                          sortBy="#{cse.originationDate}"
                          width="15%">
                    <h:outputText value="#{!(empty cse.originationDate) ? propertyProfileBB.getPrettyDateNoTime(cse.originationDate) : ''}"/>
                    <p:spacer height="2px"/>
                    <h:outputText value="Age: #{cse.caseAge} days"
                                  style="font-style: italic"/>
                </p:column>

                <p:column headerText="Unit"
                          sortBy="#{cse.unitNumber}"
                          styleClass="centeredColumnContent"
                          width="5%">
                    <h:outputText value="#{!empty cse.unitNumber ? cse.unitNumber:'-'}" />
                </p:column>

                <p:column headerText="Name"
                          styleClass="centeredColumnContent"
                          width="20%">
                    <h:outputText value="#{cse.caseName}"/>
                </p:column>

                <p:column headerText="Manager"
                          styleClass="centeredColumnContent"
                          width="15%">
                    <h:outputText value="#{!(empty cse.caseManager) ? cse.caseManager.human.name:'No manager '}"/>
                </p:column>

                <p:column headerText="Actions"
                          styleClass="centeredColumnContent"
                          width="10%">
                    <div class="restrict-main-contents-io-link">

                        <p:commandLink    id="prop-person-viewcase-button"
                                          ajax="false"
                                          styleClass="noFill button-size-small"
                                          action="#{propertyProfileBB.onViewCaseButtonChange(cse)}"
                                          value="view/edit case"
                                          />
                    </div>

                    <p:spacer height="3px" />
                    <f:subview id="oneclick-icon-subview"
                               rendered="#{not empty cse.oneClickTemplate and not empty cse.primaryNoticeOfViolation}">
                        <div class="restrict-main-contents-io-link">
                            <p:commandLink    id="cse-oneclick-printletter"
                                              ajax="false"
                                              styleClass="noFill button-size-small"
                                              action="#{noticeOfViolationBB.printNoticesFromOneClick(cse.primaryNoticeOfViolation, cse)}"
                                              value="#{empty cse.primaryNoticeOfViolation.lockedAndqueuedTS ? 'view draft letter' : 'print + send letter'}"
                                              target="_blank"
                                              />

                        </div>
                    </f:subview>
                    <p:spacer height="3px" />
                    <h:outputText value="(ID: #{cse.caseID})"/> 
                </p:column>
                <p:rowExpansion>
                    <tt:cecaseDetails value="#{cse}" /> 
                </p:rowExpansion>
            </p:dataTable>
        </h:form>
    </p:panel>

</ui:composition>
