<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns="http://www.w3.org/1999/xhtml">



    <p:panel id="prop-blobs-panel"
             toggleable="true"
             collapsed="false"
             header="Files and Photos"
             rendered="true"
             >

        <h:form id="prop-blobs-form">

            <p:commandButton    id="property-blob-add-button"
                                value="Upload"
                                actionListener="#{blobUtilitiesBB.onUploadBlobInitButtonChange(propertyProfileBB.currentProperty)}"
                                ajax="true"
                                rendered="#{systemServicesBB.permissionAllowAncillaryObjectEdit}"
                                disabled="#{!empty propertyProfileBB.currentProperty.deactivatedTS}"
                                styleClass="noFill button-size-small"
                                oncomplete="PF('blob-upload-dialog-var').show()"
                                update="blob-upload-dialog
                                blob-uploadconnect-tabview"
                                icon="pi pi-cloud-upload"
                                >
                <f:param name="blob-list-component-to-update" value="prop-blobs-form" />
            </p:commandButton>


            <p:spacer height="5px" />

            <p:dataTable
                id="prop-blobs-table"
                value="#{propertyProfileBB.currentProperty.blobList}"
                rendered="#{!empty propertyProfileBB.currentProperty.blobList}"
                var="blob"
                rowKey="#{blob.bytesID}"
                tableStyleClass="primeDataTable"
                resizableColumns="true"
                draggableRows="false" tabindex="6">

                <p:column width="15%">
                    <f:facet name="header">
                        <h:outputText value="File Type"/>
                    </f:facet>
                    <div class="wrapText">
                        <h:outputText value="#{blob.type.title}"/>
                    </div>
                    <!-- type icon here -->
                </p:column>

                <p:column width="15%">
                    <f:facet name="header">
                        <h:outputText value="IDs"/>
                    </f:facet>
                    <h:outputText value="linkID: #{blob.photoDocID}"/>
                    <br/>
                    <h:outputText value="bytesID: #{blob.bytesID}"/>

                </p:column>

                <p:column width="45%">
                    <f:facet name="header">
                        <h:outputText value="Info"/>
                    </f:facet>
                    <div class="rowExpansion">
                        <h:outputText value="title: #{blob.title}"/>
                        <br/>
                        <h:outputText value="descr: #{blob.description}"/>
                        <br/>
                        <h:outputText value="filename: #{blob.filename}"/>
                        <br/>
                        <h:outputText value="created: #{propertyProfileBB.getPrettyDateNoTime(blob.createdTS)}"/>
                    </div>
                </p:column>


               ta <p:column>
                    <f:facet name="header">
                        <h:outputText value="Actions"/>
                    </f:facet>
                    <p:commandButton 
                        value="Download" 
                        ajax="false"
                        icon="fa fa-arrow-down" 
                        styleClass="ui-button-outlined">
                        <p:fileDownload value="#{blobRetrieveBB.retrieveBlob(blob)}"
                                        />
                    </p:commandButton>
                    <br/>
                    <div class="restrict-main-contents-io-link link-button">

                        <p:commandLink      id="blob-update-button"
                                            ajax="true"
                                            styleClass="noFill button-size-small"
                                            action="#{blobUtilitiesBB.onViewBlobLinkClick(blob, propertyProfileBB.currentProperty)}"
                                            value="view"
                                            oncomplete="PF('blobs-viewblob-dialog-var').show()"
                                            update="blobs-viewblob-dialog
                                            blob-viewblob-form"
                                            />
                        <p:spacer height="3px" />
                        <p:commandLink      id="blob-edit-button"
                                            ajax="true"
                                            styleClass="noFill button-size-small"
                                            rendered="#{systemServicesBB.permissionAllowAncillaryObjectEdit}"
                                            action="#{blobUtilitiesBB.onBlobEditMetaDataInitLinkClick(blob, propertyProfileBB.currentProperty)}"
                                            value="edit"
                                            oncomplete="PF('blobs-vieweditmetadata-dialog-var').show()"
                                            update="blob-vieweditmetadata-dialog
                                            blob-veweditmetadata-form"
                                            >
                            <f:param name="blob-list-component-to-update" value="prop-blobs-form" />
                        </p:commandLink>
                        <p:spacer height="3px" />
                        <p:commandLink      id="blob-remove-button"
                                            ajax="true"
                                            styleClass="noFill button-size-small"
                                            rendered="#{systemServicesBB.permissionAllowAncillaryObjectEdit}"
                                            action="#{blobUtilitiesBB.onDeactivateBlobInitLinkClick(blob, propertyProfileBB.currentProperty)}"
                                            oncomplete="PF('blobs-deactivate-dialog-var').show();"
                                            value="remove"
                                            update="blob-deactivate-dialog
                                            blob-deactivate-form"
                                            >
                            <f:param name="blob-list-component-to-update" value="prop-blobs-form" />
                        </p:commandLink>
                    </div>
                </p:column>
            </p:dataTable>
        </h:form>
    </p:panel>


</ui:composition>
