<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:tt="http://xmlns.jcp.org/jsf/composite/components">

    <h:form id="prop-search-dash-messages-form">
        <p:growl id="prop-search-dash-growl"
                 globalOnly="false" 
                 />
    </h:form>


    <p:panel   id="prop-search-dash-panel"
               widgetVar="prop-search-dash-panel-var"
               closable="true"
               header="Property Search"
               rendered="true"
               >
        
        <tt:propertyQuickSearchCC id="prop-dashsearch"
                                  confirmpropertyview="false"
                                  fieldfinroutingmodeon="false"
                                  cearroutingmodeon="false" />

     
    </p:panel>

</ui:composition>
