<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:tt="http://xmlns.jcp.org/jsf/composite/components">



    <p:panel id="parcel-id-panel"
             toggleable="true"
             collapsed="false"
             header="Parcel #{propertyProfileBB.currentProperty.countyParcelID} (#{propertyProfileBB.currentProperty.muni.muniName})"
             rendered="true"
             >

        <ui:include src="/restricted/cogstaff/event/compositions/propertyAlertFlags.xhtml" />
        <div class="p-grid nested-grid">
            <div class="p-col-3">
                <div class="p-grid">
                    <div class="p-col-12">
                        <h:form id="parcel-photo-form">
                            <p:graphicImage value="#{blobsterBB.image}"
                                            alt="no preview available" 
                                            style="width: 100%; margin-right: 10px;" 
                                            cache="true"
                                            rendered="true">
                                <f:param name="blobid" value="#{propertyProfileBB.currentProperty.broadviewPhoto.photoDocID}"/>
                            </p:graphicImage>
                            <p:spacer height="2px" />
                            <p:commandLink      id="prop-broadviewphoto-change-cl"
                                                ajax="true"
                                                actionListener="#{propertyProfileBB.onChangeBroadviewPhotoInitLinkClick}"
                                                style="color:blue; font-weight: bold;"
                                                oncomplete="PF('property-broadview-dialog-var').show()"
                                                rendered="#{systemServicesBB.bbSessionUser.keyCard.hasMuniStaffPermissions}"
                                                disabled="#{!empty propertyProfileBB.currentProperty.deactivatedTS or sessionBean.crossMuniViewMode}"
                                                update="property-broadview-dialog
                                                property-broadview-form"
                                                value="change broadview photo" >

                            </p:commandLink>
                        </h:form>
                    </div>
                    <div class="p-col-12">
                        <h:form id="county-link-form">
                            <div class="restrict-main-contents-io-link">
                                <a href="https://realestate.alleghenycounty.us/GeneralInfo?ID=#{propertyProfileBB.currentProperty.countyParcelID}"
                                   target="_blank"
                                   style="color:blue;">

                                    <p:graphicImage width="200px" 
                                                    value="/images/ACREportal.png"
                                                    />
                                </a>
                            </div>
                            <p:spacer height="3px" />
                            <div class="restrict-main-contents-io-link">

                                <a href="https://parcelsnat.org/explore?parcel=#{propertyProfileBB.currentProperty.countyParcelID}"
                                   target="_blank"
                                   style="color:blue;">

                                    <p:graphicImage width="200px" 
                                                    value="/images/wprdcparcelsnat.png"
                                                    />
                                    <p:spacer height="3px" />
                                    <h:outputText value="view map of owner properties" 
                                                  styleClass="small-text italic"/>
                                </a>
                                <p:spacer height="3px" />
                                <h:outputText value="Note: Verify all critical info from parcels n'at" 
                                              styleClass="small-text italic"/>
                                
                            </div>
                        </h:form>
                    </div>
                </div>
            </div>
            <div class="p-col-9">
                <h:form id="parcel-id-form">
                    <div class="p-grid">
                        <div class="p-col-12">

                            <h:outputText value="DEACTIVATED record" 
                                          rendered="#{!empty propertyProfileBB.currentProperty.deactivatedTS}"
                                          style="color:darkred; font-size: 1.3em;"/>
                        </div>

                        <div class="p-col-4 restrict-data-field-label-inline">
                            <h:outputText value="Address (Municipality)"  />
                        </div>
                        <div class="p-col-8 restrict-data-field-value-inline">
                            <h:outputText value="#{propertyProfileBB.currentProperty.primaryAddressLink.addressPretty1Line} (#{propertyProfileBB.currentProperty.muni.muniName})"
                                          rendered="true" />
                        </div>

                        <div class="p-col-4 restrict-data-field-label-inline">
                            <h:outputText value="Alleghency county Parcel ID"  />
                        </div>
                        <div class="p-col-8 restrict-data-field-value-inline nested-grid">
                            <div class="p-grid">
                                <div class="p-col-6">
                                    <h:outputText value="#{propertyProfileBB.currentProperty.countyParcelID} "
                                                  rendered="#{!propertyProfileBB.currentPropertyEditMode}" />

                                    <p:spacer height="3px" />

                                    <p:inputText value="#{propertyProfileBB.currentProperty.countyParcelID}"
                                                 rendered="#{propertyProfileBB.currentPropertyEditMode}" />
                                </div>
                                <div class="p-col-6">
                                    <div class="restrict-main-contents-io-link">
                                        <p:commandLink id="parcel-id-edit-button"
                                                       value="#{propertyProfileBB.currentPropertyEditMode ? 'save edits' : 'edit parcel ID'}"
                                                       rendered="#{propertyProfileBB.permissionAllowParcelEdit}"
                                                       ajax="true"
                                                       disabled="#{!empty propertyProfileBB.currentProperty.deactivatedTS or sessionBean.crossMuniViewMode}"
                                                       actionListener="#{propertyProfileBB.onPropertyEditModeToggleButtonChange}"
                                                       update="@form
                                                       propinfo-notes-form
                                                       property-messages-global"
                                                       />
                                    </div>
                                    <div class="restrict-main-contents-io-link">
                                        <p:commandLink    id="parcel-id-edit-abort-button"
                                                          ajax="true"
                                                          rendered="#{propertyProfileBB.currentPropertyEditMode}"
                                                          value="cancel editing"
                                                          immediate="true"
                                                          actionListener="#{propertyProfileBB.onPropertyEditModeOperationAbortButtonChange}"
                                                          update="property-messages-global
                                                          @form" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </h:form>

                <h:form id="parcel-ownermanager-display-form">
                    <div class="p-grid">

                        <div class="p-col-4 restrict-data-field-label-inline">
                            <h:outputText value="Owner"  />
                        </div>
                        <div class="p-col-8 restrict-data-field-value-inline">

                            <f:subview id="prop-owner-subview"
                                       rendered="#{not empty propertyProfileBB.currentProperty.ownerLink}">

                                <div class="restrict-main-contents-io-link">
                                    <p:commandLink id="owner-info-cl"
                                                   actionListener="#{personBB.onHumanViewLinkClick(propertyProfileBB.currentProperty.ownerLink)}"
                                                   update="person-info-form
                                                   person-profile-addresses-form
                                                   person-profile-phones-form
                                                   person-profile-emails-form
                                                   person-links-form
                                                   person-profile-dialog
                                                   persontools-growl-form"
                                                   oncomplete="PF('person-profile-dialog-var').show();">
                                        <h:outputText value="#{propertyProfileBB.currentProperty.ownerLink.name}" />
                                    </p:commandLink>
                                </div>
                                <p:spacer height="3px" />
                                <tt:personPhoneEmailListing value="#{propertyProfileBB.currentProperty.ownerLink}"  
                                                            rendered="true"/>

                            </f:subview>

                            <h:outputText value="[no owner linked]"
                                          styleClass="italic"
                                          rendered="#{empty propertyProfileBB.currentProperty.ownerLink}"/>
                        </div>


                        <div class="p-col-4 restrict-data-field-label-inline">
                            <h:outputText value="Manager"  />
                        </div>
                        <div class="p-col-8 restrict-data-field-value-inline">
                            <f:subview id="prop-manager-subview"
                                       rendered="#{not empty propertyProfileBB.currentProperty.managerLink}">

                                <p:commandLink id="manager-info-cl"
                                               actionListener="#{personBB.onHumanViewLinkClick(propertyProfileBB.currentProperty.managerLink)}"
                                               update="person-info-form
                                               person-profile-addresses-form
                                               person-profile-phones-form
                                               person-profile-emails-form
                                               person-links-form
                                               person-profile-dialog
                                               persontools-growl-form"
                                               oncomplete="PF('person-profile-dialog-var').show();">
                                    <h:outputText value="#{propertyProfileBB.currentProperty.managerLink.name}"  />
                                </p:commandLink>
                                <p:spacer height="3px" />
                                <tt:personPhoneEmailListing value="#{propertyProfileBB.currentProperty.managerLink}"  
                                                            rendered="true"/>

                            </f:subview>
                            <h:outputText value="[no manager linked]" 
                                          styleClass="italic"
                                          rendered="#{empty propertyProfileBB.currentProperty.managerLink}" />
                        </div>
                    </div>
                </h:form>

                <h:form id="parcel-units-form">
                    <div class="p-grid">
                        <div class="p-col-4 restrict-data-field-label-inline">
                            <h:outputText value="Units"  />
                        </div>
                        <div class="p-col-8 restrict-data-field-value-inline">
                            <h:outputText value="#{propertyProfileBB.currentProperty.unitList.size()}" 
                                          rendered="#{not empty propertyProfileBB.currentProperty.unitList}"/>
                            <p:spacer height="1px" />
                            <h:outputText value="(includes default unit and common areas)" 
                                          styleClass="italic small-text"
                                          rendered="#{empty propertyProfileBB.currentProperty.managerLink}" />
                        </div>


                    </div>
                </h:form>

                <p:divider style="solid" />

                <h:form id="parcel-info-view-form">
                    <div class="p-grid">
                        <div class="p-col-4">
                            <h:outputText value="Property summary" 
                                          styleClass="restrict-data-field-label-inline underline"/>
                        </div>
                        <div class="p-col-4">
                            <div class="restrict-main-contents-io-link" >
                                <p:commandLink id="parcel-info-viewedit-cl"
                                               value="edit property info"
                                               rendered="#{propertyProfileBB.permissionAllowParcelEdit}"
                                               ajax="true"
                                               disabled="#{!empty propertyProfileBB.currentProperty.deactivatedTS or sessionBean.crossMuniViewMode}"
                                               actionListener="#{propertyProfileBB.onParcelInfoViewEditLinkClick}"
                                               oncomplete="PF('property-info-dialog-var').show();"
                                               update="parcel-info-form
                                               property-info-dialog
                                               property-messages-global"
                                               />
                            </div>
                        </div>
                        <div class="p-col-4">
                            <div class="restrict-main-contents-io-link" >
                                <p:commandLink id="parcel-alerts-viewedit-cl"
                                               value="view alerts"
                                               ajax="true"
                                               actionListener="#{propertyProfileBB.onPropertyAlertViewInit}"
                                               oncomplete="PF('prop-alerts-dialog-var').show();"
                                               update="prop-alerts-dialog
                                               prop-alerts-form"
                                               />
                            </div>
                        </div>

                        <div class="p-col-4 restrict-data-field-label-inline">
                            <h:outputLabel value="Condition"/>
                        </div>
                        <div class="p-col-8">
                            <h:outputText value="#{!(empty propertyProfileBB.currentProperty.parcelInfo.condition)
                                                   ? propertyProfileBB.currentProperty.parcelInfo.condition.title
                                                   : ''}"
                                          rendered="#{!propertyProfileBB.currentParcelInfoEditMode}" />
                        </div>
                        <div class="p-col-4 restrict-data-field-label-inline">
                            <h:outputLabel value="Use Type"/>
                        </div>
                        <div class="p-col-8">
                            <h:outputText value="#{propertyProfileBB.currentProperty.parcelInfo.useType.name}" 
                                          rendered="#{!propertyProfileBB.currentParcelInfoEditMode}"  />
                        </div>


                        <div class="p-col-4 restrict-data-field-label-inline">
                            <h:outputText value="Property Flags and Alerts"  />
                        </div>
                        <div class="p-col-8 restrict-data-field-value-inline nested-grid">
                            <div class="p-grid">



                                <f:subview id="propertyflag-unfit-subview"
                                           rendered="#{propertyProfileBB.currentProperty.parcelInfo.unfitForOccupancy}">
                                    <div class="p-col-2">
                                        <i class="material-icons">
                                            do_not_disturb_alt
                                        </i>
                                    </div>
                                    <div class="p-col-10">
                                        <h:outputText value="Unfit for occupancy!" />
                                    </div>
                                </f:subview>
                                <f:subview id="propertyflag-vacant-subview"
                                           rendered="#{propertyProfileBB.currentProperty.parcelInfo.vaccant}">
                                    <div class="p-col-2">
                                        <i class="material-icons">
                                            no_meeting_room
                                        </i>
                                    </div>
                                    <div class="p-col-10">
                                        <h:outputText value="Vacant" />
                                    </div>
                                </f:subview>
                                <f:subview id="propertyflag-abandoned-subview"
                                           rendered="#{propertyProfileBB.currentProperty.parcelInfo.vaccant}">
                                    <div class="p-col-2">
                                        <i class="material-icons">
                                            doorbell
                                        </i>
                                    </div>
                                    <div class="p-col-10">
                                        <h:outputText value="Abandoned!" />
                                    </div>
                                </f:subview>
                                <f:subview id="propertyflag-landbank-prospect-subview"
                                           rendered="#{propertyProfileBB.currentProperty.parcelInfo.landBankProspect}">
                                    <div class="p-col-2">
                                        <i class="material-icons">
                                            cabin
                                        </i>
                                    </div>
                                    <div class="p-col-10">
                                        <h:outputText value="Tri-COG land bank: Prospect property" />
                                    </div>
                                </f:subview>
                                <f:subview id="propertyflag-landbank-candidate-subview"
                                           rendered="#{propertyProfileBB.currentProperty.parcelInfo.landBankCandidate}">
                                    <div class="p-col-2">
                                        <i class="material-icons">
                                            query_stats
                                        </i>
                                    </div>
                                    <div class="p-col-10">
                                        <h:outputText value="Tri-COG land bank: Candidate property" />
                                    </div>
                                </f:subview>
                                <f:subview id="propertyflag-landbank-pursuing-subview"
                                           rendered="#{propertyProfileBB.currentProperty.parcelInfo.landBankPersuing}">
                                    <div class="p-col-2">
                                        <i class="material-icons">
                                            directions_run
                                        </i>
                                    </div>
                                    <div class="p-col-10">
                                        <h:outputText value="Tri-COG land bank: Pursuing property" />
                                    </div>
                                </f:subview>
                                <f:subview id="propertyflag-landbank-owned-subview"
                                           rendered="#{propertyProfileBB.currentProperty.parcelInfo.landBankOwned}">
                                    <div class="p-col-2">
                                        <i class="material-icons">
                                            real_estate_agent
                                        </i>
                                    </div>
                                    <div class="p-col-10">
                                        <h:outputText value="Tri-COG land bank: Currently owns property" />
                                    </div>
                                </f:subview>
                            </div>
                        </div>

                        <f:subview id="prop-permitting-status"
                                   rendered="#{not empty propertyProfileBB.currentProperty.maxStatusOccupancyPeriods}">

                            <div class="p-col-4 restrict-data-field-label-inline">
                                <h:outputText value="Permitting status"  />
                            </div>
                            <div class="p-col-8 restrict-data-field-value-inline #{propertyProfileBB.currentProperty.maxStatusOccupancyPeriods.cssClass}">
                                <h:outputText value="#{propertyProfileBB.currentProperty.maxStatusOccupancyPeriods.label}" />
                            </div>
                        </f:subview>                        

                        <f:subview id="prop-case-status"
                                   rendered="#{not empty propertyProfileBB.currentProperty.maxCECasePriority}">

                            <div class="p-col-4 restrict-data-field-label-inline">
                                <h:outputText value="Code enforcement status"  />
                            </div>
                            <div class="p-col-8 restrict-data-field-value-inline #{propertyProfileBB.currentProperty.maxCECasePriority.rowStyleClass}">
                                <h:outputText value="#{propertyProfileBB.currentProperty.maxCECasePriority.label}" />
                            </div>
                        </f:subview>

                        <div class="p-col-4 restrict-data-field-label-inline">
                            <h:outputText value="Class"  />
                        </div>
                        <div class="p-col-8 restrict-data-field-value-inline">
                            <h:outputText value="#{propertyProfileBB.currentProperty.parcelInfo.propClass}" 
                                          rendered="#{not empty propertyProfileBB.currentProperty.parcelInfo}"/>
                        </div>

                        <div class="p-col-4 restrict-data-field-label-inline">
                            <h:outputText value="Use group"  />
                        </div>
                        <div class="p-col-8 restrict-data-field-value-inline">
                            <h:outputText value="#{propertyProfileBB.currentProperty.parcelInfo.useGroup}" 
                                          rendered="#{not empty propertyProfileBB.currentProperty.parcelInfo}"/>
                        </div>

                        <div class="p-col-4 restrict-data-field-label-inline">
                            <h:outputText value="Construction type"  />
                        </div>
                        <div class="p-col-8 restrict-data-field-value-inline">
                            <h:outputText value="#{propertyProfileBB.currentProperty.parcelInfo.constructionType}" 
                                          rendered="#{not empty propertyProfileBB.currentProperty.parcelInfo}"/>
                        </div>

                    </div>
                </h:form>
            </div>
        </div>
    </p:panel>


    <p:dialog id="property-info-dialog"
              height="750" width="90%"
              header="Edit parcel details: #{propertyProfileBB.currentProperty.countyParcelID}"
              widgetVar="property-info-dialog-var"
              closable="true"
              resizable="true"
              dynamic="true"
              closeOnEscape="true"
              modal="true"
              rendered="true">

        <h:form id="parcel-info-form">

            <p:commandButton id="parcel-info-edit-button"
                             value="#{propertyProfileBB.currentParcelInfoEditMode ? 'Save changes' : 'Edit'}"
                             rendered="#{propertyProfileBB.permissionAllowParcelEdit}"
                             ajax="true"
                             icon="pi #{propertyProfileBB.currentParcelInfoEditMode ? 'pi-check' : 'pi-pencil'}"
                             actionListener="#{propertyProfileBB.onParcelInfoEditModeToggleButtonChange}"
                             disabled="#{!empty propertyProfileBB.currentProperty.deactivatedTS or sessionBean.crossMuniViewMode}"
                             update="@form
                             parcel-info-view-form
                             property-messages-global"
                             />
            <div class="gray_button">

                <p:commandButton    id="parcel-info-edit-abort-button"
                                    ajax="true"
                                    rendered="#{propertyProfileBB.currentParcelInfoEditMode}"
                                    value="Cancel Edit"
                                    immediate="true"
                                    actionListener="#{propertyProfileBB.onParcelInfoEditModeOperationAbortButtonChange}"
                                    style="margin-left: 5px;"
                                    update="property-messages-global
                                    @form"
                                    icon="pi pi-arrow-left" />
            </div>

            <p:spacer height="5px"/>    



            <div class="p-grid">
                <!--left col-->
                <div class="p-col nested-grid">

                    <ui:include src="propInfoEditPanel.xhtml" />

                </div>
                <!--right column-->
                <div class="p-col nested-grid">

                    <p:panel id="parcel-flags-panel"
                             toggleable="true"
                             collapsed="false"
                             header="Parcel flags"
                             rendered="true"
                             >
                        <div class="p-grid">

                            <div class="p-col-12" >
                                <p:separator />
                            </div>

                            <div class="p-col-4" >
                                <p:spacer height="3px" />
                            </div>

                            <div class="p-col-4 restrict-data-field-label-inline">
                                <h:outputLabel value="Start date" />
                            </div>
                            <div class="p-col-4 restrict-data-field-label-inline">
                                <h:outputLabel value="Stop date" />
                            </div>

                            <div class="p-col-12 restrict-data-field-label-inline" >
                                <p:separator />
                                <h3>
                                    Property Status Designations
                                </h3>
                            </div>

                            <div class="p-col-4 restrict-data-field-label-inline" >
                                <h:outputLabel value="Unfitness of Occupancy"/>
                            </div>
                            <div class="p-col-4">
                                <h:outputText id="propinfo-ot-unfitstart-1"
                                              value="#{!(empty propertyProfileBB.currentProperty.parcelInfo.unfitDateStart) 
                                                       ? propertyProfileBB.getPrettyLocalDateOnlyNoTime(propertyProfileBB.currentProperty.parcelInfo.unfitDateStart) 
                                                       : ''}" 
                                              rendered="#{!propertyProfileBB.currentParcelInfoEditMode}"/>


                                <p:datePicker id="prop-add-unfit-start-cal"
                                              value="#{propertyProfileBB.currentProperty.parcelInfo.unfitDateStart}"
                                              rendered="#{propertyProfileBB.currentParcelInfoEditMode}"
                                              showButtonBar="true"
                                              pattern="MM/dd/yyyy"
                                              monthNavigator="true"
                                              hideOnDateTimeSelect="true"
                                              showOnFocus="false"
                                              showIcon="true"
                                              showTime="false"
                                              yearNavigator="true"
                                              mask="true"
                                              tabindex="16" >
                                    <f:convertDateTime pattern="MM/dd/yyyy" type="localDate"/>
                                </p:datePicker>
                            </div>

                            <div class="p-col-4">
                                <h:outputText id="propinfo-ot-unfitstop-1"
                                              value="#{!(empty propertyProfileBB.currentProperty.parcelInfo.unfitDateStop) 
                                                       ? propertyProfileBB.getPrettyLocalDateOnlyNoTime(propertyProfileBB.currentProperty.parcelInfo.unfitDateStop) 
                                                       : ''}"
                                              rendered="#{!propertyProfileBB.currentParcelInfoEditMode}" />

                                <p:datePicker id="prop-add-unfit-end-cal"
                                              value="#{propertyProfileBB.currentProperty.parcelInfo.unfitDateStop}"
                                              rendered="#{propertyProfileBB.currentParcelInfoEditMode}"
                                              showButtonBar="true"
                                              pattern="MM/dd/yyyy"
                                              monthNavigator="true"
                                              hideOnDateTimeSelect="true"
                                              showOnFocus="false"
                                              showIcon="true"
                                              yearNavigator="true"
                                              showTime="false"
                                              mask="true"
                                              tabindex="16" >
                                    <f:convertDateTime pattern="MM/dd/yyyy" type="localDate"/>
                                </p:datePicker>

                            </div>


                            <div class="p-col-4 restrict-data-field-label-inline" >
                                <h:outputLabel value="Vacancy"/>
                            </div>


                            <div class="p-col-4">
                                <h:outputText id="propinfo-ot-vacantstart-1"
                                              value="#{!(empty propertyProfileBB.currentProperty.parcelInfo.vacantDateStart) 
                                                       ? propertyProfileBB.getPrettyLocalDateOnlyNoTime(propertyProfileBB.currentProperty.parcelInfo.vacantDateStart) 
                                                       : ''}" 
                                              rendered="#{!propertyProfileBB.currentParcelInfoEditMode}" />

                                <p:datePicker id="prop-add-vacant-start-cal"
                                              value="#{propertyProfileBB.currentProperty.parcelInfo.vacantDateStart}"
                                              rendered="#{propertyProfileBB.currentParcelInfoEditMode}"
                                              showButtonBar="true"
                                              pattern="MM/dd/yyyy"
                                              monthNavigator="true"
                                              yearNavigator="true"
                                              hideOnDateTimeSelect="true"
                                              showOnFocus="false"
                                              showIcon="true"
                                              showTime="false"
                                              mask="true"
                                              tabindex="16" >
                                    <f:convertDateTime pattern="MM/dd/yyyy" type="localDate"/>
                                </p:datePicker>


                            </div>

                            <div class="p-col-4">
                                <h:outputText id="propinfo-ot-vacantstop-1"
                                              value="#{!(empty propertyProfileBB.currentProperty.parcelInfo.vacantDateStop) 
                                                       ? propertyProfileBB.getPrettyLocalDateOnlyNoTime(propertyProfileBB.currentProperty.parcelInfo.vacantDateStop) 
                                                       : ''}" 
                                              rendered="#{!propertyProfileBB.currentParcelInfoEditMode}" />

                                <p:datePicker id="prop-add-vacant-stop-cal"
                                              value="#{propertyProfileBB.currentProperty.parcelInfo.vacantDateStop}"
                                              rendered="#{propertyProfileBB.currentParcelInfoEditMode}"
                                              showButtonBar="true"
                                              pattern="MM/dd/yyyy"
                                              monthNavigator="true"
                                              yearNavigator="true"
                                              hideOnDateTimeSelect="true"
                                              showOnFocus="false"
                                              showIcon="true"
                                              showTime="false"
                                              mask="true"
                                              tabindex="16"
                                              >
                                    <f:convertDateTime pattern="MM/dd/yyyy" type="localDate"/>
                                </p:datePicker>


                            </div>



                            <div class="p-col-4 restrict-data-field-label-inline" >
                                <h:outputLabel value="Abandonment"/>
                                <p:spacer height="3px" />
                                <div class="restrict-main-contents-io-link link-button help-icon-tightright">
                                    <a href="https://technologyrediscovery.github.io/codenforce/property/personslinking#mark-a-property-as-abandoned "
                                       target="_blank">
                                        <i class="material-icons"
                                           style="display: inline-block">help_outline</i>
                                    </a>
                                </div>
                                <div class="restrict-main-contents-io-link link-button help-text-tightleft">
                                    <a href="https://technologyrediscovery.github.io/codenforce/property/personslinking#mark-a-property-as-abandoned "
                                       target="_blank">
                                        <h:outputText value="help" />
                                    </a>
                                </div>
                            </div>


                            <div class="p-col-4">
                                <h:outputText id="propinfo-ot-abandonedstart-1"
                                              value="#{!(empty propertyProfileBB.currentProperty.parcelInfo.abandonedDateStart) 
                                                       ? propertyProfileBB.getPrettyLocalDateOnlyNoTime(propertyProfileBB.currentProperty.parcelInfo.abandonedDateStart) 
                                                       : ''}" 
                                              rendered="#{!propertyProfileBB.currentParcelInfoEditMode}" />

                                <p:datePicker id="prop-add-abandoned-start-cal"
                                              value="#{propertyProfileBB.currentProperty.parcelInfo.abandonedDateStart}"
                                              rendered="#{propertyProfileBB.currentParcelInfoEditMode}"
                                              showButtonBar="true"
                                              pattern="MM/dd/yyyy"
                                              monthNavigator="true"
                                              yearNavigator="true"
                                              hideOnDateTimeSelect="true"
                                              showOnFocus="false"
                                              showIcon="true"
                                              showTime="false"
                                              mask="true"
                                              tabindex="16"
                                              >
                                    <f:convertDateTime pattern="MM/dd/yyyy" type="localDate"/>
                                </p:datePicker>



                            </div>

                            <div class="p-col-4">
                                <h:outputText id="propinfo-ot-abandonedstop-1"
                                              value="#{!(empty propertyProfileBB.currentProperty.parcelInfo.abandonedDateStop) 
                                                       ? propertyProfileBB.getPrettyLocalDateOnlyNoTime(propertyProfileBB.currentProperty.parcelInfo.abandonedDateStop) 
                                                       : ''}" 
                                              rendered="#{!propertyProfileBB.currentParcelInfoEditMode}" />

                                <p:datePicker id="prop-add-abandoned-stop-cal"
                                              value="#{propertyProfileBB.currentProperty.parcelInfo.abandonedDateStop}"
                                              rendered="#{propertyProfileBB.currentParcelInfoEditMode}"
                                              showButtonBar="true"
                                              pattern="MM/dd/yyyy"
                                              monthNavigator="true"
                                              yearNavigator="true"
                                              hideOnDateTimeSelect="true"
                                              showOnFocus="false"
                                              showIcon="true"
                                              showTime="false"
                                              mask="true"
                                              tabindex="16"
                                              >
                                    <f:convertDateTime pattern="MM/dd/yyyy" type="localDate"/>
                                </p:datePicker>

                            </div>




                            <div class="p-col-12 restrict-data-field-label-inline" >
                                <p:separator />
                                <h3>
                                    TCLB Designations
                                </h3>
                            </div>

                            <div class="p-col-4 restrict-data-field-label-inline" >
                                <h:outputLabel value="LB Prospect"/>
                            </div>

                            <div class="p-col-4">
                                <h:outputText id="lb-prospect-start-ot"
                                              value="#{!(empty propertyProfileBB.currentProperty.parcelInfo.landbankProspectStart) 
                                                       ? propertyProfileBB.getPrettyLocalDateOnlyNoTime(propertyProfileBB.currentProperty.parcelInfo.landbankProspectStart) 
                                                       : ''}" 
                                              rendered="#{!propertyProfileBB.currentParcelInfoEditMode}"/>


                                <p:datePicker id="lb-prospect-start-cal"
                                              value="#{propertyProfileBB.currentProperty.parcelInfo.landbankProspectStart}"
                                              rendered="#{propertyProfileBB.currentParcelInfoEditMode}"
                                              showButtonBar="true"
                                              pattern="MM/dd/yyyy"
                                              monthNavigator="true"
                                              hideOnDateTimeSelect="true"
                                              showOnFocus="false"
                                              showIcon="true"
                                              showTime="false"
                                              yearNavigator="true"
                                              mask="true"
                                              tabindex="16" >
                                    <f:convertDateTime pattern="MM/dd/yyyy" type="localDate"/>
                                </p:datePicker>
                            </div>


                            <div class="p-col-4">
                                <h:outputText id="lb-prospect-stop-ot"
                                              value="#{!(empty propertyProfileBB.currentProperty.parcelInfo.landbankProspectStop) 
                                                       ? propertyProfileBB.getPrettyLocalDateOnlyNoTime(propertyProfileBB.currentProperty.parcelInfo.landbankProspectStop) 
                                                       : ''}" 
                                              rendered="#{!propertyProfileBB.currentParcelInfoEditMode}"/>


                                <p:datePicker id="lb-prospect-stop-cal"
                                              value="#{propertyProfileBB.currentProperty.parcelInfo.landbankProspectStop}"
                                              rendered="#{propertyProfileBB.currentParcelInfoEditMode}"
                                              showButtonBar="true"
                                              pattern="MM/dd/yyyy"
                                              monthNavigator="true"
                                              hideOnDateTimeSelect="true"
                                              showOnFocus="false"
                                              showIcon="true"
                                              showTime="false"
                                              yearNavigator="true"
                                              mask="true"
                                              tabindex="16" >
                                    <f:convertDateTime pattern="MM/dd/yyyy" type="localDate"/>
                                </p:datePicker>
                            </div>

                            <div class="p-col-4 restrict-data-field-label-inline" >
                                <h:outputLabel value="LB Candidate "/>
                            </div>
                            <div class="p-col-4">
                                <h:outputText id="lb-acqcand-start-ot"
                                              value="#{!(empty propertyProfileBB.currentProperty.parcelInfo.landbankAcqCandidateStart) 
                                                       ? propertyProfileBB.getPrettyLocalDateOnlyNoTime(propertyProfileBB.currentProperty.parcelInfo.landbankAcqCandidateStart) 
                                                       : ''}" 
                                              rendered="#{!propertyProfileBB.currentParcelInfoEditMode}"/>


                                <p:datePicker id="lb-acqcand-start-cal"
                                              value="#{propertyProfileBB.currentProperty.parcelInfo.landbankAcqCandidateStart}"
                                              rendered="#{propertyProfileBB.currentParcelInfoEditMode}"
                                              showButtonBar="true"
                                              pattern="MM/dd/yyyy"
                                              monthNavigator="true"
                                              hideOnDateTimeSelect="true"
                                              showOnFocus="false"
                                              showIcon="true"
                                              showTime="false"
                                              yearNavigator="true"
                                              mask="true"
                                              tabindex="16" >
                                    <f:convertDateTime pattern="MM/dd/yyyy" type="localDate"/>
                                </p:datePicker>
                            </div>
                            <div class="p-col-4">
                                <h:outputText id="lb-acqcand-stop-ot"
                                              value="#{!(empty propertyProfileBB.currentProperty.parcelInfo.landbankAcqCandidateStop) 
                                                       ? propertyProfileBB.getPrettyLocalDateOnlyNoTime(propertyProfileBB.currentProperty.parcelInfo.landbankAcqCandidateStop) 
                                                       : ''}" 
                                              rendered="#{!propertyProfileBB.currentParcelInfoEditMode}"/>


                                <p:datePicker id="lb-acqcand-stop-cal"
                                              value="#{propertyProfileBB.currentProperty.parcelInfo.landbankAcqCandidateStop}"
                                              rendered="#{propertyProfileBB.currentParcelInfoEditMode}"
                                              showButtonBar="true"
                                              pattern="MM/dd/yyyy"
                                              monthNavigator="true"
                                              hideOnDateTimeSelect="true"
                                              showOnFocus="false"
                                              showIcon="true"
                                              showTime="false"
                                              yearNavigator="true"
                                              mask="true"
                                              tabindex="16" >
                                    <f:convertDateTime pattern="MM/dd/yyyy" type="localDate"/>
                                </p:datePicker>
                            </div>

                            <div class="p-col-4 restrict-data-field-label-inline" >
                                <h:outputLabel value="LB Pursuing"/>
                            </div>


                            <div class="p-col-4">
                                <h:outputText id="lb-pursuing-start-ot"
                                              value="#{!(empty propertyProfileBB.currentProperty.parcelInfo.landbankPursuingStart) 
                                                       ? propertyProfileBB.getPrettyLocalDateOnlyNoTime(propertyProfileBB.currentProperty.parcelInfo.landbankPursuingStart) 
                                                       : ''}" 
                                              rendered="#{!propertyProfileBB.currentParcelInfoEditMode}"/>


                                <p:datePicker id="lb-purusing-start-cal"
                                              value="#{propertyProfileBB.currentProperty.parcelInfo.landbankPursuingStart}"
                                              rendered="#{propertyProfileBB.currentParcelInfoEditMode}"
                                              showButtonBar="true"
                                              pattern="MM/dd/yyyy"
                                              monthNavigator="true"
                                              hideOnDateTimeSelect="true"
                                              showOnFocus="false"
                                              showIcon="true"
                                              showTime="false"
                                              yearNavigator="true"
                                              mask="true"
                                              tabindex="16" >
                                    <f:convertDateTime pattern="MM/dd/yyyy" type="localDate"/>
                                </p:datePicker>
                            </div>


                            <div class="p-col-4">
                                <h:outputText id="lb-pursuing-stop-ot"
                                              value="#{!(empty propertyProfileBB.currentProperty.parcelInfo.landbankPursuingStop) 
                                                       ? propertyProfileBB.getPrettyLocalDateOnlyNoTime(propertyProfileBB.currentProperty.parcelInfo.landbankPursuingStop) 
                                                       : ''}" 
                                              rendered="#{!propertyProfileBB.currentParcelInfoEditMode}"/>


                                <p:datePicker id="lb-purusing-stop-cal"
                                              value="#{propertyProfileBB.currentProperty.parcelInfo.landbankPursuingStop}"
                                              rendered="#{propertyProfileBB.currentParcelInfoEditMode}"
                                              showButtonBar="true"
                                              pattern="MM/dd/yyyy"
                                              monthNavigator="true"
                                              hideOnDateTimeSelect="true"
                                              showOnFocus="false"
                                              showIcon="true"
                                              showTime="false"
                                              yearNavigator="true"
                                              mask="true"
                                              tabindex="16" >
                                    <f:convertDateTime pattern="MM/dd/yyyy" type="localDate"/>
                                </p:datePicker>
                            </div>

                            <div class="p-col-4 restrict-data-field-label-inline">
                                <h:outputLabel value="LB Owned" />
                            </div>


                            <div class="p-col-4">
                                <h:outputText id="lb-owned-start-ot"
                                              value="#{!(empty propertyProfileBB.currentProperty.parcelInfo.landbankOwnedStart) 
                                                       ? propertyProfileBB.getPrettyLocalDateOnlyNoTime(propertyProfileBB.currentProperty.parcelInfo.landbankOwnedStart) 
                                                       : ''}" 
                                              rendered="#{!propertyProfileBB.currentParcelInfoEditMode}"/>


                                <p:datePicker id="lb-owned-start-cal"
                                              value="#{propertyProfileBB.currentProperty.parcelInfo.landbankOwnedStart}"
                                              rendered="#{propertyProfileBB.currentParcelInfoEditMode}"
                                              showButtonBar="true"
                                              pattern="MM/dd/yyyy"
                                              monthNavigator="true"
                                              hideOnDateTimeSelect="true"
                                              showOnFocus="false"
                                              showIcon="true"
                                              showTime="false"
                                              yearNavigator="true"
                                              mask="true"
                                              tabindex="16" >
                                    <f:convertDateTime pattern="MM/dd/yyyy" type="localDate"/>
                                </p:datePicker>
                            </div>

                            <div class="p-col-4">
                                <h:outputText id="lb-owned-stop-ot"
                                              value="#{!(empty propertyProfileBB.currentProperty.parcelInfo.landbankOwnedStop) 
                                                       ? propertyProfileBB.getPrettyLocalDateOnlyNoTime(propertyProfileBB.currentProperty.parcelInfo.landbankOwnedStop) 
                                                       : ''}" 
                                              rendered="#{!propertyProfileBB.currentParcelInfoEditMode}"/>


                                <p:datePicker id="lb-owned-stop-cal"
                                              value="#{propertyProfileBB.currentProperty.parcelInfo.landbankOwnedStop}"
                                              rendered="#{propertyProfileBB.currentParcelInfoEditMode}"
                                              showButtonBar="true"
                                              pattern="MM/dd/yyyy"
                                              monthNavigator="true"
                                              hideOnDateTimeSelect="true"
                                              showOnFocus="false"
                                              showIcon="true"
                                              showTime="false"
                                              yearNavigator="true"
                                              mask="true"
                                              tabindex="16" >
                                    <f:convertDateTime pattern="MM/dd/yyyy" type="localDate"/>
                                </p:datePicker>
                            </div>

                            <div class="p-col-12 restrict-data-field-label-inline" >
                                <p:separator />
                                <h3>
                                    TCLB Notes
                                </h3>
                            </div>

                            <div class="p-col-4 restrict-data-field-label-inline">
                                <h:outputText value="LB Prospect Notes" />
                            </div>
                            <div class="p-col-8 restrict-data-field-value-inline">
                                <h:outputText value="#{propertyProfileBB.currentProperty.parcelInfo.landbankProspectNotes}"
                                              escape="false"
                                              rendered="#{!propertyProfileBB.currentParcelInfoEditMode}"/>

                                <p:inputTextarea    value="#{propertyProfileBB.currentProperty.parcelInfo.landbankProspectNotes}"
                                                    cols="20"
                                                    rows="5"
                                                    rendered="#{propertyProfileBB.currentParcelInfoEditMode}"/>
                            </div>

                            <div class="p-col-4 restrict-data-field-label-inline">
                                <h:outputText value="LB Candidate Notes" />
                            </div>
                            <div class="p-col-8 restrict-data-field-value-inline">
                                <h:outputText value="#{propertyProfileBB.currentProperty.parcelInfo.landbankAcqCandidateNotes}"
                                              escape="false"
                                              rendered="#{!propertyProfileBB.currentParcelInfoEditMode}"/>

                                <p:inputTextarea    value="#{propertyProfileBB.currentProperty.parcelInfo.landbankAcqCandidateNotes}"
                                                    cols="20"
                                                    rows="5"
                                                    rendered="#{propertyProfileBB.currentParcelInfoEditMode}"/>
                            </div>

                            <div class="p-col-4 restrict-data-field-label-inline">
                                <h:outputText value="LB Pursuing Notes" />
                            </div>
                            <div class="p-col-8 restrict-data-field-value-inline">
                                <h:outputText value="#{propertyProfileBB.currentProperty.parcelInfo.landbankPursuingNotes}"
                                              escape="false"
                                              rendered="#{!propertyProfileBB.currentParcelInfoEditMode}"/>

                                <p:inputTextarea    value="#{propertyProfileBB.currentProperty.parcelInfo.landbankPursuingNotes}"
                                                    cols="20"
                                                    rows="5"
                                                    rendered="#{propertyProfileBB.currentParcelInfoEditMode}"/>
                            </div>

                            <div class="p-col-4 restrict-data-field-label-inline">
                                <h:outputText value="LB Owned Notes" />
                            </div>
                            <div class="p-col-8 restrict-data-field-value-inline">
                                <h:outputText value="#{propertyProfileBB.currentProperty.parcelInfo.landbankOwnedNotes}"
                                              escape="false"
                                              rendered="#{!propertyProfileBB.currentParcelInfoEditMode}"/>

                                <p:inputTextarea    value="#{propertyProfileBB.currentProperty.parcelInfo.landbankOwnedNotes}"
                                                    cols="20"
                                                    rows="5"
                                                    rendered="#{propertyProfileBB.currentParcelInfoEditMode}"/>
                            </div>
                        </div>
                    </p:panel>

                </div>
            </div>
        </h:form>
    </p:dialog>

    <p:dialog id="property-broadview-dialog"
              modal="true"
              height="500" 
              width="800"
              widgetVar="property-broadview-dialog-var"
              closable="true"
              closeOnEscape="true"
              responsive="true"
              resizable="true"
              dynamic="true"
              header="Change the broadview photo on Parcel ID: #{propertyProfileBB.currentProperty.countyParcelID}"
              rendered="#{systemServicesBB.bbSessionUser.keyCard.hasMuniStaffPermissions}"
              >

        <h:form id="property-broadview-form">


            <p:spacer height="5px" />

            <p:dataTable id="blob-table"
                         value="#{propertyProfileBB.broadViewPhotoCandidates}"
                         rendered="#{!empty propertyProfileBB.broadViewPhotoCandidates}"
                         var="bvblob"
                         rowKey="#{bvblob.photoDocID}"
                         resizableColumns="true"
                         tableStyleClass="primeDataTable"
                         >

                <p:column headerText="PhotoDoc ID"
                          style="width:5%;">
                    <h:outputText value="#{bvblob.photoDocID}" />
                </p:column>
                <p:column headerText="Blob ID"
                          style="width:5%;">
                    <h:outputText value="#{bvblob.bytesID}" />
                </p:column>

                <p:column headerText="Type"
                          style="width:10%;">
                    <h:outputText value="#{bvblob.type.title}" />
                </p:column>
                <p:column headerText="Timestamp"
                          style="width:15%;">
                    <h:outputText value="#{bvblob.createdTS}" />
                </p:column>
                <p:column headerText="Title / Descr"
                          style="width:20%;">
                    <h:outputText value="#{bvblob.title}" />
                    <p:spacer height="5px" />
                    <h:outputText value="#{bvblob.description}" />
                </p:column>
                <p:column headerText="Preview"
                          style="width:30%;">
                    <p:graphicImage value="#{blobsterBB.image}"
                                    alt="no preview available" 
                                    style="width: 150px" 
                                    cache="true"
                                    rendered="#{bvblob.type.browserViewable}">
                        <f:param name="blobid" value="#{bvblob.photoDocID}"/>
                    </p:graphicImage>

                    <h:outputText value="no preview available; download to view"
                                  rendered="#{!bvblob.type.browserViewable}" />
                </p:column>
                <p:column headerText="Actions"
                          style="width:15%;">
                    <p:commandLink id="bvblob-viewblob-cl"
                                   actionListener="#{blobUtilitiesBB.onViewBlobLinkClick(bvblob, propertyProfileBB.currentProperty)}"
                                   value="view"
                                   style="color:blue; font-weight: bold;"
                                   rendered="#{bvblob.type.browserViewable}"
                                   update="blobs-viewblob-dialog
                                   blob-viewblob-form"
                                   oncomplete="PF('blobs-viewblob-dialog-var').show();" />

                    <h:outputText value=" | "/>

                    <p:commandLink id="bvblob-select-cl"
                                   actionListener="#{propertyProfileBB.onChangeBroadviewPhotoCommitLinkClick(bvblob)}"
                                   value="select"
                                   style="color:blue; font-weight: bold;"
                                   rendered="true"
                                   update="property-messages-global
                                   parcel-photo-form" 
                                   oncomplete="PF('property-broadview-dialog-var').hide();"/>

                </p:column>
            </p:dataTable>
        </h:form>
    </p:dialog>


    <p:dialog id="prop-alerts-dialog"
              modal="true"
              height="70%" 
              width="80%"
              widgetVar="prop-alerts-dialog-var"
              closable="true"
              closeOnEscape="true"
              header="Alert events attached to property: #{propertyProfileBB.currentProperty.address.addressPretty1Line}"
              rendered="true"
              >

        <h:form id="prop-alerts-form">

            <h2>Alerts</h2>

            <p:dataTable id="crossdomain-events-table"
                         value="#{propertyProfileBB.currentProperty.propertyAlerts.alertList}"
                         rendered="#{not empty propertyProfileBB.currentProperty.propertyAlerts.alertList}"
                         var="alert"
                         tableStyleClass="primeDataTable"
                         reflow="true" >

                <p:column headerText="Alert start date"
                          width="20%"
                          sortBy="#{alert.alertEvent.eventStartDateOnly}"
                          styleClass="centeredColumnContent">
                    <h:outputText value="#{empty alert.alertEvent ? eventBB.getPrettyDate(alert.alertEvent.createdTS) : eventBB.getPrettyDate(alert.alertEvent.timeStart) }"/>
                </p:column>

                <p:column headerText="Category"
                          width="20%"
                          sortBy="#{alert.alertEvent.category.eventCategoryTitle}"
                          styleClass="centeredColumnContent #{alert.alertEvent.category.alertEvent ? 'alert-background':''}">

                    <div class="#{alert.alertEvent.category.icon.styleClass}">
                        <i class="material-icons status-display-icon-i"><h:outputText value="#{alert.alertEvent.category.icon.materialIcon}"/></i>
                    </div>

                    <h:outputText value="#{alert.alertEvent.category.eventType.label}:"
                                  styleClass="#{alert.alertEvent.category.alertEvent ? 'bold':''}"/>

                    <p:spacer height="1px" />

                    <h:outputText value="#{alert.alertEvent.category.eventCategoryTitle}"
                                  styleClass="#{alert.alertEvent.category.alertEvent ? 'bold':''}"/>
                    <p:spacer height="1px" />
                    <h:outputText value="Property Alert!"
                                  rendered="#{alert.alertEvent.category.alertEvent}"
                                  styleClass="#{alert.alertEvent.category.alertEvent ? 'bold':''}"/>
                </p:column>

                <p:column headerText="Stop event type and category"
                          width="20%"
                          styleClass="wrapText">

                    <h:outputText value="#{alert.alertEvent.category.alertStopCategory.eventType.label}: #{alert.alertEvent.category.alertStopCategory.eventCategoryTitle}" />
                </p:column>

                <p:column headerText="Alert stoped?"
                          width="20%"
                          styleClass="wrapText">

                    <h:outputText value="Yes, alert stopped by event logged on #{eventBB.getPrettyDate(alert.alertStopEvent.timeStart)} (ID:#{alert.alertStopEvent.eventID})"
                                  rendered="#{not empty alert.alertStopEvent}"
                                  styleClass="bold"
                                  style="color: darkgreen;"/>

                    <h:outputText value="No, stop this alert by adding an event of the stop type and category to this property or any case or period inside this property."
                                  rendered="#{empty alert.alertStopEvent}"
                                  styleClass="italic small-text"/>
                </p:column>
            </p:dataTable>

        </h:form>
    </p:dialog>

    <p:dialog id="prop-remove-dialog"
              modal="true"
              height="300" 
              width="550"
              widgetVar="prop-remove-dialog-var"
              closable="true"
              header="Remove property #{propertySaddressString.currentProperty.address}"
              rendered="#{systemServicesBB.bbSessionUser.keyCard.hasEnfOfficialPermissions}"
              >

        <h:form id="propinfo-remove-form">

            <p>Caution: This action is like 'delete'; we have to dig the record back out by
                hand if you goof.</p>
            <p:commandButton icon="fa fa-trash"
                             ajax="false"
                             action="#{propertyProfileBB.onRemoveButtonChange}"
                             value="Permanently remove property ID:#{propertyProfileBB.currentProperty.propertyID}"
                             />

        </h:form>
    </p:dialog>



</ui:composition>
