<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns="http://www.w3.org/1999/xhtml">

    <p:panel id="prop-eventlist-comprehensive-panel"
             toggleable="true"
             collapsed="true"
             header="Property event list: cumulative"
             rendered="true"
             > 
        <h:form id="prop-eventlist-comprehensive">
            <h:outputText value="This event list contains all events attached to all the cases and permit files inside this property. Re-view the property to refresh." />
            <p:spacer height="3px" />
            <p:dataTable id="property-events-table"
                         value="#{propertyProfileBB.currentProperty.eventListCumulative}"
                         rendered="true"
                         var="genevent"
                         tableStyleClass="primeDataTable"
                         rowKey="#{genevent.eventID}"
                         reflow="true"
                         selection="#{eventBB.selectedEvents}"
                         rowStyleClass="#{genevent.followUpNeeded ? 'followup':''}">

                
                <p:column headerText="Parent"
                          width="10%"
                          sortBy="#{genevent.domain.title}"
                          styleClass="centeredColumnContent">
                    <h:outputText value="#{genevent.domain.title}"/>
                </p:column>
                
                
                <p:column headerText="Parent ID"
                          width="10%"
                          sortBy="#{genevent.parentID}"
                          styleClass="centeredColumnContent">
                    <h:outputText value="#{genevent.parentID}"/>
                </p:column>
                
                <p:column headerText="Date"
                          width="20%"
                          sortBy="#{genevent.eventStartDateOnly}"
                          styleClass="centeredColumnContent">
                    <h:outputText value="#{empty genevent.timeStart ? eventBB.getPrettyDate(genevent.createdTS) : eventBB.getPrettyDate(genevent.timeStart) }"/>
                </p:column>

                <p:column headerText="Category"
                          width="20%"
                          sortBy="#{genevent.category.eventCategoryTitle}"
                          styleClass="centeredColumnContent #{genevent.category.alertEvent ? 'alert-background':''}">

                    <div class="#{genevent.category.icon.styleClass}">
                        <i class="material-icons status-display-icon-i"><h:outputText value="#{genevent.category.icon.materialIcon}"/></i>
                    </div>

                    <h:outputText value="#{genevent.category.eventType.label}:"
                                  styleClass="#{genevent.category.alertEvent ? 'bold':''}"/>

                    <p:spacer height="1px" />

                    <h:outputText value="#{genevent.category.eventCategoryTitle}"
                                  styleClass="#{genevent.category.alertEvent ? 'bold':''}"/>
                    <p:spacer height="1px" />
                    <h:outputText value="Property Alert!"
                                  rendered="#{genevent.category.alertEvent}"
                                  styleClass="#{genevent.category.alertEvent ? 'bold':''}"/>
                </p:column>

                <p:column headerText="Description"
                          width="30%"
                          styleClass="wrapText">

                    <h:outputText value="#{genevent.description}"
                                  escape="false"/>

                </p:column>

                <p:column headerText="Actions"
                          width="10%"
                          styleClass="centeredColumnContent"
                          sortBy="#{genevent.eventID}">
                    <div class="restrict-main-contents-io-link link-button">
                        <p:commandLink id="event-open-button-parcelcumulativelist"
                                       styleClass="noFill button-size-small"
                                       value="view/edit"
                                       rendered="#{not sessionBean.crossMuniViewMode}"
                                       type="button"
                                       ajax="true"
                                       oncomplete="PF('event-profile-dialog-var').show()"
                                       update="event-profile-dialog
                                       event-profile-form"
                                       >
                            <p:ajax listener="#{eventBB.onViewEvent(genevent)}" />
                            <f:param name="event-list-component-to-update" 
                                     value="event-masterlist-form:crossdomain-events-table" />
                        </p:commandLink>
                    </div>
                    <p:spacer height="3px" />
                    <h:outputText value="(ID:#{genevent.eventID})"/>
                </p:column>
            </p:dataTable>
        </h:form>
    </p:panel>
</ui:composition>
