<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns="http://www.w3.org/1999/xhtml">



    <p:panel    id="prop-persons-panel"
                toggleable="true"
                widgetVar="prop-person-panel-var"
                collapsed="false"
                rendered="true">

        <f:facet name="header">
            <h:outputText value="Person links" />
            <div class="restrict-main-contents-io-link link-button help-icon-tightright">
                <a href="https://technologyrediscovery.github.io/codenforce/property/personslinking#link-a-person-to-a-property-or-case"
                   target="_blank">
                    <i class="material-icons"
                       style="display: inline-block">help_outline</i>
                </a>
            </div>
        </f:facet>

        <h:form id="prop-persons-panel-form">

            <p:commandButton   id="prop-persons-manage-button"
                               ajax="true"
                               actionListener="#{personBB.onSelectAndLinkPersonsInit(propertyProfileBB.currentProperty)}"
                               oncomplete="PF('human-search-dialog-var').show()"
                               rendered="#{systemServicesBB.bbSessionUser.keyCard.hasMuniStaffPermissions}"
                               disabled="#{!empty propertyProfileBB.currentProperty.deactivatedTS or sessionBean.crossMuniViewMode}"
                               value="Manage Links"
                               update=" human-search-dialog
                               property-messages-global
                               search-query-form
                               pers-selected-form
                               hlh-humlist-form
                               pers-upstreampool-panel
                               pers-upstreampool-form"
                               icon="pi pi-user-edit"
                               >
                <f:param name="person-list-component-to-update"
                         value="prop-persons-panel-form:prop-persons-table" />
            </p:commandButton>

            <p:spacer height="5px" />

            <p:dataTable id="prop-persons-table"
                         value="#{propertyProfileBB.managedHumanLinkList}"
                         rendered="true"
                         var="humlink"
                         tableStyleClass="primeDataTable"
                         rowKey="#{humlink.humanID}"
                         >

                <p:column headerText="Name"
                          width="35%"
                          styleClass="centeredColumnContent">
                    <h:outputText value="#{humlink.name}" />

                </p:column>

                <p:column headerText="Role"
                          width="35%"
                          styleClass="centeredColumnContent">
                    <h:outputText value="#{humlink.linkedObjectRole.title}"/>

                </p:column>

                <p:column headerText="Actions"
                          width="30%"
                          styleClass="centeredColumnContent">
                    <div class="restrict-main-contents-io-link">
                        <p:commandLink      id="prop-person-exploreperson-cl"
                                            ajax="true"
                                            action="#{personBB.onHumanViewLinkClick(humlink, propertyProfileBB.currentProperty)}"
                                            value="View/Edit person"
                                            oncomplete="PF('person-profile-dialog-var').show();"
                                            update="person-profile-dialog
                                            topnav-pers-form"
                                            >
                            <f:param name="person-list-component-to-update"
                                     value="prop-persons-panel-form" />
                        </p:commandLink>
                    </div>
                    <p:spacer height="3px" />
                    <div class="restrict-main-contents-io-link">
                        <p:commandLink      id="prop-personlink-vieweditlink-cl"
                                            ajax="true"
                                            action="#{personBB.onHumanLinkEditInitButtonChange(humlink, propertyProfileBB.currentProperty)}"
                                            value="View/Edit link"
                                            oncomplete="PF('humanlink-viewedit-dialog-var').show();"
                                            update="humanlink-viewedit-dialog
                                            humanlink-viewedit-form"
                                            >
                            <f:param name="person-list-component-to-update"
                                     value="prop-persons-panel-form" />
                        </p:commandLink>
                    </div>
                    
                </p:column>
            </p:dataTable>
        </h:form>
    </p:panel>
</ui:composition>
