<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <link rel="stylesheet" type="text/css" href="css/style.css"></link>
        <title>Review and submit code enforcement action</title>
    </h:head>
    <h:body>
        <ui:composition template="./../../navContainer_public.xhtml">
            <ui:define name="content">
                <f:view id="review-info-view">
                    <h:form id="review-info-form">

                        <!-- VALIDATION MESSAGE -->
                        <p:growl id="growl" showDetail="false"/>

                        <!-- MAIN CONTAINER -->
                        <div class="mainContainer">

                            <!-- TITLE COMPONENT -->
                            <div class="public-title">
                                <div class="public-title-main">
                                    Report a New Concern
                                </div>
                                <div class="public-title-sub">
                                    If you would like to report a concern with a properly in your municipality, please begin the process below to submit your claim.
                                </div>
                            </div>

                            <!-- CONTENTS CONTAINER -->
                            <div class="public-main-contents-containner">

                                <!--CONTENT MAIN COMPONENT -->
                                <div class="public-main-contents">

                                    <!-- GUIDANCE COMPONENT -->
                                    <div class="public-guide">
                                        <p:steps activeIndex="5" styleClass="custom">
                                            <p:menuitem value="" containerStyleClass="complete" />
                                            <p:menuitem value="" containerStyleClass="complete" />
                                            <p:menuitem value="" containerStyleClass="complete"/>
                                            <p:menuitem value="" containerStyleClass="complete"/>
                                            <p:menuitem value="" containerStyleClass="complete"/>
                                            <p:menuitem value="" />
                                        </p:steps>
                                    </div>

                                    <!-- CONTENT IO COMPONENT -->
                                    <div class="public-main-contents-io">

                                        <!-- CONTENT IO COMPONENT: INSTRUCTION -->
                                        <div class="public-main-contents-io-title" >
                                            6. Review and Submit
                                        </div>

                                        <!-- CONTENT IO COMPONENT: CONTENT -->
                                        <div class="public-main-contents-io-content" >

                                            <!-- DATA CONTAINER -->
                                            <div class="ui-g data-container">

                                                <div class="ui-g-12 ui-md-6 ui-lg-6 ">

                                                    <!-- NESTED DATA CONTAINER -->
                                                    <div class="ui-g data_container_nested_public">

                                                        <div class="ui-g-12 data_field_title">
                                                            Code enforcement concern :
                                                        </div>

                                                        <div class="ui-g-6">
                                                            <h:outputLabel styleClass="data_field_label" 
                                                                           value="Municipality : "
                                                                           />
                                                            <h:outputText styleClass="data_field_value" value="#{cEActionRequestSubmitBB.currentRequest.muni.muniName}"/>
                                                            
                                                        </div>

                                                        <div class="ui-g-6">
                                                            <h:outputLabel styleClass="data_field_label" 
                                                                           value="Location of concern : "
                                                                           />
                                                            <h:outputText styleClass="data_field_value" 
                                                                          value="#{cEActionRequestSubmitBB.selectedProperty.address.addressPretty2LineEscapeFalse}"
                                                                          escape="false"
                                                                          rendered="#{not cEActionRequestSubmitBB.currentRequest.notAtKnownAddress and not empty cEActionRequestSubmitBB.selectedProperty}"/>
                                                            <h:outputText styleClass="data_field_value" 
                                                                          value="#{cEActionRequestSubmitBB.currentRequest.nonaddressableDescription}"
                                                                          rendered="#{cEActionRequestSubmitBB.currentRequest.notAtKnownAddress}"/>
                                                            <p:spacer height="3px" />
                                                            <p:commandLink      id="cear-review-backto-location"
                                                                                ajax="false"
                                                                                style="font-weight: bold; color:blue;"
                                                                                action="#{cEActionRequestSubmitBB.editProperty()}"
                                                                                value="edit location"
                                                                                rendered="true"
                                                                                />
                                                        </div>
                                                        <div class="ui-g-6">
                                                            <h:outputLabel styleClass="data_field_label" 
                                                                           value="Description of conern: "
                                                                           />
                                                            <h:outputText styleClass="data_field_value" value="#{cEActionRequestSubmitBB.currentRequest.requestDescription}"/>
                                                            <p:spacer height="3px" />
                                                            <p:commandLink      id="cear-review-backto-concern"
                                                                                ajax="false"
                                                                                style="font-weight: bold; color:blue;"
                                                                                action="#{cEActionRequestSubmitBB.editRequestDetails()}"
                                                                                value="edit description"
                                                                                rendered="true"
                                                                                />
                                                        </div>

                                                        <div class="ui-g-6">
                                                            <h:outputLabel styleClass="data_field_label" 
                                                                           value="Human Safety Issue : "
                                                                           />
                                                            <h:outputText styleClass="data_field_value" value="#{cEActionRequestSubmitBB.currentRequest.urgent ? 'Yes' : 'No'}"/>
                                                        </div>

                                                        <div class="ui-g-6">
                                                            <h:outputLabel styleClass="data_field_label" 
                                                                           value="Concern date: "
                                                                           />
                                                            <h:outputText styleClass="data_field_value" value="#{cEActionRequestSubmitBB.getPrettyDate(cEActionRequestSubmitBB.currentRequest.dateOfRecord)}"/>
                                                        </div>
                                                        <div class="ui-g-6">
                                                            <h:outputLabel styleClass="data_field_label" 
                                                                           value="Submission timestamp"
                                                                           />
                                                            <h:outputText styleClass="data_field_value" value="#{cEActionRequestSubmitBB.getPrettyDate(cEActionRequestSubmitBB.currentRequest.createdTS)}"/>
                                                        </div>

                                                    </div>
                                                </div>

                                                <div class="ui-g-12 ui-md-1 ui-lg-1 "> </div>

                                                <div class="ui-g-12 ui-md-5 ui-lg-5  ">

                                                    <!-- NESTED DATA CONTAINER -->
                                                    <div class="ui-g data_container_nested_public">

                                                        <div class="ui-g-12 data_field_title">
                                                            Contact : 
                                                        </div>
                                                      

                                                        <div class="ui-g-6">
                                                            <h:outputLabel styleClass="data_field_label" 
                                                                           value="Name : "
                                                                           />
                                                            <h:outputText styleClass="data_field_value" value="#{cEActionRequestSubmitBB.currentRequest.requestorName}"/>
                                                        </div>
                                                        
                                                        <div class="ui-g-6">
                                                            <h:outputLabel styleClass="data_field_label" 
                                                                           value="Role : "
                                                                           />
                                                            <h:outputText styleClass="data_field_value" value="#{cEActionRequestSubmitBB.currentRequest.requestorPersonType.label}"/>
                                                        </div>

                                                        <div class="ui-g-6">
                                                            <h:outputLabel styleClass="data_field_label" 
                                                                           value="Phone : "
                                                                           />
                                                            <h:outputText styleClass="data_field_value" value="#{cEActionRequestSubmitBB.currentRequest.requestorPhone}"/>
                                                            <h:outputText styleClass="data_field_value" value=" (#{cEActionRequestSubmitBB.currentRequest.requestorPhoneType.title})"
                                                                          rendered="#{not empty cEActionRequestSubmitBB.currentRequest.requestorPhoneType}"/>
                                                        </div>

                                                        <div class="ui-g-6">
                                                            <h:outputLabel styleClass="data_field_label" 
                                                                           value="Email : "
                                                                           />
                                                            <h:outputText styleClass="data_field_value" value="#{cEActionRequestSubmitBB.currentRequest.requestorEmail}"/>
                                                        </div>

                                                        <div class="ui-g-6">
                                                            <h:outputLabel styleClass="data_field_label" 
                                                                           value="Anonymity Requested : "
                                                                           />
                                                            <h:outputText styleClass="data_field_value" value="#{cEActionRequestSubmitBB.currentRequest.anonymitiyRequested ? 'Yes' : 'No'}"/>
                                                        </div>
                                                        <div class="ui-g-12">
                                                        <p:commandLink      id="cear-review-backto-requestor"
                                                                            ajax="false"
                                                                            style="font-weight: bold; color:blue;"
                                                                            action="#{cEActionRequestSubmitBB.editRequestorDetails()}"
                                                                            value="edit contact info"
                                                                            rendered="true"
                                                                            />
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="ui-g-12 ui-md-12 ui-lg-12 ">

                                                    <!-- NESTED DATA CONTAINER -->
                                                    <div class="ui-g data_container_nested_public">

                                                        <div class="ui-g-12 data_field_title">
                                                            Photos : 
                                                        </div>
                                                            <p:spacer height="3px" />
                                                            <p:commandLink      id="cear-review-backto-photos"
                                                                                ajax="false"
                                                                                style="font-weight: bold; color:blue; margin-left:10px;"
                                                                                action="#{cEActionRequestSubmitBB.editPhotos()}"
                                                                                value="edit photos"
                                                                                rendered="true"
                                                                                />
                                                        <div class="ui-g-12">
                                                            <p:dataTable
                                                                id="cear-blobs-table"
                                                                value="#{cEActionRequestSubmitBB.managedBlobLightListFromCEAR}"
                                                                var="blob"
                                                                rowKey="#{blob.photoDocID}"
                                                                tableStyleClass="primeDataTable"
                                                                resizableColumns="true"
                                                                draggableRows="false" tabindex="6">

                                                                <p:column width="15%">
                                                                    <f:facet name="header">
                                                                        <h:outputText value="Preview"/>
                                                                    </f:facet>
                                                                    <h:outputText value="#{blob.description}" />
                                                                    <p:spacer height="3px" />
                                                                    <p:graphicImage value="#{blobsterBB.image}"
                                                                                    alt="no preview available" 
                                                                                    style="width: 150px" 
                                                                                    cache="true"
                                                                                    rendered="#{blob.type.browserViewable}">
                                                                        <f:param name="blobid" value="#{blob.photoDocID}"/>
                                                                    </p:graphicImage>
                                                                    
                                                                </p:column>

                                                              
                                                            </p:dataTable>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- CONTENT BUTTON -->
                                  
                                    <div class="public-main-contents-button-left">
                                        <div class="gray_button">
                                            <p:commandButton ajax="false" 
                                                             styleClass="buttonOwnLine"
                                                             id="restart" 
                                                             icon="pi pi-trash"
                                                             value="Discard request and start over" 
                                                             process="@none" 
                                                             immediate="true"
                                                             action="#{cEActionRequestSubmitBB.restartRequest()}"
                                                             style="float: left"/>
                                        </div>
                                    </div>

                                    <!-- CONTENT BUTTON -->
                                    <div class="public-main-contents-button-right" >

                                        <p:commandButton id="submitRequest" 
                                                         ajax="false"
                                                         value="Submit Your Concern Report" 
                                                         tabindex="1"
                                                         styleClass="buttonOwnLine"
                                                         icon="pi pi-save"
                                                         action="#{cEActionRequestSubmitBB.onEndCEARFlow()}"
                                                         style="width: 100%;"/>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </h:form>
                    <script>
                        var y = document.getElementById('public-reportconcern-arrow-id');
                        y.className += " public-menu-active";
                    </script> 
                </f:view>
            </ui:define>
        </ui:composition>
    </h:body>
</html>