<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <link rel="stylesheet" type="text/css" href="css/style.css"></link>
        <title>Request code enforcement action</title>
    </h:head>
    <h:body>
        <ui:composition template="./../../navContainer_public.xhtml">
            <ui:define name="content">
                <f:view id="requestCEActionFlow1View">
                    <h:form id="requestCEActionFlowFormChooseMuni">

                        <!-- VALIDATION MESSAGE -->
                        <p:growl id="growl" showDetail="false"/>

                        <!-- MAIN CONTAINER -->
                        <div class="mainContainer">

                            <!-- TITLE COMPONENT -->
                            <div class="public-title">
                                <div class="public-title-main">
                                    Report a New Concern
                                </div>
                                <div class="public-title-sub">
                                    If you would like to report a concern with a properly in your municipality, please begin the process below to submit your claim.
                                </div>
                            </div>

                            <!-- CONTENTS CONTAINER -->
                            <div class="public-main-contents-containner">

                                <!--CONTENT MAIN COMPONENT -->
                                <div class="public-main-contents">

                                    <!-- GUIDANCE COMPONENT -->
                                    <div class="public-guide">
                                        <p:steps activeIndex="0" styleClass="custom" >
                                            <p:menuitem value="" />
                                            <p:menuitem value="" />
                                            <p:menuitem value="" />
                                            <p:menuitem value="" />
                                            <p:menuitem value="" />
                                            <p:menuitem value="" />
                                        </p:steps>
                                    </div>

                                    <!-- CONTENT IO COMPONENT -->
                                    <div class="public-main-contents-io">
                                        
                                        <p:focus/>
                                        
                                        <!-- CONTENT IO COMPONENT: INSTRUCTION -->
                                        <div class="public-main-contents-io-title" >
                                            1. Select your municipality below.
                                        </div>

                                        <!-- CONTENT IO COMPONENT: CONTENT -->
                                        <div class="public-main-contents-io-content" >
                                            <p:selectOneMenu id="muniSelectMenu" 
                                                             tabindex="1" 
                                                             required="true"
                                                             value="#{cEActionRequestSubmitBB.selectedMuni}"
                                                             label=" Select a municipality "
                                                             >
                                                
                                                <f:converter converterId="muniConverter"/>
                                                
                                                <f:selectItem itemLabel="Select a municipality..." 
                                                              noSelectionOption="true" 
                                                              itemDisabled="true"
                                                              />
                                                
                                                <f:selectItems id="muniNameList" 
                                                               value="#{cEActionRequestSubmitBB.muniList}" 
                                                               var="m" 
                                                               itemValue="#{m}" 
                                                               itemLabel="#{m.muniName}"
                                                               />
                                                
                                            </p:selectOneMenu>
                                        </div>
                                    </div>

                                    <!-- CONTENT BUTTON -->
                                    <div class="public-main-contents-button-right">
                                        <p:commandButton ajax="false" 
                                                         value="Next Step: Choose property" 
                                                         action="#{cEActionRequestSubmitBB.storeSelectedMuni}"
                                                         style="width: 100%;"
                                                         update="growl"
                                                         tabindex="2"/>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </h:form>
                    <script>
                        var y = document.getElementById('public-reportconcern-arrow-id');
                        y.className += " public-menu-active";
                    </script> 
                </f:view>
            </ui:define>
        </ui:composition>
    </h:body>
</html>

