<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <link rel="stylesheet" type="text/css" href="css/style.css"></link>
        <title>Choose a property</title>
    </h:head>
    <h:body>
        <ui:composition template="./../../navContainer_public.xhtml">
            <ui:define name="content">
                <f:view id="requestCEActionFlow1View">


                    <h:form id="messages-global-form">
                        <p:growl id="messages-global-growl"
                                 redisplay="false"
                                 />
                    </h:form>
                    <h:form id="requestCEActionFlowFormChooseProperty">

                        <!-- VALIDATION MESSAGE -->
                        <p:growl id="growl" showDetail="false"/>

                        <!-- MAIN CONTAINER -->
                        <div class="mainContainer">

                            <!-- TITLE COMPONENT -->
                            <div class="public-title">
                                <div class="public-title-main">
                                    Report a New Concern
                                </div>
                                <div class="public-title-sub">
                                    If you would like to report a concern with a properly in your municipality, please begin the process below to submit your claim.
                                </div>
                            </div>

                            <!-- CONTENTS CONTAINER -->
                            <div class="public-main-contents-containner">

                                <!--CONTENT MAIN COMPONENT -->
                                <div class="public-main-contents">

                                    <!-- GUIDANCE COMPONENT -->
                                    <div class="public-guide">
                                        <p:steps activeIndex="1" styleClass="custom">
                                            <p:menuitem value="" containerStyleClass="complete" />
                                            <p:menuitem value="" />
                                            <p:menuitem value="" />
                                            <p:menuitem value="" />
                                            <p:menuitem value="" />
                                            <p:menuitem value="" />
                                        </p:steps>
                                    </div>

                                    <!-- CONTENT IO COMPONENT -->
                                    <div class="public-main-contents-io">

                                        <p:focus/>

                                        <!-- CONTENT IO COMPONENT: INSTRUCTION -->
                                        <div class="public-main-contents-io-title" >
                                            2. Enter address for property of concern
                                        </div>

                                        <!-- CONTENT IO COMPONENT: CONTENT -->
                                        <div class="public-main-contents-io-content" >


                                            <!-- DATA CONTAINER -->
                                            <div class="ui-g data-container">
                                                <div class="ui-g-12 ui-md-12 ui-lg-12">
                                                    <h:outputText value="Enter the address number and/or the street name. Then click 'Search'." 
                                                                  rendered="#{not cEActionRequestSubmitBB.currentRequest.notAtKnownAddress}"
                                                                  />
                                                </div>
                                                <div class="ui-g-12 ui-md-12 ui-lg-5">
                                                    <p:inputText id="propSearchHouseNumIT" 
                                                                 value="#{cEActionRequestSubmitBB.houseNum}" 
                                                                 tabindex="1" 
                                                                 required="false" 
                                                                 styleClass="data_field_value"
                                                                 placeholder="House Number"
                                                                 rendered="#{not cEActionRequestSubmitBB.currentRequest.notAtKnownAddress}"
                                                                 />
                                                </div>
                                                <div class="ui-g-12 ui-md-12 ui-lg-5 ">
                                                    <p:inputText id="propSearchStreetIT" 
                                                                 value="#{cEActionRequestSubmitBB.streetName}" 
                                                                 tabindex="2" 
                                                                 required="false" 
                                                                 styleClass="data_field_value" 
                                                                 placeholder="Street Name"
                                                                 rendered="#{not cEActionRequestSubmitBB.currentRequest.notAtKnownAddress}"
                                                                 />
                                                    <p:spacer height="3px" />
                                                    <h:outputText value="hint: only enter the street name. Leave off extra parts such as 'AVE' or 'EAST'"
                                                                  rendered="#{not cEActionRequestSubmitBB.currentRequest.notAtKnownAddress}"
                                                                  styleClass="italic" />
                                                </div>
                                                <div class="ui-g-12 ui-md-12 ui-lg-2">
                                                    <div class="gray_button">
                                                        <p:commandButton value="Search" 
                                                                         tabindex="3" 
                                                                         ajax="true" 
                                                                         icon="pi pi-search"
                                                                         actionListener="#{cEActionRequestSubmitBB.searchForPropertiesSingleMuni}" 
                                                                         update="propSearchHouseNumIT 
                                                                         propSearchStreetIT
                                                                         propertyResultTable
                                                                         messages-global-form"
                                                                         style="float: right"
                                                                         rendered="#{not cEActionRequestSubmitBB.currentRequest.notAtKnownAddress}"
                                                                         />
                                                    </div>
                                                </div>
                                            </div>

                                            <!-- DATA CONTAINER -->
                                            <div class="ui-g data-container">
                                                <div class="ui-g-12 ui-md-12 ui-lg-12">
                                                    <h:outputText value="Select a property by clicking on its row in the table, then click Next step" 
                                                                  rendered="#{not cEActionRequestSubmitBB.currentRequest.notAtKnownAddress}"/>
                                                    <p:spacer height="3px" />
                                                    <p:dataTable id="propertyResultTable"
                                                                 value="#{cEActionRequestSubmitBB.propList}"
                                                                 var="prop" 
                                                                 selectionMode="single" 
                                                                 tabindex="4"
                                                                 scrollable="true" 
                                                                 scrollHeight="420" 
                                                                 selection="#{cEActionRequestSubmitBB.selectedProperty}"
                                                                 rowKey="#{prop.propertyID}"
                                                                 rendered="#{not cEActionRequestSubmitBB.currentRequest.notAtKnownAddress}"
                                                                 tableStyleClass="primeDataTable">
                                                        

                                                        <p:column>
                                                            <f:facet name="header">
                                                                <h:outputText value="Address" />
                                                            </f:facet>
                                                            <h:outputText value="#{prop.address.addressPretty2LineEscapeFalse}"
                                                                          escape="false"/>
                                                        </p:column>

                                                        <p:column>
                                                            <f:facet name="header">
                                                                <h:outputText value="Municipality" />
                                                            </f:facet>
                                                            <h:outputText value="#{prop.muni.muniName}"/>
                                                        </p:column>


                                                    </p:dataTable>
                                                </div>
                                                <div class="ui-g-12 ui-md-12 ui-lg-12">
                                                    <div class="p-grid">
                                                        <div class="p-col-6">
                                                            <h:outputText value="Cannot find the property? Or your Concern is not located at a specific property? " 
                                                                          styleClass="bold"/>
                                                            <p:spacer height="3px" />
                                                            <h:outputText value="Check this box to describe the location: " />

                                                            <p:selectBooleanCheckbox id="cear-noproperty-sbcb"
                                                                                     value="#{cEActionRequestSubmitBB.currentRequest.notAtKnownAddress}"
                                                                                     style="margin-left:8px;">

                                                                <p:ajax     listener="#{cEActionRequestSubmitBB.toggleRequestNotAtKnownAddress()}"
                                                                            update="@form" />
                                                            </p:selectBooleanCheckbox>

                                                        </div>
                                                        <div class="p-col-6">
                                                            <h:outputLabel    id="cear-nonproperty-label"
                                                                              styleClass="data_field_label" 
                                                                              value="Describe in as much detail as possible where in #{cEActionRequestSubmitBB.selectedMuni.muniName} the concern is located (you can provide details of the issue and photos in the next steps):"
                                                                              rendered="#{cEActionRequestSubmitBB.currentRequest.notAtKnownAddress}"
                                                                              />
                                                            <p:inputTextarea id="cear-nonpropertydescription-ita" 
                                                                             rows="2" 
                                                                             tabindex="2"
                                                                             value="#{cEActionRequestSubmitBB.currentRequest.nonaddressableDescription}"
                                                                             label="Location Description"
                                                                             rendered="#{cEActionRequestSubmitBB.currentRequest.notAtKnownAddress}"
                                                                             />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- CONTENT BUTTON -->
                                    <div class="public-main-contents-button-left">
                                        <div class="gray_button">
                                            <p:commandButton id="goBack"
                                                             tabindex="6"
                                                             value="Go Back" 
                                                             styleClass="buttonOwnLine"
                                                             icon="pi pi-arrow-left"
                                                             immediate="true"
                                                             action="#{cEActionRequestSubmitBB.goBack}"
                                                             style="float: left">
                                              
                                            </p:commandButton>
                                        </div>
                                    </div>

                                    <!-- CONTENT BUTTON -->
                                    <div class="public-main-contents-button-right">
                                        <p:commandButton ajax="false" 
                                                         value="Next step: Describe your concern" 
                                                         icon="pi pi-arrow-right"
                                                         action="#{cEActionRequestSubmitBB.storePropertyInfo}"
                                                         style="width: 100%;"
                                                         tabindex="5"/>

                                    </div>
                                </div>
                            </div>
                        </div>

                        <p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
                            <p:commandButton value="Yes" styleClass="ui-confirmdialog-yes" icon="pi pi-check"/>
                            <p:commandButton value="No" styleClass="ui-confirmdialog-no" icon="pi pi-times"/>
                        </p:confirmDialog>

                    </h:form>
                    <script>
                        var y = document.getElementById('public-reportconcern-arrow-id');
                        y.className += " public-menu-active";
                    </script> 
                </f:view>
            </ui:define>
        </ui:composition>
    </h:body>
</html>

