<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <link rel="stylesheet" type="text/css" href="css/style.css"></link>
        <title>Enter action requestor details</title>
    </h:head>
    <h:body>
        <ui:composition template="./../../navContainer_public.xhtml">
            <ui:define name="content">
                <f:view id="pers-info-view">

                    <!-- VALIDATION MESSAGE -->
                    <p:growl id="growl" showDetail="false"/>4

                    <!-- MAIN CONTAINER -->
                    <div class="mainContainer">

                        <!-- TITLE COMPONENT -->
                        <div class="public-title">
                            <div class="public-title-main">
                                Report a New Concern
                            </div>
                        </div>

                        <!-- CONTENTS CONTAINER -->
                        <div class="public-main-contents-containner">

                            <!--CONTENT MAIN COMPONENT -->
                            <div class="public-main-contents">

                                <h:form>
                                    <!-- GUIDANCE COMPONENT -->
                                    <div class="public-guide">
                                        <p:steps activeIndex="4" styleClass="custom">
                                            <p:menuitem value="" containerStyleClass="complete" />
                                            <p:menuitem value="" containerStyleClass="complete" />
                                            <p:menuitem value="" containerStyleClass="complete"/>
                                            <p:menuitem value="" containerStyleClass="complete"/>
                                            <p:menuitem value="" />
                                            <p:menuitem value="" />
                                        </p:steps>
                                    </div>
                                </h:form>

                                <h:form id="behalf-info-form" rendered="#{cEActionRequestSubmitBB.allowSubmissionAsInternalUser}">
                                    <!-- CONTENT IO COMPONENT -->
                                    <div class="public-main-contents-io" style="min-height: 0px; padding-bottom: 0px;" >
                                        <!-- CONTENT IO COMPONENT: INSTRUCTION -->
                                        <div class="public-main-contents-io-title" >
                                            5. Contact details:
                                        </div>
                                        <!-- CONTENT IO COMPONENT: CONTENT -->
                                        <div class="public-main-contents-io-content" >

                                            <p:commandButton ajax="false" 
                                                             tabindex="1"
                                                             id="ceactionrequest-requestasyourself-cb"
                                                             value="You're logged in! Submit this request as yourself: #{sessionBean.sessUser.human.name} (Username: #{sessionBean.sessUser.username})" 
                                                             action="#{cEActionRequestSubmitBB.requestActionAsFacesUser}"
                                                             style="width: 100%"
                                                             />  
                                        </div>
                                    </div>
                                </h:form>

                                <h:form id="pers-info-form">

                                    <!-- CONTENT IO COMPONENT -->
                                    <div class="public-main-contents-io">
                                        <p:focus/>
                                        <!-- CONTENT IO COMPONENT: INSTRUCTION -->
                                        <div class="public-main-contents-io-title" >
                                            5. #{(empty sessionBean.sessUser)? 'Enter your contact information' : 'Option 2: Input a new person'}. <span style="font-weight: normal">Required fields marked with *</span>
                                        </div>

                                        <!-- CONTENT IO COMPONENT: CONTENT -->
                                        <div class="public-main-contents-io-content" >

                                            <!-- DATA CONTAINER -->
                                            <div class="ui-g data-container">

                                                <div class="ui-g-12 ui-md-4 ui-lg-4 ">

                                                    <!-- NESTED DATA CONTAINER -->
                                                    <div class="ui-g data_container_nested_public">

                                                        <div class="ui-g-12">

                                                            <h:outputLabel styleClass="data_field_label" 
                                                                           value="Which of the following best describes your role?"
                                                                           />

                                                            <p:selectOneMenu id="requestorType" 
                                                                             required="true" 
                                                                             tabindex="5"
                                                                             value="#{cEActionRequestSubmitBB.currentRequest.requestorPersonType}"
                                                                             styleClass="data_field_value"
                                                                             label="Role"
                                                                             style="min-width: 100%;"
                                                                             >

                                                                <f:selectItems value="#{cEActionRequestSubmitBB.submittingPersonTypes}"
                                                                               var="p" 
                                                                               itemValue="#{p}"
                                                                               itemLabel="#{p.label}"
                                                                               />

                                                            </p:selectOneMenu>
                                                        </div>
                                                        <div class="ui-g-12">
                                                            <h:outputLabel styleClass="data_field_label" 
                                                                           value="Full name*"
                                                                           />
                                                            <p:inputText id="cear-req-name" 
                                                                         size="30"  
                                                                         tabindex="6"
                                                                         value="#{cEActionRequestSubmitBB.currentRequest.requestorName}" 
                                                                         styleClass="data_field_value" 
                                                                         label="First Name"
                                                                         required="true"
                                                                         />
                                                                <div class="ui-g-12" >
                                                                    <h:outputLabel styleClass="data_field_label" 
                                                                                   value="Do you wish to remain anonymous during this claim investigation?"
                                                                                   />
                                                                </div>
                                                                <div class="ui-g-12">
                                                                    <p:inputSwitch id="remainAnonymousIS" 
                                                                                   value="#{cEActionRequestSubmitBB.currentRequest.anonymitiyRequested}" 
                                                                                   onLabel="Yes" 
                                                                                   offLabel="No"
                                                                                   styleClass="data_field_value"
                                                                                   />
                                                                </div>
                                                        </div>

                                                    </div>
                                                </div>

                                                <div class="ui-g-12 ui-md-1 ui-lg-1 "></div>

                                                <div class="ui-g-12 ui-md-7 ui-lg-7 ">

                                                    <!-- NESTED DATA CONTAINER -->
                                                    <div class="ui-g data_container_nested_public">



                                                        <div class="ui-g-6">
                                                            <h:outputLabel styleClass="data_field_label" 
                                                                           value="Phone Number"
                                                                           />
                                                            <p:inputMask    id="phone-inputmask"
                                                                            rendered="true"
                                                                            value="#{cEActionRequestSubmitBB.currentRequest.requestorPhone}"
                                                                            mask="(999) 999-9999" 
                                                                            validateMask="true"
                                                                            validatorMessage="Enter phone in format (xxx) xxx-xxxx"
                                                                            requiredMessage="A phone number is required to complete the form"
                                                                            required="false"/>

                                                            <p:spacer height="3px" />

                                                            <p:selectOneMenu id="phone-type-som"
                                                                             required="false"
                                                                             rendered="true" 
                                                                             value="#{cEActionRequestSubmitBB.currentRequest.requestorPhoneType}">
                                                                <f:converter converterId="phoneTypeConverter"/>

                                                                <f:selectItem itemLabel="Choose a type" 
                                                                              itemDisabled="true"
                                                                              noSelectionOption="true"/>
                                                                <f:selectItems value="#{cEActionRequestSubmitBB.phoneTypeList}"
                                                                               var="cft" 
                                                                               itemValue="#{cft}" 
                                                                               itemLabel="#{cft.title}"/>
                                                            </p:selectOneMenu>
                                                        </div>

                                                        <div class="ui-g-6">
                                                            <h:outputLabel styleClass="data_field_label" 
                                                                           value="Email"
                                                                           />
                                                            <p:inputText    id="email-inputmask"
                                                                            rendered="true"
                                                                            value="#{cEActionRequestSubmitBB.currentRequest.requestorEmail}"
                                                                            validatorMessage="Enter email in format address@domain.com/org/etc"
                                                                            requiredMessage="An email address is required to complete the form"
                                                                            required="false">
                                                                <f:validateRegex pattern="^[_A-Za-z0-9-\+]+(\.[_A-Za-z0-9-]+)*@[A-Za-z0-9-]+(\.[A-Za-z0-9]+)*(\.[A-Za-z]{2,})$" />
                                                            </p:inputText>
                                                        </div>


                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- CONTENT BUTTON -->
                                    <div class="public-main-contents-button-left">
                                        <div class="gray_button">
                                            <p:commandButton id="goBack"
                                                             tabindex="15"
                                                             value="Go Back" styleClass="buttonOwnLine"
                                                             immediate="true"
                                                             action="#{cEActionRequestSubmitBB.goBack}"
                                                             icon="pi pi-arrow-left"
                                                             style="float: left">
                                            </p:commandButton>
                                        </div>
                                    </div>
                                    <!-- CONTENT BUTTON -->
                                    <div class="public-main-contents-button-right">
                                        <p:commandButton ajax="false" value="Next Step: Review and Submit" 
                                                         id="ceactionrequestflow-storenewperson-cb" 
                                                         tabindex="14"
                                                         icon="pi pi-arrow-right"
                                                         action="#{cEActionRequestSubmitBB.saveRequestorDetails()}"
                                                         style="width: 100%"/>
                                    </div>

                                    <p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
                                        <p:commandButton value="Yes" styleClass="ui-confirmdialog-yes" icon="pi pi-check"/>
                                        <p:commandButton value="No" styleClass="ui-confirmdialog-no" icon="pi pi-times"/>
                                    </p:confirmDialog>

                                </h:form>

                            </div>
                        </div>
                    </div>
                    <script>
                        var y = document.getElementById('public-reportconcern-arrow-id');
                        y.className += " public-menu-active";
                    </script> 
                </f:view>
            </ui:define>
        </ui:composition>
    </h:body>
</html>