<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <link rel="stylesheet" type="text/css" href="css/style.css"></link>
        <title>Describe code enforcement concern</title>
    </h:head>
    <h:body>
        <ui:composition template="./../../navContainer_public.xhtml">
            <ui:define name="content">
                <f:view id="concern-info">
                    <h:form id="cear-growl-form">
                        <p:growl id="growl" showDetail="false"/>
                    </h:form>
                    <ui:include src="/restricted/compositions/blobToolsPublic.xhtml" />

                    <!-- MAIN CONTAINER -->
                    <div class="mainContainer">

                        <!-- TITLE COMPONENT -->
                        <div class="public-title">
                            <div class="public-title-main">
                                Report a New Concern
                            </div>
                        </div>

                        <!-- CONTENTS CONTAINER -->
                        <div class="public-main-contents-containner">
                            <h:form id="cear-blobs-form">

                                <!--CONTENT MAIN COMPONENT -->
                                <div class="public-main-contents">

                                    <!-- GUIDANCE COMPONENT -->
                                    <div class="public-guide">
                                        <p:steps activeIndex="2" styleClass="custom">
                                            <p:menuitem value="" containerStyleClass="complete" />
                                            <p:menuitem value="" containerStyleClass="complete" />
                                            <p:menuitem value="" containerStyleClass="complete" />
                                            <p:menuitem value="" />
                                            <p:menuitem value="" />
                                            <p:menuitem value="" />
                                        </p:steps>
                                    </div>

                                    <!-- CONTENT IO COMPONENT -->
                                    <div class="public-main-contents-io">
                                        <p:focus/>
                                        <!-- CONTENT IO COMPONENT: INSTRUCTION -->
                                        <div class="public-main-contents-io-title" >
                                            3. Upload photos
                                        </div>

                                        <!-- CONTENT IO COMPONENT: CONTENT -->
                                        <div class="public-main-contents-io-content" >
                                            <p:commandButton    id="cear-blob-add-button"
                                                                value="Upload photo or document"
                                                                actionListener="#{blobUtilitiesBB.onUploadBlobInitButtonChange(cEActionRequestSubmitBB.currentRequest)}"
                                                                ajax="true"
                                                                rendered="true"
                                                                styleClass="noFill button-size-small"
                                                                oncomplete="PF('blob-upload-dialog-var').show()"
                                                                update="blob-upload-dialog"
                                                                icon="pi pi-cloud-upload"
                                                                >
                                                <f:param name="blob-list-component-to-update" value="cear-blobs-form" />
                                            </p:commandButton>

                                            <p:spacer height="5px" />

                                            <p:dataTable
                                                id="cear-blobs-table"
                                                value="#{cEActionRequestSubmitBB.managedBlobLightListFromCEAR}"
                                                var="blob"
                                                rowKey="#{blob.photoDocID}"
                                                tableStyleClass="primeDataTable"
                                                resizableColumns="true"
                                                draggableRows="false" tabindex="6">

                                                <p:column width="25%">
                                                    <f:facet name="header">
                                                        <h:outputText value="Preview"/>
                                                    </f:facet>
                                                    <p:graphicImage value="#{blobsterBB.image}"
                                                                    alt="no preview available" 
                                                                    style="width: 200px" 
                                                                    cache="true"
                                                                    rendered="#{blob.type.browserViewable}">
                                                        <f:param name="blobid" value="#{blob.photoDocID}"/>
                                                    </p:graphicImage>
                                                    <!-- type icon here -->
                                                </p:column>

                                                <p:column width="50%">
                                                    <f:facet name="header">
                                                        <h:outputText value="Filename and desription"/>
                                                    </f:facet>
                                                    <h:outputText value="#{blob.filename}" />
                                                    <p:spacer height="3px" />
                                                    <h:outputText value="#{blob.description}" />
                                                </p:column>
                                                   
                                                <p:column width="25%">
                                                    <f:facet name="header">
                                                        <h:outputText value="Actions"/>
                                                    </f:facet>
                                                   
                                                    <div class="restrict-main-contents-io-link link-button">
                                                        <p:commandLink      id="blob-edit-button"
                                                                            ajax="true"
                                                                            styleClass="noFill button-size-small"
                                                                            action="#{blobUtilitiesBB.onBlobEditMetaDataInitLinkClick(blob, cEActionRequestSubmitBB.currentRequest)}"
                                                                            value="add/edit description"
                                                                            oncomplete="PF('blobs-vieweditmetadata-dialog-var').show()"
                                                                            update="blob-vieweditmetadata-dialog
                                                                            blob-veweditmetadata-form"
                                                                            >
                                                            <f:param name="blob-list-component-to-update" value="cear-blobs-form" />
                                                        </p:commandLink>
                                                        
                                                        <p:spacer height="3px" />
                                                        
                                                        <p:commandLink      id="blob-update-button"
                                                                            ajax="true"
                                                                            styleClass="noFill button-size-small"
                                                                            action="#{blobUtilitiesBB.onViewBlobLinkClick(blob, cEActionRequestSubmitBB.currentRequest )}"
                                                                            value="view"
                                                                            oncomplete="PF('blobs-viewblob-dialog-var').show()"
                                                                            rendered="#{blob.type.browserViewable}"
                                                                            update="blobs-viewblob-dialog
                                                                            blob-viewblob-form"
                                                                            />
                                                        <p:spacer height="3px" />
                                                        <p:commandLink      id="blob-remove-button"
                                                                            ajax="true"
                                                                            styleClass="noFill button-size-small"
                                                                            action="#{blobUtilitiesBB.onDeactivateBlobInitLinkClick(blob, cEActionRequestSubmitBB.currentRequest)}"
                                                                            oncomplete="PF('blobs-deactivate-dialog-var').show();"
                                                                            value="remove"
                                                                            update="blob-deactivate-dialog
                                                                            blob-deactivate-form"
                                                                            >
                                                            <f:param name="blob-list-component-to-update" value="cear-blobs-form" />
                                                        </p:commandLink>
                                                        
                                                        <p:spacer height="3px" />
                                                         <p:commandButton 
                                                        value="Download" 
                                                        ajax="false"
                                                        icon="pi pi-arrow-down" 
                                                        styleClass="ui-button-outlined">
                                                        <p:fileDownload value="#{blobRetrieveBB.retrieveBlob(blob)}" />
                                                    </p:commandButton>
                                                        
                                                    </div>
                                                </p:column>
                                            </p:dataTable>
                                        </div>
                                    </div>

                                    <!-- CONTENT BUTTON -->
                                    <div class="public-main-contents-button-left">
                                        <div class="gray_button">
                                            <p:commandButton id="goBack"
                                                             value="Go Back" 
                                                             styleClass="buttonOwnLine"
                                                             icon="pi pi-arrow-left"
                                                             immediate="true"
                                                             action="#{cEActionRequestSubmitBB.goBack}"
                                                             style="float: left">
                                            </p:commandButton>

                                        </div>
                                    </div>

                                    <!-- CONTENT BUTTON -->
                                    <div class="public-main-contents-button-right">

                                        <p:commandButton  ajax="false" 
                                                          value="Next: requestor details" 
                                                          id="continueToPhotoUploadButton"
                                                          action="#{cEActionRequestSubmitBB.savePhotosAndContinue()}"
                                                          icon="pi pi-arrow-right"
                                                          style="width: 100%"
                                                          tabindex="6"/>
                                    </div>
                                </div>
                                <p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
                                    <p:commandButton value="Yes" styleClass="ui-confirmdialog-yes" icon="pi pi-check"/>
                                    <p:commandButton value="No" styleClass="ui-confirmdialog-no" icon="pi pi-times"/>
                                </p:confirmDialog>

                            </h:form>
                        </div>
                    </div>

                    <script>
                        var y = document.getElementById('public-reportconcern-arrow-id');
                        y.className += " public-menu-active";
                    </script> 
                </f:view>
            </ui:define>
        </ui:composition>
    </h:body>
</html>


