<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <link rel="stylesheet" type="text/css" href="css/style.css"></link>
        <title>Describe code enforcement concern</title>
    </h:head>
    <h:body>
        <ui:composition template="./../../navContainer_public.xhtml">
            <ui:define name="content">
                <f:view id="concern-info">
                    <h:form id="concern-info-form">

                        <!-- VALIDATION MESSAGE -->
                        <p:growl id="growl" showDetail="false"/>

                        <!-- MAIN CONTAINER -->
                        <div class="mainContainer">

                            <!-- TITLE COMPONENT -->
                            <div class="public-title">
                                <div class="public-title-main">
                                    Report a New Concern
                                </div>
                                <div class="public-title-sub">
                                    If you would like to report a concern with a property in your municipality, please begin the process below to submit your claim.
                                </div>
                            </div>

                            <!-- CONTENTS CONTAINER -->
                            <div class="public-main-contents-containner">

                                <!--CONTENT MAIN COMPONENT -->
                                <div class="public-main-contents">

                                    <!-- GUIDANCE COMPONENT -->
                                    <div class="public-guide">
                                        <p:steps activeIndex="2" styleClass="custom">
                                            <p:menuitem value="" containerStyleClass="complete" />
                                            <p:menuitem value="" containerStyleClass="complete" />
                                            <p:menuitem value="" />
                                            <p:menuitem value="" />
                                            <p:menuitem value="" />
                                            <p:menuitem value="" />
                                        </p:steps>
                                    </div>

                                    <!-- CONTENT IO COMPONENT -->
                                    <div class="public-main-contents-io">

                                        <p:focus/>

                                        <!-- CONTENT IO COMPONENT: INSTRUCTION -->
                                        <div class="public-main-contents-io-title" >
                                            <h:outputText value="3. Describe your concern with #{cEActionRequestSubmitBB.selectedProperty.address.addressPretty1Line} " />
                                        </div>

                                        <!-- CONTENT IO COMPONENT: CONTENT -->
                                        <div class="public-main-contents-io-content" >

                                            <!-- DATA CONTAINER -->
                                            <div class="ui-g data-container">

                                                <div class="ui-g-12 ui-md-4 ui-lg-4">

                                                    <!-- NESTED DATA CONTAINER -->
                                                    <div class="ui-g data_container_nested_public">

                                                        <div class="ui-g-12">

                                                            <h:outputLabel styleClass="data_field_label" 
                                                                           value="What is the concern with this property? Select One."
                                                                           />

                                                            <p:selectOneMenu id="violationSOLB" 
                                                                             tabindex="1"
                                                                             styleClass="data_field_value" 
                                                                             value="#{cEActionRequestSubmitBB.currentRequest.issue}"
                                                                             label="Choose the category"
                                                                             >

                                                                <f:selectItems value="#{cEActionRequestSubmitBB.issueTypeList}" 
                                                                               var="i" 
                                                                               itemValue="#{i}" 
                                                                               itemLabel="#{i.name}"
                                                                               />

                                                                <f:converter converterId="issueTypeConverter"/>

                                                            </p:selectOneMenu>
                                                        </div>
                                                    </div>

                                                    <!-- NESTED DATA CONTAINER -->
                                                    <div class="ui-g data_container_nested_public">

                                                        <div class="ui-g-12 ">
                                                            <h:outputLabel styleClass="data_field_label" 
                                                                           value="Please describe the specifics of the concern."
                                                                           />
                                                            <p:inputTextarea id="requestDescription" 
                                                                             styleClass="textArea" 
                                                                             rows="3" 
                                                                             tabindex="2"
                                                                             value="#{cEActionRequestSubmitBB.currentRequest.requestDescription}"
                                                                             label="Request Description"
                                                                             />
                                                        </div>
                                                    </div>
                                                </div>


                                                <div class="ui-g-12 ui-md-1 ui-lg-1"></div>

                                                <div class="ui-g-12 ui-md-7 ui-lg-7">
                                                    <div class="ui-g">
                                                        <div class="data_container_nested_public">
                                                            <div class="ui-g-8" >
                                                                <h:outputLabel styleClass="data_field_label" 
                                                                               value="What date did this incident occur? Select today's date if unknown."
                                                                               />
                                                            </div>
                                                            <div class="ui-g-4" >
                                                                
                                                                 <p:datePicker 	id="dateOfRecord"
                                                                                value="#{cEActionRequestSubmitBB.currentRequest.dateOfRecord}" 
                                                                                rendered="true"
                                                                                style="width: 100%;"
                                                                                pattern="MM/dd/yyyy HH:mm"
                                                                                disabled="false"
                                                                                maxdate="#{cEActionRequestSubmitBB.currentDate}"
                                                                                hideOnDateTimeSelect="true"
                                                                                showOnFocus="false"
                                                                                showIcon="true"
                                                                                showButtonBar="true"
                                                                                mask="true"
                                                                                timeInput="true" 
                                                                                required="true" />
                                                                 
                                                            </div>
                                                        </div>
                                                        <div class="data_container_nested_public">
                                                            <div class="ui-g-8" >
                                                                <h:outputLabel styleClass="data_field_label" 
                                                                               value="Does this issue involve immediate human and/or safety hazards?"
                                                                               />
                                                            </div>
                                                            <div class="ui-g-4" >
                                                                <p:inputSwitch tabindex="4" 
                                                                               id="isIUrgentSwitch" 
                                                                               styleClass="data_field_value"
                                                                               value="#{cEActionRequestSubmitBB.currentRequest.urgent}"
                                                                               onLabel="Yes" 
                                                                               offLabel="No" 
                                                                               />
                                                            </div>
                                                        </div>
                                                       
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- CONTENT BUTTON -->
                                    <div class="public-main-contents-button-left">
                                        <div class="gray_button">
                                            <p:commandButton id="goBack"
                                                             value="Go Back" 
                                                             styleClass="buttonOwnLine"
                                                             icon="pi pi-arrow-left"
                                                             immediate="true"
                                                             action="#{cEActionRequestSubmitBB.goBack}"
                                                             style="float: left">
                                            </p:commandButton>

                                        </div>
                                    </div>

                                    <!-- CONTENT BUTTON -->
                                    <div class="public-main-contents-button-right">

                                        <p:commandButton  ajax="false" 
                                                          value="Next: Upload photos of your concern" 
                                                          id="continueToPhotoUploadButton"
                                                          action="#{cEActionRequestSubmitBB.saveConcernDescriptions}"
                                                          style="width: 100%"
                                                          icon="pi pi-arrow-right"
                                                          />
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
                            <p:commandButton value="Yes" styleClass="ui-confirmdialog-yes" icon="pi pi-check"/>
                            <p:commandButton value="No" styleClass="ui-confirmdialog-no" icon="pi pi-times"/>
                        </p:confirmDialog>
                        
                    </h:form>
                    <script>
                        var y = document.getElementById('public-reportconcern-arrow-id');
                        y.className += " public-menu-active";
                    </script> 
                </f:view>
            </ui:define>
        </ui:composition>
    </h:body>
</html>


