<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <link rel="stylesheet" type="text/css" href="css/style.css"></link>
        <title>Review and submit code enforcement action</title>
    </h:head>
    <h:body>
        <ui:composition template="./../../navContainer_public.xhtml">
            <ui:define name="content">
                <f:view id="review-info-view">
                    <h:form id="review-info-form">

                        <!-- VALIDATION MESSAGE -->
                        <p:growl id="growl" showDetail="false"/>

                        <!-- MAIN CONTAINER -->
                        <div class="mainContainer">

                            <!-- TITLE COMPONENT -->
                            <div class="public-title">
                                <div class="public-title-main">
                                    Submission complete!
                                </div>
                               
                            </div>

                            <!-- CONTENTS CONTAINER -->
                            <div class="public-main-contents-containner">

                                <!--CONTENT MAIN COMPONENT -->
                                <div class="public-main-contents">

                                    <!-- GUIDANCE COMPONENT -->
                                    <div class="public-guide">
                                        <p:steps activeIndex="5" styleClass="custom">
                                            <p:menuitem value="" containerStyleClass="complete" />
                                            <p:menuitem value="" containerStyleClass="complete" />
                                            <p:menuitem value="" containerStyleClass="complete"/>
                                            <p:menuitem value="" containerStyleClass="complete"/>
                                            <p:menuitem value="" containerStyleClass="complete"/>
                                            <p:menuitem value="" containerStyleClass="complete"/>
                                        </p:steps>
                                    </div>

                                    <!-- CONTENT IO COMPONENT -->
                                    <div class="public-main-contents-io">

                                        <!-- CONTENT IO COMPONENT: INSTRUCTION -->
                                        <div class="public-main-contents-io-title" >
                                          Thank you for submitting a code enforcement concern. A code officer may contact you with updates or additional details concerning your request.
                                        </div>
                                        <h:outputText value="Your confirmation number:" />
                                        <div class="ccBox">
                                            <h:outputText value="#{cEActionRequestSubmitBB.currentRequest.requestPublicCC}"
                                                          rendered="#{not empty cEActionRequestSubmitBB.currentRequest}" />
                                        </div>
                                          <!-- CONTENT BUTTON -->
                                    <div class="public-main-contents-button-right" >

                                        <p:commandButton id="submitRequest" 
                                                         ajax="false"
                                                         value="Done! (Back to home)" 
                                                         tabindex="1"
                                                         styleClass="buttonOwnLine"
                                                         icon="pi pi-check"
                                                         action="#{cEActionRequestSubmitBB.restartRequest()}"
                                                         style="width: 100%;"/>

                                    </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </h:form>
                    <script>
                        var y = document.getElementById('public-reportconcern-arrow-id');
                        y.className += " public-menu-active";
                    </script> 
                </f:view>
            </ui:define>
        </ui:composition>
    </h:body>
</html>