<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns="http://www.w3.org/1999/xhtml">

    <h:form id="cear-growl-form">
        <p:growl id="cear-growl"
                 keepAlive="true"
                 life="4000"/>
    </h:form>

    <p:dialog id="cear-profile-dialog"
              widgetVar="cear-profile-dialog-var"
              width="90%" height="600px"
              responsive="true"
              dynamic="true"
              modal="true"
              resizable="true"
              closable="true"
              closeOnEscape="true"
              header="Manage Code Enforcement Action Request ID: #{cEActionRequestsBB.selectedRequest.requestID}"
              rendered="true"
              > 
        <div class="p-grid">
            <div class="p-col-6">
                <p:panel id="cear-info-panel"
                         toggleable="true"
                         collapsed="false"
                         header="Action Request Info" >
                    <div class="p-grid">

                        <div class="p-col-4 restrict-data-field-label-inline">
                            <h:outputText value="Municipality" />
                        </div>
                        <div class="p-col-8 restrict-data-field-value-inline">
                            <h:outputText value="#{cEActionRequestsBB.selectedRequest.muni.muniName}" />
                        </div>

                    </div>

                    <h:form id="cear-changeprop-form">
                        <div class="p-grid">

                            <div class="p-col-4 restrict-data-field-label-inline">
                                <h:outputText value="Property" />
                                <p:spacer height="3px" />
                                <p:commandLink    id="change-property-cb" 
                                                  actionListener="#{cEActionRequestsBB.onToggleCEARPropertyEditMode}"
                                                  ajax="true"
                                                  value="#{cEActionRequestsBB.editModeCEARProperty ? 'save link to session property' : 'edit property link'}" 
                                                  style="font-weight: bold; color:blue;"
                                                  disabled="#{cEActionRequestsBB.isDisabledDueToRoutingNotAllowed}"
                                                  rendered="#{cEActionRequestsBB.permissionAllowCEARRoutingAndEditing and cEActionRequestsBB.renderCEAREditingComponents}"
                                                  update="@form
                                                  cear-growl-form
                                                  cear-casenotes-form
                                                  dash-cears-form
                                                  cear-altert-form"
                                                  />
                                <p:spacer height="3px" />

                                <p:commandLink    id="change-property-abort-cb" 
                                                  actionListener="#{cEActionRequestsBB.onCEARPropertyEditModeAbort}"
                                                  immediate="true"
                                                  ajax="true"
                                                  value="cancel" 
                                                  style="font-weight: bold; color:blue;"
                                                  rendered="#{cEActionRequestsBB.editModeCEARProperty}"
                                                  update="@form
                                                  cear-growl-form"/>
                            </div>
                            <div class="p-col-8 restrict-data-field-value-inline">
                                <h:outputText value="#{cEActionRequestsBB.selectedRequest.requestProperty.address.addressPretty2LineEscapeFalse}"
                                              rendered="#{!empty cEActionRequestsBB.selectedRequest.requestProperty and !cEActionRequestsBB.editModeCEARProperty}"
                                              escape="false"/>
                                <p:spacer height="3px" />
                                <h:outputText value="Concern marked as not at an addressable location."
                                              rendered="#{cEActionRequestsBB.selectedRequest.notAtKnownAddress and !cEActionRequestsBB.editModeCEARProperty}" />
                                <p:spacer height="3px" />
                                <h:outputText value="Requestor provided location details:"
                                              rendered="#{cEActionRequestsBB.selectedRequest.notAtKnownAddress and !cEActionRequestsBB.editModeCEARProperty}" />
                                <p:spacer height="3px" />
                                <h:outputText value="#{cEActionRequestsBB.selectedRequest.nonaddressableDescription}"
                                              rendered="#{cEActionRequestsBB.selectedRequest.notAtKnownAddress and !cEActionRequestsBB.editModeCEARProperty}" />

                                <h:outputText value="Link (or re-link) this request ID #{cEActionRequestsBB.selectedRequest.requestID} to your current session property:" 
                                              rendered="#{cEActionRequestsBB.editModeCEARProperty}" 
                                              style="color: darkgreen; font-weight: bold; font-size: 1.4em;"/>

                                <p:spacer height="3px" />

                                <h:outputText value="#{sessionBean.sessProperty.address.addressPretty2LineEscapeFalse}"
                                              escape="false"
                                              style="color: darkgreen; font-weight: bold; font-size: 1.4em;"
                                              rendered="#{cEActionRequestsBB.editModeCEARProperty}" />

                                <p:commandLink    id="cear-viewprop-cb" 
                                                  action="#{cEActionRequestsBB.onViewRequestproperty}"
                                                  ajax="false"
                                                  value="view property profile" 
                                                  style="font-weight: bold; color:blue;"
                                                  rendered="#{not empty cEActionRequestsBB.selectedRequest.requestProperty}"
                                                  />

                            </div>
                        </div>
                    </h:form>
                    <div class="p-grid">

                        <div class="p-col-4 restrict-data-field-label-inline">
                            <h:outputText value="Issue type" />
                        </div>
                        <div class="p-col-8 restrict-data-field-value-inline">
                            <h:outputText value="#{cEActionRequestsBB.selectedRequest.issue.name}" />
                        </div>

                        <div class="p-col-4 restrict-data-field-label-inline">
                            <h:outputText value="Description" />
                        </div>
                        <div class="p-col-8 restrict-data-field-value-inline">
                            <h:outputText value="#{cEActionRequestsBB.selectedRequest.requestDescription}" />
                        </div>
                        <div class="p-col-4 restrict-data-field-label-inline">
                            <h:outputText value="Public access control code" />
                        </div>
                        <div class="p-col-8 restrict-data-field-value-inline">
                            <h:outputText value="#{cEActionRequestsBB.selectedRequest.requestPublicCC}" />
                        </div>

                        <div class="p-col-4 restrict-data-field-label-inline">
                            <h:outputText value="Date of record" />
                        </div>
                        <div class="p-col-8 restrict-data-field-value-inline">
                            <h:outputText value="#{cEActionRequestsBB.getPrettyDate(cEActionRequestsBB.selectedRequest.dateOfRecord)}" />
                        </div>

                        <div class="p-col-4 restrict-data-field-label-inline">
                            <h:outputText value="Submitted timestamp" />
                        </div>
                        <div class="p-col-8 restrict-data-field-value-inline">
                            <h:outputText value="#{cEActionRequestsBB.getPrettyDate(cEActionRequestsBB.selectedRequest.createdTS)}" />
                        </div>

                    </div>

                    <h:form id="cear-requestor-form">

                        <div class="p-grid">
                            <div class="p-col-4 restrict-data-field-label-inline">
                                <h:outputText value="Requestor" />
                                <p:spacer height="3px" />

                            </div>
                            <div class="p-col-8 restrict-data-field-value-inline">


                                <h:outputText value="#{cEActionRequestsBB.selectedRequest.requestorName}" />

                                <p:spacer height="2px" />
                                <h:outputText value="#{cEActionRequestsBB.selectedRequest.requestorPhone}" />
                                <h:outputText value=" (#{cEActionRequestsBB.selectedRequest.requestorPhoneType.title})"
                                              rendered="#{not empty r.requestorPhoneType}"/>
                                <p:spacer height="2px" />
                                <h:outputText value="#{cEActionRequestsBB.selectedRequest.requestorEmail}" />
                                <p:spacer height="2px" />
                                <h:outputText value="#{cEActionRequestsBB.selectedRequest.anonymitiyRequested ? 'Requests to remain anonymous':''}" />
                                <p:spacer height="2px" />
                                <h:outputText value="#{cEActionRequestsBB.selectedRequest.urgent ? 'Imminent health hazard!':''}" />
                                <f:subview id="requestor-internal-suvbiew"
                                           rendered="#{cEActionRequestsBB.selectedRequest.internalUserSubmitter}">
                                    <h:outputText value="Internal user submission" />
                                    <p:spacer height="2px" />
                                    <h:outputText value="#{not empty cEActionRequestsBB.selectedRequest.createdBy ? cEActionRequestsBB.selectedRequest.createdBy.human.name : ''}" />
                                    <h:outputText value=" (#{not empty cEActionRequestsBB.selectedRequest.createdBy ? cEActionRequestsBB.selectedRequest.createdBy.username : ''})" />

                                </f:subview>
                            </div>
                        </div>

                    </h:form>
                    <h:form id="cear-casenotes-form">
                        <div class="p-grid">
                            <div class="p-col-4 restrict-data-field-label-inline">
                                <h:outputText value="Internal notes (never public)" />
                                <p:spacer height="3px" />
                                 <p:commandLink    id="cear-note-internal-init-cb" 
                                                   actionListener="#{cEActionRequestsBB.noteAddInternalInit}"
                                                  ajax="true"
                                                  value="add internal note" 
                                                  style="font-weight: bold; color:blue;"
                                                  rendered="#{systemServicesBB.permissionAllowAncillaryObjectEdit}"
                                                  oncomplete="PF('cear-note-add-dialog-var').show();"
                                                  update="cear-note-add-dialog
                                                  cear-note-add-form"
                                                  />
                                
                            </div>
                            <div class="p-col-8 restrict-data-field-value-inline">
                                <h:outputText value="#{cEActionRequestsBB.selectedRequest.muniNotes}"
                                              escape="false"/>
                            </div>

                            <div class="p-col-4 restrict-data-field-label-inline">
                                <h:outputText value="Public notes (external public viewable)" />
                                <p:spacer height="3px" />
                                 <p:commandLink    id="cear-note-external-init-cb" 
                                                   actionListener="#{cEActionRequestsBB.noteAddPublicInit}"
                                                  ajax="true"
                                                  value="add public note" 
                                                  style="font-weight: bold; color:blue;"
                                                  rendered="#{systemServicesBB.permissionAllowAncillaryObjectEdit}"
                                                  oncomplete="PF('cear-note-add-dialog-var').show();"
                                                  update="cear-note-add-dialog
                                                  cear-note-add-form"
                                                  />
                                
                            </div>
                            <div class="p-col-8 restrict-data-field-value-inline">
                                <h:outputText value="#{cEActionRequestsBB.selectedRequest.publicExternalNotes}"
                                              escape="false"/>
                            </div>
                        </div>
                    </h:form>
                </p:panel>
            </div>
            <div class="p-col-6">
                <p:panel id="cear-routing-panel"
                         header="Request routing"
                         toggleable="true"
                         collapsed="false"
                         rendered="#{cEActionRequestsBB.renderCEAREditingComponents}">

                    <h:form id="cear-routing-form">

                        <div class="p-grid">
                            <div class="p-col-4 restrict-data-field-label-inline">
                                <h:outputText value="Status" />
                            </div>
                            <div class="p-col-8 restrict-data-field-value-inline">
                                <h:outputText value="#{cEActionRequestsBB.selectedRequest.requestStatus.statusTitle}" />
                            </div>
                            <div class="p-col-4 restrict-data-field-label-inline">
                                <h:outputText value="Case attachment" />
                            </div>
                            <div class="p-col-8 restrict-data-field-value-inline">
                                <h:outputText value="#{cEActionRequestsBB.selectedRequest.caseID eq 0 ? 'Not attached':'Attached to case ID:'}" />
                                <h:outputText value="#{cEActionRequestsBB.selectedRequest.caseID}" 
                                              rendered="#{cEActionRequestsBB.selectedRequest.caseID ne 0}"/>
                                <p:spacer height="3px" />
                                <h:outputText value="Attached at #{cECasesActionRequestsBB.getPrettyDate(r.caseAttachmentTimeStamp)}"
                                              rendered="#{not empty r.caseAttachmentTimeStamp}" />
                                <p:spacer height="3px" />
                                <h:outputText value="By user #{cEActionRequestsBB.selectedRequest.caseAttachmentUser.human.name}"
                                              rendered="#{not empty r.caseAttachmentUser}" />
                            </div>


                            <div class="p-col-4 restrict-data-field-label-inline">
                                <h:outputText value="#{cEActionRequestsBB.selectedRequestAwaitingInitialRouting ? 'Choose a route' : 'Re-route request'}" />
                            </div>
                            <div class="p-col-8 restrict-data-field-value-inline">

                                <p:selectOneMenu id="cear-route-solb"
                                                 value="#{cEActionRequestsBB.selectedRoute}">
                                    <f:selectItem itemLabel="choose a route for this request"
                                                  noSelectionOption="true" 
                                                  itemDisabled="false"/>
                                    <f:selectItems value="#{cEActionRequestsBB.processingRouteList}"
                                                   var="route"
                                                   itemLabel="#{route.TITLE}" />
                                    <p:ajax update="cear-routeselect-cb" />
                                </p:selectOneMenu>

                                <p:commandButton  id="cear-routeselect-cb"
                                                  ajax="true"
                                                  value="#{cEActionRequestsBB.selectedRequestAwaitingInitialRouting ? 'route action request':'change request route'}"
                                                  styleClass="noFill button-size-small"
                                                  rendered="#{cEActionRequestsBB.permissionAllowCEARRoutingAndEditing}"
                                                  icon="pi pi-arrow-right"
                                                  disabled="#{empty cEActionRequestsBB.selectedRoute}"
                                                  actionListener="#{cEActionRequestsBB.onCEARRouteInit}"
                                                  update="cear-route-dialog
                                                  cear-route-form" 
                                                  oncomplete="PF('cear-route-dialog-var').show();"/>
                            </div>
                        </div>
                    </h:form>
                </p:panel>

                <p:panel    id="cear-persons-panel"
                            toggleable="true"
                            widgetVar="cear-persons-panel-var"
                            collapsed="false"
                            rendered="true">

                    <f:facet name="header">
                        <h:outputText value="Person links" />
                        <div class="restrict-main-contents-io-link link-button help-icon-tightright">
                            <a href="https://technologyrediscovery.github.io/codenforce/property/personslinking#link-a-person-to-a-property-or-case"
                               target="_blank">
                                <i class="material-icons"
                                   style="display: inline-block">help_outline</i>
                            </a>
                        </div>
                        <div class="restrict-main-contents-io-link link-button help-text-tightleft">
                            <a href="https://technologyrediscovery.github.io/codenforce/property/personslinking#link-a-person-to-a-property-or-case"
                               target="_blank">
                                <h:outputText value="help" />
                            </a>
                        </div>
                    </f:facet>
                    <h:form id="cear-persons-panel-form">

                        <p:commandButton   id="cear-persons-manage-button"
                                           ajax="true"
                                           actionListener="#{personBB.onSelectAndLinkPersonsInit(cEActionRequestsBB.selectedRequest)}"
                                           oncomplete="PF('human-search-dialog-var').show()"
                                           rendered="#{systemServicesBB.permissionAllowAncillaryObjectEdit}"
                                           value="Manage CEAR to person links"
                                           disabled="#{!empty cEActionRequestsBB.selectedRequest.deactivatedTS}"
                                           update=" human-search-dialog
                                           persontools-growl-form
                                           search-query-form
                                           pers-selected-form
                                           hlh-humlist-form
                                           pers-upstreampool-panel
                                           pers-upstreampool-form"
                                           icon="pi pi-users"
                                           >
                            <f:param name="person-list-component-to-update"
                                     value="cear-persons-panel-form" />

                        </p:commandButton>

                        <p:spacer height="5px" />

                        <p:dataTable id="cear-persons-table"
                                     value="#{cEActionRequestsBB.managedCEARHumanLinkList}"
                                     rendered="true"
                                     var="cearhl"
                                     tableStyleClass="primeDataTable"
                                     rowKey="#{csehl.humanID}"
                                     reflow="true"
                                     >
                            <p:column headerText="Name"
                                      width="35%"
                                      styleClass="centeredColumnContent">
                                <h:outputText value="#{cearhl.name}" />
                            </p:column>

                            <p:column headerText="Role"
                                      width="35%"
                                      styleClass="centeredColumnContent">
                                <h:outputText value="#{cearhl.linkedObjectRole.title}"/>
                                <p:spacer height="3px" />
                                <h:outputText value="#{cearhl.linkedObjectRole.schema.TARGET_OBJECT_FRIENDLY_NAME}" />
                                <h:outputText value="(ID:#{cearhl.parentObjectID})" />
                            </p:column>

                            <p:column headerText="Actions"
                                      width="30%"
                                      styleClass="centeredColumnContent">
                                <p:commandLink      id="prop-person-exploreperson-cl"
                                                    ajax="true"
                                                    style="color:blue;"
                                                    action="#{personBB.onHumanViewLinkClick(cearhl, cEActionRequestsBB.selectedRequest)}"
                                                    value="View/Edit person"
                                                    oncomplete="PF('person-profile-dialog-var').show();"
                                                    update="person-profile-dialog
                                                    topnav-pers-form"
                                                    >
                                    <f:param name="person-list-component-to-update"
                                             value="cear-persons-panel-form" />
                                </p:commandLink>
                                <h:outputText value=" (HumID: #{cearhl.humanID})" />
                                <p:spacer height="3px" />
                                <p:commandLink      id="prop-personlink-vieweditlink-cl"
                                                    ajax="true"
                                                    style="color:blue;"
                                                    action="#{personBB.onHumanLinkEditInitButtonChange(cearhl, cEActionRequestsBB.selectedRequest)}"
                                                    value="View/Edit link"
                                                    oncomplete="PF('humanlink-viewedit-dialog-var').show();"
                                                    update="humanlink-viewedit-dialog
                                                    humanlink-viewedit-form"
                                                    >
                                    <f:param name="person-list-component-to-update"
                                             value="cear-persons-panel-form" />
                                </p:commandLink>
                                <h:outputText value=" (LnkID: #{cearhl.linkID})" />

                            </p:column>
                        </p:dataTable>
                    </h:form>
                </p:panel>

                <p:panel id="cear-blobs-panel"
                         header="Photos/Documents attached to request"
                         toggleable="true"
                         collapsed="false">
                    <h:form id="cear-blobs-form">

                        <h:outputText value="#{empty cEActionRequestsBB.selectedRequest.blobList ? '[no photos or docs attached]':''}" />
                        <p:dataTable
                            id="cear-blobs-table"
                            value="#{cEActionRequestsBB.selectedRequest.blobList}"
                            rendered="#{not empty cEActionRequestsBB.selectedRequest.blobList}"
                            var="blob"
                            rowKey="#{blob.photoDocID}"
                            tableStyleClass="primeDataTable"
                            resizableColumns="true"
                            draggableRows="false" tabindex="6" reflow="true">

                            <p:column width="20%">
                                <f:facet name="header">
                                    <h:outputText value="Preview"/>
                                </f:facet>
                                <p:graphicImage value="#{blobsterBB.image}"
                                                alt="no preview available" 
                                                style="width: 150px" 
                                                cache="true"
                                                rendered="#{blob.type.browserViewable}">
                                    <f:param name="blobid" value="#{blob.photoDocID}"/>
                                </p:graphicImage>
                            </p:column>
                            <p:column width="15%">
                                <f:facet name="header">
                                    <h:outputText value="File Type"/>
                                </f:facet>
                                <div class="wrapText">
                                    <h:outputText value="#{blob.type.title}"/>
                                </div>
                            </p:column>

                            <p:column width="15%">
                                <f:facet name="header">
                                    <h:outputText value="IDs"/>
                                </f:facet>
                                <h:outputText value="linkID: #{blob.photoDocID}"/>
                                <br/>
                                <h:outputText value="bytesID: #{blob.bytesID}"/>
                            </p:column>

                            <p:column width="25%">
                                <f:facet name="header">
                                    <h:outputText value="Info"/>
                                </f:facet>
                                <div class="rowExpansion">
                                    <h:outputText value="title: #{blob.title}"/>
                                    <br/>
                                    <h:outputText value="descr: #{blob.description}"/>
                                    <br/>
                                    <h:outputText value="filename: #{blob.filename}"/>
                                </div>
                            </p:column>

                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="Actions"/>
                                </f:facet>
                                <p:commandButton 
                                    value="Download" 
                                    ajax="false"
                                    icon="fa fa-arrow-down" 
                                    styleClass="ui-button-outlined">
                                    <p:fileDownload value="#{blobRetrieveBB.retrieveBlob(blob)}"
                                                    />
                                </p:commandButton>
                                <br/>
                                <div class="restrict-main-contents-io-link link-button">

                                    <p:commandLink      id="blob-update-button"
                                                        ajax="true"
                                                        styleClass="noFill button-size-small"
                                                        action="#{blobUtilitiesBB.onViewBlobLinkClick(blob, cEActionRequestsBB.selectedRequest)}"
                                                        value="view"
                                                        oncomplete="PF('blobs-viewblob-dialog-var').show()"
                                                        update="blobs-viewblob-dialog
                                                        blob-viewblob-form"
                                                        />
                                    <p:spacer height="3px" />
                                    <p:commandLink      id="blob-edit-button"
                                                        ajax="true"
                                                        styleClass="noFill button-size-small"
                                                        action="#{blobUtilitiesBB.onBlobEditMetaDataInitLinkClick(blob, cEActionRequestsBB.selectedRequest)}"
                                                        value="edit"
                                                        oncomplete="PF('blobs-vieweditmetadata-dialog-var').show()"
                                                        update="blob-vieweditmetadata-dialog
                                                        blob-veweditmetadata-form"
                                                        >
                                        <f:param name="blob-list-component-to-update" value="cecase-blobs-form" />
                                    </p:commandLink>
                                    <p:spacer height="3px" />
                                    <p:commandLink      id="blob-remove-button"
                                                        ajax="true"
                                                        styleClass="noFill button-size-small"
                                                        action="#{blobUtilitiesBB.onDeactivateBlobInitLinkClick(blob, cEActionRequestsBB.selectedRequest)}"
                                                        oncomplete="PF('blobs-deactivate-dialog-var').show();"
                                                        value="remove"
                                                        update="blob-deactivate-dialog
                                                        blob-deactivate-form"
                                                        >
                                        <f:param name="blob-list-component-to-update" value="cecase-blobs-form" />
                                    </p:commandLink>
                                </div>
                            </p:column>
                        </p:dataTable>
                    </h:form>
                </p:panel>

                <p:panel id="cear-deac-panel"
                         header="Deactivate request"
                         toggleable="true"
                         collapsed="false"
                         rendered="#{cEActionRequestsBB.permissionAllowCEARDeactivation and cEActionRequestsBB.renderCEAREditingComponents}">
                    <h:form id="cear-deac-init-form">
                        <p:commandButton   id="cear-deac-button"
                                           ajax="true"
                                           actionListener="#{cEActionRequestsBB.onDeactivateInit}"
                                           oncomplete="PF('cear-deac-dialog-var').show()"
                                           rendered="#{cEActionRequestsBB.permissionAllowCEARDeactivation}"
                                           value="Deactivate Request"
                                           update="cear-deac-commit-form"
                                           icon="pi pi-trash"
                                           >
                        </p:commandButton>
                    </h:form>
                </p:panel>
            </div>
        </div>
    </p:dialog>

    <p:dialog   id="cear-deac-dialog"
                widgetVar="cear-deac-dialog-var"
                header="Confirm request deactivation"
                width="25%"
                responsive="true"
                modal="true"
                closable="true"
                dynamic="true"
                rendered="#{cEActionRequestsBB.permissionAllowCEARDeactivation and cEActionRequestsBB.renderCEAREditingComponents}">

        <h:form id="cear-deac-commit-form">
            <p>Deactivation of CE Action requests is intended only for requests made during testing or those 
                <span class="bold">submitted in error by internal users</span>. To maintain accurate records, 
                action requests from public users which are not actionable
                should be routed as either an "Invalid Request" or "No Violation Found"--and hence not deactivated.
            </p>

            <div class="red_button">

                <p:commandButton   id="cear-deac-commit-button"
                                   ajax="true"
                                   actionListener="#{cEActionRequestsBB.onDeactivateCommit}"
                                   oncomplete="PF('cear-deac-dialog-var').hide(); PF('cear-profile-dialog-var').hide();"
                                   rendered="#{cEActionRequestsBB.permissionAllowCEARDeactivation}"
                                   value="Confirm deactivate request ID #{cEActionRequestsBB.selectedRequest.requestID}"
                                   update="dash-cears-form
                                   cear-altert-form
                                   cear-growl-form"
                                   icon="pi pi-trash"
                                   />
            </div>

            <div class="gray_button">
                <p:commandButton   id="cear-deac-abort-button"
                                   ajax="true"
                                   actionListener="#{cEActionRequestsBB.onDeactivateAbort}"
                                   oncomplete="PF('cear-deac-dialog-var').hide()"
                                   rendered="true"
                                   value="Cancel"
                                   immediate="true"
                                   icon="pi pi-arrow-left"
                                   />
            </div>
        </h:form>
    </p:dialog>

    <p:dialog   id="cear-route-dialog"
                widgetVar="cear-route-dialog-var"
                header="Confirm routing decision for CEAR ID:#{cEActionRequestsBB.selectedRequest.requestID}"
                width="50%"
                responsive="true"
                modal="true"
                closable="true"
                dynamic="true"
                rendered="#{cEActionRequestsBB.permissionAllowCEARRoutingAndEditing and cEActionRequestsBB.renderCEAREditingComponents}">

        <h:form id="cear-route-form">

            <h:outputText value="Route for selected CE Action Request: #{cEActionRequestsBB.selectedRoute.TITLE}" />

            <p:spacer height="3px" />

            <p:commandButton  id="cear-routeselect-cb"
                              ajax="true"
                              value="confirm route"
                              styleClass="noFill button-size-small"
                              rendered="#{cEActionRequestsBB.permissionAllowCEARRoutingAndEditing}"
                              icon="pi pi-arrow-right"
                              disabled="#{empty cEActionRequestsBB.selectedRoute}"
                              actionListener="#{cEActionRequestsBB.onCEARRouteSelectButtonChange}"
                              update="#{cEActionRequestsBB.routeSpecificComponentsForUpdate}" 
                              oncomplete="PF('cear-route-dialog-var').hide(); PF('#{cEActionRequestsBB.routeSpecificDialogVar}').show()"/>
        </h:form>
    </p:dialog>

    <p:dialog       id="cear-route-excase-dialog"
                    widgetVar="cear-route-excase-dialog-var"
                    header="Attach CEAR to an existing CE case"
                    modal="true"
                    width="90%"
                    closable="true"
                    closeOnEscape="true"
                    resizable="true"
                    dynamic="true"
                    rendered="#{cEActionRequestsBB.permissionAllowCEARRoutingAndEditing and cEActionRequestsBB.renderCEAREditingComponents}">

        <h:form id="cear-route-excase-form">
            <h:outputText value="Choose a case currently attached to this requests's property: #{cEActionRequestsBB.selectedRequestPropertyDH.address.addressPretty1Line}" />
            <p:spacer height="2px" />
            <h:outputText value="If you don't see an appropriate case, cancel this operation and choose the request route: Attach request to a new  code enforcement case."
                          styleClass="italic"/>

            <p:spacer height="3px" />

            <p:dataTable
                id="cear-cecase-candidates-table"
                value="#{cEActionRequestsBB.selectedRequestPropertyDH.ceCaseList}"
                rendered="#{not empty cEActionRequestsBB.selectedRequestPropertyDH.ceCaseList}"
                var="cse"
                rowKey="#{cse.caseID}"
                widgetVar="ceViewTable"
                tableStyleClass="primeDataTable"
                rowExpandMode="single"
                expandedRow="false"
                resizableColumns="true"
                reflow="true"
                lazy="true"
                >

                <p:column width="5%">
                    <f:facet name="header">
                        <h:outputText value="Exp" />
                    </f:facet>
                    <p:rowToggler />
                </p:column>
                <p:column width="15%" 
                          sortBy="#{cse.priority.label}"
                          styleClass="#{!empty cse.priority ? cse.priority.rowStyleClass:''}">

                    <f:facet name="header">
                        <h:outputText value="Priority" />
                        <p:spacer height="2px" />
                        <div class="restrict-main-contents-io-link link-button help-icon-tightright">
                            <a href="https://technologyrediscovery.github.io/codenforce/dashboard/dashboard#case-priority-color-scheme"
                               target="_blank">
                                <i class="material-icons"
                                   style="display: inline-block">help_outline</i>
                            </a>
                        </div>
                    </f:facet>

                    <i class="material-icons">
                        <h:outputText value="#{!empty cse.priorityIcon ? cse.priorityIcon.materialIcon:''}"/>
                    </i>

                    <p:spacer height="3px" />

                    <h:outputText value="#{cse.priority.label}" style="font-size:0.7em;" />

                </p:column>

                <p:column width="15%" 
                          sortBy="#{cse.caseManager.human.name}">
                    <f:facet name="header">
                        <h:outputText value="Manager" />
                    </f:facet>
                    <h:outputText value="#{cse.caseManager.human.name}"/>
                </p:column>

                <p:column width="20%" 
                          sortBy="#{cse.originationDate}">

                    <f:facet name="header">
                        <h:outputText value="Opened" />
                    </f:facet>
                    <h:outputText value="#{ceCaseSearchAndReportBB.getPrettyDateNoTime(cse.originationDate)}"/>
                    <p:spacer height="2px"/>
                    <h:outputText value="Age: #{cse.caseAge} days"
                                  style="font-style: italic"/>
                </p:column>

                <p:column width="35%" 
                          sortBy="#{cse.addressPretty1Line}"
                          >

                    <f:facet name="header">
                        <h:outputText value="Info" />
                    </f:facet>

                    <h:outputText value="#{cse.addressPretty1Line} "
                                  styleClass="bold"/>

                    <f:subview id="case-property-unit-subview"
                               rendered="#{!empty cse.unitNumber}" >

                        <p:spacer height="2px"
                                  rendered="#{!(empty cse.unitNumber)}"/>
                        <h:outputText value="Unit: #{cse.unitNumber}" />
                    </f:subview>

                    <p:spacer height="2px"
                              rendered="#{!(empty cse.originationEvent)}"/>

                    <h:outputText value="Origin: #{cse.originationEvent.category.eventCategoryTitle}"
                                  rendered="#{!empty cse.originationEvent}"/>

                    <p:spacer height="2px" />

                    <h:outputText value="Name: #{cse.caseName}"/>

                </p:column>

                <p:column width="10%">
                    <f:facet name="header">
                        <h:outputText value="Actions" />
                    </f:facet>
                    <p:commandButton ajax="true" 
                                     actionListener="#{cEActionRequestsBB.path2UseSelectedCaseForAttachment(cse)}"
                                     value="Attach to this case" 
                                     icon="pi pi-link" 
                                     oncomplete="PF('cear-route-excase-dialog-var').hide()"
                                     rendered="true"
                                     update="   cear-growl-form
                                     cear-routing-form
                                     dash-cears-form
                                     cear-altert-form
                                     topnav-prop-form
                                     "
                                     />


                </p:column>
                <p:rowExpansion>
                    <h4>Case Details 
                        <h:outputText value=" (#{cse.daysSinceLastEvent} days since last event)" />
                    </h4>

                    <p:spacer height="3px" />

                    <p:accordionPanel id="case-expansioninfo-panel"
                                      >
                        <p:tab title="Violations (#{cse.violationList.size()})">

                            <p:dataScroller id="violations-scroller"
                                            value="#{cse.violationList}"
                                            var="viol"
                                            style="font-family: sans-serif;">

                                <h:outputText value="#{!(empty viol.status) ? viol.status.label : ''}"
                                              style="font-weight: bold;"/>


                                <h:outputText value="#{!(empty viol.status) ? ': ' : ''}"
                                              style="font-weight: bold;"/>

                                <h:outputText    id="violation-scroller-chapter-ot"
                                                 value="#{viol.violatedEnfElement.headerString}"
                                                 escape="false"/>


                            </p:dataScroller>

                        </p:tab>
                        <p:tab title="Notices (#{cse.noticeList.size()})">

                            <p:dataScroller id="case-nov-scroller"
                                            value="#{cse.noticeList}"
                                            var="nov"
                                            style="font-family: sans-serif;">

                                <h:outputText value="Mailed on: " 
                                              rendered="#{!(empty nov.sentTS)}"/>
                                <h:outputText value="#{nov.sentTSPretty}"
                                              rendered="#{!(empty nov.sentTS)}"/>

                            </p:dataScroller>

                        </p:tab>
                        <p:tab title="Citations (#{cse.citationList.size()})">

                            <p:dataScroller id="case-citations-scroller"
                                            value="#{cse.citationList}"
                                            var="cit"
                                            style="font-family: sans-serif;">
                                <div style="text-decoration: underline;">
                                    <h:outputText value="ID: #{cit.citationNo}" />
                                </div>
                                <p:spacer height="3px" />
                                <ui:repeat id="citation-status-uir"
                                           value="#{cit.statusLog}"
                                           var="logentry">
                                    <h:outputText value="#{reportingBB.getPrettyDateNoTime(logentry.dateOfRecord)}: #{logentry.status.statusTitle}"/>
                                    <p:spacer height="3px" />
                                </ui:repeat>
                            </p:dataScroller>

                        </p:tab>
                        <p:tab title="Events (#{cse.eventList.size()})">
                            <p:dataScroller id="case-events-scroller"
                                            value="#{cse.eventList}"
                                            var="ev">
                                <h:outputText value="#{missionControlBB.getPrettyDate(ev.timeStart)}" 
                                              style="font-weight: bold;"/>
                                <h:outputText value=": "
                                              style="font-weight: bold;"/>

                                <h:outputText value="#{ev.category.eventCategoryTitle}" />
                                <p:spacer height="3px" />


                            </p:dataScroller>
                        </p:tab>
                    </p:accordionPanel>
                    <h4>
                        Priority log
                    </h4>
                    <h:outputText value="#{cse.priorityAssignmentLog}"
                                  escape="false"/>
                </p:rowExpansion>
            </p:dataTable>

            <p:spacer height="3px" />
            <div class="gray_button" >
                <p:commandButton ajax="true" 
                                 value="Cancel" 
                                 icon="pi pi-arrow-left" 
                                 oncomplete="PF('cear-route-excase-dialog-var').hide();"
                                 actionListener="#{cEActionRequestsBB.onAbortCEARRoutingOperation}"
                                 />
            </div>
        </h:form>
    </p:dialog>

    <p:dialog       id="cear-route-invalid-dialog"
                    widgetVar="cear-route-invalid-dialog-var"
                    header="Declare CE Action Request Invalid"
                    modal="true"
                    closable="true"
                    closeOnEscape="true"
                    resizable="true"
                    dynamic="true"
                    rendered="#{cEActionRequestsBB.permissionAllowCEARRoutingAndEditing and cEActionRequestsBB.renderCEAREditingComponents}">

        <h:form id="cear-route-invalid-form">
            <h:outputLabel for="invalidMessageITA" value="What makes this an invalid request?"/>
            <p:spacer height="3px" />

            <p:inputTextarea id="invalidMessageITA" style="width: 300px; height: 200px;" value="#{cEActionRequestsBB.invalidMessage}"/>

            <p:spacer height="3px" />
            <p>This message, your name, and a timestamp will be appended <br />to the public note section of request ID 
                <h:outputText escape="false" value="#{cEActionRequestsBB.selectedRequest.requestID}"/> </p>

            <p:commandButton ajax="true" 
                             actionListener="#{cEActionRequestsBB.path3AttachInvalidMessage}"
                             value="Save" 
                             icon="pi pi-save" 
                             oncomplete="PF('cear-route-invalid-dialog-var').hide()"
                             rendered="#{cEActionRequestsBB.permissionAllowCEARRoutingAndEditing}"
                             update=" cear-growl-form
                             cear-routing-form
                             cear-casenotes-form
                             dash-cears-form
                             cear-altert-form"
                             />
            <div class="gray_button">

                <p:commandButton ajax="true" 
                                 value="Cancel" 
                                 icon="pi pi-arrow-left" 
                                 actionListener="#{cEActionRequestsBB.onAbortCEARRoutingOperation}"
                                 immediate="true"
                                 oncomplete="PF('cear-route-invalid-dialog-var').hide()"/>
            </div>
        </h:form>
    </p:dialog>

    <p:dialog       id="cear-route-noviolation-dialog"
                    widgetVar="cear-route-noviolation-dialog-var"
                    header="Declare CEAR: No violation found"
                    modal="true"
                    closable="true"
                    closeOnEscape="true"
                    resizable="true"
                    dynamic="true"
                    rendered="#{cEActionRequestsBB.permissionAllowCEARRoutingAndEditing and cEActionRequestsBB.renderCEAREditingComponents}">

        <h:form id="cear-route-noviolation-form">
            <h:outputLabel for="noViolationMessageITA" value="Describe the results of your request investigation:"/>
            <p:spacer height="5px"/>
            <p:inputTextarea id="noViolationMessageITA" style="width: 300px; height: 200px;" value="#{cEActionRequestsBB.noViolationFoundMessage}"/>
            <p:spacer height="5px"/>
            <p>This message, your name, and a timestamp will be appended <br />to the public note section of request ID 
                <h:outputText escape="false" value="#{cEActionRequestsBB.selectedRequest.requestID}"/> </p>

            <p:spacer height="5px"/>
            <p:commandButton ajax="true" 
                             actionListener="#{cEActionRequestsBB.path4AttachNoViolationFoundMessage}"
                             value="Save" 
                             icon="pi pi-save" 
                             oncomplete="PF('cear-route-noviolation-dialog-var').hide()"
                             rendered="#{cEActionRequestsBB.permissionAllowCEARRoutingAndEditing}"
                             update=" cear-growl-form
                             cear-routing-form
                             cear-casenotes-form
                             dash-cears-form
                             cear-altert-form"
                             />
            <p:spacer height="5px"/>
            <div class="gray_button">

                <p:commandButton ajax="true" 
                                 value="Cancel" 
                                 icon="pi pi-arrow-left" 
                                 actionListener="#{cEActionRequestsBB.onAbortCEARRoutingOperation}"
                                 immediate="true"
                                 oncomplete="PF('cear-route-noviolation-dialog-var').hide()"/>
            </div>
        </h:form>
    </p:dialog>

    <p:dialog       id="cear-route-reset-dialog"
                    widgetVar="cear-route-reset-dialog-var"
                    header="Reset request"
                    modal="true"
                    closable="true"
                    closeOnEscape="true"
                    resizable="true"
                    dynamic="true"
                    rendered="#{cEActionRequestsBB.permissionAllowCEARRoutingAndEditing and cEActionRequestsBB.renderCEAREditingComponents}">

        <h:form id="cear-reset-form">

            <p:spacer height="5px"/>
            <p:commandButton ajax="true" 
                             actionListener="#{cEActionRequestsBB.path0ResetRequestToNotRouted}"
                             value="Reset request to require processing again" 
                             icon="pi pi-save" 
                             oncomplete="PF('cear-route-reset-dialog-var').hide()"
                             rendered="#{cEActionRequestsBB.permissionAllowCEARRoutingAndEditing}"
                             update=" cear-growl-form
                             cear-routing-form
                             cear-casenotes-form
                             dash-cears-form
                             cear-altert-form"
                             />
            <p:spacer height="5px"/>
            <div class="gray_button">

                <p:commandButton ajax="true" 
                                 value="Cancel" 
                                 icon="pi pi-arrow-left" 
                                 actionListener="#{cEActionRequestsBB.onAbortCEARRoutingOperation}"
                                 immediate="true"
                                 oncomplete="PF('cear-route-reset-dialog-var').hide()"/>
            </div>
        </h:form>
    </p:dialog>


    <p:dialog   id="cear-note-add-dialog"
                height="450" width="750"
                widgetVar="cear-note-add-dialog-var"
                closable="true"
                dynamic="true"
                closeOnEscape="true"
                header="Append note to CE Action Requst #{cEActionRequestsBB.selectedRequest.requestID}"
                rendered="#{systemServicesBB.permissionAllowAncillaryObjectEdit}"
                >

        <h:form id="cear-note-add-form">

            <h2>
                <h:outputText value="Note type: #{cEActionRequestsBB.noteScope.label}" />
            </h2>
            <p:spacer height="5px" />
            <p:inputTextarea   id="cear-note-ita"
                               value="#{cEActionRequestsBB.formNoteText}"
                               required="false"
                               rows="5"
                               cols="40"
                               />

            <h:outputText value="Your name and date are automatically appended to the note."
                          styleClass="ui-label italic" 
                          />
            
            <p:spacer height="5px" />

            <p:commandButton   id="cear-note-add-commit-cb"
                               ajax="true" 
                               actionListener="#{cEActionRequestsBB.noteAddCommit}"
                               oncomplete="PF('cear-note-add-dialog-var').hide()"
                               rendered="#{systemServicesBB.permissionAllowAncillaryObjectEdit}"                                                                               
                               value="Save Note"  
                               styleClass="inline-button"
                               icon="pi pi-save"
                               update="cear-growl-form
                               cear-casenotes-form"/>
            
            <div class="restrict-main-contents-io-button gray_button">
                <p:commandButton    id="cear-note-add-cancel-button"
                                    ajax="true"  tabindex="27"
                                    value="Cancel"
                                    icon="pi pi-arrow-left"
                                    onclick="PF('cear-note-add-dialog-var').hide()"
                                    />
            </div>
        </h:form>
    </p:dialog>
</ui:composition>

