<?xml version='1.0' encoding='UTF-8' ?>
<!--
Copyright (C) 2020 Turtle Creek Valley

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:tt="http://xmlns.jcp.org/jsf/composite/components">

    <h:head>
        <link rel="stylesheet" type="text/css" href="css/style.css"></link>
        <title>CE Case Profile</title>
    </h:head>

    <h:body id="cecase-lookup-profile-body">

        <ui:composition template="/restricted/navContainer_restricted.xhtml">
            <ui:define name="content">
                <f:view id="cecase-lookup-profile-view">
                    <p:outputPanel id="body-panel">

                        <h:form id="cecase-growl-form">
                            <p:growl id="cecase-growl"
                                     redisplay="true"/>
                        </h:form>

                        <h:form id="cecaselists-launcher">
                            <h1>
                                <h:outputText id="header-type-ot" value="#{ceCaseBB.currentCase.caseName} @ "/> 
                                <h:outputText id="header-addr-ot" value="#{ceCaseBB.currentCase.addressPretty1Line} "/>  
                                <h:outputText id="header-muni-ot" value="(#{ceCaseBB.currentCase.muni.muniName})"/>  
                            </h1>
                        </h:form>


                        <ui:include src="/restricted/cogstaff/event/compositions/eventTools.xhtml"/>
                        <div class="mainContainer">
                            <ui:include src="compositions/ceCaseQuickLinks.xhtml" />
                            
                            <div class="ui-g data_container_nested_restrict">
                                <div class="ui-g-12 ui-md-6 ui-lg-6 restrict-data-field">
                                    <ui:include src="compositions/ceCaseInfo.xhtml" />
                                    <ui:include src="compositions/ceCaseNoticesOfViolation.xhtml" />
                                    <ui:include src="compositions/ceCasePersonLinks.xhtml" />
                                    <ui:include src="compositions/ceCaseCitations.xhtml" />
                                </div>

                                <div class="ui-g-12 ui-md-6 ui-lg-6 restrict-data-field">
                                    <ui:include src="compositions/ceCaseCodeViolations.xhtml" />
                                    <ui:include src="compositions/ceCaseTools.xhtml" />
                                    
                                    <tt:inspectionPanelCC 
                                                id="cecaseprofile-inspectionpanel-tt"
                                                inspectable="#{ceCaseBB.currentCase}" 
                                                containerid="cecaseprofile-inspectionpanel-tt"/>
                                    
                                    <ui:include src="/restricted/cogstaff/event/compositions/eventListPanel.xhtml" />
                                    
                                    <ui:include src="/restricted/cogstaff/ce/ceActionRequests.xhtml" />
                                    <ui:include src="compositions/ceCaseCEARPanel.xhtml" />
                                    <ui:include src="compositions/ceCaseBlobs.xhtml" />
                                    
                                    <ui:include src="../compositions/notesPanel.xhtml"/>
                                    <ui:include src="compositions/ceCasePublic.xhtml" />
                                </div>
                            </div>
                        </div>
                    </p:outputPanel>
                </f:view>
            </ui:define>
        </ui:composition>
    </h:body>
</html>

