<?xml version="1.0" encoding="UTF-8"?>
<!--
Copyright (C) 2018 Adam Gutonski

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <link rel="stylesheet" type="text/css" href="css/style.css"></link>
        <title>Court Entity Configuration</title>
    </h:head>
    <h:body>
        <ui:composition template="/restricted/navContainer_restricted.xhtml">
            <ui:define name="content">
                <f:view>
                    <div class="mainContainer">
                        <div class="title-container">
                            <h1>Court Entity Configuration Tool</h1>
                        </div>

                        <h:form id="courtentity-growl-form">
                            <p:growl id="courtentity-growl"
                                     life="12000"
                                     sticky="false"
                                     keepAlive="true"
                                     globalOnly="false"/>
                        </h:form>

                        <div class="two-column-page-flex-container">
                            <div class="list-column">

                                <p:panel id="courtentitytools-panel"
                                         toggleable="true"
                                         widgetVar="courtentitytools-panel-var"
                                         collapsed="false">
                                    <f:facet name="header">
                                        <h:outputText value="Court Entity Tools"/>
                                    </f:facet>

                                    <h:form id="courtentitytools-form">
                                        <div class="p-grid">
                                            <div class="p-col-6">
                                                <p:commandButton id="courtentity-create-init-button"
                                                                 value="Add Court Entity"
                                                                 icon="pi pi-plus"
                                                                 actionListener="#{courtEntityBB.onCourtEntityAddInit}"
                                                                 update="courtentity-addedit-form
                                                                 courtentity-list-form
                                                                 @form"
                                                />
                                            </div>
                                        </div>
                                    </h:form>

                                </p:panel>

                                <p:panel id="courtentity-list-panel"
                                         widgetVar="courtentity-panel-var"
                                         toggleable="true"
                                         collapsed="false">
                                    <f:facet name="header">
                                        <h:outputText value="Court Entities (#{courtEntityBB.courtEntityList.size()})"/>
                                    </f:facet>


                                    <h:form id="courtentity-list-form">
                                        <h:outputText value="include inactive?"
                                                      styleClass="inline-spaced-control-label"/>

                                        <p:selectBooleanCheckbox id="courtentities-inactives"
                                                                 value="#{courtEntityBB.includeInactiveCourtEntities}">
                                            <p:ajax update="@form courtentity-list-panel"
                                                    listener="#{courtEntityBB.refreshCourtEntityList}"/>
                                        </p:selectBooleanCheckbox>

                                        <p:spacer height="5px"/>
                                        <p:dataTable id="courtentityTable"
                                                     value="#{courtEntityBB.courtEntityList}"
                                                     rendered="#{!empty courtEntityBB.courtEntityList}"
                                                     var="courtEntity"
                                                     tableStyleClass="primeDataTable">

                                            <p:column headerText="Name"
                                                      styleClass="centeredColumnContent">
                                                <h:outputText value="#{courtEntity.courtEntityName}"/>
                                            </p:column>

                                            <p:column headerText="Judge Name"
                                                      styleClass="centeredColumnContent">
                                                <h:outputText value="#{courtEntity.judgeName}"/>
                                            </p:column>

                                            <p:column headerText="Jurisdiction Level"
                                                      styleClass="centeredColumnContent">
                                                <h:outputText value="#{courtEntity.jurisdictionLevel}"/>
                                            </p:column>

                                            <p:column headerText="Actions"
                                                      styleClass="centeredColumnContent">
                                                <div class="restrict-main-contents-io-link">
                                                    <p:commandLink ajax="true"
                                                                   id="courtentity-viewcourtentity"
                                                                   style="#{courtEntity.courtEntityID == courtEntityBB.currentCourtEntity.courtEntityID ? 'background-color: #dee461; color:black;':''}"
                                                                   styleClass="multiButtonLineButton"
                                                                   actionListener="#{courtEntityBB.viewCourtEntity(courtEntity)}"
                                                                   update="courtentity-addedit-form
                                                                   courtentity-list-form
                                                                   courtentity-growl-form"
                                                    >
                                                        <h:outputText
                                                                value="#{courtEntity.courtEntityID == courtEntityBB.currentCourtEntity.courtEntityID ? 'selected' : 'view'}"/>
                                                    </p:commandLink>
                                                    <p:spacer height="2px"/>
                                                    <h:outputText value="(ID: #{courtEntity.courtEntityID})"/>
                                                </div>

                                                <p:spacer height="2px"/>

                                                <div class="restrict-main-contents-io-link">

                                                    <p:commandLink id="courtentity-nuke-button"
                                                                   ajax="true"
                                                                   rendered="#{courtEntity.deactivatedTS == null}"
                                                                   disabled="false"
                                                                   title="Deactivate"
                                                                   actionListener="#{courtEntityBB.onCourtEntityNukeInitButtonChange(courtEntity)}"
                                                                   oncomplete="PF('courtentity-nuke-dialog-var').show()"
                                                                   update="courtentity-nuke-dialog
                                                                               courtentity-nuke-form">
                                                        <h:outputText value="deactivate"/>
                                                    </p:commandLink>

                                                </div>

                                            </p:column>

                                        </p:dataTable>
                                    </h:form>
                                </p:panel>
                            </div>
                            <div class="object-column">
                                <h:form id="courtentity-addedit-form">
                                    <p:commandButton id="courtentity-edit-cb"
                                                     icon="pi pi-#{courtEntityBB.editModeCourtEntityInfo ? 'save':'pencil'}"
                                                     ajax="true"
                                                     actionListener="#{courtEntityBB.toggleCourtEntityAddEditButtonChange}"
                                                     value="#{courtEntityBB.editModeCourtEntityInfo ? 'save edits' : 'edit'}"
                                                     styleClass="inline-spaced-control-label"
                                                     update="@form
                                                     courtentity-growl-form
                                                     courtentity-list-panel"/>
                                    <div class="gray_button">
                                        <p:commandButton id="courtentity-cancel-cb"
                                                         ajax="true"
                                                         value="Cancel"
                                                         immediate="true"
                                                         icon="pi pi-stop-circle"
                                                         rendered="#{courtEntityBB.editModeCourtEntityInfo}"
                                                         actionListener="#{courtEntityBB.onOperationCourtEntityAddEditAbort}"
                                                         update="@form"/>
                                    </div>
                                    <p:panel id="courtentity-view-panel"
                                             toggleable="true"
                                             collapsed="false"
                                             header="Court Entity: #{courtEntityBB.currentCourtEntity.courtEntityName}">
                                        <div class="p-grid">
                                            <div class="p-col-4 restrict-data-field-label-inline">
                                                <h:outputText value="ID:"/>
                                            </div>
                                            <div class="p-col-8 restrict-data-field-value-inline">
                                                <h:outputText value="#{courtEntityBB.currentCourtEntity.courtEntityID}"
                                                              rendered="#{courtEntityBB.currentCourtEntity.courtEntityID ne 0}"/>
                                                <h:outputText value="[new record]"
                                                              rendered="#{courtEntityBB.currentCourtEntity.courtEntityID eq 0}"/>
                                            </div>
                                            <div class="p-col-4 restrict-data-field-label-inline">
                                                <h:outputText value="Name:"/>
                                            </div>
                                            <div class="p-col-8 restrict-data-field-value-inline">
                                                <h:outputText value="#{courtEntityBB.currentCourtEntity.courtEntityName}"
                                                              rendered="#{!courtEntityBB.editModeCourtEntityInfo}"/>

                                                <p:inputText id="courtentityManage-insert-name"
                                                             value="#{courtEntityBB.currentCourtEntity.courtEntityName}"
                                                             required="true"
                                                             rendered="#{courtEntityBB.editModeCourtEntityInfo}"
                                                />
                                            </div>
                                            <div class="p-col-4 restrict-data-field-label-inline">
                                                <h:outputText value="Official Num:"/>
                                            </div>
                                            <div class="p-col-8 restrict-data-field-value-inline">
                                                <h:outputText
                                                        value="#{courtEntityBB.currentCourtEntity.courtEntityOfficialNum}"
                                                        rendered="#{!courtEntityBB.editModeCourtEntityInfo}"/>

                                                <p:inputText id="courtentityManage-insert-officialnum"
                                                             value="#{courtEntityBB.currentCourtEntity.courtEntityOfficialNum}"
                                                             required="true"
                                                             rendered="#{courtEntityBB.editModeCourtEntityInfo}"
                                                />
                                            </div>
                                            <div class="p-col-4 restrict-data-field-label-inline">
                                                <h:outputText value="Judge Name:"/>
                                            </div>
                                            <div class="p-col-8 restrict-data-field-value-inline">
                                                <h:outputText value="#{courtEntityBB.currentCourtEntity.judgeName}"
                                                              rendered="#{!courtEntityBB.editModeCourtEntityInfo}"/>

                                                <p:inputText id="courtentityManage-insert-judgename"
                                                             value="#{courtEntityBB.currentCourtEntity.judgeName}"
                                                             required="true"
                                                             rendered="#{courtEntityBB.editModeCourtEntityInfo}"
                                                />
                                            </div>
                                            <div class="p-col-4 restrict-data-field-label-inline">
                                                <h:outputText value="Jurisdiction Level:"/>
                                            </div>
                                            <div class="p-col-8 restrict-data-field-value-inline">
                                                <h:outputText value="#{courtEntityBB.currentCourtEntity.jurisdictionLevel}"
                                                              rendered="#{!courtEntityBB.editModeCourtEntityInfo}"/>

                                                <p:inputText id="courtentityManage-insert-jurilevel"
                                                             value="#{courtEntityBB.currentCourtEntity.jurisdictionLevel}"
                                                             required="true"
                                                             rendered="#{courtEntityBB.editModeCourtEntityInfo}"
                                                />
                                            </div>
                                            <div class="p-col-4 restrict-data-field-label-inline">
                                                <h:outputText value="Street:"/>
                                            </div>
                                            <div class="p-col-8 restrict-data-field-value-inline">
                                                <h:outputText value="#{courtEntityBB.currentCourtEntity.addressStreet}"
                                                              rendered="#{!courtEntityBB.editModeCourtEntityInfo}"/>

                                                <p:inputText id="courtentityManage-insert-street"
                                                             value="#{courtEntityBB.currentCourtEntity.addressStreet}"
                                                             required="true"
                                                             rendered="#{courtEntityBB.editModeCourtEntityInfo}"
                                                />
                                            </div>
                                            <div class="p-col-4 restrict-data-field-label-inline">
                                                <h:outputText value="City:"/>
                                            </div>
                                            <div class="p-col-8 restrict-data-field-value-inline">
                                                <h:outputText value="#{courtEntityBB.currentCourtEntity.addressCity}"
                                                              rendered="#{!courtEntityBB.editModeCourtEntityInfo}"/>

                                                <p:inputText id="courtentityManage-insert-city"
                                                             value="#{courtEntityBB.currentCourtEntity.addressCity}"
                                                             required="true"
                                                             rendered="#{courtEntityBB.editModeCourtEntityInfo}"
                                                />
                                            </div>
                                            <div class="p-col-4 restrict-data-field-label-inline">
                                                <h:outputText value="State:"/>
                                            </div>
                                            <div class="p-col-8 restrict-data-field-value-inline">
                                                <h:outputText value="#{courtEntityBB.currentCourtEntity.addressState}"
                                                              rendered="#{!courtEntityBB.editModeCourtEntityInfo}"/>

                                                <p:inputText id="courtentityManage-insert-state"
                                                             value="#{courtEntityBB.currentCourtEntity.addressState}"
                                                             required="true"
                                                             rendered="#{courtEntityBB.editModeCourtEntityInfo}"
                                                />
                                            </div>
                                            <div class="p-col-4 restrict-data-field-label-inline">
                                                <h:outputText value="Zip:"/>
                                            </div>
                                            <div class="p-col-8 restrict-data-field-value-inline">
                                                <h:outputText value="#{courtEntityBB.currentCourtEntity.addressZip}"
                                                              rendered="#{!courtEntityBB.editModeCourtEntityInfo}"/>

                                                <p:inputText id="courtentityManage-insert-zip"
                                                             value="#{courtEntityBB.currentCourtEntity.addressZip}"
                                                             required="true"
                                                             rendered="#{courtEntityBB.editModeCourtEntityInfo}"
                                                />
                                            </div>
                                            <div class="p-col-4 restrict-data-field-label-inline">
                                                <h:outputText value="Country:"/>
                                            </div>
                                            <div class="p-col-8 restrict-data-field-value-inline">
                                                <h:outputText value="#{courtEntityBB.currentCourtEntity.addressCounty}"
                                                              rendered="#{!courtEntityBB.editModeCourtEntityInfo}"/>

                                                <p:inputText id="courtentityManage-insert-country"
                                                             value="#{courtEntityBB.currentCourtEntity.addressCounty}"
                                                             required="true"
                                                             rendered="#{courtEntityBB.editModeCourtEntityInfo}"
                                                />
                                            </div>
                                            <div class="p-col-4 restrict-data-field-label-inline">
                                                <h:outputText value="Phone:"/>
                                            </div>
                                            <div class="p-col-8 restrict-data-field-value-inline">
                                                <h:outputText value="#{courtEntityBB.currentCourtEntity.phone}"
                                                              rendered="#{!courtEntityBB.editModeCourtEntityInfo}"/>

                                                <p:inputText id="courtentityManage-insert-phone"
                                                             value="#{courtEntityBB.currentCourtEntity.phone}"
                                                             required="true"
                                                             rendered="#{courtEntityBB.editModeCourtEntityInfo}"
                                                />
                                            </div>
                                            <div class="p-col-4 restrict-data-field-label-inline">
                                                <h:outputText value="Url:"/>
                                            </div>
                                            <div class="p-col-8 restrict-data-field-value-inline">
                                                <h:outputText value="#{courtEntityBB.currentCourtEntity.url}"
                                                              rendered="#{!courtEntityBB.editModeCourtEntityInfo}"/>

                                                <p:inputText id="courtentityManage-insert-url"
                                                             value="#{courtEntityBB.currentCourtEntity.url}"
                                                             required="true"
                                                             rendered="#{courtEntityBB.editModeCourtEntityInfo}"
                                                />
                                            </div>
                                            <div class="p-col-4 restrict-data-field-label-inline">
                                                <h:outputText value="Note:"/>
                                            </div>
                                            <div class="p-col-8 restrict-data-field-value-inline">
                                                <h:outputText value="#{courtEntityBB.currentCourtEntity.notes}"
                                                              rendered="#{!courtEntityBB.editModeCourtEntityInfo}"/>

                                                <p:inputText id="courtentityManage-insert-notes"
                                                             value="#{courtEntityBB.currentCourtEntity.notes}"
                                                             required="true"
                                                             rendered="#{courtEntityBB.editModeCourtEntityInfo}"
                                                />
                                            </div>
                                        </div>

                                    </p:panel>
                                </h:form>
                            </div>
                        </div>
                    </div>

                    <p:dialog id="courtentity-nuke-dialog"
                              widgetVar="courtentity-nuke-dialog-var"
                              header="Nuke Court Entity"
                              closeOnEscape="true"
                              closable="true"
                              resizable="true"
                              responsive="true"
                              height="300" width="550"
                              rendered="true"
                    >

                        <h:form id="courtentity-nuke-form">

                            <div class="ui-g data_container_nested_restrict">
                                <div class="ui-g-12 ui-md-6 ui-lg-6 restrict-data-field">
                                    <div class="restrict-data-field-label-inline">
                                        <h:outputLabel>
                                            <h:outputText
                                                    value="Nuked court entities can only be rescued by sys admins...and they will grumble while doing so."/>
                                        </h:outputLabel>
                                    </div>
                                </div>
                                <div class="ui-g-12 ui-md-6 ui-lg-6 restrict-data-field">
                                    <div class="restrict-main-contents-io-button red_button">
                                        <p:commandButton id="courtentity-nuke-confirm-button"
                                                         ajax="true"
                                                         action="#{courtEntityBB.onCourtEntityNukeCommitButtonChange}"
                                                         value="Nuke Court Entity"
                                                         icon="pi pi-trash"
                                                         oncomplete="PF('courtentity-nuke-dialog-var').hide();"
                                                         update="courtentity-list-panel
                                                         courtentity-addedit-form
                                                         courtentity-growl-form"
                                                         rendered="true"
                                        />
                                    </div>
                                </div>
                            </div>

                        </h:form>

                    </p:dialog>

                </f:view>
            </ui:define>
        </ui:composition>
    </h:body>
</html>