<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <h:outputStylesheet name="css/novstyle.css"/>
        <h:outputStylesheet name="css/style.css"/>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
        <title>Notice of Violation</title>
    </h:head>
    <h:body>
        <f:view id="view-nov">
            <div class="nov-container">
                <div class="header" style="margin-top:#{noticeOfViolationBB.currentNotice.style.nov_page_margin_top}px" >
                    <p:graphicImage width="#{noticeOfViolationBB.currentNotice.style.headerWidthDefault}" 
                                    value="/resources/tcvcogletterhead_top.jpg"
                                    styleClass="nov-header-image"
                                    alt=""
                                    rendered="#{empty noticeOfViolationBB.currentNotice.novType.novHeaderBlob}">
                        <f:param name="blobID" value="#{noticeOfViolationBB.currentNotice.headerImageID}"/>
                    </p:graphicImage>

                    <p:graphicImage     id="letter-headerphoto"
                                        value="#{blobsterBB.image}"
                                        alt="" 
                                        styleClass="nov-header-image"
                                        width="#{noticeOfViolationBB.currentNotice.style.headerWidthDefault}"
                                        cache="true"
                                        rendered="#{!empty noticeOfViolationBB.currentNotice.novType.novHeaderBlob}">
                        <f:param name="blobid" value="#{noticeOfViolationBB.currentNotice.novType.novHeaderBlob.photoDocID}"/>
                    </p:graphicImage>
                </div>

                <div class="addressee" style="left: #{noticeOfViolationBB.currentNotice.style.nov_addressee_margin_left}px; top: #{noticeOfViolationBB.currentNotice.style.nov_addressee_margin_top}px">
                    <h:outputText value="DRAFT NOTICE: Before printing, click 'finalize and lock' to remove this notice" 
                                  style="color:darkred; font-size: 2em; font-weight: bold;"
                                  rendered="#{empty noticeOfViolationBB.currentNotice.lockedAndqueuedTS}"/>
                    <p:spacer height="5px" />
                    <h:outputText value="[FYI: When you finalize and lock the notice, the recipient's name, address, and the officer contact information is copied into permament boxes in the DB so even if the records change, the notice history contains exactly the values used when the notice was sent.]" 
                                  style="color:darkblue; font-size: 0.8em; font-style: italic;"
                                  rendered="#{empty noticeOfViolationBB.currentNotice.lockedAndqueuedTS}"/>
                    <p:spacer height="5px" />



                    <h:outputText value="#{noticeOfViolationBB.currentNotice.recipient.name}"
                                  rendered="#{empty noticeOfViolationBB.currentNotice.lockedAndqueuedTS}" />
                    <p:spacer height="5px" />

                    <h:outputText value="Unit: #{noticeOfViolationBB.currentCaseForNOVs.unitNumber}"
                                  rendered="#{(empty noticeOfViolationBB.currentNotice.lockedAndqueuedTS) and (!empty noticeOfViolationBB.currentCaseForNOVs.unitNumber)}" />                   
                    <p:spacer height="5px"
                              rendered="#{(empty noticeOfViolationBB.currentNotice.lockedAndqueuedTS) and (!empty noticeOfViolationBB.currentCaseForNOVs.unitNumber)}" /> 

                    <h:outputText value="#{noticeOfViolationBB.currentNotice.recipientMailingAddress.addressPretty2LineEscapeFalse}"
                                  escape="false"
                                  rendered="#{empty noticeOfViolationBB.currentNotice.lockedAndqueuedTS}" />


                    <f:subview id="subview-fixed-addressee-and-addresss">
                        <h:outputText value="#{noticeOfViolationBB.currentNotice.fixedRecipientName}"/>
                        <br />
                        <f:subview id="subview-fixed-mailingaddress-component-legacy"
                                   rendered="#{noticeOfViolationBB.currentNotice.singleFieldMailingAddressEnabled}">
                            <h:outputText value="#{noticeOfViolationBB.currentNotice.fixedRecipientMailingAddressCombinedEscapeFalse}"
                                          escape="false" />
                        </f:subview>
                        <f:subview id="subview-fixed-mailingaddress-component-legacy"
                                   rendered="#{not noticeOfViolationBB.currentNotice.singleFieldMailingAddressEnabled}">
                            <h:outputText escape="false" value="Unit #{noticeOfViolationBB.currentNotice.fixedRecipientUnitNumber}"
                                          rendered="#{!empty noticeOfViolationBB.currentNotice.fixedRecipientUnitNumber}"/>
                            <f:subview id="subview-addressee-unitbreak" 
                                       rendered ="#{!empty noticeOfViolationBB.currentNotice.fixedRecipientUnitNumber}">
                             <br />
                            </f:subview>
                            <h:outputText escape="false" value="#{noticeOfViolationBB.currentNotice.fixedRecipientBldgNo}"/>
                            <h:outputText escape="false" value=" "/>
                            <h:outputText escape="false" value="#{noticeOfViolationBB.currentNotice.fixedRecipientStreet}"/>
                            <br />
                            <h:outputText value="#{noticeOfViolationBB.currentNotice.fixedRecipientCity}, #{noticeOfViolationBB.currentNotice.fixedRecipientState} #{noticeOfViolationBB.currentNotice.fixedRecipientZip}"/>
                        </f:subview>
                    </f:subview>
                </div>
                
                <div class="nov-letter-text" style="margin-top:#{noticeOfViolationBB.currentNotice.style.nov_text_margin_top}px">

                    <p:spacer height="5px" 
                              rendered="#{empty noticeOfViolationBB.currentNotice.lockedAndqueuedTS}"/>

                    <div class="date-of-record">
                        <h:outputText id="date-of-record-ot" value="#{noticeOfViolationBB.getPrettyDateNoTime(noticeOfViolationBB.currentNotice.dateOfRecord)}" />
                    </div> 

                    <div class="property-of-concern">
                        <div class="bold underline">

                            <h:outputText  value="RE: " />

                            <h:outputText escape="false" value="Unit #{noticeOfViolationBB.currentNotice.fixedRecipientUnitNumber}"
                                          rendered="#{!empty noticeOfViolationBB.currentNotice.fixedRecipientUnitNumber}"/>
                            <f:subview id="subview-addressee-unitbreak-re" 
                                       rendered ="#{!empty noticeOfViolationBB.currentNotice.fixedRecipientUnitNumber}">
                                <br />
                            </f:subview>
                            <f:subview id="subview-addressee-nounit-re"
                                       rendered="#{(empty noticeOfViolationBB.currentNotice.lockedAndqueuedTS) and (!empty noticeOfViolationBB.currentCaseForNOVs.unitNumber)}">
                                <br />
                                <h:outputText value="Unit: #{noticeOfViolationBB.currentCaseForNOVs.unitNumber}"/>
                                <br />
                            </f:subview>
                            <h:outputText id="nov-prop-address" value="#{noticeOfViolationBB.currentCaseForNOVs.addressPretty2LineEscapeFalse} " 
                                          escape="false"/>

                            <h:outputText id="nov-prop-muni" value=" | Lot and block: #{noticeOfViolationBB.currentCaseForNOVs.propertyParcelIDCountyFlat}" />
                        </div>
                    </div>

                    <div class="text-insert">
                        <h:outputText id="text-before-violations-ot" 
                                      escape="false"
                                      value="#{noticeOfViolationBB.currentNotice.noticeTextBeforeViolations}" />
                    </div>

                    <p:dataScroller id="violations-ds"
                                    value="#{noticeOfViolationBB.currentNotice.violationList}"
                                    rendered="#{noticeOfViolationBB.currentNotice.template.templateType.injectViolations}"
                                    var="v">
                        <div class="p-grid">
                            <div class="p-col-3">
                                <h:outputLabel styleClass="bold" value="Ordinance: "  />
                            </div>
                            <div class="p-col-9">
                                <h:outputLabel  value="#{v.violatedEnfElement.headerString}"
                                                escape="false" />
                            </div>

                            <div class="p-col-3">
                                <h:outputLabel styleClass="bold" value="Ordinance text: "/>
                            </div>
                            <div class="p-col-9 ">
                                <h:outputText escape="false" value="#{v.violatedEnfElement.ordTechnicalText}"/>
                            </div>

                            <div class="p-col-3">
                                <h:outputLabel styleClass="bold" value="Finding: "/>
                            </div>
                            <div class="p-col-9">
                                <h:outputText value="#{v.description}"
                                              escape="false"/>
                            </div>

                            <f:subview  id="stipcomp-subview"
                                        rendered="#{noticeOfViolationBB.currentNotice.includeStipulatedCompDate}">

                                <div class="p-col-3">
                                    <h:outputLabel styleClass="bold" 
                                                   value="Compliance due on or before: "/>
                                </div>
                                <div class="p-col-9">
                                    <h:outputText value="#{noticeOfViolationBB.getPrettyDateNoTime(v.stipulatedComplianceDate)}" />
                                </div>
                            </f:subview>
                        </div>
                        <hr />
                    </p:dataScroller>

                    <div class="text-insert">
                        <h:outputText id="text-after-violations-ot" 
                                      escape="false"
                                      value="#{noticeOfViolationBB.currentNotice.noticeTextAfterViolations}" />
                    </div>

                    <div class="nov-sigblock">
                        <p:graphicImage value="#{blobsterBB.image}"
                                        alt=" " 
                                        styleClass="signature"
                                        cache="true"
                                        rendered="#{noticeOfViolationBB.currentNotice.fixedNotifyingOfficerSignaturePhotoDocID ne 0}">
                            <f:param name="blobid" value="#{noticeOfViolationBB.currentNotice.fixedNotifyingOfficerSignaturePhotoDocID}"/>
                        </p:graphicImage>
                        <p:spacer height="2px" />

                        <h:outputText value="#{noticeOfViolationBB.currentNotice.notifyingOfficerPerson.name}"
                                      rendered="#{empty noticeOfViolationBB.currentNotice.lockedAndqueuedTS}" />

                        <p:spacer height="2px" />
                        <h:outputText value="#{noticeOfViolationBB.currentNotice.notifyingOfficerPerson.jobTitle}"
                                      rendered="#{empty noticeOfViolationBB.currentNotice.lockedAndqueuedTS}" />
                        <p:spacer height="2px" />
                        <h:outputText value="#{noticeOfViolationBB.currentNotice.notifyingOfficerPerson.primaryPhone.phoneNumber}"
                                      rendered="#{empty noticeOfViolationBB.currentNotice.lockedAndqueuedTS}" />
                        <p:spacer height="2px" />
                        <h:outputText value="#{noticeOfViolationBB.currentNotice.notifyingOfficerPerson.primaryEmail.emailaddress}"
                                      rendered="#{empty noticeOfViolationBB.currentNotice.lockedAndqueuedTS}" />

                        <h:outputText value="#{noticeOfViolationBB.currentNotice.fixedNotifyingOfficerName}" />
                        <p:spacer height="2px" />
                        <h:outputText value="#{noticeOfViolationBB.currentNotice.fixedNotifyingOfficerTitle}" />
                        <p:spacer height="2px" />
                        <h:outputText value="#{noticeOfViolationBB.currentNotice.fixedNotifyingOfficerPhone}" />
                        <p:spacer height="2px" />
                        <h:outputText value="#{noticeOfViolationBB.currentNotice.fixedNotifyingOfficerEmail}" />
                    </div>

                </div>

            </div>
        </f:view>
    </h:body>
</html>

