<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    <h:head>
        <link rel="stylesheet" type="text/css" href="css/style.css"></link>
        <title>System Admin Control panel</title>
    </h:head>
    <h:body>
        <ui:composition template="/restricted/navContainer_restricted.xhtml">
            <ui:define name="content">
                <f:view>
                    <div class="mainContainer">
                        <h:form id="sysadmin-messages-form">
                            <p:growl id="sysadmin-messages" globalOnly="true" showDetail="true" showSummary="true"/>
                            
                        </h:form>

                        <h1>System admin control panel</h1>

                        <div class="p-grid">

                            <div class="p-col-8 nested-grid">
                                <p:panel id = "codesetmanage-panel-selectcodeset"
                                         toggleable="true"
                                         collapsed="false"
                                         header="CodeNForce database caching control"
                                         >
                                    <h:form id="cache-control-form">

                                        <p>codeNForce's caching subsystem is composed of nine cache managers each of which manages
                                            the caching of a family of business objects. If read operations on objects are returning stale
                                            data (e.g. updates are not "sticking"), administrators can safely flush a cache manager or turn off
                                            an entire cache manager entirely and retry the operation. Tinkering with these settings is a low
                                            risk operation and does not threaten database level data integrity in any way. Changing caching
                                            configurations is likely to impact session and object load times, however, and perhaps overall system stability.</p>
                                        
                                        <h3>System-wide cache controls </h3>
                                                    <p:commandButton id="cachectl-disablell" 
                                                                     actionListener="#{systemAdminBB.disableAllCaching}"
                                                                     ajax="true"
                                                                     value="Disable all caches"
                                                                     disabled="false"
                                                                     icon="pi pi-power-off"
                                                                     update="@form
                                                                     sysadmin-messages-form">    
                                                    </p:commandButton>
                                        
                                        <h:outputText value=" " />
                                        
                                                    <p:commandButton id="cachectl-enableall" 
                                                                     actionListener="#{systemAdminBB.enableAllCaching}"
                                                                     ajax="true"
                                                                     value="Enable all caches"
                                                                     disabled="false"
                                                                     icon="pi pi-angle-double-up"
                                                                     update="@form
                                                                     sysadmin-messages-form">    
                                                    </p:commandButton>
                                        <h:outputText value=" " />
                                          <p:commandButton id="cachectl-dumpsizes" 
                                                                     actionListener="#{systemAdminBB.writeCacheEstimatedSize}"
                                                                     ajax="true"
                                                                     value="Write esimated cache sizes to system log: /opt/wildfly/standalone/log/"
                                                                     disabled="false"
                                                                     icon="pi pi-file-o"
                                                                     update="@form
                                                                     sysadmin-messages-form">    
                                                    </p:commandButton>
                                        
                                        
                                        <h3>Cache-specific controls</h3>
                                        <div class="p-grid">
                                            <div class="p-col-4 restrict-data-field-label-inline">
                                                <h:outputText value="System and muni cache manager" />
                                            </div>
                                            <div class="p-col-2 restrict-data-field-label-inline">
                                                <h:outputText value="#{systemMuniUserCacheManager.cachingEnabled ? 'Enabled':'Disabled'}" 
                                                              styleClass="#{systemMuniUserCacheManager.cachingEnabled ? 'text-green' :'text-red'}"/>
                                            </div>
                                            
                                            <div class="p-col-3 restrict-data-field-value-inline">
                                                    <p:commandButton id="cachectl-system-toggle-system" 
                                                                     actionListener="#{systemAdminBB.toggleCacheManagerActive}"
                                                                     ajax="true"
                                                                     value="Toggle caching"
                                                                     disabled="false"
                                                                     icon="pi pi-sync"
                                                                     update="@form
                                                                     sysadmin-messages-form">    
                                                        <f:param name="cache-manager-string" value="SYSMUNIUSER" />
                                                    </p:commandButton>
                                            </div>
                                            <div class="p-col-3 restrict-data-field-value-inline">
                                                <div class="restrict-main-contents-io-button">
                                                    <p:commandButton id="cachectl-system-flush-system" 
                                                                     actionListener="#{systemAdminBB.flushCache}"
                                                                     ajax="true"
                                                                     value="Flush cache"
                                                                     disabled="false"
                                                                     icon="pi pi-arrow-circle-down"
                                                                     update="sysadmin-messages-form">    
                                                        <f:param name="cache-manager-string" value="SYSMUNIUSER" />
                                                    </p:commandButton>
                                                </div>
                                            </div>
                                            <div class="p-col-12">
                                                <p:divider />
                                            </div>
                                            
                                            <div class="p-col-4 restrict-data-field-label-inline">
                                                <h:outputText value="Code cache manager" />
                                            </div>
                                            <div class="p-col-2 restrict-data-field-label-inline">
                                                <h:outputText value="#{codeCacheManager.cachingEnabled ? 'Enabled':'Disabled'}" 
                                                              styleClass="#{codeCacheManager.cachingEnabled ? 'text-green' :'text-red'}"/>
                                            </div>
                                            
                                            <div class="p-col-3 restrict-data-field-value-inline">
                                                    <p:commandButton id="cachectl-system-toggle-code" 
                                                                     actionListener="#{systemAdminBB.toggleCacheManagerActive}"
                                                                     ajax="true"
                                                                     value="Toggle caching"
                                                                     disabled="false"
                                                                     icon="pi pi-sync"
                                                                     update="@form
                                                                     sysadmin-messages-form">    
                                                        <f:param name="cache-manager-string" value="CODE" />
                                                    </p:commandButton>
                                            </div>
                                            
                                            <div class="p-col-3 restrict-data-field-value-inline">
                                                <div class="restrict-main-contents-io-button">
                                                    <p:commandButton id="cachectl-system-flush-code" 
                                                                     actionListener="#{systemAdminBB.flushCache}"
                                                                     ajax="true"
                                                                     value="Flush cache"
                                                                     disabled="false"
                                                                     icon="pi pi-arrow-circle-down"
                                                                     update="sysadmin-messages-form">    
                                                        <f:param name="cache-manager-string" value="CODE" />
                                                    </p:commandButton>
                                                </div>
                                            </div>
                                            <div class="p-col-12">
                                                <p:divider />
                                            </div>
                                            <div class="p-col-4 restrict-data-field-label-inline">
                                                <h:outputText value="Property cache manager" />
                                            </div>
                                            <div class="p-col-2 restrict-data-field-label-inline">
                                                <h:outputText value="#{propertyCacheManager.cachingEnabled ? 'Enabled':'Disabled'}" 
                                                              styleClass="#{propertyCacheManager.cachingEnabled ? 'text-green' :'text-red'}"/>
                                            </div>
                                            
                                            <div class="p-col-3 restrict-data-field-value-inline">
                                                    <p:commandButton id="cachectl-system-toggle-prop" 
                                                                     actionListener="#{systemAdminBB.toggleCacheManagerActive}"
                                                                     ajax="true"
                                                                     value="Toggle caching"
                                                                     disabled="false"
                                                                     icon="pi pi-sync"
                                                                     update="@form
                                                                     sysadmin-messages-form">    
                                                        <f:param name="cache-manager-string" value="PROPERTY" />
                                                    </p:commandButton>
                                            </div>
                                            
                                            <div class="p-col-3 restrict-data-field-value-inline">
                                                <div class="restrict-main-contents-io-button">
                                                    <p:commandButton id="cachectl-system-flush-prop" 
                                                                     actionListener="#{systemAdminBB.flushCache}"
                                                                     ajax="true"
                                                                     value="Flush cache"
                                                                     disabled="false"
                                                                     icon="pi pi-arrow-circle-down"
                                                                     update="sysadmin-messages-form">    
                                                        <f:param name="cache-manager-string" value="PROPERTY" />
                                                    </p:commandButton>
                                                </div>
                                            </div>
                                            <div class="p-col-12">
                                                <p:divider />
                                            </div>
                                            <div class="p-col-4 restrict-data-field-label-inline">
                                                <h:outputText value="Person cache manager" />
                                            </div>
                                              <div class="p-col-2 restrict-data-field-label-inline">
                                                  <h:outputText value="#{personCacheManager.cachingEnabled ? 'Enabled':'Disabled'}" 
                                                                styleClass="#{personCacheManager.cachingEnabled ? 'text-green' :'text-red'}"/>
                                            </div>
                                            
                                            <div class="p-col-3 restrict-data-field-value-inline">
                                                    <p:commandButton id="cachectl-system-toggle-pers" 
                                                                     actionListener="#{systemAdminBB.toggleCacheManagerActive}"
                                                                     ajax="true"
                                                                     value="Toggle caching"
                                                                     disabled="false"
                                                                     icon="pi pi-sync"
                                                                     update="@form
                                                                     sysadmin-messages-form">    
                                                        <f:param name="cache-manager-string" value="PERSON" />
                                                    </p:commandButton>
                                            </div>
                                            <div class="p-col-3 restrict-data-field-value-inline">
                                                <div class="restrict-main-contents-io-button">
                                                    <p:commandButton id="cachectl-system-flush-person" 
                                                                     actionListener="#{systemAdminBB.flushCache}"
                                                                     ajax="true"
                                                                     value="Flush cache"
                                                                     disabled="false"
                                                                     icon="pi pi-arrow-circle-down"
                                                                     update="sysadmin-messages-form">    
                                                        <f:param name="cache-manager-string" value="PERSON" />
                                                    </p:commandButton>
                                                </div>
                                            </div>
                                            <div class="p-col-12">
                                                <p:divider />
                                            </div>
                                            <div class="p-col-4 restrict-data-field-label-inline">
                                                <h:outputText value="CE Case cache manager" />
                                            </div>
                                            <div class="p-col-2 restrict-data-field-label-inline">
                                                  <h:outputText value="#{ceCaseCacheManager.cachingEnabled ? 'Enabled':'Disabled'}"
                                                                styleClass="#{ceCaseCacheManager.cachingEnabled ? 'text-green' :'text-red'}"/>
                                            </div>
                                            
                                            <div class="p-col-3 restrict-data-field-value-inline">
                                                    <p:commandButton id="cachectl-system-toggle-cecase" 
                                                                     actionListener="#{systemAdminBB.toggleCacheManagerActive}"
                                                                     ajax="true"
                                                                     value="Toggle caching"
                                                                     disabled="false"
                                                                     icon="pi pi-sync"
                                                                     update="@form
                                                                     sysadmin-messages-form">    
                                                        <f:param name="cache-manager-string" value="CECASE" />
                                                    </p:commandButton>
                                            </div>
                                            
                                            <div class="p-col-3 restrict-data-field-value-inline">
                                                <div class="restrict-main-contents-io-button">
                                                    <p:commandButton id="cachectl-system-flush-cecase" 
                                                                     actionListener="#{systemAdminBB.flushCache}"
                                                                     ajax="true"
                                                                     value="Flush cache"
                                                                     disabled="false"
                                                                     icon="pi pi-arrow-circle-down"
                                                                     update="sysadmin-messages-form">    
                                                        <f:param name="cache-manager-string" value="CECASE" />
                                                    </p:commandButton>
                                                </div>
                                            </div>
                                            <div class="p-col-12">
                                                <p:divider />
                                            </div>
                                            <div class="p-col-4 restrict-data-field-label-inline">
                                                <h:outputText value="Occupancy cache manager" />
                                            </div>
                                            <div class="p-col-2 restrict-data-field-label-inline">
                                                <h:outputText value="#{occupancyCacheManager.cachingEnabled ? 'Enabled':'Disabled'}" 
                                                              styleClass="#{occupancyCacheManager.cachingEnabled ? 'text-green' :'text-red'}"/>
                                            </div>
                                            
                                            <div class="p-col-3 restrict-data-field-value-inline">
                                                    <p:commandButton id="cachectl-system-toggle-occ" 
                                                                     actionListener="#{systemAdminBB.toggleCacheManagerActive}"
                                                                     ajax="true"
                                                                     value="Toggle caching"
                                                                     disabled="false"
                                                                     icon="pi pi-sync"
                                                                     update="@form
                                                                     sysadmin-messages-form">    
                                                        <f:param name="cache-manager-string" value="OCCUPANCY" />
                                                    </p:commandButton>
                                            </div>
                                            
                                            <div class="p-col-3 restrict-data-field-value-inline">
                                                <div class="restrict-main-contents-io-button">
                                                    <p:commandButton id="cachectl-system-flush-occ" 
                                                                     actionListener="#{systemAdminBB.flushCache}"
                                                                     ajax="true"
                                                                     value="Flush cache"
                                                                     disabled="false"
                                                                     icon="pi pi-arrow-circle-down"
                                                                     update="sysadmin-messages-form">    
                                                        <f:param name="cache-manager-string" value="OCCUPANCY" />
                                                    </p:commandButton>
                                                </div>
                                            </div>
                                            <div class="p-col-12">
                                                <p:divider />
                                            </div>
                                            <div class="p-col-4 restrict-data-field-label-inline">
                                                <h:outputText value="Field inspection cache manager" />
                                            </div>
                                            <div class="p-col-2 restrict-data-field-label-inline">
                                                <h:outputText value="#{occInspectionCacheManager.cachingEnabled ? 'Enabled':'Disabled'}"
                                                                styleClass="#{occInspectionCacheManager.cachingEnabled ? 'text-green' :'text-red'}"/>
                                            </div>
                                            
                                            <div class="p-col-3 restrict-data-field-value-inline">
                                                    <p:commandButton id="cachectl-system-toggle-fin" 
                                                                     actionListener="#{systemAdminBB.toggleCacheManagerActive}"
                                                                     ajax="true"
                                                                     value="Toggle caching"
                                                                     disabled="false"
                                                                     icon="pi pi-sync"
                                                                     update="@form
                                                                     sysadmin-messages-form">    
                                                        <f:param name="cache-manager-string" value="INSPECTION" />
                                                    </p:commandButton>
                                            </div>
                                           
                                            <div class="p-col-3 restrict-data-field-value-inline">
                                                <div class="restrict-main-contents-io-button">
                                                    <p:commandButton id="cachectl-system-flush-fin" 
                                                                     actionListener="#{systemAdminBB.flushCache}"
                                                                     ajax="true"
                                                                     value="Flush cache"
                                                                     disabled="false"
                                                                     icon="pi pi-arrow-circle-down"
                                                                     update="sysadmin-messages-form">    
                                                        <f:param name="cache-manager-string" value="INSPECTION" />
                                                    </p:commandButton>
                                                </div>
                                            </div>
                                            <div class="p-col-12">
                                                <p:divider />
                                            </div>
                                            <div class="p-col-4 restrict-data-field-label-inline">
                                                <h:outputText value="Event cache manager" />
                                            </div>
                                            <div class="p-col-2 restrict-data-field-label-inline">
                                                <h:outputText value="#{eventCacheManager.cachingEnabled ? 'Enabled':'Disabled'}" 
                                                              styleClass="#{eventCacheManager.cachingEnabled ? 'text-green' :'text-red'}"/>
                                            </div>
                                            
                                            <div class="p-col-3 restrict-data-field-value-inline">
                                                    <p:commandButton id="cachectl-system-toggle-event" 
                                                                     actionListener="#{systemAdminBB.toggleCacheManagerActive}"
                                                                     ajax="true"
                                                                     value="Toggle caching"
                                                                     disabled="false"
                                                                     icon="pi pi-sync"
                                                                     update="@form
                                                                     sysadmin-messages-form">    
                                                        <f:param name="cache-manager-string" value="EVENT" />
                                                    </p:commandButton>
                                            </div>
                                            <div class="p-col-3 restrict-data-field-value-inline">
                                                <div class="restrict-main-contents-io-button">
                                                    <p:commandButton id="cachectl-system-flush-event" 
                                                                     actionListener="#{systemAdminBB.flushCache}"
                                                                     ajax="true"
                                                                     value="Flush cache"
                                                                     disabled="false"
                                                                     icon="pi pi-arrow-circle-down"
                                                                     update="sysadmin-messages-form">    
                                                        <f:param name="cache-manager-string" value="EVENT" />
                                                    </p:commandButton>
                                                </div>
                                            </div>
                                            <div class="p-col-12">
                                                <p:divider />
                                            </div>
                                            <div class="p-col-4 restrict-data-field-label-inline">
                                                <h:outputText value="BLOB cache manager" />
                                            </div>
                                             <div class="p-col-2 restrict-data-field-label-inline">
                                                 <h:outputText value="#{blobCacheManager.cachingEnabled ? 'Enabled':'Disabled'}" 
                                                                styleClass="#{blobCacheManager.cachingEnabled ? 'text-green' :'text-red'}"/>
                                            </div>
                                            
                                            <div class="p-col-3 restrict-data-field-value-inline">
                                                    <p:commandButton id="cachectl-system-toggle-blob" 
                                                                     actionListener="#{systemAdminBB.toggleCacheManagerActive}"
                                                                     ajax="true"
                                                                     value="Toggle caching"
                                                                     disabled="false"
                                                                     icon="pi pi-sync"
                                                                     update="@form
                                                                            sysadmin-messages-form" >    
                                                        <f:param name="cache-manager-string" value="BLOB" />
                                                    </p:commandButton>
                                            </div>
                                            <div class="p-col-3 restrict-data-field-value-inline">
                                                <div class="restrict-main-contents-io-button">
                                                    <p:commandButton id="cachectl-system-flush-blob" 
                                                                     actionListener="#{systemAdminBB.flushCache}"
                                                                     ajax="true"
                                                                     value="Flush cache"
                                                                     disabled="false"
                                                                     icon="pi pi-arrow-circle-down"
                                                                     update="sysadmin-messages-form">    
                                                        <f:param name="cache-manager-string" value="BLOB" />
                                                    </p:commandButton>
                                                </div>
                                            </div>
                                        </div>
                                    </h:form>
                                </p:panel>
                            </div>
                            <!--next column?--> 
                        </div>
                    </div>
                </f:view>
            </ui:define>
        </ui:composition>
    </h:body>
</html>