<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:p="http://primefaces.org/ui">
    <f:view>
        <div class="mainContainer">
            <div class="title-container">
                <h1>Code enforcement action request issue type manager</h1>
            </div>

            <h:form id="issuetype-growl-form">
                <p:growl id="issuetype-growl"
                         life="12000"
                         sticky="false"
                         keepAlive="true"
                         globalOnly="false"/>
            </h:form>

            <div class="two-column-page-flex-container">
                <div class="list-column">

                    <p:panel id="issuetypetools-panel"
                             toggleable="true"
                             widgetVar="issuetypetools-panel-var"
                             collapsed="false">
                        <f:facet name="header">
                            <h:outputText value="Action request issue type Tools"/>
                        </f:facet>

                        <h:form id="issuetypetools-form">
                            <div class="p-grid">
                                <div class="p-col-6">
                                    <p:commandButton id="issuetype-create-init-button"
                                                     value="Add new issue type"
                                                     icon="pi pi-plus"
                                                     actionListener="#{cearIssueTypeManageBB.onIssueTypeAddInit}"
                                                     update="issuetype-addedit-form
                                                     issuetype-list-form
                                                     @form"
                                                     />
                                </div>
                            </div>
                        </h:form>

                    </p:panel>

                    <p:panel id="issuetype-list-panel"
                             widgetVar="issuetype-panel-var"
                             toggleable="true"
                             collapsed="false">
                        <f:facet name="header">
                            <h:outputText value="Issue types(#{cearIssueTypeManageBB.issueTypeList.size()})"/>
                        </f:facet>


                        <h:form id="issuetype-list-form">

                            <h:outputLabel value="show all municipalities?"
                                           for="issuetype-allmunis-cbcb"
                                           styleClass="inline-spaced-control-label"/>
                            <p:selectBooleanCheckbox id="issuetype-allmunis-cbcb"
                                                     value="#{cearIssueTypeManageBB.showAllMunis}" >
                                <p:ajax update="@form" 
                                        listener="#{cearIssueTypeManageBB.onToggleShowAllMunis()}"/>
                            </p:selectBooleanCheckbox>
                            
                            <h:outputLabel value="show inactive?"
                                           for="issuetype-inactive-cbcb"
                                           styleClass="inline-spaced-control-label"/>
                            <p:selectBooleanCheckbox id="issuetype-inactive-cbcb"
                                                     value="#{cearIssueTypeManageBB.showInactiveIssueTypes}" >
                                <p:ajax update="@form" 
                                        listener="#{cearIssueTypeManageBB.onToggleShowAllMunis()}"/>
                            </p:selectBooleanCheckbox>

                            <p:spacer height="3px" />

                            <p:dataTable id="issuetypeTable"
                                         value="#{cearIssueTypeManageBB.issueTypeList}"
                                         rendered="#{!empty cearIssueTypeManageBB.issueTypeList}"
                                         var="issuetype"
                                         tableStyleClass="primeDataTable">


                                <p:column headerText="Muni"
                                          styleClass="centeredColumnContent"
                                          sortBy="#{issuetype.muni.muniName}"
                                          width="20%">
                                    <h:outputText value="#{issuetype.muni.muniName}"/>
                                </p:column>
                                
                                <p:column headerText="Name"
                                          styleClass="centeredColumnContent"
                                          sortBy="#{issuetype.name}"
                                          width="40%">
                                    <h:outputText value="#{issuetype.name}"/>
                                </p:column>
                                <p:column headerText="Active?"
                                          styleClass="centeredColumnContent"
                                          sortBy="#{issuetype.active}"
                                          width="10%">
                                    <h:outputText value="#{issuetype.active ? 'Yes':'No'}"/>
                                </p:column>

                                <p:column headerText="Actions"
                                          styleClass="centeredColumnContent"
                                          width="30%">
                                    <div class="restrict-main-contents-io-link">
                                        <p:commandLink ajax="true"
                                                       id="issuetype-viewissuetype"
                                                       style="#{issuetype.issueTypeID == cearIssueTypeManageBB.currentIssueType.issueTypeID ? 'background-color: #dee461; color:black;':''}"
                                                       styleClass="multiButtonLineButton"
                                                       actionListener="#{cearIssueTypeManageBB.onViewCEARIssueType(issuetype)}"
                                                       update="issuetype-addedit-form
                                                       issuetype-list-form
                                                       issuetype-growl-form"
                                                       >
                                            <h:outputText
                                                value="#{issuetype.issueTypeID == cearIssueTypeManageBB.currentIssueType.issueTypeID ? 'selected' : 'view'}"/>
                                        </p:commandLink>
                                        <p:spacer height="2px"/>
                                        <h:outputText value="(ID: #{issuetype.issueTypeID})"/>
                                    </div>

                                    <p:spacer height="2px"/>

                                    <div class="restrict-main-contents-io-link">

                                        <p:commandLink id="issuetype-nuke-button"
                                                       ajax="true"
                                                       rendered="#{issuetype.active}"
                                                       disabled="false"
                                                       title="deactivate"
                                                       actionListener="#{cearIssueTypeManageBB.onCEARIssueTypeDeacCommitButtonChange(issuetype)}"
                                                       update="@form"
                                                       >
                                            <h:outputText value="deactivate"/>
                                            <p:confirm type="popup" header="Confirmation" message="Do you want to delete this issue type?" icon="pi pi-info-circle"/>
                                        </p:commandLink>
                                    </div>
                                </p:column>
                            </p:dataTable>
                        </h:form>
                    </p:panel>
                </div>
                <div class="object-column">
                    <h:form id="issuetype-addedit-form">
                        <p:commandButton id="issuetype-edit-cb"
                                         icon="pi pi-#{cearIssueTypeManageBB.editModeIssueType ? 'save':'pencil'}"
                                         ajax="true"
                                         actionListener="#{cearIssueTypeManageBB.toggleIssueTypeAddEditButtonChange}"
                                         value="#{cearIssueTypeManageBB.editModeIssueType ? 'save edits' : 'edit'}"
                                         styleClass="inline-spaced-control-label"
                                         update="@form
                                         issuetype-growl-form
                                         issuetype-list-panel"/>
                        <div class="gray_button">
                            <p:commandButton id="issuetype-cancel-cb"
                                             ajax="true"
                                             value="Cancel"
                                             immediate="true"
                                             icon="pi pi-stop-circle"
                                             rendered="#{cearIssueTypeManageBB.editModeIssueType}"
                                             actionListener="#{cearIssueTypeManageBB.onOperationAddEditIssueTypeAbort}"
                                             update="@form"/>
                        </div>
                        <p:panel id="issuetype-view-panel"
                                 toggleable="true"
                                 collapsed="false"
                                 header="CEAR Issue type:  #{cearIssueTypeManageBB.currentIssueType.name}">
                            <div class="p-grid">
                                <div class="p-col-4 restrict-data-field-label-inline">
                                    <h:outputText value="ID:"/>
                                </div>
                                <div class="p-col-8 restrict-data-field-value-inline">
                                    <h:outputText value="#{cearIssueTypeManageBB.currentIssueType.issueTypeID}"
                                                  rendered="#{cearIssueTypeManageBB.currentIssueType.issueTypeID ne 0}"/>
                                    <h:outputText value="[new record]"
                                                  rendered="#{cearIssueTypeManageBB.currentIssueType.issueTypeID eq 0}"/>
                                </div>
                                <div class="p-col-4 restrict-data-field-label-inline">
                                    <h:outputText value="Name: "/>
                                </div>
                                <div class="p-col-8 restrict-data-field-value-inline">
                                    <h:outputText value="#{cearIssueTypeManageBB.currentIssueType.name}"
                                                  rendered="#{!cearIssueTypeManageBB.editModeIssueType}"/>

                                    <p:inputText id="issuetype-insert-name"
                                                 value="#{cearIssueTypeManageBB.currentIssueType.name}"
                                                 required="true"
                                                 rendered="#{cearIssueTypeManageBB.editModeIssueType}"
                                                 />
                                </div>
                                <div class="p-col-4 restrict-data-field-label-inline">
                                    <h:outputText value="Description:"/>
                                </div>
                                <div class="p-col-8 restrict-data-field-value-inline">
                                    <h:outputText
                                        value="#{cearIssueTypeManageBB.currentIssueType.description}"
                                        rendered="#{!cearIssueTypeManageBB.editModeIssueType}"/>

                                    <p:inputText id="issuetype-insert-description"
                                                 value="#{cearIssueTypeManageBB.currentIssueType.description}"
                                                 rendered="#{cearIssueTypeManageBB.editModeIssueType}"
                                                 />
                                </div>

                                <div class="p-col-4 restrict-data-field-label-inline">
                                    <h:outputText value="Municipality"/>
                                </div>
                                <div class="p-col-8 restrict-data-field-value-inline">
                                    <h:outputText
                                        value="#{cearIssueTypeManageBB.currentIssueType.muni.muniName}"
                                        rendered="#{!cearIssueTypeManageBB.editModeIssueType}"/>

                                    <p:selectOneMenu id="issuetype-muni-list"
                                                     value="#{cearIssueTypeManageBB.currentIssueType.muni}"
                                                     rendered="#{cearIssueTypeManageBB.editModeIssueType}"
                                                     required="true">
                                        <f:selectItem itemLabel="select Municipality..." noSelectionOption="true" />
                                        <f:converter converterId="muniConverter"/>
                                        <f:selectItems  id="muniList" 
                                                        value="#{systemServicesBB.muniListActiveOnly}" 
                                                        var="muni" 
                                                        itemValue="#{muni}" 
                                                        itemLabel="#{muni.muniName}"/>
                                    </p:selectOneMenu>
                                </div>
                                <div class="p-col-4 restrict-data-field-label-inline">
                                    <h:outputText value="Notes:"/>
                                </div>
                                <div class="p-col-8 restrict-data-field-value-inline">
                                    <h:outputText value="#{cearIssueTypeManageBB.currentIssueType.notes}"
                                                  rendered="#{!cearIssueTypeManageBB.editModeIssueType}"/>

                                    <p:inputText id="issuetype-insert-notes"
                                                 value="#{cearIssueTypeManageBB.currentIssueType.notes}"
                                                 rendered="#{cearIssueTypeManageBB.editModeIssueType}"
                                                 />
                                </div>
                            </div>
                        </p:panel>
                    </h:form>
                </div>
            </div>
        </div>
     
    </f:view>
</ui:composition>