<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns:tt="http://xmlns.jcp.org/jsf/composite/components">
    <f:view>
        <div class="mainContainer">
            <div class="title-container">
                <h1>Citation Status Log Status Manager</h1>
            </div>

            <h:form id="status-growl-form">
                <p:growl id="status-growl"
                         life="12000"
                         sticky="false"
                         keepAlive="true"
                         globalOnly="false"/>
            </h:form>

            <div class="two-column-page-flex-container">
                <div class="list-column">

                    <p:panel id="statustools-panel"
                             toggleable="true"
                             widgetVar="statustools-panel-var"
                             collapsed="false">
                        <f:facet name="header">
                            <h:outputText value="Citation status log status tools"/>
                        </f:facet>

                        <h:form id="causetools-form">
                            <div class="p-grid">
                                <div class="p-col-6">
                                    <p:commandButton id="status-create-init-button"
                                                     value="Add Citation status log status"
                                                     icon="pi pi-plus"
                                                     actionListener="#{citationStatusManageBB.onCitationStatusAddInit}"
                                                     update="status-addedit-form
                                                     status-list-form
                                                     @form"
                                                     />
                                </div>
                            </div>
                        </h:form>

                    </p:panel>

                    <p:panel id="status-list-panel"
                             widgetVar="status-panel-var"
                             toggleable="true"
                             collapsed="false">
                        <f:facet name="header">
                            <h:outputText value="Citation status log statuses (#{citationStatusManageBB.statusList.size()})"/>
                        </f:facet>


                        <h:form id="status-list-form">

                            <h:outputLabel value="show inactive?"
                                           for="status-showinactive-cbcb"
                                           styleClass="inline-spaced-control-label"/>
                            <p:selectBooleanCheckbox id="status-allmunis-cbcb"
                                                     value="#{citationStatusManageBB.showInactiveCitationStatuses}" >
                                <p:ajax update="status-list-panel
                                        status-addedit-form" 
                                        listener="#{citationStatusManageBB.onToggleShowInactive}"/>
                            </p:selectBooleanCheckbox>

                            <p:spacer height="3px" />

                            <p:dataTable id="statusTable"
                                         value="#{citationStatusManageBB.statusList}"
                                         rendered="#{!empty citationStatusManageBB.statusList}"
                                         var="status"
                                         tableStyleClass="primeDataTable">

                                <p:column headerText="Title"
                                          styleClass="centeredColumnContent"
                                          width="45%"
                                          sortBy="#{status.statusTitle}">
                                    <h:outputText value="#{status.statusTitle}"/>
                                </p:column>

                                <p:column headerText="Terminal status?"
                                          styleClass="centeredColumnContent #{status.terminalStatus ? 'citation-violation-status-terminal':'citation-violation-status-inprocess'}"
                                          width="15%"
                                          sortBy="#{status.terminalStatus}">
                                    <h:outputText value="#{status.terminalStatus ? 'Yes':'No'}"/>
                                </p:column>

                                <p:column headerText="Display order"
                                          styleClass="centeredColumnContent"
                                          width="15%"
                                          sortBy="#{status.displayOrder}">
                                    <h:outputText value="#{status.displayOrder}"/>
                                </p:column>

                                <p:column headerText="Actions"
                                          styleClass="centeredColumnContent">
                                    <div class="restrict-main-contents-io-link">
                                        <p:commandLink ajax="true"
                                                       id="status-viewstatus-cl"
                                                       style="#{status.statusID == citationStatusManageBB.currentCitationStatus.statusID ? 'background-color: #dee461; color:black;':''}"
                                                       styleClass="multiButtonLineButton"
                                                       actionListener="#{citationStatusManageBB.onViewCitationStatus(status)}"
                                                       update="status-addedit-form
                                                       status-list-form
                                                       status-growl-form"
                                                       >
                                            <h:outputText
                                                value="#{status.statusID == citationStatusManageBB.currentCitationStatus.statusID ? 'selected' : 'view'}"/>
                                        </p:commandLink>
                                        <p:spacer height="2px"/>
                                        <h:outputText value="(ID: #{status.statusID})"/>
                                    </div>

                                    <p:spacer height="2px"/>

                                    <div class="restrict-main-contents-io-link">

                                        <p:commandLink id="status-nuke-button"
                                                       ajax="true"
                                                       rendered="#{status.deactivatedTS == null}"
                                                       disabled="false"
                                                       title="deactivate status"
                                                       actionListener="#{citationStatusManageBB.onStatusDeacCommitButtonChange(status)}"
                                                       update="@form
                                                       status-addedit-form"
                                                       >
                                            <h:outputText value="deactivate"/>
                                            <p:confirm type="popup" header="Confirmation" message="Do you want to deactivate this citation status log status?" icon="pi pi-info-circle"/>
                                        </p:commandLink>

                                    </div>

                                </p:column>

                            </p:dataTable>
                        </h:form>
                    </p:panel>
                </div>
                <div class="object-column">
                    <h:form id="status-addedit-form">
                        <p:commandButton id="status-edit-cb"
                                         icon="pi pi-#{citationStatusManageBB.editModeCitationStatus ? 'save':'pencil'}"
                                         ajax="true"
                                         actionListener="#{citationStatusManageBB.toggleStatusAddEditButtonChange}"
                                         value="#{citationStatusManageBB.editModeCitationStatus ? 'save edits' : 'edit'}"
                                         styleClass="inline-spaced-control-label"
                                         update="@form
                                         status-growl-form
                                         status-list-panel"/>
                        <div class="gray_button">
                            <p:commandButton id="status-cancel-cb"
                                             ajax="true"
                                             value="Cancel"
                                             immediate="true"
                                             icon="pi pi-stop-circle"
                                             rendered="#{citationStatusManageBB.editModeCitationStatus}"
                                             actionListener="#{citationStatusManageBB.onOperationOccCauseAddEditAbort}"
                                             update="@form"/>
                        </div>
                        <p:panel id="status-view-panel"
                                 toggleable="true"
                                 collapsed="false"
                                 rendered="true"
                                 header="Citation Violation Status: #{citationStatusManageBB.currentCitationStatus.statusTitle}">
                            <div class="p-grid">
                                <div class="p-col-4 restrict-data-field-label-inline">
                                    <h:outputText value="ID:"/>
                                </div>
                                <div class="p-col-8 restrict-data-field-value-inline">
                                    <h:outputText value="#{citationStatusManageBB.currentCitationStatus.statusID}"
                                                  rendered="#{citationStatusManageBB.currentCitationStatus.statusID ne 0}"/>
                                    <h:outputText value="[new record]"
                                                  rendered="#{citationStatusManageBB.currentCitationStatus.statusID eq 0}"/>
                                </div>
                                <div class="p-col-4 restrict-data-field-label-inline">
                                    <h:outputText value="Title:"/>
                                </div>
                                <div class="p-col-8 restrict-data-field-value-inline">
                                    <h:outputText value="#{citationStatusManageBB.currentCitationStatus.statusTitle}"
                                                  rendered="#{!citationStatusManageBB.editModeCitationStatus}"/>

                                    <p:inputText id="status-insert-title"
                                                 value="#{citationStatusManageBB.currentCitationStatus.statusTitle}"
                                                 required="true"
                                                 rendered="#{citationStatusManageBB.editModeCitationStatus}"
                                                 />
                                </div>
                                <div class="p-col-4 restrict-data-field-label-inline">
                                    <h:outputText value="Description:"/>
                                </div>
                                <div class="p-col-8 restrict-data-field-value-inline">
                                    <h:outputText
                                        value="#{citationStatusManageBB.currentCitationStatus.description}"
                                        rendered="#{!citationStatusManageBB.editModeCitationStatus}"/>

                                    <p:inputText id="status-insert-description"
                                                 value="#{citationStatusManageBB.currentCitationStatus.description}"
                                                 rendered="#{citationStatusManageBB.editModeCitationStatus}"
                                                 />
                                </div>


                                <div class="p-col-4 restrict-data-field-label-inline">
                                    <h:outputText value="Display order"/>
                                </div>
                                <div class="p-col-8 restrict-data-field-value-inline">
                                    <h:outputText value="#{citationStatusManageBB.currentCitationStatus.displayOrder}"
                                                  rendered="#{!citationStatusManageBB.editModeCitationStatus}"/>

                                    <p:inputNumber id="status-displayorder-innum"
                                                   value="#{citationStatusManageBB.currentCitationStatus.displayOrder}"
                                                   rendered="#{citationStatusManageBB.editModeCitationStatus}"
                                                   />
                                </div>
                                <div class="p-col-4 restrict-data-field-label-inline">
                                    <h:outputText value="Terminal status?"/>

                                    <p:commandButton id="terminalstatus-help-button"
                                                     icon="pi pi-question-circle"
                                                     styleClass="button-help"
                                                     type="button" />

                                    <p:overlayPanel for="terminalstatus-help-button"
                                                    style="width:350px;" 
                                                    dismissable="true"
                                                    showCloseIcon="true">
                                        <h3>Terminal status</h3>
                                        <p>Terminal status on a status log entry indicates to codeNforce that the parent citation is now done moving through the court system--except for appeals.
                                      The beginning of the appeal process should be marked by a log entry whose status is NOT TERMINAL. The final decision on appeal should then be marked
                                        by a TERMINAL log entry, effectively "re-closing:" the citation.</p>
                                    </p:overlayPanel>
                                </div>
                                <div class="p-col-8 restrict-data-field-value-inline">
                                    <h:outputText value="#{citationStatusManageBB.currentCitationStatus.terminalStatus ? 'Yes, terminal':'No, in-process'}"
                                                  rendered="#{!citationStatusManageBB.editModeCitationStatus}"/>

                                    <p:selectBooleanCheckbox id="status-terminalstatus-sbcb"
                                                             value="#{citationStatusManageBB.currentCitationStatus.terminalStatus}"
                                                             rendered="#{citationStatusManageBB.editModeCitationStatus}"
                                                             />
                                </div>
                                <div class="p-col-4 restrict-data-field-label-inline">
                                    <h:outputText value="Appellate status?"/>

                                    <p:commandButton id="appellate-help-button"
                                                     icon="pi pi-question-circle"
                                                     styleClass="button-help"
                                                     type="button" />

                                    <p:overlayPanel for="appellate-help-button"
                                                    style="width:350px;" 
                                                    dismissable="true"
                                                    showCloseIcon="true">
                                        <h3>Appellate status</h3>
                                        <p> Used to denote any status event that occurs during an appeal process. 
                                            Each appellate level should have both the iZn-process (non-terminal) status
                                            logs as well as terminal statuses mapped to each possible hearing disposition at the appellate level.</p>
                                    </p:overlayPanel>
                                </div>
                                <div class="p-col-8 restrict-data-field-value-inline">
                                    <h:outputText value="#{citationStatusManageBB.currentCitationStatus.appellate? 'Yes, appeallate':'No, district level'}"
                                                  rendered="#{!citationStatusManageBB.editModeCitationStatus}"/>

                                    <p:selectBooleanCheckbox id="status-appellate-sbcb"
                                                             value="#{citationStatusManageBB.currentCitationStatus.appellate}"
                                                             rendered="#{citationStatusManageBB.editModeCitationStatus}"
                                                             />
                                </div>

                                <div class="p-col-4 restrict-data-field-label-inline">
                                    <h:outputText value="Citation-Violation status batch update proposal"/>
                                      <p:commandButton id="cvbatch-help-button"
                                                     icon="pi pi-question-circle"
                                                     styleClass="button-help"
                                                     type="button" />

                                    <p:overlayPanel for="cvbatch-help-button"
                                                    style="width:350px;" 
                                                    dismissable="true"
                                                    showCloseIcon="true">
                                        <h3>Batch update proposal</h3>
                                        <p>These status log entries are attached to the parent citation. Citations as parents have code violations in their bellies--each of which
                                        has their own status (e.g. dismissed, continued, guilty). By selecting a value in this batch proposal field system admins can trigger codeNforce to
                                        prompt the user to update all non-terminally marked cited violations with the selected status. This prompt occurs at the time a status log 
                                        is added of this variety.</p>
                                        
                                        <p>If this field is left blank, users who attach a log entry with this status will not be prompted to automatically batch update cited violations.</p>
                                    </p:overlayPanel>
                                </div>
                                <div class="p-col-8 restrict-data-field-value-inline">
                                    <h:outputText value="#{citationStatusManageBB.currentCitationStatus.batchApplyCitationViolationStatus.label}"
                                                  rendered="#{!citationStatusManageBB.editModeCitationStatus and not empty citationStatusManageBB.currentCitationStatus.batchApplyCitationViolationStatus}"/>

                                    <p:selectOneMenu id="citation-violation-status-som"
                                                     value="#{citationStatusManageBB.currentCitationStatus.batchApplyCitationViolationStatus}" 
                                                     rendered="#{citationStatusManageBB.editModeCitationStatus}">
                                        <f:selectItem itemLabel="no citation violation status batch proposal" noSelectionOption="true" itemDisabled="false" />
                                        <f:selectItems value="#{citationStatusManageBB.citationViolationStatusList}"
                                                       var="cvs"
                                                       itemValue="#{cvs}"
                                                       itemLabel="#{cvs.label} (#{cvs.terminalStatus ? 'Terminal status':'In-process status'})" />
                                    </p:selectOneMenu>
                                </div>
                                <div class="p-col-4 restrict-data-field-label-inline">
                                    <h:outputText value="Icon"/>
                                </div>
                                <div class="p-col-8 restrict-data-field-value-inline">
                                    <h:panelGroup rendered="#{not citationStatusManageBB.editModeCitationStatus and not empty citationStatusManageBB.currentCitationStatus.icon}">
                                        <i class="material-icons">
                                            <h:outputText value="#{citationStatusManageBB.currentCitationStatus.icon.materialIcon}" />
                                        </i>
                                    </h:panelGroup>

                                    <tt:iconSelector value="#{citationStatusManageBB.currentCitationStatus.icon}"
                                                     iconList="#{systemServicesBB.iconList}"
                                                     rendered="#{citationStatusManageBB.editModeCitationStatus}"
                                                     required="true"/>
                                </div>
                                <div class="p-col-4 restrict-data-field-label-inline">
                                    <h:outputText value="Record status"/>
                                </div>
                                <div class="p-col-8 restrict-data-field-value-inline">
                                    <h:outputText value="#{empty citationStatusManageBB.currentCitationStatus.deactivatedTS ? 'Active record':'Deactivated record'}"
                                                  rendered="#{!citationStatusManageBB.editModeCitationStatus}"/>

                                </div>
                            </div>
                        </p:panel>
                    </h:form>
                </div>
            </div>
        </div>

    </f:view>
</ui:composition>