<?xml version="1.0" encoding="UTF-8"?>
<!--
Copyright (C) 2018 Adam Gutonski

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <link rel="stylesheet" type="text/css" href="css/style.css"></link>
        <title>Icon Configuration</title>
    </h:head>
    <h:body>
        <ui:composition template="/restricted/navContainer_restricted.xhtml">
            <ui:define name="content">
                <f:view>
                    <div class="mainContainer">
                        <div class="title-container">
                            <h1>Icon Configuration Tool</h1>
                        </div>

                        <h:form id="icon-growl-form">
                            <p:growl id="icon-growl"
                                     life="12000"
                                     sticky="false"
                                     keepAlive="true"
                                     globalOnly="false"/>
                        </h:form>

                        <div class="two-column-page-flex-container">
                            <div class="list-column">

                                <p:panel id="icontools-panel"
                                         toggleable="true"
                                         widgetVar="icontools-panel-var"
                                         collapsed="false">
                                    <f:facet name="header">
                                        <h:outputText value="Icon Tools"/>
                                    </f:facet>

                                    <h:form id="icontools-form">
                                        <div class="p-grid">
                                            <div class="p-col-6">
                                                <p:commandButton id="icon-create-init-button"
                                                                 value="Add Icon"
                                                                 icon="pi pi-plus"
                                                                 actionListener="#{iconBB.onIconAddInit}"
                                                                 update="icon-addedit-form
                                                                 icon-list-form
                                                                 @form"
                                                                 />
                                            </div>
                                        </div>
                                    </h:form>

                                </p:panel>

                                <p:panel id="icon-list-panel"
                                         widgetVar="icon-panel-var"
                                         toggleable="true"
                                         collapsed="false">
                                    <f:facet name="header">
                                        <h:outputText value="Icons (#{iconBB.iconList.size()})"/>
                                    </f:facet>


                                    <h:form id="icon-list-form">

                                        <p:dataTable id="iconTable"
                                                     value="#{iconBB.iconList}"
                                                     rendered="#{!empty iconBB.iconList}"
                                                     var="icon"
                                                     tableStyleClass="primeDataTable">

                                            <p:column width="10%" headerText="Icon"
                                                      styleClass="centeredColumnContent">
                                                <i class="material-icons">
                                                    <h:outputText value="#{icon.materialIcon}"
                                                                  rendered="#{!empty icon.materialIcon}"/>
                                                </i>
                                            </p:column>

                                            <p:column headerText="Name"
                                                      styleClass="centeredColumnContent">
                                                <h:outputText value="#{icon.name}"/>
                                            </p:column>

                                            <p:column headerText="Actions"
                                                      styleClass="centeredColumnContent">
                                                <div class="restrict-main-contents-io-link">
                                                    <p:commandLink ajax="true"
                                                                   id="icon-viewicon"
                                                                   style="#{icon.ID == iconBB.currentIcon.ID ? 'background-color: #dee461; color:black;':''}"
                                                                   styleClass="multiButtonLineButton"
                                                                   actionListener="#{iconBB.viewIcon(icon)}"
                                                                   update="icon-addedit-form
                                                                   icon-list-form
                                                                   icon-growl-form"
                                                                   >
                                                        <h:outputText
                                                            value="#{icon.ID == iconBB.currentIcon.ID ? 'selected' : 'view'}"/>
                                                    </p:commandLink>
                                                    <p:spacer height="2px"/>
                                                    <h:outputText value="(ID: #{icon.ID})"/>
                                                </div>

                                                <p:spacer height="2px"/>

                                                <div class="restrict-main-contents-io-link">

                                                    <p:commandLink id="icon-nuke-button"
                                                                   ajax="true"
                                                                   rendered="#{icon.deactivatedts == null}"
                                                                   disabled="false"
                                                                   title="Deactivate"
                                                                   actionListener="#{iconBB.onIconNukeInitButtonChange(icon)}"
                                                                   oncomplete="PF('icon-nuke-dialog-var').show()"
                                                                   update="icon-nuke-dialog
                                                                   icon-nuke-form">
                                                        <h:outputText value="deactivate"/>
                                                    </p:commandLink>

                                                </div>

                                            </p:column>

                                        </p:dataTable>
                                    </h:form>
                                </p:panel>
                            </div>
                            <div class="object-column">
                                <h:form id="icon-addedit-form">
                                    <p:commandButton id="icon-edit-cb"
                                                     icon="pi pi-#{iconBB.editModeIconInfo ? 'save':'pencil'}"
                                                     ajax="true"
                                                     value="#{iconBB.editModeIconInfo ? 'save edits' : 'edit'}"
                                                     actionListener="#{iconBB.toggleIconAddEditButtonChange}"
                                                     styleClass="inline-spaced-control-label"
                                                     update="@form
                                                     icon-growl-form
                                                     icon-list-panel"/>
                                    <div class="gray_button">
                                        <p:commandButton id="icon-cancel-cb"
                                                         ajax="true"
                                                         value="Cancel"
                                                         immediate="true"
                                                         icon="pi pi-stop-circle"
                                                         rendered="#{iconBB.editModeIconInfo}"
                                                         actionListener="#{iconBB.onOperationIconAddEditAbort}"
                                                         update="@form"/>
                                    </div>
                                    <p:panel id="icon-view-panel"
                                             toggleable="true"
                                             collapsed="false"
                                             header="Icon: #{iconBB.currentIcon.name}">
                                        <div class="p-grid">
                                            <div class="p-col-4 restrict-data-field-label-inline">
                                                <h:outputText value="ID:"/>
                                            </div>
                                            <div class="p-col-8 restrict-data-field-value-inline">
                                                <h:outputText value="#{iconBB.currentIcon.ID}"
                                                              rendered="#{iconBB.currentIcon.ID ne 0}"/>
                                                <h:outputText value="[new record]"
                                                              rendered="#{iconBB.currentIcon.ID eq 0}"/>
                                            </div>
                                            <div class="p-col-4 restrict-data-field-label-inline">
                                                <h:outputText value="Name:"/>
                                            </div>
                                            <div class="p-col-8 restrict-data-field-value-inline">
                                                <h:outputText value="#{iconBB.currentIcon.name}"
                                                              rendered="#{!iconBB.editModeIconInfo}"/>

                                                <p:inputText id="icon-insert-name"
                                                             value="#{iconBB.currentIcon.name}"
                                                             required="true"
                                                             rendered="#{iconBB.editModeIconInfo}"
                                                             />
                                            </div>
                                            <div class="p-col-4 restrict-data-field-label-inline">
                                                <h:outputText value="CSS Style class"/>

                                                <p:commandButton id="css-help-button"
                                                                 icon="pi pi-question-circle"
                                                                 styleClass="button-help"
                                                                 type="button" />

                                                <p:overlayPanel for="css-help-button"
                                                                style="width:350px;" 
                                                                dismissable="true"
                                                                showCloseIcon="true"
                                                                modal="trye">
                                                    <h3>CSS style classes</h3>
                                                    <p>For icons used in inspection determinations, these style classes map to the following colors. To use these
                                                        colors, copy and paste the <span class="bold">bold text</span> below into the form field. Do not copy the : [color name] part.</p>
                                                    <ul>
                                                        <li><span class="bold">inspection-pass</span> : darker green</li>
                                                        <li><span class="bold">inspection-fail</span> : darker red</li>
                                                        <li><span class="bold">inspection-documentation</span> : darker blue</li>
                                                    </ul>
                                                </p:overlayPanel>
                                            </div>
                                            <div class="p-col-8 restrict-data-field-value-inline">
                                                <h:outputText value="#{iconBB.currentIcon.styleClass}"
                                                              rendered="#{!iconBB.editModeIconInfo}"/>

                                                <p:inputText id="icon-insert-cssclass"
                                                             value="#{iconBB.currentIcon.styleClass}"
                                                             required="true"
                                                             rendered="#{iconBB.editModeIconInfo}"
                                                             />
                                            </div>
                                            <div class="p-col-4 restrict-data-field-label-inline">
                                                <h:outputText value="Material Icon:"/>
                                            </div>
                                            <div class="p-col-8 restrict-data-field-value-inline">
                                                <h:outputText value="#{iconBB.currentIcon.materialIcon}"
                                                              rendered="#{!iconBB.editModeIconInfo}"/>
                                                <div class="ui-inputgroup">
                                                    <p:inputText  id="icon-insert-materialicon"
                                                                  value="#{iconBB.currentIcon.materialIcon}"
                                                                  required="true"
                                                                  rendered="#{iconBB.editModeIconInfo}"
                                                                  >
                                                        <p:ajax event="keyup" update="matIconImage"/>
                                                    </p:inputText>
                                                    <p:commandButton value="Help?" rendered="#{iconBB.editModeIconInfo}" oncomplete="PF('help_materialicon_dialog-var').show()"/>
                                                </div>
                                            </div>
                                            <div class="p-col-4 restrict-data-field-label-inline">
                                                <h:outputText value="Icon"/>
                                            </div>
                                            <div class="p-col-8 restrict-data-field-value-inline">
                                                <i class="material-icons">
                                                    <h:outputText id="matIconImage" value="#{iconBB.currentIcon.materialIcon}"/>
                                                </i>
                                            </div>

                                        </div>

                                    </p:panel>
                                </h:form>
                            </div>
                        </div>
                    </div>

                    <p:dialog id="icon-nuke-dialog"
                              widgetVar="icon-nuke-dialog-var"
                              header="Nuke Icon"
                              closeOnEscape="true"
                              closable="true"
                              resizable="true"
                              responsive="true"
                              height="300" width="550"
                              rendered="true"
                              >

                        <h:form id="icon-nuke-form">

                            <div class="ui-g data_container_nested_restrict">
                                <div class="ui-g-12 ui-md-6 ui-lg-6 restrict-data-field">
                                    <div class="restrict-data-field-label-inline">
                                        <h:outputLabel>
                                            <h:outputText
                                                value="Nuked Icons can only be rescued by sys admins...and they will grumble while doing so."/>
                                        </h:outputLabel>
                                    </div>
                                </div>
                                <div class="ui-g-12 ui-md-6 ui-lg-6 restrict-data-field">
                                    <div class="restrict-main-contents-io-button red_button">
                                        <p:commandButton id="icon-nuke-confirm-button"
                                                         ajax="true"
                                                         action="#{iconBB.commitRemove()}"
                                                         value="Nuke Icon"
                                                         icon="pi pi-trash"
                                                         oncomplete="PF('icon-nuke-dialog-var').hide();"
                                                         update="icon-list-panel
                                                         icon-addedit-form
                                                         icon-growl-form"
                                                         rendered="true"
                                                         />
                                    </div>
                                </div>
                            </div>

                        </h:form>

                    </p:dialog>

                    <p:dialog id="help_materialicon_dialog"
                              widgetVar="help_materialicon_dialog-var"
                              header="Find the name of material icon"
                              closeOnEscape="true"
                              closable="true"
                              resizable="true"
                              responsive="true"
                              rendered="true"
                              width="70%"
                              height="50%"
                              modal="true"
                              >

                        <h:form id="help_materialicon-form">
                            <div class="col-12 md:col-4" style="font-size: 20px">
                                <p:staticMessage severity="info" summary="INFO" detail="If you want to find icon name, please refer below image" style="width: 100%"/>
                                <p:commandLink>
                                    <a href="https://fonts.google.com/icons" target="_blank" style="color: blue; font-size: 18px">Click here to find icons</a>
                                </p:commandLink>
                            </div>
                            <hr/>
                            <div style="max-width: 100%; max-height: 100%;">
                                <h:graphicImage value="/images/materialIconPage.jpg" style="max-width: 100%; max-height: 100%;"/>
                            </div>
                        </h:form>

                    </p:dialog>

                </f:view>
            </ui:define>
        </ui:composition>
    </h:body>
</html>