<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns:tt="http://xmlns.jcp.org/jsf/composite/components">
    <f:view>
        <div class="mainContainer">
            <div class="title-container">
                <h1>Intensity/Severity COnfiguration Tool</h1>
            </div>

            <h:form id="oid-growl-form">
                <p:growl id="oid-growl"
                         life="12000"
                         sticky="false"
                         keepAlive="true"
                         globalOnly="false"/>
            </h:form>

            <div class="two-column-page-flex-container">
                <div class="list-column">

                    <p:panel id="oidtools-panel"
                             toggleable="true"
                             widgetVar="oidtools-panel-var"
                             collapsed="false">
                        <f:facet name="header">
                            <h:outputText value="Intensity/Severity Tools"/>
                        </f:facet>

                        <h:form id="oidtools-form">
                            <p:commandButton id="oid-create-init-button"
                                             value="Add new intensity class"
                                             icon="pi pi-plus"
                                             actionListener="#{intensityBB.onCreateIntensityClassInit}"
                                             style="white-space: nowrap"
                                             update="intensity-viewedit-form
                                             intensity-list-form
                                             @form"
                                             />
                        </h:form>

                    </p:panel>

                    <p:panel id="intensity-list-panel"
                             widgetVar="oid-panel-var"
                             toggleable="true"
                             collapsed="false">
                        <f:facet name="header">
                            <h:outputText value="Intensity classes (#{intensityBB.intensityClassList.size()})"/>
                        </f:facet>

                        <h:form id="intensity-list-form">

                            <p:dataTable id="oidTable"
                                         value="#{intensityBB.intensityClassList}"
                                         var="intc"
                                         tableStyleClass="primeDataTable">

                                <p:column headerText="Schema"
                                          styleClass="centeredColumnContent"
                                          sortBy="#{intc.schema.label}">
                                    <h:outputText value="#{intc.schema.label}"/>
                                </p:column>

                                <p:column headerText="Intensity"
                                          styleClass="centeredColumnContent"
                                          sortBy="#{intc.title}"
                                          width="15%">
                                    <h:outputText value="#{intc.title}"/>
                                </p:column>

                                <p:column headerText="Muni"
                                          styleClass="centeredColumnContent"
                                          sortBy="#{intc.muni.muniName}"
                                          width="15%">
                                    <h:outputText value="#{intc.muni.muniName}"/>
                                </p:column>

                                <p:column headerText="Actions"
                                          styleClass="centeredColumnContent"
                                          width="20%">
                                    <div class="restrict-main-contents-io-link">
                                        <p:commandLink id="intensity-viewoid"
                                                       ajax="true"
                                                       style="font-weight: bold; color: blue; #{intc.classID == intensityBB.selectedIntensityClass.classID ? 'background-color: #dee461; color:black;':''}"
                                                       actionListener="#{intensityBB.onViewEditIntensityClass(intc)}"
                                                       update="@form
                                                       intensity-viewedit-form" 
                                                       value="view/edit" >
                                        </p:commandLink>
                                        <p:spacer height="2px"/>
                                        <h:outputText value="(ID: #{intc.classID})"/>
                                    </div>
                                </p:column>
                            </p:dataTable>
                        </h:form>
                    </p:panel>
                </div>
                <div class="object-column">
                    <h:form id="intensity-viewedit-form">
                        <p:commandButton id="intensity-edit-cb"
                                         icon="pi pi-#{intensityBB.editModeCurrentIntensityClass ? 'save':'pencil'}"
                                         ajax="true"
                                         actionListener="#{intensityBB.toggleIntensityClassEdit}"
                                         value="#{intensityBB.editModeCurrentIntensityClass ? 'save edits' : 'edit'}"
                                         styleClass="inline-spaced-control-label"
                                         update="@form
                                         intensity-list-panel
                                         intensity-list-form
                                         oid-growl-form"/>
                        <div class="gray_button">
                            <p:commandButton id="intensity-cancel-cb"
                                             ajax="true"
                                             value="Cancel"
                                             immediate="true"
                                             icon="pi pi-stop-circle"
                                             rendered="#{intensityBB.editModeCurrentIntensityClass}"
                                             actionListener="#{intensityBB.onAbortIntensityClassEdit}"
                                             update="@form"/>
                        </div>

                        <p:spacer height="3px" />

                        <p:panel id="intensity-view-panel"
                                 toggleable="true"
                                 collapsed="false"
                                 header="View/edit Intensity class">
                            <div class="p-grid">
                                <div class="p-col-4 restrict-data-field-label-inline">
                                    <h:outputText value="ID:"/>
                                </div>
                                <div class="p-col-8 restrict-data-field-value-inline">
                                    <h:outputText value="#{intensityBB.selectedIntensityClass.classID}"
                                                  rendered="#{intensityBB.selectedIntensityClass.classID ne 0}" />
                                    <h:outputText value="[new record]"
                                                  rendered="#{intensityBB.selectedIntensityClass.classID eq 0}" />
                                </div>

                                <div class="p-col-4 restrict-data-field-label-inline">
                                    <h:outputText value="Schema"/>
                                </div>
                                <div class="p-col-8 restrict-data-field-value-inline">
                                    <h:outputText
                                        value="#{intensityBB.selectedIntensityClass.schema.label}"
                                        rendered="#{not intensityBB.editModeCurrentIntensityClass}"/>

                                    <p:selectOneMenu id="intensitySchemaMenu" 
                                                     value="#{intensityBB.selectedIntensityClass.schema}" 
                                                     required="true"
                                                     rendered="#{intensityBB.editModeCurrentIntensityClass}">
                                        <f:converter  converterId="intensitySchemaConverter" />
                                        <f:selectItem itemLabel="Select a schema..." 
                                                      itemDisabled="true"
                                                      noSelectionOption="true"/>

                                        <f:selectItems id="schemalist" 
                                                       value="#{intensityBB.schemaList}" 
                                                       var="isc" 
                                                       itemValue="#{isc}" 
                                                       itemLabel="#{isc.label}"/>
                                    </p:selectOneMenu>
                                </div>

                                <div class="p-col-4 restrict-data-field-label-inline">
                                    <h:outputText value="Title"/>
                                </div>
                                <div class="p-col-8 restrict-data-field-value-inline">
                                    <h:outputText
                                        value="#{intensityBB.selectedIntensityClass.title}"
                                        rendered="#{not intensityBB.editModeCurrentIntensityClass}"/>

                                    <p:inputText id="oid-insert-description"
                                                 value="#{intensityBB.selectedIntensityClass.title}"
                                                 rendered="#{intensityBB.editModeCurrentIntensityClass}"
                                                 />
                                </div>

                                <div class="p-col-4 restrict-data-field-label-inline">
                                    <h:outputText value="Municipality"/>
                                </div>
                                <div class="p-col-8 restrict-data-field-value-inline">
                                    <h:outputText
                                        value="#{intensityBB.selectedIntensityClass.muni.muniName}"
                                        rendered="#{not intensityBB.editModeCurrentIntensityClass}"/>

                                    <p:selectOneMenu id="intensity-muni-list"
                                                     value="#{intensityBB.selectedIntensityClass.muni}"
                                                     rendered="#{intensityBB.editModeCurrentIntensityClass}"
                                                     required="true">
                                        <f:selectItem itemLabel="select Municipality..." 
                                                      noSelectionOption="true" 
                                                      itemDisabled="true"/>
                                        <f:converter converterId="muniConverter"/>
                                        <f:selectItems  id="muniList" 
                                                        value="#{systemServicesBB.muniListActiveOnly}" 
                                                        var="muni" 
                                                        itemValue="#{muni}" 
                                                        itemLabel="#{muni.muniName}"/>
                                    </p:selectOneMenu>
                                </div>
                                <div class="p-col-4 restrict-data-field-label-inline">
                                    <h:outputText value="Order/Rating value"/>
                                </div>
                                <div class="p-col-8 restrict-data-field-value-inline">
                                    <h:outputText id="intensity-link-priority-ot"
                                                  value="#{intensityBB.selectedIntensityClass.numericRating}"
                                                  rendered="#{not intensityBB.editModeCurrentIntensityClass}"
                                                  />

                                    <p:inputNumber value="#{intensityBB.selectedIntensityClass.numericRating}"
                                                   rendered="#{intensityBB.editModeCurrentIntensityClass}"
                                                   decimalPlaces="0"
                                                   minValue="0"
                                                   maxValue="100" 
                                                   required="true"/>

                                </div>
                                <div class="p-col-4 restrict-data-field-label-inline">
                                    <h:outputText value="Icon"/>
                                </div>
                                <div class="p-col-8 restrict-data-field-value-inline">
                                      <i class="material-icons">
                                        
                                            <h:outputText value="#{intensityBB.selectedIntensityClass.icon.materialIcon}"
                                                          rendered="#{not intensityBB.editModeCurrentIntensityClass}" />
                                    </i>

                                    <tt:iconSelector value="#{intensityBB.selectedIntensityClass.icon}"
                                                     iconList="#{intensityBB.iconList}"
                                                     rendered="#{intensityBB.editModeCurrentIntensityClass}"
                                                     required="false"/>
                                </div>


                                <div class="p-col-4 restrict-data-field-label-inline">
                                    <h:outputText value="Last updated"/>
                                </div>
                                <div class="p-col-8 restrict-data-field-value-inline">
                                    <h:outputText id="intensity-lastupdated-ot"
                                                  value="#{intensityBB.getPrettyDate(intensityBB.selectedIntensityClass.lastUpdatedTS)}"
                                                  rendered="#{not intensityBB.editModeCurrentIntensityClass and not empty intensityBB.selectedIntensityClass.lastUpdatedTS}"
                                                  />


                                </div>
                                <div class="p-col-4 restrict-data-field-label-inline">
                                    <h:outputText value="Active"/>
                                </div>
                                <div class="p-col-8 restrict-data-field-value-inline">
                                    <h:outputText id="intensity-active-ot"
                                                  value="#{intensityBB.selectedIntensityClass.active ? 'Yes':'No'}"
                                                  rendered="#{not intensityBB.editModeCurrentIntensityClass}"
                                                  />

                                    <p:selectBooleanCheckbox id="intensity-active-sbcb"
                                                             value="#{intensityBB.selectedIntensityClass.active}" 
                                                             rendered="#{intensityBB.editModeCurrentIntensityClass}"/>

                                </div>
                            </div>
                        </p:panel>
                    </h:form>
                </div>
            </div>
        </div>
    </f:view>
</ui:composition>
