<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    <h:head>
        <link rel="stylesheet" type="text/css" href="css/style.css"></link>
        <title>Utility Manager</title>
    </h:head>
    <h:body>
        <ui:composition template="/restricted/navContainer_restricted.xhtml">
            <ui:define name="content">
                <div class="mainContainer">
                    <h:form id="manage-messages-form">
                        <p:growl id="growl" showDetail="true"/>
                    </h:form>
                    <h:outputText value="Utility Manager"/>
                    <f:view>
                        <h:form id="manage-form">
                            <div class="p-grid">
                                <div class="p-col-2">
                                    <p:selectOneMenu id="advanced" value="#{manageBB.currentSchema}"
                                                     panelStyle="width:180px" var="m" converter="mSchemaEnumConverter"
                                                     onchange="#{manageBB.refreshMList()}">

                                        <f:selectItems value="#{manageBB.enumList}" var="schemaEnum"
                                                       itemLabel="#{schemaEnum.TARGET_OBJECT_FRIENDLY_NAME}" 
                                                       itemValue="#{currentSchema}"/>

                                            <p:column style="width:10%">
                                                <h:outputText value="#{m.TARGET_OBJECT_FRIENDLY_NAME}"/>
                                            </p:column>

                                    </p:selectOneMenu>
                                </div>
                                <div class="p-col-2">
                                    <p:commandButton ajax="true" value="Refresh" 
                                                     icon="pi pi-plus" 
                                                     actionListener="#{manageBB.refreshMList()}"
                                                     rendered="#{systemServicesBB.bbSessionUser.keyCard.hasSysAdminPermissions}"
                                                     update="m-table"/>




                                    <p:commandButton ajax="true" value="Add New #{manageBB.currentSchema.TARGET_OBJECT_FRIENDLY_NAME}" 
                                                     icon="pi pi-plus" 
                                                     actionListener="#{manageBB.createNew()}"
                                                     oncomplete="PF('addupdate-dialog').show()"
                                                     rendered="#{systemServicesBB.bbSessionUser.keyCard.hasSysAdminPermissions}"
                                                     update="add-update-form"/>
                                </div>
                                <div class="p-col-2">
                                    <p:outputLabel value="Show deactivated"/>
                                    <p:toggleSwitch value="#{manageBB.showDeactivated}">
                                        <p:ajax listener="#{manageBB.onShowDeactivatedToggle()}" update="m-table"/>
                                    </p:toggleSwitch>
                                </div>
                            </div>
                            <p:spacer height="15px"/>

                            <p:dataTable
                                id="m-table"
                                value="#{manageBB.mList}"
                                rendered="#{!empty manageBB.mList}"
                                var="manageable"
                                rowKey="#{manageable.ID}"
                                tableStyleClass="primeDataTable">
                                <p:column width="5%">
                                    <f:facet name="header">
                                        <h:outputText value="ID" />
                                    </f:facet>
                                    <h:outputText value="#{manageable.ID}"/>
                                </p:column>

                                <p:column width="8%">
                                    <p:commandButton ajax="true"
                                                     id="update-cb" value="edit"
                                                     styleClass="multiButtonLineButton" 
                                                     actionListener="#{manageBB.edit(manageable)}"
                                                     oncomplete="PF('addupdate-dialog').show()"
                                                     update="add-update-form" />
                                </p:column>

                                <p:column>
                                    <f:facet name="header">
                                        <h:outputText value="Name" />
                                    </f:facet>
                                    <h:outputText value="#{manageable.name}"/>
                                </p:column>

                                <c:if test="#{manageBB.showDeactivated}">
                                    <p:column>
                                        <f:facet name="header">
                                            <h:outputText value="Deactivated " />
                                        </f:facet>
                                        <h:outputText value="#{manageBB.getPrettyDateNoTime(manageable.deactivatedts)}"/>
                                    </p:column>
                                </c:if>


                                <p:column>
                                    <f:facet name="header">
                                        <h:outputText value="Material Icon" />
                                    </f:facet>
                                    <i class="material-icons"><h:outputText value="#{manageable.icon.materialIcon}"/></i>
                                </p:column>

                                <p:column>
                                    <f:facet name="header">
                                        <h:outputText value="Font Awesome Icon" />
                                    </f:facet>
                                </p:column>

                            </p:dataTable>

                            <p:spacer height="15px"/>
                            <hr/>
                            <p:spacer height="15px"/>


                        </h:form>

                        <p:dialog      height="650" width="800"
                                       widgetVar="user-info-dialog"
                                       closable="true" 
                                       rendered="#{systemServicesBB.bbSessionUser.keyCard.hasMuniStaffPermissions}">


                        </p:dialog>



                        <p:dialog   height="750" width="1000"
                                    widgetVar="addupdate-dialog"
                                    closable="true" 
                                    rendered="#{systemServicesBB.bbSessionUser.keyCard.hasSysAdminPermissions}">

                            <h:form id="add-update-form">




                                <div class="p-grid">
                                    <div class="p-col-4">
                                        <h:outputText value="Add/Update #{manageBB.currentSchema.TARGET_OBJECT_FRIENDLY_NAME}"/>
                                    </div>
                                    <div class="p-col-4"/>
                                    <div class="p-col-4">
                                        <p:commandButton id="add-update-info-edit-button"
                                                         value="#{manageBB.editMode ? 'Save' : 'Edit'}" 
                                                         icon="fa #{manageBB.editMode ? 'fa-check' : 'fa-pencil'}"
                                                         actionListener="#{manageBB.onEditModeToggle}"
                                                         update="add-update-form"
                                                         />
                                    </div>

                                    <div class="p-col-4"><h:outputText value="#{manageBB.currentSchema.TARGET_OBJECT_FRIENDLY_NAME} ID:"/></div>
                                    <div class="p-col-8">
                                        <h:outputText value="#{manageBB.current.ID}"/>
                                    </div>

                                    <div class="p-col-4">Name</div>
                                    <div class="p-col-8">
                                        <h:outputText value="#{manageBB.current.name}"
                                                      rendered="#{!manageBB.editMode}" />
                                        <p:inputText value="#{manageBB.current.name}"
                                                     rendered="#{manageBB.editMode}" />
                                    </div>





                                    <ui:insert name="Dialog"/>




                                    <div class="p-col-4" renedered="${manageableBB.showDeactivated}">Deactivated Time Stamp</div>
                                    <div class="p-col-8" renedered="${manageableBB.showDeactivated}">
                                        <h:outputText value="#{manageBB.getPrettyDateNoTime(manageBB.current.deactivatedts)}"/>
                                    </div>



                                    <div class="p-col-12">
                                        <p:commandButton id="add-update-cancel-button"
                                                         value="#{manageBB.editMode ? 'Cancel' : 'Close'}" 
                                                         icon="fa #{manageBB.editMode ? 'fa-check' : 'fa-pencil'}"
                                                         onclick="PF('addupdate-dialog').hide()"
                                                         />
                                        <p:commandButton id="add-update-remove-button"
                                                         value="#{(manageBB.current.deactivatedts == null) ? 'Remove' : 'Restore'}" 
                                                         icon="fa fa-x"
                                                         onclick="PF('addupdate-dialog').hide()"
                                                         actionListener="#{manageBB.onRemoveRestore()}"
                                                         />
                                    </div>
                                </div>
                            </h:form>
                        </p:dialog>



                    </f:view>
                </div>
            </ui:define>
        </ui:composition>
    </h:body>
</html>

