<?xml version="1.0" encoding="UTF-8"?>
<!--
Copyright (C) 2018 Adam Gutonski

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <link rel="stylesheet" type="text/css" href="css/style.css"></link>
        <title>Linked Object Role</title>
    </h:head>
    <h:body>
        <ui:composition template="/restricted/navContainer_restricted.xhtml">
            <ui:define name="content">
                <f:view>
                    <div class="mainContainer">
                        <div class="title-container">
                            <h1>Linked Object Role Configuration Tool</h1>
                        </div>

                        <h:form id="linkedobjectrole-growl-form">
                            <p:growl id="linkedobjectrole-growl"
                                     life="12000"
                                     sticky="false"
                                     keepAlive="true"
                                     globalOnly="false"/>
                        </h:form>

                        <div class="two-column-page-flex-container">
                            <div class="list-column">

                                <p:panel id="linkedobjectrole-panel"
                                         toggleable="true"
                                         widgetVar="linkedobjectroletools-panel-var"
                                         collapsed="false">
                                    <f:facet name="header">
                                        <h:outputText value="Linked Object Role"/>
                                    </f:facet>

                                    <h:form id="linkedobjectrole-form">
                                        <div class="p-grid">
                                            <div class="p-col-6">
                                                <p:commandButton id="linkedobjectrole-create-init-button"
                                                                 value="Add Linked Object Role"
                                                                 icon="pi pi-plus"
                                                                 actionListener="#{linkedObjectRoleBB.onLinkedObjectRoleAddInit}"
                                                                 update="linkedobjectrole-addedit-form
                                                                 linkedobjectrole-list-form
                                                                 @form"
                                                />
                                            </div>
                                        </div>
                                    </h:form>

                                </p:panel>

                                <p:panel id="linkedobjectrole-list-panel"
                                         widgetVar="linkedobjectrole-panel-var"
                                         toggleable="true"
                                         collapsed="false">
                                    <f:facet name="header">
                                        <h:outputText value="Linked Object Roles (#{linkedObjectRoleBB.linkedObjectRoleList.size()})"/>
                                    </f:facet>


                                    <h:form id="linkedobjectrole-list-form">
                                        <h:outputText value="include inactive?"
                                                      styleClass="inline-spaced-control-label"/>

                                        <p:selectBooleanCheckbox id="linkedobjectrole-inactives"
                                                                 value="#{linkedObjectRoleBB.includeInactiveLinkedObjectRole}">
                                            <p:ajax update="@form linkedobjectrole-list-panel"
                                                    listener="#{linkedObjectRoleBB.refreshLinkedObjectRoleList}"/>
                                        </p:selectBooleanCheckbox>

                                        <p:spacer height="5px"/>
                                        <p:dataTable id="linkedobjectroleTable"
                                                     value="#{linkedObjectRoleBB.linkedObjectRoleList}"
                                                     rendered="#{!empty linkedObjectRoleBB.linkedObjectRoleList}"
                                                     var="linkedObjectRole"
                                                     tableStyleClass="primeDataTable">

                                            <p:column headerText="Title"
                                                      styleClass="centeredColumnContent"
                                                      sortBy="#{linkedObjectRole.title}">
                                                <h:outputText value="#{linkedObjectRole.title}"/>
                                            </p:column>
                                            
                                            <p:column headerText="Schema"
                                                      styleClass="centeredColumnContent"
                                                      sortBy="#{linkedObjectRole.schema}">
                                                <h:outputText value="#{linkedObjectRole.schema}"/>
                                            </p:column>
                                            
                                            <p:column headerText="Description"
                                                      styleClass="centeredColumnContent">
                                                <h:outputText value="#{linkedObjectRole.description}"/>
                                            </p:column>

                                            <p:column headerText="Order"
                                                      styleClass="centeredColumnContent">
                                                <h:outputText value="#{linkedObjectRole.sortOrder}"/>
                                            </p:column>
                                            
                                            <p:column headerText="Actions"
                                                      styleClass="centeredColumnContent">
                                                <div class="restrict-main-contents-io-link">
                                                    <p:commandLink ajax="true"
                                                                   id="linkedobjectrole-viewcourtentity"
                                                                   style="#{linkedObjectRole.roleID == linkedObjectRoleBB.currentLinkedObjectRole.roleID ? 'background-color: #dee461; color:black;':''}"
                                                                   styleClass="multiButtonLineButton"
                                                                   actionListener="#{linkedObjectRoleBB.viewLinkedObjectRole(linkedObjectRole)}"
                                                                   update="linkedobjectrole-addedit-form
                                                                   linkedobjectrole-list-form
                                                                   linkedobjectrole-growl-form"
                                                    >
                                                        <h:outputText
                                                                value="#{linkedObjectRole.roleID == linkedObjectRoleBB.currentLinkedObjectRole.roleID ? 'selected' : 'view'}"/>
                                                    </p:commandLink>
                                                    <p:spacer height="2px"/>
                                                    <h:outputText value="(ID: #{linkedObjectRole.roleID})"/>
                                                </div>

                                                <p:spacer height="2px"/>

                                                <div class="restrict-main-contents-io-link">

                                                    <p:commandLink id="linkedobjectrole-nuke-button"
                                                                   ajax="true"
                                                                   rendered="#{linkedObjectRole.deactivatedTS == null}"
                                                                   disabled="false"
                                                                   title="Deactivate"
                                                                   actionListener="#{linkedObjectRoleBB.onLinkedObjectRoleNukeInitButtonChange(linkedObjectRole)}"
                                                                   oncomplete="PF('linkedobjectrole-nuke-dialog-var').show()"
                                                                   update="linkedobjectrole-nuke-dialog
                                                                               linkedobjectrole-nuke-form">
                                                        <h:outputText value="deactivate"/>
                                                    </p:commandLink>

                                                </div>

                                            </p:column>

                                        </p:dataTable>
                                    </h:form>
                                </p:panel>
                            </div>
                            <div class="object-column">
                                <h:form id="linkedobjectrole-addedit-form">
                                    <p:commandButton id="linkedobjectrole-edit-cb"
                                                     icon="pi pi-#{linkedObjectRoleBB.editModeLinkedObjectRole ? 'save':'pencil'}"
                                                     ajax="true"
                                                     actionListener="#{linkedObjectRoleBB.toggleLinkedObjectRoleAddEditButtonChange}"
                                                     value="#{linkedObjectRoleBB.editModeLinkedObjectRole ? 'save edits' : 'edit'}"
                                                     styleClass="inline-spaced-control-label"
                                                     update="@form
                                                     linkedobjectrole-growl-form
                                                     linkedobjectrole-list-panel
                                                     linkedobjectrole-list-form"/>
                                    <div class="gray_button">
                                        <p:commandButton id="linkedobjectrole-cancel-cb"
                                                         ajax="true"
                                                         value="Cancel"
                                                         immediate="true"
                                                         icon="pi pi-stop-circle"
                                                         rendered="#{linkedObjectRoleBB.editModeLinkedObjectRole}"
                                                         actionListener="#{linkedObjectRoleBB.onOperationLinkedObjectRoleAddEditAbort}"
                                                         update="@form"/>
                                    </div>
                                    <p:panel id="linkedobjectrole-view-panel"
                                             toggleable="true"
                                             collapsed="false"
                                             header="Linked Object Role: #{linkedObjectRoleBB.currentLinkedObjectRole.roleID}">
                                        <div class="p-grid">
                                            <div class="p-col-4 restrict-data-field-label-inline">
                                                <h:outputText value="ID:"/>
                                            </div>
                                            <div class="p-col-8 restrict-data-field-value-inline">
                                                <h:outputText value="#{linkedObjectRoleBB.currentLinkedObjectRole.roleID}"
                                                              rendered="#{linkedObjectRoleBB.currentLinkedObjectRole.roleID ne 0}"/>
                                                <h:outputText value="[new record]"
                                                              rendered="#{linkedObjectRoleBB.currentLinkedObjectRole.roleID eq 0}"/>
                                            </div>
                                            
                                            <div class="p-col-4 restrict-data-field-label-inline">
                                                <h:outputText value="Title"/>
                                            </div>
                                            <div class="p-col-8 restrict-data-field-value-inline">
                                                <h:outputText value="#{linkedObjectRoleBB.currentLinkedObjectRole.title}"
                                                              rendered="#{!linkedObjectRoleBB.editModeLinkedObjectRole}"/>

                                                <p:inputText id="linkedobjectroleManage-insert-name"
                                                             value="#{linkedObjectRoleBB.currentLinkedObjectRole.title}"
                                                             required="true"
                                                             rendered="#{linkedObjectRoleBB.editModeLinkedObjectRole}"
                                                />
                                            </div>
                                            
                                            <div class="p-col-4 restrict-data-field-label-inline">
                                                <h:outputText value="Schema"/>
                                            </div>
                                            <div class="p-col-8 restrict-data-field-value-inline">
                                                <h:outputText value="#{linkedObjectRoleBB.currentLinkedObjectRole.schema}"
                                                              rendered="#{!linkedObjectRoleBB.editModeLinkedObjectRole}"/>
                                                
                                                <p:selectOneMenu    id="event-viewoptions-som"
                                                                    value="#{linkedObjectRoleBB.currentLinkedObjectRole.schema}"
                                                                    tabindex="10" required="true"
                                                                    rendered="#{linkedObjectRoleBB.editModeLinkedObjectRole}">
                                                    <f:selectItem  itemLabel="Select a Schema"
                                                                       noSelectionOption="true"
                                                                       itemDisabled="true"/>
                                                    <f:selectItems  id="event-viewoptions-selitems"
                                                                    value="#{linkedObjectRoleBB.schemaEnumList}"
                                                                    var="vo"
                                                                    itemValue="#{vo}"
                                                                    itemLabel="#{vo}"/>
                                                </p:selectOneMenu>
                                            </div>
                                            
                                            <div class="p-col-4 restrict-data-field-label-inline">
                                                <h:outputText value="Description"/>
                                            </div>
                                            <div class="p-col-8 restrict-data-field-value-inline">
                                                <h:outputText value="#{linkedObjectRoleBB.currentLinkedObjectRole.description}"
                                                              rendered="#{!linkedObjectRoleBB.editModeLinkedObjectRole}"/>

                                                <p:inputText id="linkedobjectroleManage-insert-description"
                                                             value="#{linkedObjectRoleBB.currentLinkedObjectRole.description}"
                                                             required="true"
                                                             rendered="#{linkedObjectRoleBB.editModeLinkedObjectRole}"
                                                />
                                            </div>
                                            <div class="p-col-4 restrict-data-field-label-inline">
                                                <h:outputText value="Sort order (lower values appear first)"/>
                                            </div>
                                            <div class="p-col-8 restrict-data-field-value-inline">
                                                <h:outputText value="#{linkedObjectRoleBB.currentLinkedObjectRole.sortOrder}"
                                                              rendered="#{!linkedObjectRoleBB.editModeLinkedObjectRole}"/>

                                                <p:inputNumber id="linkedobjectroleManage-insert-sortorder"
                                                               value="#{linkedObjectRoleBB.currentLinkedObjectRole.sortOrder}"
                                                                required="false"
                                                                rendered="#{linkedObjectRoleBB.editModeLinkedObjectRole}"
                                                />
                                            </div>
                                            
                                            <div class="p-col-4 restrict-data-field-label-inline">
                                                <h:outputText value="Notes"/>
                                            </div>
                                            <div class="p-col-8 restrict-data-field-value-inline">
                                                <h:outputText value="#{linkedObjectRoleBB.currentLinkedObjectRole.notes}"
                                                              rendered="#{!linkedObjectRoleBB.editModeLinkedObjectRole}"/>

                                                <p:inputText id="linkedobjectroleManage-insert-notes"
                                                             value="#{linkedObjectRoleBB.currentLinkedObjectRole.notes}"
                                                             required="false"
                                                             rendered="#{linkedObjectRoleBB.editModeLinkedObjectRole}"
                                                />
                                            </div>
                                            
                                        </div>

                                    </p:panel>
                                </h:form>
                            </div>
                        </div>
                    </div>

                    <p:dialog id="linkedobjectrole-nuke-dialog"
                              widgetVar="linkedobjectrole-nuke-dialog-var"
                              header="Nuke Linked Object Role"
                              closeOnEscape="true"
                              closable="true"
                              resizable="true"
                              responsive="true"
                              height="300" width="550"
                              rendered="true"
                    >

                        <h:form id="linkedobjectrole-nuke-form">

                            <div class="ui-g data_container_nested_restrict">
                                <div class="ui-g-12 ui-md-6 ui-lg-6 restrict-data-field">
                                    <div class="restrict-data-field-label-inline">
                                        <h:outputLabel>
                                            <h:outputText
                                                    value="Nuked linked object role can only be rescued by sys admins...and they will grumble while doing so."/>
                                        </h:outputLabel>
                                    </div>
                                </div>
                                <div class="ui-g-12 ui-md-6 ui-lg-6 restrict-data-field">
                                    <div class="restrict-main-contents-io-button red_button">
                                        <p:commandButton id="linkedobjectrole-nuke-confirm-button"
                                                         ajax="true"
                                                         action="#{linkedObjectRoleBB.onLinkedObjectRoleNukeCommitButtonChange}"
                                                         value="Nuke Linked Object Role"
                                                         icon="pi pi-trash"
                                                         oncomplete="PF('linkedobjectrole-nuke-dialog-var').hide();"
                                                         update="linkedobjectrole-list-panel
                                                         linkedobjectrole-addedit-form
                                                         linkedobjectrole-growl-form"
                                                         rendered="true"
                                        />
                                    </div>
                                </div>
                            </div>

                        </h:form>

                    </p:dialog>

                </f:view>
            </ui:define>
        </ui:composition>
    </h:body>
</html>