<?xml version="1.0" encoding="UTF-8"?>
<!--
Copyright (C) 2018 Adam Gutonski

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <link rel="stylesheet" type="text/css" href="css/style.css"></link>
        <title>Multiple Object Management</title>
    </h:head>
    <h:body>
        <ui:composition template="/restricted/navContainer_restricted.xhtml">
            <ui:define name="content">
                    <h:form>
                        <div class="p-col-4 restrict-data-field-label-inline">
                            <h:outputText styleClass="text-muted" value="Please select list to configure"/>
                        </div>
                        <br/>
                        <p:selectOneMenu value="#{multiObjectManageBB.selectedObject}" 
                                         valueChangeListener="#{multiObjectManageBB.handleObjectChange}" 
                                         style="width:400px">
                            <f:selectItems value="#{multiObjectManageBB.objectOptionValues}" 
                                           var="object" 
                                           itemValue="#{object}" 
                                           itemLabel="#{object.value}" />
                                <f:ajax render="objectsPanel"/>
                        </p:selectOneMenu> 
                    </h:form>
                <h:panelGroup id="objectsPanel">
                    <ui:include src="#{multiObjectManageBB.includePath}" />
                </h:panelGroup>
            </ui:define>
        </ui:composition>
    </h:body>
</html>