<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns:tt="http://xmlns.jcp.org/jsf/composite/components">
    <f:view>
        <div class="mainContainer">
            <div class="title-container">
                <h1>OccInspection Determination Configuration Tool</h1>
            </div>

            <h:form id="oid-growl-form">
                <p:growl id="oid-growl"
                         life="12000"
                         sticky="false"
                         keepAlive="true"
                         globalOnly="false"/>
            </h:form>

            <div class="two-column-page-flex-container">
                <div class="list-column">

                    <p:panel id="oidtools-panel"
                             toggleable="true"
                             widgetVar="oidtools-panel-var"
                             collapsed="false">
                        <f:facet name="header">
                            <h:outputText value="OccInspection Determination Tools"/>
                        </f:facet>

                        <h:form id="oidtools-form">
                            <div class="p-grid">
                                <div class="p-col-6">
                                    <p:commandButton id="oid-create-init-button"
                                                     value="Add OccInspection Determination"
                                                     icon="pi pi-plus"
                                                     actionListener="#{occInspectionDeterminationBB.onOccInspectionDeterminationAddInit}"
                                                     style="white-space: nowrap"
                                                     update="oid-addedit-form
                                                     oid-list-form
                                                     @form"
                                                     />
                                </div>
                            </div>
                        </h:form>

                    </p:panel>

                    <p:panel id="oid-list-panel"
                             widgetVar="oid-panel-var"
                             toggleable="true"
                             collapsed="false">
                        <f:facet name="header">
                            <h:outputText value="OccInspection Determinations (#{occInspectionDeterminationBB.occInspectionDeterminationList.size()})"/>
                        </f:facet>

                        <h:form id="oid-list-form">
                            <h:outputLabel value="show all municipalities?"
                                           for="det-allmunis-cbcb"
                                           styleClass="inline-spaced-control-label"/>
                            <p:selectBooleanCheckbox id="det-allmunis-cbcb"
                                                     value="#{occInspectionDeterminationBB.showAllMunis}" >
                                <p:ajax update="@form" 
                                        listener="#{occInspectionDeterminationBB.onToggleShowAllMunis()}"/>
                            </p:selectBooleanCheckbox>

                            <p:spacer height="3px" />

                            <p:dataTable id="oidTable"
                                         value="#{occInspectionDeterminationBB.occInspectionDeterminationList}"
                                         rendered="#{!empty occInspectionDeterminationBB.occInspectionDeterminationList}"
                                         var="oid"
                                         tableStyleClass="primeDataTable">

                                <p:column headerText="Title"
                                          styleClass="centeredColumnContent"
                                          sortBy="#{oid.title}">
                                    <h:outputText value="#{oid.title}"/>
                                </p:column>

                                <p:column headerText="Outcome"
                                          styleClass="centeredColumnContent"
                                          width="15%"
                                          sortBy="#{oid.qualifiesAsPassed}">
                                    <h:outputText value="#{oid.qualifiesAsPassed ? 'Pass' : 'Fail'}"
                                                  rendered="#{not oid.documentationOnly}"/>
                                    <h:outputText value="Documentation only"
                                                  rendered="#{oid.documentationOnly}"/>
                                </p:column>

                                <p:column headerText="Muni"
                                          styleClass="centeredColumnContent"
                                          width="15%"
                                          sortBy="#{oid.muni.muniName}">
                                    <h:outputText value="#{oid.muni.muniName}"/>
                                </p:column>

                                <p:column headerText="Actions"
                                          styleClass="centeredColumnContent">
                                    <div class="restrict-main-contents-io-link">
                                        <p:commandLink ajax="true"
                                                       id="oid-viewoid"
                                                       style="#{oid.determinationID == occInspectionDeterminationBB.currentOccInspectionDetermination.determinationID ? 'background-color: #dee461; color:black;':''}"
                                                       styleClass="multiButtonLineButton"
                                                       actionListener="#{occInspectionDeterminationBB.viewOccInspectionDetermination(oid)}"
                                                       update="oid-addedit-form
                                                       oid-list-form
                                                       oid-growl-form" >
                                            <h:outputText
                                                value="#{oid.determinationID == occInspectionDeterminationBB.currentOccInspectionDetermination.determinationID ? 'selected' : 'view'}"/>
                                        </p:commandLink>
                                        <p:spacer height="2px"/>
                                        <h:outputText value="(ID: #{oid.determinationID})"/>
                                    </div>

                                    <p:spacer height="2px"/>

                                    <div class="restrict-main-contents-io-link">
                                        <p:commandLink id="oid-nuke-button"
                                                       ajax="true"
                                                       rendered="#{oid.deactivatedTS == null}"
                                                       disabled="false"
                                                       title="Deactivate"
                                                       actionListener="#{occInspectionDeterminationBB.onOccInspectionDeterminationNukeInitButtonChange(oid)}"
                                                       oncomplete="PF('oid-nuke-dialog-var').show()"
                                                       update="oid-nuke-dialog
                                                       oid-nuke-form">
                                            <h:outputText value="deactivate"/>
                                        </p:commandLink>
                                    </div>
                                </p:column>
                            </p:dataTable>
                        </h:form>
                    </p:panel>
                </div>
                <div class="object-column">
                    <h:form id="oid-addedit-form">
                        <p:commandButton id="oid-edit-cb"
                                         icon="pi pi-#{occInspectionDeterminationBB.editModeOccInspectionDeterminationInfo ? 'save':'pencil'}"
                                         ajax="true"
                                         actionListener="#{occInspectionDeterminationBB.toggleOccInspectionDeterminationAddEditButtonChange}"
                                         value="#{occInspectionDeterminationBB.editModeOccInspectionDeterminationInfo ? 'save edits' : 'edit'}"
                                         styleClass="inline-spaced-control-label"
                                         update="@form
                                         oid-growl-form
                                         oid-list-panel"/>
                        <div class="gray_button">
                            <p:commandButton id="oid-cancel-cb"
                                             ajax="true"
                                             value="Cancel"
                                             immediate="true"
                                             icon="pi pi-stop-circle"
                                             rendered="#{occInspectionDeterminationBB.editModeOccInspectionDeterminationInfo}"
                                             actionListener="#{occInspectionDeterminationBB.onOperationOccDeterminationAddEditAbort}"
                                             update="@form"/>
                        </div>
                        <p:panel id="oid-view-panel"
                                 toggleable="true"
                                 collapsed="false"
                                 header="OccInspection Determination: #{occInspectionDeterminationBB.currentOccInspectionDetermination.title}">
                            <div class="p-grid">
                                <div class="p-col-4 restrict-data-field-label-inline">
                                    <h:outputText value="ID:"/>
                                </div>
                                <div class="p-col-8 restrict-data-field-value-inline">
                                    <h:outputText value="#{occInspectionDeterminationBB.currentOccInspectionDetermination.determinationID}"
                                                  rendered="#{occInspectionDeterminationBB.currentOccInspectionDetermination.determinationID ne 0}"/>
                                    <h:outputText value="[new record]"
                                                  rendered="#{occInspectionDeterminationBB.currentOccInspectionDetermination.determinationID eq 0}"/>
                                </div>
                                <div class="p-col-4 restrict-data-field-label-inline">
                                    <h:outputText value="Title:"/>
                                </div>
                                <div class="p-col-8 restrict-data-field-value-inline">
                                    <h:outputText value="#{occInspectionDeterminationBB.currentOccInspectionDetermination.title}"
                                                  rendered="#{!occInspectionDeterminationBB.editModeOccInspectionDeterminationInfo}"/>

                                    <p:inputText id="oid-insert-title"
                                                 value="#{occInspectionDeterminationBB.currentOccInspectionDetermination.title}"
                                                 required="true"
                                                 rendered="#{occInspectionDeterminationBB.editModeOccInspectionDeterminationInfo}"
                                                 />
                                </div>
                                <div class="p-col-4 restrict-data-field-label-inline">
                                    <h:outputText value="Description:"/>
                                </div>
                                <div class="p-col-8 restrict-data-field-value-inline">
                                    <h:outputText
                                        value="#{occInspectionDeterminationBB.currentOccInspectionDetermination.description}"
                                        rendered="#{!occInspectionDeterminationBB.editModeOccInspectionDeterminationInfo}"/>

                                    <p:inputText id="oid-insert-description"
                                                 value="#{occInspectionDeterminationBB.currentOccInspectionDetermination.description}"
                                                 rendered="#{occInspectionDeterminationBB.editModeOccInspectionDeterminationInfo}"
                                                 />
                                </div>

                                <div class="p-col-4 restrict-data-field-label-inline">
                                    <h:outputText value="Municipality:"/>
                                </div>
                                <div class="p-col-8 restrict-data-field-value-inline">
                                    <h:outputText
                                        value="#{occInspectionDeterminationBB.currentOccInspectionDetermination.muni.muniName}"
                                        rendered="#{!occInspectionDeterminationBB.editModeOccInspectionDeterminationInfo}"/>

                                    <p:selectOneMenu id="det-muni-list"
                                                     value="#{occInspectionDeterminationBB.currentOccInspectionDetermination.muni}"
                                                     rendered="#{occInspectionDeterminationBB.editModeOccInspectionDeterminationInfo}"
                                                     required="true">
                                        <f:selectItem itemLabel="select Municipality..." noSelectionOption="true" />
                                        <f:converter converterId="muniConverter"/>
                                        <f:selectItems  id="muniList" 
                                                        value="#{systemServicesBB.muniListActiveOnly}" 
                                                        var="muni" 
                                                        itemValue="#{muni}" 
                                                        itemLabel="#{muni.muniName}"/>
                                    </p:selectOneMenu>
                                </div>

                                <div class="p-col-4 restrict-data-field-label-inline">
                                    <h:outputText value="Notes:"/>
                                </div>
                                <div class="p-col-8 restrict-data-field-value-inline">
                                    <h:outputText value="#{occInspectionDeterminationBB.currentOccInspectionDetermination.notes}"
                                                  rendered="#{!occInspectionDeterminationBB.editModeOccInspectionDeterminationInfo}"/>

                                    <p:inputText id="oid-insert-notes"
                                                 value="#{occInspectionDeterminationBB.currentOccInspectionDetermination.notes}"
                                                 rendered="#{occInspectionDeterminationBB.editModeOccInspectionDeterminationInfo}"
                                                 />
                                </div>
                                <div class="p-col-4 restrict-data-field-label-inline">
                                    <h:outputText value="Event Category:"/>
                                </div>
                                <div class="p-col-8 restrict-data-field-value-inline">
                                    <h:outputText value="#{occInspectionDeterminationBB.currentOccInspectionDetermination.eventCategory.categoryID}"
                                                  rendered="#{!occInspectionDeterminationBB.editModeOccInspectionDeterminationInfo}"/>

                                    <p:selectOneMenu id="determination_event_cat" style="width: 100%"
                                                     value="#{occInspectionDeterminationBB.currentOccInspectionDetermination.eventCategory}" tabindex="10"
                                                     rendered="#{occInspectionDeterminationBB.editModeOccInspectionDeterminationInfo}">
                                        <f:selectItem itemLabel="select an event category..." noSelectionOption="true" />
                                        <f:converter converterId="eventCategoryConverter"/>
                                        <f:selectItems  id="catItemsList" value="#{occInspectionDeterminationBB.eventCategoryList}" 
                                                        var="ec" 
                                                        itemValue="#{ec}" 
                                                        itemLabel="#{ec.eventCategoryTitle} (ID:#{ec.categoryID}; Type:#{ec.eventType.label})"/>
                                    </p:selectOneMenu>
                                </div>
                                <div class="p-col-4 restrict-data-field-label-inline">
                                    <h:outputText value="Inspection outcome:"/>
                                </div>
                                <div class="p-col-8 restrict-data-field-value-inline">
                                    <p:outputPanel id="finoutcome-outpanel">

                                        <div style="#{occInspectionDeterminationBB.currentOccInspectionDetermination.documentationOnly ? 'background-color:darkgray;' : ''}">

                                            <h:outputText value="#{occInspectionDeterminationBB.currentOccInspectionDetermination.qualifiesAsPassed ? 'Pass' : 'Fail'}"
                                                          rendered="#{!occInspectionDeterminationBB.editModeOccInspectionDeterminationInfo}"/>

                                            <p:selectBooleanButton value="#{occInspectionDeterminationBB.currentOccInspectionDetermination.qualifiesAsPassed}" 
                                                                   onLabel="Pass" offLabel="Fail" 
                                                                   style="width:6rem"
                                                                   rendered="#{occInspectionDeterminationBB.editModeOccInspectionDeterminationInfo}"
                                                                   />
                                        </div>
                                    </p:outputPanel>
                                </div>
                                <div class="p-col-4 restrict-data-field-label-inline">
                                    <h:outputText value="Documentation only; Ignore pass/fail"/>
                                    <p:spacer height="3px" />
                                  
                                        
                                     <p:commandButton id="documentationonly-help-button"
                                                             icon="pi pi-question-circle"
                                                             styleClass="button-help"
                                                             type="button" />

                                            <p:overlayPanel for="documentationonly-help-button"
                                                            style="width:350px;"
                                                            dismissable="true"
                                                            showCloseIcon="true">
                                                <p>A documentation only determination means that an officer is not 
                                                declaring a pass or violated status to any particular ordinance as a result of the inspection.
                                                Thus, when this setting is turned on, the Inspection Outcome pass/fail setting will be ignored
                                                throughout codeNforce's inspection validation and routing logic.</p>
                                            </p:overlayPanel>
                                </div>
                                <div class="p-col-8 restrict-data-field-value-inline">
                                    <h:outputText value="#{occInspectionDeterminationBB.currentOccInspectionDetermination.documentationOnly ? 'Documentation only' : 'Pass/Fail outcome'}"
                                                  rendered="#{!occInspectionDeterminationBB.editModeOccInspectionDeterminationInfo}"/>

                                    <p:selectBooleanCheckbox value="#{occInspectionDeterminationBB.currentOccInspectionDetermination.documentationOnly}" 
                                                           rendered="#{occInspectionDeterminationBB.editModeOccInspectionDeterminationInfo}"
                                                           >
                                        <p:ajax update="finoutcome-outpanel" />
                                    </p:selectBooleanCheckbox>
                                </div>
                                <div class="p-col-4 restrict-data-field-label-inline">
                                    <h:outputText value="Icon"/>
                                    <p:spacer height="3px" />
                                </div>
                                <div class="p-col-8 restrict-data-field-value-inline">
                                    <f:subview id="icon-display-subview"
                                               rendered="true">
                                        
                                        <i class="material-icons">
                                            <h:outputText value="#{occInspectionDeterminationBB.currentOccInspectionDetermination.icon.materialIcon}"/>
                                        </i>
                                            <h:outputText value="(ID: #{occInspectionDeterminationBB.currentOccInspectionDetermination.icon.ID})"/>
                                    </f:subview>
                                    <tt:iconSelector    id="determination-iconselector-tt"
                                                        value="#{occInspectionDeterminationBB.currentOccInspectionDetermination.icon}"
                                                        iconList="#{occInspectionDeterminationBB.iconCandidateList}"
                                                        rendered="#{occInspectionDeterminationBB.editModeOccInspectionDeterminationInfo}"
                                                        required="true" />
                                    
                                </div>
                            </div>
                        </p:panel>
                    </h:form>
                </div>
            </div>
        </div>
        <p:dialog id="oid-nuke-dialog"
                  widgetVar="oid-nuke-dialog-var"
                  header="Nuke OccInspection Determination"
                  closeOnEscape="true"
                  closable="true"
                  resizable="true"
                  responsive="true"
                  height="300" width="550"
                  rendered="true"
                  >

            <h:form id="oid-nuke-form">

                <div class="ui-g data_container_nested_restrict">
                    <div class="ui-g-12 ui-md-6 ui-lg-6 restrict-data-field">
                        <div class="restrict-data-field-label-inline">
                            <h:outputLabel>
                                <h:outputText
                                    value="Nuked OccInspection Determinations can only be rescued by sys admins...and they will grumble while doing so."/>
                            </h:outputLabel>
                        </div>
                    </div>
                    <div class="ui-g-12 ui-md-6 ui-lg-6 restrict-data-field">
                        <div class="restrict-main-contents-io-button red_button">
                            <p:commandButton id="oid-nuke-confirm-button"
                                             ajax="true"
                                             action="#{occInspectionDeterminationBB.onOccInspectionDeterminationNukeCommitButtonChange()}"
                                             value="Nuke OccInspection Determination"
                                             icon="pi pi-trash"
                                             oncomplete="PF('oid-nuke-dialog-var').hide();"
                                             update="oid-list-panel
                                             oid-addedit-form
                                             oid-growl-form"
                                             rendered="true"
                                             />
                        </div>
                    </div>
                </div>
            </h:form>
        </p:dialog>
    </f:view>
</ui:composition>
