<ui:composition xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">
                <f:view>
                    <div class="mainContainer">
                        <div class="title-container">
                            <h1>OccInspection Cause Configuration Tool</h1>
                        </div>

                        <h:form id="cause-growl-form">
                            <p:growl id="cause-growl"
                                     life="12000"
                                     sticky="false"
                                     keepAlive="true"
                                     globalOnly="false"/>
                        </h:form>

                        <div class="two-column-page-flex-container">
                            <div class="list-column">

                                <p:panel id="causetools-panel"
                                         toggleable="true"
                                         widgetVar="causetools-panel-var"
                                         collapsed="false">
                                    <f:facet name="header">
                                        <h:outputText value="OccInspection Cause Tools"/>
                                    </f:facet>

                                    <h:form id="causetools-form">
                                        <div class="p-grid">
                                            <div class="p-col-6">
                                                <p:commandButton id="cause-create-init-button"
                                                                 value="Add OccInspection Cause"
                                                                 icon="pi pi-plus"
                                                                 actionListener="#{occInspectionCauseBB.onOccInspectionCauseAddInit}"
                                                                 update="cause-addedit-form
                                                                 cause-list-form
                                                                 @form"
                                                />
                                            </div>
                                        </div>
                                    </h:form>

                                </p:panel>

                                <p:panel id="cause-list-panel"
                                         widgetVar="cause-panel-var"
                                         toggleable="true"
                                         collapsed="false">
                                    <f:facet name="header">
                                        <h:outputText value="OccInspection Causes (#{occInspectionCauseBB.causeList.size()})"/>
                                    </f:facet>


                                    <h:form id="cause-list-form">
                                        
                                        <h:outputLabel value="show all municipalities?"
                                                       for="cause-allmunis-cbcb"
                                                       styleClass="inline-spaced-control-label"/>
                                        <p:selectBooleanCheckbox id="cause-allmunis-cbcb"
                                                                 value="#{occInspectionCauseBB.showAllMunis}" >
                                            <p:ajax update="@form" 
                                                    listener="#{occInspectionCauseBB.onToggleShowAllMunis()}"/>
                                        </p:selectBooleanCheckbox>

                                        <p:spacer height="3px" />
                                        
                                        <p:dataTable id="causeTable"
                                                     value="#{occInspectionCauseBB.causeList}"
                                                     rendered="#{!empty occInspectionCauseBB.causeList}"
                                                     var="cause"
                                                     tableStyleClass="primeDataTable">

                                            <p:column headerText="Title"
                                                      styleClass="centeredColumnContent">
                                                <h:outputText value="#{cause.title}"/>
                                            </p:column>

                                            <p:column headerText="Muni"
                                                      styleClass="centeredColumnContent">
                                                <h:outputText value="#{cause.muni.muniName}"/>
                                            </p:column>

                                            <p:column headerText="Actions"
                                                      styleClass="centeredColumnContent">
                                                <div class="restrict-main-contents-io-link">
                                                    <p:commandLink ajax="true"
                                                                   id="cause-viewcause"
                                                                   style="#{cause.causeID == occInspectionCauseBB.currentOccInspectionCause.causeID ? 'background-color: #dee461; color:black;':''}"
                                                                   styleClass="multiButtonLineButton"
                                                                   actionListener="#{occInspectionCauseBB.viewOccInspectionCause(cause)}"
                                                                   update="cause-addedit-form
                                                                   cause-list-form
                                                                   cause-growl-form"
                                                    >
                                                        <h:outputText
                                                            value="#{cause.causeID == occInspectionCauseBB.currentOccInspectionCause.causeID ? 'selected' : 'view'}"/>
                                                    </p:commandLink>
                                                    <p:spacer height="2px"/>
                                                    <h:outputText value="(ID: #{cause.causeID})"/>
                                                </div>

                                                <p:spacer height="2px"/>

                                                <div class="restrict-main-contents-io-link">

                                                    <p:commandLink id="cause-nuke-button"
                                                                   ajax="true"
                                                                   rendered="#{cause.deactivatedTS == null}"
                                                                   disabled="false"
                                                                   title="Deactivate"
                                                                   actionListener="#{occInspectionCauseBB.onOccInspectionCauseNukeInitButtonChange(cause)}"
                                                                   oncomplete="PF('cause-nuke-dialog-var').show()"
                                                                   update="cause-nuke-dialog
                                                                               cause-nuke-form"
                                                                  >
                                                        <h:outputText value="deactivate"/>
                                                    </p:commandLink>

                                                </div>

                                            </p:column>

                                        </p:dataTable>
                                    </h:form>
                                </p:panel>
                            </div>
                            <div class="object-column">
                                <h:form id="cause-addedit-form">
                                    <p:commandButton id="cause-edit-cb"
                                                     icon="pi pi-#{occInspectionCauseBB.editModeOccInspectionCauseInfo ? 'save':'pencil'}"
                                                     ajax="true"
                                                     actionListener="#{occInspectionCauseBB.toggleOccInspectionCauseAddEditButtonChange}"
                                                     value="#{occInspectionCauseBB.editModeOccInspectionCauseInfo ? 'save edits' : 'edit'}"
                                                     styleClass="inline-spaced-control-label"
                                                     update="@form
                                                     cause-growl-form
                                                     cause-list-panel"/>
                                    <div class="gray_button">
                                        <p:commandButton id="cause-cancel-cb"
                                                         ajax="true"
                                                         value="Cancel"
                                                         immediate="true"
                                                         icon="pi pi-stop-circle"
                                                         rendered="#{occInspectionCauseBB.editModeOccInspectionCauseInfo}"
                                                         actionListener="#{occInspectionCauseBB.onOperationOccCauseAddEditAbort}"
                                                         update="@form"/>
                                    </div>
                                    <p:panel id="cause-view-panel"
                                             toggleable="true"
                                             collapsed="false"
                                             header="OccInspection Cause:  #{occInspectionCauseBB.currentOccInspectionCause.title}">
                                        <div class="p-grid">
                                            <div class="p-col-4 restrict-data-field-label-inline">
                                                <h:outputText value="ID:"/>
                                            </div>
                                            <div class="p-col-8 restrict-data-field-value-inline">
                                                <h:outputText value="#{occInspectionCauseBB.currentOccInspectionCause.causeID}"
                                                              rendered="#{occInspectionCauseBB.currentOccInspectionCause.causeID ne 0}"/>
                                                <h:outputText value="[new record]"
                                                              rendered="#{occInspectionCauseBB.currentOccInspectionCause.causeID eq 0}"/>
                                            </div>
                                            <div class="p-col-4 restrict-data-field-label-inline">
                                                <h:outputText value="Title:"/>
                                            </div>
                                            <div class="p-col-8 restrict-data-field-value-inline">
                                                <h:outputText value="#{occInspectionCauseBB.currentOccInspectionCause.title}"
                                                              rendered="#{!occInspectionCauseBB.editModeOccInspectionCauseInfo}"/>

                                                <p:inputText id="cause-insert-title"
                                                             value="#{occInspectionCauseBB.currentOccInspectionCause.title}"
                                                             required="true"
                                                             rendered="#{occInspectionCauseBB.editModeOccInspectionCauseInfo}"
                                                />
                                            </div>
                                            <div class="p-col-4 restrict-data-field-label-inline">
                                                <h:outputText value="Description:"/>
                                            </div>
                                            <div class="p-col-8 restrict-data-field-value-inline">
                                                <h:outputText
                                                    value="#{occInspectionCauseBB.currentOccInspectionCause.description}"
                                                    rendered="#{!occInspectionCauseBB.editModeOccInspectionCauseInfo}"/>

                                                <p:inputText id="cause-insert-description"
                                                             value="#{occInspectionCauseBB.currentOccInspectionCause.description}"
                                                             rendered="#{occInspectionCauseBB.editModeOccInspectionCauseInfo}"
                                                />
                                            </div>
                                             
                                            <div class="p-col-4 restrict-data-field-label-inline">
                                                <h:outputText value="Municipality"/>
                                            </div>
                                            <div class="p-col-8 restrict-data-field-value-inline">
                                                <h:outputText
                                                    value="#{occInspectionCauseBB.currentOccInspectionCause.muni.muniName}"
                                                    rendered="#{!occInspectionCauseBB.editModeOccInspectionCauseInfo}"/>

                                                <p:selectOneMenu id="cause-muni-list"
                                                                 value="#{occInspectionCauseBB.currentOccInspectionCause.muni}"
                                                                 rendered="#{occInspectionCauseBB.editModeOccInspectionCauseInfo}"
                                                                  required="true">
                                                        <f:selectItem itemLabel="select Municipality..." noSelectionOption="true" />
                                                        <f:converter converterId="muniConverter"/>
                                                        <f:selectItems  id="muniList" 
                                                                        value="#{systemServicesBB.muniListActiveOnly}" 
                                                                        var="muni" 
                                                                        itemValue="#{muni}" 
                                                                        itemLabel="#{muni.muniName}"/>
                                                </p:selectOneMenu>
                                            </div>
                                            <div class="p-col-4 restrict-data-field-label-inline">
                                                <h:outputText value="Notes:"/>
                                            </div>
                                            <div class="p-col-8 restrict-data-field-value-inline">
                                                <h:outputText value="#{occInspectionCauseBB.currentOccInspectionCause.notes}"
                                                              rendered="#{!occInspectionCauseBB.editModeOccInspectionCauseInfo}"/>

                                                <p:inputText id="cause-insert-notes"
                                                             value="#{occInspectionCauseBB.currentOccInspectionCause.notes}"
                                                             rendered="#{occInspectionCauseBB.editModeOccInspectionCauseInfo}"
                                                />
                                            </div>
                                        </div>
                                    </p:panel>
                                </h:form>
                        </div>
                    </div>
                  </div>
                    <p:dialog id="cause-nuke-dialog"
                              widgetVar="cause-nuke-dialog-var"
                              header="Nuke OccInspection Cause"
                              closeOnEscape="true"
                              closable="true"
                              resizable="true"
                              responsive="true"
                              height="300" width="550"
                              rendered="true"
                    >

                        <h:form id="cause-nuke-form">

                            <div class="ui-g data_container_nested_restrict">
                                <div class="ui-g-12 ui-md-6 ui-lg-6 restrict-data-field">
                                    <div class="restrict-data-field-label-inline">
                                        <h:outputLabel>
                                            <h:outputText
                                                    value="Nuked OccInspection Causes can only be rescued by sys admins...and they will grumble while doing so."/>
                                        </h:outputLabel>
                                    </div>
                                </div>
                                <div class="ui-g-12 ui-md-6 ui-lg-6 restrict-data-field">
                                    <div class="restrict-main-contents-io-button red_button">
                                        <p:commandButton id="cause-nuke-confirm-button"
                                                         ajax="true"
                                                         action="#{occInspectionCauseBB.onOccInspectionCauseNukeCommitButtonChange()}"
                                                         value="Nuke OccInspection Cause"
                                                         icon="pi pi-trash"
                                                         oncomplete="PF('cause-nuke-dialog-var').hide();"
                                                         update="cause-list-panel
                                                         cause-addedit-form
                                                         cause-growl-form"
                                                         rendered="true"
                                        />
                                    </div>
                                </div>
                            </div>
                        </h:form>
                    </p:dialog>
                </f:view>
</ui:composition>