<ui:composition xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:tt="http://xmlns.jcp.org/jsf/composite/components">
                <f:view>
                    <div class="mainContainer">
                        <div class="title-container">
                            <h1>PropertyUse Type Configuration Tool</h1>
                        </div>

                        <h:form id="put-growl-form">
                            <p:growl id="put-growl"
                                     life="12000"
                                     sticky="false"
                                     keepAlive="true"
                                     globalOnly="false"/>
                        </h:form>

                        <div class="two-column-page-flex-container">
                            <div class="list-column">

                                <p:panel id="puttools-panel"
                                         toggleable="true"
                                         widgetVar="puttools-panel-var"
                                         collapsed="false">
                                    <f:facet name="header">
                                        <h:outputText value="PropertyUse Type Tools"/>
                                    </f:facet>

                                    <h:form id="puttools-form">
                                        <div class="p-grid">
                                            <div class="p-col-6">
                                                <p:commandButton id="put-create-init-button"
                                                                 value="Add PropertyUse Type"
                                                                 icon="pi pi-plus"
                                                                 actionListener="#{propertyUseTypeBB.onPropertyUseTypeAddInit}"
                                                                 update="put-addedit-form
                                                                 put-list-form
                                                                 @form"
                                                />
                                            </div>
                                        </div>
                                    </h:form>

                                </p:panel>

                                <p:panel id="put-list-panel"
                                         widgetVar="put-panel-var"
                                         toggleable="true"
                                         collapsed="false">
                                    <f:facet name="header">
                                        <h:outputText value="PropertyUse Types (#{propertyUseTypeBB.putList.size()})"/>
                                    </f:facet>

                                    <h:form id="put-list-form">
                                        <p:dataTable id="putTable"
                                                     value="#{propertyUseTypeBB.putList}"
                                                     rendered="#{!empty propertyUseTypeBB.putList}"
                                                     var="put"
                                                     tableStyleClass="primeDataTable">

                                            <p:column width="10%" headerText="Icon"
                                                      styleClass="centeredColumnContent">
                                                <i class="material-icons">
                                                    <h:outputText value="#{put.icon.materialIcon}"
                                                                  rendered="#{!empty put.icon.materialIcon}"/>
                                                </i>
                                            </p:column>
                                            
                                            <p:column headerText="Name"
                                                      styleClass="centeredColumnContent">
                                                <h:outputText value="#{put.name}"/>
                                            </p:column>
                                            
                                            <p:column headerText="Description"
                                                      styleClass="centeredColumnContent">
                                                <h:outputText value="#{put.description}" style="text-overflow: ellipsis; display: block; overflow: hidden"/>
                                            </p:column>

                                            <p:column headerText="Actions"
                                                      styleClass="centeredColumnContent">
                                                <div class="restrict-main-contents-io-link">
                                                    <p:commandLink ajax="true"
                                                                   id="put-viewoid"
                                                                   style="#{put.typeID == propertyUseTypeBB.currentPut.typeID ? 'background-color: #dee461; color:black;':''}"
                                                                   styleClass="multiButtonLineButton"
                                                                   actionListener="#{propertyUseTypeBB.viewPropertyUseType(put)}"
                                                                   update="put-addedit-form
                                                                   put-list-form
                                                                   put-growl-form"
                                                    >
                                                        <h:outputText
                                                            value="#{put.typeID == propertyUseTypeBB.currentPut.typeID ? 'selected' : 'view'}"/>
                                                    </p:commandLink>
                                                    <p:spacer height="2px"/>
                                                    <h:outputText value="(ID: #{put.typeID})"/>
                                                </div>

                                                <p:spacer height="2px"/>

                                                <div class="restrict-main-contents-io-link">

                                                    <p:commandLink id="put-nuke-button"
                                                                   ajax="true"
                                                                   rendered="#{put.deactivatedTS == null}"
                                                                   disabled="false"
                                                                   title="Deactivate"
                                                                   actionListener="#{propertyUseTypeBB.onPropertyUseTypeNukeInitButtonChange(put)}"
                                                                   oncomplete="PF('put-nuke-dialog-var').show()"
                                                                   update="put-nuke-dialog
                                                                               put-nuke-form"
                                                                  >
                                                        <h:outputText value="deactivate"/>
                                                    </p:commandLink>

                                                </div>

                                            </p:column>

                                        </p:dataTable>
                                    </h:form>
                                </p:panel>
                            </div>
                            <div class="object-column">
                                <h:form id="put-addedit-form">
                                    <p:commandButton id="put-edit-cb"
                                                     icon="pi pi-#{propertyUseTypeBB.editModePropertyUseTypeInfo ? 'save':'pencil'}"
                                                     ajax="true"
                                                     actionListener="#{propertyUseTypeBB.togglePropertyUseTypeAddEditButtonChange}"
                                                     value="#{propertyUseTypeBB.editModePropertyUseTypeInfo ? 'save edits' : 'edit'}"
                                                     styleClass="inline-spaced-control-label"
                                                     update="@form
                                                     put-growl-form
                                                     put-list-panel"/>
                                    <div class="gray_button">
                                        <p:commandButton id="put-cancel-cb"
                                                         ajax="true"
                                                         value="Cancel"
                                                         immediate="true"
                                                         icon="pi pi-stop-circle"
                                                         rendered="#{propertyUseTypeBB.editModePropertyUseTypeInfo}"
                                                         actionListener="#{propertyUseTypeBB.onOperationPropertyUseTypeAddEditAbort}"
                                                         update="@form"/>
                                    </div>
                                    <p:panel id="put-view-panel"
                                             toggleable="true"
                                             collapsed="false"
                                             header="PropertyUse Type: #{propertyUseTypeBB.currentPut.name}">
                                        <div class="p-grid">
                                            <div class="p-col-4 restrict-data-field-label-inline">
                                                <h:outputText value="ID:"/>
                                            </div>
                                            <div class="p-col-8 restrict-data-field-value-inline">
                                                <h:outputText value="#{propertyUseTypeBB.currentPut.typeID}"
                                                              rendered="#{propertyUseTypeBB.currentPut.typeID ne 0}"/>
                                                <h:outputText value="[new record]"
                                                              rendered="#{propertyUseTypeBB.currentPut.typeID eq 0}"/>
                                            </div>
                                            <div class="p-col-4 restrict-data-field-label-inline">
                                                <h:outputText value="Name:"/>
                                            </div>
                                            <div class="p-col-8 restrict-data-field-value-inline">
                                                <h:outputText value="#{propertyUseTypeBB.currentPut.name}"
                                                              rendered="#{!propertyUseTypeBB.editModePropertyUseTypeInfo}"/>

                                                <p:inputText id="put-insert-name"
                                                             value="#{propertyUseTypeBB.currentPut.name}"
                                                             required="true"
                                                             rendered="#{propertyUseTypeBB.editModePropertyUseTypeInfo}"
                                                             maxlength="50"
                                                />
                                            </div>
                                            <div class="p-col-4 restrict-data-field-label-inline">
                                                <h:outputText value="Description:"/>
                                            </div>
                                            <div class="p-col-8 restrict-data-field-value-inline">
                                                <h:outputText
                                                    value="#{propertyUseTypeBB.currentPut.description}"
                                                        rendered="#{!propertyUseTypeBB.editModePropertyUseTypeInfo}"/>

                                                <p:inputText id="put-insert-description"
                                                             value="#{propertyUseTypeBB.currentPut.description}"
                                                             rendered="#{propertyUseTypeBB.editModePropertyUseTypeInfo}"
                                                             maxlength="100"
                                                />
                                            </div>
                                            <div class="p-col-4 restrict-data-field-label-inline">
                                                <h:outputText value="Icon:"/>
                                            </div>
                                            <div class="p-col-8 restrict-data-field-value-inline">
                                                <h:panelGroup rendered="#{!propertyUseTypeBB.editModePropertyUseTypeInfo}">
                                                    <i class="material-icons">
                                                        <h:outputText value="#{propertyUseTypeBB.currentPut.icon.materialIcon}" />
                                                    </i>
                                                </h:panelGroup>
                                                
                                                <tt:iconSelector value="#{propertyUseTypeBB.currentPut.icon}"
                                                         iconList="#{propertyUseTypeBB.iconList}"
                                                         rendered="#{propertyUseTypeBB.editModePropertyUseTypeInfo}"
                                                         required="true"/>
                                            </div>
                                            <div class="p-col-4 restrict-data-field-label-inline">
                                                <h:outputText value="Zone Class:"/>
                                            </div>
                                            <div class="p-col-8 restrict-data-field-value-inline">
                                                <h:outputText value="#{propertyUseTypeBB.currentPut.zoneClass}"
                                                              rendered="#{!propertyUseTypeBB.editModePropertyUseTypeInfo}"/>

                                                <p:inputText id="put-insert-zoneclass"
                                                             value="#{propertyUseTypeBB.currentPut.zoneClass}"
                                                             rendered="#{propertyUseTypeBB.editModePropertyUseTypeInfo}"
                                                />
                                            </div>
                                        </div>
                                    </p:panel>
                                </h:form>
                        </div>
                            
                    </div>
                  </div>
                   <p:dialog id="put-nuke-dialog"
                              widgetVar="put-nuke-dialog-var"
                              header="Nuke PropertyUse Type"
                              closeOnEscape="true"
                              closable="true"
                              resizable="true"
                              responsive="true"
                              height="300" width="550"
                              rendered="true"
                    >

                        <h:form id="put-nuke-form">

                            <div class="ui-g data_container_nested_restrict">
                                <div class="ui-g-12 ui-md-6 ui-lg-6 restrict-data-field">
                                    <div class="restrict-data-field-label-inline">
                                        <h:outputLabel>
                                            <h:outputText
                                                    value="Nuked PropertyUse Types can only be rescued by sys admins...and they will grumble while doing so."/>
                                        </h:outputLabel>
                                    </div>
                                </div>
                                <div class="ui-g-12 ui-md-6 ui-lg-6 restrict-data-field">
                                    <div class="restrict-main-contents-io-button red_button">
                                        <p:commandButton id="put-nuke-confirm-button"
                                                         ajax="true"
                                                         action="#{propertyUseTypeBB.onPropertyUseTypeNukeCommitButtonChange()}"
                                                         value="Nuke PropertyUse Type"
                                                         icon="pi pi-trash"
                                                         oncomplete="PF('put-nuke-dialog-var').hide();"
                                                         update="put-list-panel
                                                         put-addedit-form
                                                         put-growl-form"
                                                         rendered="true"
                                        />
                                    </div>
                                </div>
                            </div>

                        </h:form>

                    </p:dialog> 
                </f:view>
</ui:composition>