<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    <h:head>
        <link rel="stylesheet" type="text/css" href="css/style.css"></link>
        <title>UMAP Log Explorer</title>
    </h:head>
    <h:body>
        <ui:composition template="/restricted/navContainer_restricted.xhtml">
            <ui:define name="content">
                <div class="mainContainer">
                    <h:form id="umaplog-messages-form">
                        <h:messages id="umaplog-messages" globalOnly="true" showDetail="true" showSummary="true"
                                    warnClass="msgWarn" infoClass="msgInfo" fatalClass="msgFatal" errorClass="msgError">
                        </h:messages>
                    </h:form>

                    <h1>UMAP Log Explorer</h1>
                    <f:view>
                        <h:form id="umaplog-form">
                            <div class="p-grid">
                                
                            <div class="p-col-6 restrict-data-field-label-vertical">

                                <p:outputLabel for="umaplog-date-start-val" 
                                               value="start date"/>
                            </div>
                            <div class="p-col-6 restrict-data-field-label-vertical">

                                <p:outputLabel for="umaplog-date-end-val" 
                                               value="end date"/>
                            </div>
                            <div class="p-col-6 restrict-data-field-value-vertical">

                                <p:datePicker 	id="umaplog-date-start-val" 
                                               value="#{uMAPLogBB.startDate}" 
                                               disabled="false"
                                               rendered="true"
                                               style="width: 100%;"
                                               pattern="MM/dd/yyyy HH:mm"
                                               hideOnDateTimeSelect="true"
                                               showOnFocus="false"
                                               showIcon="true"
                                               showButtonBar="true"
                                               mask="true"
                                               timeInput="true" 
                                               required="true" />
                            </div>
                                
                            <div class="p-col-6 restrict-data-field-value-vertical">

                                <p:datePicker 	id="umaplog-date-end-val" 
                                               value="#{uMAPLogBB.endDate}" 
                                               rendered="true"
                                               style="width: 100%;"
                                               pattern="MM/dd/yyyy HH:mm"
                                               hideOnDateTimeSelect="true"
                                               showOnFocus="false"
                                               showIcon="true"
                                               showButtonBar="true"
                                               mask="true"
                                               timeInput="true" 
                                               required="true" />
                            </div>

                            </div>
                            <p:spacer height="5px"/>

                            <p:commandButton value="Search for UMAP Logs" 
                                             icon="pi pi-search" 
                                             actionListener="#{uMAPLogBB.queryUMAPLogs}"
                                             rendered="#{systemServicesBB.bbSessionUser.keyCard.hasSysAdminPermissions}"
                                             update="@form
                                             umaplog-messages-form"/>

                            <p:spacer height="15px"/>
                            
                            <h:outputText value="showing (#{uMAPLogBB.currentUMAPLog.size()}) records"
                                          styleClass="italic"/>

                            <p:spacer height="5px"/>

                            <p:dataTable
                                id="umaps-log-table"
                                value="#{uMAPLogBB.currentUMAPLog}"
                                rendered="true"
                                var="entry"
                                rowKey="#{entry.logBookEntryID}"
                                tableStyleClass="primeDataTable">

                                <p:column sortBy="#{entry.entryTS}">
                                    <f:facet name="header">
                                        <h:outputText value="TS" />
                                    </f:facet>
                                    <h:outputText value="#{entry.entryTS}"/>
                                </p:column>
                                <p:column sortBy="#{entry.muniNameFlattened}">
                                    <f:facet name="header">
                                        <h:outputText value="Municipality" />
                                    </f:facet>
                                    <h:outputText value="#{entry.muniNameFlattened}"/>
                                </p:column>
                                <p:column sortBy="#{entry.userNameFlattened}">
                                    <f:facet name="header">
                                        <h:outputText value="Username (ID)" />
                                    </f:facet>
                                    <h:outputText value="#{entry.userNameFlattened}"/>
                                    <h:outputText value=" (#{entry.userID})"/>
                                </p:column>
                                <p:column sortBy="#{entry.umapRank.label}">
                                    <f:facet name="header">
                                        <h:outputText value="Rank" />
                                    </f:facet>
                                    <h:outputText value="#{entry.umapRank.label}"/>
                                </p:column>
                                <p:column sortBy="#{entry.ceo}">
                                    <f:facet name="header">
                                        <h:outputText value="CEO?" />
                                    </f:facet>
                                    <h:outputText value="#{entry.ceo ? 'Yes':'No'}"/>
                                </p:column>
                                <p:column>
                                    <f:facet name="header">
                                        <h:outputText value="Log entry ID" />
                                    </f:facet>
                                    <h:outputText value="#{entry.logBookEntryID}"/>
                                </p:column>
                                <p:column>
                                    <f:facet name="header">
                                        <h:outputText value="AuthPerID" />
                                    </f:facet>
                                    <h:outputText value="#{entry.userMuniAuthPeriodID}"/>
                                </p:column>
                                <p:column sortBy="#{entry.header_remoteaddr}">
                                    <f:facet name="header">
                                        <h:outputText value="Client address" />
                                    </f:facet>
                                    <h:outputText value="#{entry.header_remoteaddr}"/>
                                </p:column>
                            </p:dataTable>
                        </h:form>
                    </f:view>
                </div>
            </ui:define>
        </ui:composition>
    </h:body>
</html>