<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:tt="http://xmlns.jcp.org/jsf/composite/components">
    <h:body>
        <ui:composition template="/restricted/navContainer_restricted.xhtml">
            <ui:define name="content">
                <f:view id="occperiod-workflow-view">
                    <p:outputPanel id="body-panel">
                        <h:form id="messages-global-form">

                            <p:growl id="messages-global-growl"
                                     redisplay="true"/>

                        </h:form>
                        <!-- Title -->
                        <h:form id="occperiod-launcher">
                            <h1>
                                <h:outputText value="Permit File: " />
                                <h:outputText id="header-addr-ot" value="#{occPeriodBB.currentPropertyDH.address.addressPretty1Line} "/>
                                <h:outputText id="header-unit-ot" value="Unit #{occPeriodBB.currentPropertyUnit.unitNumberCleaned} "/>

                            </h1>
                        </h:form>
                        <ui:include src="/restricted/cogstaff/event/compositions/eventTools.xhtml"/>
                        <div class="mainContainer">
                            <!-- Navbar -->
                            <div class="page-links">

                                <div class="restrict-main-contents-io-link link-button">
                                    <a href="#occperiod-status-panel">
                                        <h:outputText value="file status" />
                                    </a>
                                </div>

                                <h:outputText value=" | " />

                                <div class="restrict-main-contents-io-link link-button">
                                    <a href="#inspections-panel">
                                        <h:outputText value="field inspections"/>
                                    </a>
                                </div>

                                <h:outputText value=" | " />


                                <div class="restrict-main-contents-io-link link-button">
                                    <a href="#occperiod-permits-panel">
                                        <h:outputText value="permits"/>
                                    </a>
                                </div>

                                <h:outputText value=" | " />


                                <div class="restrict-main-contents-io-link link-button">
                                    <a href="#events-panel">
                                        <h:outputText value="events"/>
                                    </a>
                                </div>

                                <h:outputText value=" | " />


                                <div class="restrict-main-contents-io-link link-button">
                                    <a href="#notes-panel">
                                        <h:outputText value="notes"/>
                                    </a>
                                </div>

                                <h:outputText value=" | " />

                                <div class="restrict-main-contents-io-link link-button help-icon-tightright">
                                    <a href="https://technologyrediscovery.github.io/codenforce/occ/User_documentation_ACT#permit-files"
                                       target="_blank">
                                        <i class="material-icons"
                                           style="display: inline-block">help_outline</i>
                                    </a>
                                </div>
                                <div class="restrict-main-contents-io-link link-button help-text-tightleft">
                                    <a href="https://technologyrediscovery.github.io/codenforce/occ/User_documentation_ACT#permit-files"
                                       target="_blank">
                                        <h:outputText value="page help" />
                                    </a>
                                </div>
                            </div>

                            <ui:include src="compositions/occtasks.xhtml"/>

                            <div class="ui-g data_container_nested_restrict">
                                <!-- First column -->
                                <div class="ui-g-12 ui-md-6 ui-lg-6 restrict-data-field">
                                    <ui:include src="compositions/statusPanel.xhtml"/>
                                    <ui:include src="/restricted/compositions/violationMigration.xhtml" />


                                    <ui:include src="compositions/permitsPanel.xhtml"/>

                                    <p:panel    id="occperiod-persons-panel"
                                                toggleable="true"
                                                widgetVar="occperiod-person-panel-var"
                                                collapsed="false"
                                                rendered="true">

                                        <f:facet name="header">
                                            <h:outputText value="Person-permit file links" />

                                        </f:facet>

                                        <h:form id="occperiod-persons-panel-form">

                                            <p:commandButton   id="occperiod-persons-manage-button"
                                                               ajax="true"
                                                               actionListener="#{personBB.onSelectAndLinkPersonsInit(occPeriodBB.currentOccPeriod)}"
                                                               oncomplete="PF('human-search-dialog-var').show()"
                                                               rendered="#{systemServicesBB.bbSessionUser.keyCard.hasMuniStaffPermissions}"
                                                               disabled="#{!empty occPeriodBB.currentOccPeriod.deactivatedTS}"
                                                               value="Manage person links"
                                                               update=" human-search-dialog
                                                               messages-global-form
                                                               search-query-form
                                                               pers-selected-form
                                                               hlh-humlist-form
                                                               pers-upstreampool-panel
                                                               pers-upstreampool-form"
                                                               icon="pi pi-user-edit"
                                                               >
                                                <f:param name="person-list-component-to-update"
                                                         value="occperiod-persons-panel-form:occperiod-persons-table" />
                                            </p:commandButton>

                                            <p:spacer height="5px" />

                                            <p:dataTable id="occperiod-persons-table"
                                                         value="#{occPeriodBB.managedHumanLinkList}"
                                                         rendered="true"
                                                         var="humlink"
                                                         tableStyleClass="primeDataTable"
                                                         rowKey="#{humlink.humanID}"
                                                         >

                                                <p:column headerText="Name"
                                                          width="35%"
                                                          styleClass="centeredColumnContent">
                                                    <h:outputText value="#{humlink.name}" />

                                                </p:column>

                                                <p:column headerText="Role"
                                                          width="35%"
                                                          styleClass="centeredColumnContent">
                                                    <h:outputText value="#{humlink.linkedObjectRole.title}"/>

                                                </p:column>

                                                <p:column headerText="Actions"
                                                          width="30%"
                                                          styleClass="centeredColumnContent">
                                                    <p:commandLink      id="prop-person-exploreperson-cl"
                                                                        ajax="true"
                                                                        style="color:blue;"
                                                                        action="#{personBB.onHumanViewLinkClick(humlink, occPeriodBB.currentOccPeriod)}"
                                                                        value="View/Edit person"
                                                                        oncomplete="PF('person-profile-dialog-var').show();"
                                                                        update="person-profile-dialog
                                                                        topnav-pers-form"
                                                                        >
                                                        <f:param name="person-list-component-to-update"
                                                                 value="occperiod-persons-panel-form:occperiod-persons-table" />
                                                    </p:commandLink>
                                                    <h:outputText value=" (HumID: #{humlink.humanID})" />
                                                    <p:spacer height="3px" />
                                                    <p:commandLink      id="prop-personlink-vieweditlink-cl"
                                                                        ajax="true"
                                                                        style="color:blue;"
                                                                        action="#{personBB.onHumanLinkEditInitButtonChange(humlink, occPeriodBB.currentOccPeriod)}"
                                                                        value="View/Edit link"
                                                                        oncomplete="PF('humanlink-viewedit-dialog-var').show();"
                                                                        update="humanlink-viewedit-dialog
                                                                        humanlink-viewedit-form"
                                                                        >
                                                        <f:param name="person-list-component-to-update"
                                                                 value="occperiod-persons-panel-form:occperiod-persons-table" />
                                                    </p:commandLink>
                                                    <p:spacer height="3px" />
                                                    <h:outputText value="(LinkID: #{humlink.linkID})" />
                                                </p:column>
                                            </p:dataTable>
                                        </h:form>
                                    </p:panel>

                                </div>
                                <!-- Second column -->
                                <div class="ui-g-12 ui-md-6 ui-lg-6 restrict-data-field">

                                    <ui:include src="/restricted/cogstaff/event/compositions/eventListPanel.xhtml" />
                                    <tt:inspectionPanelCC id="occperiod-inspectionpanelcc"
                                                          inspectable="#{occPeriodBB.currentOccPeriod}"
                                                          containerid="occperiod-inspectionpanelcc" />

                                    <ui:remove>

                                        <ui:include src="../compositions/chargesPaymentsTools.xhtml"/>
                                    </ui:remove>


                                    <p:panel id="occperiod-blobs-panel"
                                             toggleable="true"
                                             collapsed="false"
                                             rendered="true"
                                             >
                                        <f:facet name="header">
                                            <h:outputText value="Files and Photos" />

                                            <div class="restrict-main-contents-io-link link-button help-icon-tightright">
                                                <a href="https://technologyrediscovery.github.io/codenforce/case/casescreen#upload-files-and-photos"
                                                   target="_blank">
                                                    <i class="material-icons"
                                                       style="display: inline-block">help_outline</i>
                                                </a>
                                            </div>
                                            <div class="restrict-main-contents-io-link link-button help-text-tightleft"
                                                 style="margin-right: 10px;">
                                                <a href="https://technologyrediscovery.github.io/codenforce/case/casescreen#upload-files-and-photos"
                                                   target="_blank">
                                                    <h:outputText value="help" />
                                                </a>
                                            </div>
                                        </f:facet>




                                        <h:form id="occperiod-blobs-form">

                                            <p:commandButton    id="occperiod-blob-add-button"
                                                                ajax="true"
                                                                styleClass="noFill button-size-small"
                                                                actionListener="#{blobUtilitiesBB.onUploadBlobInitButtonChange(occPeriodBB.currentOccPeriod)}"
                                                                rendered="#{systemServicesBB.permissionAllowAncillaryObjectEdit}"
                                                                oncomplete="PF('blob-upload-dialog-var').show()"
                                                                update="blob-upload-dialog
                                                                blob-uploadconnect-tabview"
                                                                value="Upload photo or document"
                                                                icon="pi pi-cloud-upload"
                                                                >
                                                <f:param name="blob-list-component-to-update" value="occperiod-blobs-form" />
                                            </p:commandButton>

                                            <p:spacer height="5px" />

                                            <p:dataTable
                                                id="occperiod-blobs-table"
                                                value="#{occPeriodBB.managedBlobLightList}"
                                                rendered="true"
                                                var="blob"
                                                rowKey="#{blob.photoDocID}"
                                                tableStyleClass="primeDataTable"
                                                resizableColumns="true"
                                                draggableRows="false" tabindex="6">

                                                <p:column width="15%">
                                                    <f:facet name="header">
                                                        <h:outputText value="Preview"/>
                                                    </f:facet>
                                                    <p:commandLink      id="blob-view-button3"
                                                                        ajax="true"
                                                                        styleClass="noFill button-size-small"
                                                                        action="#{blobUtilitiesBB.onViewBlobLinkClick(blob, occPeriodBB.currentOccPeriod )}"
                                                                        value="view"
                                                                        oncomplete="PF('blobs-viewblob-dialog-var').show()"
                                                                        update="blobs-viewblob-dialog
                                                                        blob-viewblob-form"
                                                                        rendered="#{blob.type.browserViewable}"
                                                                        >
                                                        <p:graphicImage value="#{blobsterBB.image}"
                                                                        alt="no preview available"
                                                                        style="width: 100px"
                                                                        cache="true"
                                                                        rendered="#{blob.type.browserViewable}">
                                                            <f:param name="blobid" value="#{blob.photoDocID}"/>
                                                        </p:graphicImage>
                                                    </p:commandLink>

                                                    <h:outputText value="no preview available; download to view"
                                                                  rendered="#{!blob.type.browserViewable}" />
                                                </p:column>



                                                <p:column width="45%">
                                                    <f:facet name="header">
                                                        <h:outputText value="Info"/>
                                                    </f:facet>
                                                    <div class="rowExpansion">
                                                        <h:outputText value="title: #{blob.title}"/>
                                                        <br/>
                                                        <h:outputText value="descr: #{blob.description}"/>
                                                        <br/>
                                                        <h:outputText value="filename: #{blob.filename}"/>
                                                        <br/>
                                                        <h:outputText value="created: #{occPeriodBB.getPrettyDateNoTime(blob.createdTS)}"/>
                                                        <br/>
                                                        <h:outputText value="type: #{blob.type.title}"/>
                                                    </div>
                                                </p:column>


                                                <p:column>
                                                    <f:facet name="header">
                                                        <h:outputText value="Actions"/>
                                                    </f:facet>
                                                    <p:commandButton 
                                                        value="Download" 
                                                        ajax="false"
                                                        icon="fa fa-arrow-down" 
                                                        styleClass="ui-button-outlined">
                                                        <p:fileDownload value="#{blobRetrieveBB.retrieveBlob(blob)}"
                                                                        />
                                                    </p:commandButton>
                                                    <br/>
                                                    <div class="restrict-main-contents-io-link link-button">

                                                        <p:commandLink      id="blob-update-button"
                                                                            ajax="true"
                                                                            styleClass="noFill button-size-small"
                                                                            action="#{blobUtilitiesBB.onViewBlobLinkClick(blob, occPeriodBB.currentOccPeriod)}"
                                                                            value="view"
                                                                            oncomplete="PF('blobs-viewblob-dialog-var').show()"
                                                                            update="blobs-viewblob-dialog
                                                                            blob-viewblob-form"
                                                                            />
                                                        <p:spacer height="3px" />
                                                        <p:commandLink      id="blob-edit-button"
                                                                            ajax="true"
                                                                            styleClass="noFill button-size-small"
                                                                            rendered="#{systemServicesBB.permissionAllowAncillaryObjectEdit}"
                                                                            action="#{blobUtilitiesBB.onBlobEditMetaDataInitLinkClick(blob, occPeriodBB.currentOccPeriod)}"
                                                                            value="edit"
                                                                            oncomplete="PF('blobs-vieweditmetadata-dialog-var').show()"
                                                                            update="blob-vieweditmetadata-dialog
                                                                            blob-veweditmetadata-form"
                                                                            >
                                                            <f:param name="blob-list-component-to-update" value="occperiod-blobs-form" />
                                                        </p:commandLink>
                                                        <p:spacer height="3px" />
                                                        <p:commandLink      id="blob-remove-button"
                                                                            ajax="true"
                                                                            styleClass="noFill button-size-small"
                                                                            action="#{blobUtilitiesBB.onDeactivateBlobInitLinkClick(blob, occPeriodBB.currentOccPeriod)}"
                                                                            oncomplete="PF('blobs-deactivate-dialog-var').show();"
                                                                            value="remove"
                                                                            update="blob-deactivate-dialog
                                                                            blob-deactivate-form"
                                                                            >
                                                            <f:param name="blob-list-component-to-update" value="occperiod-blobs-form" />
                                                        </p:commandLink>
                                                    </div>
                                                </p:column>
                                            </p:dataTable>
                                        </h:form>
                                    </p:panel>

                                    <ui:include src="../compositions/notesPanel.xhtml"/>
                                </div>
                            </div>
                        </div>
                    </p:outputPanel>
                </f:view>
            </ui:define>
        </ui:composition>
    </h:body>
</html>

