<?xml version='1.0' encoding='UTF-8' ?>
<!--
Copyright (C) 2020 Technology Rediscovery LLC.

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <link rel="stylesheet" type="text/css" href="css/style.css"></link>
        <title>Edit Application Unit List</title>
    </h:head>
    <h:body>
        <ui:composition template="/restricted/navContainer_restricted.xhtml">
            <ui:define name="content">
                <f:view id="period-creation-view">

                    <div class="mainContainer">

                        <!--Global Messages-->
                        <h:form id="period-creation-messages-form">
                            <p:messages id="period-creation-messages" globalOnly="true" showDetail="true" showSummary="true" />
                        </h:form>

                        <p:panel id="manage-units-panel"
                                 toggleable="true"
                                 widgetVar="manage-units-panel-var"
                                 collapsed="false"
                                 header="Units On Property">

                            <h:form id="manage-units-info-form">

                                <div class="ui-g data-container">

                                    <div class="ui-g-12 ui-md-9 ui-lg-9 data_field">
                                        <h:outputLabel styleClass="data_table_header" 
                                                       value="Edit unit list and then select a unit to put on the application.
                                                       The highlighted unit is currently on the application." />
                                        <h:outputLabel styleClass="data_field_label" 
                                                       value="Your changes to the unit list at #{occPermitApplicationManageBB.propertyForApplication.address} will be saved to the database
                                                       should you accept them."/>
                                        <br />
                                        <h:outputLabel styleClass="data_field_label" 
                                                       value="WARNING: Make sure to check public-proposed changes to units before editing the unit list."/>

                                    </div>

                                    <div class="ui-g-12 ui-md-6 ui-lg-3 data_field">
                                        <h:outputLabel styleClass="data_field_label" 
                                                       value="What units would you like to see?"/>
                                        <p:selectOneMenu style="width: 300px;" 
                                                         id="prop-unit-list-viewoptions" 
                                                         value="#{occPermitApplicationManageBB.currentViewOption}"
                                                         >

                                            <p:ajax update="manage-units-info-form"/>

                                            <f:selectItems  id="select-view-option-items"
                                                            value="#{propertyUnitsBB.allViewOptions}"
                                                            var="vo"
                                                            itemValue="#{vo}"
                                                            itemLabel="#{vo.label}"/>
                                        </p:selectOneMenu>
                                    </div>

                                    <p:dataTable
                                        id="propertyUnits"
                                        value="#{occPermitApplicationManageBB.unitList}"
                                        rendered="#{!empty occPermitApplicationManageBB.unitList}"
                                        widgetVar="datatable"
                                        rowIndexVar="rowIndex"
                                        var="unit"
                                        selectionMode="single" tabindex="1"
                                        selection="#{occPermitApplicationManageBB.selectedApplication.applicationPropertyUnit}"
                                        rowKey="#{unit.unitID}"
                                        editable="true">                                         

                                        <p:column headerText="Unit Number">
                                            <p:cellEditor>
                                                <f:facet name="output"><h:outputText value="#{unit.unitNumber}" /></f:facet>
                                                <f:facet name="input">
                                                    <p:inputText value="#{unit.unitNumber}"
                                                                 onkeydown="PF('datatable').onKeyDown(event)"
                                                                 onkeyup="PF('datatable').onKeyUp(event, #{rowIndex})"/>
                                                </f:facet>
                                            </p:cellEditor>
                                        </p:column>

                                        <p:column headerText="Rental Intent Date Start:">
                                            <p:cellEditor>
                                                <f:facet name="output">
                                                    <h:outputText value="#{unit.rentalIntentDateStart}" />
                                                </f:facet>
                                                <f:facet name="input">
                                                    <p:datePicker 	id="unit-rental-start-datepicker"
                                                                   value="#{unit.rentalIntentDateStart}"
                                                                   rendered="true"
                                                                   style="width: 100%;"
                                                                   pattern="MM/dd/yyyy HH:mm"
                                                                   disabled="false"
                                                                   hideOnDateTimeSelect="true"
                                                                    showOnFocus="false"
                                                                    showIcon="true"
                                                                   showButtonBar="true"
                                                                   mask="true"
                                                                   timeInput="true" 
                                                                   required="true" />


                                                </f:facet>
                                            </p:cellEditor>
                                        </p:column>

                                        <p:column headerText="Unit Intent Date End:">
                                            <p:cellEditor>
                                                <f:facet name="output">
                                                    <h:outputText value="#{unit.rentalIntentDateStop}" />
                                                </f:facet>
                                                <f:facet name="input">
                                                    <p:datePicker 	id="unit-rental-stop-datepicker"
                                                                   value="#{unit.rentalIntentDateStop}"
                                                                   rendered="true"
                                                                   style="width: 100%;"
                                                                   pattern="MM/dd/yyyy HH:mm"
                                                                   disabled="false"
                                                                   hideOnDateTimeSelect="true"
                                                                    showOnFocus="false"
                                                                    showIcon="true"
                                                                   showButtonBar="true"
                                                                   mask="true"
                                                                   timeInput="true" 
                                                                   required="true" />
                                                </f:facet>
                                            </p:cellEditor>
                                        </p:column>

                                        <p:column headerText="Rental notes">
                                            <p:cellEditor>
                                                <f:facet name="output">
                                                    <h:outputText value="#{unit.rentalNotes}" />
                                                </f:facet>
                                                <f:facet name="input"> 
                                                    <p:inputText value="#{unit.rentalNotes}"
                                                                 onkeydown="PF('datatable').onKeyDown(event)"
                                                                 onkeyup="PF('datatable').onKeyUp(event, #{rowIndex})"/>
                                                </f:facet>
                                            </p:cellEditor>
                                        </p:column>

                                        <p:column headerText="Unit Description">
                                            <p:cellEditor>
                                                <f:facet name="output">
                                                    <h:outputText value="#{unit.notes}" />
                                                </f:facet>
                                                <f:facet name="input">
                                                    <p:inputText value="#{unit.notes}" 
                                                                 onkeydown="PF('datatable').onKeyDown(event)"
                                                                 onkeyup="PF('datatable').onKeyUp(event, #{rowIndex})"/>
                                                </f:facet>
                                            </p:cellEditor>
                                        </p:column>

                                        <p:column style="width:40px" headerText="Edit?">
                                            <p:rowEditor/>
                                        </p:column>

                                        <p:column headerText="Remove?">
                                            <p:selectBooleanButton onLabel="Active" offLabel="Deactivated" id="button-editunits-deactivateunit" 
                                                                   value="#{unit.active}" 
                                                                   rendered="#{unit.unitID!=0}"
                                                                   />
                                            <p:commandButton ajax="true" value="Remove" 
                                                             action="#{occPermitApplicationManageBB.removeSelectedUnit(unit)}"
                                                             rendered="#{unit.unitID==0}"
                                                             update="manage-units-info-form"/>                                     
                                        </p:column>
                                    </p:dataTable>

                                    <div class="ui-g-12 ui-md-6 ui-lg-3 data_field">
                                        <p:commandButton value="Add a unit" ajax="true"
                                                         actionListener="#{occPermitApplicationManageBB.addNewUnit()}"
                                                         update="manage-units-info-form"/> 
                                    </div>

                                </div>

                                <p:commandButton action="#{occPermitApplicationManageBB.acceptUnitListChanges()}"
                                                 value="Accept changes to Unit List" icon="fa fa-check"
                                                 update="period-creation-messages-form"/>
                                <p:commandButton value="Cancel" icon="pi pi-stop" 
                                                 action="#{occPermitApplicationManageBB.cancelAttachment()}"/>

                                <script type="text/javascript">

                                    $(function () {
                                        $.extend(PF("datatable"), {
                                            onKeyDown: function (e) {
                                                var key = e.which,
                                                        keyCode = $.ui.keyCode;

                                                if ((key === keyCode.ENTER || key === keyCode.NUMPAD_ENTER)) {
                                                    e.preventDefault();
                                                }
                                            },

                                            onKeyUp: function (e, rowIndex) {
                                                var key = e.which,
                                                        keyCode = $.ui.keyCode;
                                                //.ui-row-editor-check .ui-icon-check .ui-c
                                                if ((key === keyCode.ENTER || key === keyCode.NUMPAD_ENTER)) {
                                                    this.tbody
                                                            .find('.ui-row-editor .ui-icon-check')
                                                            .eq(rowIndex)
                                                            .click();
                                                }

                                                if (key === keyCode.ESCAPE) {
                                                    this.tbody
                                                            .find('.ui-row-editor .ui-icon-close')
                                                            .eq(rowIndex)
                                                            .click();
                                                }
                                            }
                                        });
                                    });

                                </script>

                            </h:form>

                        </p:panel>

                    </div>

                </f:view>

            </ui:define>

        </ui:composition>

    </h:body>

</html>