<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <link rel="stylesheet" type="text/css" href="css/style.css"></link>
        <title>OccPermit Type Configuration</title>
    </h:head>
    <h:body>
        <ui:composition template="/restricted/navContainer_restricted.xhtml">
            <ui:define name="content">
                <f:view>
                    <div class="mainContainer">
                        <div class="title-container">
                            <h1>Permitting Subsystem Configuration</h1>
                        </div>
                        <p>Create and edit the core objects which populate codeNforce's occupancy permitting facility.</p>

                        <p:tabView id="occperiod-permit-types-tabview">
                            <p:tab title="Permit File Types">
                                <ui:include src="compositions/occConfig_periodTypes.xhtml" />
                            </p:tab>

                            <p:tab title="Certificate Types">
                                <ui:include src="compositions/occConfig_permitTypes.xhtml" />
                                
                            </p:tab>
                            <p:tab title="Permitting Task Chains">
                                <ui:include src="compositions/occConfig_taskChains.xhtml" />
                                
                            </p:tab>
                        </p:tabView>
                    </div>
                </f:view>
            </ui:define>
        </ui:composition>
    </h:body>
</html>