<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:tt="http://xmlns.jcp.org/jsf/composite/components">

    
    <h:form id="sessmuni-growl-form" >
        <p:growl id="sessmuni-growl" />
    </h:form>

    
    <div class="activebob-container p-col"
         id="activbob-muni">
        <div class="ui-g">
            <!--NESTED DATA FIELD VERTICAL-->
            <div class="restrict-data-field-vertical">
                <div class="aob-container aob-container-iconifiedheader box-icon-wrap">                 
                    <i class="material-icons">
                        <h:outputText value="location_city"/>
                    </i>
                    <h:outputText value="Municipality"/>
                </div>
                <div class="aob-container aob-container-objectstring">

                    <h:outputText value="#{sessionBean.sessMuni.muniName}"
                                  styleClass="#{sessionBean.crossMuniViewMode ? 'xmuni-muniname-authorized':''}"/>

                    <p:spacer height="3px"
                              rendered="#{sessionBean.crossMuniViewMode and not empty sessionBean.crossMuniMuni}" />

                    <h:outputText value="Cross-muni: #{sessionBean.crossMuniMuni.muniName} (#{sessionBean.crossMuniMuni.muniCode})"
                                  styleClass="xmuni-muniname-foreignmuniname"
                                  rendered="#{sessionBean.crossMuniViewMode and not empty sessionBean.crossMuniMuni}"/>
                </div>
                
                <div class="aob-container aob-container-actions">
                    <h:form id="topnav-muni-form">
                        <div class="restrict-main-contents-io-link link-button p-p-0">

                            <p:commandLink    id="aob-muni-dash-cl" 
                                              value="dashboard"
                                              action="#{navigationBB.navigateToDashboard}"
                                              ajax="false"
                                              disabled="#{sessionBean.crossMuniViewMode}"/>                            

                            <h:outputText value=" | " />

                            <p:commandLink    id="aob-muni-change-cl" 
                                              value="change muni"
                                              action="#{missionControlBB.reauthenticate}" 
                                              ajax="false"
                                              disabled="#{sessionBean.crossMuniViewMode}"/>

                            <h:outputText value=" | " />

                                <p:commandLink id="navcontres-button-logout2"
                                               action="#{systemServicesBB.logout}"
                                               value="logout"
                                               ajax="false"/>

                            <br />

                            <div class="restrict-main-contents-io-link">

                                <p:commandLink id="muni-tools-link"
                                               value="muni tools"
                                               type="button" 
                                               rendered="true"/>

                                <h:outputText value=" | " />

                                <p:commandLink id="code-tools-link"
                                               value="ordinances"
                                               type="button" 
                                               rendered="true"/>

                                <h:outputText value=" | " />

                                <p:commandLink id="navbar-button-usersettings2"
                                               value="user" 
                                               ajax="true"
                                               actionListener="#{userBB.initiateUserUpdates}"
                                               rendered="true"
                                               disabled="false"
                                               oncomplete="PF('navcontainer-dialog-usersettings').show()"
                                               />

                                <h:outputText value=" | " />
                                
                                <p:commandLink id="cnf-tools-link"
                                               value="cnf"
                                               type="button" 
                                               rendered="true"/>

                            </div>
                            
                            <p:overlayPanel for="muni-tools-link"
                                            style="width:450px;" 
                                            dismissable="true"
                                            showCloseIcon="true"
                                            modal="true"
                                            >

                                <h:outputText value="#{sessionBean.sessMuni.muniName} (#{sessionBean.sessMuni.muniCode})"
                                              styleClass="larger-text"/>
                                
                                
                                <p:divider type="dashed" />
                                
                                <div class="restrict-main-contents-io-link">
                                    
                                    <p:commandLink    id="munikeydocs-cl" 
                                                      value="important muni documents and files"
                                                      ajax="true"
                                                      oncomplete="PF('muni-keydocs-dialog-var').show();"
                                                      update="muni-keydocs-outpanel"
                                                      disabled="#{sessionBean.crossMuniViewMode}"/>
                                </div>
                                    <p:spacer height="3px" />
                                    <h:outputText value="Upload and access key files like frequenlty used forms, instructions, citation templates, letterhead and more." 
                                                  styleClass="italic"
                                                  style="font-weight: normal;"/>

                                <p:divider type="dashed" />

                                
                                <div class="restrict-main-contents-io-link">
                                    <p:commandLink    id="aob-viewprofile-cl" 
                                                      value="permissions"
                                                      ajax="true"
                                                      oncomplete="PF('muniprofile-userview-dialog-var').show();"
                                                      update="muniprofile-userview-dialog"
                                                      disabled="#{sessionBean.crossMuniViewMode}"/>
                                    <p:spacer height="3px" />
                                    <h:outputText value="View your current codeNforce user's info, authorization status, and default behavior settings." 
                                                  styleClass="italic"
                                                  style="font-weight: normal;"/>

                                </div>

                                <p:divider type="dashed" />

                                <div class="restrict-main-contents-io-link">
                                    <p:commandLink    id="aob-muni-property-cl" 
                                                      value="muni property"
                                                      action="#{navigationBB.navigateToMuniPropertyDH}" 
                                                      ajax="false"
                                                      disabled="#{sessionBean.crossMuniViewMode}"/>
                                    <p:spacer height="3px" />
                                    <h:outputText value="Navigate to this municipality's authoritative property which holds the default system permit file." 
                                                  styleClass="italic"
                                                  style="font-weight: normal;"/>
                                </div>

                                <p:divider type="dashed" />
                            </p:overlayPanel>
                            
                            <p:overlayPanel for="code-tools-link"
                                            style="width:250px;" 
                                            dismissable="true"
                                            showCloseIcon="true"
                                            modal="true"
                                            >
                                <div class="restrict-data-field-vertical">
                                    <div class="aob-container aob-container-iconifiedheader box-icon-wrap">                   
                                        <i class="material-icons">
                                            <h:outputText value="gavel"/>
                                        </i>
                                        <h:outputText value="Code Book"/>
                                    </div>
                                    <div class="aob-container aob-container-objectstring">
                                        <h:outputText value="#{sessionBean.sessMuni.codeSet.codeSetName}"/>
                                    </div>
                                    <div class="aob-container aob-container-actions">
                                        <div class="restrict-main-contents-io-link link-button p-p-0">
                                            <p:commandLink    id="navcontres-button-ordinances" 
                                                              value="ordinances"
                                                              action="#{navigationBB.onOrdinancesLinkClick}"
                                                              ajax="false"
                                                              disabled="#{sessionBean.crossMuniViewMode}"/>
                                            <h:outputText value=" | " />
                                            <p:commandLink      id="navcontres-button-categories" 
                                                                value="categories"
                                                                oncomplete="PF('codeguide-list-dialog-var').show()"
                                                                update="  codeguide-list-dialog
                                                                codeguide-list-form"
                                                                actionListener="#{codeElementGuideBB.onViewCodeGuideNavLinkClick}"
                                                                ajax="true"
                                                                disabled="#{sessionBean.crossMuniViewMode}"/>
                                            <br />
                                            <p:commandLink    id="navcontres-button-codebook" 
                                                              value="code book"
                                                              action="#{navigationBB.onCodebookLinkClick}"
                                                              ajax="false"
                                                              disabled="#{sessionBean.crossMuniViewMode}"/>
                                            <h:outputText value=" | " />
                                            <p:commandLink    id="navcontres-button-checklists" 
                                                              value="checklists"
                                                              action="#{navigationBB.onChecklistsLinkClick()}"
                                                              ajax="false"
                                                              disabled="#{sessionBean.crossMuniViewMode}"/>
                                        </div>
                                    </div>
                                </div>
                                
                            </p:overlayPanel>
                            
                              <p:overlayPanel for="cnf-tools-link"
                                            style="width:250px;" 
                                            dismissable="true"
                                            showCloseIcon="true"
                                            modal="true"
                                  >
                                                
                                <h3>Version and user info</h3>
                                
                                <h:outputText value="cnf v3.4.0"/>
                                <h:outputText value=" | "/>
                                <h:outputText value="#{systemServicesBB.bbSessionUser.human.name} ( #{systemServicesBB.bbSessionUser.username})"/>
                                <h:outputText value=" | "/>
                                <h:outputText value="#{systemServicesBB.bbSessionUser.keyCard.governingAuthPeriod.role.label}"/>
                                <h:outputText value=" (#{systemServicesBB.bbSessionUser.keyCard.governingAuthPeriod.role.rank}"/>
                                <h:outputText value="#{systemServicesBB.bbSessionUser.keyCard.governingAuthPeriod.codeOfficer ? '+ code officer':''}) "/>
                                <h:outputText value=" | "/>
                                  
                                <p:divider type="dashed" />
                                
                                <h3>System tools</h3>
                                
                                <div class="restrict-main-contents-io-link">
                                    
                                    <p:commandLink    id="flushcaches-cl" 
                                                      value="flush all codeNforce object caches"
                                                      ajax="true"
                                                      update="sessmuni-growl-form"
                                                      actionListener="#{systemServicesBB.onFlushAllCaches}"
                                                      disabled="false"/>
                                </div>
                                    <p:spacer height="3px" />
                                
                                    <h:outputText value="Removes all objects from their database caches which may fix problems related to updates not 'sticking' or percolating propertly through the system due to back-end cache mis-management. Flushing system caches is a harmless operation that can be undertaken without fear. The only side effect is slightly longer load times for the next cycle of object loads since a round trip will be made to the DB to repopulate the cache." 
                                                  styleClass="italic"
                                                  style="font-weight: normal;"/>
                                
                                
                              </p:overlayPanel>

                        </div>
                    </h:form>
                </div>
            </div>
        </div>
    </div>
    <ui:include src="/restricted/cogstaff/code/compositions/codeGuideTools.xhtml" />

    <p:dialog id="muniprofile-userview-dialog"
              widgetVar="muniprofile-userview-dialog-var"
              closeOnEscape="true"
              closable="true"
              header="Current Permissions Profile: #{systemServicesBB.bbSessionUser.governingMuniProfile.title}"
              modal="true"
              width="800"
              height="600">
        <h:form id="muniprofile-userview-form">
            <p>Your session is currently governed by the following permissions settings. Only users with system admin rank can edit and activate municipality permissions profiles.</p>
            <p:panel id="profile-user-panel"
                     toggleable="true"
                     widgetVar="profile-user-panel-var"
                     collapsed="false">
                <f:facet name="header">
                    <h:outputText value="Current user parameters" />
                </f:facet>
                <div class="p-grid">
                    <div class="p-col-4 restrict-data-field-label-inline">
                        <h:outputText value="Username" />
                    </div>
                    <div class="p-col-8 restrict-data-field-value-inline">
                        <h:outputText value="#{systemServicesBB.bbSessionUser.username} (ID: #{systemServicesBB.bbSessionUser.userID})" />
                    </div>
                    <div class="p-col-4 restrict-data-field-label-inline">
                        <h:outputText value="Role and Rank" />
                    </div>
                    <div class="p-col-8 restrict-data-field-value-inline">
                        <h:outputText value="#{systemServicesBB.bbSessionUser.keyCard.governingAuthPeriod.role.label} (#{systemServicesBB.bbSessionUser.keyCard.governingAuthPeriod.role.rank})" />
                    </div>
                    <div class="p-col-4 restrict-data-field-label-inline">
                        <h:outputText value="Code officer permissions?" />
                    </div>
                    <div class="p-col-8 restrict-data-field-value-inline">
                        <h:outputText value="#{systemServicesBB.bbSessionUser.keyCard.hasEnfOfficialPermissions ? 'Yes':'No'} " />
                    </div>
                    <div class="p-col-4 restrict-data-field-label-inline">
                        <h:outputText value="UMAP ID" />
                    </div>
                    <div class="p-col-8 restrict-data-field-value-inline">
                        <h:outputText value="#{systemServicesBB.bbSessionUser.keyCard.governingAuthPeriod.userMuniAuthPeriodID} " />
                    </div>
                </div>
            </p:panel>
            <p:panel id="profile-userview-general-panel"
                     toggleable="true"
                     widgetVar="profile-userview-general-panel-var"
                     collapsed="false">
                <f:facet name="header">
                    <h:outputText value="General Info" />
                </f:facet>
                <div class="p-grid">
                    <div class="p-col-4 restrict-data-field-label-inline">
                        <h:outputText value="ID" />
                    </div>
                    <div class="p-col-8 restrict-data-field-value-inline">
                        <h:outputText value="#{systemServicesBB.bbSessionUser.governingMuniProfile.profileID eq 0 ? '[new record]': systemServicesBB.bbSessionUser.governingMuniProfile.profileID}"
                                      rendered="true"/>
                    </div>
                    <div class="p-col-4 restrict-data-field-label-inline">
                        <h:outputText value="Title:" />
                    </div>
                    <div class="p-col-8 restrict-data-field-value-inline">
                        <h:outputText value="#{systemServicesBB.bbSessionUser.governingMuniProfile.title}"
                                      rendered="true"/>
                    </div>
                    <div class="p-col-4 restrict-data-field-label-inline">
                        <h:outputText value="Description" />
                    </div>
                    <div class="p-col-8 restrict-data-field-value-inline">
                        <h:outputText value="#{systemServicesBB.bbSessionUser.governingMuniProfile.description}"
                                      rendered="true"/>
                    </div>
                </div>
                <div class="p-grid" >
                    <div class="p-col-4">
                        <h:outputLabel styleClass="ui-label" 
                                       for="som-occperiodtype" 
                                       value="Permit types" />
                    </div>
                    <div class="p-col-8">
                        <ui:repeat id="muni-occperiodtypes-uir"
                                   var="opt"
                                   value="#{systemServicesBB.bbSessionUser.governingMuniProfile.occPermitTypeList}"
                                   rendered="true">
                            <h:outputText value="#{opt.permitTitle} (ID:#{opt.typeID})" />
                            <p:spacer height="2px" />
                        </ui:repeat>
                    </div>
                </div>

                <h2>Session initialization parameters</h2>
                <div class="p-grid">
                    <div class="p-col-8 restrict-data-field-label-inline">
                        <h:outputText value="Auto load open CE Cases on session initialization" />
                    </div>
                    <div class="p-col-4 restrict-data-field-value-inline">
                        <h:outputText value="#{systemServicesBB.bbSessionUser.governingMuniProfile.autoloadOpenCECases ? 'Yes':'No'}"
                                      rendered="true"/>
                    </div>
                    <div class="p-col-8 restrict-data-field-label-inline">
                        <h:outputText value="Auto load open permit files on session initialization" />
                    </div>
                    <div class="p-col-4 restrict-data-field-value-inline">
                        <h:outputText value="#{systemServicesBB.bbSessionUser.governingMuniProfile.autoloadOpenOccPeriods ? 'Yes':'No'}"
                                      rendered="true"/>
                    </div>
                </div>
                <h2>Search</h2>

                <div class="p-col-6 restrict-data-field-label-inline">
                    <h:outputText value="Automatic property search results role filter" />
                </div>
                <div class="p-col-6 restrict-data-field-value-inline">
                    <h:outputText value="#{not empty systemServicesBB.bbSessionUser.governingMuniProfile.propSearchFilter ? 'Yes: ':'No'}"
                                  rendered="true"/>
                    <h:outputText value="#{systemServicesBB.bbSessionUser.governingMuniProfile.propSearchFilter.title}"
                                  rendered="true"/>
                </div>


                <h2>Code Enforcement Case Priority Assignment Subsystem Parameters (CECPASP)</h2>
                <div class="p-grid">
                    <div class="p-col-8 restrict-data-field-label-inline">
                        <h:outputText value="Compliance deadline administrative buffer (days):" />
                    </div>
                    <div class="p-col-4 restrict-data-field-value-inline">
                        <h:outputText value="#{systemServicesBB.bbSessionUser.governingMuniProfile.priorityParamDeadlineAdministrativeBufferDays}"
                                      rendered="true"/>
                    </div>
                    <div class="p-col-8 restrict-data-field-label-inline">
                        <h:outputText value="Letter postage latancy buffer (days):" />
                    </div>
                    <div class="p-col-4 restrict-data-field-value-inline">
                        <h:outputText value="#{systemServicesBB.bbSessionUser.governingMuniProfile.priorityParamLetterSendBufferDays}"
                                      rendered="true"/>
                    </div>
                    <div class="p-col-8 restrict-data-field-label-inline">
                        <h:outputText value="Prioritize letter follow-up buffer over stip comp dates:"/>
                    </div>
                    <div class="p-col-4 restrict-data-field-value-inline">
                        <h:outputText value="#{systemServicesBB.bbSessionUser.governingMuniProfile.prioritizeLetterFollowUpBuffer ? 'Yes':'No'}"
                                      rendered="true" />
                    </div>
                    <div class="p-col-8 restrict-data-field-label-inline">
                        <h:outputText value="Allow event category green buffers:"/>
                    </div>
                    <div class="p-col-4 restrict-data-field-value-inline">
                        <h:outputText value="#{systemServicesBB.bbSessionUser.governingMuniProfile.priorityAllowEventCategoryGreenBuffers ? 'Yes':'No'}"
                                      rendered="true" />
                    </div>
                </div>
                <h2>Property permissions</h2>
                <div class="p-grid">
                    <div class="p-col-8 restrict-data-field-label-inline">
                        <h:outputText value="Require manager rank to edit parcel data:"/>
                    </div>
                    <div class="p-col-4 restrict-data-field-value-inline">
                        <h:outputText value="#{systemServicesBB.bbSessionUser.governingMuniProfile.managerRequiredAbandonment ? 'Yes':'No'}"
                                      rendered="true" />
                    </div>
                </div>

                <h2>Ordinance management</h2>
                <div class="p-grid">
                    <div class="p-col-8 restrict-data-field-label-inline">
                        <h:outputText value="Require manager rank to edit code sources and ordinances:"/>
                    </div>
                    <div class="p-col-4 restrict-data-field-value-inline">
                        <h:outputText value="#{systemServicesBB.bbSessionUser.governingMuniProfile.managerRequiredCodeSourceManage ? 'Yes':'No'}"
                                      rendered="true" />
                    </div>
                    <div class="p-col-8 restrict-data-field-label-inline">
                        <h:outputText value="Require manager rank to edit code books:"/>
                    </div>
                    <div class="p-col-4 restrict-data-field-value-inline">
                        <h:outputText value="#{systemServicesBB.bbSessionUser.governingMuniProfile.managerRequiredCodeBookManage ? 'Yes':'No'}"
                                      rendered="true" />
                    </div>
                </div>
                <h2>Field inspections</h2>
                <div class="p-grid">
                    <div class="p-col-8 restrict-data-field-label-inline">
                        <h:outputText value="Require manager rank to edit field inspection checklists:"/>
                    </div>
                    <div class="p-col-4 restrict-data-field-value-inline">
                        <h:outputText value="#{systemServicesBB.bbSessionUser.governingMuniProfile.managerRequiredChecklistEdit ? 'Yes':'No'}"
                                      rendered="true" />
                    </div>
                    <div class="p-col-8 restrict-data-field-label-inline">
                        <h:outputText value="Require code officer status to conduct field inspections:"/>
                    </div>
                    <div class="p-col-4 restrict-data-field-value-inline">
                        <h:outputText value="#{systemServicesBB.bbSessionUser.governingMuniProfile.requireCodeOfficerTrueConductInspection ? 'Yes':'No'}"
                                      rendered="true" />
                    </div>
                    <div class="p-col-8 restrict-data-field-label-inline">
                        <h:outputText value="Require code officer status to finalze field inspections:"/>
                    </div>
                    <div class="p-col-4 restrict-data-field-value-inline">
                        <h:outputText value="#{systemServicesBB.bbSessionUser.governingMuniProfile.requireCodeOfficerTrueFinalizeInspection ? 'Yes':'No'}"
                                      rendered="true" />
                    </div>
                    <div class="p-col-8 restrict-data-field-label-inline">
                        <h:outputText value="Require manager rank to finalize field inspections:"/>
                    </div>
                    <div class="p-col-4 restrict-data-field-value-inline">
                        <h:outputText value="#{systemServicesBB.bbSessionUser.governingMuniProfile.managerRequiredInspectionFinalize ? 'Yes':'No'}"
                                      rendered="true" />
                    </div>
                </div>
                <h2>CE Case: Violations</h2>
                <div class="p-grid">

                    <div class="p-col-8 restrict-data-field-label-inline">
                        <h:outputText value="Require code officer status to attach violation to CE Case:"/>
                    </div>
                    <div class="p-col-4 restrict-data-field-value-inline">
                        <h:outputText value="#{systemServicesBB.bbSessionUser.governingMuniProfile.requireCodeOfficerTrueAttachViolToCECase ? 'Yes':'No'}"
                                      rendered="true" />
                    </div>
                    <div class="p-col-8 restrict-data-field-label-inline">
                        <h:outputText value="Require manager rank to extend violation stipulated compliance date:"/>
                    </div>
                    <div class="p-col-4 restrict-data-field-value-inline">
                        <h:outputText value="#{systemServicesBB.bbSessionUser.governingMuniProfile.managerRequiredViolationExtStipComp ? 'Yes':'No'}"
                                      rendered="true" />
                    </div>
                </div>
                <h2>CE Case: Letters </h2>
                <div class="p-grid">

                    <div class="p-col-8 restrict-data-field-label-inline">
                        <h:outputText value="Require code officer status to finalize Letters:"/>
                    </div>
                    <div class="p-col-4 restrict-data-field-value-inline">
                        <h:outputText value="#{systemServicesBB.bbSessionUser.governingMuniProfile.requireCodeOfficerTrueFinalizeNOV? 'Yes':'No'}"
                                      rendered="true" />
                    </div>
                    <div class="p-col-8 restrict-data-field-label-inline">
                        <h:outputText value="Require manager rank to finalize letters:"/>
                    </div>
                    <div class="p-col-4 restrict-data-field-value-inline">
                        <h:outputText value="#{systemServicesBB.bbSessionUser.governingMuniProfile.managerRequiredNOVFinalize ? 'Yes':'No'}"
                                      rendered="true" />
                    </div>
                </div>
                <h2>CE Case: Citations </h2>
                <div class="p-grid">
                    <div class="p-col-8 restrict-data-field-label-inline">
                        <h:outputText value="Require code officer status to draft citations:"/>
                    </div>
                    <div class="p-col-4 restrict-data-field-value-inline">
                        <h:outputText value="#{systemServicesBB.bbSessionUser.governingMuniProfile.requireCodeOfficerTrueUpdateCitation? 'Yes':'No'}"
                                      rendered="true" />
                    </div>
                    <div class="p-col-8 restrict-data-field-label-inline">
                        <h:outputText value="Require code officer status to issue citations:"/>
                    </div>
                    <div class="p-col-4 restrict-data-field-value-inline">
                        <h:outputText value="#{systemServicesBB.bbSessionUser.governingMuniProfile.requireCodeOfficerTrueUpdateCitation ? 'Yes':'No'}"
                                      rendered="true" />
                    </div>
                    <div class="p-col-8 restrict-data-field-label-inline">
                        <h:outputText value="Require manager rank to issue or update citations:"/>
                    </div>
                    <div class="p-col-4 restrict-data-field-value-inline">
                        <h:outputText value="#{systemServicesBB.bbSessionUser.governingMuniProfile.managerRequiredCitationOpenClose ? 'Yes':'No'}"
                                      rendered="true" />
                    </div>
                </div>
                <h2>CE Case: Case closure </h2>
                <div class="p-grid">
                    <div class="p-col-8 restrict-data-field-label-inline">
                        <h:outputText value="Require code officer status to close CE Cases"/>
                    </div>
                    <div class="p-col-4 restrict-data-field-value-inline">
                        <h:outputText value="#{systemServicesBB.bbSessionUser.governingMuniProfile.requireCodeOfficerTrueCloseCECase ? 'Yes':'No'}"
                                      rendered="true" />
                    </div>
                    <div class="p-col-8 restrict-data-field-label-inline">
                        <h:outputText value="Require manager rank to close a CE Case"/>
                    </div>
                    <div class="p-col-4 restrict-data-field-value-inline">
                        <h:outputText value="#{systemServicesBB.bbSessionUser.governingMuniProfile.managerRequiredcCloseCECase ? 'Yes':'No'}"
                                      rendered="true" />
                    </div>
                </div>
                <h2>Permit files: Permits</h2>
                <div class="p-grid">

                    <div class="p-col-8 restrict-data-field-label-inline">
                        <h:outputText value="Require code officer status to finalize/issue occupancy permits:"/>
                    </div>
                    <div class="p-col-4 restrict-data-field-value-inline">
                        <h:outputText value="#{systemServicesBB.bbSessionUser.governingMuniProfile.requireCodeOfficerTrueIssuePermits ? 'Yes':'No'}"
                                      rendered="true" />
                    </div>
                    <div class="p-col-8 restrict-data-field-label-inline">
                        <h:outputText value="Require manager rank to finalize/issue occupancy permits:"/>
                    </div>
                    <div class="p-col-4 restrict-data-field-value-inline">
                        <h:outputText value="#{systemServicesBB.bbSessionUser.governingMuniProfile.managerRequiredPermitFinalize ? 'Yes':'No'}"
                                      rendered="true" />
                    </div>
                </div>
            </p:panel>
        </h:form>
    </p:dialog>

    <!--this is our key injection point for all pages who use blob tools; this insert should not be placed anywhere else on the restricted side-->
    <ui:include src="/restricted/compositions/blobTools.xhtml" />
    
    <p:dialog header="Municipality important documents" 
              widgetVar="muni-keydocs-dialog-var" 
              responsive="true" 
              width="1200"
              modal="true"
              height="700"
              closable="true"
              closeOnEscape="true">
        
        <p:outputPanel id="muni-keydocs-outpanel" >
            <tt:blobsPanelCC    id="muni-keydocs-tt"
                                blobholder="#{sessionBean.sessMuni}"
                                componentid="muni-keydocs-tt"
                                disablecontrols="#{false}" />

        </p:outputPanel>
    </p:dialog>
    
    <p:dialog header="User settings" 
              widgetVar="navcontainer-dialog-usersettings" 
              responsive="true" 
              width="1000"
              modal="false"
              height="500">
        <h2>
            <h:outputText value="User settings:"/>

            <h:outputText value="#{userBB.currentUser.username}"/>
            <h:outputText value=" (ID: "/>
            <h:outputText value="#{userBB.currentUser.userID}"/>
            <h:outputText value=")"/>
            <h:outputText value=" "/>
            <h:outputText value="#{userBB.currentUser.human.name}"/>
            <h:outputText value=" "/>
            <h:outputText value="(HID: "/>
            <h:outputText value="#{userBB.currentUser.human.humanID}"/>
            <h:outputText value=")"/>
        </h2>

        <div class="ui-g data-container">

            <div class="ui-g-12 ui-md-12 ui-lg-12 data_field">

                <h:outputText value="#{userBB.currentUser.role.label}"/>
                <h:outputText value=" : "/>
                <h:outputText value="rnk" 
                              class="dtype-label"/>
                <h:outputText value=" : "/>
                <h:outputText value="#{userBB.currentUser.role.rank}"/>

                <h:outputText value="Auth Muni: #{userBB.currentUser.keyCard.governingAuthPeriod.muni.muniName}"/>
                <h:outputText value="Auth Period ID: #{userBB.currentUser.keyCard.governingAuthPeriod.userMuniAuthPeriodID}"/>
                <h:outputText value=" | "/>
                <h:outputText value="Period created TS: #{userBB.getPrettyDate(userBB.currentUser.keyCard.governingAuthPeriod.createdTS)}"/>
                <h:outputText value=" | "/>
                <h:outputText value="Assignment priority: #{userBB.currentUser.keyCard.governingAuthPeriod.assignmentRelativeOrder} "/>

            </div>
            <div class="ui-g-12 ui-md-12 ui-lg-12 data_field">

                <h:form id="usersettings-form-userpersonlink">

                    <h:outputText value="Your user is currently mapped to: "/>
                    <p:spacer height="5px"/>
                    <h:outputText value="#{userBB.currentUser.human.name}"/>
                    <h:outputText value=" (ID: #{userBB.currentUser.human.humanID})"/>
                    <h:outputText value=" "/>

                    <p:spacer height="3px" />

                    <p:commandButton id="usersettings-button-updatepersonlink"
                                     ajax="true"
                                     actionListener="#{userBB.commitUserHumanLinkUpdates}"
                                     update="
                                     usersettings-form-userpersonlink
                                     usersettings-notes-form"
                                     icon="pi pi-user-edit"
                                     value="Update user to current session person"
                                     tabindex="4"/>
                </h:form>

            </div>
            <div class="ui-g-12 ui-md-12 ui-lg-12 data_field">

                <h:form id="usersettings-notes-form">

                    <h:outputText value="Notes: " styleClass="bold"/>
                    <p:spacer height="3px"/>
                    <h:outputText   id="usersettings-notes-ot"
                                    value="#{userBB.currentUser.notes}" 
                                    escape="false"/>
                </h:form>
            </div>

            <h:form id="usersettings-umaps-table-form">
                <div class="ui-g-12 ui-md-12 ui-lg-12 data_field">

                    <p:dataTable
                        id="usersettings-umaps-table"
                        value="#{systemServicesBB.bbSessionUser.muniAuthPeriodListForCredMuni}"
                        rendered="#{!empty systemServicesBB.bbSessionUser.muniAuthPeriodListForCredMuni}"
                        var="period"
                        rowKey="#{period.userMuniAuthPeriodID}"
                        tableStyleClass="primeDataTable">

                        <p:column width="3%" exportable="false">
                            <f:facet name="header">
                                <h:outputText value="Expand row"/>
                            </f:facet>
                            <p:rowToggler/>
                        </p:column>

                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="Period ID"/>
                            </f:facet>
                            <h:outputText value="#{period.userMuniAuthPeriodID}"/>
                        </p:column>

                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="Muni"/>
                            </f:facet>
                            <h:outputText value="#{period.muni.muniName}"/>
                        </p:column>

                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="Access start"/>
                            </f:facet>
                            <h:outputText value="#{systemServicesBB.getPrettyDate(period.startDate)}"/>
                        </p:column>

                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="Access stop"/>
                            </f:facet>
                            <h:outputText value="#{systemServicesBB.getPrettyDate(period.stopDate)}"/>
                        </p:column>

                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="Role"/>
                            </f:facet>
                            <h:outputText value="#{period.role.label}"/>
                            <h:outputText value=" (rank: #{period.role.rank})"/>
                        </p:column>

                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="Deactivated TS"/>
                            </f:facet>
                            <h:outputText value="#{systemServicesBB.getPrettyDate(period.recorddeactivatedTS)}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="Assignment rank"/>
                            </f:facet>
                            <h:outputText value="#{period.assignmentRelativeOrder}"/>
                        </p:column>

                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="Actions"/>
                            </f:facet>

                        </p:column>
                        <p:rowExpansion>
                            <div class="outlinedBox">

                                <h:outputLabel value="Created by: "/>
                                <p:spacer height="0px"/>
                                <h:outputLabel value="user id: "/>
                                <h:outputText value="#{period.createdByUserID}"/>


                                <h:outputLabel value="Created TS:"/>
                                <h:outputText value="#{systemServicesBB.getPrettyDate(period.createdTS)}"/>

                                <h:outputLabel value="Notes"/>
                                <h:outputText value="#{period.notes}" escape="false"/>

                                <h4>Log entries associated with this authorization period</h4>

                                <p:scrollPanel id="usersettings-umaps-log-scrollpanel"
                                               style="height: 200px;">

                                    <p:dataTable
                                        id="usersettings-umaps-log-table"
                                        value="#{period.periodActivityLogBook}"
                                        rendered="#{!empty period.periodActivityLogBook}"
                                        var="entry"
                                        rowKey="#{entry.logBookEntryID}"
                                        tableStyleClass="primeDataTable">

                                        <p:column>
                                            <f:facet name="header">
                                                <h:outputText value="Log entry ID"/>
                                            </f:facet>
                                            <h:outputText value="#{entry.logBookEntryID}"/>
                                        </p:column>
                                        <p:column>
                                            <f:facet name="header">
                                                <h:outputText value="AuthPerID"/>
                                            </f:facet>
                                            <h:outputText value="#{entry.userMuniAuthPeriodID}"/>
                                        </p:column>
                                        <p:column>
                                            <f:facet name="header">
                                                <h:outputText value="Cat"/>
                                            </f:facet>
                                            <h:outputText value="#{entry.category}"/>
                                        </p:column>
                                        <p:column>
                                            <f:facet name="header">
                                                <h:outputText value="TS"/>
                                            </f:facet>
                                            <h:outputText value="#{entry.entryTS}"/>
                                        </p:column>
                                        <p:column>
                                            <f:facet name="header">
                                                <h:outputText value="Client address"/>
                                            </f:facet>
                                            <h:outputText value="#{entry.header_remoteaddr}"/>
                                        </p:column>
                                    </p:dataTable>
                                </p:scrollPanel>
                            </div>
                        </p:rowExpansion>
                    </p:dataTable>
                </div>
            </h:form>

            <h:form id="usersettings-form-close">                             

                <p:commandButton ajax="true" 
                                 value="Cancel" icon="pi pi-stop" 
                                 onclick="PF('navcontainer-dialog-usersettings').hide()"
                                 tabindex="4"/>


                <p:commandButton ajax="true" 
                                 value="Done!" icon="fa thumbs-up" 
                                 onclick="PF('navcontainer-dialog-usersettings').hide()"
                                 tabindex="4"/>
            </h:form>
        </div>

    </p:dialog>
</ui:composition>