<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns="http://www.w3.org/1999/xhtml">

    <div class="activebob-container p-col"
         id="aob-person">
        <div class="ui-g">
            <!--NESTED DATA FIELD VERTICAL-->
            <div class="restrict-data-field-vertical">
                <div class="aob-container aob-container-iconifiedheader box-icon-wrap">                   
                    <i class="material-icons">
                        <h:outputText value="person"/>
                    </i>
                    <h:outputText value="Person"/>
                </div>

                <ui:include src="/restricted/cogstaff/person/compositions/personTools.xhtml"/>

                <h:form id="topnav-pers-form">
                    <div class="aob-container aob-container-objectstring">
                        <f:subview id="person-link-subview"
                                   rendered="#{!empty sessionBean.sessPerson}">
                            <div class="restrict-main-contents-io-link link-button p-p-0">

                                <p:commandLink  id="activebob-persontools-cb"
                                                ajax="true"
                                                disabled="#{empty sessionBean.sessPerson}"
                                                actionListener="#{personBB.onViewCurrentPersonLinkClick}"
                                                update="person-info-form
                                                person-profile-addresses-form
                                                person-profile-phones-form
                                                person-profile-emails-form
                                                person-links-form
                                                person-profile-dialog"
                                                oncomplete="PF('person-profile-dialog-var').show();">

                                    <h:outputText value="#{sessionBean.sessPerson.name}"
                                                  />

                                </p:commandLink>
                            </div>
                        </f:subview>
                        <f:subview id="person-none-subview"
                                   rendered="#{!empty sessionBean.sessPerson}">

                            <h:outputText value="no person selected"
                                          styleClass="italic"
                                          rendered="#{empty sessionBean.sessPerson}"/>
                        </f:subview>
                    </div>

                    <div class="aob-container aob-container-actions">

                        <div class="restrict-main-contents-io-link">

                            <p:commandLink  id="activebob-perslist-cb"
                                            value="person search / add person"
                                            ajax="true"
                                            actionListener="#{personBB.onPersonSearchInitLinkClick}"
                                            oncomplete="PF('human-search-dialog-var').show();"
                                            update="human-search-dialog
                                            search-query-form
                                            pers-upstreampool-panel
                                            pers-upstreampool-form
                                            pers-search-results-form
                                            pers-selected-form
                                            hlh-humlist-form"/>
                        </div>
                    </div>
                </h:form>
            </div>
            <p:overlayPanel id="activebob-perslist-overlay"
                            widgetVar="activebob-perslist-overlay-var"
                            appendTo="activebob-person"
                            dismissable="true">
                <h:form id="topnav-perslist-form">
                    <b><h:outputText value="#{sessionBean.sessPersonList.size()} persons:"/></b><br/>
                    <ui:repeat id="activebob-perslist-repeat"
                               value="#{sessionBean.sessPersonList}"
                               var="spers">
                        <p:commandLink id="activebob-proplist-prop-explore-cl"
                                       action="#{navigationBB.onViewPersonListItemSelect(spers)}"
                                       ajax="false">
                            <h:outputText value="#{spers.name} (ID:#{spers.humanID})"/>
                            <p:spacer height="3px"/>
                        </p:commandLink>
                    </ui:repeat>
                </h:form>
            </p:overlayPanel>
        </div>
    </div>

</ui:composition>