<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns="http://www.w3.org/1999/xhtml">
    <div class="activebob-container p-col"
         id="aob-occperiod">

        <div class="ui-g">
            <div class="restrict-data-field-vertical ">
                <div class="aob-container aob-container-iconifiedheader  box-icon-wrap">
                    <i class="material-icons">
                        <h:outputText value="date_range"/>
                    </i>
                    <h:outputText value="Permit File"/>
                </div>
                <h:form id="topnav-occ-form">

                    <div class="aob-container aob-container-objectstring">
                        <f:subview id="occperiod-sessioninfo-subview"
                                   rendered="#{!empty sessionBean.sessOccPeriod}">

                            <div class="restrict-main-contents-io-link p-p-0">
                                <p:commandLink id="activebob-occperiod-view-cl"
                                               ajax="false"
                                               disabled="#{empty sessionBean.sessOccPeriod or sessionBean.crossMuniViewMode}"
                                               action="#{sessionBean.navigateToPageCorrespondingToObject(sessionBean.sessOccPeriod)}">

                                    <h:outputText value="Unit #{sessionBean.sessOccPeriod.propertyUnitNumber} (#{sessionBean.sessOccPeriod.periodType.title})"/>

                                </p:commandLink>
                            </div>

                        </f:subview>

                        <f:subview id="occperiod-none-subview"
                                   rendered="#{empty sessionBean.sessOccPeriod}">

                            <h:outputText value="no permit file selected"
                                          styleClass="italic"
                                          />
                        </f:subview>
                    </div>
                    <div class="aob-container aob-container-actions">

                        <p:commandLink   id="report-occactivity-cl" 
                                         ajax="true" 
                                         actionListener="#{occPermitActivityReportBB.onOccPermitActivityReportInit}"
                                         style="font-weight: bold; color:blue;"
                                         oncomplete="PF('occactivity-report-dialog-var').show()"
                                         value="permitting report" 
                                         update="occactivity-report-form"
                                         disabled="#{sessionBean.crossMuniViewMode}"/>
                    </div>
                </h:form>
            </div>
            <p:overlayPanel id="activebob-occperiodlist-overlay"
                            widgetVar="activebob-occperiodlist-overlay-var"
                            appendTo="activebob-occperiod"
                            dismissable="true">
                <h:form id="topnav-occperiodlist-form">

                    <b><h:outputText value="#{sessionBean.sessProperty.completePeriodList.size()} periods:"/></b><br/>

                    <ui:repeat id="activebob-occperiodlist-repeat"
                               value="#{sessionBean.sessProperty.completePeriodList}"
                               rendered="#{not empty sessionBean.sessProperty.completePeriodList}"
                               var="ose">
                        <p:commandLink id="activebob-proplist-prop-explore-cl"
                                       ajax="false"
                                       action="#{navigationBB.onOccPeriodListItemSelect(ose)}"
                                       disabled="#{sessionBean.crossMuniViewMode}">
                            <h:outputText value="#{ose.propertyAddressStringEscapeFalse} #{ose.propertyUnitNumber} (ID:#{ose.periodID})"/>
                        </p:commandLink>
                        <p:spacer height="2px"/>
                    </ui:repeat>
                </h:form>
            </p:overlayPanel>
        </div>
    </div>        
</ui:composition>