<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns="http://www.w3.org/1999/xhtml">

    <div class="activebob-container p-col"
         id="aob-cecase">
        <div class="ui-g">
            <!--NESTED DATA FIELD VERTICAL-->
            <div class="restrict-data-field-vertical">
                <div class="aob-container aob-container-iconifiedheader box-icon-wrap">                   
                    <i class="material-icons">
                        <h:outputText value="gavel"/>
                    </i>
                    <h:outputText value="CE Case"/>
                </div>

                <h:form id="topnav-cecase-form">
                    <div class="aob-container aob-container-objectstring">

                        <f:subview id="case-view-subview"
                                   rendered="#{!empty sessionBean.sessCECase}" >

                            <div class="restrict-main-contents-io-link p-p-0">
                                <p:commandLink id="activebob-cecase-view-cl"
                                               ajax="false"
                                               disabled="#{empty sessionBean.sessCECase}"
                                               action="#{sessionBean.navigateToPageCorrespondingToObject(sessionBean.sessCECase)}">
                                    <h:outputText value="#{sessionBean.sessCECase.caseName}" />
                                </p:commandLink>
                            </div>
                        </f:subview>

                        <f:subview id="case-none-subview"
                                   rendered="#{empty sessionBean.sessCECase}">
                            <h:outputText value="no case selected"
                                          styleClass="italic"
                                          />
                        </f:subview>
                    </div>

                    <div class="aob-container aob-container-actions">

                        <div class="restrict-main-contents-io-link p-p-0">

                            <p:commandLink id="activebob-cecaselist-view-cl"
                                           value="cases on sess prop"
                                           ajax="true"
                                           disabled="#{sessionBean.crossMuniViewMode}"
                                           actionListener="#{navigationBB.viewSessionCECaseList}"
                                           oncomplete="PF('activebob-cecaselist-dialog-var').show();"
                                           update="topnav-caselist-form"/>

                            <h:outputText value=" | " />

                            <p:commandLink   id="print-case-list-cl" 
                                             ajax="true" 
                                             actionListener="#{ceCaseSearchAndReportBB.prepareReportCECaseList}"
                                             styleClass="button"
                                             oncomplete="PF('cecase-list-report-dialog-var').show()"
                                             value="case list report" 
                                             update="cecase-list-report-form"
                                             disabled="#{sessionBean.crossMuniViewMode}"/>
                        </div>
                    </div>
                </h:form>

                <h:form id="cear-altert-form">
                    <a href="#dashpanel-ce-cears" class="pagejump-link">
                        <h:outputText value="Action requests: #{sessionBean.sessCEARListUnprocessed.size()} "
                                      rendered="#{sessionBean.sessCEARListUnprocessed.size() ne 0 and not sessionBean.crossMuniViewMode}"
                                      styleClass="cear-notice-text" />
                    </a>
                    <h:outputText value="No actions requests"
                                  rendered="#{sessionBean.sessCEARListUnprocessed.size() eq 0 and not sessionBean.crossMuniViewMode}"
                                  styleClass="noalerts-text" />
                </h:form>
            </div>

            <p:dialog id="activebob-cecaselist-dialog"
                      widgetVar="activebob-cecaselist-dialog-var"
                      width="70%"
                      height="550px"
                      closable="true"
                      closeOnEscape="true"
                      header="Open case list">

                <h:form id="topnav-caselist-form">
                    <h:outputText value="Cases in this list may not reflect the most recent changes to a case. Re-run dashboard case search to refresh this list." 
                                  class="italic"/>
                    <p:spacer height="3px" />
                    <p:dataTable
                        id="cecase-sessionlist-table"
                        value="#{sessionBean.sessProperty.ceCaseList}"
                        rendered="#{!empty sessionBean.sessProperty.ceCaseList}"
                        var="csefsl"
                        rowKey="#{csefsl.caseID}"
                        widgetVar="ceViewTable"
                        tableStyleClass="primeDataTable"
                        resizableColumns="true"
                        reflow="true"
                        >

                        <p:column width="15%" 
                                  sortBy="#{csefsl.priority.label}"
                                  styleClass="#{!empty csefsl.priority ? csefsl.priority.rowStyleClass:''}">

                            <f:facet name="header">
                                <h:outputText value="Priority" />
                                <p:spacer height="2px" />
                                <div class="restrict-main-contents-io-link link-button help-icon-tightright">
                                    <a href="https://technologyrediscovery.github.io/codenforce/dashboard/dashboard#case-priority-color-scheme"
                                       target="_blank">
                                        <i class="material-icons"
                                           style="display: inline-block">help_outline</i>
                                    </a>
                                </div>
                            </f:facet>

                            <i class="material-icons">
                                <h:outputText value="#{!empty csefsl.priorityIcon ? csefsl.priorityIcon.materialIcon:''}"/>
                            </i>

                            <p:spacer height="3px" />

                            <h:outputText value="#{csefsl.priority.label}" style="font-size:0.7em;" />

                        </p:column>

                        <p:column width="15%" 
                                  sortBy="#{csefsl.caseManager.human.name}">
                            <f:facet name="header">
                                <h:outputText value="Manager" />
                            </f:facet>
                            <h:outputText value="#{csefsl.caseManager.human.name}"/>
                        </p:column>

                        <p:column width="20%" 
                                  sortBy="#{csefsl.originationDate}">

                            <f:facet name="header">
                                <h:outputText value="Opened" />
                            </f:facet>
                            <h:outputText value="#{ceCaseSearchAndReportBB.getPrettyDateNoTime(csefsl.originationDate)}"/>
                            <p:spacer height="2px"/>
                            <h:outputText value="Age: #{csefsl.caseAge} days"
                                          style="font-style: italic"/>
                        </p:column>

                        <p:column width="35%" 
                                  sortBy="#{csefsl.addressPretty1Line}"
                                  >

                            <f:facet name="header">
                                <h:outputText value="Info" />
                            </f:facet>

                            <h:outputText value="#{csefsl.addressPretty1Line} "
                                          styleClass="bold"/>

                            <f:subview id="case-property-unit-subview"
                                       rendered="#{!empty csefsl.unitNumber}" >

                                <p:spacer height="2px"
                                          rendered="#{!(empty csefsl.unitNumber)}"/>
                                <h:outputText value="Unit: #{csefsl.unitNumber}" />
                            </f:subview>

                            <p:spacer height="2px"
                                      rendered="#{!(empty csefsl.originationEvent)}"/>

                            <h:outputText value="Origin: #{csefsl.originationEvent.category.eventCategoryTitle}"
                                          rendered="#{!empty csefsl.originationEvent}"/>

                            <p:spacer height="2px" />

                            <h:outputText value="Name: #{csefsl.caseName}"/>

                        </p:column>

                        <p:column width="10%">
                            <f:facet name="header">
                                <h:outputText value="Actions" />
                            </f:facet>

                            <div class="restrict-main-contents-io-link">

                                <p:commandLink  id="cecase-viewlist-view-case"
                                                value="view"
                                                action="#{navigationBB.onCECaseListItemSelect(csefsl)}"
                                                ajax="false" />
                                <p:spacer height="3px" />
                                <h:outputText value="(ID: #{csefsl.caseID})" />
                            </div>
                        </p:column>
                    </p:dataTable>
                </h:form>
            </p:dialog>

            <!--p:dialog|permit-choose text block-->
            <p:dialog id="cecaseadd-changemanager-dialog"
                      height="350" width="400"
                      widgetVar="cecaseadd-changemanager-dialog-var"
                      closable="true"
                      closeOnEscape="true"
                      resizable="true"
                      dynamic="true"
                      modal="true"
                      header="Change manager"
                      rendered="true">

                <h:form id="cecaseadd-changemanager-form">
                    <p>
                        <h:outputText value="Choose a manager to replace: #{ceCaseAddBB.currentCECase.caseManager.human.name}"
                                      rendered="#{not empty ceCaseAddBB.currentCECase and not empty ceCaseAddBB.currentCECase.caseManager}"/>
                    </p>

                    <p:selectOneMenu    id="cecase-changemanager-som"
                                        rendered="true"
                                        value="#{ceCaseAddBB.selectedManagerUser}"
                                        filter="true"
                                        filterMatchMode="contains"
                                        required="true"
                                        converter="userConverter">
                        <f:selectItems value="#{ceCaseAddBB.managerUserCandidateList}" 
                                       var="user"
                                       itemLabel="#{user.human.name} (#{user.username})"
                                       itemValue="#{user}"/>
                    </p:selectOneMenu>

                    <p:spacer height="3px" />

                    <p:commandButton id="cecase-changemanager-commit-cb"
                                     value="Save manager change"
                                     actionListener="#{ceCaseAddBB.onChangeManagerCommit}"
                                     rendered="true"
                                     ajax="true"
                                     icon="pi pi-save"
                                     update="#{ceCaseAddBB.ceCaseAddFormPathForUpdate} "
                                     oncomplete="PF('cecaseadd-changemanager-dialog-var').hide();"
                                     />
                </h:form>
            </p:dialog>
        </div>
    </div>
</ui:composition>