<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns="http://www.w3.org/1999/xhtml">

    <div class="activebob-container p-col"
         id="aob-property">

        <div class="ui-g data_container_nested_restrict">

            <!--NESTED DATA FIELD VERTICAL-->
            <div class="ui-g-12 ui-md-12 ui-lg-12 restrict-data-field-vertical">

               
            </div>
        </div>
    </div>
</ui:composition>