<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns="http://www.w3.org/1999/xhtml">
    <!--This is the ONE place we load all our inspection components for use system wide-->
    
    <ui:include src="/restricted/compositions/inspectionTools.xhtml"/>
    
    <div class="activebob-container p-col"
         id="activbob-code">

        <div class="ui-g">
            <!--NESTED DATA FIELD VERTICAL-->
            <div class="restrict-data-field-vertical">
                <div class="aob-container aob-container-iconifiedheader box-icon-wrap">                   
                    <i class="material-icons">
                        <h:outputText value="checklist"/>
                    </i>
                    <h:outputText value="Field Inspections"/>
                </div>
                <div class="aob-container aob-container-objectstring">
                    
                </div>
                <div class="aob-container aob-container-actions">
                    <h:form id="topnav-fin-form">
                        <div class="restrict-main-contents-io-link link-button p-p-0">
                            <p:commandLink    id="navcontres-button-fins-dispatched" 
                                              value="dispatched to mobile: #{sessionInspectionConductor.sessFieldInspectionsDispatched.size()}"
                                              actionListener="#{sessionInspectionConductor.viewDispatchedInspections}"
                                              ajax="true"
                                              disabled="#{sessionBean.crossMuniViewMode}"
                                              oncomplete="PF('field-fins-dialog-var').show();"
                                              update="field-fins-dialog" 
                                              />
                            
                            <br />
                            <f:subview id="routingrequired-fins-subview"
                                       rendered="#{sessionInspectionConductor.sessFieldInspectionsAwaitingRoutingList.size() ne 0}">

                                    <p:commandLink    id="navcontres-button-fins-routingrequired" 
                                                      value="unassigned inspections: #{sessionInspectionConductor.sessFieldInspectionsAwaitingRoutingList.size()}"
                                                      actionListener="#{sessionInspectionConductor.viewFieldInitInspections}"
                                                      disabled="#{sessionBean.crossMuniViewMode}"
                                                      oncomplete="PF('field-fins-dialog-var').show();"
                                                      update="field-fins-dialog" 
                                                      style=" color: #E91E63;"/>
                            </f:subview>
                            <f:subview id="noroutingrequired-fins-subview"
                                       rendered="#{sessionInspectionConductor.sessFieldInspectionsAwaitingRoutingList.size() eq 0}">
                                <h:outputText value="no unassigned inspections"
                                              styleClass="noalerts-text"/>
                            </f:subview>
                            
                            <br />
                            
                            <p:commandLink    id="navcontres-button-fins-recentlysynched" 
                                              value="recently uploaded #{sessionInspectionConductor.sessFieldInspectionsRecentlyUploaded.size()}"
                                              actionListener="#{sessionInspectionConductor.viewDispatchedInspections}"
                                              ajax="true"
                                              disabled="#{sessionBean.crossMuniViewMode}"
                                              oncomplete="PF('field-fins-dialog-var').show();"
                                              update="field-fins-dialog" 
                                              />
                            <h:outputText value=" | " />
                            
                            <p:commandLink    id="navcontres-button-fins-refresh" 
                                              value="refresh"
                                              actionListener="#{sessionInspectionConductor.refreshFieldFinLists}"
                                              ajax="true"
                                              disabled="#{sessionBean.crossMuniViewMode}"
                                              update="@form"/>
                        </div>
                    </h:form>
                </div>
            </div>
        </div>
    </div>
</ui:composition>