<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns="http://www.w3.org/1999/xhtml">

    <div class="activebob-container p-col"
         id="aob-property">
        <div class="ui-g ">
            <!--NESTED DATA FIELD VERTICAL-->
            <div class="restrict-data-field-vertical">
                <h:form id="topnav-prop-form">
                    <div class="aob-container aob-container-iconifiedheader box-icon-wrap">
                        <i class="material-icons">
                            <h:outputText value="home"/>
                        </i>
                        <h:outputText value="Property"/>
                    </div>

                    <div class="aob-container aob-container-objectstring">
                        <div class="restrict-main-contents-io-link link-button p-p-0">
                            <p:commandLink id="activebob-proplist-prop-explore-cl"
                                           action="#{sessionBean.viewSessionProperty}"
                                           ajax="false">
                                <h:outputText value="#{sessionBean.sessProperty.address.addressPretty1Line}"
                                              rendered="#{!empty sessionBean.sessProperty.address and !empty sessionBean.sessProperty.address}"/>
                                <h:outputText value="#{sessionBean.sessProperty.countyParcelID}"
                                              rendered="#{empty sessionBean.sessProperty.address}"/>
                            </p:commandLink>
                        </div>
                    </div>

                    <div class="aob-container aob-container-actions">

                        <div class="restrict-main-contents-io-link link-button p-p-0">

                            <p:commandLink id="activebob-proplist-cb"
                                           value="property search"
                                           oncomplete="PF('prop-search-dialog-var').show();"
                                           disabled="#{sessionBean.crossMuniViewMode}"/>

                            <br />

                            <p:commandLink id="mad-tools-link"
                                           value="mailing address tools"
                                           type="button" 
                                           rendered="true"/>

                        </div>

                        <p:overlayPanel for="mad-tools-link"
                                        style="width:450px;" 
                                        dismissable="true"
                                        showCloseIcon="true"
                                        modal="true"
                                        >

                            <h3>Mailing address tools</h3>
                            
                            <f:subview id="session-mad-subview"
                                       rendered="#{not empty sessionBean.sessMailingAddress}">
                                
                                <div class="restrict-main-contents-io-link">

                                    <p:commandLink id="activebob-sessionmad-cl"
                                                   value="current mailing address: #{sessionBean.sessMailingAddress.addressPretty1Line}"
                                                   ajax="true"
                                                   actionListener="#{addressBB.onMailingAddressViewEditLinkClick(sessionBean.sessMailingAddress)}"
                                                   disabled="#{sessionBean.crossMuniViewMode}" 
                                                   oncomplete="PF('address-dialog-var').show();"
                                                   update="address-dialog
                                                            address-dialog-outpanel
                                                            addresses-growl-form"
                                                   />

                                </div>
                            </f:subview>
                            <f:subview id="session-nomad-subview"
                                       rendered="#{empty sessionBean.sessMailingAddress}">
                                <h:outputText value="[no session mailing address selected]"
                                              styleClass="italic" />
                            </f:subview>

                            <p:divider type="dashed" />

                            <div class="restrict-main-contents-io-link">

                                <p:commandLink id="activebob-searchaddresses-cb"
                                               value="mailing address search"
                                               ajax="true"
                                               actionListener="#{navigationBB.onAddressManagerViewLinkClick}"
                                               oncomplete="PF('address-search-dialog-var').show();"
                                               update="selected-address-links-form"
                                               disabled="#{sessionBean.crossMuniViewMode}"/>

                            </div>
                            <p:spacer height="3px" />
                            <h:outputText value="Locate, add, and edit mailing addresses using the legacy, three-column search layout" 
                                          styleClass="italic"
                                          style="font-weight: normal;"/>

                            <p:divider type="dashed" />


                            <div class="restrict-main-contents-io-link">
                                <p:commandLink id="activebob-filtersearch-cb"
                                               value="address filter table search (beta)"
                                               ajax="true"
                                               actionListener="#{addressBB.onAddressFilterSearchInit}"
                                               oncomplete="PF('address-searchbyfilter-dialog-var').show();"
                                               update="address-seachbyfilter-form"
                                               disabled="#{sessionBean.crossMuniViewMode}"/>

                                <p:spacer height="3px" />
                            </div>
                            <h:outputText value="Locate mailing addresses by filtering columns in a table containing all known mailing addresses system wide" 
                                          styleClass="italic"
                                          style="font-weight: normal;"/>


                            <p:divider type="dashed" />
                            <div class="restrict-main-contents-io-link">

                                <p:commandLink id="address-quickadd-init-button-madtools"
                                               value="Address quick add"
                                               rendered="#{systemServicesBB.permissionAllowAncillaryObjectEdit}"
                                               disabled="false"
                                               oncomplete="PF('address-quickadd-dialog-var').show()"
                                               actionListener="#{addressBB.onAddressQuickAddInit}"
                                               update="address-quickadd-fields-form
                                               address-quickadd-results-form"
                                               />
                            </div>
                            <p:spacer height="3px" />

                            <h:outputText value="Add a new mailing address using a standard single-form layout; linking and editing is also available in the same dialog" 
                                          styleClass="italic"
                                          style="font-weight: normal;"/>

                        </p:overlayPanel>

                        <p:overlayPanel id="activebob-proplist-overlay"
                                        widgetVar="activebob-proplist-overlay-var"
                                        appendTo="activebob-property"
                                        dismissable="true">

                            <b><h:outputText value="#{sessionBean.sessPropertyList.size()} properties:"/></b><br/>

                            <ui:repeat id="activebob-proplist-repeat"
                                       value="#{sessionBean.sessPropertyList}"
                                       var="sprop">
                                <h:outputText value="#{sprop.address.addressPretty1Line}"/>

                                <div class="restrict-main-contents-io-link link-button p-p-0">
                                    <p:commandLink id="activebob-proplist-prop-explore-cl"
                                                   action="#{navigationBB.onPropertyListItemSelect(sprop)}"
                                                   value="view"
                                                   ajax="false"
                                                   disabled="#{sessionBean.crossMuniViewMode}">
                                    </p:commandLink>
                                </div>
                            </ui:repeat>
                            <p:commandLink id="activebob-property-view-cl"
                                           ajax="false"
                                           action="#{sessionBean.navigateToPageCorrespondingToObject(sessionBean.sessProperty)}"/>
                        </p:overlayPanel>
                    </div>
                </h:form>
            </div>
            <ui:include src="/restricted/cogstaff/prop/compositions/addresses.xhtml"/>
            <ui:include src="/restricted/cogstaff/prop/compositions/propertySearch.xhtml"/>
        </div>
    </div>
</ui:composition>