<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns="http://www.w3.org/1999/xhtml">

    <h:form id="sidebar-form">
        <div class="toolsidebarcontainer">
            <div id="toolSidebar" 
                 class="sidebar">
                <div    id="toolSidebarCollapseId" 
                        class="toolSidebarCollapse" 
                        >
                    <i id="toolSidebarExpansionButtonIcon" class="pi pi-list"></i>
                </div>

                <div class="toolSidebarExpansion" id="toolSidebarExpansionId">
                    <div class="toolSidebarTitle">
                        System Menu 
                    </div>
                    <i id="toolSidebarCollapseButtonIcon" class="pi pi-arrow-left"></i>
                </div>

                <ui:repeat value="#{navigationBB.sideBarNavList}"
                           var="sidebarnavitem">
                    <div class="sidebar_menu">
                        <div class="sidebar_item">
                            <div class="sidebar_firstmenu_item">
                                <div class="sidebar_firstmenu_item_containner">
                                    <i class="#{sidebarnavitem.icon}"/>
                                    <div class="sidebar_firstmenu_font">
                                        #{sidebarnavitem.value}
                                    </div>
                                </div>
                            </div>
                            <div class="sidebar_secondmenu">
                                <ui:repeat value="#{sidebarnavitem.subNavitem}" 
                                           var="sidebarnavsubnavitem">
                                    <div class="sidebar_secondmenu_item">
                                        <div class="sidebar_secondmenu_item_containner">
                                            <i class="#{sidebarnavsubnavitem.icon}"/>
                                            <div class="sidebar_secondmenu_font">
                                                <p:commandLink
                                                    style="color: inherit; text-decoration: none"
                                                    action="#{sidebarnavsubnavitem.extractPagePath}"
                                                    value="#{sidebarnavsubnavitem.value}" 
                                                    ajax="false"/>
                                            </div>
                                        </div>
                                    </div>
                                </ui:repeat>
                            </div>
                        </div>
                    </div>                                
                </ui:repeat>
            </div>
        </div>
    </h:form>

</ui:composition>
