<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Code book Management</title>
    </h:head>
    <h:body>
        <ui:composition template="/restricted/navContainer_restricted.xhtml">
            <ui:define name="content">
                <f:view>

                    <div class="mainContainer">

                        <div class="title-container">

                            <h1>Code Books</h1>
                        </div>

                        <h:form id="form-messages-global">
                            <p:growl id="sets-messages-growl"
                                     life="3000"
                                     keepAlive="true"
                                     globalOnly="false"/>
                        </h:form>

                        <div class ="two-column-page-flex-container">

                            <div class="list-column">

                                <p:panel id = "codesetmanage-panel-selectcodeset"
                                         toggleable="true"
                                         collapsed="false"
                                         >

                                    <f:facet name="header">
                                        <h:outputText value="Code Books" />
                                        <div class="restrict-main-contents-io-link link-button help-icon-tightright">
                                            <a href="https://technologyrediscovery.github.io/codenforce/code/fullcodemodule#add-an-ordinance-to-a-code-book"
                                               target="_blank">
                                                <i class="material-icons"
                                                   style="display: inline-block">help_outline</i>
                                            </a>
                                        </div>
                                        <div class="restrict-main-contents-io-link link-button help-text-tightleft">
                                            <a href="https://technologyrediscovery.github.io/codenforce/code/fullcodemodule#add-an-ordinance-to-a-code-book"
                                               target="_blank">
                                                <h:outputText value="code book help" />
                                            </a>
                                        </div>
                                    </f:facet>

                                    <h:form id="sets-list-form">

                                        <p:commandButton id="codesetmanage-button-addcodeset" 
                                                         ajax="true"
                                                         value="Create New Code Book" 
                                                         icon="pi pi-plus" 
                                                         rendered="#{codeSetBB.permissionsAllowCodeBookAddEdit}"
                                                         actionListener="#{codeSetBB.onCodeSetAddInitButtonChange}"
                                                         oncomplete="PF('set-add-update-dialog-var').show();"
                                                         update="set-add-update-dialog
                                                         :set-add-update-form"

                                                         />
                                        <p:spacer height="5px" />

                                        <p:dataTable id="sets-list-table" 
                                                     value="#{codeSetBB.codeSetList}" 
                                                     rendered="#{!empty codeSetBB.codeSetList}" 
                                                     var="codeSet" 
                                                     rowKey="#{codeSet.codeSetID}"
                                                     resizableColumns="true"
                                                     tableStyleClass="primeDataTable"
                                                     >

                                            <p:column width="10%">
                                                <f:facet name="header">
                                                    <h:outputText value="Exp"/>
                                                </f:facet>
                                                <p:rowToggler/>
                                            </p:column>

                                            <p:column width="50%"
                                                      sortBy="#{codeSet.codeSetName}"
                                                      >
                                                <f:facet name="header">
                                                    <h:outputText value="Codebook Name" />
                                                    <p:spacer height="3px" />
                                                    <h:outputText value="Muni owner" 
                                                                  styleClass="italic"/>
                                                </f:facet>
                                                <h:outputText value="#{codeSet.codeSetName}"/>
                                                <p:spacer height="3px" />
                                                <h:outputText value="#{codeSet.muniNameFlattened}"
                                                              styleClass="italic"/>
                                            </p:column>

                                            <p:column   width="30%"
                                                        headerText="Actions"
                                                        >

                                                <div class="restrict-main-contents-io-link">
                                                    <p:commandLink      id="sets-list-viewecelist-cb"
                                                                        actionListener="#{codeSetBB.onViewCodeSetButtonChange(codeSet)}"
                                                                        ajax="true"
                                                                        title="View ordinances in this source"
                                                                        update="form-messages-global
                                                                        :sets-list-form
                                                                        sets-ece-list-panel
                                                                        :sets-ece-list-form
                                                                        sets-tree-panel
                                                                        codset-tree-form"
                                                                        >
                                                        <h:outputText value="manage codebook" />

                                                    </p:commandLink>
                                                </div>
                                                <p:spacer height="2px" />
                                                <div class="restrict-main-contents-io-link">

                                                    <p:commandLink   id="sets-list-update-cb"
                                                                     ajax="true"
                                                                     title="Update"
                                                                     actionListener="#{codeSetBB.onCodeSetUpdateInitButtonChange(codeSet)}"
                                                                     rendered="#{codeSetBB.permissionsAllowCodeBookAddEdit}"
                                                                     disabled="false"
                                                                     oncomplete="PF('set-add-update-dialog-var').show()"
                                                                     update="set-add-update-dialog
                                                                     :set-add-update-form">
                                                        <h:outputText value="update info" />
                                                    </p:commandLink>

                                                </div>
                                                <p:spacer height="2px" />
                                                <div class="restrict-main-contents-io-link">
                                                    <p:commandLink     id="sets-list-nuke-cb"
                                                                       ajax="true"
                                                                       rendered="#{codeSetBB.permissionsAllowCodeBookAddEdit}"
                                                                       disabled="false"
                                                                       title="Deactivate"
                                                                       actionListener="#{codeSetBB.onCodeSetNukeInitButtonChange(codeSet)}"
                                                                       oncomplete="PF('set-nuke-dialog-var').show()"
                                                                       update="set-nuke-dialog
                                                                       set-nuke-form">
                                                        <h:outputText value="deactivate" />
                                                    </p:commandLink>
                                                </div>
                                                <p:spacer height="3px" />
                                                <h:outputText value="(ID: #{codeSet.codeSetID})" />
                                            </p:column>

                                            <p:rowExpansion>
                                                <div class="ui-g data_container_nested_restrict">
                                                    <div class="ui-g-12 ui-md-12 ui-lg-12 restrict-data-field" >
                                                        <div class="restrict-data-field-label-inline" >
                                                            <h:outputLabel  for="set-descr">
                                                                <h:outputText value="Description" />
                                                            </h:outputLabel>
                                                        </div>
                                                        <div class="restrict-data-field-value-inline" >
                                                            <h:outputText id="set-descr" 
                                                                          value="#{codeSet.codeSetDescription}"/>
                                                        </div>
                                                    </div>
                                                    <div class="ui-g-12 ui-md-12 ui-lg-12 restrict-data-field" >
                                                        <div class="restrict-data-field-label-inline" >
                                                            <h:outputLabel  for="set-muni">
                                                                <h:outputText value="Assigned to" />
                                                            </h:outputLabel>
                                                        </div>
                                                        <div class="restrict-data-field-value-inline" >
                                                            <h:outputText id="set-muni" 
                                                                          value="#{codeSet.muniNameFlattened}"/>
                                                        </div>
                                                    </div>
                                                </div>
                                            </p:rowExpansion>
                                        </p:dataTable> 
                                        <p:spacer height="20px"/>
                                    </h:form>
                                </p:panel>

                                <p:panel id = "codesetmanage-panel-munimappings"
                                         toggleable = "true"
                                         collapsed ="false"
                                         header = "Default municipality code books"
                                         >
                                    <h:form id="codesetmanage-form-munimappings">
                                        <h3>Changing a municipality's active code book:</h3>
                                        <ol>
                                            <li>Find the code book in the table above that you'd like to become a municipality's active book. 
                                                click "update info" in the actions column. </li>
                                            <li>Next, at the bottom of that dialog choose the target muni 
                                                you'd like to use that particular code book.</li>
                                            <li>Finally click the blue button at the bottom 
                                                of the form: "Make XXX municipal code the active code book in selected municipality."</li>
                                        </ol>

                                        <p:dataScroller id="muni-set-scroller"
                                                        value="#{codeSetBB.muniSetMap.entrySet()}"
                                                        rendered="#{!empty codeSetBB.muniSetMap and !empty codeSetBB.muniSetMap.entrySet()}"
                                                        var="entry"
                                                        >

                                            <div class="ui-g data_container_nested_restrict">
                                                <div class="ui-g-12 ui-md-6 ui-lg-6 restrict-data-field" >
                                                    <div class="restrict-data-field-label-inline" >
                                                        <h:outputLabel  for="kv-muni">
                                                            <h:outputText value="Municipality" />
                                                        </h:outputLabel>
                                                    </div>
                                                    <div class="restrict-data-field-value-inline" >
                                                        <h:outputText id="kv-muni" 
                                                                      value="#{entry.key.muniName}"/>
                                                    </div>
                                                </div>
                                                <div class="ui-g-12 ui-md-6 ui-lg-6 restrict-data-field" >
                                                    <div class="restrict-data-field-label-inline" >
                                                        <h:outputLabel  for="kv-set">
                                                            <h:outputText value="Active code book" />
                                                        </h:outputLabel>
                                                    </div>
                                                    <p:spacer height="3px" />
                                                    <div class="restrict-data-field-value-inline" >
                                                        <h:outputText id="kv-set" 
                                                                      value="#{entry.value.codeSetName} (ID:#{entry.value.codeSetID})"/>
                                                    </div>
                                                </div>
                                            </div>
                                        </p:dataScroller>
                                    </h:form>

                                </p:panel>
                            </div>

                            <div class ="object-column">


                                <p:panel id="sets-tree-panel"
                                         toggleable="true"
                                         collapsed="false"
                                         header="Tree form of: #{codeSetBB.currentCodeSet.codeSetName}"
                                         >
                                    <h:form id="codset-tree-form">
                                        <p:commandLink      id="tree-expandall-cl"
                                                            ajax="true"
                                                            rendered="true"
                                                            actionListener="#{treeToolsBB.expandAllNodes(codeSetBB.currentCodeSet.treeView)}"
                                                            update="codset-tree-form"
                                                            style="color: blue; font-weight: bold;">
                                            <h:outputText value="expand all" />
                                        </p:commandLink>
                                        <h:outputText value=" | " />

                                        <p:commandLink      id="tree-collapseall-cl"
                                                            ajax="true"
                                                            rendered="true"
                                                            actionListener="#{treeToolsBB.collapseAllNodes(codeSetBB.currentCodeSet.treeView)}"
                                                            update="codset-tree-form"
                                                            style="color: blue; font-weight: bold;">
                                            <h:outputText value="collapse all" />
                                        </p:commandLink>


                                        <p:divider type="solid" />

                                        <p:tree id="codesettree"
                                                value="#{codeSetBB.currentCodeSet.treeView}"
                                                rendered="#{not empty codeSetBB.currentCodeSet.treeView}"
                                                orientation="vertical"
                                                var="ordnode"
                                                filterBy="#{ordnode.ordinance.headerString}"
                                                filterMatchMode="contains">
                                            <p:treeNode>
                                                <f:subview id="header-subview"
                                                           rendered="#{empty ordnode.ordinance}" >
                                                    <div class="wrapText">
                                                        <h:outputText value="#{ordnode.displayString}" />
                                                    </div>
                                                </f:subview>
                                                <f:subview id="ord-subview"
                                                           rendered="#{not empty ordnode.ordinance}" >
                                                    <div class="wrapText">
                                                        <h:outputText value="Ordinance: "
                                                                      styleClass="bold"
                                                                      />
                                                        <h:outputText value="#{ordnode.ordinance.headerString}"
                                                                      escape="false"/>
                                                    </div>
                                                </f:subview>
                                            </p:treeNode>
                                        </p:tree>
                                    </h:form>
                                </p:panel>

                                <p:panel id="sets-ece-list-panel"
                                         toggleable="true"
                                         collapsed="false"

                                         header="Enforcable ordinances in code book: #{codeSetBB.currentCodeSet.codeSetName}"
                                         >
                                    <h:form id="codset-ordinance-filter-form">
                                        <div class="p-grid">
                                            <div class="p-col-6">
                                                <p:inputText value="#{codeSetBB.ordinanceFilterText}" required="false"/>
                                            </div>
                                            <div class="p-col-6">
                                                <p:commandButton id="ordinance-search-btn"
                                                                 value="Search"
                                                                 actionListener="#{codeSetBB.onApplyOrdinanceFilter()}"
                                                                 ajax="true"
                                                                 icon="pi pi-search"
                                                                 update="@form sets-ece-list-form"
                                                                 />
                                                <h:outputText value=" | "/>
                                                <p:commandLink id="ordinance-clear-btn"
                                                               ajax="true"
                                                               actionListener="#{codeSetBB.onClearOrdinanceFilter()}"
                                                               style="color:blue; font-weight: bold;"
                                                               value="Clear"
                                                               update="@form sets-ece-list-form"/>
                                            </div>
                                        </div>
                                    </h:form>
                                    <p:spacer height="5px" />
                                    <h:form id="sets-ece-list-form">
                                        <p:commandButton id="sets-add-ord-cb" 
                                                         ajax="true" 
                                                         icon="pi pi-plus"
                                                         value="#{(empty codeSetBB.currentCodeSet) ? 'Select a code book' : 'Add ordinance(s) to code book'}" 
                                                         style="width: 275px"
                                                         rendered="#{codeSetBB.permissionsAllowCodeBookAddEdit}"
                                                         disabled="#{empty codeSetBB.currentCodeSet}"
                                                         oncomplete="PF('sets-addelements-dialog-var').show();"
                                                         update="
                                                         form-messages-global
                                                         sets-addelements-dialog
                                                         sets-addelements-form
                                                         "
                                                         actionListener="#{codeSetBB.onAddCodeElementsToCodeSetInitButtonChange}" />

                                        <p:spacer height="5px" />

                                        <h:outputText id="sets-ece-list-size-ot"
                                                      value="#{!(empty codeSetBB.currentCodeSet.enfCodeElementList) ? codeSetBB.enforcableCodeElementListFiltered.size() : ''}"
                                                      styleClass="italic" />

                                        <h:outputText id="sets-ece-list-size-label-ot"
                                                      value="#{!(empty codeSetBB.currentCodeSet.enfCodeElementList) ? ' ordinances contained in this code book' : 'empty code book'}"
                                                      styleClass="italic" />
                                        <p:staticMessage severity="warn" summary="WARN" 
                                                         detail="No result matches with search criteria." 
                                                         rendered="#{empty codeSetBB.enforcableCodeElementListFiltered}" 
                                                         style="width: 100%"/>

                                        <p:dataTable
                                            id="sets-ece-list-table"
                                            value="#{codeSetBB.enforcableCodeElementListFiltered}"
                                            rendered="#{!empty codeSetBB.enforcableCodeElementListFiltered}"
                                            var="cse"
                                            rowKey="#{cse.codeSetElementID}"
                                            tableStyleClass="primeDataTable"
                                            resizableColumns="true"
                                            rowExpandMode="single"
                                            expandedRow="false"
                                            widgetVar="codeSetElementListTable"
                                            tabindex="1">

                                            <p:column width="3%">
                                                <f:facet name="header">
                                                    <h:outputText value="Exp"/>
                                                </f:facet>
                                                <p:rowToggler/>
                                            </p:column>

                                            <p:column width="10%" 
                                                      sortBy="#{cse.source.sourceName}"
                                                      >
                                                <f:facet name="header">
                                                    <h:outputText value="Source" />
                                                </f:facet>
                                                <h:outputText value="#{cse.source.sourceName}"/>
                                                <p:spacer height="3px" />
                                                <h:outputText value="(#{cse.source.sourceYear})"/>
                                            </p:column>

                                            <p:column width="10%" 
                                                      sortBy="#{cse.guideEntry.category}"
                                                      >
                                                <f:facet name="header">
                                                    <h:outputText value="Category" />
                                                </f:facet>
                                                <h:outputText value="#{cse.guideEntry.category}"/>
                                                <p:spacer height="3px" />
                                                <h:outputText value="#{cse.guideEntry.subCategory}"/>
                                            </p:column>

                                            <p:column width="5%" 
                                                      sortBy="#{cse.ordchapterNo}">
                                                <f:facet name="header">
                                                    <h:outputText value="Cha#"/>
                                                </f:facet>
                                                <h:outputText value="#{cse.ordchapterNo}"
                                                              rendered="#{cse.ordchapterNo ne 0}"/>
                                            </p:column>

                                            <p:column width="20%" 
                                                      sortBy="#{cse.ordchapterTitle}"
                                                      >
                                                <f:facet name="header">
                                                    <h:outputText value="Chapter"/>
                                                </f:facet>
                                                <h:outputText value="#{cse.ordchapterTitle}"/>
                                            </p:column>

                                            <p:column width="5%" 
                                                      sortBy="#{cse.ordSecNum}">
                                                <f:facet name="header">
                                                    <h:outputText value="Sec#" />
                                                </f:facet>
                                                <h:outputText value="#{cse.ordSecNum}"/>
                                            </p:column>

                                            <p:column width="15%" 
                                                      sortBy="#{cse.ordSecTitle}"
                                                      >
                                                <f:facet name="header">
                                                    <h:outputText value="Section" />
                                                </f:facet>
                                                <h:outputText value="#{cse.ordSecTitle}"/>
                                            </p:column>

                                            <p:column width="5%" 
                                                      sortBy="#{cse.ordSubSecNum}">
                                                <f:facet name="header">
                                                    <h:outputText value="Sub#" />
                                                </f:facet>
                                                <h:outputText value="#{cse.ordSubSecNum}"/>
                                            </p:column>

                                            <p:column sortBy="#{cse.ordSubSecTitle}" 
                                                      width="15%">
                                                <f:facet name="header">
                                                    <h:outputText value="SubSec. Title" />
                                                </f:facet>
                                                <h:outputText value="#{cse.ordSubSecTitle}"/>
                                            </p:column>

                                            <p:column sortBy="#{cse.ordSubSubSecNum}" 
                                                      width="10%">
                                                <f:facet name="header">
                                                    <h:outputText value="SubSub#" />
                                                </f:facet>
                                                <h:outputText value="#{cse.ordSubSubSecNum}"/>
                                            </p:column>

                                            <p:column   width="13%"
                                                        headerText="Actions"
                                                        styleClass="centeredColumnContent"
                                                        >
                                                <div class="restrict-main-contents-io-link">
                                                    <p:commandLink      id="ece-update-init-cb"
                                                                        ajax="true"
                                                                        rendered="#{codeSetBB.permissionsAllowCodeBookAddEdit}"
                                                                        title="Update enforcability info"
                                                                        disabled="false"
                                                                        actionListener="#{codeSetBB.onSetElementUpdateInitButtonChange(cse)}"
                                                                        oncomplete="PF('sets-ece-update-dialog-var').show()"
                                                                        update="sets-ece-update-dialog
                                                                        :sets-ece-update-form">
                                                        <h:outputText value="update" />
                                                    </p:commandLink>
                                                </div>

                                                <p:spacer height="2px" />

                                                <div class="restrict-main-contents-io-link">

                                                    <p:commandLink   id="ece-nuke-init-cb"
                                                                     ajax="true"
                                                                     rendered="#{codeSetBB.permissionsAllowCodeBookAddEdit}"
                                                                     disabled="false"
                                                                     title="Deactivate enforcable ordinance"
                                                                     actionListener="#{codeSetBB.onNukeCodeSetElementInit(cse)}"
                                                                     oncomplete="PF('sets-ece-nuke-dialog-var').show()"
                                                                     update="sets-ece-nuke-dialog
                                                                     sets-ece-nuke-form">
                                                        <h:outputText value="deactivate" />
                                                    </p:commandLink>
                                                </div>

                                                <p:spacer height="2px" />
                                                <h:outputText value="(ECEID:#{cse.codeSetElementID})"/>

                                            </p:column>

                                            <p:rowExpansion>

                                                <div class="outlinedBox"
                                                     style="text-align:left;">

                                                    <h2>Record metadata</h2>
                                                    <div class="ui-g data_container_nested_restrict">
                                                        <div class="ui-g-12 ui-md-6 ui-lg-6 restrict-data-field" >
                                                            <div class="restrict-data-field-label-inline" >
                                                                <h:outputLabel  for="ece-createdby">
                                                                    <h:outputText value="Creation" />
                                                                </h:outputLabel>
                                                            </div>
                                                            <div class="restrict-data-field-value-inline" >
                                                                <h:outputText id="ece-createdby" 
                                                                              value="#{cse.createdByUserID}"/>
                                                                <p:spacer height="1px" />
                                                                <h:outputText id="ece-createdts" 
                                                                              value="#{codeSetBB.getPrettyDate(cse.eceCreatedTS)}"/>
                                                            </div>
                                                        </div>
                                                        <div class="ui-g-12 ui-md-6 ui-lg-6 restrict-data-field" >
                                                            <div class="restrict-data-field-label-inline" >
                                                                <h:outputLabel  for="ece-lastupdatedby">
                                                                    <h:outputText value="Last updates" />
                                                                </h:outputLabel>
                                                            </div>
                                                            <div class="restrict-data-field-value-inline" >
                                                                <h:outputText id="ece-lastupdatedby" 
                                                                              value="#{cse.lastUpdatedByUserID}"/>
                                                                <p:spacer height="1px" />
                                                                <h:outputText id="ece-lastupdatedts" 
                                                                              value="#{codeSetBB.getPrettyDate(cse.lastUpdatedTS)}"/>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <h2>Enforceability Info</h2>

                                                    <h:panelGrid columns="4" 
                                                                 cellpadding="10" 
                                                                 footerClass="gridFooter"
                                                                 columnClasses="gridTd, gridTd"
                                                                 >
                                                        <h:panelGroup>
                                                            <h:outputLabel styleClass="bold" value="Minimum Penalty"/>
                                                            <p:spacer height="15px"/>
                                                            <div class="rowExpansion">
                                                                <h:outputText escape="false" value="$#{cse.minPenalty}"/>
                                                            </div>
                                                        </h:panelGroup>

                                                        <h:panelGroup>
                                                            <h:outputLabel styleClass="bold" value="Norm Penalty"/>
                                                            <p:spacer height="15px"/>
                                                            <div class="rowExpansion">
                                                                <h:outputText escape="false" value="$#{cse.normPenalty}"/>
                                                            </div>
                                                        </h:panelGroup>

                                                        <h:panelGroup>
                                                            <h:outputLabel styleClass="bold" value="Maximum Penalty"/>
                                                            <p:spacer height="15px"/>
                                                            <div class="rowExpansion">
                                                                <h:outputText escape="false" value="$#{cse.maxPenalty}"/>
                                                            </div>
                                                        </h:panelGroup>

                                                        <h:panelGroup>
                                                            <h:outputLabel styleClass="bold" value="Penalty Notes"/>
                                                            <p:spacer height="15px"/>
                                                            <div class="rowExpansion">
                                                                <h:outputText escape="false" value="#{cse.penaltyNotes}"/>
                                                            </div>
                                                        </h:panelGroup>

                                                        <h:panelGroup>
                                                            <h:outputLabel styleClass="bold" value="Default days to comply"/>
                                                            <p:spacer height="15px"/>
                                                            <div class="rowExpansion">
                                                                <h:outputText escape="false" value="#{cse.normDaysToComply}"/>
                                                            </div>
                                                        </h:panelGroup>

                                                        <h:panelGroup>
                                                            <h:outputLabel styleClass="bold" value="Compliance timeframe Notes"/>
                                                            <p:spacer height="15px"/>
                                                            <div class="rowExpansion">
                                                                <h:outputText escape="false" value="#{cse.daysToComplyNotes}"/>
                                                            </div>
                                                        </h:panelGroup>

                                                        <f:facet name="footer">
                                                            <h:outputLabel styleClass="bold" value="Default violation findings" style="text-align:left;"/>
                                                            <div class="rowExpansion">
                                                                <h:outputText value="#{cse.defaultViolationDescription}"/>
                                                            </div>
                                                            <p:spacer height="15px"/>

                                                            <h:outputLabel styleClass="bold" value="Municipality specific notes" style="text-align:left;"/>
                                                            <div class="rowExpansion">
                                                                <h:outputText escape="false" value="#{cse.muniSpecificNotes}"/>
                                                            </div>
                                                        </f:facet>

                                                    </h:panelGrid>
                                                </div>

                                                <div class="outlinedBox">
                                                    <h2>
                                                        <h:outputText value="#{cse.headerString}"
                                                                      escape="false" />
                                                    </h2>

                                                    <h:outputLabel styleClass="bold" value="Technical Text"/>
                                                    <p:spacer height="5px"/>
                                                    <div class="rowExpansion">
                                                        <h:outputText escape="false" 
                                                                      value="#{cse.ordTechnicalText} (EleID: #{cse.elementID})"
                                                                      styleClass="monospace"/>
                                                    </div>

                                                    <p:spacer height="5px"/>

                                                    <h:outputLabel styleClass="bold" value="Human friendly text"/>
                                                    <div class="rowExpansion">
                                                        <h:outputText escape="false" value="#{cse.ordHumanFriendlyText}"/>
                                                    </div>
                                                    <p:spacer height="5px"/>
                                                    <h:outputLabel styleClass="bold" value="Code Guide: Enforcement Tips"/>
                                                    <div class="rowExpansion">
                                                        <h:outputText escape="false" value="#{cse.guideEntry.enforcementGuidelines}"/>
                                                    </div>

                                                    <p:spacer height="5px"/>

                                                    <h:outputLabel styleClass="bold" value="Code guide: Inspection Tips"/>
                                                    <div class="rowExpansion">
                                                        <h:outputText escape="false" value="#{cse.guideEntry.inspectionGuidelines}"/>
                                                    </div>

                                                    <p:spacer height="5px"/>
                                                    <h:outputLabel styleClass="bold" value="Determined to be pure IRC listing format? "/>
                                                    <div class="rowExpansion">
                                                        <h:outputText value="#{cse.pureIRCFOrmat ? 'Yes' : 'No'}"/>
                                                    </div>
                                                </div>
                                            </p:rowExpansion>
                                        </p:dataTable>

                                        <p:spacer height="15px"/>
                                    </h:form>
                                </p:panel>
                            </div>
                        </div>
                    </div>

                    <p:dialog  id="set-add-update-dialog"
                               width="800"
                               height="600"
                               widgetVar="set-add-update-dialog-var"
                               closable="true" 
                               header="#{codeSetBB.currentCodeSet.codeSetID == 0 ? 'Add new code book' : 'Update code book'}"
                               >

                        <h:form id="set-add-update-form" >


                            <h:panelGrid columns="1" style="margin-bottom:10px" cellpadding="5" width="580" >

                                <h:panelGroup>

                                    <h:outputText value="Municipality:"/>

                                    <p:selectOneMenu 
                                        id="set-add-update-muni-som" tabindex="1"
                                        value="#{codeSetBB.formMuniCodeSetOwner}"
                                        style="display: block; clear: right;"
                                        required="true">

                                        <f:selectItem itemLabel="select a municipality..." noSelectionOption="true" itemDisabled="true"/>
                                        <f:selectItems value="#{systemServicesBB.municipalityListForSearch}" var="muni" itemLabel="#{muni.muniName}"/>
                                        <f:converter converterId="muniConverter" />
                                    </p:selectOneMenu>
                                </h:panelGroup>

                                <h:panelGroup>
                                    <h:outputText value="Code book Name :"/>
                                    <p:inputText    id="set-name-it"
                                                    required="true"
                                                    tabindex="2"
                                                    value="#{codeSetBB.currentCodeSet.codeSetName}"/>
                                </h:panelGroup>

                                <h:panelGroup>
                                    <h:outputText value="Code book Description :" style="width: 90%"/>
                                    <p:inputText    id="set-descr-it"
                                                    value="#{codeSetBB.currentCodeSet.codeSetDescription}"
                                                    required="false"
                                                    tabindex="3"/>
                                </h:panelGroup>

                            </h:panelGrid>


                            <p:commandButton    id="set-update-commit-cb"
                                                ajax="false"
                                                value="Update code book" 
                                                icon="pi pi-pencil"
                                                tabindex="4"
                                                rendered="#{codeSetBB.permissionsAllowCodeBookAddEdit and codeSetBB.currentCodeSet.codeSetID != 0}"
                                                action="#{codeSetBB.onCodeSetUpdateCommitButtonChange}"
                                                />

                            <p:commandButton    id="set-add-commit-cb"
                                                ajax="false"
                                                icon="pi pi-plus"
                                                value="Create new code book" 
                                                rendered="#{codeSetBB.permissionsAllowCodeBookAddEdit and codeSetBB.currentCodeSet.codeSetID == 0}"
                                                action="#{codeSetBB.onCodeSetAddCommitButtonChange}"
                                                tabindex="4"
                                                />

                            <p:commandButton    ajax="true"
                                                value="Cancel" 
                                                icon="pi pi-arrow-left"
                                                process="@none"
                                                immediate="true"
                                                tabindex="true"
                                                oncomplete="PF('set-add-update-dialog-var').hide();"
                                                />
                        </h:form>

                        <f:subview id="muni-set-mapping-subview"
                                   rendered="#{codeSetBB.currentCodeSet.codeSetID != 0}"
                                   >

                            <h:form id="muni-codeboook-mapping-form">

                                <h4>Default municipality codebook</h4>

                                <h:outputText value="Choose a municipality in which to activate code book: #{codeSetBB.currentCodeSet.codeSetName}" />

                                <p:selectOneMenu 
                                    id="muni-set-mapping-muni-som" 
                                    tabindex="1"
                                    value="#{codeSetBB.selectedMuniForCodeSetMapping}"
                                    >
                                    <f:selectItem itemLabel="select a municipality..." noSelectionOption="true" itemDisabled="true"/>
                                    <f:selectItems value="#{systemServicesBB.muniListAll}" var="muni" itemLabel="#{muni.muniName}"/>
                                    <f:converter converterId="muniConverter" />
                                </p:selectOneMenu>

                                <p:spacer height="5px" />

                                <p:commandButton    id="set-add-commit-cb"
                                                    ajax="true"
                                                    icon="pi pi-link"
                                                    value="Make #{codeSetBB.currentCodeSet.codeSetName} the active code book in selected municipality" 
                                                    actionListener="#{codeSetBB.onUpdateMuniCodeSetMapping}"
                                                    disabled="#{codeSetBB.currentCodeSet.codeSetID == 0}"
                                                    update="codesetmanage-form-munimappings"
                                                    oncomplete="PF('set-add-update-dialog-var').hide();"
                                                    />

                            </h:form>
                        </f:subview>
                    </p:dialog>  

                    <p:dialog  id="sets-ece-update-dialog"
                               width="1100"
                               widgetVar="sets-ece-update-dialog-var"
                               closable="true" 
                               header="Edit Enforcability Data On Selected Element"
                               >

                        <h:form id="sets-ece-update-form">
                            <div class="p-grid">
                                <div class="p-col-3">

                                    <p:outputLabel for="formMaxPenalty">
                                        <h:outputText value="Maximum Penalty in $"/>
                                    </p:outputLabel>
                                </div>

                                <div class="p-col-3">
                                    <p:inputText id="formMaxPenalty" value="#{codeSetBB.currentEnforcableCodeElement.maxPenalty}" 
                                                 style="width: 50%;" tabindex="3" required="true" styleClass="inputText"/>
                                    <h:message for="formMaxPenalty" showDetail="false" showSummary="true" 
                                               warnClass="msgWarn" infoClass="msgInfo" fatalClass="msgFatal" errorClass="msgError" />
                                </div>

                                <div class="p-col-3">
                                    <p:outputLabel for="formMinPenaltyField">
                                        <h:outputText value="Minimum Penalty in $"/>
                                    </p:outputLabel>
                                </div>

                                <div class="p-col-3">
                                    <p:inputText id="formMinPenaltyField" value="#{codeSetBB.currentEnforcableCodeElement.minPenalty}" 
                                                 style="width: 100%;" tabindex="4" required="true" styleClass="inputText"/>
                                    <h:message for="formMinPenaltyField" showDetail="false" showSummary="true" 
                                               warnClass="msgWarn" infoClass="msgInfo" fatalClass="msgFatal" errorClass="msgError" />
                                </div>

                                <div class="p-col-3">
                                    <p:outputLabel for="formNormPenaltyField">
                                        <h:outputText value="Default/Normal Penalty in $"/>
                                    </p:outputLabel>
                                </div>

                                <div class="p-col-3">
                                    <p:inputText id="formNormPenaltyField" value="#{codeSetBB.currentEnforcableCodeElement.normPenalty}" 
                                                 style="width: 50%;" tabindex="5" required="true" styleClass="inputText"/>
                                    <h:message for="formNormPenaltyField" showDetail="false" showSummary="true" 
                                               warnClass="msgWarn" infoClass="msgInfo" fatalClass="msgFatal" errorClass="msgError" />

                                </div>
                                <div class="p-col-3">
                                    <p:outputLabel for="formPenaltyNotesField">
                                        <h:outputText value="Penalty notes"/>
                                    </p:outputLabel>
                                </div>

                                <div class="p-col-3">
                                    <p:inputText id="formPenaltyNotesField" value="#{codeSetBB.currentEnforcableCodeElement.penaltyNotes}" 
                                                 style="width: 100%;" tabindex="6" required="false" styleClass="inputText"/>
                                    <h:message for="formPenaltyNotesField" showDetail="false" showSummary="true" 
                                               warnClass="msgWarn" infoClass="msgInfo" fatalClass="msgFatal" errorClass="msgError" />

                                </div>
                                <div class="p-col-3">
                                    <p:outputLabel for="formNormDaysToComplyField">
                                        <h:outputText value="Default days to comply"/>
                                    </p:outputLabel>
                                </div>

                                <div class="p-col-3">
                                    <p:inputText id="formNormDaysToComplyField" value="#{codeSetBB.currentEnforcableCodeElement.normDaysToComply}" 
                                                 style="width: 50%;" tabindex="7" required="true" styleClass="inputText"/>
                                    <h:message for="formNormDaysToComplyField" showDetail="false" showSummary="true" 
                                               warnClass="msgWarn" infoClass="msgInfo" fatalClass="msgFatal" errorClass="msgError" />
                                </div>

                                <div class="p-col-3">
                                    <p:outputLabel for="formNormDaysToComplyNotesField">
                                        <h:outputText value="Notes on days to comply"/>
                                    </p:outputLabel>
                                </div>

                                <div class="p-col-3">
                                    <p:inputText id="formNormDaysToComplyNotesField" value="#{codeSetBB.currentEnforcableCodeElement.daysToComplyNotes}" 
                                                 style="width: 100%;" tabindex="8" required="false" styleClass="inputText"/>
                                    <h:message for="formNormDaysToComplyNotesField" showDetail="false" showSummary="true" 
                                               warnClass="msgWarn" infoClass="msgInfo" fatalClass="msgFatal" errorClass="msgError" />
                                </div>


                                <div class="p-col-3">
                                    <h:outputLabel styleClass="bold" value="Default violation findings:" for="ece-update-defviolfindings"/>
                                </div>

                                <div class="p-col-3">
                                    <p:inputTextarea id="ece-update-defviolfindings"
                                                     value="#{codeSetBB.currentEnforcableCodeElement.defaultViolationDescription}" />
                                </div>

                                <div class="p-col-3">
                                    <h:outputLabel styleClass="bold" value="Municipality-Specific Notes:" for="formMuniSpecificNotesEditor"/>
                                </div>


                                <div class="p-col-3">
                                    <p:inputTextarea   
                                        id="formMuniSpecificNotesEditor"  
                                        value="#{codeSetBB.currentEnforcableCodeElement.muniSpecificNotes}" 
                                        required="false"
                                        rows = "2"
                                        cols = "15"/>
                                    <h:message for="formMuniSpecificNotesEditor" showDetail="false" showSummary="true" 
                                               warnClass="msgWarn" infoClass="msgInfo" fatalClass="msgFatal" errorClass="msgError" />
                                </div>

                                <div class="p-col-3 restrict-main-contents-io-title" >
                                    <p:outputLabel  for="violation-severity-som">
                                        <h:outputText value="Violation severity default" />
                                    </p:outputLabel>
                                </div>

                                <div class="p-col-3 restrict-main-contents-io-content">
                                    <p:selectOneMenu id="violation-severity-som"
                                                     value="#{codeSetBB.currentEnforcableCodeElement.defaultViolationSeverity}"
                                                     style="width: 100%;"
                                                     required="true"
                                                     requiredMessage="A violation severity must be selected when adding a violation."
                                                     >
                                        <f:converter converterId="intensityClassConverter"/>

                                        <f:selectItem itemLabel="select a severity" noSelectionOption="true" />

                                        <f:selectItems id="violation-severity-selitems"
                                                       value="#{codeSetBB.enforcableCodeElementSeverityList}"
                                                       var="ic" itemValue="#{ic}" itemLabel="#{ic.numericRating}: #{ic.title}"/>
                                    </p:selectOneMenu>
                                </div>

                            </div>
                            <p:spacer height="15px"/>
                            <p:commandButton 
                                id="sets-ece-udpate-commit-cb"
                                ajax="true" 
                                tabindex="9" 
                                icon="pi pi-save"
                                rendered="#{codeSetBB.permissionsAllowCodeBookAddEdit}"
                                value="Update Enforcability data for this ordinance"
                                actionListener="#{codeSetBB.onSetElementUpdateCommitButtonChange}" 
                                update="form-messages-global
                                codset-tree-form
                                sets-ece-list-form"/>

                            <p:commandButton    ajax="true"
                                                value="Cancel" 
                                                icon="pi pi-stop"
                                                process="@none"
                                                immediate="true"
                                                oncomplete="PF('sets-ece-update-dialog-var').hide();"
                                                />
                        </h:form>
                    </p:dialog> 

                    <p:dialog  id="sets-addelements-dialog"
                               width="1200"
                               height="750"
                               widgetVar="sets-addelements-dialog-var"
                               closable="true" 
                               closeOnEscape="true"
                               modal="true"
                               rendered="#{codeSetBB.permissionsAllowCodeBookAddEdit}"
                               header="Add ordinances to code book:  #{codeSetBB.currentCodeSet.codeSetName}"
                               >

                        <h:form id="sets-querysource-form">

                            <p class="note">Select a code source (e.g. IPMC 2015) from which you wish to add an ordinance to this code book.</p>

                            <p:selectOneMenu 
                                id="sourceMenu" 
                                value="#{codeSetBB.selectedCodeSource}">

                                <f:selectItems value="#{codeSetBB.codeSourceList}" 
                                               var="source" 
                                               itemLabel="#{source.sourceName} (#{source.sourceYear})"
                                               itemValue="#{source}"/>
                                <f:converter converterId="codeSourceConverter" />
                            </p:selectOneMenu>
                            <h:message for="sourceMenu" showDetail="true" showSummary="true" 
                                       warnClass="msgWarn" infoClass="msgInfo" fatalClass="msgFatal" errorClass="msgError" />

                            <p:commandButton
                                id="sets-addelements-querysource-cb"
                                value="Get Ordinances from selected Source"
                                actionListener="#{codeSetBB.retrieveCodeElementsFromSelectedSource}"
                                ajax="true" 
                                icon="pi pi-search"
                                update="sets-addelements-form"/>

                        </h:form>

                        <h:form id="sets-addelements-form">
                            <h2>Choose ordinances to code book</h2>

                            <p class="note">Select multiple ordinances by clicking them sequentially. 
                                Un-select a row by holding down control while clicking (using a mouse for this is handy).</p>

                            <p:dataTable
                                id="code-element-table"
                                value="#{codeSetBB.codeElementList}"
                                rendered="#{!empty codeSetBB.codeElementList}"
                                var="ord"
                                selectionMode="multiple"
                                selectionRowMode="add"
                                selection="#{codeSetBB.selectedElementsToAddToSet}"
                                rowKey="#{ord.elementID}"
                                tableStyleClass="primeDataTable"
                                scrollable="true"
                                scrollHeight="200">

                                <p:column width="3%">
                                    <f:facet name="header">
                                        <h:outputText value="Exp"/>
                                    </f:facet>
                                    <p:rowToggler/>
                                </p:column>


                                <p:column width="10%" 
                                          sortBy="#{ord.ordchapterNo}">
                                    <f:facet name="header">
                                        <h:outputText value="Chapter"/>
                                    </f:facet>
                                    <h:outputText value="#{ord.ordchapterNo}"/>
                                    <h:outputText value=": "/>
                                    <h:outputText value="#{ord.ordchapterTitle}"/>
                                </p:column>

                                <p:column width="15%" 
                                          sortBy="#{ord.ordSecNum}"
                                          filterBy="#{ord.ordSecTitle}">
                                    <f:facet name="header">
                                        <h:outputText value="Section" />
                                    </f:facet>
                                    <h:outputText value="#{ord.ordSecNum}"/>
                                    <h:outputText value=": "/>
                                    <h:outputText value="#{ord.ordSecTitle}"/>
                                </p:column>

                                <p:column width="15%" sortBy="#{ord.ordSubSecNum}"
                                          filterBy="#{ord.ordSubSecTitle}">
                                    <f:facet name="header">
                                        <h:outputText value="Sub Section" />
                                    </f:facet>
                                    <h:outputText value="#{ord.ordSubSecNum}"/>
                                    <h:outputText value=": "/>
                                    <h:outputText value="#{ord.ordSubSecTitle}"/>
                                </p:column>
                                <p:column width="5%" >
                                    <f:facet name="header">
                                        <h:outputText value="Sub Sub" />
                                    </f:facet>
                                    <h:outputText value="#{ord.ordSubSubSecNum}"/>
                                </p:column>

                                <p:column width="10%" sortBy="#{ord.guideEntry.category}"
                                          filterBy="#{ord.guideEntry.category}">
                                    <f:facet name="header">
                                        <h:outputText value="Category" />
                                    </f:facet>
                                    <h:outputText value="#{ord.guideEntry.category}"/>
                                </p:column>

                                <p:rowExpansion>
                                    <div class="outlinedBox">
                                        <div class="rowExpansion"
                                             style="font-size: 1.4em;">
                                            <h:outputText value="&quot;" />
                                            <h:outputText escape="false" 
                                                          value="#{ord.ordTechnicalText}" 
                                                          styleClass="monospace"
                                                          />
                                            <h:outputText value="&quot;" />
                                        </div>

                                        <h2>Meta data</h2>

                                        <div class="ui-g data_container_nested_restrict">
                                            <div class="ui-g-12 ui-md-6 ui-lg-12 restrict-data-field" >
                                                <div class="restrict-data-field-label-inline" >
                                                    <h:outputLabel  for="ord-id">
                                                        <h:outputText value="ID" />
                                                    </h:outputLabel>
                                                </div>
                                                <div class="restrict-data-field-value-inline" >
                                                    <h:outputText id="ord-id" 
                                                                  value="#{ord.elementID}"/>
                                                </div>
                                            </div>
                                            <div class="ui-g-12 ui-md-6 ui-lg-12 restrict-data-field" >
                                                <div class="restrict-data-field-label-inline" >
                                                    <h:outputLabel  for="ord-created">
                                                        <h:outputText value="Created" />
                                                    </h:outputLabel>
                                                </div>
                                                <div class="restrict-data-field-value-inline" >
                                                    <h:outputText id="ord-created" 
                                                                  value="#{codeElementBB.getPrettyDateNoTime(ord.createdTS)}"/>
                                                    <h:outputText value="#{!(empty ord.createdBy) ? ' by ' : ''}"/>
                                                    <h:outputText value="#{!(empty ord.createdBy) ? ord.createdBy.human.name : ''}"/>
                                                </div>
                                            </div>
                                            <div class="ui-g-12 ui-md-6 ui-lg-12 restrict-data-field" >
                                                <div class="restrict-data-field-label-inline" >
                                                    <h:outputLabel  for="ord-updated">
                                                        <h:outputText value="Last updated" />
                                                    </h:outputLabel>
                                                </div>
                                                <div class="restrict-data-field-value-inline" >
                                                    <h:outputText id="ord-updated" 
                                                                  value="#{codeElementBB.getPrettyDateNoTime(ord.lastUpdatedTS)}"/>
                                                    <h:outputText value="#{!(empty ord.lastUpdatedBy) ? ' by ' : ''}"/>
                                                    <h:outputText value="#{!(empty ord.lastUpdatedBy) ? ord.lastUpdatedBy.userHuman.name : ''}"/>
                                                </div>
                                            </div>

                                        </div>


                                        <p:spacer height="15px"/>
                                        <h:outputLabel styleClass="bold" value="Code Guide: Enforcement Tips"/>
                                        <div class="rowExpansion">
                                            <h:outputText escape="false" value="#{ord.guideEntry.enforcementGuidelines}"/>
                                        </div>

                                        <p:spacer height="15px"/>

                                        <h:outputLabel styleClass="bold" value="Code guide: Inspection Tips"/>
                                        <div class="rowExpansion">
                                            <h:outputText escape="false" value="#{ord.guideEntry.inspectionGuidelines}"/>
                                        </div>
                                    </div>
                                </p:rowExpansion>

                            </p:dataTable>

                            <p:spacer height="5px"/>

                            <p:commandButton 
                                id="sets-addselectedelements-cb"
                                ajax="true" 
                                icon="pi pi-plus"
                                value="Add Selected Elements To Current Code Book using the below enforcement parameters"
                                rendered="#{codeSetBB.permissionsAllowCodeBookAddEdit}"
                                actionListener="#{codeSetBB.onAddSelectedElementsToCodeSetCommitButtonChange}"
                                oncomplete="PF('sets-addelements-dialog-var').hide();"
                                update="form-messages-global
                                codset-tree-form
                                sets-ece-list-form"

                                />
                            <p:spacer height="5px"/>
                            <p:panel 
                                id="default-panel" 
                                header="Default enforceability values for selected ordinances"
                                >

                                <div class="p-grid">
                                    <div class="p-col-3">

                                        <p:outputLabel for="form-max-penalty-default">
                                            <h:outputText value="Maximum Penalty in $"/>
                                        </p:outputLabel>
                                    </div>


                                    <div class="p-col-3">
                                        <p:inputText id="form-max-penalty-default" value="#{codeSetBB.enforcableCodeElementDefaultValues.maxPenalty}" 
                                                     style="width: 50%;" tabindex="3" required="true" styleClass="inputText"/>
                                        <h:message for="formMaxPenalty" showDetail="false" showSummary="true" 
                                                   warnClass="msgWarn" infoClass="msgInfo" fatalClass="msgFatal" errorClass="msgError" />

                                    </div>

                                    <div class="p-col-3">
                                        <p:outputLabel for="form-min-penalty-field-default">
                                            <h:outputText value="Minimum Penalty in $"/>
                                        </p:outputLabel>
                                    </div>

                                    <div class="p-col-3">
                                        <p:inputText id="form-min-penalty-field-default" value="#{codeSetBB.enforcableCodeElementDefaultValues.minPenalty}" 
                                                     style="width: 100%;" tabindex="4" required="true" styleClass="inputText"/>
                                        <h:message for="formMinPenaltyField" showDetail="false" showSummary="true" 
                                                   warnClass="msgWarn" infoClass="msgInfo" fatalClass="msgFatal" errorClass="msgError" />
                                    </div>

                                    <div class="p-col-3">
                                        <p:outputLabel for="form-norm-penalty-field-default">
                                            <h:outputText value="Default/Normal Penalty in $"/>
                                        </p:outputLabel>
                                    </div>


                                    <div class="p-col-3">
                                        <p:inputText id="form-norm-penalty-field-default" value="#{codeSetBB.enforcableCodeElementDefaultValues.normPenalty}" 
                                                     style="width: 50%;" tabindex="5" required="true" styleClass="inputText"/>
                                        <h:message for="formNormPenaltyField" showDetail="false" showSummary="true" 
                                                   warnClass="msgWarn" infoClass="msgInfo" fatalClass="msgFatal" errorClass="msgError" />

                                    </div>
                                    <div class="p-col-3">
                                        <p:outputLabel for="form-penalty-notes-field-default">
                                            <h:outputText value="Penalty notes"/>
                                        </p:outputLabel>
                                    </div>

                                    <div class="p-col-3">
                                        <p:inputText id="form-penalty-notes-field-default" value="#{codeSetBB.enforcableCodeElementDefaultValues.penaltyNotes}" 
                                                     style="width: 100%;" tabindex="6" required="false" styleClass="inputText"/>
                                        <h:message for="form-penalty-notes-field-default" showDetail="false" showSummary="true" 
                                                   warnClass="msgWarn" infoClass="msgInfo" fatalClass="msgFatal" errorClass="msgError" />

                                    </div>
                                    <div class="p-col-3">
                                        <p:outputLabel for="form-norm-days-to-comply-field-default">
                                            <h:outputText value="Default days to comply"/>
                                        </p:outputLabel>
                                    </div>

                                    <div class="p-col-3">
                                        <p:inputText id="form-norm-days-to-comply-field-default" value="#{codeSetBB.enforcableCodeElementDefaultValues.normDaysToComply}" 
                                                     style="width: 50%;" tabindex="7" required="true" styleClass="inputText"/>
                                        <h:message for="form-norm-days-to-comply-field" showDetail="false" showSummary="true" 
                                                   warnClass="msgWarn" infoClass="msgInfo" fatalClass="msgFatal" errorClass="msgError" />
                                    </div>

                                    <div class="p-col-3">
                                        <p:outputLabel for="form-norm-days-to-comply-notes-field-default">
                                            <h:outputText value="Notes on days to comply"/>
                                        </p:outputLabel>
                                    </div>

                                    <div class="p-col-3">
                                        <p:inputText id="form-norm-days-to-comply-notes-field-default" value="#{codeSetBB.enforcableCodeElementDefaultValues.daysToComplyNotes}" 
                                                     style="width: 100%;" tabindex="8" required="false" styleClass="inputText"/>
                                        <h:message for="form-norm-days-to-comply-notes-field" showDetail="false" showSummary="true" 
                                                   warnClass="msgWarn" infoClass="msgInfo" fatalClass="msgFatal" errorClass="msgError" />
                                    </div>


                                    <div class="p-col-3">
                                        <h:outputLabel styleClass="bold" value="Default violation findings:" for="ece-update-defviolfindings"/>
                                    </div>

                                    <div class="p-col-3">
                                        <p:inputTextarea id="ece-update-defviolfindings-default"
                                                         value="#{codeSetBB.enforcableCodeElementDefaultValues.defaultViolationDescription}" />
                                    </div>

                                    <div class="p-col-3">
                                        <h:outputLabel styleClass="bold" value="Municipality-Specific Notes:" for="formMuniSpecificNotesEditor"/>
                                    </div>


                                    <div class="p-col-3">
                                        <p:inputTextarea   
                                            id="form-muni-specific-notes-editor-default"  
                                            value="#{codeSetBB.enforcableCodeElementDefaultValues.muniSpecificNotes}" 
                                            required="false"
                                            rows = "2"
                                            cols = "15"/>
                                        <h:message for="form-muni-specific-notes-editor-default" showDetail="false" showSummary="true" 
                                                   warnClass="msgWarn" infoClass="msgInfo" fatalClass="msgFatal" errorClass="msgError" />
                                    </div>

                                    <div class="p-col-3 restrict-main-contents-io-title" >
                                        <p:outputLabel  for="violation-severity-som">
                                            <h:outputText value="Violation severity default" />
                                        </p:outputLabel>
                                    </div>
                                    <div class="p-col-3 restrict-main-contents-io-content">
                                        <p:selectOneMenu id="violation-severity-som"
                                                         value="#{codeSetBB.enforcableCodeElementDefaultValues.defaultViolationSeverity}"
                                                         style="width: 100%;"
                                                         required="true"
                                                         requiredMessage="A violation severity must be selected when adding a violation."
                                                         >
                                            <f:converter converterId="intensityClassConverter"/>

                                            <f:selectItem itemLabel="select a severity" noSelectionOption="true" />

                                            <f:selectItems id="violation-severity-selitems"
                                                           value="#{codeSetBB.enforcableCodeElementSeverityList}"
                                                           var="ic" itemValue="#{ic}" itemLabel="#{ic.numericRating}: #{ic.title}"/>
                                        </p:selectOneMenu>
                                    </div>
                                </div>                             
                            </p:panel>
                            <p:spacer height="20px" />
                        </h:form>
                    </p:dialog>

                    <p:dialog id="set-nuke-dialog"
                              widgetVar="set-nuke-dialog-var"
                              header="Nuke code book"
                              closeOnEscape="true"
                              closable="true"
                              resizable="true"
                              responsive="true"
                              height="300" width="550"
                              rendered="#{codeSetBB.permissionsAllowCodeBookAddEdit}"
                              >

                        <h:form id="set-nuke-form">

                            <div class="ui-g data_container_nested_restrict">
                                <div class="ui-g-12 ui-md-6 ui-lg-4 restrict-data-field" >
                                    <div class="restrict-data-field-label-inline" >
                                        <h:outputLabel  for="set-remove-button">
                                            <h:outputText value="Nuked code sets can only be rescued by sys admins...and they will grumble while doing so." />
                                        </h:outputLabel>
                                    </div>
                                </div>
                                <div class="restrict-main-contents-io-button red_button">


                                    <p:commandButton    id="set-nuke-button"
                                                        ajax="false" 
                                                        action="#{codeSetBB.onCodeSetNukeCommitButtonChange}"
                                                        value="Nuke code book" 
                                                        icon="fa fa-bomb"
                                                        rendered="#{codeSetBB.permissionsAllowCodeBookAddEdit}"
                                                        />
                                </div>
                            </div>
                        </h:form>
                    </p:dialog>

                    <p:dialog id="sets-ece-nuke-dialog"
                              widgetVar="sets-ece-nuke-dialog-var"
                              header="Nuke enforcable code element"
                              closeOnEscape="true"
                              closable="true"
                              resizable="true"
                              responsive="true"
                              height="300" width="550"
                              rendered="#{codeSetBB.permissionsAllowCodeBookAddEdit}"
                              >

                        <h:form id="sets-ece-nuke-form">

                            <div class="ui-g data_container_nested_restrict">
                                <div class="ui-g-12 ui-md-6 ui-lg-4 restrict-data-field" >
                                    <div class="restrict-data-field-label-inline" >
                                        <h:outputLabel  for="ece-remove-button">
                                            <h:outputText value="Removed enforcable elements can only be rescued by sys admins...and they will grumble while doing so." />
                                        </h:outputLabel>
                                    </div>
                                </div>
                                <div class="restrict-main-contents-io-button red_button">


                                    <p:commandButton    id="ece-nuke-button"
                                                        ajax="false" 
                                                        action="#{codeSetBB.onNukeCodeSetElementCommit}"
                                                        value="Nuke enforcable code element" 
                                                        icon="fa fa-bomb"
                                                        rendered="#{codeSetBB.permissionsAllowCodeBookAddEdit}"
                                                        />
                                </div>
                            </div>
                        </h:form>
                    </p:dialog>
                </f:view>
            </ui:define>
        </ui:composition>
    </h:body>
</html>

