<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns="http://www.w3.org/1999/xhtml">


    <h:form id="caselistreport-growl-form">
        <p:growl id="caselistreport-growl"
                 globalOnly="false" 
                 />
    </h:form>


    <p:dialog   id="cecase-list-report-dialog"
                widgetVar="cecase-list-report-dialog-var"
                closable="true" 
                responsive="true"
                modal="true"
                dynamic="true"
                height="600"
                width="80%"
                header="Configure Code Enforcement Case List Report"
                >

        <h:form id="cecase-list-report-form">
            <div class="p-grid nested-grid">
                <div class="p-col-6">
                    <p:panel id="generate-panel"
                             header="Generate report">
                        <div class="fullwidth-component">
                                
                        <p:commandButton id="cecaselist-print-jsexecute-cb"
                                         ajax="true"
                                         actionListener="#{ceCaseSearchAndReportBB.generateReportCECaseList}" 
                                         value="Generate case list report in new tab"
                                         icon="pi pi-print" />
                        <p:spacer height="3px" />
                        <p class="italic small-text" style="color:darkblue;" >Report not appearing? Make sure to allow pop-ups on your codeNforce tab using your browser settings.</p>
                        </div>

                    </p:panel>
                    <p:panel id="caselist-config-datepickers"
                             header="Title and Date Range">

                        <h:outputLabel for="report-caselist-profile-title-it" value="Report title"/>

                        <p:spacer height="5px"/>

                        <p:inputText id="report-caselist-title-it" style="width: 300px;" value="#{ceCaseSearchAndReportBB.reportCECaseList.title}"/>
                        <p:spacer height="5px"/>
                        <h:outputText styleClass="italic" value="note: your name and the current date and time will be automatically inserted" />



                        <p:spacer height="5px" />
                        <p:outputLabel for="cecase-list-report-date-start-cal" 
                                       value="start date"/>

                        <p:spacer height="1px" />
                        <p:datePicker 	 id="cecase-list-report-date-start-cal" 
                                        value="#{ceCaseSearchAndReportBB.reportCECaseList.date_start_val}" 
                                        rendered="true"
                                        style="width: 100%;"
                                        pattern="MM/dd/yyyy HH:mm"
                                        disabled="false"
                                        hideOnDateTimeSelect="true"
                                        showOnFocus="false"
                                        showIcon="true"
                                        showButtonBar="true"
                                        mask="true"
                                        timeInput="true" 
                                        required="true" />

                        <p:outputLabel for="cecase-list-report-date-end-cal" 
                                       value="end date"/>

                        <p:spacer height="1px" />

                        <p:datePicker 	 id="cecase-list-report-date-end-cal" 
                                        value="#{ceCaseSearchAndReportBB.reportCECaseList.date_end_val}" 
                                        rendered="true"
                                        style="width: 100%;"
                                        pattern="MM/dd/yyyy HH:mm"
                                        disabled="false"
                                        hideOnDateTimeSelect="true"
                                        showOnFocus="false"
                                        showIcon="true"
                                        showButtonBar="true"
                                        mask="true"
                                        timeInput="true" 
                                        required="true" />


                        <h:outputLabel for="report-caselist-notes-ita" value="Notes"/>
                        <p:spacer height="5px"/>
                        <p:inputText id="report-caselist-notes-ita" style="width: 300px; height: 100px;" value="#{ceCaseSearchAndReportBB.reportCECaseList.notes}"/>
                    </p:panel>

                </div>
                <div class="p-col-6">

                    <p:panel id="caselist-size-section"
                             header="Display size">
                        <div class="p-grid">
                            <div class="p-col-8">
                                <h:outputLabel class="bold" 
                                               value="Text size and compactness" 
                                               for="text-size-som" />
                            </div>
                            <div class="p-col-4">
                                <p:selectOneMenu id="text-size-som"
                                                 value="#{ceCaseSearchAndReportBB.reportCECaseList.textSize}">
                                    <f:selectItems value="#{reportingBB.textSizeCandidateList}"
                                                   var="size"
                                                   itemValue="#{size}"
                                                   itemLabel="#{size.fieldName}" />
                                
                                </p:selectOneMenu>
                                
                            </div>
                        </div>
                    </p:panel>

                    <p:panel id="caselist-config-sections"
                             header="Section and metric display options">
                        <div class="p-grid">
                            <div class="p-col-8">
                                <h:outputLabel class="bold" 
                                               value="Include report summary?" 
                                               for="report-caselist-reportsummary-chkbox" />
                            </div>
                            <div class="p-col-4">
                                <p:selectBooleanCheckbox id="report-caselist-reportsummary-chkbox" 
                                                         value="#{ceCaseSearchAndReportBB.reportCECaseList.includeSectionReportSummary}" 
                                                         disabled="false">
                                    <p:ajax update="@form" />
                                </p:selectBooleanCheckbox>
                            </div>


                            <div class="p-col-8">
                                <h:outputLabel value="-- Total cases open as of start of reporting period" 
                                               for="report-caselist-reportsummary-casesopenasof-chkbox" />
                            </div>
                            <div class="p-col-4">
                                <p:selectBooleanCheckbox id="report-caselist-reportsummary-casesopenasof-chkbox" 
                                                         value="#{ceCaseSearchAndReportBB.reportCECaseList.includeSectionReportSummary_openAsOfSOR}" 
                                                         disabled="#{not ceCaseSearchAndReportBB.reportCECaseList.includeSectionReportSummary}"/>
                            </div>


                            <div class="p-col-8">
                                <h:outputLabel value="-- Cases opened count" 
                                               for="report-caselist-reportsummary-opened-chkbox" />
                            </div>
                            <div class="p-col-4">
                                <p:selectBooleanCheckbox id="report-caselist-reportsummary-opened-chkbox" 
                                                         value="#{ceCaseSearchAndReportBB.reportCECaseList.includeSectionReportSummary_casesOpened}" 
                                                         disabled="#{not ceCaseSearchAndReportBB.reportCECaseList.includeSectionReportSummary}"/>
                            </div>


                            <div class="p-col-8">
                                <h:outputLabel value="-- Cases closed count" 
                                               for="report-caselist-reportsummary-closed-chkbox" />
                            </div>
                            <div class="p-col-4">
                                <p:selectBooleanCheckbox id="report-caselist-reportsummary-closed-chkbox" 
                                                         value="#{ceCaseSearchAndReportBB.reportCECaseList.includeSectionReportSummary_casesClosed}" 
                                                         disabled="#{not ceCaseSearchAndReportBB.reportCECaseList.includeSectionReportSummary}"/>
                            </div>

                            <div class="p-col-8">
                                <h:outputLabel value="-- Total cases open as of end of reporting period" 
                                               for="report-caselist-reportsummary-eor-chkbox" />
                            </div>
                            <div class="p-col-4">
                                <p:selectBooleanCheckbox id="report-caselist-reportsummary-eor-chkbox" 
                                                         value="#{ceCaseSearchAndReportBB.reportCECaseList.includeSectionReportSummary_openAsOfEOR}" 
                                                         disabled="#{not ceCaseSearchAndReportBB.reportCECaseList.includeSectionReportSummary}" />
                            </div>

                            <div class="p-col-8">
                                <h:outputLabel value="-- New Violations" 
                                               for="report-caselist-reportsummary-newviols-chkbox" />
                            </div>
                            <div class="p-col-4">
                                <p:selectBooleanCheckbox id="report-caselist-reportsummary-newviols-chkbox" 
                                                         value="#{ceCaseSearchAndReportBB.reportCECaseList.includeSectionReportSummary_newViolations}" 
                                                         disabled="#{not ceCaseSearchAndReportBB.reportCECaseList.includeSectionReportSummary}" />
                            </div>

                            <div class="p-col-8">
                                <h:outputLabel value="-- Violaions that have come into compliance" 
                                               for="report-caselist-reportsummary-vcomp-chkbox" />
                            </div>
                            <div class="p-col-4">
                                <p:selectBooleanCheckbox id="report-caselist-reportsummary-vcomp-chkbox" 
                                                         value="#{ceCaseSearchAndReportBB.reportCECaseList.includeSectionReportSummary_compViol}" 
                                                         disabled="#{not ceCaseSearchAndReportBB.reportCECaseList.includeSectionReportSummary}" />
                            </div>

                            <div class="p-col-8">
                                <h:outputLabel value="-- Events logged" 
                                               for="report-caselist-reportsummary-evs-chkbox" />
                            </div>
                            <div class="p-col-4">
                                <p:selectBooleanCheckbox id="report-caselist-reportsummary-evs-chkbox" 
                                                         value="#{ceCaseSearchAndReportBB.reportCECaseList.includeSectionReportSummary_eventsLogged}" 
                                                         disabled="#{not ceCaseSearchAndReportBB.reportCECaseList.includeSectionReportSummary}" />
                            </div>

                            <div class="p-col-8">
                                <h:outputLabel value="-- List cases composing summary statistics (for auditing purposes)" 
                                               for="report-caselist-reportsummary-caselist-chkbox" />
                            </div>
                            <div class="p-col-4">
                                <p:selectBooleanCheckbox id="report-caselist-reportsummary-caselist-chkbox" 
                                                         value="#{ceCaseSearchAndReportBB.reportCECaseList.includeReportSummary_caseListsForEachSummary}" 
                                                         disabled="#{not ceCaseSearchAndReportBB.reportCECaseList.includeSectionReportSummary}" />
                            </div>

                            <div class="p-col-8">
                                <h:outputLabel value="-- Aggregated event duration" 
                                               for="report-caselist-reportsummary-aggevdur-chkbox" />
                            </div>
                            <div class="p-col-4">
                                <p:selectBooleanCheckbox id="report-caselist-reportsummary-aggevdur-chkbox" 
                                                         value="#{ceCaseSearchAndReportBB.reportCECaseList.includeSectionReportSummary_eventsTotalTime}" 
                                                         disabled="#{not ceCaseSearchAndReportBB.reportCECaseList.includeSectionReportSummary}"/>
                            </div>

                            <div class="p-col-8">
                                <h:outputLabel value="-- Reason for case closure breakdown and pie chart" 
                                               for="report-caselist-reportsummary-caseclosepie-chkbox" />
                            </div>
                            <div class="p-col-4">
                                <p:selectBooleanCheckbox id="report-caselist-reportsummary-caseclosepie-chkbox" 
                                                         value="#{ceCaseSearchAndReportBB.reportCECaseList.includeSectionReportSummary_closurePieChart}" 
                                                         disabled="#{not ceCaseSearchAndReportBB.reportCECaseList.includeSectionReportSummary}"/>
                            </div>

                            <p:divider />

                            <div class="p-col-8">
                                <h:outputLabel class="bold" 
                                               value="Include section: Code Violation Status?" 
                                               for="report-caselist-section-violations-chkbox" />
                            </div>
                            <div class="p-col-4">
                                <p:selectBooleanCheckbox id="report-caselist-section-violations-chkbox" 
                                                         value="#{ceCaseSearchAndReportBB.reportCECaseList.includeSectionCodeViolationStatus}" 
                                                         disabled="false">
                                    <p:ajax update="@form" />
                                </p:selectBooleanCheckbox>
                            </div>



                            <div class="p-col-8">
                                <h:outputLabel value="-- Accumulated code violation compliance count" 
                                               for="report-caselist-violations-metric-acccomp-chkbox" />
                            </div>
                            <div class="p-col-4">
                                <p:selectBooleanCheckbox id="report-caselist-violations-metric-acccomp-chkbox" 
                                                         value="#{ceCaseSearchAndReportBB.reportCECaseList.includeSectionCodeViolationStatus_compliance}" 
                                                         disabled="#{not ceCaseSearchAndReportBB.reportCECaseList.includeSectionCodeViolationStatus}" />
                            </div>

                            <div class="p-col-8">
                                <h:outputLabel value="-- Within compliance window" 
                                               for="report-caselist-violations-metric-compwindow-chkbox" />
                            </div>
                            <div class="p-col-4">
                                <p:selectBooleanCheckbox id="report-caselist-violations-metric-compwindow-chkbox" 
                                                         value="#{ceCaseSearchAndReportBB.reportCECaseList.includeSectionCodeViolationStatus_withinWindow}" 
                                                         disabled="#{not ceCaseSearchAndReportBB.reportCECaseList.includeSectionCodeViolationStatus}" />
                            </div>

                            <div class="p-col-8">
                                <h:outputLabel value="-- Outside compliance window (aka: Requiring ongoing action)" 
                                               for="report-caselist-violations-metric-expwindow-chkbox" />
                            </div>
                            <div class="p-col-4">
                                <p:selectBooleanCheckbox id="report-caselist-violations-metric-expwindow-chkbox" 
                                                         value="#{ceCaseSearchAndReportBB.reportCECaseList.includeSectionCodeViolationStatus_expiredWindow}" 
                                                         disabled="#{not ceCaseSearchAndReportBB.reportCECaseList.includeSectionCodeViolationStatus}" />
                            </div>

                            <div class="p-col-8">
                                <h:outputLabel value="-- Violations cited" 
                                               for="report-caselist-violations-metric-vcited-chkbox" />
                            </div>
                            <div class="p-col-4">
                                <p:selectBooleanCheckbox id="report-caselist-violations-metric-vcited-chkbox" 
                                                         value="#{ceCaseSearchAndReportBB.reportCECaseList.includeSectionCodeViolationStatus_cited}" 
                                                         disabled="#{not ceCaseSearchAndReportBB.reportCECaseList.includeSectionCodeViolationStatus}" />
                            </div>


                            <p:divider />

                            <div class="p-col-8">
                                <h:outputLabel class="bold" 
                                               value="Include section: Citations?" 
                                               for="report-caselist-section-citations-chkbox" />
                            </div>
                            <div class="p-col-4">
                                <p:selectBooleanCheckbox id="report-caselist-section-citations-chkbox" 
                                                         value="#{ceCaseSearchAndReportBB.reportCECaseList.includeSectionCitations}" 
                                                         disabled="false">
                                    <p:ajax update="@form" />
                                </p:selectBooleanCheckbox>
                            </div>


                            <div class="p-col-8">
                                <h:outputLabel value="-- Citations at any stage on active cases in reporting period" 
                                               for="report-caselist-citations-metric-citsanystage-chkbox" />
                            </div>
                            <div class="p-col-4">
                                <p:selectBooleanCheckbox id="report-caselist-citations-metric-citsanystage-chkbox" 
                                                         value="#{ceCaseSearchAndReportBB.reportCECaseList.includeSectionCitations_citationsAnyStage}" 
                                                         disabled="#{not ceCaseSearchAndReportBB.reportCECaseList.includeSectionCitations}" />
                            </div>


                            <div class="p-col-8">
                                <h:outputLabel value="-- Citations stage breakdown and pie chart" 
                                               for="report-caselist-citations-metric-citpie-chkbox" />
                            </div>
                            <div class="p-col-4">
                                <p:selectBooleanCheckbox id="report-caselist-citations-metric-citpie-chkbox" 
                                                         value="#{ceCaseSearchAndReportBB.reportCECaseList.includeSectionCitations_pieChart}" 
                                                         disabled="#{not ceCaseSearchAndReportBB.reportCECaseList.includeSectionCitations}" />
                            </div>

                            <p:divider />

                            <div class="p-col-8">
                                <h:outputLabel class="bold" 
                                               value="Include section: street level summary table?" 
                                               for="report-caselist-streetsummary-chkbox" />
                            </div>
                            <div class="p-col-4">
                                <p:selectBooleanCheckbox id="report-caselist-streetsummary-chkbox" 
                                                         value="#{ceCaseSearchAndReportBB.reportCECaseList.includeSectionStreetLevelSummary}" 
                                                         disabled="false"/>
                            </div>

                            <p:divider />

                            <div class="p-col-8">
                                <h:outputLabel class="bold" 
                                               value="Include section: Code enforcement action requests?" 
                                               for="report-caselist-section-cears-chkbox" />
                            </div>
                            <div class="p-col-4">
                                <p:selectBooleanCheckbox id="report-caselist-section-cears-chkbox" 
                                                         value="#{ceCaseSearchAndReportBB.reportCECaseList.includeSectionCEActionRequestSummary}" 
                                                         disabled="false">
                                </p:selectBooleanCheckbox>
                            </div>

                            
                            <p:divider />

                            <div class="p-col-8">
                                <h:outputLabel class="bold" 
                                               value="Include section: Case details?" 
                                               for="report-caselist-casedetails-chkbox" />
                            </div>
                            <div class="p-col-4">
                                <p:selectBooleanCheckbox id="report-caselist-casedetails-chkbox" 
                                                         value="#{ceCaseSearchAndReportBB.reportCECaseList.includeSectionCaseByCaseDetail}" 
                                                         disabled="false">
                                    <p:ajax update="@form" />
                                </p:selectBooleanCheckbox>
                            </div>


                            <div class="p-col-8">
                                <h:outputLabel value="-- Case names" 
                                               for="report-caselist-casename-chkbox" />
                            </div>
                            <div class="p-col-4">
                                <p:selectBooleanCheckbox id="report-caselist-casename-chkbox" 
                                                         value="#{ceCaseSearchAndReportBB.reportCECaseList.includeSectionCaseByCaseDetail_caseNames}" 
                                                         disabled="#{not ceCaseSearchAndReportBB.reportCECaseList.includeSectionCaseByCaseDetail}"/>
                            </div>

                            <div class="p-col-8">
                                <h:outputLabel value="-- Violation list " 
                                               for="report-caselist-viols-chkbox" />
                            </div>
                            <div class="p-col-4">
                                <p:selectBooleanCheckbox id="report-caselist-viols-chkbox" 
                                                         value="#{ceCaseSearchAndReportBB.reportCECaseList.includeSectionCaseByCaseDetail_violationList}" 
                                                         disabled="#{not ceCaseSearchAndReportBB.reportCECaseList.includeSectionCaseByCaseDetail}"/>
                            </div>

                            <div class="p-col-8">
                                <h:outputLabel value="-- Extended property info" 
                                               for="report-caselist-propertyinfo" />
                            </div>
                            <div class="p-col-4">
                                <p:selectBooleanCheckbox id="report-caselist-propertyinfo" 
                                                         value="#{ceCaseSearchAndReportBB.reportCECaseList.includeSectionCaseByCaseDetail_extendedPropertyDetails}" 
                                                         disabled="#{not ceCaseSearchAndReportBB.reportCECaseList.includeSectionCaseByCaseDetail}"/>
                            </div>

                            <div class="p-col-8">
                                <h:outputLabel class="bold" 
                                               value="-- Include event history" 
                                               for="report-caselist-eventhist-chkbox" />
                            </div>
                            <div class="p-col-4">
                                <p:selectBooleanCheckbox id="report-caselist-eventhist-chkbox" 
                                                         value="#{ceCaseSearchAndReportBB.reportCECaseList.includeSectionCaseByCaseDetail_eventSummary}" 
                                                         disabled="#{not ceCaseSearchAndReportBB.reportCECaseList.includeSectionCaseByCaseDetail}" >
                                    <p:ajax update="@form" />
                                </p:selectBooleanCheckbox>
                            </div>

                            <div class="p-col-6">
                                <h:outputLabel value="-- -- Filter event list assuming a reader's rank of" 
                                               for="report-caselist-casedetail-eventreaderreank-som" />
                            </div>
                            <div class="p-col-6">
                                <p:selectOneMenu id="report-caselist-casedetail-eventreaderreank-som" 
                                                 required="false" 
                                                 value="#{ceCaseSearchAndReportBB.reportCECaseList.includeSectionCaseByCaseDetail_eventListViewerRank}"
                                                 disabled="#{not ceCaseSearchAndReportBB.reportCECaseList.includeSectionCaseByCaseDetail or not ceCaseSearchAndReportBB.reportCECaseList.includeSectionCaseByCaseDetail_eventSummary }" >
                                    <f:selectItem itemLabel="select a role..." noSelectionOption="true" />
                                    <f:selectItems value="#{reportingBB.roleTypeCandidateListForReportViewerFiltering}"  
                                                   var="rt" 
                                                   itemValue="#{rt}" 
                                                   itemLabel="#{rt.label}, (RNK: #{rt.rank})"/>
                                </p:selectOneMenu>
                            </div>

                            <div class="p-col-8">
                                <h:outputLabel value="-- -- Event descriptions" 
                                               for="report-caselist-casedetail-descr-sbcb" />
                            </div>
                            <div class="p-col-4">
                                <p:selectBooleanCheckbox id="report-casedetail-eventdescr-sbcb" 
                                                         value="#{ceCaseSearchAndReportBB.reportCECaseList.includeSectionCaseByCaseDetail_eventDescription}" 
                                                         disabled="#{not ceCaseSearchAndReportBB.reportCECaseList.includeSectionCaseByCaseDetail or not ceCaseSearchAndReportBB.reportCECaseList.includeSectionCaseByCaseDetail_eventSummary }" />
                            </div>
                        </div>
                    </p:panel>
                </div>
            </div>
        </h:form>
    </p:dialog>
</ui:composition>