<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns="http://www.w3.org/1999/xhtml">

    <p:panel    id="cecase-profile-panel"
                toggleable="true"
                widgetVar="cecase-profile-panel-var"
                collapsed="false"
                rendered="true"
                header="Code Enforcement Case | ID: #{ceCaseBB.currentCase.caseID}" >

        <h:form id="cecase-profile-form-0">
            <p:commandButton id="cecase-edit-button"  
                             value="#{ceCaseBB.editModeCurrentCase ? 'Save changes' : 'Edit Case Details'}"
                             rendered="#{systemServicesBB.bbSessionUser.keyCard.hasMuniStaffPermissions}"
                             icon="pi #{ceCaseBB.editModeCurrentCase ? 'pi-check' : 'pi-pencil'}"
                             actionListener="#{ceCaseBB.onToggleCECaseEditButtonChange}"
                             disabled="#{!empty ceCaseBB.currentCase.deactivatedTS or sessionBean.crossMuniViewMode}"
                             update="   @form
                             cecase-growl-form
                             cecase-profile-panel"/>

            <div class="gray_button">

                <p:commandButton id="cecase-edit-abort"
                                 value="Cancel"
                                 styleClass="gray_button"
                                 rendered="#{ceCaseBB.editModeCurrentCase}"
                                 icon="pi pi-stop"
                                 actionListener="#{ceCaseBB.onEditCECaseAbort}"
                                 update="@form
                                 cecase-growl-form"/>
            </div>

            <p:spacer height="5px" />
            <div class="p-grid">
                <div class="p-col-4 restrict-data-field-label-inline">
                    <h:outputText value="Property" />    
                </div>
                <div class="p-col-8 restrict-data-field-value-inline nested-grid">
                    <h:outputText value="#{ceCaseBB.currentCase.propertyAddress2LineFlat}"
                                  escape="false" />
                    <p:spacer height="3px" />
                    <h:outputText value="Parcel ID: #{ceCaseBB.currentCase.propertyParcelIDCountyFlat}" />
                    <div class="p-grid">
                        <ui:include src="/restricted/cogstaff/event/compositions/propertyAlertFlags.xhtml" />
                    </div>
                </div>
                <div class="p-col-4 restrict-data-field-label-inline">
                    <h:outputText value="Priority" />  
                    <p:spacer height="3px" />
                    <div class="restrict-main-contents-io-link link-button help-icon-tightright">
                        <a href="https://technologyrediscovery.github.io/codenforce/dashboard/dashboard#case-priority-color-scheme"
                           target="_blank">
                            <i class="material-icons"
                               style="display: inline-block">help_outline</i>
                        </a>
                    </div>
                    <div class="restrict-main-contents-io-link link-button help-text-tightleft">
                        <a href="https://technologyrediscovery.github.io/codenforce/dashboard/dashboard#case-priority-color-scheme"
                           target="_blank">
                            <h:outputText value="priority help" />
                        </a>
                    </div>
                </div>
                <div class="p-col-8 restrict-data-field-value-inline">
                    <div class="#{!empty ceCaseBB.currentCase.priority ? ceCaseBB.currentCase.priority.rowStyleClass : ''}">
                        <i class="material-icons">
                            <h:outputText value="#{!empty ceCaseBB.currentCase.priorityIcon ? ceCaseBB.currentCase.priorityIcon.materialIcon:''}"/>
                        </i>
                    </div> 

                    <p:spacer height="3px" />
                    <h:outputText value="#{!empty ceCaseBB.currentCase.priority ? ceCaseBB.currentCase.priority.label :''}" />

                    <div class="restrict-main-contents-io-link" >

                        <p:commandLink id="prioritylog-button"
                                       styleClass="button-help"
                                       type="button" >
                            <h:outputText value="view priority log" />
                        </p:commandLink>

                    </div>
                    <p:overlayPanel for="prioritylog-button"
                                    style="width:350px;" 
                                    dismissable="true"
                                    showCloseIcon="true">
                        <h3>Priority Assignment Log</h3>
                        <h:outputText value="#{ceCaseBB.currentCase.priorityAssignmentLog}" 
                                      escape="false"/>
                    </p:overlayPanel>
                </div>
                <div class="p-col-4 restrict-data-field-label-inline">
                    <h:outputText value="Status" />  
                </div>
                <div class="p-col-8 restrict-data-field-value-inline">
                    <div class="restrict-main-contents-io-link" >
                        <p:commandLink id="status-button"
                                       styleClass="button-help"
                                       type="button" >
                            <h:outputText value="view status xml" />
                        </p:commandLink>
                    </div>
                    <p:overlayPanel for="status-button"
                                    style="width:850px;" 
                                    dismissable="true"
                                    showCloseIcon="true">
                        <h3>Status XML</h3>
                        <p:inputTextarea value="#{ceCaseBB.currentCase.statusXML}" 
                                         rows="25"
                                         cols="80"
                                         />
                        <p:spacer height="3px" />

                        <div class="restrict-main-contents-io-button">

                            <p:commandButton id="cse-writexml-cb"
                                             value="Update status XML"
                                             actionListener="#{ceCaseBB.writeStatusXML}"
                                             icon="pi pi-pencil" />
                        </div>

                    </p:overlayPanel>
                </div>


                <div class="p-col-4 restrict-data-field-label-inline">
                    <h:outputText value="Broadview" />    
                </div>

                <div class="p-col-8 restrict-data-field-value-inline">
                    <p:graphicImage value="#{blobsterBB.image}"
                                    alt="no preview available" 
                                    style="width: 150px" 
                                    cache="true"
                                    rendered="#true">
                        <f:param name="blobid" value="#{sessionBean.sessProperty.broadviewPhoto.photoDocID}"/>
                    </p:graphicImage>
                </div>


                <div class="p-col-4 restrict-data-field-label-inline">
                    <h:outputText value="Property Unit associated?" />
                </div>
                <div class="p-col-8 restrict-data-field-value-inline">
                    <h:outputText value="#{empty ceCaseBB.currentCase.unitNumber ? 'None specified': ceCaseBB.currentCase.unitNumber}"
                                  rendered="#{!ceCaseBB.editModeCurrentCase}"/>


                    <p:selectBooleanCheckbox    id="cecase-details-isunitassociated-checkbox"
                                                value="#{ceCaseBB.formCurrentCaseUnitAssociated}"
                                                rendered="#{ceCaseBB.editModeCurrentCase}" >
                        <p:ajax update="cecase-unit-som" />
                    </p:selectBooleanCheckbox>
                    <p:spacer height="3px" />

                    <h:selectOneMenu id="cecase-unit-som"
                                     value="#{ceCaseBB.formSelectedUnit}"
                                     required="false"
                                     disabled="#{!ceCaseBB.formCurrentCaseUnitAssociated}"
                                     rendered="#{ceCaseBB.editModeCurrentCase}">

                        <f:converter converterId="propertyUnitConverter"/>
                        <f:selectItem itemLabel="select a unit on current property"
                                      noSelectionOption="true" 
                                      itemDisabled="true"/>
                        <f:selectItems id="cecase-unit-selectitems"
                                       value="#{sessionBean.sessProperty.unitList}"
                                       var="pu" 
                                       itemValue="#{pu}" 
                                       itemLabel="#{pu.unitNumber} (ID:#{pu.unitID})"/>
                    </h:selectOneMenu>
                </div>


                <div class="p-col-4 restrict-data-field-label-inline">
                    <h:outputText value="Origination event" />
                </div>
                <div class="p-col-8 restrict-data-field-value-inline">

                    <h:outputText value="Current origination event category: " 
                                  rendered="#{ceCaseBB.editModeCurrentCase}"/>

                    <h:outputText value="#{!empty ceCaseBB.currentCase.originationEvent ? ceCaseBB.currentCase.originationEvent.category.eventCategoryTitle : 'no orig event'}" 
                                  rendered="true"/>

                    <p:spacer height="4px" />

                    <h:outputText value="Update to: " 
                                  rendered="#{ceCaseBB.editModeCurrentCase}"/>

                    <p:spacer height="4px" />
                    <h:selectOneMenu id="cecase-add-origevent-som"
                                     value="#{ceCaseBB.formCECaseOriginationEventCat}"
                                     rendered="#{ceCaseBB.editModeCurrentCase}"
                                     required="false"
                                     style="width:100%;">

                        <f:converter converterId="eventCategoryConverter"/>
                        <f:selectItem itemLabel="select an origination event category"
                                      noSelectionOption="true" 
                                      itemDisabled="false"/>
                        <f:selectItems id="cecase-add-origevent-selectitems"
                                       value="#{ceCaseBB.originationEventCategoryList}"
                                       var="ec" 
                                       itemValue="#{ec}" 
                                       itemLabel="#{ec.eventCategoryTitle}"/>
                    </h:selectOneMenu>
                </div>

                <div class="p-col-4 restrict-data-field-label-inline">
                    <h:outputText value="Name "/>
                    <p:commandButton id="casename-help-button"
                                     icon="pi pi-question-circle"
                                     styleClass="button-help"
                                     type="button" />

                    <p:overlayPanel for="casename-help-button"
                                    style="width:350px;" 
                                    dismissable="true"
                                    showCloseIcon="true">
                        <h3>Code enforcement case names</h3>
                        <p>A case's name is a text field for INTERNAL office use only that allows managers to label a case something memorable,
                            such as 'deer feeding lady' or 'fridge in front yard' or 'imploded garage'. The case name appears on the dashboard's
                            case list for easy ID but does not by default print on case list reports .</p>
                    </p:overlayPanel>
                </div>
                <div class="p-col-8 restrict-data-field-value-inline">

                    <h:outputLabel id="case-name-ot"
                                   value="#{ceCaseBB.currentCase.caseName}"
                                   rendered="#{!ceCaseBB.editModeCurrentCase}"/>
                    <h:inputText    id="cecase-name-it"
                                    styleClass="data_field_value"
                                    value="#{ceCaseBB.currentCase.caseName}"
                                    rendered="#{ceCaseBB.editModeCurrentCase}"/>
                </div>

                <f:subview id="cecase-oneclick-subview"
                           rendered="#{not empty ceCaseBB.currentCase.oneClickTemplate}">

                    <div class="p-col-4 restrict-data-field-label-inline">
                        <h:outputText value="One-click created:"/>
                    </div>
                    <div class="p-col-8 restrict-data-field-value-inline">
                        <h:outputText value="Created using one-click case template: #{ceCaseBB.currentCase.oneClickTemplate.title}" />
                    </div>

                </f:subview>

                <div class="p-col-4 restrict-data-field-label-inline">
                    <h:outputText value="Source"/>
                </div>
                <div class="p-col-8 restrict-data-field-value-inline">
                    <h:outputText value="#{!empty ceCaseBB.currentCase.source? ceCaseBB.currentCase.source.title : ''}" />
                    <h:selectOneMenu id="cecase-source-som"
                                     value="#{ceCaseBB.currentCase.source}"
                                     styleClass="data_field_value"
                                     rendered="#{ceCaseBB.editModeCurrentCase}">
                        <f:converter converterId="bobSourceConverter"/>
                        <f:selectItem itemLabel="select a source..." noSelectionOption="true" />
                        <f:selectItems id="cecase-source-selitem"
                                       value="#{ceCaseBB.bobSourceOptionList}"
                                       var="bs" itemValue="#{bs}" itemLabel="#{bs.title}"/>

                    </h:selectOneMenu>
                </div>

                <div class="p-col-4 restrict-data-field-label-inline">
                    <h:outputLabel value="Opening date"/>
                </div>
                <div class="p-col-8 restrict-data-field-value-inline">

                    <h:outputText id="selcase-odate-it" 
                                  value="#{ceCaseBB.getPrettyDateNoTime(ceCaseBB.currentCase.originationDate)}"
                                  rendered="#{!ceCaseBB.editModeCurrentCase}"/>
                    <h:outputText id="selcase-age-it" 
                                  value=" (#{ceCaseBB.currentCase.caseAge} days ago)" 
                                  rendered="#{empty ceCaseBB.currentCase.closingDate and !ceCaseBB.editModeCurrentCase}"/>

                    <p:datePicker 	id="cecase-date-origination-cal"
                                   value="#{ceCaseBB.currentCase.originationDate}"
                                   rendered="#{ceCaseBB.editModeCurrentCase}"
                                   style="width: 100%;"
                                   pattern="MM/dd/yyyy HH:mm"
                                   disabled="false"
                                   hideOnDateTimeSelect="true"
                                   showOnFocus="false"
                                   showIcon="true"
                                   showButtonBar="true"
                                   mask="true"
                                   timeInput="true" 
                                   required="true" />
                </div>
            </div>
        </h:form>

        <div class="p-grid">
            <div class="p-col-4 restrict-data-field-label-inline">
                <h:outputLabel value="Closing date"/>
            </div>
            <div class="p-col-8 restrict-data-field-value-inline">
                <h:form id="cecase-initclosereopen-form">
                    <h:outputText id="selcase-cdate-it" 
                                  value="#{ceCaseBB.getPrettyDateNoTime(ceCaseBB.currentCase.closingDate)}"
                                  rendered="#{!ceCaseBB.editModeCurrentCloseCase}"/>

                    <p:spacer height="3px" />

                    <h:outputText id="selcase-closing-evcat" 
                                  value="#{ceCaseBB.currentCase.closingEvent.category.eventCategoryTitle}"
                                  rendered="#{!empty ceCaseBB.currentCase.closingEvent}"/>
                    <p:spacer height="3px" />

                    <p:commandLink      id="cecase-forceclose-init-cb" 
                                        value="#{empty ceCaseBB.currentCase.closingDate ? 'close case' : 'case already closed'}"
                                        ajax="true" 
                                        actionListener="#{ceCaseBB.onCaseCloseInitButtonChange}"
                                        disabled="#{(not empty ceCaseBB.currentCase.closingDate and not ceCaseBB.currentCase.statusBundle.phase.allowCaseClosure) or !empty ceCaseBB.currentCase.deactivatedTS}"
                                        rendered="#{ceCaseBB.permissionAllowCaseClosure and !ceCaseBB.editModeCurrentCloseCase and empty ceCaseBB.currentCase.closingDate}"
                                        style="color: blue; font-weight: bold; "
                                        oncomplete="PF('cecase-close-dialog-var').show();"
                                        update="cecase-close-dialog"

                                        />
                    
                    <p:commandLink      id="cecase-reopen-init-cb" 
                                        value="reopen case"
                                        ajax="true" 
                                        actionListener="#{ceCaseBB.onCaseReopenInit}"
                                        disabled="#{(empty ceCaseBB.currentCase.closingDate) or (not empty ceCaseBB.currentCase.deactivatedTS)}"
                                        rendered="#{ceCaseBB.permissionAllowCaseClosure and not empty ceCaseBB.currentCase.closingDate}"
                                        style="color: blue; font-weight: bold; "
                                        oncomplete="PF('cecase-reopen-dialog-var').show();"
                                        update="cecase-reopen-dialog"

                                        />

                </h:form>
            </div>

            <div class="p-col-4 restrict-data-field-label-inline">
                <h:outputText value="Manager"/>
            </div>
            <div class="p-col-8 restrict-data-field-value-inline">

                <h:form id="cecase-changemanager-form">
                    <h:outputText id="case-manager-ot" 
                                  value="#{ceCaseBB.currentCase.caseManager.human.name}"
                                  rendered="#{!ceCaseBB.editModeCurrentCaseManager}"/>  

                    <p:spacer height="4px" />

                    <h:outputText id="case-manager-username"
                                  value="(User:#{ceCaseBB.currentCase.caseManager.username})"
                                  rendered="#{!ceCaseBB.editModeCurrentCaseManager}"/>

                    <p:spacer height="4px" />

                    <div class="restrict-main-contents-io-link link-button">

                        <p:commandLink      id="cecase-manager-edit-toggle-clink"
                                            ajax="true"
                                            actionListener="#{ceCaseBB.onToggleCECaseManagerEdit}"
                                            value="#{ceCaseBB.editModeCurrentCaseManager ? 'save new manager':'change manager'}"
                                            rendered="#{ceCaseBB.permissionAllowCaseOpenEdit}"
                                            disabled="#{not empty ceCaseBB.currentCase.deactivatedTS or not empty ceCaseBB.currentCase.closingDate}"
                                            update="@form
                                            cecase-growl-form
                                            event-masterlist-form"
                                            />
                        <h:outputText value=" | " 
                                      rendered="#{ceCaseBB.editModeCurrentCaseManager}"/>
                        <p:commandLink      id="cecase-manager-edit-abort-clink"
                                            ajax="true"
                                            actionListener="#{ceCaseBB.onEditManagerAbort}"
                                            value="cancel"
                                            immediate="true"
                                            rendered="#{ceCaseBB.editModeCurrentCaseManager}"
                                            update="@form
                                            cecase-growl-form"
                                            />
                    </div>

                    <p:spacer height="5px" />

                    <p:outputLabel for="cecase-manager-som"
                                   styleClass="data_field_label">
                        <h:outputText value="Choose a new manager user"
                                      rendered="#{ceCaseBB.editModeCurrentCaseManager}"/>
                    </p:outputLabel>

                    <div class="restrict-main-contents-io-content">
                        <p:selectOneMenu  id="cecase-manager-som"
                                          tabindex="1"
                                          rendered="#{ceCaseBB.editModeCurrentCaseManager}"
                                          value="#{ceCaseBB.userManagerSeletedForManagerChange}"
                                          >
                            <f:selectItem itemLabel="select a user "
                                          noSelectionOption="true"
                                          itemDisabled="true"/>
                            <f:selectItems id="cecase-search-user-field-val-items"
                                           value="#{ceCaseBB.userManagerOptionList}"
                                           var="usr" itemValue="#{usr}" itemLabel="#{usr.human.firstName} #{usr.human.lastName}; username #{usr.username}" />
                            <f:converter converterId="userConverter" />
                        </p:selectOneMenu>
                    </div>
                </h:form>
            </div>
        </div>

        <h:form id="cecase-profile-record-form">
            <div class="p-grid">

                <div class="p-col-4 restrict-data-field-label-inline">
                    <h:outputText value="Created" />
                </div>
                <div class="p-col-8 restrict-data-field-value-inline">
                    <h:outputText value="#{ceCaseBB.getPrettyDate(ceCaseBB.currentCase.createdTS)} "
                                  rendered="#{!empty ceCaseBB.currentCase.createdby_UMAP}"/>
                    <p:spacer height="3px" />
                    <h:outputText value="by user ID:#{ceCaseBB.currentCase.createdby_UMAP.userID}"
                                  rendered="#{!empty ceCaseBB.currentCase.createdby_UMAP}"/>
                </div>

                <div class="p-col-4 restrict-data-field-label-inline">
                    <h:outputText value="Last Updated" />
                </div>
                <div class="p-col-8 restrict-data-field-value-inline">
                    <h:outputText value="#{ceCaseBB.getPrettyDate(ceCaseBB.currentCase.lastUpdatedTS)}" 
                                  rendered="#{!empty ceCaseBB.currentCase.lastUpdatedby_UMAP}"/>

                    <p:spacer height="3px" />
                    <h:outputText value="by user ID:#{ceCaseBB.currentCase.lastUpdatedby_UMAP.userID}"
                                  rendered="#{!empty ceCaseBB.currentCase.lastUpdatedby_UMAP}"/>
                </div>
                <div class="p-col-4 restrict-data-field-label-inline">
                    <h:outputText value="Record status" />
                    <p:spacer height="3px" />
                    <div class="restrict-main-contents-io-link">

                        <p:commandLink id="cecase-deac-init-cb"
                                       ajax="true"
                                       actionListener="#{ceCaseBB.onCaseDeactivatetInitButtonChange}"
                                       oncomplete="PF('cecase-deac-dialog-var').show();"
                                       update="cecase-deac-form"
                                       value="deactivate case"
                                       rendered="#{ceCaseBB.permissionAllowCaseDeactivate}"
                                       disabled="#{ceCaseBB.editModeCurrentCase or ceCaseBB.editModeCurrentCaseManager or ceCaseBB.editModeCurrentCloseCase or !empty ceCaseBB.currentCase.deactivatedTS}"/>
                    </div>
                </div>
                <div class="p-col-8 restrict-data-field-value-inline">
                    <h:outputText value="Active record" 
                                  rendered="#{empty ceCaseBB.currentCase.deactivatedTS}"/>

                    <h:outputText value="DEACTIVATED record" 
                                  rendered="#{!empty ceCaseBB.currentCase.deactivatedTS}"/>

                    <h:outputText value="#{ceCaseBB.getPrettyDate(ceCaseBB.currentCase.deactivatedTS)}" 
                                  rendered="#{!empty ceCaseBB.currentCase.deactivatedTS}"/>

                    <p:spacer height="3px" />
                    <h:outputText value="by User ID:#{ceCaseBB.currentCase.deactivatedBy_UMAP.userID}"
                                  rendered="#{!empty ceCaseBB.currentCase.deactivatedBy_UMAP}"/>

                </div>
            </div>
        </h:form>

    </p:panel>
    <p:dialog id="cecase-close-dialog"
              width="500"
              header="Close code enforcement case"
              widgetVar="cecase-close-dialog-var"
              closable="true"
              resizable="true"
              dynamic="true"
              closeOnEscape="true"
              modal="true"
              rendered="#{ceCaseBB.permissionAllowCaseClosure}"
              >

        <h:form id="case-close-form">
            <div   class="ui-g data-container">
                <div class="ui-g-12 ui-md-12 ui-lg-12 data_field">
                    <p:outputLabel for="cecase-forceclose-evcat-som"
                                   styleClass="data_field_label">
                        <h:outputText value="Reason for closure:"/>
                    </p:outputLabel>
                    <div class="restrict-main-contents-io-content">
                        <p:selectOneMenu id="cecase-forceclose-evcat-som"
                                         value="#{ceCaseBB.closingEventCategorySelected}"
                                         styleClass="data_field_value"
                                         disabled="#{!systemServicesBB.bbSessionUser.keyCard.hasEnfOfficialPermissions}">

                            <f:converter converterId="eventCategoryConverter"/>
                            <f:selectItem itemLabel="select a closing event category"
                                          noSelectionOption="true" />
                            <f:selectItems id="cecase-forceclose-evcat-selitems"
                                           value="#{ceCaseBB.closingEventList}"
                                           var="ec" itemValue="#{ec}" itemLabel="#{ec.eventCategoryTitle}"/>
                        </p:selectOneMenu>
                    </div>
                </div>

                <div class="ui-g-12 ui-md-6 ui-lg-6 data_field">
                    <p:outputLabel for="case-close-date"
                                   styleClass="data_field_label">
                        <h:outputText value="Closing data of record"  />
                    </p:outputLabel>

                    <div class="restrict-main-contents-io-content">

                        <p:datePicker  id="case-close-date"
                                       value="#{ceCaseBB.currentCase.closingDate}"
                                       rendered="true"
                                       style="width: 100%;"
                                       pattern="MM/dd/yyyy HH:mm"
                                       disabled="false"
                                       hideOnDateTimeSelect="true"
                                       showOnFocus="false"
                                       showIcon="true"
                                       showButtonBar="true"
                                       mask="true"
                                       timeInput="true" 
                                       required="true" />


                    </div>
                </div>
                <div class="ui-g-12 ui-md-12 ui-lg-12 data_field">
                    <h:outputText value="when a case is closed, violations without compliance are automatically nullified" />
                </div>
                <div class="ui-g-12 ui-md-6 ui-lg-6 data_field">
                    <p:commandButton    id="cecase-forceclose-button"
                                        ajax="false"
                                        value="Close case ID #{ceCaseBB.currentCase.caseID}"
                                        rendered="#{ceCaseBB.permissionAllowCaseClosure}"
                                        action="#{ceCaseBB.onCaseForceCloseCommitButtonChnage}"
                                        icon="pi pi-sign-out"/>

                </div>
                <div class="ui-g-12 ui-md-6 ui-lg-6 data_field">

                    <div class="restrict-main-contents-io-button gray_button">

                        <p:commandButton    id="cecase-forceclse-abort-button1"
                                            ajax="true"
                                            value="cancel"
                                            immediate="true"
                                            actionListener="#{ceCaseBB.onCaseCloseAbortLinkClick}"
                                            icon="pi pi-arrow-left"
                                            oncomplete="PF('cecase-close-dialog-var').hide();"/>
                    </div>
                </div>
            </div>
        </h:form>
    </p:dialog>

    <p:dialog id="cecase-reopen-dialog"
              width="900" height="450"
              header="Reopen code enforcement case"
              widgetVar="cecase-reopen-dialog-var"
              closable="false"
              resizable="true"
              dynamic="true"
              closeOnEscape="false"
              modal="true"
              rendered="#{ceCaseBB.permissionAllowCaseClosure}"
              >
        
        <h:form id="cecase-reopen-form">
            <div class="p-grid">
                <f:subview id="case-reopen-results-subview"
                           rendered="#{not empty ceCaseBB.operationConfigBundleCaseReopen.operationAttemptTS}">
                    <div class="p-col-4 restrict-data-field-label-inline">
                        <h:outputText value="Outcome: " /> 
                        <h:outputText value="Success!"
                                      styleClass="text-green bold"
                                      rendered="#{not empty ceCaseBB.operationConfigBundleCaseReopen.operationSuccessTS}" />
                        <h:outputText value="Failure!"
                                      styleClass="text-red bold"
                                      rendered="#{empty ceCaseBB.operationConfigBundleCaseReopen.operationSuccessTS}" />
                    </div>
                    <div class="p-col-8 restrict-data-field-value-inline-inline">
                        <h:outputText value="#{ceCaseBB.operationConfigBundleCaseReopen.operationLog}" 
                                      escape="false"/>
                    </div>
                    <div class="p-col-12 restrict-data-field-value-inline-inline">
                        <div class="restrict-main-contents-io-button">
                            <p:commandButton    id="cecase-reopen-done-button"
                                                ajax="false"
                                                value="Done: Reload case!"
                                                disabled="false"
                                                action="#{ceCaseBB.onCaseReopenDoneCommenceReload}"
                                                rendered="#{not empty ceCaseBB.operationConfigBundleCaseReopen.operationSuccessTS}"
                                                icon="pi pi-refresh"/>
                        </div>
                    </div>
                </f:subview>

                <div class="p-col-6 restrict-data-field-label-inline">
                    <div class="gray_button leftalign">

                        <p:commandButton    id="cecase-forceclse-abort-button1"
                                            ajax="true"
                                            value="cancel"
                                            immediate="true"
                                            actionListener="#{ceCaseBB.onCaseReopenAbort}"
                                            disabled="#{not empty ceCaseBB.operationConfigBundleCaseReopen.operationSuccessTS}"
                                            icon="pi pi-arrow-left"
                                            oncomplete="PF('cecase-reopen-dialog-var').hide();"/>
                    </div>
                </div>
                <div class="p-col-6 restrict-data-field-value-inline-inline">
                    <div class="restrict-main-contents-io-button">
                        <p:defaultCommand target="cecase-reopen-commit-button" />    
                        <p:commandButton    id="cecase-reopen-commit-button"
                                            ajax="true"
                                            value="Reopen case (Name: #{ceCaseBB.currentCase.caseName})"
                                            disabled="#{not ceCaseBB.operationConfigBundleCaseReopen.allowedToProceed}"
                                            rendered="#{empty ceCaseBB.operationConfigBundleCaseReopen.operationSuccessTS}"
                                            actionListener="#{ceCaseBB.onCaseReopenCommit}"
                                            icon="pi pi-folder-open"
                                            update="@form cecase-growl-form" />
                    </div>
                </div>
                <div class="p-col-4 restrict-data-field-label-inline">
                    <p:outputLabel for="cecase-reopen-evcat-som"
                                   styleClass="data_field_label">
                        <h:outputText value="Reason for reopening:"/>
                    </p:outputLabel>

                </div>
                <div class="p-col-8 restrict-data-field-value-inline-inline">
                    <p:selectOneMenu id="cecase-reopen-evcat-som"
                                     value="#{ceCaseBB.operationConfigBundleCaseReopen.documentingEventCategorySelected}"
                                     styleClass="data_field_value"
                                     required="true"
                                     disabled="#{not empty ceCaseBB.operationConfigBundleCaseReopen.operationSuccessTS}">

                        <f:converter converterId="eventCategoryConverter"/>
                        <f:selectItem itemLabel="select a reopening reason event category"
                                      noSelectionOption="true" />
                        <f:selectItems id="cecase-reopen-evcat-selitems"
                                       value="#{ceCaseBB.operationConfigBundleCaseReopen.documentingEventCandidateEventCategoryList}"
                                       var="ec" itemValue="#{ec}" itemLabel="#{ec.eventCategoryTitle}"/>
                    </p:selectOneMenu>

                </div>
                <div class="p-col-4 restrict-data-field-label-inline">

                    <p:outputLabel for="case-reopen-date"
                                   styleClass="data_field_label">
                        <h:outputText value="Reopening date of record"  />
                    </p:outputLabel>
                </div>
                <div class="p-col-8 restrict-data-field-value-inline-inline">

                    <p:datePicker  id="case-reopen-date"
                                   value="#{ceCaseBB.operationConfigBundleCaseReopen.dateOfRecord}"
                                   rendered="true"
                                   disabled="#{not empty ceCaseBB.operationConfigBundleCaseReopen.operationSuccessTS}"
                                   style="width: 100%;"
                                   pattern="MM/dd/yyyy HH:mm"
                                   hideOnDateTimeSelect="true"
                                   showOnFocus="false"
                                   showIcon="true"
                                   showButtonBar="true"
                                   mask="true"
                                   timeInput="true" 
                                   required="true" />


                </div>
                <div class="p-col-4 restrict-data-field-label-inline">
                    <p:outputLabel for="case-reopen-description-it"
                                   styleClass="data_field_label">
                        <h:outputText value="Description of reason for reopening"  />
                    </p:outputLabel>

                </div>
                <div class="p-col-8 restrict-data-field-value-inline-inline">
                    <p:inputTextarea    id="case-reopen-description-it"
                                        value="#{ceCaseBB.operationConfigBundleCaseReopen.operationReason}" 
                                        required="false"
                                        style="width:100%" 
                                        rows="3"
                                        disabled="#{not empty ceCaseBB.operationConfigBundleCaseReopen.operationSuccessTS}"/>
                </div>
            </div>
        </h:form>
    </p:dialog>


    <p:dialog id="cecase-deac-dialog"
              width="500"
              header="Deactivate Case"
              widgetVar="cecase-deac-dialog-var"
              closable="true"
              resizable="true"
              dynamic="true"
              closeOnEscape="true"
              modal="true"
              rendered="#{ceCaseBB.permissionAllowCaseDeactivate}"
              >
        <h:form id="cecase-deac-form">
            <div class="p-grid">
                <div class='p-col-12'>
                    <h2>System administrator rank required!</h2>                    

                    <p>Case deactivation is for cases created in error, such as on the wrong property. </p>

                    <p>If the case was created legitimately but for some reason is not proceeding through
                        the case management process users should close the case with an appropriate reason. System admins can create custom case closing events to suit any officer's situation.</p>

                    <p>WARNING: This action can only be undone by a database admin, and they will grumble while doing so. System admins cannot UNDO a case deactivation!</p>

                    <h3>Poof: Everything will be gone!</h3>

                    <p>All violations, events, inspections, letters, citations, and links will be deactivated recursively during this operation.</p>
                </div>
                <div class='p-col-6'>
                    <div class="restrict-main-contents-io-button-left gray_button">
                        <p:commandButton id="cecase-deac-abort-button"
                                         value="Cancel"
                                         icon="pi pi-arrow-left"
                                         immediate="true"
                                         oncomplete="PF('cecase-deac-dialog-var').hide()"
                                         update="cecase-growl-form"
                                         style="float:left;"
                                         actionListener="#{ceCaseBB.onCaseDeactivateAbortButtonChange}"/>
                    </div>
                </div>
                <div class='p-col-6 restrict-main-contents-io-button-maxwidth red_button'>
                    <p:commandButton id="cecase-changemanager-button"
                                     value="Deactivate case ID:#{ceCaseBB.currentCase.caseID}"
                                     icon="pi pi-trash"
                                     action="#{ceCaseBB.onCaseDeactivateCommitButtonChange}"
                                     rendered="#{ceCaseBB.permissionAllowCaseDeactivate}"
                                     />
                </div>
            </div>        
        </h:form>
    </p:dialog>

</ui:composition>