<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns="http://www.w3.org/1999/xhtml">



    <p:panel id="cecase-blobs-panel"
             toggleable="true"
             collapsed="false"
             rendered="true"
             >
        <f:facet name="header">
            <h:outputText value="Files and Photos" />

            <div class="restrict-main-contents-io-link link-button help-icon-tightright">
                <a href="https://technologyrediscovery.github.io/codenforce/case/casescreen#upload-files-and-photos"
                   target="_blank">
                    <i class="material-icons"
                       style="display: inline-block">help_outline</i>
                </a>
            </div>
            <div class="restrict-main-contents-io-link link-button help-text-tightleft"
                 style="margin-right: 10px;">
                <a href="https://technologyrediscovery.github.io/codenforce/case/casescreen#upload-files-and-photos"
                   target="_blank">
                    <h:outputText value="help" />
                </a>
            </div>
        </f:facet>




        <h:form id="cecase-blobs-form">

            <p:commandButton    id="cecase-blob-add-button"
                                value="Upload photo or document"
                                actionListener="#{blobUtilitiesBB.onUploadBlobInitButtonChange(ceCaseBB.currentCase)}"
                                ajax="true"
                                rendered="#{systemServicesBB.permissionAllowAncillaryObjectEdit}"
                                disabled="#{sessionBean.crossMuniViewMode}"
                                styleClass="noFill button-size-small"
                                oncomplete="PF('blob-upload-dialog-var').show()"
                                update="blob-upload-dialog
                                blob-uploadconnect-tabview"
                                icon="pi pi-cloud-upload"
                                >
                <f:param name="blob-list-component-to-update" value="cecase-blobs-form" />
            </p:commandButton>



            <p:spacer height="5px" />

            <p:dataTable
                id="cecase-blobs-table"
                value="#{ceCaseBB.managedBlobLightListFromCECase}"
                rendered="true"
                var="blob"
                rowKey="#{blob.photoDocID}"
                tableStyleClass="primeDataTable"
                resizableColumns="true"
                draggableRows="false" tabindex="6" reflow="true">

                <p:column width="15%">
                    <f:facet name="header">
                        <h:outputText value="File Type"/>
                    </f:facet>
                    <div class="wrapText">
                        <h:outputText value="#{blob.type.title}"/>
                    </div>
                    <p:graphicImage value="#{blobsterBB.image}"
                                    alt="no preview available" 
                                    style="width: 150px" 
                                    cache="true"
                                    rendered="#{blob.type.browserViewable}">
                        <f:param name="blobid" value="#{blob.photoDocID}"/>
                    </p:graphicImage>

                    <h:outputText value="no preview available; download to view"
                                  rendered="#{!blob.type.browserViewable}" />
                </p:column>

                <p:column width="15%">
                    <f:facet name="header">
                        <h:outputText value="IDs"/>
                    </f:facet>
                    <h:outputText value="linkID: #{blob.photoDocID}"/>
                    <br/>
                    <h:outputText value="bytesID: #{blob.bytesID}"/>

                </p:column>

                <p:column width="45%">
                    <f:facet name="header">
                        <h:outputText value="Info"/>
                    </f:facet>
                    <div class="rowExpansion">
                        <h:outputText value="title: #{blob.title}"/>
                        <br/>
                        <h:outputText value="descr: #{blob.description}"/>
                        <br/>
                        <h:outputText value="filename: #{blob.filename}"/>
                        <br/>
                        <h:outputText value="created: #{ceCaseBB.getPrettyDateNoTime(blob.createdTS)}"/>
                    </div>
                </p:column>


                <p:column>
                    <f:facet name="header">
                        <h:outputText value="Actions"/>
                    </f:facet>
                    <p:commandButton 
                        value="Download" 
                        ajax="false"
                        icon="fa fa-arrow-down" 
                        styleClass="ui-button-outlined">
                        <p:fileDownload value="#{blobRetrieveBB.retrieveBlob(blob)}"
                                        />
                    </p:commandButton>
                    <br/>
                    <div class="restrict-main-contents-io-link link-button">

                        <p:commandLink      id="blob-update-button"
                                            ajax="true"
                                            styleClass="noFill button-size-small"
                                            action="#{blobUtilitiesBB.onViewBlobLinkClick(blob, ceCaseBB.currentCase)}"
                                            value="view"
                                            oncomplete="PF('blobs-viewblob-dialog-var').show()"
                                            update="blobs-viewblob-dialog
                                            blob-viewblob-form"
                                            />
                        <p:spacer height="3px" />
                        <p:commandLink      id="blob-edit-button"
                                            ajax="true"
                                            rendered="#{not sessionBean.crossMuniViewMode}"
                                            styleClass="noFill button-size-small"
                                            action="#{blobUtilitiesBB.onBlobEditMetaDataInitLinkClick(blob, ceCaseBB.currentCase)}"
                                            value="edit"
                                            oncomplete="PF('blobs-vieweditmetadata-dialog-var').show()"
                                            update="blob-vieweditmetadata-dialog
                                            blob-veweditmetadata-form"
                                            >
                            <f:param name="blob-list-component-to-update" value="cecase-blobs-form" />
                        </p:commandLink>
                        <p:spacer height="3px" />
                        <p:commandLink      id="blob-remove-button"
                                            ajax="true"
                                            styleClass="noFill button-size-small"
                                            rendered="#{not sessionBean.crossMuniViewMode}"
                                            action="#{blobUtilitiesBB.onDeactivateBlobInitLinkClick(blob, ceCaseBB.currentCase)}"
                                            oncomplete="PF('blobs-deactivate-dialog-var').show();"
                                            value="remove"
                                            update="blob-deactivate-dialog
                                            blob-deactivate-form"
                                            >
                            <f:param name="blob-list-component-to-update" value="cecase-blobs-form" />
                        </p:commandLink>
                    </div>
                </p:column>
            </p:dataTable>

        </h:form>
    </p:panel>


</ui:composition>