<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns="http://www.w3.org/1999/xhtml">

    <p:panel    id="cecase-persons-panel"
                toggleable="true"
                widgetVar="cecase-persons-panel-var"
                collapsed="false"
                rendered="true">

        <f:facet name="header">
            <h:outputText value="Person links" />
            <div class="restrict-main-contents-io-link link-button help-icon-tightright">
                <a href="https://technologyrediscovery.github.io/codenforce/property/personslinking#link-a-person-to-a-property-or-case"
                   target="_blank">
                    <i class="material-icons"
                       style="display: inline-block">help_outline</i>
                </a>
            </div>
            <div class="restrict-main-contents-io-link link-button help-text-tightleft">
                <a href="https://technologyrediscovery.github.io/codenforce/property/personslinking#link-a-person-to-a-property-or-case"
                   target="_blank">
                    <h:outputText value="help" />
                </a>
            </div>
        </f:facet>
        <h:form id="cecase-persons-panel-form">

            <p:commandButton   id="cecase-persons-manage-button"
                               ajax="true"
                               actionListener="#{personBB.onSelectAndLinkPersonsInit(ceCaseBB.currentCase)}"
                               oncomplete="PF('human-search-dialog-var').show()"
                               rendered="#{systemServicesBB.bbSessionUser.keyCard.hasMuniStaffPermissions}"
                               value="Manage CE Case to person links"
                               disabled="#{!empty ceCaseBB.currentCase.deactivatedTS or sessionBean.crossMuniViewMode}"
                               update=" human-search-dialog
                               persontools-growl-form
                               search-query-form
                               pers-selected-form
                               hlh-humlist-form
                               pers-upstreampool-panel
                               pers-upstreampool-form"
                               icon="pi pi-users"
                               >
                <f:param name="person-list-component-to-update"
                         value="cecase-persons-panel-form" />

            </p:commandButton>

            <p:spacer height="5px" />

            <p:dataTable id="prop-persons-table"
                         value="#{ceCaseBB.managedCECaseHumanLinkList}"
                         rendered="true"
                         var="csehl"
                         tableStyleClass="primeDataTable"
                         rowKey="#{csehl.humanID}"
                         reflow="true"
                         >


                <p:column headerText="Name"
                          width="35%"
                          styleClass="centeredColumnContent">
                    <h:outputText value="#{csehl.name}" />

                </p:column>

                <p:column headerText="Role"
                          width="35%"
                          styleClass="centeredColumnContent">
                    <h:outputText value="#{csehl.linkedObjectRole.title}"/>
                    <p:spacer height="3px" />
                    <h:outputText value="#{csehl.linkedObjectRole.schema.TARGET_OBJECT_FRIENDLY_NAME}" />
                    <h:outputText value="(ID:#{csehl.parentObjectID})" />

                </p:column>

                <p:column headerText="Actions"
                          width="30%"
                          styleClass="centeredColumnContent">
                    <p:commandLink      id="prop-person-exploreperson-cl"
                                        ajax="true"
                                        style="color:blue;"
                                        action="#{personBB.onHumanViewLinkClick(csehl, ceCaseBB.currentCase)}"
                                        value="View/Edit person"
                                        oncomplete="PF('person-profile-dialog-var').show();"
                                        update="person-profile-dialog
                                        topnav-pers-form"
                                        >
                        <f:param name="person-list-component-to-update"
                                 value="cecase-persons-panel-form" />
                    </p:commandLink>
                    <h:outputText value=" (HumID: #{csehl.humanID})" />
                    <p:spacer height="3px" />
                    <p:commandLink      id="prop-personlink-vieweditlink-cl"
                                        ajax="true"
                                        style="color:blue;"
                                        action="#{personBB.onHumanLinkEditInitButtonChange(csehl, ceCaseBB.currentCase)}"
                                        value="View/Edit link"
                                        oncomplete="PF('humanlink-viewedit-dialog-var').show();"
                                        update="humanlink-viewedit-dialog
                                        humanlink-viewedit-form"
                                        >
                        <f:param name="person-list-component-to-update"
                                 value="cecase-persons-panel-form" />
                    </p:commandLink>
                    <h:outputText value=" (LnkID: #{csehl.linkID})" />

                </p:column>
            </p:dataTable>
        </h:form>
    </p:panel>
</ui:composition>