<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:tt="http://xmlns.jcp.org/jsf/composite/components">

    <h:form id="cecase-add-growl-form" >
        <p:growl id="cecase-add-growl" />
    </h:form>

    <p:dialog id="cecase-add-dialog"
              modal="true"
              height="500" 
              width="600"
              widgetVar="cecase-add-dialog-var"
              closable="true"
              closeOnEscape="true"
              responsive="true"
              resizable="true"
              dynamic="true"
              header="Create new code enforcement case"
              rendered="#{ceCaseAddBB.permissionAllowCECaseCreate}"
              >
        <h:form id="cecase-add-form">

            <tt:caseAddCC   id="caseadd-propprofile-cc"
                            addfrompropertyprofile="true"
                            addfromcearrouting="false"
                            addfromfinrouting="false" 
                            containingformpath=":cecase-add-form"/>
        </h:form>
    </p:dialog>


    <p:dialog id="onclick-config-dialog"
              modal="true"
              height="700" 
              width="90%"
              widgetVar="onclick-config-dialog-var"
              closable="true"
              closeOnEscape="true"
              responsive="true"
              resizable="true"
              dynamic="true"
              header="Configure lightning case buttons"
              rendered="true"
              >

        <div class="p-grid">
            <div class="p-lg-4 p-md-12 p-sm-12">
                <h:form id="oneclick-list-form">

                    <p:commandButton id="oneclick-create-init-button"
                                     actionListener="#{ceCaseAddBB.onOneClickTemplateAddInit}"
                                     value="Add new lightning case"
                                     icon="pi pi-plus"
                                     update="oneclick-addedit-form
                                     cecase-add-growl-form"
                                     />

                    <p:spacer height="3px" />

                    <h:outputText value="Include all municipalities?"
                                  style="margin-right:8px;"/>
                    <p:selectBooleanCheckbox value="#{ceCaseAddBB.oneClickShowAllMunis}">
                        <p:ajax update="@form"
                                listener="#{ceCaseAddBB.refreshOneClickCaseLists()}"/>
                    </p:selectBooleanCheckbox>

                    <p:spacer height="3px" />

                    <p:dataTable id="oneclick-table"
                                 value="#{ceCaseAddBB.oneClickCaseListForConfig}"
                                 var="oneclick"
                                 tableStyleClass="primeDataTable">
                        <p:column headerText="Title">
                            <h:outputText value="#{oneclick.title}" />
                        </p:column>

                        <p:column headerText="Muni"
                                  sortBy="#{oneclick.muni.muniName}">
                            <h:outputText value="#{oneclick.muni.muniName}" />
                        </p:column>

                        <p:column>
                            <f:facet name="header" >
                                <h:outputText value="Actions" />
                            </f:facet>
                            <div class="restrict-main-contents-io-link" >
                                <p:commandLink id="configure-oneclick-cl"
                                               style="#{ceCaseAddBB.currentOneClickTemplate.oneClickID eq onecick.onClickID ? 'background-color: #dee461; color:black;':''}"
                                               actionListener="#{ceCaseAddBB.onViewOneClickTemplate(oneclick)}"
                                               update="oneclick-addedit-form
                                               @form">
                                    <h:outputText value="#{ceCaseAddBB.currentOneClickTemplate.oneClickID eq onecick.onClickID ? 'selected':'view'}"/>
                                </p:commandLink>

                                <p:spacer height="3px" />

                                <p:commandLink id="oneclick-deac-init-cl"
                                               value="delete"
                                               actionListener="#{ceCaseAddBB.onViewOneClickTemplate(oneclick)}"
                                               update="oneclick-deac-form"
                                               oncomplete="PF('onclick-deac-dialog-var').show();">
                                </p:commandLink>

                            </div>
                            <p:spacer height="3px" />
                            <h:outputText value="(ID: #{oneclick.oneClickID})" />
                        </p:column>
                    </p:dataTable>
                </h:form>

            </div>
            <div class="p-lg-8 p-md-12 p-sm-12">
                <h:form id="oneclick-addedit-form">

                    <p:commandButton id="oneclick-editsave-cb"
                                     icon="pi pi-#{ceCaseAddBB.editModeOneClickTemplate ? 'save':'pencil'}"
                                     ajax="true"
                                     actionListener="#{ceCaseAddBB.onToggleOneClickTemplateAddEditButtonChange}"
                                     value="#{ceCaseAddBB.editModeOneClickTemplate ? 'save edits':'edit'}"
                                     styleClass="inline-spaced-control-label"
                                     update="@form
                                     oneclick-list-form
                                     prop-cases-panel-form
                                     cecase-add-growl-form
                                     "/>

                    <div class="gray_button">

                        <p:commandButton  id="onclick-cancel-cb"
                                          ajax="true"
                                          value="Cancel"
                                          immediate="true"
                                          icon="pi pi-stop"
                                          rendered="#{ceCaseAddBB.editModeOneClickTemplate}"
                                          actionListener="#{ceCaseAddBB.onOneClickEditAbort}"
                                          update="@form
                                          cecase-add-growl-form"
                                          />
                    </div>

                    <p:spacer height="3px" />

                    <p:panel id="oneclick-general-panel"
                             toggleable="true"
                             widgetVar="oneclick-general-panel-var"
                             collapsed="false">
                        <f:facet name="header">
                            <h:outputText value="One-click case settings" />
                        </f:facet>
                        <div class="p-grid">
                            <div class="p-col-4 restrict-data-field-label-inline">
                                <h:outputText value="ID" />
                            </div>
                            <div class="p-col-8 restrict-data-field-value-inline">
                                <h:outputText value="#{ceCaseAddBB.currentOneClickTemplate.oneClickID eq 0 ? '[new record]': ceCaseAddBB.currentOneClickTemplate.oneClickID}"
                                              rendered="true"/>
                            </div>

                            <div class="p-col-4 restrict-data-field-label-inline">
                                <h:outputText value="Title:" />
                            </div>
                            <div class="p-col-8 restrict-data-field-value-inline">
                                <h:outputText value="#{ceCaseAddBB.currentOneClickTemplate.title}"
                                              rendered="#{!ceCaseAddBB.editModeOneClickTemplate}"/>

                                <p:inputText id="oneclick-title-it"
                                             value="#{ceCaseAddBB.currentOneClickTemplate.title}"
                                             required="true"
                                             rendered="#{ceCaseAddBB.editModeOneClickTemplate}"
                                             />
                            </div>

                            <div class="p-col-4 restrict-data-field-label-inline">
                                <h:outputText value="Municipality:" />
                            </div>
                            <div class="p-col-8 restrict-data-field-value-inline">
                                <h:outputText value="#{ceCaseAddBB.currentOneClickTemplate.muni.muniName}"
                                              rendered="#{!ceCaseAddBB.editModeOneClickTemplate}"/>
                                <p:selectOneMenu 
                                    id="oneclick-munilist-som" 
                                    value="#{ceCaseAddBB.currentOneClickTemplate.muni}"
                                    required="true"
                                    rendered="#{ceCaseAddBB.editModeOneClickTemplate}">

                                    <f:selectItem itemLabel="select a municipality..." 
                                                  noSelectionOption="true" 
                                                  itemDisabled="true"/>
                                    <f:selectItems value="#{systemServicesBB.municipalityListForSearch}" 
                                                   var="muni" 
                                                   itemLabel="#{muni.muniName}"/>
                                    <f:converter converterId="muniConverter" />
                                </p:selectOneMenu>
                            </div>

                            <div class="p-col-4 restrict-data-field-label-inline">
                                <h:outputText value="Case name:" />
                            </div>
                            <div class="p-col-8 restrict-data-field-value-inline">
                                <h:outputText value="#{ceCaseAddBB.currentOneClickTemplate.defaultCaseName}"
                                              rendered="#{!ceCaseAddBB.editModeOneClickTemplate}"/>

                                <p:inputText id="oneclick-casename-it"
                                             value="#{ceCaseAddBB.currentOneClickTemplate.defaultCaseName}"
                                             required="true"
                                             rendered="#{ceCaseAddBB.editModeOneClickTemplate}"
                                             />
                            </div>

                            <div class="p-col-4 restrict-data-field-label-inline">
                                <h:outputText value="Ordinance violated:" />
                            </div>
                            <div class="p-col-8 restrict-data-field-value-inline">
                                <h:outputText value="#{ceCaseAddBB.currentOneClickTemplate.violatedOrdinance.headerString}"
                                              rendered="#{!ceCaseAddBB.editModeOneClickTemplate}"
                                              escape="false"/>

                                <h:outputText value="NOTE: The ordinance you select must have a default violation finding. 
                                              At least one character is required. This muni-specific 
                                              field lives in the ordinance enforcability info form which you can 
                                              access on the code book management page (linked in the Municipality session box above). " 
                                              rendered="#{ceCaseAddBB.editModeOneClickTemplate}"
                                              styleClass="gentleUserReminder"/>


                                <p:spacer height="3px" />

                                <div class="restrict-main-contents-io-link">

                                    <p:commandLink id="default-findings-help-link"
                                                   value="help"
                                                   type="button" 
                                                   rendered="#{ceCaseAddBB.editModeOneClickTemplate}"/>
                                </div>
                                <p:overlayPanel for="default-findings-help-link"
                                                style="width:850px;" 
                                                dismissable="true"
                                                showCloseIcon="true"
                                                modal="true"

                                                >
                                    <h3>Setting a default violation finding</h3>

                                    <h:graphicImage value="/images/help/default_violation_finding.png"
                                                    width="800px"/>

                                </p:overlayPanel>

                                <p:spacer height="3px" />


                                <p:selectOneMenu id="ord-somenu"
                                                 value="#{ceCaseAddBB.currentOneClickTemplate.violatedOrdinance}"
                                                 panelStyle="width: 100%;"
                                                 converter="enforcableCodeElementConverter"
                                                 filter="true"
                                                 filterMatchMode="contains"
                                                 rendered="#{ceCaseAddBB.editModeOneClickTemplate}"
                                                 >
                                    <f:selectItems value="#{ceCaseAddBB.currentCodeSet.enfCodeElementList}"
                                                   var="ece"
                                                   itemLabel="#{ece.headerString}" 
                                                   itemLabelEscaped="false"
                                                   itemValue="#{ece}"
                                                   />

                                </p:selectOneMenu>
                            </div>

                            <div class="p-col-4 restrict-data-field-label-inline">
                                <h:outputText value="Origination event category:" />
                            </div>
                            <div class="p-col-8 restrict-data-field-value-inline">
                                <h:outputText value="#{ceCaseAddBB.currentOneClickTemplate.originationEventCategory.eventCategoryTitle}"
                                              rendered="#{!ceCaseAddBB.editModeOneClickTemplate}"/>

                                <p:selectOneMenu    id="eventcat-solb"
                                                    value="#{ceCaseAddBB.currentOneClickTemplate.originationEventCategory}"
                                                    style="width: 100%;"
                                                    converter="eventCategoryConverter"
                                                    filter="true"
                                                    filterMatchMode="contains"
                                                    rendered="#{ceCaseAddBB.editModeOneClickTemplate}">
                                    <f:selectItems value="#{ceCaseAddBB.eventCategoryCandidates}"
                                                   var="cat"
                                                   itemLabel="#{cat.eventType.label}: #{cat.eventCategoryTitle}" 
                                                   itemValue="#{cat}"/>

                                </p:selectOneMenu>

                            </div>

                            <div class="p-col-4 restrict-data-field-label-inline">
                                <h:outputText value="Default NOV Template:" />
                            </div>
                            <div class="p-col-8 restrict-data-field-value-inline">
                                <h:outputText value="#{ceCaseAddBB.currentOneClickTemplate.novTemplate.title}"
                                              rendered="#{!ceCaseAddBB.editModeOneClickTemplate}" />

                                <p:selectOneMenu    id="template-selonemenu"
                                                    value="#{ceCaseAddBB.currentOneClickTemplate.novTemplate}"
                                                    style="width: 100%;"
                                                    converter="novTemplateConverter"
                                                    filter="true"
                                                    filterMatchMode="contains"
                                                    required="true"
                                                    rendered="#{ceCaseAddBB.editModeOneClickTemplate}">

                                    <f:selectItems value="#{ceCaseAddBB.templateListForConfig}"
                                                   var="temp"
                                                   itemLabel="#{temp.templateType.title}: #{temp.title}" 
                                                   itemValue="#{temp}"/>
                                </p:selectOneMenu>
                            </div>

                            <div class="p-col-4 restrict-data-field-label-inline">
                                <h:outputText value="Icon: " />
                            </div>
                            <div class="p-col-8 restrict-data-field-value-inline">
                                <f:subview id="oneclick-icon-subview"
                                           rendered="#{not ceCaseAddBB.editModeOneClickTemplate}" >
                                    <i class="material-icons">
                                        <h:outputText value="#{ceCaseAddBB.currentOneClickTemplate.icon.materialIcon}" />
                                    </i>
                                </f:subview>
                                <tt:iconSelector value="#{ceCaseAddBB.currentOneClickTemplate.icon}"
                                                 iconList="#{systemServicesBB.iconList}"
                                                 rendered="#{ceCaseAddBB.editModeOneClickTemplate}"
                                                 required="true"/>
                            </div>

                            <div class="p-col-4 restrict-data-field-label-inline">
                                <h:outputText value="Display order" />
                            </div>
                            <div class="p-col-8 restrict-data-field-value-inline">
                                <h:outputText value="#{ceCaseAddBB.currentOneClickTemplate.displayOrder}"
                                              rendered="#{!ceCaseAddBB.editModeOneClickTemplate}" />
                                <p:inputNumber id="oneclick-order-ita"
                                               value="#{ceCaseAddBB.currentOneClickTemplate.displayOrder}"
                                               required="false"
                                               minValue="0"
                                               maxValue="999999"
                                               rendered="#{ceCaseAddBB.editModeOneClickTemplate}"
                                               />

                            </div>
                            <div class="p-col-4 restrict-data-field-label-inline">
                                <h:outputText value="Automatically finalize letters" />
                            </div>
                            <div class="p-col-8 restrict-data-field-value-inline">
                                <h:outputText value="#{ceCaseAddBB.currentOneClickTemplate.autoFinalizeNOV ? 'Yes; auto-finalize':'No; officer finalizes'}"
                                              rendered="#{not ceCaseAddBB.editModeOneClickTemplate}" />
                                
                                <p:selectBooleanCheckbox value="#{ceCaseAddBB.currentOneClickTemplate.autoFinalizeNOV}"
                                                         rendered="#{ceCaseAddBB.editModeOneClickTemplate}" />

                            </div>

                            <div class="p-col-4 restrict-data-field-label-inline">
                                <h:outputText value="Notes: " />
                            </div>
                            <div class="p-col-8 restrict-data-field-value-inline">
                                <h:outputText value="#{ceCaseAddBB.currentOneClickTemplate.notes}"
                                              rendered="#{!ceCaseAddBB.editModeOneClickTemplate}"
                                              escape="false"/>
                                <p:inputTextarea id="oneclick-notes-ita"
                                                 value="#{ceCaseAddBB.currentOneClickTemplate.notes}"
                                                 required="false"
                                                 rows="5"
                                                 cols="35"
                                                 rendered="#{ceCaseAddBB.editModeOneClickTemplate}"
                                                 />

                            </div>
                        </div>
                    </p:panel>
                </h:form>
            </div>
        </div>
    </p:dialog>



    <p:dialog id="onclick-deac-dialog"
              modal="true"
              height="700" 
              width="90%"
              widgetVar="onclick-deac-dialog-var"
              closable="true"
              closeOnEscape="true"
              responsive="true"
              resizable="true"
              dynamic="true"
              header="Delete one-click case buttons"
              rendered="true"
              >
        <h:form id="oneclick-deac-form">
            <div class="red_button">
                <p:commandButton id="oneclick-deac-commit-cb"
                                 icon="pi pi-trash"
                                 ajax="true"
                                 actionListener="#{ceCaseAddBB.onOneClickTemplateDeactivateCommit}"
                                 value="Delete one-click button: #{ceCaseAddBB.currentOneClickTemplate.title}"
                                 styleClass="inline-spaced-control-label"
                                 update="oneclick-list-form
                                 oneclick-addedit-form"
                                 oncomplete="PF('onclick-deac-dialog-var').hide();"/>
            </div>
        </h:form>
    </p:dialog>
</ui:composition>