<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns="http://www.w3.org/1999/xhtml">

    <p:panel id="cecase-actions-panel"
             toggleable="true"
             collapsed="false"
             header="Case tools "
             rendered="true"
             >

        <h:form id="cecase-tools-form">

            <p:commandButton   id="print-case-cb"
                               ajax="true" 
                               actionListener="#{ceCaseBB.prepareReportCECase}"
                               icon="pi pi-print"
                               oncomplete="PF('report-case-profile-diaglog-var').show()"
                               value="Print Case Profile "
                               update="report-case-profile-form"/>
        </h:form>

    </p:panel>

    <p:dialog   id="cecase-report-dialog"
                widgetVar="report-case-profile-diaglog-var"
                height="600"
                width="1000"
                closable="true"
                modal="true"
                resizable="true"
                dynamic="true"
                closeOnEscape="true"
                responsive="true"
                header="Configure case profile report (Case ID:#{ceCaseBB.currentCase.caseID}"
                >

        <h:form id="report-case-profile-form">

            <div class="restrict-main-contents-io-link"
                 style="font-size: 2em;">

                <p:commandLink  ajax="false" 
                                action="#{ceCaseBB.generateReportCECase}"
                                value="Click to generate case profile report in new tab" 
                                target="_blank"
                                rendered="#{systemServicesBB.bbSessionUser.keyCard.hasMuniReaderPermissions}"
                                />
            </div>

            <p:spacer height="3px" />
            <p style="font-style: italic; font-size: 0.8em;">
                If you want to tweak your settings after generating a report, you'll need 
                to close this dialog and re-open it with a click of the button for printing a case profile report.
            </p>
            <p:spacer height="3px" />

            <div class="p-grid nested-grid">

                <div class="p-col-6">
                    <div class="p-grid">
                        <div class="p-col-12">
                            <h2>General code enforcement case options</h2>
                        </div>

                        <div class="p-col-8 restrict-data-field-label-inline">
                            <h:outputLabel value="Include case name" 
                                           for="report-case-profile-casename-chkbox" />
                        </div>
                        <div class="p-col-4 restrict-main-contents-io-content">                    
                            <p:selectBooleanCheckbox id="report-case-profile-casename-chkbox" 
                                                     value="#{ceCaseBB.reportCECase.includeCaseName}" />
                        </div>

                        <div class="p-col-12">
                            <h2>Notices of violation</h2>
                        </div>


                        <div class="p-col-8 restrict-data-field-label-inline">
                            <h:outputLabel value="Include returned and unmailed NOVs" 
                                           for="report-case-profile-allnotices-chkbox" />
                        </div>
                        <div class="p-col-4 restrict-main-contents-io-content">                    
                            <p:selectBooleanCheckbox id="report-case-profile-allnotices-chkbox" 
                                                     value="#{ceCaseBB.reportCECase.includeAllNotices}" />
                        </div>

                        <div class="p-col-8 restrict-data-field-label-inline">
                            <h:outputLabel value="Include full letter text of notices of violation: " 
                                           for="report-case-profile-noticetext-chkbox" />
                        </div>
                        <div class="p-col-4 restrict-main-contents-io-content">                    
                            <p:selectBooleanCheckbox id="report-case-profile-noticetext-chkbox" 
                                                     value="#{ceCaseBB.reportCECase.includeNoticeFullText}" />
                        </div>


                        <div class="p-col-12">
                            <h2>Code violations</h2>
                        </div>


                        <div class="p-col-8 restrict-data-field-label-inline">
                            <h:outputLabel value="Include full ordinance text in violations" 
                                           for="report-case-profile-ordtext-chkbox" />
                        </div>
                        <div class="p-col-4 restrict-main-contents-io-content">                    
                            <p:selectBooleanCheckbox id="report-case-profile-ordtext-chkbox" 
                                                     value="#{ceCaseBB.reportCECase.includeFullOrdinanceText}" />
                        </div>

                        <div class="p-col-8 restrict-data-field-label-inline">
                            <h:outputLabel value="Include violation photos" 
                                           for="report-case-profile-violatios-photos-chkbox" />
                        </div>
                        <div class="p-col-4 restrict-main-contents-io-content">                    
                            <p:selectBooleanCheckbox id="report-case-profile-violatios-photos-chkbox" 
                                                     value="#{ceCaseBB.reportCECase.includeViolationPhotos}" />
                        </div>

                        <div class="p-col-8 restrict-data-field-label-inline">
                            <h:outputLabel value="Include violation notes" 
                                           for="report-case-profile-violation-notes-chkbox" />
                        </div>
                        <div class="p-col-4 restrict-main-contents-io-content">                    
                            <p:selectBooleanCheckbox id="report-case-profile-violation-notes-chkbox" 
                                                     value="#{ceCaseBB.reportCECase.includeViolationNotes}" />
                        </div>

                        <div class="p-col-8 restrict-data-field-label-inline">
                            <h:outputLabel value="Photo column count (min: 1, max:4)" 
                                           for="report-case-profile-photos-violation-cols" />
                        </div>
                        <div class="p-col-4 restrict-main-contents-io-content">                    
                            <p:inputNumber id="report-case-profile-photos-violation-cols" 
                                           minValue="1"
                                           maxValue="4"
                                           validatorMessage="Column count must be between 1 and 4"
                                           value="#{ceCaseBB.reportCECase.violationPhotoColumnCount}" />
                        </div>


                        <div class="p-col-12">
                            <h2>Field inspection reports</h2>
                        </div>


                        <div class="p-col-8 restrict-data-field-label-inline">
                            <h:outputLabel value="Include full field inspection reports" 
                                           for="report-case-profile-firs-chkbox" />
                        </div>
                        <div class="p-col-4 restrict-main-contents-io-content">                    
                            <p:selectBooleanCheckbox id="report-case-profile-firs-chkbox" 
                                                     value="#{ceCaseBB.reportCECase.includeFieldInspectionReports}" />
                        </div>

                        <div class="p-col-8 restrict-data-field-label-inline">
                            <h:outputLabel value="Include photos on field inspection reports" 
                                           for="report-case-profile-firs-photos-chkbox" />
                        </div>
                        <div class="p-col-4 restrict-main-contents-io-content">                    
                            <p:selectBooleanCheckbox id="report-case-profile-firs-photos-chkbox" 
                                                     value="#{ceCaseBB.reportCECase.includeFieldInspectionReportsWithPhotos}" />
                        </div>


                        <div class="p-col-12">
                            <h2>File uploads</h2>
                        </div>


                        <div class="p-col-8 restrict-data-field-label-inline">
                            <h:outputLabel value="Include links to download attachments from report tab directly" 
                                           for="report-case-profile-broadview-chkbox" />
                        </div>
                        <div class="p-col-4 restrict-main-contents-io-content">                    
                            <p:selectBooleanCheckbox id="report-case-profile-broadview-chkbox" 
                                                     value="#{ceCaseBB.reportCECase.includePropertyBroadviewPhoto}" />
                        </div>


                        <div class="p-col-8 restrict-data-field-label-inline">
                            <h:outputLabel value="Include links to download attachments from report tab directly" 
                                           for="report-case-profile-downloadlinks-chkbox" />
                        </div>
                        <div class="p-col-4 restrict-main-contents-io-content">                    
                            <p:selectBooleanCheckbox id="report-case-profile-downloadlinks-chkbox" 
                                                     value="#{ceCaseBB.reportCECase.includeDocDownloadLinks}" />
                        </div>



                        <div class="p-col-8 restrict-data-field-label-inline">
                            <h:outputLabel value="Include links to download attachments from report tab directly" 
                                           for="report-case-profile-caseblobpool-chkbox" />
                        </div>
                        <div class="p-col-4 restrict-main-contents-io-content">                    
                            <p:selectBooleanCheckbox id="report-case-profile-caseblobpool-chkbox" 
                                                     value="#{ceCaseBB.reportCECase.includeCECasePhotoPool}" />
                        </div>


                        <div class="p-col-12">
                            <h2>Action requests</h2>
                        </div>
                        <div class="p-col-8 restrict-data-field-label-inline">
                            <h:outputLabel value="Include linked action requests" 
                                           for="report-case-profile-cears-chkbox" />
                        </div>
                        <div class="p-col-4 restrict-main-contents-io-content">                    
                            <p:selectBooleanCheckbox id="report-case-profile-cears-chkbox" 
                                                     value="#{ceCaseBB.reportCECase.includeActionRequsts}" />
                        </div>
                        <div class="p-col-8 restrict-data-field-label-inline">
                            <h:outputLabel value="Include action request photos" 
                                           for="report-case-profile-cears-photos-chkbox" />
                        </div>
                        <div class="p-col-4 restrict-main-contents-io-content">                    
                            <p:selectBooleanCheckbox id="report-case-cears-photos-chkbox" 
                                                     value="#{ceCaseBB.reportCECase.includeActionRequestPhotos}" />
                        </div>


                        <div class="p-col-8 restrict-data-field-label-inline">
                            <h:outputLabel value="Action request photo column count (min: 1, max:4)" 
                                           for="report-case-cear-photos-cols" />
                        </div>
                        <div class="p-col-4 restrict-main-contents-io-content">                    
                            <p:inputNumber id="report-case-cear-photos-cols" 
                                           minValue="1"
                                           maxValue="4"
                                           validatorMessage="Column count must be between 1 and 4"
                                           value="#{ceCaseBB.reportCECase.cearColumnCount}" />
                        </div>
                        <div class="p-col-12">
                            <h2>Fees and payments</h2>
                        </div>
                        <div class="p-col-8 restrict-data-field-label-inline">
                            <h:outputLabel value="Include fee and payment records" 
                                           for="report-case-profile-feepmt-chkbox" />
                        </div>
                        <div class="p-col-4 restrict-main-contents-io-content">                    
                            <p:selectBooleanCheckbox id="report-case-profile-feepmt-chkbox" 
                                                     value="#{ceCaseBB.reportCECase.includeFeeAndPaymentInfo}" />
                        </div>

                        <div class="p-col-4 restrict-data-field-label-inline">

                            <div class="p-col-12">
                                <h2>Report notes</h2>
                            </div>
                            <h:outputLabel for="report-case-profile-notes-ita" 
                                           value="Report notes"/>
                        </div>
                        <div class="p-col-8 restrict-main-contents-io-content">                    
                            <p:inputTextarea id="report-case-profile-notes-ita" 
                                             cols="30"
                                             rows="5"
                                             value="#{ceCaseBB.reportCECase.notes}"/>
                            <p:spacer height="3px" />
                            <p style="font-style: italic; font-size: 0.8em;">
                                This text will appear in the report header.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="p-col-6">
                    <div class="p-grid">
                        <div class="p-col-12">
                            <h2>Photo options</h2>
                        </div>

                        <div class="p-col-8 restrict-data-field-label-inline">
                            <h:outputLabel value="Include photo filenames" 
                                           for="report-case-profile-photos-filenames" />
                        </div>
                        <div class="p-col-4 restrict-main-contents-io-content">                    
                            <p:selectBooleanCheckbox id="report-case-profile-photos-filenames" 
                                                     value="#{ceCaseBB.reportCECase.includePhotoFilenames}" />
                        </div>
                        <div class="p-col-8 restrict-data-field-label-inline">
                            <h:outputLabel value="Include cecase photo pool" 
                                           for="report-case-profile-photos-case" />
                        </div>
                        <div class="p-col-4 restrict-main-contents-io-content">                    
                            <p:selectBooleanCheckbox id="report-case-profile-photos-case" 
                                                     value="#{ceCaseBB.reportCECase.includeCECasePhotoPool}" />
                        </div>


                        <div class="p-col-8 restrict-data-field-label-inline">
                            <h:outputLabel value="Case photo column count (min: 1, max:4)" 
                                           for="report-case-profile-photos-case-cols" />
                        </div>
                        <div class="p-col-4 restrict-main-contents-io-content">                    
                            <p:inputNumber id="report-case-profile-photos-case-cols" 
                                           minValue="1"
                                           maxValue="4"
                                           validatorMessage="Column count must be between 1 and 4"
                                           value="#{ceCaseBB.reportCECase.ceCasePhotoPoolColumnCount}" />
                        </div>

                        <div class="p-col-12 restrict-data-field-label-inline">
                            <h2>Person data options</h2>
                        </div>
                        <div class="p-col-8 restrict-data-field-label-inline">
                            <h:outputLabel value="Include case connected persons" 
                                           for="report-case-profile-names-checkbox" />
                        </div>
                        <div class="p-col-4 restrict-main-contents-io-content">                    
                            <p:selectBooleanCheckbox id="report-case-profile-names-checkbox" 
                                                     value="#{ceCaseBB.reportCECase.includeAssociatedPersons}" />
                        </div>

                        <div class="p-col-8 restrict-data-field-label-inline">
                            <h:outputLabel value="Include persons linked to parent property but not case" 
                                           for="report-case-profile-names-prop-checkbox" />
                        </div>
                        <div class="p-col-4 restrict-main-contents-io-content">                    
                            <p:selectBooleanCheckbox id="report-case-profile-names-prop-checkbox" 
                                                     value="#{ceCaseBB.reportCECase.includeAssociatedPersonsOnParentProperty}" />
                        </div>


                        <div class="p-col-8 restrict-data-field-label-inline">
                            <h:outputLabel value="Include person contact (address(es), phones, and emails)" 
                                           for="report-case-profile-names-contact-checkbox" />
                        </div>
                        <div class="p-col-4 restrict-main-contents-io-content">                    
                            <p:selectBooleanCheckbox id="report-case-profile-names-contact-checkbox" 
                                                     value="#{ceCaseBB.reportCECase.includePersonAddrPhoneEmail}" />
                        </div>

                        <div class="p-col-12 restrict-data-field-label-inline">
                            <h2>Event history report options</h2>
                        </div>

                        <div class="p-col-8 restrict-data-field-label-inline">
                            <h:outputLabel value="Include hidden events: " 
                                           for="report-case-profile-hidden-chkbox" />
                        </div>
                        <div class="p-col-4 restrict-main-contents-io-content">                    
                            <p:selectBooleanCheckbox id="report-case-profile-hidden-chkbox" 
                                                     value="#{ceCaseBB.reportCECase.includeHiddenEvents}" />
                        </div>

                        <div class="p-col-8 restrict-data-field-label-inline">
                            <h:outputLabel value="Include inactive events: " 
                                           for="report-case-profile-inactive-chkbox" />
                        </div>
                        <div class="p-col-4 restrict-main-contents-io-content">                    
                            <p:selectBooleanCheckbox id="report-case-profile-inactive-chkbox" 
                                                     value="#{ceCaseBB.reportCECase.includeInactiveEvents}" />
                        </div>

                        <div class="p-col-8 restrict-data-field-label-inline">

                            <h:outputLabel value="Assumed viewer rank:" 
                                           for="report-case-profile-eventviewfloor-chkbox" />
                        </div>
                        <div class="p-col-4 restrict-main-contents-io-content">                    
                               <p:selectOneMenu id="event-view-floor-som" 
                                                required="true" 
                                                value="#{ceCaseBB.reportCECase.viewerRankAssumed}">
                                   <f:selectItem itemLabel="select a role..." noSelectionOption="true" />
                                   <f:selectItems value="#{reportingBB.roleTypeCandidateListForReportViewerFiltering}"  var="rt" itemValue="#{rt}" 
                                                  itemLabel="#{rt.label}, rank #{rt.rank}"/>
                               </p:selectOneMenu>

                        </div>

                        <div class="p-col-8 restrict-data-field-label-inline">

                            <h:outputLabel value="Include event descriptions: " 
                                           for="report-case-profile-eventnotes-chkbox" />
                        </div>
                        <div class="p-col-4 restrict-main-contents-io-content">                    
                            <p:selectBooleanCheckbox id="report-case-profile-eventnotes-chkbox" 
                                                     value="#{ceCaseBB.reportCECase.includeEventNotes}" />
                        </div>

                        <div class="p-col-8 restrict-data-field-label-inline">

                            <h:outputLabel value="Include event metadata " 
                                           for="report-case-profile-eventmeta-chkbox" />
                        </div>
                        <div class="p-col-4 restrict-main-contents-io-content">                    
                            <p:selectBooleanCheckbox id="report-case-profile-eventmeta-chkbox" 
                                                     value="#{ceCaseBB.reportCECase.includeEventMetadata}" />
                        </div>

                        <div class="p-col-8 restrict-data-field-label-inline">

                            <h:outputLabel value="Include event person associations " 
                                           for="report-case-profile-event-personlinks" />
                        </div>
                        <div class="p-col-4 restrict-main-contents-io-content">                    
                            <p:selectBooleanCheckbox id="report-case-profile-event-personlinks" 
                                                     value="#{ceCaseBB.reportCECase.includeEventPersonLinks}" />
                        </div>
                    </div>
                </div>
            </div>
        </h:form>
    </p:dialog>
</ui:composition>