<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns="http://www.w3.org/1999/xhtml">
    <p:panel id="cecase-public-panel"
             toggleable="true"
             collapsed="false"
             header="Public Access Settings"
             rendered="false"
             >
        <h:form id="cecase-public-form">


            <div    id="cecase-public-container-div"
                    class="ui-g data-container">

                <div    id="cecase-pacc-div"
                        class="ui-g-12 ui-md-12 ui-lg-12 data_field">

                    <p:outputLabel for="cecase-pacc-it"
                                   styleClass="data_field_label">
                        <h:outputText value="Public access control code"/>
                    </p:outputLabel>

                    <h:inputText    id="cecase-pacc-it"
                                    styleClass="data_field_value"
                                    value="#{ceCaseBB.currentCase.publicControlCode}"/>


                    <p:outputLabel for="cecase-pacc-access-sb"
                                   styleClass="data_field_label">
                        <h:outputText value="Allow access using ref num?"  />
                    </p:outputLabel>
                    <p:selectBooleanButton id="cecase-pacc-access-sb"
                                           onLabel="Yes"
                                           onIcon="fa fa-thumbs-o-up"
                                           offLabel="No"
                                           offIcon="fa fa-hand-stop-o"
                                           value="#{ceCaseBB.currentCase.paccEnabled}"
                                           styleClass="data_field_value"
                                           disabled="#{!systemServicesBB.bbSessionUser.keyCard.hasMuniStaffPermissions}">
                    </p:selectBooleanButton>


                    <p:outputLabel for="cecase-pacc-forwardlink-sb"
                                   styleClass="data_field_label">
                        <h:outputText value="Allow action request linking?"  />
                    </p:outputLabel>

                    <p:selectBooleanButton  id="cecase-pacc-forwardlink-sb"
                                            onLabel="Yes"
                                            onIcon="fa fa-thumbs-o-up"
                                            offLabel="No"
                                            offIcon="fa fa-hand-stop-o"
                                            value="#{ceCaseBB.currentCase.allowForwardLinkedPublicAccess}"
                                            styleClass="data_field_value"
                                            disabled="#{!sessionBeasessionUserer.keyCard.hasMuniStaffPermissions}">
                    </p:selectBooleanButton>
                </div>
            </div>
        </h:form>
    </p:panel>

</ui:composition>