<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns="http://www.w3.org/1999/xhtml">

    <h:form id="cecase-pagelinks-form">
        <div class="page-links">

            <div class="restrict-main-contents-io-link link-button">
                <a href="#cecase-profile-panel">case profile</a>
            </div>
            <h:outputText value=" | " />
            <div class="restrict-main-contents-io-link link-button">
                <a href="#cecase-violations-panel">
                    <h:outputText value="violations (#{ceCaseBB.currentCase.violationList.size()})" />
                </a>
            </div>
            <h:outputText value=" | " />
            <div class="restrict-main-contents-io-link link-button">
                <a href="#cecase-notices-panel">
                    <h:outputText value="notices (#{ceCaseBB.currentCase.noticeList.size()})" />
                </a>
            </div>
            <h:outputText value=" | " />
            <div class="restrict-main-contents-io-link link-button">
                <a href="#cecase-citations-panel">
                    <h:outputText value="citations (#{ceCaseBB.currentCase.citationList.size()})" />
                </a>
            </div>
            <h:outputText value=" | " />
            <div class="restrict-main-contents-io-link link-button">
                <a href="#cecase-events-panel">
                    <h:outputText value="events (#{ceCaseBB.currentCase.eventList.size()})" />
                </a>
            </div>
            <h:outputText value=" | " />
            <div class="restrict-main-contents-io-link link-button">
                <a href="#cecase-cears-panel">
                    <h:outputText value="action requests (#{ceCaseBB.currentCase.ceActionRequestList.size()})" />
                </a>
            </div>
            <h:outputText value=" | " />
            <div class="restrict-main-contents-io-link link-button">
                <a href="#cecase-blobs-panel">
                    <h:outputText value="photos &amp; docs (#{ceCaseBB.currentCase.blobList.size()})" />
                </a>
            </div>
            <h:outputText value=" | " />
            <div class="restrict-main-contents-io-link link-button">
                <a href="#cecase-fees-panel">
                    <h:outputText value="fees" />
                </a>
            </div>
            <h:outputText value=" | " />
            <div class="restrict-main-contents-io-link link-button">
                <a href="#cecase-payments-panel">
                    <h:outputText value="payments" />
                </a>
            </div>
            <h:outputText value=" | " />
            <div class="restrict-main-contents-io-link link-button">
                <a href="#cecase-notes-panel">
                    <h:outputText value="notes" />
                </a>
            </div>
            <h:outputText value=" | " />
            <div class="restrict-main-contents-io-link link-button">
                <a href="#cecase-public-panel">
                    <h:outputText value="public access" />
                </a>
            </div>
            <h:outputText value=" | " />
            <div class="restrict-main-contents-io-link link-button help-icon-tightright">
                <a href="https://technologyrediscovery.github.io/codenforce/case/casescreen#code-enforcement-case-management"
                   target="_blank">
                    <i class="material-icons"
                       style="display: inline-block">help_outline</i>
                </a>
            </div>
            <div class="restrict-main-contents-io-link link-button help-text-tightleft">
                <a href="https://technologyrediscovery.github.io/codenforce/case/casescreen#code-enforcement-case-management"
                   target="_blank">
                    <h:outputText value="page help" />
                </a>
            </div>

        </div>
    </h:form>

</ui:composition>