<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:p="http://primefaces.org/ui">

    <p:panel
        id="citation-search-panel"
        toggleable="true"
        style="width: 100%;"
        widgetVar="citation-serach-panel-var"
        collapsed="false"
        rendered="true"
        header="Citation Search Panel">

        <h:form id="citations-messages-growl-form">
            <p:growl id="citations-messages-growl"
                     />
        </h:form>

        <p:ajaxStatus onstart="PF('citation-status-dialog').show()" 
                      onsuccess="PF('citation-status-dialog').hide()"
                      delay="500" />

        <p:dialog widgetVar="citation-status-dialog" 
                  modal="true"
                  height="250px"
                  width="350px"
                  draggable="false" 
                  closable="false" 
                  resizable="false" 
                  showHeader="false">
            <div class="p-text-center">
                <h:outputText value="Stand by: loading...loading" />
                <p:spacer height="3px" />
                <img src="https://upload.wikimedia.org/wikipedia/commons/2/27/Skid_Loader_anim.gif"
                     alt="loading" 
                     width="150px"
                     style="margin-left:auto; margin-right:auto;"/>
                <p style="font-size: 0.7em;">Pasimi, CC BY-SA 4.0 https://creativecommons.org/licenses/by-sa/4.0, via Wikimedia Commons</p>
            </div>
        </p:dialog>

        <h:form id="citation-search-form">
            <div class="p-grid">
                <div class="p-col-12" >
                    <h:outputText value="Select a query:" 
                                  style="font-weight: bold;"/>
                    <p:spacer height="3px" />
                    <div class="restrict-data-field-value-inline" >

                        <p:selectOneMenu id="citationquery-som" 
                                         tabindex="1" 
                                         value="#{citationSearchBB.querySelected}"
                                         disabled="#{!empty citationSearchBB.querySelected.executionTimestamp}">
                            <f:converter converterId="bOBQueryConverter"/>
                            <f:selectItem itemLabel="select a query..." 
                                          noSelectionOption="true" 
                                          itemDisabled="true"/>
                            <f:selectItems id="querylist-si" value="#{citationSearchBB.queryList}" var="ql" itemValue="#{ql}" itemLabel="#{ql.queryTitle}" />
                            <p:ajax listener="#{citationSearchBB.changeQuerySelected()}"
                                    update="@form
                                    citations-messages-growl-form
                                    citationsearch-params-form"/>
                        </p:selectOneMenu>
                    </div>
                    <p:spacer height="5px" />

                    <h:outputLabel styleClass="bold" 
                                   value="Description: "  />

                    <h:outputText id="citation-query-desc-ot" 
                                  value="#{citationSearchBB.querySelected.queryName.desc}" />
                </div>
            </div>
        </h:form>
        <h:form id="citationsearch-params-form">
            <div class="p-grid">
                <div class="p-col-12">
                    <p:commandButton    id="execute-selected-query-btn" 
                                        ajax="true"
                                        value="Search" 
                                        actionListener="#{citationSearchBB.executeQuery}"
                                        disabled="#{!empty citationSearchBB.querySelected.executionTimestamp}"
                                        icon="pi pi-search"
                                        update="citation-search-form
                                        @form
                                        citation-list-form:citations-table
                                        citation-list-form
                                        citation-search-log-form
                                        citations-messages-growl-form"/>

                    <p:commandLink   id="citation-search-clear-cb" 
                                     ajax="true" 
                                     actionListener="#{citationSearchBB.resetQuery}"
                                     styleClass="button inline-button"
                                     style="font-weight: bold; color: blue; margin-left: 5px;"
                                     value="reset query" 
                                     disabled="#{empty citationSearchBB.querySelected.executionTimestamp}"
                                     update="citations-messages-growl-form
                                     @form
                                     citation-list-form
                                     citation-list-form:citations-table
                                     citation-search-form
                                     citationsearch-params-form
                                     enf-list-form
                                     citation-search-log-form"
                                     />
                    <h:outputText value=" | " />

                    <p:outputLabel for="citation-search-appendresults-chkbox"
                                   style="margin-left: 5px;">
                        <h:outputText value="Append results to list? "/>
                    </p:outputLabel>
                    <p:selectBooleanCheckbox   id="citation-search-appendresults-chkbox" 
                                               value="#{citationSearchBB.appendResultsToList}" 
                                               style="margin-left: 5px;">
                        <p:ajax />
                    </p:selectBooleanCheckbox>
                </div>
                <div class="p-lg-4 p-md-6 p-sm-12">
                    <div class="restrict-main-contents-io-link">
                        <p:commandLink   id="citation-log-view-cl" 
                                         ajax="true" 
                                         actionListener="#{citationSearchBB.onViewCitationLogLinkClick}"
                                         styleClass="button inline-button"
                                         value="view search log" 
                                         oncomplete="PF('citation-search-log-dialog-var').show();"
                                         disabled="#{empty citationSearchBB.querySelected.executionTimestamp}"
                                         update="citation-search-log-dialog"
                                         />
                    </div>
                </div>
            </div>

            <p:spacer height="5px" />

            <p:panel id="citation-search-controls-panel"
                     collapsed="true"
                     toggleable="true"
                     header="Advanced search"
                     styleClass="advanced-search"
                     >
                <f:subview id="citationsearch-param-subview-citationid"
                           rendered="#{(citationSearchBB.searchParamsSelected.citationId_ctl or citationSearchBB.querySelected.queryName.showAllControls) and systemServicesBB.bbSessionUser.keyCard.hasSysAdminPermissions}">

                    <div class="p-grid">
                        <div class="p-lg-4 p-md-6 p-sm-12 restrict-data-field-label-inline">
                            <p:outputLabel id="citation-filter-citationid-ol" 
                                           for="filter-citationid-chkbx" 
                                           value="filter by Citation Id "/>
                            <p:selectBooleanCheckbox id="filter-citationid-chkbx" 
                                                     value="#{citationSearchBB.searchParamsSelected.citationId_ctl}" 
                                                     style="margin-left: 8px;">
                                <p:ajax update="citation-search-citationid-in"/>
                            </p:selectBooleanCheckbox>
                        </div>
                        <div class="p-col-8 p-lg-8 p-md-8 p-sm-12 restrict-data-field-value-inline">
                            <p:inputText id="citation-search-citationid-in" 
                                         type="number"
                                         value="#{citationSearchBB.searchParamsSelected.citationId_val}"
                                         disabled="#{!citationSearchBB.searchParamsSelected.citationId_ctl}">
                            </p:inputText>
                        </div>
                    </div>
                </f:subview>

                <f:subview id="citationsearch-param-subview-citationno"
                           rendered="#{citationSearchBB.searchParamsSelected.citationNumber_ctl or citationSearchBB.querySelected.queryName.showAllControls}">

                    <div class="p-grid">
                        <div class="p-lg-4 p-md-6 p-sm-12 restrict-data-field-label-inline">
                            <p:outputLabel id="citation-filter-citationno-ol" 
                                           for="filter-citationno-chkbx" 
                                           value="filter by custom citation number"/>
                            <p:selectBooleanCheckbox id="filter-citationno-chkbx" 
                                                     value="#{citationSearchBB.searchParamsSelected.citationNumber_ctl}" 
                                                     style="margin-left: 8px;">
                                <p:ajax update="citation-search-citationno-it"/>
                            </p:selectBooleanCheckbox>
                        </div>
                        <div class="p-col-8 p-lg-8 p-md-8 p-sm-12 restrict-data-field-value-inline">
                            <p:inputText id="citation-search-citationno-it" 
                                         value="#{citationSearchBB.searchParamsSelected.citationNumber_val}"
                                         disabled="#{!citationSearchBB.searchParamsSelected.citationNumber_ctl}">
                            </p:inputText>
                        </div>
                    </div>
                </f:subview>

                <f:subview id="citationsearch-param-subview-docketno"
                           rendered="#{citationSearchBB.searchParamsSelected.docketNo_ctl or citationSearchBB.querySelected.queryName.showAllControls}">

                    <div class="p-grid">
                        <div class="p-lg-4 p-md-6 p-sm-12 restrict-data-field-label-inline">
                            <p:outputLabel id="citation-filter-docketno-ol" 
                                           for="filter-docketno-chkbx" 
                                           value="filter by Citation Docket Number "/>
                            <p:selectBooleanCheckbox id="filter-docketno-chkbx" 
                                                     value="#{citationSearchBB.searchParamsSelected.docketNo_ctl}" 
                                                     style="margin-left: 8px;">
                                <p:ajax update="citation-search-docketno-ib"/>
                            </p:selectBooleanCheckbox>
                        </div>
                        <div class="p-col-8 p-lg-8 p-md-8 p-sm-12 restrict-data-field-value-inline">
                            <p:inputText id="citation-search-docketno-ib" 
                                         value="#{citationSearchBB.searchParamsSelected.docketNo_val}"
                                         disabled="#{!citationSearchBB.searchParamsSelected.docketNo_ctl}">
                            </p:inputText>
                        </div>
                    </div>
                </f:subview>

                <f:subview id="citationsearch-param-subview-linkstatus"
                           rendered="#{citationSearchBB.searchParamsSelected.linkStatus_ctl or citationSearchBB.querySelected.queryName.showAllControls}">
                    <div class="p-grid">
                        <div class="p-lg-4 p-md-6 p-sm-12 restrict-data-field-label-inline">
                            <p:outputLabel id="citation-filter-linkstatus-ol" 
                                           for="citation-filter-linkstatus-ctl" 
                                           value="filter by code violation link status"/>
                            <p:selectBooleanCheckbox id="citation-filter-linkstatus-ctl" 
                                                     value="#{citationSearchBB.searchParamsSelected.linkStatus_ctl}"
                                                     style="margin-left: 8px;">
                                <p:ajax update="citation-filter-linkstatus-val" />
                            </p:selectBooleanCheckbox>

                        </div>
                        <div class="p-lg-8 p-md-8 p-sm-12 restrict-data-field-value-inline">
                            <p:selectOneMenu id="citation-filter-linkstatus-val"
                                             value="#{citationSearchBB.searchParamsSelected.linkStatus_val}"
                                             disabled="#{!citationSearchBB.searchParamsSelected.linkStatus_ctl}">

                                <f:selectItem itemLabel="select a status..." noSelectionOption="true" itemDisabled="true"/>
                                <f:selectItems value="#{citationSearchBB.citationViolationStatusEnumList}"  var="cvs" itemValue="#{cvs}" 
                                               itemLabel="#{cvs.label}"/>

                            </p:selectOneMenu>
                        </div>
                    </div>
                </f:subview> 

                <f:subview id="citationsearch-param-subview-citationlogstatus"
                           rendered="#{citationSearchBB.searchParamsSelected.logEntryStatus_ctl or citationSearchBB.querySelected.queryName.showAllControls}">
                    <div class="p-grid">
                        <div class="p-lg-4 p-md-6 p-sm-12 restrict-data-field-label-inline">
                            <p:outputLabel id="citation-filter-citationlogstatus-ol" 
                                           for="citation-filter-citationlogstatus-ctl" 
                                           value="filter by citation log entry status"/>
                            <p:selectBooleanCheckbox id="citation-filter-citationlogstatus-ctl" 
                                                     value="#{citationSearchBB.searchParamsSelected.logEntryStatus_ctl}"
                                                     style="margin-left: 8px;">
                                <p:ajax update="citation-filter-citationlogstatus-val" />
                            </p:selectBooleanCheckbox>

                        </div>
                        <div class="p-lg-8 p-md-8 p-sm-12 restrict-data-field-value-inline">
                            <p:selectOneMenu id="citation-filter-citationlogstatus-val"
                                             value="#{citationSearchBB.searchParamsSelected.logEntryStatus_val}"
                                             disabled="#{!citationSearchBB.searchParamsSelected.logEntryStatus_ctl}">

                                <f:selectItem itemLabel="select a log entry status..." noSelectionOption="true" itemDisabled="true"/>
                                <f:converter converterId="citationStatusConverter"/>
                                <f:selectItems value="#{citationSearchBB.citationStatusList}"  var="cs" itemValue="#{cs}" 
                                               itemLabel="#{cs.statusTitle}"/>

                            </p:selectOneMenu>
                        </div>
                    </div>
                </f:subview> 

                <f:subview id="citationsearch-param-subview-ordinance"
                           rendered="#{citationSearchBB.searchParamsSelected.codeElement_ctl or citationSearchBB.querySelected.queryName.showAllControls}">
                    <div class="p-grid">
                        <div class="p-lg-4 p-md-6 p-sm-12 restrict-data-field-label-inline">
                            <p:outputLabel id="citation-filter-ordinance-ol" 
                                           for="citation-filter-ordinance-ctl" 
                                           value="filter by ordinance"/>
                            <p:selectBooleanCheckbox id="citation-filter-ordinance-ctl" 
                                                     value="#{citationSearchBB.searchParamsSelected.codeElement_ctl}"
                                                     style="margin-left: 8px;">
                                <p:ajax update="citation-filter-ordinance-cl" />
                            </p:selectBooleanCheckbox>

                        </div>
                        <div class="p-lg-8 p-md-8 p-sm-12 restrict-data-field-value-inline">
                            <p:commandLink id="citation-filter-ordinance-cl" value="Select Ordinance" 
                                           style="color: blue;"
                                           onclick="PF('violation-select-element-dialog-var').show()" 
                                           update="enf-list-form"
                                           disabled="#{!citationSearchBB.searchParamsSelected.codeElement_ctl}"/>
                        </div>
                    </div>
                </f:subview> 

                <f:subview id="citationsearch-param-subview--resultcap"
                           rendered="#{citationSearchBB.searchParamsSelected.limitResultCount_ctl or citationSearchBB.querySelected.queryName.showAllControls}">
                    <div class="p-grid">
                        <div class="p-lg-4 p-md-6 p-sm-12 restrict-data-field-label-inline">
                            <p:outputLabel id="citation-query-limit-ol" 
                                           for="citation-query-limit" 
                                           value="limit results"/>
                            <p:selectBooleanCheckbox id="citation-query-limit" 
                                                     value="#{citationSearchBB.searchParamsSelected.limitResultCount_ctl}" 
                                                     style="margin-left: 8px;"/>

                        </div>
                        <div class="p-lg-8 p-md-8 p-sm-12 restrict-data-field-value-inline">

                            <p:inputText id="citation-filter-limit-it"
                                         type="number"
                                         value="#{citationSearchBB.searchParamsSelected.limitResultCount_val}"
                                         disabled="#{!citationSearchBB.searchParamsSelected.limitResultCount_ctl}"/>
                            <h:message for="citation-filter-limit-it" showDetail="false" showSummary="true"
                                       warnClass="msgWarn" infoClass="msgInfo" fatalClass="msgFatal" errorClass="msgError" />
                        </div>
                    </div>
                </f:subview>  
            </p:panel>
        </h:form>

        <h:form id="citation-list-form">
            <div class="p-grid">
                <div class="p-col-12">
                    <h:outputText   id="citationlist-size-ot"
                                    value="listing #{citationSearchBB.citationList.size()} citations" />

                    <h:outputText value=" | " />

                    <p:commandLink   id="citation-search-clear-button" 
                                     ajax="true" 
                                     actionListener="#{citationSearchBB.clearCitationList}"
                                     disabled="false"
                                     styleClass="button"
                                     style="font-weight: bold; color:blue;"
                                     value="clear results list" 
                                     update="citation-list-form
                                     citations-messages-growl-form" />
                </div>
            </div>

            <p:spacer height="5px" />

            <p:dataTable
                id="citations-table"
                value="#{citationSearchBB.citationList}"
                rendered="true"
                var="c"
                rowKey="#{c.citationID}"
                tableStyleClass="primeDataTable"
                resizableColumns="true"
                widgetVar="citations-table-var"
                rowExpandMode="single"
                scrollable="true" 
                reflow="true"
                >
                <p:column width="4%">
                    <f:facet name="header">
                        <h:outputText value="Exp" />
                    </f:facet>
                    <p:rowToggler/>
                </p:column>
                <p:column width="13%" sortBy="#{c.dateOfRecord}">
                    <f:facet name="header">
                        <h:outputText value="Date of record" class="wrapText"/>
                    </f:facet>
                    <h:outputText value="#{citationSearchBB.getPrettyDateNoTime(c.dateOfRecord)}"/>
                </p:column>
                <p:column width="20%" sortBy="#{c.cecaseProUHeavy.addressPretty1Line}">
                    <f:facet name="header">
                        <h:outputText value="Parent's property address and case name" class="wrapText"/>
                    </f:facet>
                    <h:outputText value="#{c.cecaseProUHeavy.addressPretty1Line}" 
                                  styleClass="bold"/>
                    <p:spacer/>
                    <h:outputText value="#{c.cecaseProUHeavy.caseName}" styleClass="italic"/>
                </p:column>
                <p:column width="12%" sortBy="#{c.filingOfficer.human.name}">
                    <f:facet name="header">
                        <h:outputText value="Citing officer name" class="wrapText"/>
                    </f:facet>
                    <h:outputText value="#{c.filingOfficer.human.name}"/>
                </p:column>
                <p:column width="23%">
                    <f:facet name="header">
                        <h:outputText value="Linked persons and their roles" class="wrapText"/>
                    </f:facet>
                    <p:dataScroller id="citations-linkperson-scroller"
                                    value="#{c.humanLinkList}"
                                    rendered="#{!empty c.humanLinkList}"
                                    var="humanlink">
                        <h:outputText value="#{humanlink.name}: " styleClass="bold"/>
                        <h:outputText value="#{humanlink.linkedObjectRole.title}"/>
                    </p:dataScroller>
                </p:column>
                <p:column width="16%" sortBy="#{c.latestLogEntry.status.statusTitle}">
                    <f:facet name="header">
                        <h:outputText value="Citation Status Log Entry" class="wrapText"/>
                    </f:facet>
                    <h:outputText value="#{c.latestLogEntry.status.statusTitle}"/>
                </p:column>
                <p:column width="12%">
                    <f:facet name="header">
                        <h:outputText value="Actions" />
                    </f:facet>
                    <div class="restrict-main-contents-io-link">
                        <p:commandLink      id="view-case-cl"
                                            ajax="true"
                                            action="#{citationSearchBB.onCitationViewCeCase(c)}"
                                            style="color:blue;"
                                            rendered="#{systemServicesBB.permissionAllowReadOnly}"
                                            value="view case"
                                            update="citations-messages-growl-form"/>
                    </div>
                    <p:spacer height="2px"/>
                    <h:outputText value="(ID: #{c.citationID})"/>
                </p:column>
                <p:rowExpansion>
                    <p:accordionPanel id="citation-expanssioninfo-panel">
                        <p:tab title="Violations (#{c.violationList.size()})">
                            <p:dataScroller id="violations-scroller"
                                            value="#{c.violationList}"
                                            var="viol"
                                            style="font-family: sans-serif;">

                                <h:outputText    id="violation-scroller-chapter-ot"
                                                 value="#{viol.violatedEnfElement.headerString}"
                                                 style="font-weight: bold;"
                                                 escape="false"/>

                                <h:outputText value="#{!(empty viol.citVStatus) ? ': ' : ''}"
                                              style="font-weight: bold;"/>

                                <h:outputText value="#{!(empty viol.citVStatus) ? viol.citVStatus.label : ''}"/>

                            </p:dataScroller>
                        </p:tab>
                        <p:tab title="Dockets (#{c.docketNos.size()})">
                            <p:dataScroller id="dockets-scroller"
                                            value="#{c.docketNos}"
                                            var="docket"
                                            style="font-family: sans-serif;">

                                <h:outputText value="#{!(empty docket.docketNumber) ? docket.docketNumber : ''}"
                                              style="font-weight: bold;"/>


                                <h:outputText value="#{!(empty docket.docketNumber) ? ': ' : ''}"
                                              style="font-weight: bold;"/>

                                <h:outputText    id="dockets-court"
                                                 value="#{docket.courtEntity.courtEntityName}"
                                                 escape="false"/>
                            </p:dataScroller>
                        </p:tab>
                    </p:accordionPanel>
                </p:rowExpansion>
            </p:dataTable>  
        </h:form>
        <p:spacer height="5px" /> 

        <p:dialog   id="citation-search-log-dialog"
                    header="Citation search log" 
                    widgetVar="citation-search-log-dialog-var"
                    responsive="true"
                    closable="true"
                    closeOnEscape="true"
                    width="60%">
            <h:form id="citation-search-log-form">

                <h:outputText id="citation-search-log-ot" 
                              value="#{citationSearchBB.querySelected.queryLog}"
                              escape="false"/>
            </h:form>

        </p:dialog>

        <p:dialog  id="violation-select-element-dialog"
                   height="800" width="1600"
                   widgetVar="violation-select-element-dialog-var"
                   responsive="true"
                   dynamic="true"
                   modal="true"
                   resizable="true"
                   closable="true"
                   closeOnEscape="true"
                   header="Choose Ordinance">
            <h:form id="enf-list-form">
                <p:commandButton value="Go Ahead" actionListener="#{citationSearchBB.storeSelectedElement}" onclick="PF('violation-select-element-dialog-var').hide()"/>
                <p:spacer/>
                <p:dataTable
                    id="enf-elements-table"
                    value="#{citationSearchBB.enfCodeElementList}"
                    rendered="#{!empty citationSearchBB.enfCodeElementList}"
                    var="cse"
                    rowKey="#{cse.codeSetElementID}"
                    tableStyleClass="primeDataTable"
                    scrollable="true"
                    resizableColumns="true"
                    draggableColumns="true"
                    rowExpandMode="single"
                    selection="#{citationSearchBB.selectedCodeElement}"
                    expandedRow="false"
                    widgetVar="codeSetElementListTable"
                    selectionMode="single">


                    <p:column width="5%"
                              selectionBox="true"
                              styleClass="table-select-box-col">
                        <f:facet name="header">
                            <h:outputText value="Select"/>
                        </f:facet>
                    </p:column>
                    <p:column width="3%">
                        <f:facet name="header">
                            <h:outputText value="Exp"/>
                        </f:facet>
                        <p:rowToggler/>
                    </p:column>

                    <p:column width="8%" sortBy="#{cse.source.sourceName}">
                        <f:facet name="header">
                            <h:outputText value="Source" />
                        </f:facet>
                        <h:outputText value="#{cse.source.sourceName}(#{cse.source.sourceYear})"/>
                    </p:column>

                    <p:column width="5%"
                              sortBy="#{cse.ordchapterNo}">
                        <f:facet name="header">
                            <h:outputText value="Chap#"/>
                        </f:facet>
                        <h:outputText value="#{cse.ordchapterNo}"/>
                    </p:column>

                    <p:column width="13%" 
                              sortBy="#{cse.ordchapterTitle}"
                              >
                        <f:facet name="header">
                            <h:outputText value="Chapter"/>
                        </f:facet>
                        <h:outputText value="#{cse.ordchapterTitle}"/>
                    </p:column>

                    <p:column width="5%" 
                              sortBy="#{cse.ordSecNum}">
                        <f:facet name="header">
                            <h:outputText value="Sec#" />
                        </f:facet>
                        <h:outputText value="#{cse.ordSecNum}"/>
                    </p:column>

                    <p:column width="11%" 
                              sortBy="#{cse.ordSecTitle}"
                              >
                        <f:facet name="header">
                            <h:outputText value="Section" />
                        </f:facet>
                        <h:outputText value="#{cse.ordSecTitle}"/>
                    </p:column>

                    <p:column width="5%" 
                              sortBy="#{cse.ordSubSecNum}">
                        <f:facet name="header">
                            <h:outputText value="Sub#" />
                        </f:facet>
                        <h:outputText value="#{cse.ordSubSecNum}"/>
                    </p:column>

                    <p:column sortBy="#{cse.ordSubSecTitle}"
                              width="12%">
                        <f:facet name="header">
                            <h:outputText value="SubSec. Title" />
                        </f:facet>
                        <h:outputText value="#{cse.ordSubSecTitle}"/>
                    </p:column>
                    <p:column sortBy="#{cse.ordSubSubSecNum}"
                              width="6%">
                        <f:facet name="header">
                            <h:outputText value="SubSub#" />
                        </f:facet>
                        <h:outputText value="#{cse.ordSubSubSecNum}"/>
                        <p:spacer height="3px" />
                        <h:outputText value="#{cse.ordSubSubSecTitle}"/>
                    </p:column>

                    <p:column width="10%" 
                              sortBy="#{cse.guideEntry.category}"
                              >
                        <f:facet name="header">
                            <h:outputText value="Category" />
                        </f:facet>
                        <h:outputText value="#{cse.guideEntry.category}"/>
                        <p:spacer height="2px" />
                        <h:outputText value="#{cse.guideEntry.subCategory}"/>
                    </p:column>

                    <p:rowExpansion>
                        <div class="outlinedBox">
                            <h2>Details</h2>
                            <h:outputText escape="false" value="Code element ID: #{cse.elementID}"/>

                            <h2>Enforceability Info</h2>
                            <h:outputLabel styleClass="bold" value="Munimum Penalty"/>
                            <p:spacer height="15px"/>
                            <div class="rowExpansion">
                                <h:outputText escape="false" value="$#{cse.minPenalty}"/>
                            </div>

                            <h:outputLabel styleClass="bold" value="Norm Penalty"/>
                            <p:spacer height="15px"/>
                            <div class="rowExpansion">
                                <h:outputText escape="false" value="$#{cse.normPenalty}"/>
                            </div>

                            <h:outputLabel styleClass="bold" value="Maximum Penalty"/>
                            <p:spacer height="15px"/>
                            <div class="rowExpansion">
                                <h:outputText escape="false" value="$#{cse.maxPenalty}"/>
                            </div>

                            <h:outputLabel styleClass="bold" value="Penalty Notes"/>
                            <p:spacer height="15px"/>
                            <div class="rowExpansion">
                                <h:outputText escape="false" value="#{cse.penaltyNotes}"/>
                            </div>

                            <h:outputLabel styleClass="bold" value="Default days to comply"/>
                            <p:spacer height="15px"/>
                            <div class="rowExpansion">
                                <h:outputText escape="false" value="#{cse.normDaysToComply}"/>
                            </div>

                            <h:outputLabel styleClass="bold" value="Compliance timeframe Notes"/>
                            <p:spacer height="15px"/>
                            <div class="rowExpansion">
                                <h:outputText escape="false" value="#{cse.daysToComplyNotes}"/>
                            </div>

                            <h:outputLabel styleClass="bold" value="Municipality specific implementation notes"/>
                            <p:spacer height="15px"/>
                            <div class="rowExpansion">
                                <h:outputText escape="false" value="#{cse.muniSpecificNotes}"/>
                            </div>
                        </div>

                        <div class="outlinedBox">
                            <h2>Code Element Content</h2>

                            <h:outputLabel styleClass="bold" value="Technical Text"/>
                            <p:spacer height="15px"/>
                            <div class="rowExpansion">
                                <h:outputText escape="false" value="#{cse.ordTechnicalText}"/>
                            </div>

                            <p:spacer height="15px"/>

                            <h:outputLabel styleClass="bold" value="Human friendly text"/>
                            <div class="rowExpansion">
                                <h:outputText escape="false" value="#{cse.ordHumanFriendlyText}"/>
                            </div>
                            <p:spacer height="15px"/>
                            <h:outputLabel styleClass="bold" value="Code Guide: Enforcement Tips"/>
                            <div class="rowExpansion">
                                <h:outputText escape="false" value="#{cse.guideEntry.enforcementGuidelines}"/>
                            </div>

                            <p:spacer height="15px"/>

                            <h:outputLabel styleClass="bold" value="Code guide: Inspection Tips"/>
                            <div class="rowExpansion">
                                <h:outputText escape="false" value="#{cse.guideEntry.inspectionGuidelines}"/>
                            </div>
                        </div>
                    </p:rowExpansion>
                </p:dataTable>

            </h:form>
        </p:dialog>
    </p:panel>
</ui:composition>


