<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:p="http://primefaces.org/ui">

    <p:panel    id="dash-codeviolation-search-panel"
                toggleable="true"
                style="width: 100%;"
                widgetVar="codeviolation-serach-panel-var"
                collapsed="false"
                rendered="true"
                header="Code Violations in #{sessionBean.sessMuni.muniName}" >

        <h:form id="codeviolation-growl-form">
            <p:growl id="codeviolation-messages-growl"/>
        </h:form>

        <p:ajaxStatus onstart="PF('codeviolation-status-dialog').show()" 
                      onsuccess="PF('codeviolation-status-dialog').hide()"
                      delay="500" />

        <p:dialog widgetVar="codeviolation-status-dialog" 
                  modal="true"
                  height="250px"
                  width="350px"
                  draggable="false" 
                  closable="false" 
                  resizable="false" 
                  showHeader="false">
            <div class="p-text-center">
                <h:outputText value="Stand by: loading...loading" />
                <p:spacer height="3px" />
                <img src="https://upload.wikimedia.org/wikipedia/commons/2/27/Skid_Loader_anim.gif"
                     alt="loading" 
                     width="150px"
                     style="margin-left:auto; margin-right:auto;"/>
                <p style="font-size: 0.7em;">Pasimi, CC BY-SA 4.0 https://creativecommons.org/licenses/by-sa/4.0, via Wikimedia Commons</p>
            </div>
        </p:dialog>

        <h:form id="codeviolation-search-form">
            <div class="p-grid">
                <div class="p-col-12" >
                    <h:outputText value="Select a query:" 
                                  style="font-weight: bold;"/>
                    <p:spacer height="3px" />
                    <div class="restrict-data-field-value-inline" >

                        <p:selectOneMenu id="codeviolationquery-som" 
                                         tabindex="1" 
                                         value="#{codeViolationSearchBB.querySelected}"
                                         disabled="#{!empty codeViolationSearchBB.querySelected.executionTimestamp}">
                            <f:converter converterId="bOBQueryConverter"/>
                            <f:selectItem itemLabel="select a query..." 
                                          noSelectionOption="true" 
                                          itemDisabled="true"/>
                            <f:selectItems id="querylist-si" value="#{codeViolationSearchBB.queryList}" var="ql" itemValue="#{ql}" itemLabel="#{ql.queryTitle}" />
                            <p:ajax listener="#{codeViolationSearchBB.changeQuerySelected}"
                                    update="@form
                                    codeviolationsearch-params-form
                                    codeviolation-growl-form
                                    "/>
                        </p:selectOneMenu>
                    </div>
                    <p:spacer height="5px" />

                    <h:outputLabel styleClass="bold" 
                                   value="Description: "  />

                    <h:outputText id="violation-query-desc-ot" 
                                  value="#{codeViolationSearchBB.querySelected.queryName.desc}" />
                </div>
            </div>
        </h:form>

        <h:form id="codeviolationsearch-params-form">
            <div class="p-grid">
                <div class="p-col-12">
                    <p:commandButton    id="execute-selected-query-top" 
                                        ajax="true"
                                        value="Search" 
                                        actionListener="#{codeViolationSearchBB.executeQuery}"
                                        disabled="#{!empty codeViolationSearchBB.querySelected.executionTimestamp}"
                                        icon="pi pi-search"
                                        update="codeviolation-list-form
                                        codeviolation-list-form:codeviolations-table
                                        @form
                                        codeviolation-search-form
                                        codeviolation-search-log-form
                                        codeviolation-growl-form
                                        "/>

                    <p:commandLink   id="codeviolation-search-clear-cb" 
                                     ajax="true" 
                                     actionListener="#{codeViolationSearchBB.resetQuery}"
                                     styleClass="button inline-button"
                                     style="font-weight: bold; color: blue; margin-left: 5px;"
                                     value="reset query" 
                                     disabled="#{empty codeViolationSearchBB.querySelected.executionTimestamp}"
                                     update="codeviolation-growl-form
                                     codeviolation-list-form
                                     codeviolation-list-form:codeviolations-table
                                     @form
                                     codeviolation-search-form
                                     codeviolationsearch-params-form
                                     codeviolation-search-log-form
                                     "/>
                    <h:outputText value=" | " />

                    <p:outputLabel for="codeviolation-search-appendresults-chkbox"
                                   style="margin-left: 5px;">
                        <h:outputText value="Append results to list? "/>
                    </p:outputLabel>
                    <p:selectBooleanCheckbox   id="codeviolation-search-appendresults-chkbox" 
                                               value="#{codeViolationSearchBB.appendResultsToList}" 
                                               style="margin-left: 5px;">
                        <p:ajax />
                    </p:selectBooleanCheckbox>
                </div>
                <div class="p-lg-4 p-md-6 p-sm-12">
                    <div class="restrict-main-contents-io-link">
                        <p:commandLink   id="codeviolation-log-view-cl" 
                                         ajax="true" 
                                         actionListener="#{codeViolationSearchBB.onViewCodeViolationLogLinkClick}"
                                         styleClass="button inline-button"
                                         value="view search log" 
                                         oncomplete="PF('codeviolation-search-log-dialog-var').show();"
                                         disabled="#{empty codeViolationSearchBB.querySelected.executionTimestamp}"
                                         update="codeviolation-search-log-dialog"/>
                    </div>
                </div>
            </div>

            <p:spacer height="5px" />

            <p:panel id="codeviolation-search-controls-panel"
                     collapsed="true"
                     toggleable="true"
                     header="Advanced search"
                     styleClass="advanced-search"
                     >

                <f:subview id="codeviolationsearch-param-subview-muni"
                           rendered="#{(codeViolationSearchBB.searchParamsSelected.muni_ctl or codeViolationSearchBB.querySelected.queryName.showAllControls) and systemServicesBB.bbSessionUser.keyCard.hasSysAdminPermissions}">

                    <div class="p-grid">
                        <div class="p-lg-4 p-md-6 p-sm-12 restrict-data-field-label-inline">
                            <p:outputLabel id="codeviolation-filter-muni-ol" 
                                           for="seev-filter-muni-chkbx" 
                                           value="filter by municipality "/>
                            <p:selectBooleanCheckbox id="seev-filter-muni-chkbx" 
                                                     value="#{codeViolationSearchBB.searchParamsSelected.muni_ctl}" 
                                                     style="margin-left: 8px;">
                                <p:ajax update="codeviolation-search-muni-som"/>
                            </p:selectBooleanCheckbox>
                        </div>
                        <div class="p-col-8 p-lg-8 p-md-8 p-sm-12 restrict-data-field-value-inline">
                            <p:selectOneMenu id="codeviolation-search-muni-som" tabindex="1" value="#{codeViolationSearchBB.searchParamsSelected.muni_val}"
                                             disabled="#{!codeViolationSearchBB.searchParamsSelected.muni_ctl}">
                                <f:converter converterId="muniConverter"/>
                                <f:selectItem itemLabel="select municipality..." noSelectionOption="true" itemDisabled="true"/>
                                <f:selectItems id="muniNameList" value="#{systemServicesBB.municipalityListForSearch}" var="m" itemValue="#{m}" itemLabel="#{m.muniName}" />
                            </p:selectOneMenu>
                        </div>
                    </div>
                </f:subview>
                
                <f:subview id="codeviolationsearch-param-subview-dates"
                           rendered="#{codeViolationSearchBB.searchParamsSelected.date_startEnd_ctl or codeViolationSearchBB.querySelected.queryName.showAllControls}">
                    <div class="p-grid">
                        <div class="p-lg-4 p-md-6 p-sm-12 restrict-data-field-label-inline">
                            <p:outputLabel id="codeviolation-search-startend-chkbx-ol" 
                                           for="codeviolation-search-startend-chkbx" 
                                           value="filter by date range "/>

                            <p:selectBooleanCheckbox id="codeviolation-search-startend-chkbx" 
                                                     value="#{codeViolationSearchBB.searchParamsSelected.date_startEnd_ctl}" 
                                                     style="margin-left: 8px;">
                                <p:ajax update="codeviolation-search-date-field-val
                                        codeviolation-search-date-start-val
                                        codeviolation-search-date-end-val
                                        codeviolation-search-date-relative-ctl" />
                            </p:selectBooleanCheckbox>

                        </div>
                        <div class="p-lg-8 p-md-8 p-sm-12 nested-grid restrict-data-field-value-inline">
                            <div class="p-grid">
                                <div class="p-col-12">
                                </div>

                                <div class="p-col-12">
                                    <p:selectOneMenu  id="codeviolation-search-date-field-val" 
                                                      tabindex="1" 
                                                      value="#{codeViolationSearchBB.searchParamsSelected.date_field}"
                                                      disabled="#{!codeViolationSearchBB.searchParamsSelected.date_startEnd_ctl}"
                                                      converter="dateFieldConverter">
                                        <f:selectItem itemLabel="select a date field..." 
                                                      noSelectionOption="true" 
                                                      itemDisabled="true"/>
                                        <f:selectItems id="codeviolation-search-date-field-val-items" 
                                                       value="#{codeViolationSearchBB.searchParamsSelected.dateFieldList}" 
                                                       var="f" itemValue="#{f}" itemLabel="#{f.title}" />
                                    </p:selectOneMenu>
                                </div>
                                <div class="p-col-12 restrict-data-field-label-vertical">

                                    <p:outputLabel for="codeviolation-search-date-start-val" 
                                                   value="start date"/>
                                </div>
                                <div class="p-col-12 restrict-data-field-value-vertical">

                                    <p:datePicker  id="codeviolation-search-date-start-val" 
                                                   value="#{codeViolationSearchBB.searchParamsSelected.date_start_val}" 
                                                   disabled="#{(!codeViolationSearchBB.searchParamsSelected.date_startEnd_ctl) or codeViolationSearchBB.searchParamsSelected.date_relativeDates_ctl}"
                                                   rendered="true"
                                                   style="width: 100%;"
                                                   pattern="MM/dd/yyyy HH:mm"
                                                   hideOnDateTimeSelect="true"
                                                   showOnFocus="false"
                                                   showIcon="true"
                                                   showButtonBar="true"
                                                   mask="true"
                                                   timeInput="true" 
                                                   required="true" />
                                </div>

                                <div class="p-col-12 restrict-data-field-label-vertical">
                                    <p:outputLabel for="codeviolation-search-date-end-val" 
                                                   value="end date"/>
                                </div>
                                <div class="p-col-12 restrict-data-field-value-vertical">

                                    <p:datePicker id="codeviolation-search-date-end-val" 
                                                  value="#{codeViolationSearchBB.searchParamsSelected.date_end_val}" 
                                                  disabled="#{(!codeViolationSearchBB.searchParamsSelected.date_startEnd_ctl) or codeViolationSearchBB.searchParamsSelected.date_relativeDates_ctl}"
                                                  rendered="true"
                                                  style="width: 100%;"
                                                  pattern="MM/dd/yyyy HH:mm"
                                                  hideOnDateTimeSelect="true"
                                                  showOnFocus="false"
                                                  showIcon="true"
                                                  showButtonBar="true"
                                                  mask="true"
                                                  timeInput="true" 
                                                  required="true" />
                                </div>

                                <div class="p-col-12 restrict-data-field-label-vertical">

                                    <p:outputLabel for="codeviolation-search-date-relative-ctl" 
                                                   value="Relative dates"
                                                   styleClass="datum-label"/>

                                    <p:selectBooleanCheckbox id="codeviolation-search-date-relative-ctl" 
                                                             value="#{codeViolationSearchBB.searchParamsSelected.date_relativeDates_ctl}" 
                                                             disabled="#{!codeViolationSearchBB.searchParamsSelected.date_startEnd_ctl}" 
                                                             style="margin-left: 8px;">
                                        <p:ajax update="codeviolation-search-date-end-val
                                                codeviolation-search-date-start-val
                                                codeviolation-search-date-end-val
                                                codeviolation-search-date-relative-start-val
                                                codeviolation-search-date-relative-end-val" />
                                    </p:selectBooleanCheckbox>
                                </div>

                                <div class="p-col-12 restrict-data-field-label-vertical">
                                    <p:outputLabel for="codeviolation-search-date-relative-start-val" 
                                                   value="start date # days from today (negative values count into past)"/>
                                </div>
                                <div class="p-col-12 restrict-data-field-value-vertical">
                                    <p:inputText id="codeviolation-search-date-relative-start-val" 
                                                 value="#{codeViolationSearchBB.searchParamsSelected.date_relativeDates_start_val}" 
                                                 disabled="#{!(codeViolationSearchBB.searchParamsSelected.date_startEnd_ctl and codeViolationSearchBB.searchParamsSelected.date_relativeDates_ctl)}" />
                                    <h:message for="codeviolation-search-date-relative-start-val" showDetail="false" showSummary="true" 
                                               warnClass="msgWarn" infoClass="msgInfo" fatalClass="msgFatal" errorClass="msgError" />
                                </div>

                                <div class="p-col-12 restrict-data-field-label-vertical">
                                    <p:outputLabel for="codeviolation-search-date-relative-end-val" 
                                                   value="end date # days from today (negative values count into past)"/>
                                </div>
                                <div class="p-col-12 restrict-data-field-value-vertical">
                                    <p:inputText id="codeviolation-search-date-relative-end-val" 
                                                 value="#{codeViolationSearchBB.searchParamsSelected.date_realtiveDates_end_val}" 
                                                 disabled="#{!(codeViolationSearchBB.searchParamsSelected.date_startEnd_ctl and codeViolationSearchBB.searchParamsSelected.date_relativeDates_ctl)}" />
                                    <h:message for="codeviolation-search-date-relative-end-val" showDetail="false" showSummary="true" 
                                               warnClass="msgWarn" infoClass="msgInfo" fatalClass="msgFatal" errorClass="msgError" />
                                </div>
                            </div>
                        </div>
                    </div>
                </f:subview> 

                <f:subview id="codeviolationsearch-param-subview-user"
                           rendered="#{codeViolationSearchBB.searchParamsSelected.user_ctl or codeViolationSearchBB.querySelected.queryName.showAllControls}">
                    <div class="p-grid">
                        <div class="p-lg-4 p-md-6 p-sm-12 restrict-data-field-label-inline">
                            <p:outputLabel for="codeviolation-search-filter-user-ctl" 
                                           value="User filter"/>

                            <p:selectBooleanCheckbox id="codeviolation-search-filter-user-ctl" 
                                                     value="#{codeViolationSearchBB.searchParamsSelected.user_ctl}"
                                                     disabled="#{!(codeViolationSearchBB.searchParamsSelected.user_rtMin.rank lt systemServicesBB.bbSessionUser.keyCard.governingAuthPeriod.role.rank)}"
                                                     style="margin-left: 8px;">
                                <p:ajax update="codeviolation-search-filter-user-som
                                        codeviolation-search-user-field-val" />
                            </p:selectBooleanCheckbox>

                        </div>
                        <div class="p-lg-8 p-md-8 p-sm-12 restrict-data-field-value-inline">

                            <p:selectOneMenu  id="codeviolation-search-user-field-val" 
                                              tabindex="1" 
                                              value="#{codeViolationSearchBB.searchParamsSelected.user_field}"
                                              disabled="#{!codeViolationSearchBB.searchParamsSelected.user_ctl}"
                                              converter="userFieldConverter">
                                <f:selectItem itemLabel="select a user field..." 
                                              noSelectionOption="true" 
                                              itemDisabled="true"/>
                                <f:selectItems id="codeviolation-search-user-field-val-items" 
                                               value="#{codeViolationSearchBB.searchParamsSelected.userFieldList}" 
                                               var="uf" itemValue="#{uf}" itemLabel="#{uf.title}" />
                            </p:selectOneMenu>
                            <p:selectOneMenu id="codeviolation-search-filter-user-som" required="false" 
                                             value="#{codeViolationSearchBB.searchParamsSelected.user_val}"
                                             disabled="#{!codeViolationSearchBB.searchParamsSelected.user_ctl}">
                                <f:selectItem itemLabel="select a user..." noSelectionOption="true" />
                                <f:selectItems value="#{systemServicesBB.userListForSearch}"  var="u" itemValue="#{u}" 
                                               itemLabel="#{u.human.name} (username:#{u.username})"/>
                                <f:converter converterId="userConverter"/>
                            </p:selectOneMenu>
                        </div>
                    </div>
                </f:subview> 

                <f:subview id="codeviolationsearch-param-subview-cv1-property"
                           rendered="#{codeViolationSearchBB.searchParamsSelected.property_ctl or codeViolationSearchBB.querySelected.queryName.showAllControls}">
                    <div class="p-grid">
                        <div class="p-lg-4 p-md-6 p-sm-12 restrict-data-field-label-inline">
                            <p:outputLabel for="codeviolation-search-filter-property-ctl" 
                                           value="filter by property"/>

                            <p:selectBooleanCheckbox id="codeviolation-search-filter-property-ctl" 
                                                     value="#{codeViolationSearchBB.searchParamsSelected.property_ctl}"
                                                     style="margin-left: 8px;">
                            </p:selectBooleanCheckbox>

                        </div>
                        <div class="p-lg-8 p-md-8 p-sm-12 restrict-data-field-value-inline">
                            <h:outputText value="Default Violations For The Current Property Are Searched"/>
                        </div>
                    </div>
                </f:subview> 

                <f:subview id="codeviolationsearch-param-subview-cv2-cited"
                           rendered="#{codeViolationSearchBB.searchParamsSelected.cited_ctl or codeViolationSearchBB.querySelected.queryName.showAllControls}">
                    <div class="p-grid">
                        <div class="p-lg-4 p-md-6 p-sm-12 restrict-data-field-label-inline">
                            <p:outputLabel for="codeviolation-search-filter-cited-ctl" 
                                           value="filter by cited"/>

                            <p:selectBooleanCheckbox id="codeviolation-search-filter-cited-ctl" 
                                                     value="#{codeViolationSearchBB.searchParamsSelected.cited_ctl}"
                                                     style="margin-left: 8px;">
                                <p:ajax update="codeviolation-search-filter-cited-val" />
                            </p:selectBooleanCheckbox>

                        </div>
                        <div class="p-lg-8 p-md-8 p-sm-12 restrict-data-field-value-inline">
                            <p:outputLabel for="codeviolation-search-filter-cited-val" 
                                           value="is cited"/>
                            <p:selectBooleanCheckbox id="codeviolation-search-filter-cited-val" 
                                                     value="#{codeViolationSearchBB.searchParamsSelected.cited_val}"
                                                     disabled="#{!codeViolationSearchBB.searchParamsSelected.cited_ctl}"
                                                     style="margin-left: 8px;"/>
                        </div>
                    </div>
                </f:subview> 

                <f:subview id="codeviolationsearch-param-subview-cv3-legacyImport"
                           rendered="#{codeViolationSearchBB.searchParamsSelected.legacyImport_ctl or codeViolationSearchBB.querySelected.queryName.showAllControls}">
                    <div class="p-grid">
                        <div class="p-lg-4 p-md-6 p-sm-12 restrict-data-field-label-inline">
                            <p:outputLabel for="codeviolation-search-filter-legacyImport-ctl" 
                                           value="filter by legacy import"/>

                            <p:selectBooleanCheckbox id="codeviolation-search-filter-legacyImport-ctl" 
                                                     value="#{codeViolationSearchBB.searchParamsSelected.legacyImport_ctl}"
                                                     style="margin-left: 8px;">
                                <p:ajax update="codeviolation-search-filter-legacyImport-val" />
                            </p:selectBooleanCheckbox>

                        </div>
                        <div class="p-lg-8 p-md-8 p-sm-12 restrict-data-field-value-inline">
                            <p:outputLabel for="codeviolation-search-filter-legacyImport-val" 
                                           value="is legacy import"/>
                            <p:selectBooleanCheckbox id="codeviolation-search-filter-legacyImport-val" 
                                                     value="#{codeViolationSearchBB.searchParamsSelected.legacyImport_val}"
                                                     disabled="#{!codeViolationSearchBB.searchParamsSelected.legacyImport_ctl}"
                                                     style="margin-left: 8px;"/>
                        </div>
                    </div>
                </f:subview> 

                <f:subview id="codeviolationsearch-param-subview-cv4-severity"
                           rendered="#{codeViolationSearchBB.searchParamsSelected.severity_ctl or codeViolationSearchBB.querySelected.queryName.showAllControls}">
                    <div class="p-grid">
                        <div class="p-lg-4 p-md-6 p-sm-12 restrict-data-field-label-inline">
                            <p:outputLabel for="codeviolation-search-filter-severity-ctl" 
                                           value="filter by severity"/>

                            <p:selectBooleanCheckbox id="codeviolation-search-filter-severity-ctl" 
                                                     value="#{codeViolationSearchBB.searchParamsSelected.severity_ctl}"
                                                     style="margin-left: 8px;">
                                <p:ajax update="codeviolation-search-filter-severity-val" />
                            </p:selectBooleanCheckbox>
                        </div>
                        <div class="p-lg-8 p-md-8 p-sm-12 restrict-data-field-value-inline">
                            <p:selectOneMenu id="codeviolation-search-filter-severity-val" required="false" 
                                             value="#{codeViolationSearchBB.searchParamsSelected.severity_val}"
                                             disabled="#{!codeViolationSearchBB.searchParamsSelected.severity_ctl}">
                                <f:converter converterId="intensityClassConverter"/>
                                <f:selectItem itemLabel="select a severity..." noSelectionOption="true" />
                                <f:selectItems value="#{codeViolationSearchBB.severityList}"  var="s" itemValue="#{s}" 
                                               itemLabel="#{s.numericRating}: #{s.title}"/>

                            </p:selectOneMenu>
                        </div>
                    </div>
                </f:subview>

                <f:subview id="codeviolationsearch-param-subview-cv5-source"
                           rendered="#{codeViolationSearchBB.searchParamsSelected.source_ctl or codeViolationSearchBB.querySelected.queryName.showAllControls}">
                    <div class="p-grid">
                        <div class="p-lg-4 p-md-6 p-sm-12 restrict-data-field-label-inline">
                            <p:outputLabel for="codeviolation-search-filter-source-ctl" 
                                           value="filter by source"/>

                            <p:selectBooleanCheckbox id="codeviolation-search-filter-source-ctl" 
                                                     value="#{codeViolationSearchBB.searchParamsSelected.source_ctl}"
                                                     style="margin-left: 8px;">
                                <p:ajax update="codeviolation-search-filter-source-val" />
                            </p:selectBooleanCheckbox>
                        </div>
                        <div class="p-lg-8 p-md-8 p-sm-12 restrict-data-field-value-inline">
                            <p:selectOneMenu id="codeviolation-search-filter-source-val" required="false" 
                                             value="#{codeViolationSearchBB.searchParamsSelected.source_val}"
                                             disabled="#{!codeViolationSearchBB.searchParamsSelected.source_ctl}">
                                <f:converter converterId="bobSourceConverter"/>
                                <f:selectItem itemLabel="select a source..." noSelectionOption="true" />
                                <f:selectItems value="#{codeViolationSearchBB.sourceList}"  var="bs" itemValue="#{bs}" 
                                               itemLabel="#{bs.title}"/>

                            </p:selectOneMenu>
                        </div>
                    </div>
                </f:subview>

                <f:subview id="codeviolationsearch-param-subview-cv6-notice-mailed"
                           rendered="#{codeViolationSearchBB.searchParamsSelected.noticeMailed_ctl or codeViolationSearchBB.querySelected.queryName.showAllControls}">
                    <div class="p-grid">
                        <div class="p-lg-4 p-md-6 p-sm-12 restrict-data-field-label-inline">
                            <p:outputLabel for="codeviolation-search-filter-notice-mailed-ctl" 
                                           value="filter by notice mailed"/>

                            <p:selectBooleanCheckbox id="codeviolation-search-filter-notice-mailed-ctl" 
                                                     value="#{codeViolationSearchBB.searchParamsSelected.noticeMailed_ctl}"
                                                     style="margin-left: 8px;">
                                <p:ajax update="codeviolation-search-filter-notice-mailed-val" />
                            </p:selectBooleanCheckbox>
                        </div>
                        <div class="p-lg-8 p-md-8 p-sm-12 restrict-data-field-value-inline">
                            <p:outputLabel for="codeviolation-search-filter-notice-mailed-val" 
                                           value="is notice mailed"/>
                            <p:selectBooleanCheckbox id="codeviolation-search-filter-notice-mailed-val" 
                                                     value="#{codeViolationSearchBB.searchParamsSelected.noticeMailed_val}"
                                                     disabled="#{!codeViolationSearchBB.searchParamsSelected.noticeMailed_ctl}"
                                                     style="margin-left: 8px;"/>
                        </div>
                    </div>
                </f:subview>

                <f:subview id="codeviolationsearch-param-subview-cv7-transferred"
                           rendered="#{codeViolationSearchBB.searchParamsSelected.transferred_ctl or codeViolationSearchBB.querySelected.queryName.showAllControls}">
                    <div class="p-grid">
                        <div class="p-lg-4 p-md-6 p-sm-12 restrict-data-field-label-inline">
                            <p:outputLabel for="codeviolation-search-filter-transferred-ctl" 
                                           value="filter by transferred"/>

                            <p:selectBooleanCheckbox id="codeviolation-search-filter-transferred-ctl" 
                                                     value="#{codeViolationSearchBB.searchParamsSelected.transferred_ctl}"
                                                     style="margin-left: 8px;">
                                <p:ajax update="codeviolation-search-filter-transferred-val" />
                            </p:selectBooleanCheckbox>
                        </div>
                        <div class="p-lg-8 p-md-8 p-sm-12 restrict-data-field-value-inline">
                            <p:outputLabel for="codeviolation-search-filter-transferred-val" 
                                           value="is transferred"/>
                            <p:selectBooleanCheckbox id="codeviolation-search-filter-transferred-val" 
                                                     value="#{codeViolationSearchBB.searchParamsSelected.transferred_val}"
                                                     disabled="#{!codeViolationSearchBB.searchParamsSelected.transferred_ctl}"
                                                     style="margin-left: 8px;"/>
                        </div>
                    </div>
                </f:subview>

                <f:subview id="codeviolationsearch-param-subview-cv8-compliance"
                           rendered="#{codeViolationSearchBB.searchParamsSelected.compliance_ctl or codeViolationSearchBB.querySelected.queryName.showAllControls}">
                    <div class="p-grid">
                        <div class="p-lg-4 p-md-6 p-sm-12 restrict-data-field-label-inline">
                            <p:outputLabel for="codeviolation-search-filter-compliance-ctl" 
                                           value="filter by compliance"/>

                            <p:selectBooleanCheckbox id="codeviolation-search-filter-compliance-ctl" 
                                                     value="#{codeViolationSearchBB.searchParamsSelected.compliance_ctl}"
                                                     style="margin-left: 8px;">
                                <p:ajax update="codeviolation-search-filter-compliance-val" />
                            </p:selectBooleanCheckbox>
                        </div>
                        <div class="p-lg-8 p-md-8 p-sm-12 restrict-data-field-value-inline">
                            <p:outputLabel for="codeviolation-search-filter-compliance-val" 
                                           value="is compliance"/>
                            <p:selectBooleanCheckbox id="codeviolation-search-filter-compliance-val" 
                                                     value="#{codeViolationSearchBB.searchParamsSelected.compliance_val}"
                                                     disabled="#{!codeViolationSearchBB.searchParamsSelected.compliance_ctl}"
                                                     style="margin-left: 8px;"/>
                        </div>
                    </div>
                </f:subview>

                <f:subview id="codeviolationsearch-param-subview-cv9-nullified"
                           rendered="#{codeViolationSearchBB.searchParamsSelected.nullified_ctl or codeViolationSearchBB.querySelected.queryName.showAllControls}">
                    <div class="p-grid">
                        <div class="p-lg-4 p-md-6 p-sm-12 restrict-data-field-label-inline">
                            <p:outputLabel for="codeviolation-search-filter-nullified-ctl" 
                                           value="filter by nullified"/>

                            <p:selectBooleanCheckbox id="codeviolation-search-filter-nullified-ctl" 
                                                     value="#{codeViolationSearchBB.searchParamsSelected.nullified_ctl}"
                                                     style="margin-left: 8px;">
                                <p:ajax update="codeviolation-search-filter-nullified-val" />
                            </p:selectBooleanCheckbox>
                        </div>
                        <div class="p-lg-8 p-md-8 p-sm-12 restrict-data-field-value-inline">
                            <p:outputLabel for="codeviolation-search-filter-nullified-val" 
                                           value="is nullified"/>
                            <p:selectBooleanCheckbox id="codeviolation-search-filter-nullified-val" 
                                                     value="#{codeViolationSearchBB.searchParamsSelected.nullified_val}"
                                                     disabled="#{!codeViolationSearchBB.searchParamsSelected.nullified_ctl}"
                                                     style="margin-left: 8px;"/>
                        </div>
                    </div>
                </f:subview>

                <f:subview id="codeviolationsearch-param-subview-resultcap"
                           rendered="#{codeViolationSearchBB.searchParamsSelected.limitResultCount_ctl or codeViolationSearchBB.querySelected.queryName.showAllControls}">
                    <div class="p-grid">
                        <div class="p-lg-4 p-md-6 p-sm-12 restrict-data-field-label-inline">
                            <p:outputLabel for="codeviolation-query-limit" 
                                           value="limit results"/>
                            <p:selectBooleanCheckbox id="codeviolation-query-limit" 
                                                     value="#{codeViolationSearchBB.searchParamsSelected.limitResultCount_ctl}" 
                                                     style="margin-left: 8px;"/>

                        </div>
                        <div class="p-lg-8 p-md-8 p-sm-12 restrict-data-field-value-inline">

                            <p:inputText id="codeviolation-filter-limit-it"
                                         type="number"
                                         value="#{codeViolationSearchBB.searchParamsSelected.limitResultCount_val}"
                                         disabled="#{!codeViolationSearchBB.searchParamsSelected.limitResultCount_ctl}"/>
                            <h:message for="codeviolation-filter-limit-it" showDetail="false" showSummary="true"
                                       warnClass="msgWarn" infoClass="msgInfo" fatalClass="msgFatal" errorClass="msgError" />
                        </div>
                    </div>
                </f:subview> 

                <f:subview id="codeviolationsearch-param-subview-active"
                           rendered="#{codeViolationSearchBB.searchParamsSelected.active_ctl or codeViolationSearchBB.querySelected.queryName.showAllControls}">
                    <div class="p-grid">
                        <div class="p-lg-4 p-md-6 p-sm-12 restrict-data-field-label-inline">
                            <p:outputLabel for="codeviolation-search-filter-active-ctl" 
                                           value="filter by active"/>


                            <p:selectBooleanCheckbox id="codeviolation-search-filter-active-ctl" 
                                                     value="#{codeViolationSearchBB.searchParamsSelected.active_ctl}"
                                                     style="margin-left: 8px;">
                                <p:ajax update="codeviolation-search-filter-active-val" />
                            </p:selectBooleanCheckbox>



                        </div>
                        <div class="p-lg-8 p-md-8 p-sm-12 restrict-data-field-value-inline">
                            <p:outputLabel for="codeviolation-search-filter-active-val" 
                                           value="is active"/>
                            <p:selectBooleanCheckbox id="codeviolation-search-filter-active-val" 
                                                     value="#{codeViolationSearchBB.searchParamsSelected.active_val}"
                                                     disabled="#{!codeViolationSearchBB.searchParamsSelected.active_ctl}"
                                                     style="margin-left: 8px;">
                            </p:selectBooleanCheckbox>
                        </div>
                    </div>
                </f:subview> 

            </p:panel>
        </h:form>

        <h:form id="codeviolation-list-form">
            <div class="p-grid">
                <div class="p-col-12">
                    <h:outputText   id="codeviolationlist-size-ot"
                                    value="listing #{codeViolationSearchBB.codeViolationList.size()} code violations" />

                    <h:outputText value=" | " />

                    <p:commandLink   id="codeviolation-search-clear-button" 
                                     ajax="true" 
                                     actionListener="#{codeViolationSearchBB.clearCodeViolationList}"
                                     disabled="false"
                                     styleClass="button"
                                     style="font-weight: bold; color:blue;"
                                     value="clear results list" 
                                     update="codeviolation-list-form
                                     codeviolation-growl-form" />
                </div>
            </div>

            <p:spacer height="5px" />

            <p:dataTable
                id="codeviolations-table"
                value="#{codeViolationSearchBB.codeViolationList}"
                rendered="true"
                var="v"
                rowKey="#{v.violationID}"
                tableStyleClass="primeDataTable"
                resizableColumns="true"
                widgetVar="codeviolations-table-var"
                scrollable="true" 
                reflow="true"
                >

                <p:column width="20%" sortBy="#{v.propertyAddress}">
                    <f:facet name="header">
                        <h:outputText value="Parent's Property Address And Case Name" styleClass="wrapText" />
                    </f:facet>
                    <h:outputText value="#{v.propertyAddress}" 
                                  styleClass="bold"/>
                    <p:spacer/>
                    <h:outputText value="#{v.ceCaseName}" styleClass="italic"/>
                </p:column>

                <p:column width="15%" sortBy="#{v.dateOfRecord}">
                    <f:facet name="header">
                        <h:outputText value="Date Of Record" styleClass="wrapText" />
                    </f:facet>
                    <h:outputText value="#{codeViolationSearchBB.getPrettyDate(v.dateOfRecord)}"/>
                </p:column>


                <p:column width="20%" styleClass="wrapText">

                    <f:facet name="header">
                        <h:outputText value="Ordinance" />
                    </f:facet>

                    <h:outputText  value="#{v.violatedEnfElement.headerString}"
                                   escape="false"/>

                </p:column>

                <p:column width="15%" sortBy="#{v.stipulatedComplianceDate}">
                    <f:facet name="header">
                        <h:outputText value="Stipulated Compliance Date" styleClass="wrapText"/>
                    </f:facet>
                    <h:outputText value="#{codeViolationSearchBB.getPrettyDate(v.stipulatedComplianceDate)}"/>

                </p:column>
                <p:column width="15%">
                    <f:facet name="header">
                        <h:outputText value="Actions" />
                    </f:facet>
                    <p:commandLink      id="view-case-cl"
                                        ajax="true"
                                        action="#{codeViolationSearchBB.onViolationViewCeCase(v)}"
                                        style="color:blue;"
                                        rendered="#{systemServicesBB.permissionAllowReadOnly}"
                                        value="view case"
                                        update="codeviolation-growl-form"/>
                    <p:spacer/>
                    <h:outputText value="(ID:#{v.violationID})" />
                </p:column>

            </p:dataTable>
        </h:form>

        <p:dialog   id="codeviolation-search-log-dialog"
                    header="CodeViolation search log" 
                    widgetVar="codeviolation-search-log-dialog-var"
                    responsive="true"
                    closable="true"
                    closeOnEscape="true"
                    width="80%">
            <h:form id="codeviolation-search-log-form">

                <h:outputText id="codeviolation-search-log-ot" 
                              value="#{codeViolationSearchBB.querySelected.queryLog}"
                              escape="false"/>
            </h:form>

        </p:dialog>

    </p:panel>
</ui:composition>