<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:tt="http://xmlns.jcp.org/jsf/composite/components">

    <h:form id="cannedfindings-growl-form">
        <p:growl id="cannedfindings-growl" />
    </h:form>

    <p:dialog id="manage-canned-findings-dialog"
              widgetVar="manage-canned-findings-dialog-var"
              header="Manage canned findings"
              closable="true"
              closeOnEscape="true"
              dynamic="false"
              modal="true"
              height="600px"
              width="1200px"
              resizable="true"
              responsive="true"
              >
        <h2>
            <h:outputText value="Manage canned findings on: #{textBlockBB.currentFindingsHolder.enforceableCodeElement.headerString}"
                          escape="false" />
        </h2>
        <p:spacer height="3px" />

        <div class="p-grid">
            <div class="p-col-6">
                <h:form id="cannedfindings-select-form">
                    <h3>Current canned findings on this ordinance</h3>
                    <div class="p-grid">
                        <div class="p-col-12">
                            <div class="restrict-main-contents-io-button-left">

                                <p:commandButton id="cannedfindings-newcan-cb"
                                                 value="New canned finding"
                                                 disabled="false"
                                                 rendered="true"
                                                 icon="pi pi-plus"
                                                 ajax="true"
                                                 actionListener="#{textBlockBB.onAddNewCannedFinding}"
                                                 update="   canned-findings-edit-form
                                                 @form"
                                                 />

                            </div>

                        </div>
                        <div class="p-col-12">

                            <p:dataTable id="canned-findings-table"
                                         value="#{textBlockBB.currentFindingsHolder.cannedFindingsCandidates}"
                                         var="can"
                                         rowKey="#{can.blockID}"
                                         lazy="true"
                                         tableStyleClass="primeDataTable"
                                         rendered="#{not empty textBlockBB.currentFindingsHolder.cannedFindingsCandidates}">

                                <p:column width="75%"
                                          headerText="Canned finding name">
                                    <h:outputText value="#{can.textBlockName}" />
                                </p:column>
                                <p:column width="25%"
                                          headerText="Actions">

                                    <div class="restrict-main-contents-io-link">
                                        <p:commandLink      id="cannedfinding-viewedit-cl"
                                                            value="view/edit" 
                                                            ajax="true"
                                                            actionListener="#{textBlockBB.onViewEditCannedFinding(can)}"
                                                            rendered="true"
                                                            update="canned-findings-edit-form"
                                                            />

                                        <p:spacer height="3px" />

                                        <p:commandLink      id="cannedfinding-delete-cl"
                                                            value="delete findings" 
                                                            ajax="true"
                                                            actionListener="#{textBlockBB.onDeleteCannedFinding(can)}"
                                                            rendered="true"
                                                            update="@form
                                                                    canned-findings-edit-form
                                                                    :#{textBlockBB.cannedFindingComponentForRefresh}"
                                                            >
                                            <p:confirm type="popup" header="Confirm remove of stored finding?" message="Deleted finding cannot be recovered." icon="pi pi-exclamation-triangle"/>
                                        </p:commandLink>
                                        <p:spacer height="3px" />
                                        <h:outputText value="(ID:#{can.blockID})" />
                                    </div>
                                </p:column>
                            </p:dataTable>
                        </div>
                    </div>
                </h:form>
            </div>
            <div class="p-col-6 nested-grid">
                <h:form id="canned-findings-edit-form">
                    <f:subview id="cannedfinding-editor-subview"
                               rendered="#{not empty textBlockBB.currentFindingsTextBlock}">
                        <h3>Edit canned finding</h3>
                        <div class="p-grid">
                            <div class="p-col-12">
                                <div class="restrict-main-contents-io-button-left">
                                    <p:commandButton id="cannedfindings-addupdate-cb"
                                                     value="#{textBlockBB.currentFindingsTextBlock.blockID eq 0 ? 'Save new findings':'Save edits'}"
                                                     disabled="#{empty textBlockBB.currentFindingsTextBlock}"
                                                     rendered="true"
                                                     icon="pi pi-save"
                                                     ajax="true"
                                                     actionListener="#{textBlockBB.onSaveUpdatesToCannedFinding}"
                                                     update="   cannedfindings-select-form
                                                                @form
                                                                :#{textBlockBB.cannedFindingComponentForRefresh}"
                                                     />
                                </div>
                                <h:outputText value="Current blockID: #{textBlockBB.currentFindingsTextBlock.blockID}" />
                            </div>
                            <div class="p-col-12 restrict-data-field-label-inline">
                                <p:outputLabel value="Canned finding name" 
                                               for="cannedfinding-name-it"
                                               />
                            </div>
                            <div class="p-col-12 restrict-data-field-value">
                                <p:inputText    id="cannedfinding-name-it"
                                                value="#{textBlockBB.currentFindingsTextBlock.textBlockName}" 
                                                rendered="#{not empty textBlockBB.currentFindingsTextBlock}"
                                                style="width: 100%;"/>
                            </div>
                            <div class="p-col-12 restrict-data-field-label-inline">
                                <p:outputLabel value="Canned finding text" 
                                               for="cannedfinding-text-editor"/>
                            </div>
                            <div class="p-col-12 restrict-data-field-value-vertical">
                                <p:textEditor    id="cannedfinding-text-editor"  
                                                 value="#{textBlockBB.currentFindingsTextBlock.textBlockText}"
                                                 required="false"
                                                 secure="false"
                                                 rendered="true"
                                                 height="350px"
                                                 style="width:100%;"
                                                 >
                                    <f:facet name="toolbar">
                                        <span class="ql-formats">
                                            <button class="ql-bold" />
                                            <button class="ql-italic" />
                                            <button class="ql-underline" />
                                            <select class="ql-size" />
                                        </span>
                                        <span class="ql-formats">
                                            <select class="ql-color" />
                                        </span>
                                        <span class="ql-formats">
                                            <button class="ql-list" value="ordered" />
                                            <button class="ql-list" value="bullet" />
                                        </span>
                                        <span class="ql-formats">
                                            <button class="ql-clean" />
                                        </span>
                                    </f:facet>
                                </p:textEditor>
                            </div>
                        </div>
                    </f:subview>
                </h:form>
            </div>
        </div>
    </p:dialog>
</ui:composition>