<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <link rel="stylesheet" type="text/css" href="css/style.css"></link>
        <title>Choose a property</title>
    </h:head>
    <h:body>
        <ui:composition template="./../../navContainer_public.xhtml">
            <ui:define name="content">
                <f:view id="occPermitApplicationFlowView">
                    <h:form id="occPermitApplicationChoosePropertyForm">                          

                        <!-- VALIDATION MESSAGE -->
                        <p:growl id="growl" showDetail="false"/>

                        <!-- MAIN CONTAINER -->
                        <div class="mainContainer">

                            <!-- TITLE COMPONENT -->
                            <div class="public-title">
                                <div class="public-title-main">
                                    Apply for an Occupancy Permit
                                </div>
                                <div class="public-title-sub">
                                    If you would like to apply for an occupancy permit in your municipality, please begin using the process below.
                                </div>
                            </div>

                            <!-- CONTENTS CONTAINER -->
                            <div class="public-main-contents-containner">

                                <!--CONTENT MAIN COMPONENT -->
                                <div class="public-main-contents">

                                    <!-- GUIDANCE COMPONENT -->
                                    <div class="public-guide occpermit">
                                        <p:steps activeIndex="1" styleClass="custom" >
                                            <p:menuitem value="" containerStyleClass="complete"/>
                                            <p:menuitem value="" />
                                            <p:menuitem value="" />
                                            <p:menuitem value="" />
                                            <p:menuitem value="" />
                                            <p:menuitem value="" />
                                            <p:menuitem value="" />
                                        </p:steps>
                                    </div>

                                    <!-- CONTENT IO COMPONENT -->
                                    <div class="public-main-contents-io">

                                        <p:focus/>

                                        <!-- CONTENT IO COMPONENT: INSTRUCTION -->
                                        <div class="public-main-contents-io-title" >
                                            2. Select a property in <h:outputText value="#{occPermitApplicationBB.selectedMuni.muniName}"/>
                                        </div>

                                        <!-- CONTENT IO COMPONENT: CONTENT -->
                                        <div class="public-main-contents-io-content" >

                                            <p>
                                                Enter the address number and the street name below(omit street type, such as RD, ST, LN, etc.). Click "search". In the list that appears, click to select the desired property.
                                            </p>

                                            <!-- DATA CONTAINER -->
                                            <div class="ui-g data-container">

                                                <div class="ui-g-12 ui-md-12 ui-lg-5">
                                                    <p:inputText id="propSearchHouseNumIT" 
                                                                 value="#{occPermitApplicationBB.houseNum}" 
                                                                 tabindex="1" 
                                                                 required="false"
                                                                 styleClass="data_field_value"
                                                                 placeholder="House Number"
                                                                 />
                                                </div>
                                                <div class="ui-g-12 ui-md-12 ui-lg-5">
                                                    <p:inputText id="propSearchStreetIT" 
                                                                 value="#{occPermitApplicationBB.streetName}" 
                                                                 tabindex="2" 
                                                                 required="false" 
                                                                 styleClass="data_field_value"
                                                                 placeholder="Street Name"
                                                                 />
                                                </div>
                                                <div class="ui-g-12 ui-md-12 ui-lg-2">
                                                    <div class="gray_button">
                                                        <p:commandButton value="Search" 
                                                                         tabindex="3" ajax="false" 
                                                                         icon="fa fa-search"
                                                                         action="#{occPermitApplicationBB.searchForPropertiesSingleMuni}" 
                                                                         update="propSearchHouseNumIT
                                                                         propSearchStreetIT
                                                                         propertyResultTable"
                                                                         style="float: right"
                                                                         />
                                                    </div>
                                                </div>
                                            </div>

                                            <!-- DATA CONTAINER -->
                                            <div class="ui-g data-container">

                                                <div class="ui-g-12 ui-md-12 ui-lg-12">
                                                    <p:dataTable id="propertyResultTable"
                                                                 var="prop" 
                                                                 value="#{occPermitApplicationBB.propList}"
                                                                 rendered="#{!empty occPermitApplicationBB.propList}"
                                                                 selectionMode="single" 
                                                                 scrollable="true" 
                                                                 scrollHeight="120" 
                                                                 selection="#{occPermitApplicationBB.selectedProperty}"
                                                                 rowKey="#{prop.bundledProperty.propertyID}"
                                                                 tabindex="4"
                                                                 tableStyleClass="primeDataTable">

                                                        <p:column>
                                                            <f:facet name="header">
                                                                <h:outputText value="Mailing Address" />
                                                            </f:facet>
                                                            <h:outputText value="#{prop.bundledProperty.address}"/>
                                                        </p:column>


                                                        <p:column>
                                                            <f:facet name="header">
                                                                <h:outputText value="Type" />
                                                            </f:facet>
                                                            <h:outputText value="#{prop.bundledProperty.useType.name}"/>
                                                        </p:column>

                                                    </p:dataTable>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- CONTENT BUTTON -->
                                    <div class="public-main-contents-button-left">
                                        <div class="gray_button">
                                            <p:commandButton id="goBack"
                                                             tabindex="6"
                                                             value="Go Back" styleClass="buttonOwnLine"
                                                             action="#{occPermitApplicationBB.goBack()}">
                                                <p:confirm header="Are you sure?" 
                                                           message="Going back could cause your changes to this page to be lost. Continue?" 
                                                           icon="pi pi-exclamation-triangle"/>
                                            </p:commandButton>
                                        </div>
                                    </div>

                                    <!-- CONTENT BUTTON -->
                                    <div class="public-main-contents-button-right">
                                        <p:commandButton ajax="false"
                                                         tabindex="5"
                                                         value="Next step: Configure Unit List" 
                                                         action="#{occPermitApplicationBB.selectProperty}" 
                                                         style="width: 100%"/>

                                    </div>
                                </div>
                            </div>
                        </div>

                        <p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
                            <p:commandButton value="Yes" styleClass="ui-confirmdialog-yes" icon="pi pi-check"/>
                            <p:commandButton value="No" styleClass="ui-confirmdialog-no" icon="pi pi-times"/>
                        </p:confirmDialog>

                    </h:form>
                    <script>
                        var y = document.getElementById('public-applyoccpermit-arrow-id');
                        y.className += " public-menu-active";
                    </script> 
                </f:view>
            </ui:define>
        </ui:composition>
    </h:body>
</html>