<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <h:outputStylesheet name="css/style.css"/>
        <title>Review And Submit</title>
    </h:head>
    <h:body>
        <ui:composition template="./../../navContainer_public.xhtml">
            <ui:define name="content">
                <f:view id="sysHomeView">
                    <h:form id="reviewAndSubmitForm">

                        <!-- VALIDATION MESSAGE -->
                        <p:growl id="growl" showDetail="false"/>

                        <!-- MAIN CONTAINER -->
                        <div class="mainContainer">

                            <!-- TITLE COMPONENT -->
                            <div class="public-title">
                                <div class="public-title-main">
                                    Apply for an Occupancy Permit
                                </div>
                                <div class="public-title-sub">
                                    If you would like to apply for an occupancy permit in your municipality, please begin using the process below.
                                </div>
                            </div>

                            <!-- CONTENTS CONTAINER -->
                            <div class="public-main-contents-containner">

                                <!--CONTENT MAIN COMPONENT -->
                                <div class="public-main-contents">

                                    <!-- GUIDANCE COMPONENT -->
                                    <div class="public-guide occpermit">
                                        <p:steps activeIndex="6" styleClass="custom" >
                                            <p:menuitem value="" containerStyleClass="complete"/>
                                            <p:menuitem value="" containerStyleClass="complete"/>
                                            <p:menuitem value="" containerStyleClass="complete"/>
                                            <p:menuitem value="" containerStyleClass="complete"/>
                                            <p:menuitem value="" containerStyleClass="complete"/>
                                            <p:menuitem value="" containerStyleClass="complete"/>
                                            <p:menuitem value="" />
                                        </p:steps>
                                    </div>

                                    <!-- CONTENT IO COMPONENT -->
                                    <div class="public-main-contents-io">

                                        <!-- CONTENT IO COMPONENT: INSTRUCTION -->
                                        <div class="public-main-contents-io-title" >
                                            7. Review and Submit
                                        </div>

                                        <!-- CONTENT IO COMPONENT: CONTENT -->
                                        <div class="public-main-contents-io-content" >

                                            <!-- DATA CONTAINER -->
                                            <div class="ui-g data-container">

                                                <div class="ui-g-12 ui-md-12 ui-lg-6">
                                                    <h:outputLabel styleClass="data_field_label" 
                                                                   value="Reason for application:"
                                                                   />
                                                    <p:outputLabel styleClass="data_field_value"
                                                                   value="#{occPermitApplicationBB.currentApplication.reason.title}" 
                                                                   />
                                                </div>

                                                <div class="ui-g-12 ui-md-12 ui-lg-6 ">
                                                    <h:outputLabel styleClass="data_field_label" 
                                                                   value="Property Address:"
                                                                   />
                                                    <p:outputLabel styleClass="data_field_value"
                                                                   value="#{occPermitApplicationBB.selectedProperty.bundledProperty.address}" 
                                                                   />
                                                </div>

                                                <div class="ui-g-12 ui-md-12 ui-lg-6">
                                                    <h:outputLabel styleClass="data_field_label" 
                                                                   value="Property Unit:"
                                                                   />
                                                    <p:outputLabel styleClass="data_field_value"
                                                                   value="#{occPermitApplicationBB.selectedUnit.bundledUnit.unitNumber} (#{occPermitApplicationBB.selectedUnit.bundledUnit.notes})" 
                                                                   />
                                                </div>

                                                <div class="ui-g-12 ui-md-12 ui-lg-6">
                                                    <h:outputLabel styleClass="data_field_label" 
                                                                   value="Applicant:"
                                                                   />
                                                    <p:outputLabel styleClass="data_field_value"
                                                                   value="#{occPermitApplicationBB.applicant.bundledPerson.firstName} #{occPermitApplicationBB.applicant.bundledPerson.lastName}" 
                                                                   />
                                                </div>

                                                <div class="ui-g-12 ui-md-12 ui-lg-12 ">
                                                    <h:outputLabel styleClass="data_field_label"
                                                                   value="Note:" 
                                                                   />
                                                    <p:outputLabel styleClass="data_field_value"
                                                                   value="#{occPermitApplicationBB.currentApplication.submissionNotes}"
                                                                   />
                                                </div>

                                                <div class="ui-g-12 ui-md-12 ui-lg-12">
                                                    <h:outputLabel styleClass="data_field_label"
                                                                   value="Application Persons:" 
                                                                   />
                                                    <p:dataTable var="applicationPerson" 
                                                                 value="#{occPermitApplicationBB.attachedPersons}"
                                                                 rendered="#{!empty occPermitApplicationBB.attachedPersons}"
                                                                 rowKey="#{applicationPerson.bundledPerson.personID}"
                                                                 tableStyleClass="primeDataTable"
                                                                 >

                                                        <p:column headerText="Name">
                                                            <h:outputText value="#{applicationPerson.bundledPerson.firstName} #{applicationPerson.bundledPerson.lastName}"/>
                                                        </p:column>

                                                        <p:column headerText="Person Type">
                                                            <h:outputText value="#{applicationPerson.bundledPerson.personType}"/>
                                                        </p:column>
                                                    </p:dataTable>
                                                </div>

                                            </div>
                                        </div>
                                    </div>

                                    <!-- CONTENT BUTTON -->
                                    <div class="public-main-contents-button-left">
                                        <div class="gray_button">
                                            <p:commandButton id="goBack" ajax="false"
                                                             process="@none" immediate="true" tabindex="3"
                                                             value="Go Back" styleClass="buttonOwnLine"
                                                             action="#{occPermitApplicationBB.goBack()}"/>
                                        </div>
                                    </div>


                                    <div class="public-main-contents-button-right" >
                                        <p:commandButton ajax="false"
                                                         value="Submit Application" 
                                                         action="#{occPermitApplicationBB.submitApplication('occAppSuccess')}"
                                                         styleClass="buttonOwnLine"
                                                         style="width: 100%;"
                                                         tabindex="1"
                                                         />
                                    </div>

                                    <div class="public-main-contents-button-right" >
                                        <div class="gray_button">
                                            <p:commandButton ajax="false" 
                                                             value="Submit Application and Return to Unit List" 
                                                             styleClass="buttonOwnLine"
                                                             action="#{occPermitApplicationBB.submitApplication('selectForApply')}"
                                                             style="width: 100%;"
                                                             tabindex="2"
                                                             />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </h:form>
                    <script>
                        var y = document.getElementById('public-applyoccpermit-arrow-id');
                        y.className += " public-menu-active";
                    </script> 
                </f:view>
            </ui:define>
        </ui:composition>
    </h:body>
</html>

