<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <link rel="stylesheet" type="text/css" href="css/style.css"></link>
        <title>Select Units For Application</title>
    </h:head>
    <h:body>
        <ui:composition template="./../../navContainer_public.xhtml">
            <ui:define name="content">
                <f:view id="occPermitApplicationFlowView">
                    <h:form id="occPermitSelectForApplyForm">

                        <!-- VALIDATION MESSAGE -->
                        <p:growl id="growl" showDetail="false"/>

                        <!-- MAIN CONTAINER -->
                        <div class="mainContainer">

                            <!-- TITLE COMPONENT -->
                            <div class="public-title">
                                <div class="public-title-main">
                                    Apply for an Occupancy Permit
                                </div>
                                <div class="public-title-sub">
                                    If you would like to apply for an occupancy permit in your municipality, please begin using the process below.
                                </div>
                            </div>

                            <!-- CONTENTS CONTAINER -->
                            <div class="public-main-contents-containner">

                                <!--CONTENT MAIN COMPONENT -->
                                <div class="public-main-contents">

                                    <!-- GUIDANCE COMPONENT -->
                                    <div class="public-guide occpermit">
                                        <p:steps activeIndex="3" styleClass="custom" >
                                            <p:menuitem value="" containerStyleClass="complete"/>
                                            <p:menuitem value="" containerStyleClass="complete"/>
                                            <p:menuitem value="" containerStyleClass="complete"/>
                                            <p:menuitem value="" />
                                            <p:menuitem value="" />
                                            <p:menuitem value="" />
                                            <p:menuitem value="" />
                                        </p:steps>
                                    </div>

                                    <!-- CONTENT IO COMPONENT -->
                                    <div class="public-main-contents-io">

                                        <!-- CONTENT IO COMPONENT: INSTRUCTION -->
                                        <div class="public-main-contents-io-title" >
                                            4. Select units for application
                                        </div>

                                        <!-- CONTENT IO COMPONENT: CONTENT -->
                                        <div class="public-main-contents-io-content" >

                                            <p>
                                                Select the units for which you would like to apply for occupancy.
                                                You can only apply for one unit at a time, however upon completion
                                                of each application you may return to this page and add additional occupancy requests.
                                            </p>

                                            <p:dataTable id="propertyUnitsToAddTable"
                                                         value="#{occPermitApplicationBB.workingPropUnits}"
                                                         rendered="#{!empty occPermitApplicationBB.workingPropUnits}"
                                                         var="unit"
                                                         tabindex="1"
                                                         rowKey="#{unit.bundledUnit.unitID}"
                                                         tableStyleClass="primeDataTable"
                                                         >                                         

                                                <p:column headerText="Unit Number">
                                                    <h:outputText value="#{unit.bundledUnit.unitNumber}" />
                                                </p:column>

                                                <p:column headerText="Rental Notes:">
                                                    <h:outputText value="#{unit.bundledUnit.rentalNotes}" />
                                                </p:column>

                                                <p:column headerText="Unit Description">
                                                    <h:outputText value="#{unit.bundledUnit.notes}" />
                                                </p:column>

                                                <p:column style="text-align: center">
                                                    <p:commandButton ajax="false" 
                                                                     value="Apply for Occupancy" 
                                                                     tabindex="1"
                                                                     action="#{occPermitApplicationBB.selectPropertyUnit(unit)}"
                                                                     rendered="#{!occPermitApplicationBB.alreadyAppliedFor(unit.bundledUnit.unitNumber)}"/>
                                                    <p:commandButton disabled="true" 
                                                                     value="Already Applied" 
                                                                     tabindex="1"
                                                                     rendered="#{occPermitApplicationBB.alreadyAppliedFor(unit.bundledUnit.unitNumber)}"/>
                                                    
                                                </p:column>

                                            </p:dataTable>
                                        </div>
                                    </div>

                                    <!-- CONTENT BUTTON -->
                                    <div class="public-main-contents-button-left">
                                        <div class="gray_button">
                                            <p:commandButton id="goBack"
                                                             tabindex="2"
                                                             value="Go Back" styleClass="buttonOwnLine"
                                                             action="#{occPermitApplicationBB.goBack()}">
                                                <p:confirm header="Are you sure?" 
                                                           message="Going back could cause your changes to this page to be lost. Continue?" 
                                                           icon="pi pi-exclamation-triangle"/>
                                            </p:commandButton>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        
                        <p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
                            <p:commandButton value="Yes" styleClass="ui-confirmdialog-yes" icon="pi pi-check"/>
                            <p:commandButton value="No" styleClass="ui-confirmdialog-no" icon="pi pi-times"/>
                        </p:confirmDialog>
                        
                    </h:form>
                    <script>
                        var y = document.getElementById('public-applyoccpermit-arrow-id');
                        y.className += " public-menu-active";
                    </script> 
                </f:view>
            </ui:define>
        </ui:composition>
    </h:body>
</html>