<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:p="http://primefaces.org/ui">

    <p:panel    id="dash-event-search-panel"
                toggleable="true"
                style="width: 100%;"
                widgetVar="event-serach-panel-var"
                collapsed="false"
                rendered="true"
                header="Events in #{sessionBean.sessMuni.muniName}" >


        <h:form id="form-messages-global">
            <p:growl id="events-messages-growl"
                     />
        </h:form>

        <p:ajaxStatus onstart="PF('event-status-dialog').show()" 
                      onsuccess="PF('event-status-dialog').hide()"
                      delay="500" />

        <p:dialog widgetVar="event-status-dialog" 
                  modal="true"
                  height="250px"
                  width="350px"
                  draggable="false" 
                  closable="false" 
                  resizable="false" 
                  showHeader="false">
            <div class="p-text-center">
                <h:outputText value="Stand by: loading...loading" />
                <p:spacer height="3px" />
                <img src="https://upload.wikimedia.org/wikipedia/commons/2/27/Skid_Loader_anim.gif"
                     alt="loading" 
                     width="150px"
                     style="margin-left:auto; margin-right:auto;"/>
                <p style="font-size: 0.7em;">Pasimi, CC BY-SA 4.0 https://creativecommons.org/licenses/by-sa/4.0, via Wikimedia Commons</p>
            </div>
        </p:dialog>

        <h:form id="event-search-form">
            <div class="p-grid">
                <div class="p-col-12" >
                    <h:outputText value="Select a query:" 
                                  style="font-weight: bold;"/>
                    <p:spacer height="3px" />
                    <div class="restrict-data-field-value-inline" >

                        <p:selectOneMenu id="eventquery-som" 
                                         tabindex="1" 
                                         value="#{sessionEventConductor.querySelected}"
                                         disabled="#{!empty sessionEventConductor.querySelected.executionTimestamp}">
                            <f:converter converterId="bOBQueryConverter"/>
                            <f:selectItem itemLabel="select a query..." 
                                          noSelectionOption="true" 
                                          itemDisabled="true"/>
                            <f:selectItems id="querylist-si" value="#{sessionEventConductor.queryList}" var="ql" itemValue="#{ql}" itemLabel="#{ql.queryTitle}" />
                            <p:ajax listener="#{sessionEventConductor.changeQuerySelected}"
                                    update="
                                    form-messages-global
                                    eventsearch-params-form"/>
                        </p:selectOneMenu>
                    </div>
                    <p:spacer height="5px" />

                    <h:outputLabel styleClass="bold" 
                                   value="Description: "  />

                    <h:outputText id="event-query-desc-ot" 
                                  value="#{sessionEventConductor.querySelected.queryName.desc}" />
                </div>
            </div>
        </h:form>

        <h:form id="eventsearch-params-form">
            <div class="p-grid">
                <div class="p-col-12">
                    <p:commandButton    id="execute-selected-query-top" 
                                        ajax="true"
                                        value="Search" 
                                        actionListener="#{sessionEventConductor.executeQuery}"
                                        disabled="#{!empty sessionEventConductor.querySelected.executionTimestamp}"
                                        icon="pi pi-search"
                                        update="event-list-form
                                        event-list-form:events-table
                                        @form
                                        event-search-form
                                        form-messages-global
                                        event-search-log-form"/>

                    <p:commandLink   id="event-search-clear-cb" 
                                     ajax="true" 
                                     actionListener="#{sessionEventConductor.resetQuery}"
                                     styleClass="button inline-button"
                                     style="font-weight: bold; color: blue; margin-left: 5px;"
                                     value="reset query" 
                                     disabled="#{empty sessionEventConductor.querySelected.executionTimestamp}"
                                     update="form-messages-global
                                     @form
                                     event-list-form
                                     event-list-form:events-table
                                     event-search-form
                                     eventsearch-params-form
                                     event-search-log-form"/>
                    <h:outputText value=" | " />

                    <p:outputLabel for="event-search-appendresults-chkbox"
                                   style="margin-left: 5px;">
                        <h:outputText value="Append results to list? "/>
                    </p:outputLabel>
                    <p:selectBooleanCheckbox   id="event-search-appendresults-chkbox" 
                                               value="#{sessionEventConductor.appendResultsToList}" 
                                               style="margin-left: 5px;">
                        <p:ajax />
                    </p:selectBooleanCheckbox>
                </div>
                <div class="p-lg-4 p-md-6 p-sm-12">
                    <div class="restrict-main-contents-io-link">
                        <p:commandLink   id="event-log-view-cl" 
                                         ajax="true" 
                                         actionListener="#{sessionEventConductor.onViewEventLogLinkClick}"
                                         styleClass="button inline-button"
                                         value="view search log" 
                                         oncomplete="PF('event-search-log-dialog-var').show();"
                                         disabled="#{empty sessionEventConductor.querySelected.executionTimestamp}"
                                         update="event-search-log-dialog"/>
                    </div>
                </div>
            </div>

            <p:spacer height="5px" />

            <p:panel id="event-search-controls-panel"
                     collapsed="true"
                     toggleable="true"
                     header="Advanced search"
                     styleClass="advanced-search"
                     >
                <f:subview id="eventsearch-param-subview-muni"
                           rendered="#{(sessionEventConductor.searchParamsSelected.muni_ctl or sessionEventConductor.querySelected.queryName.showAllControls) and systemServicesBB.bbSessionUser.keyCard.hasSysAdminPermissions}">

                    <div class="p-grid">
                        <div class="p-lg-4 p-md-6 p-sm-12 restrict-data-field-label-inline">
                            <p:outputLabel id="event-filter-muni-ol" 
                                           for="seev-filter-muni-chkbx" 
                                           value="filter by municipality "/>
                            <p:selectBooleanCheckbox id="seev-filter-muni-chkbx" 
                                                     value="#{sessionEventConductor.searchParamsSelected.muni_ctl}" 
                                                     style="margin-left: 8px;">
                                <p:ajax update="event-search-muni-som"/>
                            </p:selectBooleanCheckbox>
                        </div>
                        <div class="p-col-8 p-lg-8 p-md-8 p-sm-12 restrict-data-field-value-inline">
                            <p:selectOneMenu id="event-search-muni-som" tabindex="1" value="#{sessionEventConductor.searchParamsSelected.muni_val}"
                                             disabled="#{!sessionEventConductor.searchParamsSelected.muni_ctl}">
                                <f:converter converterId="muniConverter"/>
                                <f:selectItem itemLabel="select municipality..." noSelectionOption="true" itemDisabled="true"/>
                                <f:selectItems id="muniNameList" value="#{systemServicesBB.municipalityListForSearch}" var="m" itemValue="#{m}" itemLabel="#{m.muniName}" />
                            </p:selectOneMenu>
                        </div>
                    </div>
                </f:subview>

                <f:subview id="eventsearch-param-subview-dates"
                           rendered="#{sessionEventConductor.searchParamsSelected.date_startEnd_ctl or sessionEventConductor.querySelected.queryName.showAllControls}">
                    <div class="p-grid">
                        <div class="p-lg-4 p-md-6 p-sm-12 restrict-data-field-label-inline">
                            <p:outputLabel id="event-search-startend-chkbx-ol" 
                                           for="event-search-startend-chkbx" 
                                           value="filter by date range "/>

                            <p:selectBooleanCheckbox id="event-search-startend-chkbx" 
                                                     value="#{sessionEventConductor.searchParamsSelected.date_startEnd_ctl}" 
                                                     style="margin-left: 8px;">
                                <p:ajax update="event-search-date-field-val
                                        event-search-date-start-val
                                        event-search-date-end-val
                                        event-search-date-relative-ctl" />
                            </p:selectBooleanCheckbox>

                        </div>
                        <div class="p-lg-8 p-md-8 p-sm-12 nested-grid restrict-data-field-value-inline">
                            <div class="p-grid">
                                <div class="p-col-12">
                                </div>

                                <div class="p-col-12">
                                    <p:selectOneMenu  id="event-search-date-field-val" 
                                                      tabindex="1" 
                                                      value="#{sessionEventConductor.searchParamsSelected.date_field}"
                                                      disabled="#{!sessionEventConductor.searchParamsSelected.date_startEnd_ctl}"
                                                      converter="dateFieldConverter">
                                        <f:selectItem itemLabel="select a date field..." 
                                                      noSelectionOption="true" 
                                                      itemDisabled="true"/>
                                        <f:selectItems id="event-search-date-field-val-items" 
                                                       value="#{sessionEventConductor.searchParamsSelected.dateFieldList}" 
                                                       var="f" itemValue="#{f}" itemLabel="#{f.title}" />
                                    </p:selectOneMenu>
                                </div>
                                <div class="p-col-12 restrict-data-field-label-vertical">

                                    <p:outputLabel for="event-search-date-start-val" 
                                                   value="start date"/>
                                </div>
                                <div class="p-col-12 restrict-data-field-value-vertical">

                                    <p:datePicker 	id="event-search-date-start-val" 
                                                   value="#{sessionEventConductor.searchParamsSelected.date_start_val}" 
                                                   disabled="#{(!sessionEventConductor.searchParamsSelected.date_startEnd_ctl) or sessionEventConductor.searchParamsSelected.date_relativeDates_ctl}"
                                                   rendered="true"
                                                   style="width: 100%;"
                                                   pattern="MM/dd/yyyy HH:mm"
                                                   hideOnDateTimeSelect="true"
                                                   showOnFocus="false"
                                                   showIcon="true"
                                                   showButtonBar="true"
                                                   mask="true"
                                                   timeInput="true" 
                                                   required="true" />
                                </div>

                                <div class="p-col-12 restrict-data-field-label-vertical">
                                    <p:outputLabel for="event-search-date-end-val" 
                                                   value="end date"/>
                                </div>
                                <div class="p-col-12 restrict-data-field-value-vertical">

                                    <p:datePicker id="event-search-date-end-val" 
                                                  value="#{sessionEventConductor.searchParamsSelected.date_end_val}" 
                                                  disabled="#{(!sessionEventConductor.searchParamsSelected.date_startEnd_ctl) or sessionEventConductor.searchParamsSelected.date_relativeDates_ctl}"
                                                  rendered="true"
                                                  style="width: 100%;"
                                                  pattern="MM/dd/yyyy HH:mm"
                                                  hideOnDateTimeSelect="true"
                                                  showOnFocus="false"
                                                  showIcon="true"
                                                  showButtonBar="true"
                                                  mask="true"
                                                  timeInput="true" 
                                                  required="true" />
                                </div>

                                <div class="p-col-12 restrict-data-field-label-vertical">

                                    <p:outputLabel for="event-search-date-relative-ctl" 
                                                   value="Relative dates"
                                                   styleClass="datum-label"/>

                                    <p:selectBooleanCheckbox id="event-search-date-relative-ctl" 
                                                             value="#{sessionEventConductor.searchParamsSelected.date_relativeDates_ctl}" 
                                                             disabled="#{!sessionEventConductor.searchParamsSelected.date_startEnd_ctl}" 
                                                             style="margin-left: 8px;">
                                        <p:ajax update="event-search-date-end-val
                                                event-search-date-start-val
                                                event-search-date-end-val
                                                event-search-date-relative-start-val
                                                event-search-date-relative-end-val" />
                                    </p:selectBooleanCheckbox>
                                </div>

                                <div class="p-col-12 restrict-data-field-label-vertical">
                                    <p:outputLabel for="event-search-date-relative-start-val" 
                                                   value="start date # days from today (negative values count into past)"/>
                                </div>
                                <div class="p-col-12 restrict-data-field-value-vertical">
                                    <p:inputText id="event-search-date-relative-start-val" 
                                                 value="#{sessionEventConductor.searchParamsSelected.date_relativeDates_start_val}" 
                                                 disabled="#{!(sessionEventConductor.searchParamsSelected.date_startEnd_ctl and sessionEventConductor.searchParamsSelected.date_relativeDates_ctl)}" />
                                    <h:message for="event-search-date-relative-start-val" showDetail="false" showSummary="true" 
                                               warnClass="msgWarn" infoClass="msgInfo" fatalClass="msgFatal" errorClass="msgError" />
                                </div>

                                <div class="p-col-12 restrict-data-field-label-vertical">
                                    <p:outputLabel for="event-search-date-relative-end-val" 
                                                   value="end date # days from today (negative values count into past)"/>
                                </div>
                                <div class="p-col-12 restrict-data-field-value-vertical">
                                    <p:inputText id="event-search-date-relative-end-val" 
                                                 value="#{sessionEventConductor.searchParamsSelected.date_realtiveDates_end_val}" 
                                                 disabled="#{!(sessionEventConductor.searchParamsSelected.date_startEnd_ctl and sessionEventConductor.searchParamsSelected.date_relativeDates_ctl)}" />
                                    <h:message for="event-search-date-relative-end-val" showDetail="false" showSummary="true" 
                                               warnClass="msgWarn" infoClass="msgInfo" fatalClass="msgFatal" errorClass="msgError" />
                                </div>
                            </div>
                        </div>
                    </div>
                </f:subview>        

                <f:subview id="eventsearch-param-subview-user"
                           rendered="#{sessionEventConductor.searchParamsSelected.user_ctl or sessionEventConductor.querySelected.queryName.showAllControls}">
                    <div class="p-grid">
                        <div class="p-lg-4 p-md-6 p-sm-12 restrict-data-field-label-inline">
                            <p:outputLabel for="event-search-filter-user-ctl" 
                                           value="User filter"/>

                            <p:selectBooleanCheckbox id="event-search-filter-user-ctl" 
                                                     value="#{sessionEventConductor.searchParamsSelected.user_ctl}"
                                                     disabled="#{!(sessionEventConductor.searchParamsSelected.user_rtMin.rank lt systemServicesBB.bbSessionUser.keyCard.governingAuthPeriod.role.rank)}"
                                                     style="margin-left: 8px;">
                                <p:ajax update="event-search-filter-user-som
                                        event-search-user-field-val" />
                            </p:selectBooleanCheckbox>

                        </div>
                        <div class="p-lg-8 p-md-8 p-sm-12 restrict-data-field-value-inline">

                            <p:selectOneMenu  id="event-search-user-field-val" 
                                              tabindex="1" 
                                              value="#{sessionEventConductor.searchParamsSelected.user_field}"
                                              disabled="#{!sessionEventConductor.searchParamsSelected.user_ctl}">
                                <f:selectItem itemLabel="select a user field..." 
                                              noSelectionOption="true" 
                                              itemDisabled="true"/>
                                <f:selectItems id="event-search-user-field-val-items" 
                                               value="#{sessionEventConductor.searchParamsSelected.userFieldList}" 
                                               var="uf" itemValue="#{uf}" itemLabel="#{uf.title}" />
                            </p:selectOneMenu>
                            <p:selectOneMenu id="event-search-filter-user-som" required="false" 
                                             value="#{sessionEventConductor.searchParamsSelected.user_val}"
                                             disabled="#{!sessionEventConductor.searchParamsSelected.user_ctl}">
                                <f:selectItem itemLabel="select a user..." noSelectionOption="true" />
                                <f:selectItems value="#{systemServicesBB.userListForSearch}"  var="u" itemValue="#{u}" 
                                               itemLabel="#{u.human.name} (username:#{u.username})"/>
                                <f:converter converterId="userConverter"/>
                            </p:selectOneMenu>
                        </div>
                    </div>
                </f:subview>        

                <f:subview id="eventsearch-param-subview-id"
                           rendered="#{sessionEventConductor.searchParamsSelected.bobID_ctl or sessionEventConductor.querySelected.queryName.showAllControls}">
                    <div class="p-grid">
                        <div class="p-lg-4 p-md-6 p-sm-12 restrict-data-field-label-inline">
                            <p:outputLabel for="event-search-filter-id-ctl" 
                                           value="filter by event id"/>

                            <p:selectBooleanCheckbox id="event-search-filter-id-ctl" 
                                                     value="#{sessionEventConductor.searchParamsSelected.bobID_ctl}"
                                                     style="margin-left: 8px;">
                                <p:ajax update="event-search-filter-id-val" />
                            </p:selectBooleanCheckbox>

                        </div>
                        <div class="p-lg-8 p-md-8 p-sm-12 restrict-data-field-value-inline">
                            <p:inputText id="event-search-filter-id-val"
                                         type="number"
                                         value="#{sessionEventConductor.searchParamsSelected.bobID_val}"
                                         disabled="#{!sessionEventConductor.searchParamsSelected.bobID_ctl}"/>
                        </div>
                    </div>
                </f:subview>        

                <f:subview id="eventsearch-param-subview-resultcap"
                           rendered="#{sessionEventConductor.searchParamsSelected.limitResultCount_ctl or sessionEventConductor.querySelected.queryName.showAllControls}">
                    <div class="p-grid">
                        <div class="p-lg-4 p-md-6 p-sm-12 restrict-data-field-label-inline">
                            <p:outputLabel id="event-query-limit-ol" 
                                           for="event-query-limit" 
                                           value="limit results"/>
                            <p:selectBooleanCheckbox id="event-query-limit" 
                                                     value="#{sessionEventConductor.searchParamsSelected.limitResultCount_ctl}" 
                                                     style="margin-left: 8px;"/>

                        </div>
                        <div class="p-lg-8 p-md-8 p-sm-12 restrict-data-field-value-inline">

                            <p:inputText id="event-filter-limit-it"
                                         type="number"
                                         value="#{sessionEventConductor.searchParamsSelected.limitResultCount_val}"
                                         disabled="#{!sessionEventConductor.searchParamsSelected.limitResultCount_ctl}"/>
                            <h:message for="event-filter-limit-it" showDetail="false" showSummary="true"
                                       warnClass="msgWarn" infoClass="msgInfo" fatalClass="msgFatal" errorClass="msgError" />
                        </div>
                    </div>
                </f:subview>        

                <f:subview id="eventsearch-param-subview-active"
                           rendered="#{sessionEventConductor.searchParamsSelected.active_ctl or sessionEventConductor.querySelected.queryName.showAllControls}">
                    <div class="p-grid">
                        <div class="p-lg-4 p-md-6 p-sm-12 restrict-data-field-label-inline">
                            <p:outputLabel for="event-search-filter-active-ctl" 
                                           value="filter by active"/>


                            <p:selectBooleanCheckbox id="event-search-filter-active-ctl" 
                                                     value="#{sessionEventConductor.searchParamsSelected.active_ctl}"
                                                     style="margin-left: 8px;">
                                <p:ajax update="event-search-filter-active-val" />
                            </p:selectBooleanCheckbox>



                        </div>
                        <div class="p-lg-8 p-md-8 p-sm-12 restrict-data-field-value-inline">
                            <p:outputLabel for="event-search-filter-active-val" 
                                           value="is active"/>
                            <p:selectBooleanCheckbox id="event-search-filter-active-val" 
                                                     value="#{sessionEventConductor.searchParamsSelected.active_val}"
                                                     disabled="#{!sessionEventConductor.searchParamsSelected.active_ctl}"
                                                     style="margin-left: 8px;">
                            </p:selectBooleanCheckbox>
                        </div>
                    </div>
                </f:subview>        

                <f:subview id="eventsearch-param-subview-ev1-eventcat"
                           rendered="#{sessionEventConductor.searchParamsSelected.eventCat_ctl or sessionEventConductor.querySelected.queryName.showAllControls}">
                    <div class="p-grid">
                        <div class="p-lg-4 p-md-6 p-sm-12 restrict-data-field-label-inline">

                            <p:outputLabel id="ceev-filter-cat-ol" for="ceev-filter-cat" value="filter by event category "/>

                            <p:selectBooleanCheckbox id="ceev-filter-cat" 
                                                     value="#{sessionEventConductor.searchParamsSelected.eventCat_ctl}"
                                                     style="margin-left: 8px;">
                                <p:ajax update="ceev-criteria-cat" />
                            </p:selectBooleanCheckbox>

                        </div>
                        <div class="p-lg-8 p-md-8 p-sm-12 restrict-data-field-value-inline">
                            <h:outputLabel for="ceev-criteria-cat" id="ceev-criteria-cat-ol">
                                <h:outputText value="Event Categories system wide"/>
                            </h:outputLabel>
                            <p:spacer height="3px" />

                            <p:selectOneMenu id="ceev-criteria-cat" style="width: 300px;" 
                                             value="#{sessionEventConductor.searchParamsSelected.eventCat_val}" tabindex="10"
                                             disabled="#{!sessionEventConductor.searchParamsSelected.eventCat_ctl}">
                                <f:selectItem itemLabel="select an event category..." noSelectionOption="true" />
                                <f:converter converterId="eventCategoryConverter"/>
                                <f:selectItems  id="catItemsList" value="#{sessionEventConductor.eventCategoryList}" 
                                                var="ec" 
                                                itemValue="#{ec}" 
                                                itemLabel="#{ec.eventCategoryTitle} (ID:#{ec.categoryID}; Type:#{ec.eventType.label})"/>
                            </p:selectOneMenu>
                            <h:message for="ceev-criteria-cat" showDetail="false" showSummary="true"  
                                       warnClass="msgWarn" infoClass="msgInfo" fatalClass="msgFatal" errorClass="msgError" />
                        </div>
                    </div>
                </f:subview>        

                <f:subview id="eventsearch-param-subview-ev2-eventtype"
                           rendered="#{sessionEventConductor.searchParamsSelected.eventType_ctl or sessionEventConductor.querySelected.queryName.showAllControls}">
                    <div class="p-grid">
                        <div class="p-lg-4 p-md-6 p-sm-12 restrict-data-field-label-inline">

                            <p:outputLabel id="seev-filter-type-ol" for="seev-filter-type" value="filter by event type"/>

                            <p:selectBooleanCheckbox id="seev-filter-type" 
                                                     value="#{sessionEventConductor.searchParamsSelected.eventType_ctl}"
                                                     style="margin-left: 8px;">
                                <p:ajax update="ceev-critera-type" />
                            </p:selectBooleanCheckbox>


                        </div>
                        <div class="p-lg-8 p-md-8 p-sm-12 restrict-data-field-value-inline">

                            <p:selectOneMenu id="ceev-critera-type" required="false" 
                                             value="#{sessionEventConductor.searchParamsSelected.eventType_val}" tabindex="10"
                                             disabled="#{!sessionEventConductor.searchParamsSelected.eventType_ctl}">
                                <f:selectItem itemLabel="select an event type..." noSelectionOption="true" />
                                <f:selectItems value="#{sessionEventConductor.eventTypeList}"/>
                            </p:selectOneMenu>
                            <h:message for="ceev-critera-type" showDetail="false" showSummary="true" 
                                       warnClass="msgWarn" infoClass="msgInfo" fatalClass="msgFatal" errorClass="msgError" />

                        </div>
                    </div>
                </f:subview>        

                <f:subview id="eventsearch-param-subview-ev3-domain"
                           rendered="#{sessionEventConductor.searchParamsSelected.eventDomain_ctl or sessionEventConductor.querySelected.queryName.showAllControls}">
                    <div class="p-grid">
                        <div class="p-lg-4 p-md-6 p-sm-12 restrict-data-field-label-inline">

                            <p:outputLabel for="event-search-filter-domain-ctl" 
                                           value="Event Domain"/>


                            <p:selectBooleanCheckbox id="event-search-filter-domain-ctl" 
                                                     value="#{sessionEventConductor.searchParamsSelected.eventDomain_ctl}"
                                                     disabled="#{!(sessionEventConductor.searchParamsSelected.user_rtMin.rank lt systemServicesBB.bbSessionUser.keyCard.governingAuthPeriod.role.rank)}"
                                                     style="margin-left: 8px;">
                                <p:ajax update="event-search-filter-domain-val" />
                            </p:selectBooleanCheckbox>
                        </div>
                        <div class="p-lg-8 p-md-8 p-sm-12 restrict-data-field-value-inline">

                            <p:selectOneMenu  id="event-search-filter-domain-val" 
                                              tabindex="1" 
                                              value="#{sessionEventConductor.searchParamsSelected.eventDomain_val}"
                                              disabled="#{!sessionEventConductor.searchParamsSelected.eventDomain_ctl}">
                                <f:selectItem itemLabel="select an event domain..." 
                                              noSelectionOption="true" 
                                              itemDisabled="true"/>
                                <f:selectItems id="event-search-filter-domain-items" 
                                               value="#{sessionEventConductor.searchParamsSelected.eventDomainListComplete}" 
                                               var="ed" itemValue="#{ed}" itemLabel="#{ed.title}" />
                                <f:converter converterId="eventDomainConverter" />
                            </p:selectOneMenu>
                        </div>
                    </div>
                </f:subview>        

                <f:subview id="eventsearch-param-subview-ev4-domainpk"
                           rendered="#{sessionEventConductor.searchParamsSelected.eventDomainPK_ctl or sessionEventConductor.querySelected.queryName.showAllControls}">
                    <div class="p-grid">
                        <div class="p-lg-4 p-md-6 p-sm-12 restrict-data-field-label-inline">
                            <p:outputLabel for="event-search-filter-domainpk-ctl" 
                                           value="filter by domain object id (CE case or permit file)"/>

                            <p:selectBooleanCheckbox id="event-search-filter-domainpk-ctl" 
                                                     value="#{sessionEventConductor.searchParamsSelected.eventDomainPK_ctl}"
                                                     style="margin-left: 8px;">
                                <p:ajax update="event-search-filter-domainpk-val" />
                            </p:selectBooleanCheckbox>

                        </div>
                        <div class="p-lg-8 p-md-8 p-sm-12 restrict-data-field-value-inline">
                            <p:inputText id="event-search-filter-domainpk-val"
                                         type="number"
                                         value="#{sessionEventConductor.searchParamsSelected.eventDomainPK_val}"
                                         disabled="#{!sessionEventConductor.searchParamsSelected.eventDomainPK_ctl}"/>
                        </div>
                    </div>
                </f:subview>        

                <f:subview id="eventsearch-param-subview-ev5-person"
                           rendered="#{sessionEventConductor.searchParamsSelected.person_ctl or sessionEventConductor.querySelected.queryName.showAllControls}">
                    <div class="p-grid">
                        <div class="p-lg-4 p-md-6 p-sm-12 restrict-data-field-label-inline">
                            <p:outputLabel id="event-filter-person-ol" 
                                           for="event-criteria-person-val" 
                                           value="filter by person"/>
                            <p:selectBooleanCheckbox id="event-filter-person-ctl" 
                                                     value="#{sessionEventConductor.searchParamsSelected.person_ctl}"
                                                     style="margin-left: 8px;">
                                <p:ajax update="event-criteria-person-val" />
                            </p:selectBooleanCheckbox>

                        </div>
                        <div class="p-lg-8 p-md-8 p-sm-12 restrict-data-field-value-inline">
                            <p:selectOneMenu id="event-criteria-person-val" required="false" 
                                             value="#{sessionEventConductor.searchParamsSelected.person_val}"
                                             disabled="#{!sessionEventConductor.searchParamsSelected.person_ctl}">

                                <f:selectItem itemLabel="select a person..." noSelectionOption="true" />
                                <f:selectItems value="#{systemServicesBB.personListForSearch}"  var="p" itemValue="#{p}" 
                                               itemLabel="#{p.firstName} #{p.lastName} (ID:#{p.personID})"/>
                                <f:converter converterId="personConverter"/>

                            </p:selectOneMenu>
                        </div>
                    </div>
                </f:subview>        

                <f:subview id="eventsearch-param-subview-ev6-rolefloor-enact"
                           rendered="#{sessionEventConductor.searchParamsSelected.rolefloor_enact_ctl or sessionEventConductor.querySelected.queryName.showAllControls}">
                    <div class="p-grid">
                        <div class="p-lg-4 p-md-6 p-sm-12 restrict-data-field-label-inline">
                            <p:outputLabel id="event-filter-rolefloor-enact-ol" 
                                           for="eventsearch-param-rolefloor-enact-sbcb" 
                                           value="filter by role floor to enact"/>
                            <p:selectBooleanCheckbox id="eventsearch-param-rolefloor-enact-sbcb" 
                                                     value="#{sessionEventConductor.searchParamsSelected.rolefloor_enact_ctl}" 
                                                     style="margin-left: 8px;">
                                <p:ajax update="eventsearch-param-rolefloor-enact-som" />
                            </p:selectBooleanCheckbox>
                        </div>
                        <div class="p-lg-8 p-md-8 p-sm-12 restrict-data-field-value-inline">
                            <p:selectOneMenu id="eventsearch-param-rolefloor-enact-som" 
                                             required="false" 
                                             value="#{sessionEventConductor.searchParamsSelected.roleFloor_enact_val}"
                                             disabled="#{!sessionEventConductor.searchParamsSelected.rolefloor_enact_ctl}">
                                <f:selectItem itemLabel="select a role..." noSelectionOption="true" />
                                <f:selectItems value="#{systemServicesBB.sessRoleTypes}"  
                                               var="rt" 
                                               itemValue="#{rt}" 
                                               itemLabel="#{rt.label}, (RNK: #{rt.rank})"/>
                            </p:selectOneMenu>
                        </div>
                    </div>
                </f:subview>        

                <f:subview id="eventsearch-param-subview-ev7-rolefloor-view"
                           rendered="#{sessionEventConductor.searchParamsSelected.rolefloor_view_ctl or sessionEventConductor.querySelected.queryName.showAllControls}">
                    <div class="p-grid">
                        <div class="p-lg-4 p-md-6 p-sm-12 restrict-data-field-label-inline">
                            <p:outputLabel id="event-filter-rolefloor-view-ol" 
                                           for="eventsearch-param-rolefloor-view-sbcb" 
                                           value="filter by role floor to view"/>
                            <p:selectBooleanCheckbox id="eventsearch-param-rolefloor-view-sbcb" 
                                                     value="#{sessionEventConductor.searchParamsSelected.rolefloor_view_ctl}" 
                                                     style="margin-left: 8px;">
                                <p:ajax update="eventsearch-param-rolefloor-view-som" />
                            </p:selectBooleanCheckbox>
                        </div>
                        <div class="p-lg-8 p-md-8 p-sm-12 restrict-data-field-value-inline">
                            <p:selectOneMenu id="eventsearch-param-rolefloor-view-som" 
                                             required="false" 
                                             value="#{sessionEventConductor.searchParamsSelected.roleFloor_view_val}"
                                             disabled="#{!sessionEventConductor.searchParamsSelected.rolefloor_view_ctl}">
                                <f:selectItem itemLabel="select a role..." noSelectionOption="true" />
                                <f:selectItems value="#{systemServicesBB.sessRoleTypes}"  
                                               var="rt" 
                                               itemValue="#{rt}" 
                                               itemLabel="#{rt.label}, (RNK: #{rt.rank})"/>
                            </p:selectOneMenu>
                        </div>
                    </div>
                </f:subview>        

                <f:subview id="eventsearch-param-subview-ev8-rolefloor-update"
                           rendered="#{sessionEventConductor.searchParamsSelected.rolefloor_update_ctl or sessionEventConductor.querySelected.queryName.showAllControls}">
                    <div class="p-grid">
                        <div class="p-lg-4 p-md-6 p-sm-12 restrict-data-field-label-inline">
                            <p:outputLabel id="event-filter-rolefloor-update-ol" 
                                           for="eventsearch-param-rolefloor-update-sbcb" 
                                           value="filter by role floor to update"/>
                            <p:selectBooleanCheckbox id="eventsearch-param-rolefloor-update-sbcb" 
                                                     value="#{sessionEventConductor.searchParamsSelected.rolefloor_update_ctl}"
                                                     style="margin-left: 8px;">
                                <p:ajax update="eventsearch-param-rolefloor-update-som" />
                            </p:selectBooleanCheckbox>
                        </div>
                        <div class="p-lg-8 p-md-8 p-sm-12 restrict-data-field-value-inline">
                            <p:selectOneMenu id="eventsearch-param-rolefloor-update-som" 
                                             required="false" 
                                             value="#{sessionEventConductor.searchParamsSelected.roleFloor_update_val}"
                                             disabled="#{!sessionEventConductor.searchParamsSelected.rolefloor_update_ctl}">
                                <f:selectItem itemLabel="select a role..." noSelectionOption="true" />
                                <f:selectItems value="#{systemServicesBB.sessRoleTypes}"  
                                               var="rt" 
                                               itemValue="#{rt}" 
                                               itemLabel="#{rt.label}, (RNK: #{rt.rank})"/>
                            </p:selectOneMenu>
                        </div>
                    </div>
                </f:subview>        

                <f:subview id="eventsearch-param-subview-ev9-property"
                           rendered="#{sessionEventConductor.searchParamsSelected.property_ctl or sessionEventConductor.querySelected.queryName.showAllControls}">
                    <div class="p-grid">
                        <div class="p-lg-4 p-md-6 p-sm-12 restrict-data-field-label-inline">

                            <p:outputLabel id="event-filter-property-ol" 
                                           for="event-filter-property" 
                                           value="filter by property "/>

                            <p:selectBooleanCheckbox id="event-filter-property" 
                                                     value="#{sessionEventConductor.searchParamsSelected.property_ctl}" 
                                                     style="margin-left: 8px;">
                                <p:ajax update="event-criteria-property-som" />
                            </p:selectBooleanCheckbox>

                        </div>
                        <div class="p-lg-8 p-md-8 p-sm-12 restrict-data-field-value-inline">
                            <p:selectOneMenu id="event-criteria-property-som" required="false" 
                                             value="#{sessionEventConductor.searchParamsSelected.property_val}"
                                             disabled="#{!sessionEventConductor.searchParamsSelected.property_ctl}">

                                <f:selectItem itemLabel="select a propery..." noSelectionOption="true" />
                                <f:selectItems value="#{systemServicesBB.propertyListForSearch}"  var="prop" itemValue="#{prop}" 
                                               itemLabel="#{prop.countyParcelID} (#{prop.muni.muniName})"/>
                                <f:converter converterId="propertyConverter"/>

                            </p:selectOneMenu>
                        </div>
                    </div>
                </f:subview>        
                <f:subview id="eventsearch-param-subview-ev10-notify"
                           rendered="#{sessionEventConductor.searchParamsSelected.notify_ctl or sessionEventConductor.querySelected.queryName.showAllControls}">
                    <div class="p-grid">
                        <div class="p-lg-4 p-md-6 p-sm-12 restrict-data-field-label-inline">
                            <p:outputLabel for="event-search-filter-notify-ctl" 
                                           value="filter by notification"/>
                            <p:selectBooleanCheckbox id="event-search-filter-notify-ctl" 
                                                     value="#{sessionEventConductor.searchParamsSelected.notify_ctl}"
                                                     style="margin-left: 8px;">
                                <p:ajax update="event-search-filter-notify-val" />
                            </p:selectBooleanCheckbox>

                        </div>
                        <div class="p-lg-8 p-md-8 p-sm-12 restrict-data-field-value-inline">
                            <p:outputLabel for="event-search-filter-notify-val" 
                                           value="notification"/>
                            <p:selectBooleanCheckbox id="event-search-filter-notify-val" 
                                                     value="#{sessionEventConductor.searchParamsSelected.notify_val}"
                                                     disabled="#{!sessionEventConductor.searchParamsSelected.notify_ctl}">
                            </p:selectBooleanCheckbox>
                        </div>
                    </div>
                </f:subview>   
            </p:panel>
        </h:form>

        <h:form id="event-list-form">
            <div class="p-grid">
                <div class="p-col-12">
                    <h:outputLabel  for="event-viewoptions-som">
                        <h:outputText value="Filter: " />
                    </h:outputLabel>

                    <p:selectOneMenu    id="event-viewoptions-som"
                                        value="#{sessionEventConductor.eventViewSelected}"
                                        tabindex="10">

                        <f:selectItems  id="event-viewoptions-selitems"
                                        value="#{sessionEventConductor.eventViewList}"
                                        var="vo"
                                        itemValue="#{vo}"
                                        itemLabel="#{vo.label}"/>
                        <p:ajax update="events-table"
                                listener="#{sessionEventConductor.manageRawEventList()}"
                                />
                    </p:selectOneMenu>
                </div>

                <div class="p-col-12">
                    <h:outputText   id="eventlist-size-ot"
                                    value="listing #{sessionEventConductor.eventListManaged.size()} events" />
                    
                    <h:outputText value=" | " />
                    
                    <p:commandLink   id="event-search-clear-button" 
                                     ajax="true" 
                                     actionListener="#{sessionEventConductor.clearEventList}"
                                     disabled="false"
                                     styleClass="button"
                                     style="font-weight: bold; color:blue;"
                                     value="clear results list" 
                                     update="event-list-form
                                     form-messages-global" />
                    
                    <p:commandLink   id="print-event-list-report-cb" 
                                     ajax="true" actionListener="#{sessionEventConductor.prepareEventReport}"
                                     styleClass="button"
                                     oncomplete="PF('report-event-diaglog-var').show()"
                                     value="event report" 
                                     rendered="false"
                                     style="margin-left:5px;"
                                     update="report-eventlist-form
                                     form-messages-global" />
                </div>
            </div>
            
            <p:commandLink value="Export events to calendar"
                           action="#{sessionEventConductor.changeSelectionMode()}"
                           update="@form"
                           style="color: blue; margin-left: 5px; font-weight: bold"/>

            <p:spacer height="5px" />

            <p:dataTable
                id="events-table"
                value="#{sessionEventConductor.eventListManaged}"
                rendered="true"
                var="e"
                rowKey="#{e.eventID}"
                filteredValue="#{sessionEventConductor.eventListFiltered}"
                tableStyleClass="primeDataTable"
                resizableColumns="true"
                widgetVar="events-table-var"
                scrollable="true" 
                reflow="true"
                selectionMode="multiple"
                selection="#{sessionEventConductor.selectedEvents}"
                >
                
                <p:column width="10%">
                    <f:facet name="header">
                        <h:outputText value="Domain" />
                        <p:spacer height="3px" />
                        <h:outputText value="Icon" />
                    </f:facet>
                    <h:outputText value="#{e.domain.abbrev}"/>
                    <p:spacer height="3px" />
                    <i class="material-icons">
                        <h:outputText value="#{e.category.icon.materialIcon}"
                                      rendered="#{!empty e.category.icon}"/>
                    </i>
                </p:column>

  
                <p:column width="40%" 
                          sortBy="#{e.category.eventCategoryTitle}"
                          >
                    <f:facet name="header">
                        <h:outputText value="Category; Property; Parent" />
                    </f:facet>
                    <div class="wrapText bold">
                        <h:outputText value="#{e.category.eventCategoryTitle}"/>
                        <h:outputText value=" "/>
                        <h:outputText value="(#{e.category.eventType.label})"/>
                    </div>

                    <p:spacer height="3px" />

                    <p:commandLink id="event-prop-cl"
                                   action="#{sessionEventConductor.onViewEventProperty(e)}"
                                   style="font-weight: bold; color:blue;">
                        <h:outputText value="#{e.parcelAddressTwoLineEscapeFalse}"
                                      escape="false"/>
                    </p:commandLink>

                    <p:spacer height="5px" />

                    <p:commandLink id="event-holder-cl"
                                   action="#{sessionEventConductor.onViewEventHolder(e)}"
                                   style="font-weight: bold; color:blue;">
                        <h:outputText value="#{e.casePeriodPropertyString}"/>
                    </p:commandLink>
                </p:column>

                <p:column width="20%" sortBy="#{e.timeStart}">
                    <f:facet name="header">
                        <h:outputText value="Start date" />
                        <p:spacer height="3px" />
                        <h:outputText value="(dur. mins)" />
                    </f:facet>
                    <div class="rowExpansion">
                        <h:outputText value="#{sessionEventConductor.getPrettyDate(e.timeStart)}"/>
                        <p:spacer height="3px" />
                        <h:outputText value=" (#{e.duration} min)"/>
                    </div>
                </p:column>

                <p:column width="20%" exportable="false">
                    <f:facet name="header">
                        <h:outputText value="Actions" />
                    </f:facet>

                    <div class="restrict-main-contents-io-link link-button">
                        <p:commandLink id="event-open-button"
                                       styleClass="noFill button-size-small"
                                       value="view/edit"
                                       oncomplete="PF('event-profile-dialog-var').show()"
                                       update="event-profile-dialog event-profile-form"
                                       actionListener="#{eventBB.onViewEvent(e)}">
                        </p:commandLink>
                    </div>
                    <h:outputText value=" | " />
                    <div class="restrict-main-contents-io-link link-button">
                        <p:commandLink  id="event-hide-cl"
                                        ajax="true"
                                        value="hide"
                                        rendered="false"
                                        disabled="#{e.hidden}"
                                        actionListener="#{sessionEventConductor.onEventHide(e)}" 
                                        update="event-list-form
                                        form-messages-global"
                                        />
                    </div>
                    <div class="restrict-main-contents-io-link link-button">
                        <p:commandLink id="event-unhide-cl"
                                       ajax="true"
                                       disabled="#{!e.hidden}"
                                       value="unhide"
                                       rendered="false"
                                       actionListener="#{sessionEventConductor.onEventUnHide(e)}" 
                                       update="event-list-form
                                       form-messages-global"
                                       />
                    </div>

                    <p:spacer height="3px" />

                    <h:outputText value="(Event ID: #{e.eventID})"/>

                </p:column>
            </p:dataTable>
            <p:spacer height="5px"/>

            <p:commandButton styleClass="noFill button-size-small" 
                             value="Export Selected Events To Calendar File" 
                             icon="pi pi-download"
                             action="#{sessionEventConductor.exportCalendar()}" 
                             ajax="false" 
                             rendered="#{sessionEventConductor.selectionMode}" 
                             />
            <p:commandButton styleClass="noFill button-size-small ui-button-secondary" 
                             value="Done/Cancel" 
                             icon="pi pi-thumbs-up"
                             style="margin-left: 5px" 
                             rendered="#{sessionEventConductor.selectionMode}" 
                             action="#{sessionEventConductor.abortExportOperation()}" 
                             update="@form"/>
        </h:form>
        <p:spacer height="5px" /> 

        <ui:include src="/restricted/cogstaff/event/compositions/eventTools.xhtml"/>

        <p:dialog   id="event-search-log-dialog"
                    header="Event search log" 
                    widgetVar="event-search-log-dialog-var"
                    responsive="true"
                    closable="true"
                    closeOnEscape="true"
                    width="80%">
            <h:form id="event-search-log-form">

                <h:outputText id="event-search-log-ot" 
                              value="#{sessionEventConductor.querySelected.queryLog}"
                              escape="false"/>
            </h:form>

        </p:dialog>


        <p:dialog header="Building activity reports" 
                  widgetVar="helpdlg"
                  responsive="true"
                  width="80%">
            <h1>Steps to building an activity report:</h1>
            <h2>1. Choose a pre-built query</h2>

            <p>Events are selected from the database through a query, which is made up of many parameters
                (i.e. criteria) which define which events to retrieve. A set of pre-made queries are designed
                to speed up the reporting process. Browse those pre-built queries with the drop-down box and then click
                "perform selected query" to see the results. </p>


            <p>The list view is more compact and reflects what is printed in event reports. The data table view contains exactly the same
                <br /> events but with more complete info for in-depth analysis.</p>


            <h2>2. Trim your event list by hiding events</h2>

            <p>After performing the query, hide any unwanted events from the results using the 
                "hide event" button with the moon icon located on the right side of each event's display box.
                A hidden event is not displayed in your final report, but is still attached to the code enforcement case
                and can be viewed in the case's event history.</p>

            <p>NOTE: Hiding an event on this page for report generation ALSO hides the event when viewing the event history 
                for that event's respective case. You can always un-hide an event by toggling the "view hidden events" switch
                underneath the event history table in the case manager. </p>

            <h2>3. Customize your query</h2>
            <p>Expand the search options to customize your query. The query controls are automatically updated to match 
                the pre-built queries in the drop-down list above, allowing you to start with the settings associated with
                a pre-built query and then tune the results to fit your needs.</p>

            <p>For example, pre-built queries are pre-set to useful date ranges for searching, such as events that occurred in
                the past month or events about to occur in the next week. By first performing a pre-built query which produces 
                events you're interested in but over undesirable date range, you can just change the specified date range in the
                customized query parameters to arrive at your desired output.</p>

            <h2>4. Preparing and generating an event report</h2>

            <p>The button labeled "prepare event report" pops up a settings window to configure an event report based on the currently
                visible events in your list. Additional guidance is provided for each setting inside that dialog box. Remember: the report
                is generated based on only the events you can see in your result list; hidden events are not included.</p>


        </p:dialog>
        <p:dialog  id="ceevents-configure-report-dialog"
                   widgetVar="report-event-diaglog-var"
                   closable="true" responsive="true"
                   dynamic="true"
                   rendered="#{sessionBeasessionUserer.keyCard.hasMuniReaderPermissions}">

            <h:form id="events-reportconfig-messages-form">
                <h:messages id="ceev-messages-in-report-dialog" globalOnly="true" showDetail="false" showSummary="true"
                            warnClass="msgWarn" infoClass="msgInfo" fatalClass="msgFatal" errorClass="msgError">
                </h:messages>
            </h:form>

            <h:form id="report-eventlist-form">
                <div class="ui-g data_container_nested_restrict">
                    <div class="ui-g-12 ui-md-6 ui-lg-4 restrict-data-field">
                        <div class="restrict-main-contents-io-title" >
                            <h:outputLabel for="report-case-profile-title-it" 
                                           value="Report title"/>
                        </div>

                        <div class="restrict-main-contents-io-content" >
                            <p:inputText id="report-case-profile-title-it" style="width: 300px;" value="#{sessionEventConductor.reportConfig.title}"/>
                            <p:spacer height="5px" />
                            <h:outputText styleClass="italic" value="note: your name and the current date and time will be automatically inserted" />

                        </div>
                    </div>

                    <div class="ui-g-12 ui-md-6 ui-lg-4 restrict-data-field">
                        <div class="restrict-main-contents-io-title" >
                            <h:outputLabel for="report-case-profile-notes-ita" value="Notes"/>
                        </div>

                        <div class="restrict-main-contents-io-content" >
                            <p:inputText id="report-case-profile-notes-ita" style="width: 300px; height: 100px;" value="#{sessionEventConductor.reportConfig.notes}"/>
                        </div>
                    </div>

                    <div class="ui-g-12 ui-md-12 ui-lg-12 restrict-data-field">
                        <h2>Event display options</h2>

                    </div>

                    <div class="ui-g-12 ui-md-6 ui-lg-4 restrict-data-field">
                        <div class="restrict-main-contents-io-title" >
                            <h:outputLabel value="Sort events: " 
                                           for="sort-reverse-chrono-is" />
                        </div>

                        <div class="restrict-main-contents-io-content" >
                            <p:inputSwitch  id="sort-reverse-chrono-is"
                                            value="#{sessionEventConductor.reportConfig.sortInRevChrono}" 
                                            onLabel="Reverse chrono (newest first)" 
                                            offLabel="Timeline order (oldest first)" />

                        </div>
                    </div>

                    <div class="ui-g-12 ui-md-6 ui-lg-4 restrict-data-field">
                        <div class="restrict-main-contents-io-title" >
                            <h:outputLabel value="Include persons attached to events" 
                                           for="include-attached-persons-is" />
                        </div>

                        <div class="restrict-main-contents-io-content" >
                            <p:inputSwitch  id="include-attached-persons-is"
                                            value="#{sessionEventConductor.reportConfig.includeAttachedPersons}" 
                                            onLabel="Yes" offLabel="No" />
                        </div>
                    </div>

                    <div class="ui-g-12 ui-md-6 ui-lg-4 restrict-data-field">
                        <div class="restrict-main-contents-io-title" >
                            <h:outputLabel value="Include event summary chart on page 1" 
                                           for="include-event-summary-chart-is" />

                        </div>

                        <div class="restrict-main-contents-io-content" >
                            <p:inputSwitch  id="include-event-summary-chart-is"
                                            value="#{sessionEventConductor.reportConfig.includeEventTypeSummaryChart}" 
                                            onLabel="Yes" offLabel="No" />
                        </div>
                    </div>

                    <div class="ui-g-12 ui-md-6 ui-lg-4 restrict-data-field">
                        <div class="restrict-main-contents-io-title" >
                            <h:outputLabel value="Include list of all active cases" 
                                           for="include-active-case-list-is" />

                        </div>

                        <div class="restrict-main-contents-io-content" >
                            <p:inputSwitch  id="include-active-case-list-is"
                                            value="#{sessionEventConductor.reportConfig.includeActiveCaseListing}" 
                                            onLabel="Yes" offLabel="No" />
                        </div>
                    </div>

                    <div class="ui-g-12 ui-md-6 ui-lg-4 restrict-data-field">
                        <div class="restrict-main-contents-io-title" >
                            <h:outputLabel value="Include info about events requesting user action" 
                                           for="include-action-requests-is" />

                        </div>

                        <div class="restrict-main-contents-io-content" >
                            <p:inputSwitch  id="include-action-requests-is"
                                            value="#{sessionEventConductor.reportConfig.includeCaseActionRequestInfo}" 
                                            onLabel="Yes" offLabel="No" />
                        </div>
                    </div>

                    <div class="ui-g-12 ui-md-6 ui-lg-4 restrict-data-field">
                        <div class="restrict-main-contents-io-title" >
                            <h:outputLabel value="Include complete query parameters" 
                                           for="include-queryparams-is" />

                        </div>

                        <div class="restrict-main-contents-io-content" >
                            <p:inputSwitch  id="include-queryparams-is"
                                            value="#{sessionEventConductor.reportConfig.includeCompleteQueryParamsDump}" 
                                            onLabel="Yes" offLabel="No" />

                        </div>
                    </div>
                    <div class="ui-g-12 ui-md-6 ui-lg-4 restrict-data-field">

                        <div class="restrict-main-contents-io-button gray_button">

                            <p:commandButton ajax="true" 
                                             value="Cancel" icon="pi pi-stop" 
                                             onclick="PF('report-event-diaglog-var').hide()"/>
                        </div>

                        <div class="restrict-main-contents-io-button">
                            <p:commandButton ajax="false" action="#{sessionEventConductor.generateEventReport}"
                                             value="Generate report" icon="fa fa-print" 
                                             rendered="#{sessionBsessionUserUser.keyCard.hasMuniReaderPermissions}"
                                             />
                        </div>
                    </div>
                </div>
            </h:form>
        </p:dialog>
    </p:panel>
</ui:composition>