<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns="http://www.w3.org/1999/xhtml">

    <!-- This is the panel for the map image icon - added by wwalk 1.3.23 -->
    <p:panel    id="map-link-panel"
                toggleable="true"
                style="width: 100%;"
                widgetVar="map-link-panel-var"
                collapsed="true"
                rendered="true"
                header="Map View Preview #{sessionBean.sessMuni.muniName}" >
        <a id="map-thumbnail-link"
           target="_blank"
           href="http://codenforce.org:5280/map">
            <h:graphicImage styleClass="thumbnail" value="/images/map_thumbnails/#{systemServicesBB.bbSessionMuni.mapThumbFilePath}.png"
                            alt="Map Not Yet Uploaded."/>
        </a>
    </p:panel>
</ui:composition>