<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns="http://www.w3.org/1999/xhtml">
    
   
    <p:panel id="notes-panel"
             toggleable="true"
             widgetVar="notes-panel-var"
             collapsed="false"
             header="Notes on #{notesBB.currentNoteHolder.noteHolderFriendlyName} (ID:#{notesBB.currentNoteHolder.DBKey})">

        <h:form id="notes-form">
            <p:commandButton id="notes-add-button"
                             rendered="#{systemServicesBB.permissionAllowReadOnly}"
                             value="Add New Note"
                             icon="pi pi-paperclip"
                             actionListener="#{notesBB.clearFormNoteText}"
                             oncomplete="PF('note-dialog-var').show()"
                             update="note-create-form"/>

            <p:spacer height="5px"/>
            <h:outputText id="notes-ot"
                          escape="false"
                          value="#{notesBB.managedNoteContent}"/>

        </h:form>
    </p:panel>

    <!-- Notes dialog -->
    <p:dialog id="note-dialog"
              height="400" width="750"
              widgetVar="note-dialog-var"
              closable="true"
              resizable="true"
              responsive="true"
              modal="true"
              header="Note Builder"
              rendered="#{systemServicesBB.permissionAllowReadOnly}">

        <h:form id="note-create-form">

            <h:outputText styleClass="ui-label" value="Note text: (name and time automatically inserted) "/>
            <p:inputTextarea id="note-editor"
                          value="#{notesBB.formNoteText}"
                          required="true"
                          rows="5"
                          cols="40"
                          />

            <p:spacer height="5px"/>


            <p:commandButton id="note-button-addnote"
                             rendered="#{systemServicesBB.permissionAllowReadOnly}"
                             actionListener="#{notesBB.appendNotes}"
                             oncomplete="PF('note-dialog-var').hide()"
                             update="notes-form"
                             value="Attach Note"
                             styleClass="inline-button"
                             icon="pi pi-paperclip"/>
            
            <p:spacer height="5px"/>
            <div class="gray_button">

                <p:commandButton id="note-button-cancel"
                                 value="Cancel"
                                 icon="pi pi-arrow-left"
                                 onclick="PF('note-dialog-var').hide()"/>
            </div>
        </h:form>
    </p:dialog>
  
</ui:composition>