<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <link rel="stylesheet" type="text/css" href="css/style.css"></link>
        <title>Add reason to occupancy permit application</title>
    </h:head>
    <h:body>
        <ui:composition template="./../../navContainer_public.xhtml">
            <ui:define name="content">
                <f:view id="occPermitApplicationFlowView">

                    <div class="mainContainer">
                        <h:messages globalOnly="true" showDetail="true" showSummary="true"
                                    warnClass="msgWarn" infoClass="msgInfo" fatalClass="msgFatal" errorClass="msgError">
                        </h:messages>
                        <h1>Step 4/5: Choose a reason for application</h1>                        
                        <h:form id="occPermitApplicationAddReasonForm">

                            <p:panel>
                                <h3>Step 1: Select Property</h3>
                                
                                <p:outputLabel>Chosen property:</p:outputLabel>

                                <p:dataTable
                                    id="chosenPropertyTable"
                                    value="#{sessionBean.activePropWithLists}"
                                    rendered="#{!empty sessionBean.activePropWithLists}"
                                    var="prop" 
                                    rowKey="#{prop.propertyID}"
                                    tableStyleClass="primeDataTable">

                                    <p:column>
                                        <f:facet name="header">
                                            <h:outputText value="Address" />
                                        </f:facet>
                                        <h:outputText value="#{prop.address}"/>
                                    </p:column>


                                    <p:column>

                                        <f:facet name="header">
                                            <h:outputText value="Type" />
                                        </f:facet>
                                        <h:outputText value="#{prop.propertyUseTypeString}"/>

                                    </p:column>

                                </p:dataTable>

                            </p:panel>

                            <p:panel>
                                <h3>Step 2: Configure Unit List</h3>
                                <p:outputLabel>Configured Unit List:</p:outputLabel>
                                <p:dataTable
                                    id="configuredUnitTable"
                                    value="#{sessionBean.workingPropWithLists.unitList}"
                                    rendered="#{!empty sessionBean.workingPropWithLists.unitList}"
                                    var="unit"
                                    rowKey="#{unit.unitID}"
                                    >                                         

                                    <p:column>
                                        <f:facet name="header">
                                            <h:outputText value="Unit Number" />
                                        </f:facet>
                                        <h:outputText value="#{unit.unitNumber}" />
                                    </p:column>

                                    <p:column>
                                        <f:facet name="header">
                                            <h:outputText value="Rental?" />
                                        </f:facet>
                                        <h:outputText value="#{unit.rental ? 'Yes' : 'No'}" />
                                    </p:column>

                                    <p:column>
                                        <f:facet name="header">
                                            <h:outputText value="Unit Description" />
                                        </f:facet>
                                        <h:outputText value="#{unit.notes}" />
                                    </p:column>

                                </p:dataTable>
                            </p:panel>

                            <p:panel>
                                <h3>Step 3: Select Units For Application</h3>
                                
                                
                                
                                <p:outputLabel>Chosen Unit:</p:outputLabel>

                                <p:dataTable
                                    id="chosenUnitTable"
                                    value="#{sessionBean.activePropUnit}"
                                    rendered="#{!empty sessionBean.activePropUnit}"
                                    var="unit"
                                    rowKey="#{unit.unitID}"
                                    >                                         

                                    <p:column>
                                        <f:facet name="header">
                                            <h:outputText value="Unit Number" />
                                        </f:facet>
                                        <h:outputText value="#{unit.unitNumber}" />
                                    </p:column>

                                    <p:column>
                                        <f:facet name="header">
                                            <h:outputText value="Rental?" />
                                        </f:facet>
                                        <h:outputText value="#{unit.rental ? 'Yes' : 'No'}" />
                                    </p:column>

                                    <p:column>
                                        <f:facet name="header">
                                            <h:outputText value="Unit Description" />
                                        </f:facet>
                                        <h:outputText value="#{unit.notes}" />
                                    </p:column>

                                </p:dataTable>
                            </p:panel>

                            <p:spacer height="5px" />

                            <h2 id="currentStep">Step 4: Choose Reason For Application</h2>

                            <p:outputLabel> Please choose select your reason for applying for occupancy from the drop-down menu. 
                                Below the drop down menu, you should put any details you think are important, such as
                                the purpose of the unit(s) you are applying for.
                            </p:outputLabel>

                            <p:spacer height="5px" />

                            <p:selectOneMenu
                                id="reasonSM" tabindex="1"
                                value="#{sessionBean.occPermitApplication.reason}">
                                <f:converter converterId="occPermitApplicationReasonConverter"/>
                                <f:selectItem itemLabel="Select a reason" itemDisabled="true"/>
                                <f:selectItems id="reasonList" value="#{occPermitApplicationBB.reasonList}" var ="r" itemValue="#{r}" itemLabel="#{r.title}" />

                            </p:selectOneMenu>

                            <p:spacer height="10px" />

                            <p:outputLabel for="notesInputText" value="Please enter any notes you have about this application below:"/>

                            <p:inputTextarea
                                id='notesInputText'
                                styleClass="textArea"
                                rows="6"
                                tabindex="2"
                                required="false"
                                style="width: 100%"
                                value="#{sessionBean.occPermitApplication.submissionNotes}" />

                            <p:spacer height="10px" />

                            <h3>Step 5: Add People To Application</h3>

                            <p:outputLabel>...</p:outputLabel>

                            <p:spacer height="10px"/>

                            <p:commandButton ajax="false"                                             
                                             value="Add people to application"
                                             action="#{occPermitApplicationBB.storeReason()}"/>

                        </h:form>
                    </div>
                </f:view>
            </ui:define>
        </ui:composition>
    </h:body>
</html>