<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <link rel="stylesheet" type="text/css" href="css/style.css"></link>
        <title>Add reason to occupancy permit application</title>
    </h:head>
    <h:body>
        <ui:composition template="./../../navContainer_public.xhtml">
            <ui:define name="content">
                <f:view id="occPermitApplicationFlowView">

                    <div class="mainContainer">
                        <h:messages globalOnly="true" showDetail="true" showSummary="true"
                                    warnClass="msgWarn" infoClass="msgInfo" fatalClass="msgFatal" errorClass="msgError">
                        </h:messages>
                        <h1>Step 3/5: Please select units for application</h1>                        
                        <h:form id="occPermitSelectForApplyForm">

                            <p:panel>
                                <h3>Step 1: Select Property</h3>
                                
                                <p:outputLabel>Chosen property:</p:outputLabel>

                                <p:dataTable
                                    id="chosenPropertyTable"
                                    value="#{sessionBean.activePropWithLists}"
                                    rendered="#{!empty sessionBean.activePropWithLists}"
                                    var="prop" 
                                    rowKey="#{prop.propertyID}"
                                    tableStyleClass="primeDataTable">

                                    <p:column>
                                        <f:facet name="header">
                                            <h:outputText value="Address" />
                                        </f:facet>
                                        <h:outputText value="#{prop.address}"/>
                                    </p:column>


                                    <p:column>

                                        <f:facet name="header">
                                            <h:outputText value="Type" />
                                        </f:facet>
                                        <h:outputText value="#{prop.propertyUseTypeString}"/>

                                    </p:column>

                                </p:dataTable>

                            </p:panel>

                            <p:panel>
                                <h3>Step 2: Configure Unit List</h3>

                                <p:outputLabel>You have configured your units. You may see the list below.</p:outputLabel>

                            </p:panel>
                            <h2 id="currentStep">Step 3: Select Units For Application</h2>


                            <p:outputLabel value="From here you may select the properties you would like to apply for occupancy. 
                                           You can only apply for units one at a time, but after filling out each application
                                           you will return to this page and may continue." />

                            <p:dataTable
                                id="propertyUnitsToAddTable"
                                value="#{occPermitApplicationBB.workingPropUnits}"
                                rendered="#{!empty occPermitApplicationBB.workingPropUnits}"
                                var="unit"
                                selectionMode="single" 
                                tabindex="1"
                                selection="#{occPermitApplicationBB.selectedUnit}"
                                rowKey="#{unit.unitID}"
                                >                                         

                                <p:column>
                                    <f:facet name="header">
                                        <h:outputText value="Unit Number" />
                                    </f:facet>
                                    <h:outputText value="#{unit.unitNumber}" />
                                </p:column>

                                <p:column>
                                    <f:facet name="header">
                                        <h:outputText value="Rental?" />
                                    </f:facet>
                                    <h:outputText value="#{unit.rental ? 'Yes' : 'No'}" />
                                </p:column>

                                <p:column>
                                    <f:facet name="header">
                                        <h:outputText value="Unit Description" />
                                    </f:facet>
                                    <h:outputText value="#{unit.notes}" />
                                </p:column>

                                <p:column>
                                    <f:facet name="header">
                                        <h:outputText value="Apply?"/>
                                    </f:facet>
                                    <p:commandButton ajax="false" value="Select Unit" 
                                                     action="#{occPermitApplicationBB.selectPropertyUnit(unit)}"/>
                                </p:column>

                            </p:dataTable>

                            <p:spacer height="5px" />

                            <h3>Step 4: Choose Reason For Application</h3>

                            <p:outputLabel>...</p:outputLabel>

                            <h3>Step 5: Add People To Application</h3>

                            <p:outputLabel>...</p:outputLabel>

                            <ui:remove> <p:spacer height="10px"/>
                                <p:commandButton ajax="false" value="Confirm and continue"/></ui:remove>
                                
                            
                        </h:form>
                    </div>
                </f:view>
            </ui:define>
        </ui:composition>
    </h:body>
</html>