<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <h:outputStylesheet name="css/style.css"/>
        <title>TCVCOG Code Enforcement Home</title>
    </h:head>
    <h:body>
        <ui:composition template="./../../navContainer_public.xhtml">

            <ui:define name="content">
                <f:view id="sysHomeView">

                    <div class="mainContainer">

                        <h:form id="messageForm">
                            <h:messages globalOnly="true" showDetail="true" showSummary="true"
                                        warnClass="msgWarn" infoClass="msgInfo" fatalClass="msgFatal" errorClass="msgError"/>
                        </h:form>

                        <h:form id="personsRequirementManageForm">

                            <h1>Step 5/5: Add People to Application</h1>

                            <p:panel>
                                <h3>Step 1: Select Property</h3>

                                <p:outputLabel>Chosen property:</p:outputLabel>

                                <p:dataTable
                                    id="chosenPropertyTable"
                                    value="#{sessionBean.activePropWithLists}"
                                    rendered="#{!empty sessionBean.activePropWithLists}"
                                    var="prop" 
                                    rowKey="#{prop.propertyID}"
                                    tableStyleClass="primeDataTable">

                                    <p:column>
                                        <f:facet name="header">
                                            <h:outputText value="Address" />
                                        </f:facet>
                                        <h:outputText value="#{prop.address}"/>
                                    </p:column>


                                    <p:column>

                                        <f:facet name="header">
                                            <h:outputText value="Type" />
                                        </f:facet>
                                        <h:outputText value="#{prop.propertyUseTypeString}"/>

                                    </p:column>

                                </p:dataTable>

                            </p:panel>

                            <p:panel>
                                <h3>Step 2: Configure Unit List</h3>
                                <p:outputLabel>Configured Unit List:</p:outputLabel>
                                <p:dataTable
                                    id="configuredUnitTable"
                                    value="#{sessionBean.workingPropWithLists.unitList}"
                                    rendered="#{!empty sessionBean.workingPropWithLists.unitList}"
                                    var="unit"
                                    rowKey="#{unit.unitID}"
                                    >                                         

                                    <p:column>
                                        <f:facet name="header">
                                            <h:outputText value="Unit Number" />
                                        </f:facet>
                                        <h:outputText value="#{unit.unitNumber}" />
                                    </p:column>

                                    <p:column>
                                        <f:facet name="header">
                                            <h:outputText value="Rental?" />
                                        </f:facet>
                                        <h:outputText value="#{unit.rental ? 'Yes' : 'No'}" />
                                    </p:column>

                                    <p:column>
                                        <f:facet name="header">
                                            <h:outputText value="Unit Description" />
                                        </f:facet>
                                        <h:outputText value="#{unit.notes}" />
                                    </p:column>

                                </p:dataTable>
                            </p:panel>

                            <p:panel>
                                <h3>Step 3: Select Units For Application</h3>

                                <p:outputLabel>Chosen Unit:</p:outputLabel>

                                <p:dataTable
                                    id="chosenUnitTable"
                                    value="#{sessionBean.activePropUnit}"
                                    rendered="#{!empty sessionBean.activePropUnit}"
                                    var="unit"
                                    rowKey="#{unit.unitID}"
                                    >                                         

                                    <p:column>
                                        <f:facet name="header">
                                            <h:outputText value="Unit Number" />
                                        </f:facet>
                                        <h:outputText value="#{unit.unitNumber}" />
                                    </p:column>

                                    <p:column>
                                        <f:facet name="header">
                                            <h:outputText value="Rental?" />
                                        </f:facet>
                                        <h:outputText value="#{unit.rental ? 'Yes' : 'No'}" />
                                    </p:column>

                                    <p:column>
                                        <f:facet name="header">
                                            <h:outputText value="Unit Description" />
                                        </f:facet>
                                        <h:outputText value="#{unit.notes}" />
                                    </p:column>

                                </p:dataTable>
                            </p:panel>

                            <p:spacer height="5px" />
                            <p:panel>
                                <h3>Step 4: Choose Reason For Application</h3>

                                <p:outputLabel value="The selected reason for the application is: #{sessionBean.occPermitApplication.reason.title}"/>

                                <p:spacer height="5px"/>

                                <p:outputLabel value="Your attached notes: #{sessionBean.occPermitApplication.submissionNotes}"/>
                            </p:panel>

                            <p:spacer height="5px"/>

                            <h2 id="currentStep">Step 5: Add People To Application</h2>

                            <p:outputLabel value="#{sessionBean.occPermitApplication.reason.humanFriendlyDescription}"/>

                            <ui:remove><h:panelGrid id="menu" columns="1" cellpadding="10" columnClasses="gridTd-solid-back" style="width:100%">
                                    <h:panelGroup >
                                        <h:panelGrid columns="2" cellpadding="10" footerClass="gridFooter">
                                            <h:panelGroup>
                                                <p:outputLabel id="last-name-ol" value="Filter by last name" />
                                            </h:panelGroup>
                                            <h:panelGroup>
                                                <p:inputText id="last-name-it" value="#{personSearchPublicBB.params.lastNameSS}"/>
                                            </h:panelGroup>

                                            <h:panelGroup>
                                                <p:outputLabel id="first-name-ol" value="Filter by first name" />
                                            </h:panelGroup>
                                            <h:panelGroup>
                                                <p:inputText id="first-name-it" value="#{personSearchPublicBB.params.firstNameSS}"/>
                                            </h:panelGroup>

                                            <h:panelGroup>
                                                <p:outputLabel id="email-ol" value="Filter by email" />
                                            </h:panelGroup>
                                            <h:panelGroup>
                                                <p:inputText id="email-it" value="#{personSearchPublicBB.params.emailSS}"/>
                                            </h:panelGroup>

                                            <h:panelGroup>
                                                <p:outputLabel id="phone-number-ol" value="Filter by phone?" />
                                            </h:panelGroup>
                                            <h:panelGroup>
                                                <p:inputText id="phone-number-it" value="#{personSearchPublicBB.params.phoneNumber}"/>
                                            </h:panelGroup>

                                            <h:panelGroup>
                                                <p:outputLabel id="street-ol" value="Filter by street?" />
                                            </h:panelGroup>                                        
                                            <h:panelGroup>
                                                <p:inputText id="street-it" value="#{personSearchPublicBB.params.addrStreetSS}"/>
                                            </h:panelGroup>

                                        </h:panelGrid>
                                        <p:commandButton value= "Search" action="#{personSearchPublicBB.queryPersons(personSearchPublicBB.params)}" 
                                                         update="results-dt" ajax="true"/>

                                        <p:dataTable id="results-dt" 
                                                     value="#{personSearchPublicBB.personSearchResults}" 
                                                     rendered="#{!empty personSearchPublicBB.personSearchResults}" 
                                                     var="person" 
                                                     scrollable="true" 
                                                     scrollHeight="300"
                                                     tableStyleClass="primeDataTable">
                                            <p:column headerText="Last Name">
                                                <h:outputText value="#{person.lastName}" />
                                            </p:column>

                                            <p:column headerText="First Name">
                                                <h:outputText value="#{person.firstName}" />
                                            </p:column>

                                            <p:column headerText="Street Address">
                                                <h:outputText value="#{person.addressStreet}" />
                                            </p:column>

                                            <p:column headerText="Home Phone">
                                                <h:outputText value="#{person.phoneHome}" />
                                            </p:column>

                                            <p:column headerText="Cell Phone">
                                                <h:outputText value="#{person.phoneCell}" />
                                            </p:column>

                                            <p:column headerText="Work Phone">
                                                <h:outputText value="#{person.phoneWork}" />
                                            </p:column>

                                            <p:column headerText="Email">
                                                <h:outputText value="#{person.email}" />
                                            </p:column>

                                            <p:column>
                                                <p:commandButton ajax="true" 
                                                                 update=":personsRequirementManageForm:applicationPersonTable
                                                                 :messageForm" 
                                                                 action="#{occPermitApplicationBB.addPersonToApplication(person)}" 
                                                                 id="attach-person-cb" value="Attach" />
                                            </p:column>
                                            <!--
                                                <p:column>
                                                    <p:commandButton id="edit-person-cb" value="Edit" action="{occPermitApplicationBB.editPersonInfo(person)}"/>
                                                </p:column>
                                            -->
                                        </p:dataTable>
                                    </h:panelGroup>
                                </h:panelGrid>
                                <p:outputLabel> Can't find the person you are looking for? </p:outputLabel> </ui:remove>

                            <p:spacer height="10px"/>

                            <p:outputLabel value="#{occPermitApplicationBB.personRequirementDescription.get(0)}"/>

                            <p:spacer height="10px"/>

                            <p:outputLabel value="#{occPermitApplicationBB.personRequirementDescription.get(1)}"/>

                            <p:spacer height="10px"/>

                            <p:outputLabel value="#{occPermitApplicationBB.personRequirementDescription.get(2)}"/>

                            <p:dataTable id="applicationPersonTable"
                                         value="#{occPermitApplicationBB.attachedPersons}" 
                                         rendered="#{!empty occPermitApplicationBB.attachedPersons}" 
                                         var="applicationPerson" 
                                         selectionMode="single"
                                         selection="#{occPermitApplicationBB.applicant}"
                                         rowKey="#{applicationPerson.personID}"
                                         editable="true">                                
                                <p:column headerText="Name">
                                    <h:outputText value="#{applicationPerson.firstName} #{applicationPerson.lastName}"/>
                                </p:column>

                                <p:column headerText="Person Type">
                                    <p:selectOneMenu value="#{applicationPerson.personType}">
                                        <f:selectItems value="#{occPermitApplicationBB.optAndReqPersons}" var="type" itemLabel="#{type.label}" itemValue="#{type}"/>
                                    </p:selectOneMenu> 
                                </p:column>  

                                <p:column headerText="This is me">
                                    <h:selectBooleanCheckbox value="#{applicationPerson.applicant}"/>
                                </p:column>

                                <p:column headerText="Edit?">

                                    <p:rowEditor/>
                                </p:column>

                                <p:column>
                                    <p:commandButton ajax="true" value="Remove" 
                                                     action="#{occPermitApplicationBB.removePersonFromApplication(applicationPerson)}"
                                                     update="#{p:component('applicationPersonTable')}"
                                                     /> 
                                </p:column>

                            </p:dataTable>
                            <p:spacer height="10px"/>
                            <p:commandButton update="applicationPersonTable" value="Add a new person" action="#{occPermitApplicationBB.addANewPerson}" />

                            <p:spacer height="10px"/>

                            
                            <p:commandButton ajax="false" value="Review application"
                                             action="#{occPermitApplicationBB.reviewApplication}"/>

                        </h:form>

                    </div>
                </f:view>

            </ui:define>
        </ui:composition>
    </h:body>
</html>

