<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <h:outputStylesheet name="css/style.css"/>
        <title>TCVCOG Code Enforcement Home</title>
    </h:head>
    <h:body>
        <ui:composition template="./../../navContainer_public.xhtml">

            <ui:define name="content">
                <f:view id="sysHomeView">

                    <div class="mainContainer">

                        <h:messages id="personSearchPublicMessages" globalOnly="true" showDetail="true" showSummary="true"
                                    warnClass="msgWarn" infoClass="msgInfo" fatalClass="msgFatal" errorClass="msgError">
                        </h:messages>


                        <h1>Review Application</h1>

                        <h:form id="reviewAndSubmitForm">
                            <h:panelGroup>
                                <h:panelGrid columns="1" cellpadding="10" footerClass="gridFooter" style="width: 500px" styleClass="ui-panelgrid-blank">
                                    <p:column>
                                        <p:outputLabel value="Reason for application: #{sessionBean.sessOccPermitApplication.reason.title}" />
                                    </p:column>
                                    
                                    <p:column>
                                        <p:outputLabel value="Property Address: #{occPermitApplicationBB.selectedProperty.bundledProperty.address}" />
                                    </p:column>
                                    
                                    <p:column>
                                        <p:outputLabel value="Property Unit: #{sessionBean.sessOccPermitApplication.applicationPropertyUnit.unitNumber}" />
                                    </p:column>
                                    
                                    <p:column>
                                        <p:outputLabel value="Applicant: #{sessionBean.sessOccPermitApplication.applicantPerson.firstName} #{sessionBean.sessOccPermitApplication.applicantPerson.lastName}" />
                                    </p:column>
                                    
                                    <p:column>                                        
                                        <p:outputLabel value="Application Persons:" />
                                        <p:dataTable var="applicationPerson" 
                                                     value="#{sessionBean.sessOccPermitApplication.attachedPersons}"
                                                     rendered="#{!empty sessionBean.sessOccPermitApplication.attachedPersons}"
                                         rowKey="#{applicationPerson.personID}"
                                         tableStyleClass="primeDataTable">
                                             
                                            <p:column headerText="Name">
                                                <h:outputText value="#{applicationPerson.firstName} #{applicationPerson.lastName}"/>
                                            </p:column>
                                             
                                            <p:column headerText="Person Type">
                                                <h:outputText value="#{applicationPerson.personType}"/>
                                            </p:column>
                                        </p:dataTable>
                                    </p:column>

                                    <p:column>
                                        <p:outputLabel value="Notes: #{sessionBean.sessOccPermitApplication.submissionNotes}" />
                                    </p:column>                                    
                                </h:panelGrid>
                            </h:panelGroup>

                            <p:spacer height="10px"/>
                            
                            <p:outputLabel>Would you like to apply for more units?</p:outputLabel>
                            
                            <p:spacer height="10px"/>
                            
                            <p:commandButton ajax="false" value="Submit Application and Return to Unit List" action="#{occPermitApplicationBB.submitApplication('selectForApply')}"/>
                            
                            <p:commandButton ajax="false" value="Submit Application and Exit" action="#{occPermitApplicationBB.submitApplication('systemHome')}"/>
                            
                        </h:form>

                        
                        
                    </div>
                </f:view>

            </ui:define>
        </ui:composition>
    </h:body>
</html>

