<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns="http://www.w3.org/1999/xhtml">

    <h:form id="periodtype-growl-form">
        <p:growl id="periodtype-growl"
                 life="12000"
                 sticky="false"
                 keepAlive="true"
                 globalOnly="false"/>
    </h:form>
    <div class="two-column-page-flex-container">
        <div class="list-column">

            <p:panel id="periodtypetools-panel"
                     toggleable="true"
                     widgetVar="periodtypetools-panel-var"
                     collapsed="false">
                <f:facet name="header">
                    <h:outputText value="Permit File Type Tools"/>
                </f:facet>

                <h:form id="periodtypetools-form">
                    <div class="p-grid">
                        <div class="p-col-6">
                            <p:commandButton id="periodtype-create-init-button"
                                             value="Add Permit File Type"
                                             icon="pi pi-plus"
                                             actionListener="#{occPeriodTypeBB.onOccPeriodTypeAddInit}"
                                             update="@form:@parent:periodtype-addedit-form
                                             @form:@parent:periodtype-list-form
                                             @form"
                                             />
                        </div>
                    </div>
                </h:form>

            </p:panel>

            <p:panel id="periodtype-list-panel"
                     widgetVar="periodtype-panel-var"
                     toggleable="true"
                     collapsed="false">
                <f:facet name="header">
                    <h:outputText value="Permit File Types (#{occPeriodTypeBB.periodTypeList.size()})"/>
                </f:facet>

                <h:form id="periodtype-list-form">
                    <h:outputLabel value="show all municipalities?"
                                   for="show-allmunis-cbcb"
                                   styleClass="inline-spaced-control-label"/>
                    <p:selectBooleanCheckbox id="periodtype-show-allmunis-cbcb"
                                             value="#{occPeriodTypeBB.showAllMunis}" >
                        <p:ajax update="@form 
                                @form:@parent:periodtype-list-panel" 
                                listener="#{occPeriodTypeBB.refreshOccPeriodTypeList()}"/>
                    </p:selectBooleanCheckbox>

                    <h:outputText value="include inactive?"
                                  styleClass="inline-spaced-control-label"/>

                    <p:selectBooleanCheckbox id="periodtype-inactives"
                                             value="#{occPeriodTypeBB.includeInactiveOccPeriodTypes}">
                        <p:ajax update="@form 
                                @form:@parent:periodtype-list-panel"
                                listener="#{occPeriodTypeBB.refreshOccPeriodTypeList()}"/>
                    </p:selectBooleanCheckbox>

                    <p:spacer height="5px"/>

                    <p:dataTable id="periodtypeTable"
                                 value="#{occPeriodTypeBB.periodTypeList}"
                                 rendered="#{!empty occPeriodTypeBB.periodTypeList}"
                                 var="periodtype"
                                 tableStyleClass="primeDataTable">

                        <p:column headerText="Municipality"
                                  styleClass="centeredColumnContent"
                                  sortBy="#{periodtype.muni.muniName}">
                            <h:outputText value="#{periodtype.muni.muniName}"/>
                        </p:column>

                        <p:column headerText="Title"
                                  styleClass="centeredColumnContent">
                            <h:outputText value="#{periodtype.title}"/>
                        </p:column>

                        <p:column headerText="Actions"
                                  styleClass="centeredColumnContent">
                            <div class="restrict-main-contents-io-link">
                                <p:commandLink ajax="true"
                                               id="periodtype-viewperiodtype"
                                               style="#{periodtype.occPeriodTypeID == occPeriodTypeBB.currentOccPeriodType.occPeriodTypeID ? 'background-color: #dee461; color:black;':''}"
                                               styleClass="multiButtonLineButton"
                                               actionListener="#{occPeriodTypeBB.viewOccPeriodType(periodtype)}"
                                               update="@form:@parent:periodtype-addedit-form
                                               @form:@parent:periodtype-list-form
                                               @form:@parent:periodtype-growl-form"
                                               >
                                    <h:outputText
                                        value="#{periodtype.occPeriodTypeID == occPeriodTypeBB.currentOccPeriodType.occPeriodTypeID ? 'selected' : 'view'}"/>
                                </p:commandLink>
                                <p:spacer height="2px"/>
                                <h:outputText value="(ID: #{periodtype.occPeriodTypeID})"/>
                            </div>
                        </p:column>

                    </p:dataTable>
                </h:form>
            </p:panel>
        </div>
        <div class="object-column">
            <h:form id="periodtype-addedit-form">
                <p:panel id="periodtype-view-panel"
                         toggleable="true"
                         collapsed="false"
                         header="Permit File Type: #{occPeriodTypeBB.currentOccPeriodType.title}">
                    <p:commandButton id="periodtype-edit-cb"
                                     icon="pi pi-#{occPeriodTypeBB.editModeOccPeriodType ? 'save':'pencil'}"
                                     ajax="true"
                                     actionListener="#{occPeriodTypeBB.toggleOccPeriodTypeAddEditButtonChange}"
                                     value="#{occPeriodTypeBB.editModeOccPeriodType ? 'save edits' : 'edit'}"
                                     styleClass="inline-spaced-control-label"
                                     update="@form
                                     @form:@parent:periodtype-growl-form
                                     @form:@parent:periodtype-list-panel"/>
                    <div class="gray_button">
                        <p:commandButton id="periodtype-cancel-cb"
                                         ajax="true"
                                         value="Cancel"
                                         immediate="true"
                                         icon="pi pi-stop-circle"
                                         rendered="#{occPeriodTypeBB.editModeOccPeriodType}"
                                         actionListener="#{occPeriodTypeBB.onOperationOccPeriodTypeAddEditAbort}"
                                         update="@form"/>
                    </div>
                    <p:spacer height="5px" />

                    <div class="p-grid">
                        <div class="p-col-4 restrict-data-field-label-inline">
                            <h:outputText value="ID:"/>
                        </div>
                        <div class="p-col-8 restrict-data-field-value-inline">
                            <h:outputText value="#{occPeriodTypeBB.currentOccPeriodType.occPeriodTypeID}"
                                          rendered="#{occPeriodTypeBB.currentOccPeriodType.occPeriodTypeID ne 0}"/>
                            <h:outputText value="[new record]"
                                          rendered="#{occPeriodTypeBB.currentOccPeriodType.occPeriodTypeID eq 0}"/>
                        </div>
                        <div class="p-col-4 restrict-data-field-label-inline">
                            <h:outputText value="Municipality"/>
                        </div>
                        <div class="p-col-8 restrict-data-field-value-inline">
                            <h:outputText
                                value="#{occPeriodTypeBB.currentOccPeriodType.muni.muniName}"
                                rendered="#{!occPeriodTypeBB.editModeOccPeriodType}"/>

                            <p:selectOneMenu id="muni-list"
                                             value="#{occPeriodTypeBB.currentOccPeriodType.muni}" tabindex="10"
                                             rendered="#{occPeriodTypeBB.editModeOccPeriodType}"
                                             required="true">
                                <f:selectItem itemLabel="select Municipality..." noSelectionOption="true" />
                                <f:converter converterId="muniConverter"/>
                                <f:selectItems  id="muniList" value="#{occPeriodTypeBB.muniList}" 
                                                var="muni" 
                                                itemValue="#{muni}" 
                                                itemLabel="#{muni.muniName}"/>
                            </p:selectOneMenu>
                        </div>
                        <div class="p-col-4 restrict-data-field-label-inline">
                            <h:outputText value="Title:"/>
                        </div>
                        <div class="p-col-8 restrict-data-field-value-inline">
                            <h:outputText value="#{occPeriodTypeBB.currentOccPeriodType.title}"
                                          rendered="#{!occPeriodTypeBB.editModeOccPeriodType}"/>

                            <p:inputText id="periodtype-insert-title"
                                         value="#{occPeriodTypeBB.currentOccPeriodType.title}"
                                         required="true"
                                         rendered="#{occPeriodTypeBB.editModeOccPeriodType}"
                                         />
                        </div>

                        <div class="p-col-4 restrict-data-field-label-inline">
                            <h:outputText value="Description:"/>
                        </div>
                        <div class="p-col-8 restrict-data-field-value-inline">
                            <h:outputText value="#{occPeriodTypeBB.currentOccPeriodType.description}"
                                          rendered="#{!occPeriodTypeBB.editModeOccPeriodType}"/>

                            <p:inputText id="periodtype-insert-description"
                                         value="#{occPeriodTypeBB.currentOccPeriodType.description}"
                                         rendered="#{occPeriodTypeBB.editModeOccPeriodType}"
                                         />
                        </div>

                        <div class="p-col-4 restrict-data-field-label-inline">
                            <h:outputText value="Task Chain:"/>
                        </div>
                        <div class="p-col-8 restrict-data-field-value-inline">
                            <h:outputText
                                value="#{occPeriodTypeBB.currentOccPeriodType.chain.title} (ID:#{occPeriodTypeBB.currentOccPeriodType.chain.chainID})"
                                rendered="#{!occPeriodTypeBB.editModeOccPeriodType and not empty occPeriodTypeBB.currentOccPeriodType.chain}"/>

                            <p:selectOneMenu id="chain-list"
                                             value="#{occPeriodTypeBB.currentOccPeriodType.chain}"
                                             rendered="#{occPeriodTypeBB.editModeOccPeriodType}"
                                             required="true">
                                <f:converter converterId="taskChainConverter"/>
                                <f:selectItems  id="chainlist-selitms" value="#{occPeriodTypeBB.taskChainList}" 
                                                var="chain" 
                                                itemValue="#{chain}" 
                                                itemLabel="#{chain.title}"/>
                            </p:selectOneMenu>
                        </div>

                        <div class="p-col-4 restrict-data-field-label-inline">
                            <h:outputText value="Allowed permit types:"/>
                        </div>
                        <div class="p-col-8 restrict-data-field-value-inline">
                            <ui:repeat id="permit-types-uir"
                                       value="#{occPeriodTypeBB.currentOccPeriodType.permitTypes}"
                                       var="permittype"
                                       rendered="#{!occPeriodTypeBB.editModeOccPeriodType}">
                                <h:outputText value="#{permittype.title} (#{permittype.muni.muniName})" />
                                <p:spacer height="3px" />

                            </ui:repeat>

                            <p:selectManyMenu id="permittypes-list"
                                              value="#{occPeriodTypeBB.currentOccPeriodType.permitTypes}"
                                              rendered="#{occPeriodTypeBB.editModeOccPeriodType}"
                                              required="true">
                                <f:converter converterId="occPermitTypeConverter"/>
                                <f:selectItems  id="permittype-selitems" 
                                                value="#{occPeriodTypeBB.permitTypeList}" 
                                                var="pt" 
                                                itemValue="#{pt}" 
                                                itemLabel="#{pt.title} (#{pt.muni.muniName})"/>
                            </p:selectManyMenu>
                            <p:spacer height="2px" />
                            <h:outputText value="hold down control and click to select multiple permit types."
                                          styleClass="italic" 
                                          rendered="#{occPeriodTypeBB.editModeOccPeriodType}"/>
                        </div>

                        <div class="p-col-4 ">
                            <div class="restrict-data-field-label-inline">
                                <h:outputText value="Default inspection checklist" />
                            </div>
                            <p:spacer height="3px" />
                            <h:outputText value="This checklist will be used during quick dispatch functions and will be the selected checklist in the occ period creation form." 
                                          styleClass="small-text italic"/>
                        </div>
                        <div class="p-col-8 restrict-data-field-value-inline">

                            <h:outputText value="#{occPeriodTypeBB.currentOccPeriodType.defaultInspectionChecklist.title} (ID:#{occPeriodTypeBB.currentOccPeriodType.defaultInspectionChecklist.inspectionChecklistID})" 
                                          rendered="#{not occPeriodTypeBB.editModeOccPeriodType and not empty occPeriodTypeBB.currentOccPeriodType.defaultInspectionChecklist}"/>
                            <h:outputText value="[no default checklist selected]" 
                                          rendered="#{not occPeriodTypeBB.editModeOccPeriodType and empty occPeriodTypeBB.currentOccPeriodType.defaultInspectionChecklist}"
                                          styleClass="italic"/>

                            <p:spacer height="3px" />

                            <p:selectOneMenu id="opt-defaultchecklist-som"
                                             value="#{occPeriodTypeBB.currentOccPeriodType.defaultInspectionChecklist}"
                                             converter="checklistConverter"
                                             filter="true"
                                             filterMatchMode="contains"
                                             rendered="#{occPeriodTypeBB.editModeOccPeriodType}">
                                <f:selectItem  itemLabel="Select a checklist OR No default checklist" 
                                               noSelectionOption="true"
                                               itemDisabled="false"
                                               itemValue="#{null}"/>

                                <f:selectItems value="#{occPeriodTypeBB.inspectionChecklistCandidateList}"
                                               var="checklist"
                                               itemValue="#{checklist}"
                                               itemLabel="#{checklist.title} - #{checklist.muni.muniName} (ID: #{checklist.inspectionChecklistID})" />
                            </p:selectOneMenu>                         
                        </div>

                        <div class="p-col-4 restrict-data-field-label-inline">
                            <h:outputText value="Reinspection window days:"/>
                        </div>
                        <div class="p-col-8 restrict-data-field-value-inline">
                            <h:outputText value="#{occPeriodTypeBB.currentOccPeriodType.reinspectionWindowDays}"
                                          rendered="#{!occPeriodTypeBB.editModeOccPeriodType}"/>
                            <p:inputNumber id="pertype-reinspectionwindow-in" 
                                           value="#{occPeriodTypeBB.currentOccPeriodType.reinspectionWindowDays}" 
                                           rendered="#{occPeriodTypeBB.editModeOccPeriodType}"/>
                        </div>
                        <div class="p-col-4 restrict-data-field-label-inline">
                            <h:outputText value="Default permit file origination event category"/>
                        </div>
                        <div class="p-col-8 restrict-data-field-value-inline">

                            <h:outputText value="#{occPeriodTypeBB.currentOccPeriodType.defaultOriginationEventCategory.eventCategoryTitle} (ID:#{occPeriodTypeBB.currentOccPeriodType.defaultOriginationEventCategory.categoryID})"
                                          rendered="#{!occPeriodTypeBB.editModeOccPeriodType and not empty occPeriodTypeBB.currentOccPeriodType.defaultOriginationEventCategory}"/>

                            <p:selectOneMenu id="event-fileorigin-som" 
                                             required="false" 
                                             value="#{occPeriodTypeBB.currentOccPeriodType.defaultOriginationEventCategory}" 
                                             rendered="#{occPeriodTypeBB.editModeOccPeriodType}"
                                             converter="eventCategoryConverter"
                                             filter="true"
                                             filterMatchMode="contains"
                                             >
                                <f:selectItem noSelectionOption="true"
                                              itemLabel="Do not auto-select origination event category" />
                                <f:selectItems value="#{occPeriodTypeBB.originationEventCategoryCandidateList}"
                                               var="evcat"
                                               itemValue="#{evcat}"
                                               itemLabel="#{evcat.eventType.label}: #{evcat.eventCategoryTitle} "/>
                            </p:selectOneMenu>
                        </div>


                        <div class="p-col-4 restrict-data-field-label-inline">
                            <h:outputText value="Active record?"/>
                        </div>
                        <div class="p-col-8 restrict-data-field-value-inline">
                            <h:outputText value="#{occPeriodTypeBB.currentOccPeriodType.active ? 'Yes' : 'No'}"
                                          rendered="#{!occPeriodTypeBB.editModeOccPeriodType and not empty occPeriodTypeBB.currentOccPeriodType}"/>
                            <p:selectBooleanCheckbox id="periodtype-require-ZB" value="#{occPeriodTypeBB.currentOccPeriodType.active}"
                                                     rendered="#{occPeriodTypeBB.editModeOccPeriodType}"/>
                        </div>
                    </div>
                </p:panel>
            </h:form>
        </div>
    </div>

    <p:dialog id="periodtype-nuke-dialog"
              widgetVar="periodtype-nuke-dialog-var"
              header="Nuke OccPeriod Type"
              closeOnEscape="true"
              closable="true"
              resizable="true"
              responsive="true"
              height="300" width="550"
              rendered="true"
              >

        <h:form id="periodtype-nuke-form">
            <div class="ui-g data_container_nested_restrict">
                <div class="ui-g-12 ui-md-6 ui-lg-6 restrict-data-field">
                    <div class="restrict-data-field-label-inline">
                        <h:outputLabel>
                            <h:outputText
                                value="Nuked OccPeriod Types can only be rescued by sys admins...and they will grumble while doing so."/>
                        </h:outputLabel>
                    </div>
                </div>
                <div class="ui-g-12 ui-md-6 ui-lg-6 restrict-data-field">
                    <div class="restrict-main-contents-io-button red_button">
                        <p:commandButton id="periodtype-nuke-confirm-button"
                                         ajax="true"
                                         action="#{occPeriodTypeBB.onOccPeriodTypeNukeCommitButtonChange()}"
                                         value="Nuke OccPeriod Type"
                                         icon="pi pi-trash"
                                         oncomplete="PF('periodtype-nuke-dialog-var').hide();"
                                         update="@form:@parent:periodtype-list-panel
                                         @form:@parent:periodtype-addedit-form
                                         @form:@parent:periodtype-growl-form"
                                         rendered="true"
                                         />
                    </div>
                </div>
            </div>
        </h:form>
    </p:dialog>
</ui:composition>