<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns="http://www.w3.org/1999/xhtml">
    <h:form id="tasks-growl-form">
        <p:growl id="tasks-growl"
                 life="12000"
                 sticky="false"
                 keepAlive="true"
                 globalOnly="false"/>
    </h:form>
   
    <h:form id="chain-tree-form">
        <p:scrollPanel style="width:100%; height: 250px" >
            <p:tree id="tasktree"
                    value="#{taskManageBB.treeRoot}"
                    var="spec"
                    orientation="horizontal">
                <p:treeNode>
                    <h:outputText value="#{spec.title}"
                                  style="font-size: 0.7em;"/>
                    <p:spacer height="2px" />
                    <p:commandLink id="task-tree-viweedit-cl"
                                   value="view/edit"
                                   type="button"
                                   style="font-weight: bold; color: blue;"
                                   actionListener="#{taskManageBB.onTaskSpecViewEdit(spec)}" 
                                   oncomplete="PF('task-spec-addedit-dialog-var').show();"
                                   update="@form:@parent:task-spec-addedit-dialog
                                   @form:@parent:task-spec-addedit-form"/>

                </p:treeNode>

            </p:tree>
        </p:scrollPanel>
    </h:form>
    <div class="two-column-page-flex-container">
        <div class="list-column">

            <p:panel id="taskstools-panel"
                     toggleable="true"
                     widgetVar="taskstools-panel-var"
                     collapsed="false">
                <f:facet name="header">
                    <h:outputText value="Task chain Tools"/>
                </f:facet>

                <h:form id="taskstools-form">
                    <div class="p-grid">
                        <div class="p-col-6">
                            <p:commandButton id="tasks-create-init-button"
                                             value="Add Task Chain"
                                             icon="pi pi-plus"
                                             actionListener="#{taskManageBB.onTaskChainCreateInit}"
                                             update="@form:@parent:chain-list-panel
                                             @form:@parent:chain-list-form
                                             @form:@parent:chain-addedit-panel
                                             @form:@parent:chain-addedit-form
                                             @form:@parent:tasks-addedit-form
                                             @form:@parent:tasks-addedit-form
                                             "
                                             />
                        </div>
                    </div>
                </h:form>
            </p:panel>

            <p:panel id="chain-list-panel"
                     widgetVar="chain-panel-var"
                     toggleable="true"
                     collapsed="false">
                <f:facet name="header">
                    <h:outputText value="Permitting Task Chains (#{taskManageBB.taskChains.size()})"/>
                </f:facet>

                <h:form id="chain-list-form">
                    <h:outputLabel value="show all municipalities?"
                                   for="show-allmunis-cbcb"
                                   styleClass="inline-spaced-control-label"
                                   rendered="true"/>
                    <p:selectBooleanCheckbox id="show-allmunis-cbcb"
                                             value="#{taskManageBB.showChainsAllMunis}" 
                                             rendered="true">

                        <p:ajax update="@form 
                                @form:@parent:chain-list-panel" 
                                listener="#{taskManageBB.refreshTaskChainList()}"/>
                    </p:selectBooleanCheckbox>

                    <h:outputText value="include inactive?"
                                  styleClass="inline-spaced-control-label"
                                  rendered="true"/>

                    <p:selectBooleanCheckbox id="tasks-inactives"
                                             value="#{taskManageBB.showChainsInactive}"
                                             rendered="true">
                        <p:ajax update="@form @form:@parent:chain-list-panel" 
                                listener="#{taskManageBB.refreshTaskChainList()}"/>

                    </p:selectBooleanCheckbox>

                    <p:spacer height="5px"/>

                    <p:dataTable id="chain-table"
                                 value="#{taskManageBB.taskChains}"
                                 rendered="#{!empty taskManageBB.taskChains}"
                                 var="chain"
                                 tableStyleClass="primeDataTable">

                        <p:column headerText="Municipality"
                                  styleClass="centeredColumnContent">
                            <h:outputText value="#{chain.muni.muniName}"
                                          rendered="#{!empty chain.muni}"/>
                        </p:column>

                        <p:column headerText="Title"
                                  styleClass="centeredColumnContent">
                            <h:outputText value="#{chain.title}"/>
                        </p:column>


                        <p:column headerText="Actions"
                                  styleClass="centeredColumnContent">
                            <div class="restrict-main-contents-io-link">
                                <p:commandLink ajax="true"
                                               id="chain-view-cl"
                                               style="#{chain.chainID == taskManageBB.currentTaskChain.chainID ? 'background-color: #dee461; color:black;':''}"
                                               styleClass="multiButtonLineButton"
                                               actionListener="#{taskManageBB.viewTaskChain(chain)}"
                                               update="@form
                                               @form:@parent:chain-list-panel
                                               @form:@parent:chain-list-form
                                               @form:@parent:chain-addedit-panel
                                               @form:@parent:chain-addedit-form
                                               @form:@parent:tasks-addedit-form
                                               @form:@parent:tasks-addedit-form
                                               @form:@parent:chain-tree-form">
                                    <h:outputText
                                        value="#{chain.chainID == taskManageBB.currentTaskChain.chainID ? 'selected' : 'view'}"/>
                                </p:commandLink>
                                <p:spacer height="2px"/>
                                <h:outputText value="(ID: #{chain.chainID})"/>
                            </div>

                            <p:spacer height="2px"/>

                            <div class="restrict-main-contents-io-link">

                                <p:commandLink id="tasks-nuke-button"
                                               ajax="true"
                                               rendered="#{chain.active}"
                                               disabled="false"
                                               title="deactivate"
                                               actionListener="#{taskManageBB.onDeacTaskChainInit}"
                                               oncomplete="PF('task-chain-nuke-dialog-var').show()"
                                               update="@form:@parent:task-chain-nuke-dialog
                                               @form:@parent:task-chain-nuke-form">
                                    <h:outputText value="deactivate"/>
                                </p:commandLink>

                            </div>

                        </p:column>

                    </p:dataTable>
                </h:form>
            </p:panel>
        </div>
        <div class="object-column">
            <p:panel id="chain-addedit-panel"
                     toggleable="true"
                     collapsed="false"
                     header="Task Chain: #{taskManageBB.currentTaskChain.title} (ID:#{taskManageBB.currentTaskChain.chainID})">
                <h:form id="chain-addedit-form">
                    <p:commandButton id="tasks-edit-cb"
                                     icon="pi pi-#{taskManageBB.editModeTaskChain ? 'save':'pencil'}"
                                     ajax="true"
                                     actionListener="#{taskManageBB.toggleTaskChainAddEdit}"
                                     value="#{taskManageBB.editModeTaskChain ? 'save edits' : 'edit'}"
                                     styleClass="inline-spaced-control-label"
                                     update="@form
                                     @form:@parent:chain-addedit-panel
                                     @form:@parent:chain-list-panel
                                     @form:@parent:chain-list-form"/>
                    <div class="gray_button">
                        <p:commandButton id="tasks-cancel-cb"
                                         ajax="true"
                                         value="Cancel"
                                         immediate="true"
                                         icon="pi pi-stop-circle"
                                         rendered="#{taskManageBB.editModeTaskChain}"
                                         actionListener="#{taskManageBB.onAbortTaskChainEditOperation}"
                                         update="@form"/>
                    </div>
                    <div class="p-grid">
                        <div class="p-col-4 restrict-data-field-label-inline">
                            <h:outputText value="ID:"/>
                        </div>
                        <div class="p-col-8 restrict-data-field-value-inline">
                            <h:outputText value="#{taskManageBB.currentTaskChain.chainID}"
                                          rendered="#{taskManageBB.currentTaskChain.chainID ne 0}"/>
                            <h:outputText value="[new record]"
                                          rendered="#{taskManageBB.currentTaskChain.chainID eq 0}"/>
                        </div>
                        <div class="p-col-4 restrict-data-field-label-inline">
                            <h:outputText value="Municipality"/>
                        </div>
                        <div class="p-col-8 restrict-data-field-value-inline">
                            <h:outputText
                                value="#{taskManageBB.currentTaskChain.muni.muniName}"
                                rendered="#{!taskManageBB.editModeTaskChain}"/>

                            <p:selectOneMenu id="muni-list"
                                             value="#{taskManageBB.currentTaskChain.muni}" 
                                             rendered="#{taskManageBB.editModeTaskChain}"
                                             required="true">
                                <f:selectItem itemLabel="select Municipality..." noSelectionOption="true" />
                                <f:converter converterId="muniConverter"/>
                                <f:selectItems  id="muniList" value="#{systemServicesBB.municipalityListForSearch}" 
                                                var="muni" 
                                                itemValue="#{muni}" 
                                                itemLabel="#{muni.muniName}"/>
                            </p:selectOneMenu>
                        </div>
                        <div class="p-col-4 restrict-data-field-label-inline">
                            <h:outputText value="Title:"/>
                        </div>
                        <div class="p-col-8 restrict-data-field-value-inline">
                            <h:outputText value="#{taskManageBB.currentTaskChain.title}"
                                          rendered="#{!taskManageBB.editModeTaskChain}"/>

                            <p:inputText id="tasks-insert-title"
                                         value="#{taskManageBB.currentTaskChain.title}"
                                         required="true"
                                         rendered="#{taskManageBB.editModeTaskChain}"
                                         />
                        </div>

                        <div class="p-col-4 restrict-data-field-label-inline">
                            <h:outputText value="Description:"/>
                        </div>
                        <div class="p-col-8 restrict-data-field-value-inline">
                            <h:outputText value="#{taskManageBB.currentTaskChain.description}"
                                          rendered="#{!taskManageBB.editModeTaskChain}"/>

                            <p:inputText id="tasks-insert-description"
                                         value="#{taskManageBB.currentTaskChain.description}"
                                         required="false"
                                         rendered="#{taskManageBB.editModeTaskChain}"
                                         />
                        </div>

                        <div class="p-col-4 restrict-data-field-label-inline">
                            <h:outputText value="Governing Ordinance"/>
                        </div>
                        <div class="p-col-8 restrict-data-field-value-inline">
                            <h:outputText value="#{taskManageBB.currentTaskChain.governingOrdinance.headerString}"
                                          rendered="#{!taskManageBB.editModeTaskChain and not empty taskManageBB.currentTaskChain.governingOrdinance}"/>

                        </div>

                        <div class="p-col-4 restrict-data-field-label-inline">
                            <h:outputText value="Active record?"/>
                        </div>
                        <div class="p-col-8 restrict-data-field-value-inline">
                            <h:outputText value="#{taskManageBB.currentTaskChain.active ? 'Yes' : 'No'}" />
                        </div>
                    </div>
                </h:form>
            </p:panel>

            <p:panel id="tasks-addedit-panel"
                     toggleable="true"
                     collapsed="false"
                     header="Tasks in Chain (#{taskManageBB.currentTaskChain.taskList.size()})">
                <h:form id="tasks-addedit-form">
                    <p:commandButton id="task-create-init-button"
                                     value="Add Task"
                                     icon="pi pi-plus"
                                     actionListener="#{taskManageBB.onTaskSpecCreateInit}"
                                     oncomplete="PF('task-spec-addedit-dialog-var').show();"
                                     update="@form:@parent:task-spec-addedit-dialog
                                     @form:@parent:task-spec-addedit-form"
                                     rendered="#{not empty taskManageBB.currentTaskChain}"
                                     />

                    <p:divider type="solid" />

                    <p:tree id="tasktreev"
                            value="#{taskManageBB.treeRoot}"
                            var="node"
                            orientation="vertical">
                        <p:treeNode>
                            <h:outputText value="#{node}" 
                                          style="font-size: 0.7em;"/>
                        </p:treeNode>

                    </p:tree>

                    <p:divider type="solid" />

                    <p:orderList    id="tasks-orderedlist"
                                    value="#{taskManageBB.currentTaskChain.taskList}"
                                    var="task"
                                    itemValue="#{task}"
                                    responsive="true"
                                    converter="taskSpecificationConverter"
                                    controlsLocation="right"
                                    rendered="#{not empty taskManageBB.currentTaskChain.taskList}">

                        <f:facet name="caption">Occupancy period tasks sequence</f:facet>
                        <p:column style="width:10%" >
                            <i class="material-icons">
                                <h:outputText   value="#{task.taskType.materialIcon}"
                                                rendered="#{!empty task.taskType}"/>
                            </i>
                        </p:column>


                        <p:column style="width:15%" >
                            <h:outputText value="Type: #{task.taskType.title}"
                                          rendered="#{not empty task.taskType}"/>
                        </p:column>
                        <p:column style="width:25%" >
                            <h:outputText value="#{task.title}" />
                        </p:column>

                        <p:column style="width:15%" >
                            <h:outputText value="Due type: #{task.taskDueDateType.title}"
                                          rendered="#{not empty task.taskDueDateType}"/>
                        </p:column>

                        <p:column style="width:15%" >
                            <p:commandLink id="task-edit-cl-ordlist"
                                           value="view/edit task (ID: #{task.taskSpecID})"
                                           type="button"
                                           style="font-weight: bold; color: blue;"
                                           actionListener="#{taskManageBB.onTaskSpecViewEdit(task)}" 
                                           oncomplete="PF('task-spec-addedit-dialog-var').show();"
                                           update="@form:@parent:task-spec-addedit-dialog
                                           @form:@parent:task-spec-addedit-form"/>
                        </p:column>


                    </p:orderList>


                    <h2>Task sequence: UIR</h2>
                    <ui:repeat id="tasks-uir"
                               value="#{taskManageBB.currentTaskChain.taskList}"
                               var="task">
                        <div class='p-grid'>
                            <div class="p-col-2">
                                <i class="material-icons">
                                    <h:outputText   value="#{task.taskType.materialIcon}"
                                                    rendered="#{!empty task.taskType}"/>
                                </i>
                            </div>

                            <div class="p-col-8">
                                <div class="task-title">
                                    <h:outputText value="#{task.title}" />
                                </div>
                                <div class="task-description">
                                    <h:outputText value="#{task.description}" />
                                </div>
                            </div>
                            <div class="p-col-3 restrict-data-field-label-inline">
                                <h:outputText value="Task type:"/>
                            </div>
                            <div class="p-col-3 restrict-data-field-value-inline">
                                <h:outputText value="#{task.taskType.title}"
                                              rendered="#{not empty task.taskType}"/>
                            </div>

                            <div class="p-col-3 restrict-data-field-label-inline">
                                <h:outputText value="Due date type"/>
                            </div>
                            <div class="p-col-3 restrict-data-field-value-inline">
                                <h:outputText value="#{task.taskDueDateType.title}"
                                              rendered="#{not empty task.taskDueDateType}"/>
                            </div>

                            <div class="p-col-3 restrict-data-field-label-inline">
                                <h:outputText value="Assign to role:"/>
                            </div>
                            <div class="p-col-3 restrict-data-field-value-inline">
                                <h:outputText value="#{task.assignedToRole.title}"
                                              rendered="#{not empty task.assignedToRole}"/>
                            </div>

                            <div class="p-col-3 restrict-data-field-label-inline">
                                <h:outputText value="Predecessor task:"/>
                            </div>
                            <div class="p-col-3 restrict-data-field-value-inline">
                                <h:outputText value="#{task.predecessor.title} (ID:#{task.predecessor.taskSpecID})"
                                              rendered="#{not empty task.predecessor}"/>
                            </div>

                            <div class="p-col-3 restrict-data-field-label-inline">
                                <h:outputText value="Generation:"/>
                            </div>
                            <div class="p-col-3 restrict-data-field-value-inline">
                                <h:outputText value="#{task.generation}"
                                              rendered="true"/>
                            </div>

                            <div class="p-col-3 restrict-data-field-label-inline">
                                <h:outputText value="Relationship to Predecessor:"/>
                            </div>
                            <div class="p-col-3 restrict-data-field-value-inline">
                                <h:outputText value="#{task.predecessorRole.title}"
                                              rendered="#{not empty task.predecessorRole}"/>
                            </div>

                            <div class="p-col-3 restrict-data-field-label-inline">
                                <h:outputText value="Predcessor buffer default (days):"/>
                            </div>
                            <div class="p-col-3 restrict-data-field-value-inline">
                                <h:outputText value="#{task.predecessorBufferDaysDefault}"
                                              rendered="true"/>
                            </div>

                            <div class="p-col-3 restrict-data-field-label-inline">
                                <h:outputText value="Reminder/Documentation Event Category:" />
                            </div>
                            <div class="p-col-3 restrict-data-field-value-inline">
                                <h:outputText   id="taskspec-eventcat-ot"
                                                value="#{task.eventCategoryForCompletion.eventCategoryTitle} (ID:#{task.eventCategoryForCompletion.categoryID})" 
                                                rendered="#{!empty task.eventCategoryForCompletion}"/>
                            </div>
                            <div class="p-col-3 restrict-data-field-label-inline">
                                <h:outputText value="Estimated duration (mins):"/>
                            </div>
                            <div class="p-col-3 restrict-data-field-value-inline">
                                <h:outputText value="#{task.expectedCompletionDurationDefault}"
                                              rendered="true"/>
                            </div>

                            <div class="p-col-3 restrict-data-field-label-inline">
                                <h:outputText value="Notification default:"/>
                            </div>
                            <div class="p-col-3 restrict-data-field-value-inline">
                                <h:outputText value="#{task.notificationStatusDefault}"
                                              rendered="true"/>
                            </div>
                            <div class="p-col-12 restrict-data-field-label-inline">
                                <p:commandLink id="task-edit-cl"
                                               value="view/edit task (ID: #{task.taskSpecID})"
                                               type="button"
                                               style="font-weight: bold; color: blue;"
                                               actionListener="#{taskManageBB.onTaskSpecViewEdit(task)}" 
                                               oncomplete="PF('task-spec-addedit-dialog-var').show();"
                                               update="@form:@parent:task-spec-addedit-dialog
                                               @form:@parent:task-spec-addedit-form"/>
                            </div>
                        </div>
                        <p:divider />
                    </ui:repeat>
                </h:form>
            </p:panel>
        </div>
    </div>



    <p:dialog id="task-spec-addedit-dialog"
              widgetVar="task-spec-addedit-dialog-var"
              header="Add/Edit Task Specification: #{taskManageBB.currentTaskSpec.taskSpecID}"
              closeOnEscape="true"
              closable="true"
              resizable="true"
              responsive="true"
              height="500" width="850"
              rendered="true"
              >

        <h:form id="task-spec-addedit-form">
            <p:commandButton id="spec-edit-cb"
                             icon="pi pi-#{taskManageBB.editModeTaskSpec ? 'save':'pencil'}"
                             ajax="true"
                             actionListener="#{taskManageBB.toggleTaskSpecAddEdit}"
                             value="#{taskManageBB.editModeTaskSpec ? 'save edits' : 'edit'}"
                             styleClass="inline-spaced-control-label"
                             update="@form
                             @form:@parent:tasks-growl-form
                             @form:@parent:tasks-addedit-panel
                             @form:@parent:tasks-addedit-form
                             @form:@parent:chain-tree-form"/>
            <div class="gray_button">
                <p:commandButton id="spec-cancel-cb"
                                 ajax="true"
                                 value="Cancel"
                                 immediate="true"
                                 icon="pi pi-stop-circle"
                                 rendered="#{taskManageBB.editModeTaskSpec}"
                                 actionListener="#{taskManageBB.onAbortTaskSpecEditOperation}"
                                 update="@form"/>
            </div>
            <div class="p-grid">
                <div class="p-col-4 restrict-data-field-label-inline">
                    <h:outputText value="ID:"/>
                </div>
                <div class="p-col-8 restrict-data-field-value-inline">
                    <h:outputText value="#{taskManageBB.currentTaskSpec.taskSpecID}"
                                  rendered="#{taskManageBB.currentTaskSpec.taskSpecID ne 0}"/>
                    <h:outputText value="[new record]"
                                  rendered="#{taskManageBB.currentTaskSpec.taskSpecID eq 0}"/>
                </div>
                <div class="p-col-4 restrict-data-field-label-inline">
                    <h:outputText value="Task name:"/>
                </div>
                <div class="p-col-8 restrict-data-field-value-inline">
                    <h:outputText value="#{taskManageBB.currentTaskSpec.title}"
                                  rendered="#{!taskManageBB.editModeTaskSpec}"/>

                    <p:inputText id="spec-title-it"
                                 value="#{taskManageBB.currentTaskSpec.title}"
                                 required="true"
                                 rendered="#{taskManageBB.editModeTaskSpec}"
                                 />
                </div>
                <div class="p-col-4 restrict-data-field-label-inline">
                    <h:outputText value="Description:"/>
                </div>
                <div class="p-col-8 restrict-data-field-value-inline">
                    <h:outputText value="#{taskManageBB.currentTaskSpec.description}"
                                  rendered="#{!taskManageBB.editModeTaskSpec}"/>

                    <p:inputText id="spec-descr-it"
                                 value="#{taskManageBB.currentTaskSpec.description}"
                                 required="true"
                                 rendered="#{taskManageBB.editModeTaskSpec}"
                                 />
                </div>

                <div class="p-col-4 restrict-data-field-label-inline">
                    <h:outputText value="Task type:"/>
                </div>
                <div class="p-col-8 restrict-data-field-value-inline">
                    <h:outputText value="#{taskManageBB.currentTaskSpec.taskType.title}"
                                  rendered="#{!taskManageBB.editModeTaskSpec and not empty taskManageBB.currentTaskSpec.taskType}"/>
                    <p:selectOneMenu id="task-type-som" 
                                     required="true" 
                                     value="#{taskManageBB.currentTaskSpec.taskType}" 
                                     rendered="#{taskManageBB.editModeTaskSpec}"
                                     >
                        <f:selectItems value="#{taskManageBB.taskTypeCandidates}"
                                       var="tt"
                                       itemValue="#{tt}"
                                       itemLabel="#{tt.title}"/>
                    </p:selectOneMenu>
                </div>

                <div class="p-col-4 restrict-data-field-label-inline">
                    <h:outputText value="Due date type"/>
                </div>
                <div class="p-col-8 restrict-data-field-value-inline">
                    <h:outputText value="#{taskManageBB.currentTaskSpec.taskDueDateType.title}"
                                  rendered="#{!taskManageBB.editModeTaskSpec and not empty taskManageBB.currentTaskSpec.taskDueDateType}"/>
                    <p:selectOneMenu id="task-due-som" 
                                     required="true" 
                                     value="#{taskManageBB.currentTaskSpec.taskDueDateType}" 
                                     rendered="#{taskManageBB.editModeTaskSpec}"
                                     >
                        <f:selectItems value="#{taskManageBB.taskDueDateTypeCandidates}"
                                       var="ddt"
                                       itemValue="#{ddt}"
                                       itemLabel="#{ddt.title}"/>
                    </p:selectOneMenu>
                </div>

                <div class="p-col-4 restrict-data-field-label-inline">
                    <h:outputText value="Assign to role:"/>
                </div>
                <div class="p-col-8 restrict-data-field-value-inline">
                    <h:outputText value="#{taskManageBB.currentTaskSpec.assignedToRole.title}"
                                  rendered="#{!taskManageBB.editModeTaskSpec and not empty taskManageBB.currentTaskSpec.assignedToRole}"/>
                    <p:selectOneMenu id="task-assignmentrole-som" 
                                     required="true" 
                                     value="#{taskManageBB.currentTaskSpec.assignedToRole}" 
                                     rendered="#{taskManageBB.editModeTaskSpec}"
                                     >
                        <f:selectItems value="#{taskManageBB.taskRoleCandidates}"
                                       var="role"
                                       itemValue="#{role}"
                                       itemLabel="#{role.title}"/>
                    </p:selectOneMenu>
                </div>

                <div class="p-col-4 restrict-data-field-label-inline">
                    <h:outputText value="Predecessor task:"/>
                </div>
                <div class="p-col-8 restrict-data-field-value-inline">
                    <h:outputText value="#{taskManageBB.currentTaskSpec.predecessor.title} (ID:#{taskManageBB.currentTaskSpec.predecessor.taskSpecID})"
                                  rendered="#{!taskManageBB.editModeTaskSpec and not empty taskManageBB.currentTaskSpec.predecessor}"/>
                    <p:selectOneMenu id="task-predecessor-som" 
                                     required="false" 
                                     value="#{taskManageBB.currentTaskSpec.predecessor}" 
                                     rendered="#{taskManageBB.editModeTaskSpec}"
                                     converter="taskSpecificationConverter"
                                     >
                        <f:selectItems value="#{taskManageBB.currentTaskChain.taskList}"
                                       var="task"
                                       itemValue="#{task}"
                                       itemLabel="#{task.title}"/>
                    </p:selectOneMenu>
                </div>
                <div class="p-col-4 restrict-data-field-label-inline">
                    <h:outputText value="Generation:"/>
                </div>
                <div class="p-col-8 restrict-data-field-value-inline">
                    <h:outputText value="#{taskManageBB.currentTaskSpec.generation}"
                                  rendered="#{!taskManageBB.editModeTaskSpec}"/>

                    <p:inputNumber id="task-gen-inum"
                                   value="#{taskManageBB.currentTaskSpec.generation}"
                                   required="true"
                                   rendered="#{taskManageBB.editModeTaskSpec}"
                                   />
                </div>

                <div class="p-col-4 restrict-data-field-label-inline">
                    <h:outputText value="Relationship to Predecessor:"/>
                </div>
                <div class="p-col-8 restrict-data-field-value-inline">
                    <h:outputText value="#{taskManageBB.currentTaskSpec.predecessorRole.title}"
                                  rendered="#{!taskManageBB.editModeTaskSpec and not empty taskManageBB.currentTaskSpec.predecessorRole}"/>
                    <p:selectOneMenu id="task-predrole-som" 
                                     required="true" 
                                     value="#{taskManageBB.currentTaskSpec.predecessorRole}" 
                                     rendered="#{taskManageBB.editModeTaskSpec}"
                                     >
                        <f:selectItems value="#{taskManageBB.taskSequenceTypeCandidates}"
                                       var="seqtype"
                                       itemValue="#{seqtype}"
                                       itemLabel="#{seqtype.title}"/>
                    </p:selectOneMenu>
                </div>

                <div class="p-col-4 restrict-data-field-label-inline">
                    <h:outputText value="Predcessor buffer default (days):"/>
                </div>
                <div class="p-col-8 restrict-data-field-value-inline">
                    <h:outputText value="#{taskManageBB.currentTaskSpec.predecessorBufferDaysDefault}"
                                  rendered="#{!taskManageBB.editModeTaskSpec}"/>

                    <p:inputNumber id="task-predbuffer-inum"
                                   value="#{taskManageBB.currentTaskSpec.predecessorBufferDaysDefault}"
                                   required="true"
                                   rendered="#{taskManageBB.editModeTaskSpec}"
                                   />
                </div>

                <div class="p-col-4 restrict-data-field-label-inline">
                    <h:outputText value="Reminder/Documentation Event Category:" />
                </div>
                <div class="p-col-8 restrict-data-field-value-inline">
                    <h:outputText   id="taskspec-eventcat-ot"
                                    value="#{taskManageBB.currentTaskSpec.eventCategoryForCompletion.eventCategoryTitle} (ID:#{taskManageBB.currentTaskSpec.eventCategoryForCompletion.categoryID})" 
                                    rendered="#{!taskManageBB.editModeTaskSpec and not empty taskManageBB.currentTaskSpec.eventCategoryForCompletion}"/>
                    <p:selectOneMenu id="task-eventcat-som" 
                                     required="true" 
                                     value="#{taskManageBB.currentTaskSpec.eventCategoryForCompletion}" 
                                     rendered="#{taskManageBB.editModeTaskSpec}"
                                     converter="eventCategoryConverter"
                                     filter="true"
                                     filterMatchMode="contains"
                                     >
                        <f:selectItems value="#{taskManageBB.eventCategoryCandidates}"
                                       var="evcat"
                                       itemValue="#{evcat}"
                                       itemLabel="#{evcat.eventType.label}: #{evcat.eventCategoryTitle} "/>
                    </p:selectOneMenu>

                </div>
                <div class="p-col-4 restrict-data-field-label-inline">
                    <h:outputText value="Estimated duration (mins):"/>
                </div>
                <div class="p-col-8 restrict-data-field-value-inline">
                    <h:outputText value="#{taskManageBB.currentTaskSpec.expectedCompletionDurationDefault}"
                                  rendered="#{!taskManageBB.editModeTaskSpec}"/>

                    <p:inputNumber id="task-expectedduration-inum"
                                   value="#{taskManageBB.currentTaskSpec.expectedCompletionDurationDefault}"
                                   required="true"
                                   rendered="#{taskManageBB.editModeTaskSpec}"
                                   />
                </div>

                <div class="p-col-4 restrict-data-field-label-inline">
                    <h:outputText value="Notification default:"/>
                </div>
                <div class="p-col-8 restrict-data-field-value-inline">
                    <h:outputText value="#{taskManageBB.currentTaskSpec.notificationStatusDefault}"
                                  rendered="#{!taskManageBB.editModeTaskSpec}"/>

                    <p:selectBooleanCheckbox    id="task-notificationdefault-sbcb"
                                                value="#{taskManageBB.currentTaskSpec.notificationStatusDefault}"
                                                required="true"
                                                rendered="#{taskManageBB.editModeTaskSpec}" />
                </div>
                <div class="p-col-4 restrict-data-field-label-inline">
                    <h:outputText value="Active record? "/>
                    <p:spacer height="2px" />
                    <p:commandLink id="task-deac-init-button"
                                   ajax="true"
                                   rendered="#{taskManageBB.currentTaskSpec.active}"
                                   disabled="false"
                                   title="deactivate task"
                                   actionListener="#{taskManageBB.onDeacTaskSpecInit}"
                                   oncomplete="PF('task-spec-nuke-dialog-var').show()"
                                   update="@form:@parent:task-spec-nuke-dialog
                                   @form:@parent:task-spec-nuke-form">
                        <h:outputText value="deactivate"/>
                    </p:commandLink>

                </div>
                <div class="p-col-8 restrict-data-field-value-inline">
                    <h:outputText value="#{taskManageBB.currentTaskSpec.active ? 'Yes':'No'}"/>
                </div>
            </div>
        </h:form>
    </p:dialog>

    <p:dialog id="task-chain-nuke-dialog"
              widgetVar="task-chain-nuke-dialog-var"
              header="Nuke Task Chain"
              closeOnEscape="true"
              closable="true"
              resizable="true"
              responsive="true"
              height="300" width="550"
              rendered="true"
              >

        <h:form id="task-chain-nuke-form">
            <div class="ui-g data_container_nested_restrict">
                <div class="ui-g-12 ui-md-6 ui-lg-6 restrict-data-field">
                    <div class="restrict-data-field-label-inline">
                        <h:outputLabel>
                            <h:outputText
                                value="Are you sure you want to deactivate this task chain with ID: #{taskManageBB.currentTaskChain.chainID}"/>
                        </h:outputLabel>
                    </div>
                </div>
                <div class="ui-g-12 ui-md-6 ui-lg-6 restrict-data-field">
                    <div class="restrict-main-contents-io-button red_button">
                        <p:commandButton id="tasks-chain-nuke-confirm-button"
                                         ajax="true"
                                         actionListener="#{taskManageBB.onTaskChainDeacCommit}"
                                         value="Nuke Task Chain"
                                         icon="pi pi-trash"
                                         oncomplete="PF('task-chain-nuke-dialog-var').hide();"
                                         update="@form:@parent:chain-list-panel
                                         @form:@parent:chain-addedit-form
                                         @form:@parent:tasks-growl-form"
                                         rendered="true"
                                         />
                    </div>
                </div>
            </div>
        </h:form>
    </p:dialog>

    <p:dialog id="task-spec-nuke-dialog"
              widgetVar="task-spec-nuke-dialog-var"
              header="Nuke Task Spec"
              closeOnEscape="true"
              closable="true"
              resizable="true"
              responsive="true"
              height="300" width="550"
              rendered="true"
              >

        <h:form id="task-spec-nuke-form">

            <div class="ui-g data_container_nested_restrict">
                <div class="ui-g-12 ui-md-6 ui-lg-6 restrict-data-field">
                    <div class="restrict-data-field-label-inline">
                        <h:outputLabel>
                            <h:outputText
                                value="Are you sure you want to deactivate this task spec with ID: #{taskManageBB.currentTaskSpec.taskSpecID}"/>
                        </h:outputLabel>
                    </div>
                </div>
                <div class="ui-g-12 ui-md-6 ui-lg-6 restrict-data-field">
                    <div class="restrict-main-contents-io-button red_button">
                        <p:commandButton id="tasks-chain-nuke-confirm-button"
                                         ajax="true"
                                         actionListener="#{taskManageBB.onTaskSpecDeacCommit(ev)}"
                                         value="Nuke Task Specification"
                                         icon="pi pi-trash"
                                         oncomplete="PF('task-spec-nuke-dialog-var').hide(); PF('task-spec-addedit-dialog-var').hide();"
                                         update="@form:@parent:tasks-addedit-panel
                                         @form:@parent:tasks-addedit-form"
                                         rendered="true"
                                         />
                    </div>
                </div>
            </div>
        </h:form>
    </p:dialog>

</ui:composition>