<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns="http://www.w3.org/1999/xhtml">
    <h:form id="opt-growl-form">
        <p:growl id="opt-growl"
                 life="12000"
                 sticky="false"
                 keepAlive="true"
                 globalOnly="false"/>
    </h:form>
    <div class="two-column-page-flex-container">
        <div class="list-column">

            <p:panel id="opttools-panel"
                     toggleable="true"
                     widgetVar="opttools-panel-var"
                     collapsed="false">
                <f:facet name="header">
                    <h:outputText value="Certificate Type Tools"/>
                </f:facet>

                <h:form id="opttools-form">
                    <div class="p-grid">
                        <div class="p-col-6">
                            <p:commandButton id="opt-create-init-button"
                                             value="Add Certificate Type"
                                             icon="pi pi-plus"
                                             actionListener="#{occPermitTypeBB.onOccPermitTypeAddInit}"
                                             update="@form:@parent:opt-addedit-form
                                             @form:@parent:opt-list-form
                                             @form"
                                             />
                        </div>
                    </div>
                </h:form>
            </p:panel>

            <p:panel id="opt-list-panel"
                     widgetVar="opt-panel-var"
                     toggleable="true"
                     collapsed="false">
                <f:facet name="header">
                    <h:outputText value="Certificate Types (#{occPermitTypeBB.permitTypeList.size()})"/>
                </f:facet>

                <h:form id="opt-list-form">
                    <h:outputLabel value="show all municipalities?"
                                   for="show-allmunis-cbcb"
                                   styleClass="inline-spaced-control-label"/>
                    <p:selectBooleanCheckbox id="show-allmunis-cbcb"
                                             value="#{occPermitTypeBB.showAllMunis}" >
                        <p:ajax update="@form 
                                @form:@parent:opt-list-panel" 
                                listener="#{occPermitTypeBB.refreshOccPermitTypeList()}"/>
                    </p:selectBooleanCheckbox>

                    <h:outputText value="include inactive?"
                                  styleClass="inline-spaced-control-label"/>

                    <p:selectBooleanCheckbox id="opt-inactives"
                                             value="#{occPermitTypeBB.includeInactiveOccPermitTypes}">
                        <p:ajax update="@form 
                                @form:@parent:opt-list-panel"
                                listener="#{occPermitTypeBB.refreshOccPermitTypeList()}"/>
                    </p:selectBooleanCheckbox>

                    <p:spacer height="5px"/>

                    <p:dataTable id="optTable"
                                 value="#{occPermitTypeBB.permitTypeList}"
                                 rendered="#{!empty occPermitTypeBB.permitTypeList}"
                                 var="opt"
                                 tableStyleClass="primeDataTable">

                        <p:column headerText="Municipality"
                                  styleClass="centeredColumnContent"
                                  sortBy="#{opt.muni.muniName}">
                            <h:outputText value="#{opt.muni.muniName}"/>
                        </p:column>

                        <p:column headerText="Title"
                                  styleClass="centeredColumnContent">
                            <h:outputText value="#{opt.title}"/>
                        </p:column>

                        <p:column headerText="Expires?"
                                  styleClass="centeredColumnContent">
                            <h:outputText value="#{opt.expires ? 'Yes' : 'No'}"/>
                        </p:column>

                        <p:column headerText="Actions"
                                  styleClass="centeredColumnContent">
                            <div class="restrict-main-contents-io-link">
                                <p:commandLink ajax="true"
                                               id="opt-viewopt"
                                               style="#{opt.typeID == occPermitTypeBB.currentOccPermitType.typeID ? 'background-color: #dee461; color:black;':''}"
                                               styleClass="multiButtonLineButton"
                                               actionListener="#{occPermitTypeBB.viewOccPermitType(opt)}"
                                               update="@form:@parent:opt-addedit-form
                                               @form:@parent:opt-list-form
                                               @form:@parent:opt-growl-form"
                                               >
                                    <h:outputText
                                        value="#{opt.typeID == occPermitTypeBB.currentOccPermitType.typeID ? 'selected' : 'view'}"/>
                                </p:commandLink>
                                <p:spacer height="2px"/>
                                <h:outputText value="(ID: #{opt.typeID})"/>
                            </div>

                            <p:spacer height="2px"/>

                            <div class="restrict-main-contents-io-link">

                                <p:commandLink id="opt-nuke-button"
                                               ajax="true"
                                               rendered="#{opt.deactivatedTS == null}"
                                               disabled="false"
                                               title="Deactivate"
                                               actionListener="#{occPermitTypeBB.onOccPermitTypeNukeInitButtonChange(opt)}"
                                               oncomplete="PF('opt-nuke-dialog-var').show()"
                                               update="@form:@parent:opt-nuke-dialog
                                               @form:@parent:opt-nuke-form">
                                    <h:outputText value="deactivate"/>
                                </p:commandLink>

                            </div>

                        </p:column>

                    </p:dataTable>
                </h:form>
            </p:panel>
        </div>
        <div class="object-column">
            <h:form id="opt-addedit-form">
                <p:commandButton id="opt-edit-cb"
                                 icon="pi pi-#{occPermitTypeBB.editModeOccPermitTypeInfo ? 'save':'pencil'}"
                                 ajax="true"
                                 actionListener="#{occPermitTypeBB.toggleOccPermitTypeAddEditButtonChange}"
                                 value="#{occPermitTypeBB.editModeOccPermitTypeInfo ? 'save edits' : 'edit'}"
                                 styleClass="inline-spaced-control-label"
                                 update="@form
                                 @form:@parent:opt-growl-form
                                 @form:@parent:opt-list-panel"/>
                <div class="gray_button">
                    <p:commandButton id="opt-cancel-cb"
                                     ajax="true"
                                     value="Cancel"
                                     immediate="true"
                                     icon="pi pi-stop-circle"
                                     rendered="#{occPermitTypeBB.editModeOccPermitTypeInfo}"
                                     actionListener="#{occPermitTypeBB.onOperationOccPermitTypeAddEditAbort}"
                                     update="@form"/>
                </div>

                <p:spacer height="5px" />

                <p:panel id="opt-view-panel"
                         toggleable="true"
                         collapsed="false"
                         header="Certificate Type: #{occPermitTypeBB.currentOccPermitType.title}">
                    <div class="p-grid">
                        <div class="p-col-4 restrict-data-field-label-inline">
                            <h:outputText value="ID:"/>
                        </div>
                        <div class="p-col-8 restrict-data-field-value-inline">
                            <h:outputText value="#{occPermitTypeBB.currentOccPermitType.typeID}"
                                          rendered="#{occPermitTypeBB.currentOccPermitType.typeID ne 0}"/>
                            <h:outputText value="[new record]"
                                          rendered="#{occPermitTypeBB.currentOccPermitType.typeID eq 0}"/>
                        </div>
                        <div class="p-col-4 restrict-data-field-label-inline">
                            <h:outputText value="Municipality"/>
                        </div>
                        <div class="p-col-8 restrict-data-field-value-inline">
                            <h:outputText
                                value="#{occPermitTypeBB.currentOccPermitType.muni.muniName}"
                                rendered="#{!occPermitTypeBB.editModeOccPermitTypeInfo}"/>

                            <p:selectOneMenu id="muni-list"
                                             value="#{occPermitTypeBB.currentOccPermitType.muni}" tabindex="10"
                                             rendered="#{occPermitTypeBB.editModeOccPermitTypeInfo}"
                                             required="true">
                                <f:selectItem itemLabel="select Municipality..." noSelectionOption="true" />
                                <f:converter converterId="muniConverter"/>
                                <f:selectItems  id="muniList" value="#{occPermitTypeBB.muniList}" 
                                                var="muni" 
                                                itemValue="#{muni}" 
                                                itemLabel="#{muni.muniName}"/>
                            </p:selectOneMenu>
                        </div>
                        <div class="p-col-4 restrict-data-field-label-inline">
                            <h:outputText value="Title (internal name; permit title below):"/>
                        </div>
                        <div class="p-col-8 restrict-data-field-value-inline">
                            <h:outputText value="#{occPermitTypeBB.currentOccPermitType.title}"
                                          rendered="#{!occPermitTypeBB.editModeOccPermitTypeInfo}"/>

                            <p:inputText id="opt-insert-title"
                                         value="#{occPermitTypeBB.currentOccPermitType.title}"
                                         required="true"
                                         rendered="#{occPermitTypeBB.editModeOccPermitTypeInfo}"
                                         />
                        </div>

                        <div class="p-col-4 restrict-data-field-label-inline">
                            <h:outputText value="Description:"/>
                        </div>
                        <div class="p-col-8 restrict-data-field-value-inline">
                            <h:outputText value="#{occPermitTypeBB.currentOccPermitType.description}"
                                          rendered="#{!occPermitTypeBB.editModeOccPermitTypeInfo}"/>

                            <p:inputText id="opt-insert-description"
                                         value="#{occPermitTypeBB.currentOccPermitType.description}"
                                         rendered="#{occPermitTypeBB.editModeOccPermitTypeInfo}"
                                         />
                        </div>

                        <div class="p-col-4 restrict-data-field-label-inline">
                            <h:outputText value="Permittable?"/>
                            <p:commandButton id="permittable-help-button"
                                             icon="pi pi-question-circle"
                                             styleClass="button-help"
                                             type="button" />

                            <p:overlayPanel for="permittable-help-button"
                                            style="width:350px;" 
                                            dismissable="true"
                                            showCloseIcon="true">
                                <h3>Certificate type switch: Permittable?</h3>
                                <p>Akin to a "soft deactivation", this switch allows administrators to turn on and off a certitifcate type from
                                being selected during the creation of a new certificate. This setting does NOT impact any already drafted or issued certificates.
                                This setting also allows administrators to queue up certificate types before depolyment for code officer use pending internal review.</p>
                            </p:overlayPanel>
                        </div>
                        <div class="p-col-8 restrict-data-field-value-inline">
                            <h:outputText value="#{occPermitTypeBB.currentOccPermitType.permittable ? 'Yes' : 'No'}"
                                          rendered="#{!occPermitTypeBB.editModeOccPermitTypeInfo}"/>
                            <p:selectBooleanCheckbox id="opt-permittable" value="#{occPermitTypeBB.currentOccPermitType.permittable}"
                                                     rendered="#{occPermitTypeBB.editModeOccPermitTypeInfo}"/>
                        </div>
                      

                        <ui:remove>  
                            <!--turned off during July 2024 permit type upgrade-->
                            <div class="p-col-4 restrict-data-field-label-inline">
                                <h:outputText value="Require Lease Link:"/>
                            </div>
                            <div class="p-col-8 restrict-data-field-value-inline">
                                <h:outputText value="#{occPermitTypeBB.currentOccPermitType.requireLeaseLink ? 'Yes' : 'No'}"
                                              rendered="#{!occPermitTypeBB.editModeOccPermitTypeInfo}"/>
                                <p:selectBooleanCheckbox id="opt-require-lease-link" value="#{occPermitTypeBB.currentOccPermitType.requireLeaseLink}"
                                                         rendered="#{occPermitTypeBB.editModeOccPermitTypeInfo}"/>
                            </div>
                            <div class="p-col-4 restrict-data-field-label-inline">
                                <h:outputText value="Allow Thirdparty Inspection:"/>
                            </div>
                            <div class="p-col-8 restrict-data-field-value-inline">
                                <h:outputText value="#{occPermitTypeBB.currentOccPermitType.allowthirdpartyinspection ? 'Yes' : 'No'}"
                                              rendered="#{!occPermitTypeBB.editModeOccPermitTypeInfo}"/>
                                <p:selectBooleanCheckbox id="opt-allow-tp-insp" value="#{occPermitTypeBB.currentOccPermitType.allowthirdpartyinspection}"
                                                         rendered="#{occPermitTypeBB.editModeOccPermitTypeInfo}"/>
                            </div>
                            <div class="p-col-4 restrict-data-field-label-inline">
                                <h:outputText value="Commercial:"/>
                            </div>
                            <div class="p-col-8 restrict-data-field-value-inline">
                                <h:outputText value="#{occPermitTypeBB.currentOccPermitType.commercial ? 'Yes' : 'No'}"
                                              rendered="#{!occPermitTypeBB.editModeOccPermitTypeInfo}"/>
                                <p:selectBooleanCheckbox id="opt-commercial" value="#{occPermitTypeBB.currentOccPermitType.commercial}"
                                                         rendered="#{occPermitTypeBB.editModeOccPermitTypeInfo}" />
                            </div>

                            <div class="p-col-4 restrict-data-field-label-inline">
                                <h:outputText value="Require Zero Balance:"/>
                            </div>
                            <div class="p-col-8 restrict-data-field-value-inline">
                                <h:outputText value="#{occPermitTypeBB.currentOccPermitType.requireZeroBalance ? 'Yes' : 'No'}"
                                              rendered="#{!occPermitTypeBB.editModeOccPermitTypeInfo}"/>
                                <p:selectBooleanCheckbox id="opt-require-ZB" value="#{occPermitTypeBB.currentOccPermitType.requireZeroBalance}"
                                                         rendered="#{occPermitTypeBB.editModeOccPermitTypeInfo}"/>
                            </div>
                        </ui:remove>
                    </div>
                </p:panel>
                <p:panel id="opt-certificatefields-panel"
                         toggleable="true"
                         collapsed="false"
                         header="Certificate Printed Fields for type: #{occPermitTypeBB.currentOccPermitType.title}">

                    <p>These fields control how specific fields on this certificate type are displayed when printed:</p>

                    <p:divider type="dashed" />
                    
                    <div class="p-grid">
                        <div class="p-col-12 centeredColumnContent">
                            
                            <h:outputText value="Header image for display on each permit in this municipality: " />
                             <p:commandButton id="headerimage-help-button"
                                             icon="pi pi-question-circle"
                                             styleClass="button-help"
                                             type="button" />

                            <p:overlayPanel for="headerimage-help-button"
                                            style="width:350px;" 
                                            dismissable="true"
                                            showCloseIcon="true">
                                <h3>Certificate header images</h3>
                                <p>
                                    Permit header images are chosen in the municipality's configuration page and are municipality universal (i.e. all
                                new certificates in a muni must use the same header image.)
                                </p>
                                
                                <p>
                                    Additionally the width of this header image is controlled by the associate municipality's active print style in a field
                                    called "Default municipality header image width (px)". 
                                </p>
                            </p:overlayPanel>
                            <p:spacer height="3px" />
                            <f:subview id="permit-headerimage-subview"
                                       rendered="#{not empty occPermitTypeBB.currentOccPermitMuniDataHeavy.defaultMuniHeaderImage}">
                                <p:graphicImage value="#{blobsterBB.image}"
                                                alt="Could not load default header image for this permit type's municipality " 
                                                styleClass="centered-header-image"
                                                style="width:#{occPermitTypeBB.currentOccPermitMuniDataHeavy.defaultNOVPrintStyle.headerWidthDefault}px"
                                                cache="true">
                                    <f:param name="blobid" value="#{occPermitTypeBB.currentOccPermitMuniDataHeavy.defaultMuniHeaderImage.photoDocID}"/>
                                </p:graphicImage>
                                <p:spacer height="3px" />
                                <h:outputText value="Header image width (pixels): #{occPermitTypeBB.currentOccPermitMuniDataHeavy.defaultNOVPrintStyle.headerWidthDefault}" 
                                              styleClass="italic"/> 

                            </f:subview>
                            
                            <p:divider type="dashed" />

                            <h:outputText value="Permit title: "
                                          styleClass="bold"/>
                            <p:spacer height="3px" />

                            <h:outputText value="#{occPermitTypeBB.currentOccPermitType.permitTitle}:"
                                          rendered="#{not occPermitTypeBB.editModeOccPermitTypeInfo}"
                                          styleClass="larger-text"/>
                            <p:inputText id="opt-insert-permittitle"
                                         value="#{occPermitTypeBB.currentOccPermitType.permitTitle}"
                                         required="true"
                                         rendered="#{occPermitTypeBB.editModeOccPermitTypeInfo}"
                                         />
                            <p:divider type="dashed" />

                            <h:outputText value="Display muni address? "
                                          styleClass="bold"/>

                            <h:outputText value="#{occPermitTypeBB.currentOccPermitType.permitDisplayMuniAddress ? 'Yes' : 'No'}"
                                          rendered="#{!occPermitTypeBB.editModeOccPermitTypeInfo}"/>

                            <p:selectBooleanCheckbox id="opt-displaymuniaddress-sbcb" 
                                                     value="#{occPermitTypeBB.currentOccPermitType.permitDisplayMuniAddress}"
                                                     rendered="#{occPermitTypeBB.editModeOccPermitTypeInfo}" >
                                <p:ajax update="muniaddress-ot
                                        muniaddress-info-ot" />
                            </p:selectBooleanCheckbox>
                            
                            <p:spacer height="3px" />

                            <h:outputText   id="muniaddress-ot"
                                            value="#{occPermitTypeBB.currentOccPermitMuniDataHeavy.muniAddress.addressPretty2LineEscapeFalse}"
                                            escape="false"
                                            styleClass="#{occPermitTypeBB.currentOccPermitType.permitDisplayMuniAddress ? '':'deactivated-text'}"
                                            rendered="#{not empty occPermitTypeBB.currentOccPermitMuniDataHeavy and not empty occPermitTypeBB.currentOccPermitMuniDataHeavy.muniAddress}"/>
                            <p:spacer height="3px" />
                            <h:outputText   id="muniaddress-info-ot"
                                            value="[This muni address is the top ranked mailing address attached to the muni property parcel ID #{occPermitTypeBB.currentOccPermitMuniDataHeavy.muniPropertyDH.countyParcelID}]"
                                            styleClass="italic #{occPermitTypeBB.currentOccPermitType.permitDisplayMuniAddress ? '':'deactivated-text'}"/>

                            
                        </div>
                        <div class="p-col-4 restrict-data-field-label-inline">
                            <h:outputText value="Property:" />
                        </div>
                        <div class="p-col-8 restrict-data-field-value-inline">
                            <h:outputText value="[specific to certificate]" 
                                          escape="false"/>
                        </div>

                        <div class="p-col-4 restrict-data-field-label-inline">
                            <h:outputText value="Permit Number:" />
                        </div>
                        <div class="p-col-8 restrict-data-field-value-inline">
                            <h:outputText value="[generated upon finalization]" 
                                          rendered="true"/>
                        </div>

                        <div class="p-col-12">
                            <p:divider type="dashed" />
                        </div>
                        <div class="p-col-4">

                            <h:outputText value="Person links: Activate left column? "
                                          styleClass="bold"/>

                            <h:outputText value="#{occPermitTypeBB.currentOccPermitType.personColumnLeftActivate ? 'Yes' : 'No'}"
                                          rendered="#{not occPermitTypeBB.editModeOccPermitTypeInfo}"/>

                            <p:selectBooleanCheckbox id="opt-perslinkleftcol-activate-sbcb" 
                                                     value="#{occPermitTypeBB.currentOccPermitType.personColumnLeftActivate}"
                                                     rendered="#{occPermitTypeBB.editModeOccPermitTypeInfo}" >
                                <p:ajax update="permittype-personcol-left-som
                                        perslinkleftcol-custom-it
                                        opt-perslinkleftcol-require-sbcb" />
                            </p:selectBooleanCheckbox>

                            <p:spacer height="3px" />
                            <h:outputText value="Left column label: "
                                          styleClass="bold"/>
                              <p:commandButton id="customlinkheader-help-button"
                                             icon="pi pi-question-circle"
                                             styleClass="button-help"
                                             type="button" 
                                             rendered="#{occPermitTypeBB.editModeOccPermitTypeInfo}" />

                            <p:overlayPanel for="customlinkheader-help-button"
                                            style="width:350px;" 
                                            dismissable="true"
                                            showCloseIcon="true">
                                <h3>Custom permit person link headers</h3>
                                <p>Administrators can specify a custom person link header for both (or either) the left or right column by choosing the column label called: "Custom person link label" from the drop down box.</p> 
                                <p>When this option is selected the input text box below appears into which administrators can enter any arbitrary person link column label their soul desire.</p>
                            </p:overlayPanel>
                            
                            <p:spacer height="3px" />
                            <h:outputText value="#{occPermitTypeBB.currentOccPermitType.personColumnLeftGeneratedLabel}"
                                          rendered="#{!occPermitTypeBB.editModeOccPermitTypeInfo}"/>
                            <p:selectOneMenu id="permittype-personcol-left-som"
                                             value="#{occPermitTypeBB.currentOccPermitType.personColumnLeftLabel}"
                                             required="true"
                                             rendered="#{occPermitTypeBB.editModeOccPermitTypeInfo}" 
                                             disabled="#{not occPermitTypeBB.currentOccPermitType.personColumnLeftActivate}">

                                <f:selectItems value="#{occPermitTypeBB.personListEnumCandidates}"
                                               var="oppt"
                                               itemValue="#{oppt}"
                                               itemLabel="#{oppt.label}" />
                                <p:ajax update="perslinkleftcol-custom-it" />

                            </p:selectOneMenu>

                            <p:spacer height="3px" />

                            <p:inputText  id="perslinkleftcol-custom-it"
                                          value="#{occPermitTypeBB.currentOccPermitType.personColumnLeftCustomLabel}"
                                          required="false"
                                          disabled="#{not occPermitTypeBB.currentOccPermitType.activateCustomInputPersonLinkLeftCol or not occPermitTypeBB.currentOccPermitType.personColumnLeftActivate}"
                                          rendered="#{occPermitTypeBB.editModeOccPermitTypeInfo}"
                                          />

                            <p:spacer height="3px" />

                            <h:outputText value="Require at least one left column person link? "
                                          styleClass="bold"/>

                            <h:outputText value="#{occPermitTypeBB.currentOccPermitType.requireLPersonLinkLeftCol ? 'Yes' : 'No'}"
                                          rendered="#{not occPermitTypeBB.editModeOccPermitTypeInfo}"/>

                            <p:selectBooleanCheckbox id="opt-perslinkleftcol-require-sbcb" 
                                                     value="#{occPermitTypeBB.currentOccPermitType.requireLPersonLinkLeftCol}"
                                                     rendered="#{occPermitTypeBB.editModeOccPermitTypeInfo}" 
                                                     disabled="#{not occPermitTypeBB.currentOccPermitType.personColumnLeftActivate}">

                            </p:selectBooleanCheckbox>

                        </div>
                        <div class="p-col-4">
                            <h:outputText value="Person column link text: "
                                          styleClass="bold"/>
                            <p:spacer height="3px" />

                            <h:outputText value="#{occPermitTypeBB.currentOccPermitType.personColumnLinkingText}"
                                          rendered="#{not occPermitTypeBB.editModeOccPermitTypeInfo}"/>

                            <p:inputText id="opt-person-col-link-it"
                                         value="#{occPermitTypeBB.currentOccPermitType.personColumnLinkingText}"
                                         rendered="#{occPermitTypeBB.editModeOccPermitTypeInfo}"
                                         />
                        </div>
                        <div class="p-col-4">
                            <h:outputText value="Person links: Activate right column? "
                                          styleClass="bold"/>

                            <h:outputText value="#{occPermitTypeBB.currentOccPermitType.personColumnRightActivate ? 'Yes' : 'No'}"
                                          rendered="#{not occPermitTypeBB.editModeOccPermitTypeInfo}"/>
                            <p:selectBooleanCheckbox id="opt-perslinkrightcol-activate-sbcb" 
                                                     value="#{occPermitTypeBB.currentOccPermitType.personColumnRightActivate}"
                                                     rendered="#{occPermitTypeBB.editModeOccPermitTypeInfo}" >
                                <p:ajax update="permittype-personcol-right-som
                                        perslinkrightcol-custom-it" />
                            </p:selectBooleanCheckbox>

                            <p:spacer height="3px" />

                            <h:outputText value="Right column label: "
                                          styleClass="bold"/>
                            <p:spacer height="3px" />
                            <h:outputText value="#{occPermitTypeBB.currentOccPermitType.personColumnRightGeneratedLabel}"
                                          rendered="#{!occPermitTypeBB.editModeOccPermitTypeInfo}"/>
                            <p:selectOneMenu id="permittype-personcol-right-som"
                                             value="#{occPermitTypeBB.currentOccPermitType.personColumnRightLabel}"
                                             required="true"
                                             rendered="#{occPermitTypeBB.editModeOccPermitTypeInfo}" 
                                             disabled="#{not occPermitTypeBB.currentOccPermitType.personColumnRightActivate}">
                                <f:selectItems value="#{occPermitTypeBB.personListEnumCandidates}"
                                               var="oppt"
                                               itemValue="#{oppt}"
                                               itemLabel="#{oppt.label}" />
                                <p:ajax update="perslinkrightcol-custom-it" />
                            </p:selectOneMenu>
                            
                           

                            <p:spacer height="3px" />

                            <p:inputText  id="perslinkrightcol-custom-it"
                                          value="#{occPermitTypeBB.currentOccPermitType.personColumnRightCustomLabel}"
                                          required="false"
                                          disabled="#{not occPermitTypeBB.currentOccPermitType.activateCustomInputPersonLinkRightCol or not occPermitTypeBB.currentOccPermitType.personColumnRightActivate}"
                                          rendered="#{occPermitTypeBB.editModeOccPermitTypeInfo}"
                                          />
                            <p:spacer height="3px" />

                            <h:outputText value="Require at least one right column person link? "
                                          styleClass="bold"/>
                            <h:outputText value="#{occPermitTypeBB.currentOccPermitType.requireLPersonLinkRightCol ? 'Yes' : 'No'}"
                                          rendered="#{not occPermitTypeBB.editModeOccPermitTypeInfo}"/>
                            <p:selectBooleanCheckbox id="opt-perslinkrightcol-require-sbcb" 
                                                     value="#{occPermitTypeBB.currentOccPermitType.requireLPersonLinkRightCol}"
                                                     rendered="#{occPermitTypeBB.editModeOccPermitTypeInfo}" 
                                                     disabled="#{not occPermitTypeBB.currentOccPermitType.personColumnRightActivate}">

                            </p:selectBooleanCheckbox>
                        </div>
                        <div class="p-col-12">
                            <p:divider type="dashed" />
                        </div>

                        <div class="p-col-4 restrict-data-field-label-inline">
                            <h:outputText value="Proposed use:" />
                        </div>
                        <div class="p-col-8">
                            <h:outputText value="#{occPermitTypeBB.currentOccPermitType.authorizeduses}"
                                          rendered="#{!occPermitTypeBB.editModeOccPermitTypeInfo}"/>

                            <p:inputText id="opt-insert-authorizeduses"
                                         value="#{occPermitTypeBB.currentOccPermitType.authorizeduses}"
                                         required="false"
                                         rendered="#{occPermitTypeBB.editModeOccPermitTypeInfo}"
                                         />
                        </div>

                        <div class="p-col-4 restrict-data-field-label-inline">
                            <h:outputText value="Date configuration: " />
                        </div>

                        <div class="p-col-8 restrict-data-field-value-inline">

                            <h:outputText value="Do permits of this type expire? "/>
                            
                            <h:outputText value="#{occPermitTypeBB.currentOccPermitType.expires ? 'Yes' : 'No'}"
                                          rendered="#{!occPermitTypeBB.editModeOccPermitTypeInfo}"/>
                            <p:selectBooleanCheckbox id="opt-expires" value="#{occPermitTypeBB.currentOccPermitType.expires}"
                                                     rendered="#{occPermitTypeBB.editModeOccPermitTypeInfo}" >
                                <p:ajax update="opt-insert-dpvpd
                                        validity-label-ot
                                        validity-days-ot"/>
                            </p:selectBooleanCheckbox>

                            <p:spacer height="3px" />

                            <h:outputText   id="validity-label-ot"
                                            value="Default Permit Validity Period (days): "
                                          styleClass="#{occPermitTypeBB.currentOccPermitType.expires ? '':'deactivated-text'}"/>
                            <h:outputText   id="validity-days-ot"
                                            value="#{occPermitTypeBB.currentOccPermitType.defaultValidityPeriodDays}"
                                            rendered="#{!occPermitTypeBB.editModeOccPermitTypeInfo}"  
                                            styleClass="#{occPermitTypeBB.currentOccPermitType.expires ? '':'deactivated-text'}"/>
                            <p:inputNumber id="opt-insert-dpvpd" 
                                           value="#{occPermitTypeBB.currentOccPermitType.defaultValidityPeriodDays}" 
                                           rendered="#{occPermitTypeBB.editModeOccPermitTypeInfo}"
                                           disabled="#{not occPermitTypeBB.currentOccPermitType.expires}"/>
                        </div>
                          <div class="p-col-4 restrict-data-field-label-inline">
                            <h:outputText value="Inspection requirement" />
                        </div>
                        <div class="p-col-8 restrict-data-field-value-inline">
                            <h:outputText value="Require a passed inspection on file before finalization? "
                                          styleClass="bold"/>                            
                            <h:outputText value="#{occPermitTypeBB.currentOccPermitType.requireInspectionPass ? 'Yes' : 'No'}"
                                          rendered="#{!occPermitTypeBB.editModeOccPermitTypeInfo}"/>
                            <p:selectBooleanCheckbox id="opt-requireinsp-pass" value="#{occPermitTypeBB.currentOccPermitType.requireInspectionPass}"
                                                     rendered="#{occPermitTypeBB.editModeOccPermitTypeInfo}"/>
                        </div>

                        <div class="p-col-4 restrict-data-field-label-inline">
                            <h:outputText value="Manager links:"/>
                        </div>
                        <div class="p-col-8 restrict-data-field-value-inline">
                            <h:outputText value="Activate manager links? "
                                          styleClass="bold"/>
                            <h:outputText value="#{occPermitTypeBB.currentOccPermitType.personColumnManagerActivate ? 'Yes' : 'No'}"
                                          rendered="#{not occPermitTypeBB.editModeOccPermitTypeInfo}"/>
                            <p:selectBooleanCheckbox id="opt-activatemanager-sbcb" 
                                                     value="#{occPermitTypeBB.currentOccPermitType.personColumnManagerActivate}"
                                                     rendered="#{occPermitTypeBB.editModeOccPermitTypeInfo}" 
                                                     disabled="false">
                                <p:ajax update="opt-require-manager" />
                            </p:selectBooleanCheckbox>

                            <p:spacer height="3px" />

                            <h:outputText value="Require at least one manager link? "
                                          styleClass="bold #{occPermitTypeBB.currentOccPermitType.personColumnManagerActivate ? '':'disabled-text'}"/>
                            <h:outputText value="#{occPermitTypeBB.currentOccPermitType.requireManager ? 'Yes' : 'No'}"
                                          rendered="#{!occPermitTypeBB.editModeOccPermitTypeInfo}"
                                          />
                            <p:selectBooleanCheckbox id="opt-require-manager" 
                                                     value="#{occPermitTypeBB.currentOccPermitType.requireManager}"
                                                     rendered="#{occPermitTypeBB.editModeOccPermitTypeInfo}"
                                                     disabled="#{not occPermitTypeBB.currentOccPermitType.personColumnManagerActivate}"/>
                        </div>
                        <div class="p-col-4 restrict-data-field-label-inline">
                            <h:outputText value="Tenant links:"/>
                        </div>
                        <div class="p-col-8 restrict-data-field-value-inline">
                            <h:outputText value="Activate tenant links? "
                                          styleClass="bold"/>
                            <h:outputText value="#{occPermitTypeBB.currentOccPermitType.personColumnTenantActivate ? 'Yes' : 'No'}"
                                          rendered="#{not occPermitTypeBB.editModeOccPermitTypeInfo}"/>
                            <p:selectBooleanCheckbox id="opt-actrivatetenant-sbcb" 
                                                     value="#{occPermitTypeBB.currentOccPermitType.personColumnTenantActivate}"
                                                     rendered="#{occPermitTypeBB.editModeOccPermitTypeInfo}" 
                                                     disabled="false">
                                <p:ajax update="opt-require-tenant" />
                            </p:selectBooleanCheckbox>

                            <p:spacer height="3px" />

                            <h:outputText value="Require at least one tenant across sale link? "
                                          styleClass="bold #{occPermitTypeBB.currentOccPermitType.personColumnTenantActivate ? '':'disabled-text'}"/>
                            <h:outputText value="#{occPermitTypeBB.currentOccPermitType.requireTenant ? 'Yes' : 'No'}"
                                          rendered="#{!occPermitTypeBB.editModeOccPermitTypeInfo}"
                                          />
                            <p:selectBooleanCheckbox id="opt-require-tenant" 
                                                     value="#{occPermitTypeBB.currentOccPermitType.requireTenant}"
                                                     rendered="#{occPermitTypeBB.editModeOccPermitTypeInfo}"
                                                     disabled="#{not occPermitTypeBB.currentOccPermitType.personColumnTenantActivate}"/>
                        </div>
                    </div>
                </p:panel>
            </h:form>
        </div>
    </div>

    <p:dialog id="opt-nuke-dialog"
              widgetVar="opt-nuke-dialog-var"
              header="Nuke OccPermit Type"
              closeOnEscape="true"
              closable="true"
              resizable="true"
              responsive="true"
              height="300" width="550"
              rendered="true"
              >

        <h:form id="opt-nuke-form">
            <div class="ui-g data_container_nested_restrict">
                <div class="ui-g-12 ui-md-6 ui-lg-6 restrict-data-field">
                    <div class="restrict-data-field-label-inline">
                        <h:outputLabel>
                            <h:outputText
                                value="Nuked OccPermit Types can only be rescued by sys admins...and they will grumble while doing so."/>
                        </h:outputLabel>
                    </div>
                </div>
                <div class="ui-g-12 ui-md-6 ui-lg-6 restrict-data-field">
                    <div class="restrict-main-contents-io-button red_button">
                        <p:commandButton id="opt-nuke-confirm-button"
                                         ajax="true"
                                         action="#{occPermitTypeBB.onOccPermitTypeNukeCommitButtonChange()}"
                                         value="Nuke OccPermit Type"
                                         icon="pi pi-trash"
                                         oncomplete="PF('opt-nuke-dialog-var').hide();"
                                         update="@form:@parent:opt-list-panel
                                         @form:@parent:opt-addedit-form
                                         @form:@parent:opt-growl-form"
                                         rendered="true"
                                         />
                    </div>
                </div>
            </div>
        </h:form>
    </p:dialog>
</ui:composition>