<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns="http://www.w3.org/1999/xhtml">


    <h:form id="occactivity-report-growl-form">
        <p:growl id="occactivity-report-growl"
                 globalOnly="false" 
                 />
    </h:form>


    <p:dialog   id="occactivity-report-dialog"
                widgetVar="occactivity-report-dialog-var"
                closable="true" 
                responsive="true"
                dynamic="true"
                height="800"
                width="1000"
                modal="true"
                header="Configure Occupancy Permitting Activity Report"
                >

        <h:form id="occactivity-report-form">
            <div class="p-grid nested-grid">
                <div class="p-lg-6 p-md-12 p-sm-12">
                    <p:panel id="occactivty-report-generate-panel"
                             header="Generate permitting activity report">
                        <div class="restrict-main-contents-io-link">
                            <h2>
                                <p:commandLink  ajax="false" 
                                                action="#{occPermitActivityReportBB.onOccPermitActivityReportGenerate}"
                                                value="Click to generate report in new tab" 
                                                target="_blank"
                                                styleClass="font-size:2em;"
                                                rendered="#{systemServicesBB.bbSessionUser.keyCard.hasMuniReaderPermissions}"
                                                />
                            </h2>
                        </div>

                    </p:panel>
                    <p:panel id="caselist-config-datepickers"
                             header="Title and Date Range">

                        <div class="restrict-data-field-label-vertical">
                            <h:outputLabel for="report-occactivity-title-it" value="Report title"/>
                        </div>

                        <div class="restrict-main-contents-io-content">
                            <p:inputText id="report-occactivity-title-it" style="width: 100%;" value="#{occPermitActivityReportBB.currentOccActivityReportConfig.title}"/>
                            <p:spacer height="3px"/>
                            <h:outputText styleClass="italic" value="note: your name and the current date and time will be automatically inserted" />
                        </div>

                        <div class="restrict-data-field-label-vertical">
                            <p:outputLabel for="occactivty-report-date-start-cal" 
                                           value="start date"/>
                        </div>
                        <div class="restrict-main-contents-io-content">
                            <p:datePicker 	 id="occactivty-report-date-start-cal" 
                                            value="#{occPermitActivityReportBB.currentOccActivityReportConfig.date_start_val}" 
                                            rendered="true"
                                            style="width: 100%;"
                                            pattern="MM/dd/yyyy HH:mm"
                                            disabled="false"
                                            hideOnDateTimeSelect="true"
                                            showOnFocus="false"
                                            showIcon="true"
                                            showButtonBar="true"
                                            mask="true"
                                            timeInput="true" 
                                            required="true" />

                        </div>
                        <div class="restrict-data-field-label-vertical">
                            <p:outputLabel for="occactivty-report-date-end-cal" 
                                           value="end date"/>
                        </div>
                        <div class="restrict-main-contents-io-content">
                            <p:datePicker 	 id="occactivty-report-date-end-cal" 
                                            value="#{occPermitActivityReportBB.currentOccActivityReportConfig.date_end_val}" 
                                            rendered="true"
                                            style="width: 100%;"
                                            pattern="MM/dd/yyyy HH:mm"
                                            disabled="false"
                                            hideOnDateTimeSelect="true"
                                            showOnFocus="false"
                                            showIcon="true"
                                            showButtonBar="true"
                                            mask="true"
                                            timeInput="true" 
                                            required="true" />

                        </div>

                        <div class="restrict-data-field-label-vertical">
                            <h:outputLabel for="report-occactivity-notes-ita" 
                                           value="Report notes for end reader"/>
                        </div>
                        <div class="restrict-main-contents-io-content">
                            <p:inputText id="report-occactivity-notes-ita" 
                                         style="width: 100%; height: 100px;" 
                                         value="#{occPermitActivityReportBB.currentOccActivityReportConfig.notes}"/>
                        </div>
                    </p:panel>

                    <p:panel id="permit-config-section"
                             header="Permit display options">

                        <div class="p-grid">
                            <div class="p-col-8 restrict-data-field-label-inline">
                                <h:outputLabel value="Include inspection type counts for permits" 
                                               for="permit-includefincounts-chkbox" />
                            </div>
                            <div class="p-col-4 restrict-main-contents-io-content">
                                <p:selectBooleanCheckbox id="permit-includefincounts-chkbox" 
                                                         value="#{occPermitActivityReportBB.currentOccActivityReportConfig.includeInspectionCountForPermits}" 
                                                         disabled="false" >
                                </p:selectBooleanCheckbox>
                            </div>

                            <div class="p-col-8 restrict-data-field-label-inline">
                                <h:outputLabel value="Show permit-level detail section(property address, unit, and chosen fields)" 
                                               for="permit-include-details-chkbox" />
                            </div>
                            <div class="p-col-4 restrict-main-contents-io-content">
                                <p:selectBooleanCheckbox id="permit-include-details-chkbox" 
                                                         value="#{occPermitActivityReportBB.currentOccActivityReportConfig.detailPermits}" 
                                                         disabled="false">
                                    <p:ajax update="permit-includenum-chkbox
                                            permit-includeofficer-chkbox
                                            permit-includedates-chkbox" />
                                </p:selectBooleanCheckbox>
                            </div>

                            <div class="p-col-8 restrict-data-field-label-inline">
                                <h:outputLabel value="Include application and inspection dates" 
                                               for="permit-includedates-chkbox" />
                            </div>
                            <div class="p-col-4 restrict-main-contents-io-content">
                                <p:selectBooleanCheckbox id="permit-includedates-chkbox" 
                                                         value="#{occPermitActivityReportBB.currentOccActivityReportConfig.includePermitApplicationAndInspectionDates}" 
                                                         disabled="#{not occPermitActivityReportBB.currentOccActivityReportConfig.detailPermits}" >
                                </p:selectBooleanCheckbox>
                            </div>

                            <div class="p-col-8 restrict-data-field-label-inline">
                                <h:outputLabel value="Include official permit numbers" 
                                               for="permit-includenum-chkbox" />
                            </div>
                            <div class="p-col-4 restrict-main-contents-io-content">
                                <p:selectBooleanCheckbox id="permit-includenum-chkbox" 
                                                         value="#{occPermitActivityReportBB.currentOccActivityReportConfig.includePermitNumber}" 
                                                         disabled="#{not occPermitActivityReportBB.currentOccActivityReportConfig.detailPermits}" >
                                </p:selectBooleanCheckbox>
                            </div>

                            <div class="p-col-8 restrict-data-field-label-inline">
                                <h:outputLabel value="Include issuing officer" 
                                               for="permit-includeofficer-chkbox" />
                            </div>
                            <div class="p-col-4 restrict-main-contents-io-content">
                                <p:selectBooleanCheckbox id="permit-includeofficer-chkbox" 
                                                         value="#{occPermitActivityReportBB.currentOccActivityReportConfig.includePermitIssingOfficer}" 
                                                         disabled="#{not occPermitActivityReportBB.currentOccActivityReportConfig.detailPermits}" >
                                </p:selectBooleanCheckbox>
                            </div>
                        </div>
                    </p:panel>

                </div>
                <div class="p-lg-6 p-md-12 p-sm-12">

                    <p:panel id="manual-occapp-count-section"
                             header="Occ Application Count">
                        <p:commandButton id="manual-app-count-help-button"
                                         value="about this box"
                                         icon="pi pi-question-circle"
                                         styleClass="button-help"
                                         type="button" />

                        <p:overlayPanel for="manual-app-count-help-button"
                                        style="width:350px;" 
                                        dismissable="true"
                                        showCloseIcon="true">
                            <p>You can MANUALLY enter the number of occupancy applications received in the reporting period 
                                for pass through to this printable report (for completeness sake). This option exists until codeNforce manages occupancy
                                applications internally and therefore can automate the counting.</p>
                        </p:overlayPanel>


                        <div class="p-grid">
                            <div class="p-col-8 restrict-data-field-label-inline">
                                <h:outputLabel value="Include manual occ application count" 
                                               for="permit-includeappcount-chkbox" />
                            </div>
                            <div class="p-col-4 restrict-main-contents-io-content">
                                <p:selectBooleanCheckbox id="permit-includeappcount-chkbox" 
                                                         value="#{occPermitActivityReportBB.currentOccActivityReportConfig.showOccApplicationCountFreeEntry}" 
                                                         disabled="false">
                                    <p:ajax update="permit-appcount-it" />
                                </p:selectBooleanCheckbox>
                            </div>
                            <div class="p-col-8 restrict-data-field-label-inline">
                                <h:outputLabel value="Occupany application count for reporting period" 
                                               for="permit-appcount-it" />
                            </div>
                            <div class="p-col-4 restrict-main-contents-io-content">
                                <p:inputNumber id="permit-appcount-it"
                                               value="#{occPermitActivityReportBB.currentOccActivityReportConfig.occApplicationCountFreeEntry}"
                                               minValue="0" 
                                               disabled="#{not occPermitActivityReportBB.currentOccActivityReportConfig.showOccApplicationCountFreeEntry}"/>
                            </div>
                        </div>
                    </p:panel>
                    <p:panel id="inspectiontally-config-section"
                             header="Inspection options">

                        <div class="p-grid">
                            <div class="p-col-8 restrict-data-field-label-inline">
                                <h:outputLabel value="Summarize field inspections" 
                                               for="permit-fintally-finsfornotissuedpermits-chkbox" />
                            </div>
                            <div class="p-col-4 restrict-main-contents-io-content">
                                <p:selectBooleanCheckbox id="permit-fintally-finsfornotissuedpermits-chkbox" 
                                                         value="#{occPermitActivityReportBB.currentOccActivityReportConfig.activateSectionFieldInspections}" 
                                                         disabled="false">
                                    <p:ajax update="permit-fintally-ce-chkbox
                                            permit-fintally-occ-chkbox
                                            permit-fintally-findetail-chkbox" />
                                </p:selectBooleanCheckbox>
                            </div>

                            <div class="p-col-8 restrict-data-field-label-inline">
                                <h:outputLabel value="Include code enforcement case inspections" 
                                               for="permit-fintally-ce-chkbox" />
                            </div>
                            <div class="p-col-4 restrict-main-contents-io-content">
                                <p:selectBooleanCheckbox id="permit-fintally-ce-chkbox" 
                                                         value="#{occPermitActivityReportBB.currentOccActivityReportConfig.countCECaseInspections}" 
                                                         disabled="#{not occPermitActivityReportBB.currentOccActivityReportConfig.activateSectionFieldInspections}">
                                </p:selectBooleanCheckbox>
                            </div>

                            <div class="p-col-8 restrict-data-field-label-inline">
                                <h:outputLabel value="Include permit file inspections" 
                                               for="permit-fintally-occ-chkbox" />
                            </div>
                            <div class="p-col-4 restrict-main-contents-io-content">
                                <p:selectBooleanCheckbox id="permit-fintally-occ-chkbox" 
                                                         value="#{occPermitActivityReportBB.currentOccActivityReportConfig.countOccPeriodInspections}" 
                                                         disabled="#{not occPermitActivityReportBB.currentOccActivityReportConfig.activateSectionFieldInspections}">
                                </p:selectBooleanCheckbox>
                            </div>


                            <div class="p-col-8 restrict-data-field-label-inline">
                                <h:outputLabel value="Show inspection-detail" 
                                               for="permit-fintally-findetail-chkbox" />
                            </div>
                            <div class="p-col-4 restrict-main-contents-io-content">
                                <p:selectBooleanCheckbox id="permit-fintally-findetail-chkbox" 
                                                         value="#{occPermitActivityReportBB.currentOccActivityReportConfig.detailFieldInspections}" 
                                                         disabled="#{not occPermitActivityReportBB.currentOccActivityReportConfig.activateSectionFieldInspections}">
                                    <p:ajax update="permit-include-finmeta-chkbox
                                            permit-include-failedords-chkbox
                                            permit-include-findings-chkbox" />
                                </p:selectBooleanCheckbox>
                            </div>



                            <div class="p-col-8 restrict-data-field-label-inline">
                                <h:outputLabel value="--Include inspection dates and inspector" 
                                               for="permit-include-finmeta-chkbox" />
                            </div>
                            <div class="p-col-4 restrict-main-contents-io-content">
                                <p:selectBooleanCheckbox id="permit-include-finmeta-chkbox" 
                                                         value="#{occPermitActivityReportBB.currentOccActivityReportConfig.showInspectionMetaData}" 
                                                         disabled="#{not occPermitActivityReportBB.currentOccActivityReportConfig.detailFieldInspections or not occPermitActivityReportBB.currentOccActivityReportConfig.activateSectionFieldInspections}">
                                </p:selectBooleanCheckbox>
                            </div>

                            <div class="p-col-8 restrict-data-field-label-inline">
                                <h:outputLabel value="--Include failed ordinances" 
                                               for="permit-include-failedords-chkbox" />
                            </div>
                            <div class="p-col-4 restrict-main-contents-io-content">
                                <p:selectBooleanCheckbox id="permit-include-failedords-chkbox" 
                                                         value="#{occPermitActivityReportBB.currentOccActivityReportConfig.showInspectionFailedItems}" 
                                                         disabled="#{not occPermitActivityReportBB.currentOccActivityReportConfig.detailFieldInspections or not occPermitActivityReportBB.currentOccActivityReportConfig.activateSectionFieldInspections}">
                                </p:selectBooleanCheckbox>
                            </div>
                            <div class="p-col-8 restrict-data-field-label-inline">
                                <h:outputLabel value="--Include findings on failed ordinances" 
                                               for="permit-include-findings-chkbox" />
                            </div>
                            <div class="p-col-4 restrict-main-contents-io-content">
                                <p:selectBooleanCheckbox id="permit-include-findings-chkbox" 
                                                         value="#{occPermitActivityReportBB.currentOccActivityReportConfig.showInspectionFailedItemsFindings}" 
                                                         disabled="#{not occPermitActivityReportBB.currentOccActivityReportConfig.detailFieldInspections or not occPermitActivityReportBB.currentOccActivityReportConfig.activateSectionFieldInspections}">
                                </p:selectBooleanCheckbox>
                            </div>


                            <div class="p-col-8 restrict-data-field-label-inline">
                                <h:outputLabel value="Include inspections conducted outside date range but that back issued permits" 
                                               for="permit-fintally-finsoutsiderange-chkbox" 
                                               rendered="false"/>
                                
                            </div>
                            <div class="p-col-4 restrict-main-contents-io-content">
                                <p:selectBooleanCheckbox id="permit-fintally-finsoutsiderange-chkbox" 
                                                         value="#{occPermitActivityReportBB.currentOccActivityReportConfig.includeInspectionsOutsideDateRangeForIssuedPermits}" 
                                                         disabled="true"
                                                         rendered="false">
                                </p:selectBooleanCheckbox>
                            </div>
                        </div>
                    </p:panel>

                    <p:panel id="violations-config-section"
                             header="Transferred violations options">

                        <div class="p-grid">
                            <div class="p-col-8 restrict-data-field-label-inline">
                                <h:outputLabel value="Counr violations transferred to code enforcement cases" 
                                               for="viol-sum-chkbox" />
                            </div>
                            <div class="p-col-4 restrict-main-contents-io-content">
                                <p:selectBooleanCheckbox id="viol-sum-chkbox" 
                                                         value="#{occPermitActivityReportBB.currentOccActivityReportConfig.activateTransferredViolationCount}" 
                                                         disabled="false">
                                    <p:ajax update="viol-details-chkbox" />
                                </p:selectBooleanCheckbox>
                            </div>

                            <div class="p-col-8 restrict-data-field-label-inline">
                                <h:outputLabel value="Include details of transferred violations" 
                                               for="viol-details-chkbox" />
                            </div>
                            <div class="p-col-4 restrict-main-contents-io-content">
                                <p:selectBooleanCheckbox id="viol-details-chkbox" 
                                                         value="#{occPermitActivityReportBB.currentOccActivityReportConfig.detailMigratedViolations}" 
                                                         disabled="#{not occPermitActivityReportBB.currentOccActivityReportConfig.activateTransferredViolationCount}">
                                </p:selectBooleanCheckbox>
                            </div>
                        </div>
                    </p:panel>
                </div>
            </div>
        </h:form>
    </p:dialog>
</ui:composition>