<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns="http://www.w3.org/1999/xhtml">

    <h:form id="occpermit-messages-form">
        <p:growl id="occpermit-growl" />
    </h:form>

    <p:panel  id="occpermit-list-panel"
              toggleable="true"
              widgetVar="occpermit-list-panel-var"
              collapsed="false"
              style="width:100%;"
              header="Permit Search">

        <h:form id="occpermit-query-form">

            <h:outputLabel styleClass="bold" 
                           value="Select a Permit query:" 
                           for="occpermit-query-desc-ot" />

            <p:selectOneMenu id="occpermit-query-som" 
                             tabindex="1" 
                             value="#{sessionOccupancyConductor.occPermitQuerySelected}"
                             disabled="#{sessionOccupancyConductor.occPermitQuerySelected.queryExecuted}">
                <f:converter converterId="bOBQueryConverter"/>
                <f:selectItem itemLabel="select one..." noSelectionOption="true" itemDisabled="true"/>
                <f:selectItems id="querylist-si" 
                               value="#{sessionOccupancyConductor.occPermitQueryList}" 
                               var="ql" 
                               itemValue="#{ql}" 
                               itemLabel="#{ql.queryTitle}" />
                <p:ajax listener="#{sessionOccupancyConductor.changeQueryOccPermitSelected()}"
                        update="@form
                        occpermit-messages-form" />
            </p:selectOneMenu>

            <p:spacer height="5px" />

            <h:outputLabel styleClass="bold" 
                           value="Description: " 
                           for="occpermit-query-desc-ot" />
            <h:outputText id="occpermit-query-desc-ot" 
                          value="#{sessionOccupancyConductor.occPermitQuerySelected.queryName.desc}" />

            <p:spacer height="5px" />
                    <p:commandButton   id="occpermit-executequery-cb" 
                                       ajax="true" 
                                       actionListener="#{sessionOccupancyConductor.executeQueryOccPermit}"
                                       disabled="#{sessionOccupancyConductor.occPermitQuerySelected.queryExecuted}"
                                       icon="pi pi-search" 
                                       styleClass="button"
                                       value="Search" 
                                       update="@form
                                       occpermit-messages-form
                                       occpermit-search-results-form"/>
                    <p:commandLink   id="occpermit-search-clear-cb" 
                                     ajax="true" 
                                     actionListener="#{sessionOccupancyConductor.resetQueryOccPermit()}"
                                     styleClass="button inline-button"
                                     value="reset search" 
                                     disabled="#{!sessionOccupancyConductor.occPermitQuerySelected.queryExecuted}"
                                     style="font-weight: bold; color:blue; margin-left: 10px;"
                                     update="occpermit-messages-form
                                     @form"/>
                    
                    <h:outputText value=" | " />
                    
                    <p:outputLabel for="permit-search-appendresults-chkbox"
                                   style="margin-left: 5px;"
                                    >
                        <h:outputText value="Append search results to list? "/>
                    </p:outputLabel>

                    <p:selectBooleanCheckbox   id="permit-search-appendresults-chkbox" 
                                               value="#{sessionOccupancyConductor.appendResultsToListOccPermit}" 
                                               styleClass="inline-control">
                        <p:ajax />
                    </p:selectBooleanCheckbox>
        </h:form>

        <h:form id="occpermit-search-results-form" >
            <p:spacer height="5px" />
            <h:outputText value="listing #{sessionOccupancyConductor.sessOccPermitList.size()} permits" 
                          styleClass="italic"/>
            <h:outputText value=" | " />
            <p:commandLink   id="occpermit-search-results-clear-button" 
                             ajax="true" 
                             actionListener="#{sessionOccupancyConductor.clearOccPermitList}"
                             styleClass="button"
                             style="font-weight: bold; color:blue;"
                             value="clear results list" 
                             update=" occpermit-messages-form
                             occpermit-search-results-form"/>

            <p:spacer height="5px" />
            <p:dataTable
                id="occpermits-table"
                value="#{sessionOccupancyConductor.sessOccPermitList}"
                rendered="#{!empty sessionOccupancyConductor.sessOccPermitList}"
                var="permit"
                rowKey="#{permit.permitID}"
                tableStyleClass="primeDataTable"
                resizableColumns="true"
                widgetVar="occpermits-table-var"
                rowExpandMode="multiple"
                expandedRow="false"
                reflow="true"
                >
                <p:column width="10%"
                          sortable="true"
                          sortBy="#{permit.permitType}">
                    <f:facet name="header">
                        <h:outputText value="Type" />
                    </f:facet>
                    <h:outputText value="#{permit.permitType.title}" />
                </p:column>

                <p:column width="20%"
                          sortable="true"
                          sortBy="#{permit.propUnitWithProp.property.primaryAddressLink.street.name}">
                    <f:facet name="header">
                        <h:outputText value="Unit and Property" />
                    </f:facet>
                    <h:outputText value="#{permit.propUnitWithProp.unitNumber}" />

                    <p:spacer height="3px" />

                    <p:commandLink id="permittable-viewproperty-cl"
                                   value="#{permit.propUnitWithProp.property.primaryAddressLink.buildingNo} #{permit.propUnitWithProp.property.primaryAddressLink.street.name}" 
                                   action="#{sessionOccupancyConductor.onViewPropertyLinkClick(permit)}"
                                   ajax="false"
                                   style="color:blue; font-weight: bold;"/>
                </p:column>

                <p:column width="20%" 
                          sortable="true"
                          sortBy="#{permit.referenceNo}">

                    <f:facet name="header">
                        <h:outputText value="Reference no." />
                    </f:facet>

                    <h:outputText value="#{permit.referenceNo}" />
                </p:column>

                <p:column width="20%"
                          sortable="true"
                          sortBy="#{permit.finalizedts}">
                    <f:facet name="header">
                        <h:outputText value="Issuance date" />
                    </f:facet>
                    <h:outputText value="#{sessionOccupancyConductor.getPrettyDateNoTime(permit.finalizedts)}" />
                    <p:spacer height="3px" />
                    <h:outputText value="By #{permit.finalizedBy.human.name}"
                                  rendered="#{!empty permit.finalizedBy}" />
                </p:column>

                <p:column width="10%">
                    <f:facet name="header">
                        <h:outputText value="Action" />
                    </f:facet>
                    <div class="restrict-main-contents-io-link">
                        <p:commandLink id="permit-view-cl" 
                                       ajax="false"
                                       action="#{sessionOccupancyConductor.onViewPermitLinkClick(permit)}"
                                       value="printable permit" 
                                       style="color:blue;"
                                       target="_blank"
                                       type="button" />

                        <p:spacer height="3px" />

                        <p:commandLink id="file-view-cl" 
                                       ajax="false"
                                       action="#{sessionOccupancyConductor.onViewFileLinkClick(permit)}"
                                       value="view permit file" 
                                       style="color:blue;"
                                       type="button" />
                        <p:spacer height="3px" />
                        <h:outputText value="#{permit.permitID}" />
                    </div>
                </p:column>
            </p:dataTable>
        </h:form>
    </p:panel>
</ui:composition>