<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns="http://www.w3.org/1999/xhtml">

    <h:form id="occperiod-messages-form">
        <p:growl id="occperiod-growl" />
    </h:form>

    <p:panel  id="occperiod-list-panel"
              toggleable="true"
              widgetVar="occperiod-list-panel-var"
              collapsed="false"
              style="width:100%;"
              header="Permit File Search">

        <h:form id="occperiod-query-form">
            <h:outputLabel styleClass="bold" 
                           value="Select a Permit File query:" 
                           for="occperiod-query-desc-ot" />

            <p:selectOneMenu id="occperiod-query-som" 
                             tabindex="1" 
                             value="#{sessionOccupancyConductor.occPeriodQuerySelected}"
                             disabled="#{sessionOccupancyConductor.occPeriodQuerySelected.queryExecuted}">
                <f:converter converterId="bOBQueryConverter"/>
                <f:selectItem itemLabel="select one..." noSelectionOption="true" itemDisabled="true"/>
                <f:selectItems id="querylist-si" 
                               value="#{sessionOccupancyConductor.occPeriodQueryList}" 
                               var="ql" 
                               itemValue="#{ql}" 
                               itemLabel="#{ql.queryTitle}" />
                <p:ajax listener="#{sessionOccupancyConductor.changeQueryOccPeriodSelected()}"
                        update="@form
                        occperiod-messages-form" />
            </p:selectOneMenu>

            <p:spacer height="5px" />

            <h:outputLabel styleClass="bold" 
                           value="Description: " 
                           for="occperiod-query-desc-ot" />
            <h:outputText id="occperiod-query-desc-ot" 
                          value="#{sessionOccupancyConductor.occPeriodQuerySelected.queryName.desc}" />

            <p:spacer height="5px" />
            <div class="p-grid">
                <div class="p-col-12">
                    <p:commandButton   id="occperiod-executequery-cb" 
                                       ajax="true" 
                                       actionListener="#{sessionOccupancyConductor.executeQueryOccPeriod}"
                                       disabled="#{sessionOccupancyConductor.occPeriodQuerySelected.queryExecuted}"
                                       icon="pi pi-search" 
                                       styleClass="button"
                                       value="Search" 
                                       update="@form
                                       occperiod-search-results-form"/>

                    <p:commandLink     id="occperiod-search-clear-cb" 
                                       ajax="true"
                                       actionListener="#{sessionOccupancyConductor.resetQueryOccPeriod}"
                                       styleClass="button inline-button"
                                       style="font-weight: bold; color: blue; margin-left: 5px;"
                                       value="reset search" 
                                       disabled="#{!sessionOccupancyConductor.occPeriodQuerySelected.queryExecuted}"
                                       update="@form"/>
                    <h:outputText value=" | " />
                    <p:outputLabel for="occperiod-search-appendresults-chkbox"
                                   style="margin-left: 5px;">
                        <h:outputText value="Append results to list? "/>
                    </p:outputLabel>

                    <p:selectBooleanCheckbox   id="occperiod-search-appendresults-chkbox"
                                               value="#{sessionOccupancyConductor.appendResultsToListOccPeriod}"
                                               styleClass="inline-control">
                        <p:ajax />
                    </p:selectBooleanCheckbox>
                </div>
            </div>
        </h:form>

        <h:form id="occperiod-search-results-form" >
            <div class="p-grid">
                <div class="p-col-12">
                    <h:outputText value="listing #{sessionOccupancyConductor.sessOccPeriodList.size()} periods" 
                                  styleClass="italic"/>
                    <h:outputText value=" | " />
                    <p:commandLink     id="occperiod-search-results-clear-button" 
                                       ajax="true"
                                       actionListener="#{sessionOccupancyConductor.clearOccPeriodList}"
                                       styleClass="button"
                                       style="font-weight: bold; color: blue; margin-left: 5px;"
                                       value="clear results lList" 
                                       update=" occperiod-messages-form
                                       occperiod-search-results-form"/>
                </div>
            </div>

            <p:spacer height="5px" />

            <p:dataTable
                id="occperiods-table"
                value="#{sessionOccupancyConductor.sessOccPeriodList}"
                filteredValue="#{sessionOccupancyConductor.occPeriodListFiltered}"
                rendered="#{not empty sessionOccupancyConductor.sessOccPeriodList}"
                var="period"
                rowKey="#{period.periodID}"
                tableStyleClass="primeDataTable"
                resizableColumns="true"
                widgetVar="occperiods-table-var"
                rowExpandMode="multiple"
                expandedRow="false"
                reflow="true"
                >
                <!--<p:ajax event="rowSelect" update="selectedRowLabel"/>-->

                <p:column width="5%" 
                          headerText="exp">
                    <p:rowToggler />

                </p:column> 
                <p:column width="15%"
                          sortable="true"
                          sortBy="#{period.status.statusEnum.label}"
                          styleClass="#{!empty period.status ? period.status.statusEnum.cssClass :''}">
                    <f:facet name="header">
                        <h:outputText value="Status" />
                    </f:facet>
                     <i class="material-icons">
                         <h:outputText value="#{!empty period.status ? period.status.statusEnum.iconPropertyLookup : ''}"/>
                    </i>
                    <p:spacer height="3px" />
                    <h:outputText value="#{period.status.statusEnum.label}" />
                </p:column>
                  <p:column width="10%" 
                            sortBy="#{period.periodType.title}">
                    <f:facet name="header">
                        <h:outputText value="Type" />
                    </f:facet>
                      <h:outputText value="#{period.periodType.title}" />
                </p:column>
                
                <p:column headerText="Manager"
                          width="15%"
                          sortBy="#{period.manager.userHuman.name}">
                    <h:outputText value="#{period.manager.userHuman.name}" />
                </p:column>
                
                <p:column headerText="Property"
                          width="30%"
                          sortBy="#{period.propertyAddressStringEscapeFalse}">
                     <h:outputText value="Unit: #{period.propertyUnitNumber}" />
                     <p:spacer height="2px" />
                      <p:commandLink id="occperiod-prop-cl"
                                     action="#{sessionOccupancyConductor.onViewPeriodProperty(period)}"
                                   style="font-weight: bold; color:blue;"
                                   rendered="#{not empty period}">
                          <h:outputText value="#{period.propertyAddressStringEscapeFalse}"
                                          escape="false"
                                          rendered="#{not empty period}"/>
                      </p:commandLink>
                </p:column>

                <p:column width="20%"
                          sortable="true"
                          sortBy="#{period.startDate}">
                    <f:facet name="header">
                        <h:outputText value="Start Date" />
                    </f:facet>
                    <h:outputText value="#{sessionOccupancyConductor.getPrettyDateNoTime(period.startDate)}" />
                </p:column>

                <p:column width="10%">
                    <f:facet name="header">
                        <h:outputText value="Actions" />
                    </f:facet>

                    <div class="restrict-main-contents-io-link">

                        <p:commandLink id="violation-ord-details-cl" 
                                       ajax="false"
                                       action="#{missionControlBB.onViewOccPeriodButtonChange(period)}"
                                       value="view file" 
                                       style="color:blue;"
                                       type="button" />
                    </div>
                    <p:spacer height="3px" />
                     <div class="restrict-main-contents-io-link">

                            <p:commandLink  id="occperiod-action-logevent"
                                            value="log event"
                                            style="button"
                                            actionListener="#{eventBB.onEventAddFromNonHolderSpecificpageInit(period)}"
                                            ajax="true"
                                            disabled="false"
                                            oncomplete="PF('event-add-dialog-var').show()"
                                            update="event-add-dialog
                                            messages-global-form">
                                <f:param name="event-list-component-to-update" 
                                         value="occperiod-search-results-form event-cal-form" />
                            </p:commandLink>
                        </div>

                    <div class="restrict-main-contents-io-link">

                        <p:commandLink  id="occperiod-action-link"
                                        value="actions"
                                        type="button"
                                        disabled="false"
                                        ajax="true" 
                                        rendered="false"/>
                    </div>
                    <p:spacer height="3px" />
                    <h:outputText value="(ID:#{period.periodID}" />
                    <p:overlayPanel for="occperiod-action-link"
                                    style="width:350px;" 
                                    dismissable="true"
                                    showCloseIcon="true" >

                        <h4>Actions available for Permit File ID:
                            <h:outputText value="#{period.periodID}" />
                        </h4>
                    </p:overlayPanel>
                </p:column>

                <p:rowExpansion>
                    <h3>Permits</h3>
                 
                    <p:accordionPanel id="occperiod-expansioninfo-panel">
                        <p:tab title="Permits (#{period.permitList.size()})">
                            <p:dataScroller id="permitscroller"
                                            value="#{period.permitList}"
                                            var="op">
                                <h:outputText value="#{op.permitType.title}"/>
                                <h:outputText value=" Issuance date: "/>
                                <h:outputText value="#{sessionOccupancyConductor.getPrettyLocalDate(op.staticdateofissue)}"/>
                                
                            </p:dataScroller>
                        </p:tab>
                    </p:accordionPanel>
                </p:rowExpansion>
            </p:dataTable>
        </h:form>
    </p:panel>

</ui:composition>