<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns="http://www.w3.org/1999/xhtml">

    <div class="occperiod-tasks-container">
        <h:form id="task-tree-form">
            <p:panel id="tasks-flow-panel"
                     toggleable="true"
                     collapsed="true"
                     header="Task status"
                     style="width:100%;">

                <div class="p-grid">
                    <div class="p-col-12">

                        <p:scrollPanel style="width:100%; height: 250px" >
                            <p:tree id="taskassignedtree"
                                    value="#{occPeriodBB.currentOccPeriod.taskOrganizer.taskTree}"
                                    rendered="#{not empty occPeriodBB.currentOccPeriod.taskOrganizer}"
                                    var="task"
                                    orientation="horizontal">
                                <p:treeNode>
                                    <h:outputText value="#{task.title}"
                                                  style="font-size: 1em;"/>
                                    <p:spacer height="2px" />
                                    <p:commandLink id="taskassigned-tree-viweedit-cl"
                                                   value="details"
                                                   type="button"
                                                   style="font-weight: bold; color: blue;"
                                                   actionListener="#{occPeriodBB.onViewTaskAssigned(task)}" 
                                                   oncomplete="PF('task-assigned-dialog-var').show();"
                                                   update="@form:@parent:task-assigned-form
                                                   @form:@parent:task-assigned-dialog"/>

                                </p:treeNode>

                            </p:tree>
                        </p:scrollPanel>
                    </div>
                    <div class="p-col-12">
                        <div class="restrict-main-contents-io-link">
                            <p:commandLink id="taskassigned-tree-viweedit-cl"
                                           value="reload"
                                           type="button"
                                           actionListener="#{occPeriodBB.refreshTaskTree}" 
                                           update="@form"/>

                        </div>
                    </div>
                </div>
            </p:panel>
        </h:form>

    </div>

    <p:dialog id="task-assigned-dialog"
              widgetVar="task-assigned-dialog-var"
              header="Add/Edit Task Specification: #{occPeriodBB.currentTaskAssigned}"
              closeOnEscape="true"
              closable="true"
              resizable="true"
              responsive="true"
              height="500" width="850"
              rendered="true"
              >

        <h:form id="task-assigned-form">

            <div class="p-grid">
                <div class="p-col-4 restrict-data-field-label-inline">
                    <h:outputText value="ID:"/>
                </div>
                <div class="p-col-8 restrict-data-field-value-inline">
                    <h:outputText value="#{occPeriodBB.currentTaskAssigned.taskSpecID}"
                                  rendered="#{occPeriodBB.currentTaskAssigned.taskSpecID ne 0}"/>
                    <h:outputText value="[new record]"
                                  rendered="#{occPeriodBB.currentTaskAssigned.taskSpecID eq 0}"/>
                </div>
                <div class="p-col-4 restrict-data-field-label-inline">
                    <h:outputText value="Task name:"/>
                </div>
                <div class="p-col-8 restrict-data-field-value-inline">
                    <h:outputText value="#{occPeriodBB.currentTaskAssigned.title}" />
                </div>
                <div class="p-col-4 restrict-data-field-label-inline">
                    <h:outputText value="Description:"/>
                </div>
                <div class="p-col-8 restrict-data-field-value-inline">
                    <h:outputText value="#{occPeriodBB.currentTaskAssigned.description}" />

                </div>

                <div class="p-col-4 restrict-data-field-label-inline">
                    <h:outputText value="Task type:"/>
                </div>
                <div class="p-col-8 restrict-data-field-value-inline">
                    <h:outputText value="#{occPeriodBB.currentTaskAssigned.taskType.title}"
                                  rendered="#{not empty occPeriodBB.currentTaskAssigned.taskType}"/>
                </div>

                <div class="p-col-4 restrict-data-field-label-inline">
                    <h:outputText value="Due date type"/>
                </div>
                <div class="p-col-8 restrict-data-field-value-inline">
                    <h:outputText value="#{occPeriodBB.currentTaskAssigned.taskDueDateType.title}"
                                  rendered="#{not empty occPeriodBB.currentTaskAssigned.taskDueDateType}"/>
                </div>

                <div class="p-col-4 restrict-data-field-label-inline">
                    <h:outputText value="Assign to role:"/>
                </div>
                <div class="p-col-8 restrict-data-field-value-inline">
                    <h:outputText value="#{occPeriodBB.currentTaskAssigned.assignedToRole.title}"
                                  rendered="#{not empty occPeriodBB.currentTaskAssigned.assignedToRole}"/>
                </div>

                <div class="p-col-4 restrict-data-field-label-inline">
                    <h:outputText value="Predecessor task:"/>
                </div>
                <div class="p-col-8 restrict-data-field-value-inline">
                    <h:outputText value="#{occPeriodBB.currentTaskAssigned.predecessor.title} (ID:#{occPeriodBB.currentTaskAssigned.predecessor.taskSpecID})"
                                  rendered="#{not empty occPeriodBB.currentTaskAssigned.predecessor}"/>
                </div>
                <div class="p-col-4 restrict-data-field-label-inline">
                    <h:outputText value="Generation:"/>
                </div>
                <div class="p-col-8 restrict-data-field-value-inline">
                    <h:outputText value="#{occPeriodBB.currentTaskAssigned.generation}" />
                </div>

                <div class="p-col-4 restrict-data-field-label-inline">
                    <h:outputText value="Relationship to Predecessor:"/>
                </div>
                <div class="p-col-8 restrict-data-field-value-inline">
                    <h:outputText value="#{occPeriodBB.currentTaskAssigned.predecessorRole.title}"
                                  rendered="#{not empty occPeriodBB.currentTaskAssigned.predecessorRole}"/>
                </div>

                <div class="p-col-4 restrict-data-field-label-inline">
                    <h:outputText value="Predcessor buffer default (days):"/>
                </div>
                <div class="p-col-8 restrict-data-field-value-inline">
                    <h:outputText value="#{occPeriodBB.currentTaskAssigned.predecessorBufferDaysDefault}" />

                </div>

                <div class="p-col-4 restrict-data-field-label-inline">
                    <h:outputText value="Reminder/Documentation Event Category:" />
                </div>
                <div class="p-col-8 restrict-data-field-value-inline">
                    <h:outputText   id="taskspec-eventcat-ot"
                                    value="#{occPeriodBB.currentTaskAssigned.eventCategoryForCompletion.eventCategoryTitle} (ID:#{occPeriodBB.currentTaskAssigned.eventCategoryForCompletion.categoryID})"  />

                </div>
                <div class="p-col-4 restrict-data-field-label-inline">
                    <h:outputText value="Estimated duration (mins):"/>
                </div>
                <div class="p-col-8 restrict-data-field-value-inline">
                    <h:outputText value="#{occPeriodBB.currentTaskAssigned.expectedCompletionDurationDefault}" />

                </div>

                <div class="p-col-4 restrict-data-field-label-inline">
                    <h:outputText value="Notification default:"/>
                </div>
                <div class="p-col-8 restrict-data-field-value-inline">
                    <h:outputText value="#{occPeriodBB.currentTaskAssigned.notificationStatusDefault}" />

                </div>
            </div>
        </h:form>
    </p:dialog>

</ui:composition>