<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns="http://www.w3.org/1999/xhtml">

    <h:form id="occperiod-status-growl-form">
        <p:growl id="occperiod-status-growl"
                 keepAlive="true" />
    </h:form>
    <p:panel id="occperiod-status-panel"
             toggleable="true"
             widgetVar="occperiod-status-panel-var"
             collapsed="false"
             header="Permit File Status | ID: #{occPeriodBB.currentOccPeriod.periodID}
             | last updated: #{occPeriodBB.getPrettyDateNoTime(occPeriodBB.currentOccPeriod.lastUpdatedTS)}">

        <!-- Authorization status removed March 2023 since we aren't enforcing permissions walls-->
        <ui:remove>
            <div class="ui-g data_container_nested_restrict">

                <div class="ui-g-12 ui-md-12 ui-lg-12 restrict-data-field">

                    <div class="restrict-data-field-label-inline">
                        <p:outputLabel>
                            <h:outputText value="Authorization status"/>
                        </p:outputLabel>
                    </div>
                    <div class="restrict-data-field-value-inline">
                        <h:panelGroup id="occperiod-authorization-lockunlock-group">
                            <i class="fa fa-#{empty occPeriodBB.currentOccPeriod.authorizedTS ? 'exclamation-circle' : 'shield'} p-mr-1"
                               aria-hidden="true"/>
                            <!-- command link if period is unauthorized -->
                            <p:commandLink id="occperiod-authorization-lock-cb"
                                           ajax="true"
                                           style="color:blue;"
                                           actionListener="#{occPeriodBB.toggleOccPeriodAuthorization}"
                                           rendered="#{empty occPeriodBB.currentOccPeriod.authorizedBy}"
                                           value="Unauthorized"
                                           update="occperiod-status-form occperiod-permits-form inspections-form"
                                           disabled="#{empty occPeriodBB.currentOccPeriod.endDateCertifiedBy
                                                       || empty occPeriodBB.currentOccPeriod.startDateCertifiedBy
                                                       || empty occPeriodBB.currentOccPeriod.periodTypeCertifiedBy}">
                                <f:param name="fieldtocertify" value="authorization"/>
                                <f:param name="certifymode" value="certify"/>
                                <p:confirm header="Confirmation" message="Are you sure you want to authorize this occupancy period?" icon="pi pi-info-circle"/>
                            </p:commandLink>
                            <!-- command link if period is authorized -->
                            <p:commandLink id="occperiod-authorization-unlock-cb"
                                           ajax="true"
                                           style="color:blue;"
                                           actionListener="#{occPeriodBB.toggleOccPeriodAuthorization}"
                                           rendered="#{!empty occPeriodBB.currentOccPeriod.authorizedBy}"
                                           value="Authorized"
                                           update="occperiod-status-form occperiod-permits-form inspections-form">
                                <f:param name="fieldtocertify" value="authorization"/>
                                <f:param name="certifymode" value="withdraw"/>
                                <p:confirm header="Confirmation"
                                           message="Are you sure you want to deauthorize the occupancy period? It was originally authorized by
                                           #{occPeriodBB.currentOccPeriod.authorizedBy.human.name}
                                           #{occPeriodBB.currentOccPeriod.authorizedBy.human.name}
                                           on #{occPeriodBB.getPrettyDate(occPeriodBB.currentOccPeriod.authorizedTS)}"
                                           icon="pi pi-exclamation-triangle"/>
                            </p:commandLink>
                        </h:panelGroup>
                    </div>
                </div>
            </div>
        </ui:remove>
        <h:form id="occperiod-status-form">

            <!-- Created by and at fields -->
            <div class="p-grid data_container_nested_restrict">
                <div class="p-lg-4 p-md-6 p-sm-12">
                    <div class="restrict-data-field-label-inline">
                        <p:outputLabel>
                            <h:outputText value="Status:"/>
                            <div class="restrict-main-contents-io-link" >

                                <p:commandLink id="statusinfo-button"
                                               styleClass="button-help"
                                               type="button" >
                                    <i class="material-icons"
                                       style="display: inline-block">
                                        help_outline
                                    </i>
                                </p:commandLink>

                            </div>
                            <p:overlayPanel for="statusinfo-button"
                                            style="width:750px;"
                                            dismissable="true"
                                            showCloseIcon="true">
                                <h3>About occ period statuses</h3>

                                <p:dataTable id="periodstatustable"
                                             value="#{occPeriodBB.statusListForHelp}"
                                             var="stat"
                                             tableStyleClass="primeDataTable">
                                    
                                    <p:column
                                        styleClass="#{stat.cssClass}">
                                        <f:facet name="header">
                                            <h:outputText value="Icon" />
                                        </f:facet>
                                        <i class="material-icons">
                                            <h:outputText value="#{stat.iconPropertyLookup}"/>
                                        </i>
                                    </p:column>
                                    <p:column>
                                        <f:facet name="header">
                                            <h:outputText value="Title" />
                                        </f:facet>
                                        <h:outputText value="#{stat.label}"/>

                                    </p:column>
                                    <p:column>
                                        <f:facet name="header">
                                            <h:outputText value="Description" />
                                        </f:facet>
                                        <h:outputText value="#{stat.description}"/>

                                    </p:column>
                                </p:dataTable>



                            </p:overlayPanel>
                        </p:outputLabel>
                    </div>
                </div>
                <div class="p-lg-1 p-md-2 p-sm-12">
                    <div class="#{occPeriodBB.currentOccPeriod.status.statusEnum.cssClass}">
                        <i class="material-icons">
                            <h:outputText value="#{!empty occPeriodBB.currentOccPeriod.status ? occPeriodBB.currentOccPeriod.status.statusEnum.iconPropertyLookup : ''}"/>
                        </i>
                    </div>
                </div>
                <div class="p-lg-5 p-md-6 p-sm-12">
                    <div class="#{occPeriodBB.currentOccPeriod.status.statusEnum.cssClass} per-priority-textinstatusbox">
                        <h:outputText value="#{occPeriodBB.currentOccPeriod.status.statusEnum.label}"
                                      rendered="#{not empty occPeriodBB.currentOccPeriod.status}"
                                      styleClass="bold"/>
                    </div>
                </div>
                <div class="p-lg-2 p-md-6 p-sm-12">
                    <div class="restrict-main-contents-io-link" >

                        <p:commandLink id="statuslog-button"
                                       styleClass="button-help"
                                       type="button" >
                            <h:outputText value="log" />
                        </p:commandLink>

                    </div>
                    <p:overlayPanel for="statuslog-button"
                                    style="width:350px;"
                                    dismissable="true"
                                    showCloseIcon="true">
                        <h3>Status Assignment Logic Log</h3>
                        <h:outputText value="#{occPeriodBB.currentOccPeriod.status.statusLog}"
                                      escape="false"/>
                    </p:overlayPanel>
                </div>
                <div class="p-lg-4 p-md-6 p-sm-12">
                    <div class="restrict-data-field-label-inline">
                        <p:outputLabel>
                            <h:outputText value="Unit:"/>
                        </p:outputLabel>
                    </div>
                </div>
                <div class="p-col-8">
                    <div class="restrict-data-field-value-inline">
                        <h:outputText value="#{occPeriodBB.currentOccPeriod.propertyUnitNumber}"
                                      escape="false"/>
                    </div>
                </div>
                <f:subview id="prop-unit-address-subview"
                           rendered="#{not empty sessionBean.sessPropertyUnit and not empty sessionBean.sessPropertyUnit.primaryMailingAddressLink}">

                    <div class="p-lg-4 p-md-6 p-sm-12">
                        <div class="restrict-data-field-label-inline">
                            <p:outputLabel>
                                <h:outputText value="Unit address:"/>
                            </p:outputLabel>
                        </div>
                    </div>
                    <div class="p-col-8">
                        <div class="restrict-data-field-value-inline">
                            <h:outputText value="#{sessionBean.sessPropertyUnit.primaryMailingAddressLink.addressPretty1Line}" />
                        </div>
                    </div>
                </f:subview>

                <div class="p-lg-4 p-md-6 p-sm-12">
                    <div class="restrict-data-field-label-inline">
                        <p:outputLabel>
                            <h:outputText value="Property:"/>
                        </p:outputLabel>
                    </div>
                </div>
                <div class="p-lg-8 p-md-6 p-sm-12">
                    <div class="restrict-data-field-value-inline">
                        <h:outputText value="#{occPeriodBB.currentOccPeriod.propertyAddressStringEscapeFalse}"
                                      escape="false"/>
                        <p:spacer height="3px" />
                        <h:outputText value="#{occPeriodBB.currentOccPeriod.parentParcelIDCounty}" />
                        <div class="p-grid">
                            <ui:include src="/restricted/cogstaff/event/compositions/propertyAlertFlags.xhtml" />
                        </div>
                    </div>
                </div>
            </div>
        </h:form>
        <h:form id="occperiod-startdate-form">
            <div class="p-grid">
                <!-- Occupancy start date -->
                <div class="p-lg-4 p-md-6 p-sm-12">
                    <div class="restrict-data-field-label-inline">
                        <h:outputLabel value="Start date"/>

                        <div class="restrict-main-contents-io-link link-button">

                            <p:commandLink id="occperiod-editstart-init-cb"
                                           ajax="true"
                                           oncomplete="PF('occperiod-editstart-dialog-var').show()"
                                           style="color:blue;"
                                           value="edit"
                                           disabled="#{!empty occPeriodBB.currentOccPeriod.startDateCertifiedTS}"/>
                        </div>
                    </div>
                </div>
                <div class="p-lg-8 p-md-6 p-sm-12">
                    <div class="restrict-data-field-value-inline">
                        <h:outputText id="seloccperiod-sdate-it" value="#{occPeriodBB.currentOccPeriod.startDatePretty}"/>
                    </div>

                    <h:panelGroup id="occperiod-startdate-lockunlock-group">
                        <i class="fa fa-#{empty occPeriodBB.currentOccPeriod.startDateCertifiedTS ? 'unlock' : 'lock'} p-mr-1"
                           aria-hidden="true"/>
                        <!-- command link if start date is unlocked -->
                        <p:commandLink id="occperiod-startdate-lock-cb"
                                       ajax="true"
                                       style="color:blue;"
                                       actionListener="#{occPeriodBB.certifyOccPeriodField}"
                                       rendered="#{systemServicesBB.permissionAllowAncillaryObjectEdit and empty occPeriodBB.currentOccPeriod.startDateCertifiedBy}"
                                       value="Unlocked"
                                       update="occperiod-status-form"
                                       disabled="#{!empty occPeriodBB.currentOccPeriod.authorizedBy}">
                            <f:param name="field tocertify" value="startdate"/>
                            <f:param name="certifymode" value="certify"/>
                            <p:confirm header="Confirmation" message="Are you sure you want to lock the start date?" icon="pi pi-info-circle"/>
                        </p:commandLink>
                        <!-- command link if start date is locked -->
                        <p:commandLink id="occperiod-startdate-unlock-cb"
                                       ajax="true"
                                       style="color:blue;"
                                       actionListener="#{occPeriodBB.certifyOccPeriodField}"
                                       rendered="#{systemServicesBB.permissionAllowAncillaryObjectEdit and !empty occPeriodBB.currentOccPeriod.startDateCertifiedBy}"
                                       value="Locked"
                                       update="occperiod-status-form"
                                       disabled="#{!empty occPeriodBB.currentOccPeriod.authorizedBy}">
                            <f:param name="fieldtocertify" value="startdate"/>
                            <f:param name="certifymode" value="withdraw"/>
                            <p:confirm header="Confirmation"
                                       message="Are you sure you want to unlock the start date? It was originally locked by
                                       #{occPeriodBB.currentOccPeriod.startDateCertifiedBy.human.name}
                                       #{occPeriodBB.currentOccPeriod.startDateCertifiedBy.username}
                                       on #{occPeriodBB.getPrettyDate(occPeriodBB.currentOccPeriod.startDateCertifiedTS)}"
                                       icon="pi pi-exclamation-triangle"/>
                        </p:commandLink>
                    </h:panelGroup>
                </div>
            </div>
        </h:form>

        <h:form id="occperiod-manager-form">

            <div class="p-grid">
                <div class="p-lg-4 p-md-6 p-sm-12">
                    <div class="restrict-data-field-label-inline">
                        <p:outputLabel for="occperiod-manager-ot">
                            <h:outputText value="Manager:"/>
                        </p:outputLabel>
                        <div class="restrict-main-contents-io-link link-button">

                            <p:commandLink      id="occperiod-manager-edit-toggle-clink"
                                                actionListener="#{occPeriodBB.onToggleOccPeriodUpdateManager}"
                                                ajax="true"
                                                value="#{occPeriodBB.editModeOccPeriodManager ? 'save new manager':'change manager'}"
                                                rendered="#{occPeriodBB.permissionsAllowOccPeriodManagerChange}"
                                                disabled="#{!empty occPeriodBB.currentOccPeriod.deactivatedTS}"
                                                update="@form
                                                occperiod-status-growl-form
                                                event-masterlist-form
                                                " />
                            <h:outputText value=" |  " 
                                          rendered="#{occPeriodBB.editModeOccPeriodManager}"
                                          />
                            <p:commandLink      id="occperiod-manager-edit-abort-clink"
                                                ajax="true"
                                                actionListener="#{occPeriodBB.onOccperiodUpdateManagerAbortButtonChange}"
                                                value="cancel"
                                                immediate="true"
                                                rendered="#{occPeriodBB.editModeOccPeriodManager}"
                                                update="@form
                                                occperiod-status-growl-form"
                                                />
                        </div>
                    </div>
                </div>
                <div class="p-lg-8 p-md-6 p-sm-12">
                    <div class="restrict-data-field-value-inline">
                        <h:outputText id="occperiod-manager-ot"
                                      value="#{occPeriodBB.currentOccPeriod.manager.human.name} (#{occPeriodBB.currentOccPeriod.manager.username})"
                                      rendered="#{not occPeriodBB.editModeOccPeriodManager}"/>

                        <p:selectOneMenu  id="occperiod-manager-som"
                                          rendered="#{occPeriodBB.editModeOccPeriodManager}"
                                          value="#{occPeriodBB.occPeriodManagerSelected}"
                                          >
                            <f:selectItem itemLabel="select a user "
                                          noSelectionOption="true"
                                          itemDisabled="true"/>
                            <f:selectItems id="occperiod-manager-candidates"
                                           value="#{occPeriodBB.occPeriodManagerCandidateList}"
                                           var="usr" itemValue="#{usr}" itemLabel="#{usr.human.firstName} #{usr.human.lastName}; username #{usr.username}" />
                            <f:converter converterId="userConverter" />
                        </p:selectOneMenu>
                    </div>
                </div>
            </div>
        </h:form>

        <h:form id="occperiod-periodtype-form">
            <div class="p-grid">

                <div class="p-lg-4 p-md-6 p-sm-12">
                    <div class="restrict-data-field-label-inline">
                        <p:outputLabel>
                            <h:outputText value="File Type:"/>
                        </p:outputLabel>
                        <div class="restrict-main-contents-io-link link-button">

                            <p:commandLink      id="occperiod-type-edit-toggle-clink"
                                                actionListener="#{occPeriodBB.onToggleOccPeriodUpdateType}"
                                                ajax="true"
                                                value="#{occPeriodBB.editModeOccPeriodType ? 'save file type':'change file type'}"
                                                rendered="#{occPeriodBB.permissionsAllowOccPeriodTypeChange}"
                                                disabled="#{!empty occPeriodBB.currentOccPeriod.deactivatedTS}"
                                                update="@form
                                                occperiod-status-growl-form
                                                notes-panel
                                                " />
                            <h:outputText value="  |  " 
                                          rendered="#{occPeriodBB.editModeOccPeriodType}"/>
                            <p:commandLink      id="occperiod-type-edit-abort-clink"
                                                ajax="true"
                                                actionListener="#{occPeriodBB.onOccperiodUpdateTypeAbortButtonChange}"
                                                value="cancel"
                                                immediate="true"
                                                rendered="#{occPeriodBB.editModeOccPeriodType}"
                                                update="@form
                                                occperiod-status-growl-form"
                                                />
                        </div>
                    </div>

                </div>
                <div class="p-lg-8 p-md-6 p-sm-12">
                    <div class="restrict-data-field-value-inline">

                        <h:outputText value="#{occPeriodBB.currentOccPeriod.periodType.title}"
                                      rendered="#{not empty occPeriodBB.currentOccPeriod.periodType and not occPeriodBB.editModeOccPeriodType}"/>

                    </div>
                    <p:selectOneMenu id="occperiod-edit-ftype-som"
                                     value="#{occPeriodBB.selectedOccPeriodType}"
                                     required="true"
                                     rendered="#{occPeriodBB.editModeOccPeriodType}">

                        <f:converter converterId="occPeriodTypeConverter"/>
                        <f:selectItem itemLabel="select a permit file type..."
                                      noSelectionOption="true"
                                      itemDisabled="true"/>
                        <f:selectItems id="occperiod-ftype-edit-selectitems"
                                       value="#{occPeriodBB.occPeriodTypeList}"
                                       var="opt"
                                       itemValue="#{opt}"
                                       itemLabel="#{opt.title}"/>

                    </p:selectOneMenu>
                </div>
            </div>
        </h:form>

        <h:form id="occperiod-periodtools-form">
            <div class="p-grid">
                <div class="p-col-4 restrict-data-field-label-inline">
                    <h:outputText value="Permit file tools:" />
                </div>
                <div class="p-col-8 ">
                    <div class="restrict-main-contents-io-link">
                        <p:commandLink id="view-property-cb"
                                       ajax="false"
                                       action="#{occPeriodBB.exploreProperty}"
                                       rendered="#{systemServicesBB.bbSessionUser.keyCard.hasMuniReaderPermissions}"
                                       value="view property (parcel ID: #{occPeriodBB.currentPropertyUnit.parcelKey})"/>
                    </div>
                    <div class="restrict-main-contents-io-link">
                        <p:commandLink id="deactivate-permit-file-cb"
                                       ajax="true"
                                       actionListener="#{occPeriodBB.onOccPeriodDeactivateInit}"
                                       rendered="#{occPeriodBB.permissionsAllowOccPeriodDeactivation}"
                                       oncomplete="PF('occperiod-deac-dialog-var').show();"
                                       update="occperiod-deac-dialog"
                                       value="deactivate permit file"/>
                    </div>
                </div>
            </div>
        </h:form>
    </p:panel>

    <!-- Dialogs -->

    <!-- Universal confirmation dialog template-y thing -->
    <p:confirmDialog global="true"
                     responsive="true"
                     width="600">
        <h:form>
            <p:commandButton value="No" type="button" styleClass="ui-confirmdialog-no ui-button-flat"/>
            <p:commandButton value="Yes" type="button" styleClass="ui-confirmdialog-yes" />
        </h:form>
    </p:confirmDialog>


    <!-- Change manager dialog -->
    <p:dialog id="occperiod-deac-dialog"
              height="450" width="600"
              header="Deactivate permit file"
              widgetVar="occperiod-deac-dialog-var"
              closable="true"
              resizable="true"
              dynamic="true"
              closeOnEscape="true"
              modal="true"
              rendered="#{occPeriodBB.permissionsAllowOccPeriodDeactivation}">
        <h:form id="occperiod-deac-form">
            <div class="p-grid">
                <div class='p-col-6'>
                    <div class="restrict-main-contents-io-button gray_button">
                        <p:commandButton id="occperiod-changemanager-abort-button"
                                         value="Cancel"
                                         icon="pi pi-arrow-left"
                                         oncomplete="PF('occperiod-deac-dialog-var').hide()"
                                         actionListener="#{occPeriodBB.onOccPeriodDeacCancel}"/>
                    </div>
                </div>
                <div class='p-col-6 restrict-main-contents-io-button red_button'>
                    <p>This action can only be undone by a database dev, and they will grumble while doing so.</p>
                    <p:commandButton id="occperiod-changemanager-button"
                                     value="Deactivate Permit File ID:#{occPeriodBB.currentOccPeriod.periodID}"
                                     action="#{occPeriodBB.onOccperiodDeactivateCommit}"
                                     rendered="#{occPeriodBB.permissionsAllowOccPeriodDeactivation}"
                                     icon="pi pi-trash"
                                     update="occperiod-status-growl-form"
                                     />
                </div>
            </div>
        </h:form>
    </p:dialog>


    <!-- Change manager dialog -->
    <p:dialog id="occperiod-changemanager-dialog"
              height="450" width="600"
              header="Change Permit File Manager"
              widgetVar="occperiod-changemanager-dialog-var"
              closable="true"
              resizable="true"
              dynamic="true"
              closeOnEscape="true"
              modal="true"
              rendered="true" class='blob-upload-dialog-wrap'>
        <p:scrollPanel mode="native" style="height: calc(100vh - 7rem);">
            <h:form id="occperiod-changemanager-form">
                <div class="ui-g data-container">

                    <div class="ui-g-12 ui-md-12 ui-lg-12 data_field">

                        <p:outputLabel for="occperiod-manager-som"
                                       styleClass="data_field_label">
                            <h:outputText value="Choose a new manager user"/>
                        </p:outputLabel>
                        <div class="restrict-main-contents-io-content">
                            <p:selectOneMenu id="occperiod-manager-som"
                                             tabindex="1"
                                             value="#{occPeriodBB.currentOccPeriod.manager}">

                                <f:selectItem itemLabel="select a user"
                                              noSelectionOption="true"
                                              itemDisabled="true"/>
                                <f:selectItems id="occperiod-search-user-field-val-items"
                                               value="#{systemServicesBB.userListForSearch}"
                                               var="usr" itemValue="#{usr}" itemLabel="#{usr.human.name}; username #{usr.username}"/>
                                <f:converter converterId="userConverter"/>
                            </p:selectOneMenu>

                        </div>

                    </div>
                    <div class="ui-g-12 ui-md-6 ui-lg-6 data_field">
                        <p:commandButton id="occperiod-changemanager-button"
                                         value="Change manager of permit file ID #{occPeriodBB.currentOccPeriod.periodID}"
                                         icon="fa fa-user"
                                         oncomplete="PF('occperiod-changemanager-dialog-var').hide()"
                                         update="occperiod-status-form
                                         occperiod-status-growl-form"
                                         actionListener="#{occPeriodBB.saveOccPeriodChanges}"/>
                    </div>

                    <div class="ui-g-12 ui-md-6 ui-lg-6 data_field">
                        <div class="restrict-main-contents-io-button gray_button">
                            <p:commandButton id="occperiod-changemanager-abort-button"
                                             value="Cancel"
                                             icon="pi pi-stop"
                                             oncomplete="PF('occperiod-changemanager-dialog-var').hide()"
                                             actionListener="#{occPeriodBB.discardOccPeriodChanges}"
                                             update="occperiod-status-growl-form"/>
                        </div>
                    </div>
                </div>
            </h:form>
        </p:scrollPanel>
    </p:dialog>

    <p:dialog id="occperiod-editstart-dialog"
              height="450" width="600"
              header="Edit permit file start date"
              widgetVar="occperiod-editstart-dialog-var"
              closable="true"
              responsive="true"
              resizable="true"
              modal="true"
              rendered="true" class='blob-upload-dialog-wrap'>
        <p:scrollPanel mode="native" style="height: calc(100vh - 7rem);">
            <h:form id="occperiod-editstart-form">
                <div class="ui-g data-container">

                    <div class="ui-g-12 ui-md-12 ui-lg-12 data_field">


                        <div id="occperiod-editstart-origination-div"
                             class="ui-g-12 ui-md-12 ui-lg-12 data_field">

                            <p:outputLabel for="occperiod-date-start-cal"
                                           styleClass="data_field_label">

                                <h:outputText value="Start date"/>
                            </p:outputLabel>
                            <p:datePicker 	    id="occperiod-date-start-cal"
                                               value="#{occPeriodBB.currentOccPeriod.startDate}"
                                               rendered="true"
                                               style="width: 100%;"
                                               pattern="MM/dd/yyyy HH:mm"
                                               disabled="false"
                                               hideOnDateTimeSelect="true"
                                               showOnFocus="false"
                                               showIcon="true"
                                               showButtonBar="true"
                                               mask="true"
                                               timeInput="true"
                                               required="true" />


                            <h:message for="occperiod-date-start-cal" showDetail="false" showSummary="true"
                                       warnClass="msgWarn" infoClass="msgInfo" fatalClass="msgFatal" errorClass="msgError"/>
                        </div>

                    </div>

                    <div class="ui-g-12 ui-md-6 ui-lg-6 data_field">
                        <p:commandButton id="occperiod-editstart-button"
                                         value="Change start date of permit file ID #{occPeriodBB.currentOccPeriod.periodID}"
                                         icon="pi pi-save"
                                         oncomplete="PF('occperiod-editstart-dialog-var').hide()"
                                         update="occperiod-status-form
                                         occperiod-status-growl-form
                                         occperiod-startdate-form"
                                         actionListener="#{occPeriodBB.saveOccPeriodChanges}"/>

                    </div>

                    <div class="ui-g-12 ui-md-6 ui-lg-6 data_field">

                        <div class="restrict-main-contents-io-button gray_button">

                            <p:commandButton id="occperiod-editstart-abort-button"
                                             value="Cancel"
                                             icon="pi pi-stop"
                                             oncomplete="PF('occperiod-editstart-dialog-var').hide()"
                                             update="occperiod-status-growl-form"
                                             actionListener="#{occPeriodBB.discardOccPeriodChanges}"/>
                        </div>
                    </div>
                </div>
            </h:form>
        </p:scrollPanel>
    </p:dialog>

    <!-- Edit occ period end date dialog -->
    <p:dialog id="occperiod-editend-dialog"
              height="450" width="600"
              header="Edit permit file end date"
              widgetVar="occperiod-editend-dialog-var"
              closable="true"
              responsive="true"
              resizable="true"
              modal="true"
              rendered="true"  class='blob-upload-dialog-wrap'>
        <p:scrollPanel mode="native" style="height: calc(100vh - 7rem);">
            <h:form id="occperiod-editend-form">
                <div class="ui-g data-container">

                    <div class="ui-g-12 ui-md-12 ui-lg-12 data_field">


                        <div id="occperiod-editend-origination-div"
                             class="ui-g-12 ui-md-12 ui-lg-12 data_field">

                            <p:outputLabel for="occperiod-date-end-cal"
                                           styleClass="data_field_label">

                                <h:outputText value="End date"/>
                            </p:outputLabel>
                            <p:datePicker 	id="occperiod-date-end-cal"
                                           value="#{occPeriodBB.currentOccPeriod.endDate}"
                                           rendered="true"
                                           style="width: 100%;"
                                           pattern="MM/dd/yyyy HH:mm"
                                           disabled="false"
                                           hideOnDateTimeSelect="true"
                                           showOnFocus="false"
                                           showIcon="true"
                                           showButtonBar="true"
                                           mask="true"
                                           timeInput="true"
                                           required="true" />


                            <h:message for="occperiod-date-end-cal" showDetail="false" showSummary="true"
                                       warnClass="msgWarn" infoClass="msgInfo" fatalClass="msgFatal" errorClass="msgError"/>
                        </div>

                    </div>

                    <div class="ui-g-12 ui-md-6 ui-lg-6 data_field">
                        <p:commandButton id="occperiod-editend-button"
                                         value="Change end date of permit file ID #{occPeriodBB.currentOccPeriod.periodID}"
                                         icon="fa fa-user"
                                         oncomplete="PF('occperiod-editend-dialog-var').hide()"
                                         update="occperiod-status-form
                                         occperiod-status-growl-form"
                                         actionListener="#{occPeriodBB.saveOccPeriodChanges}"/>
                    </div>

                    <div class="ui-g-12 ui-md-6 ui-lg-6 data_field">
                        <div class="restrict-main-contents-io-button gray_button">
                            <p:commandButton id="occperiod-editend-abort-button"
                                             value="Cancel"
                                             icon="pi pi-stop"
                                             oncomplete="PF('occperiod-editend-dialog-var').hide()"
                                             update="occperiod-status-growl-form"
                                             actionListener="#{occPeriodBB.discardOccPeriodChanges}"/>
                        </div>
                    </div>
                </div>
            </h:form>
        </p:scrollPanel>
    </p:dialog>
</ui:composition>