<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui" >
    <h:head>
        <link rel="stylesheet" type="text/css" href="css/style.css"></link>
        <title>Property Profile</title>
    </h:head>
    <h:body>
        <ui:composition template="/restricted/navContainer_restricted.xhtml">
            <ui:define name="content">
                <f:view id="prop-info-view">
                    <!-- GLOBAL MESSAGES -->
                    <h:form id="property-messages-global">
                        <p:growl id="messages-global" showDetail="false"/>
                    </h:form>

                    
                    <ui:include src="/restricted/cogstaff/event/compositions/eventTools.xhtml"/>
                    <ui:include src="/restricted/compositions/violationMigration.xhtml" />
                    
                    <div class="mainContainer">
                        <h2>
                            <h:outputText value="#{propertyProfileBB.currentProperty.address.addressPretty1Line} (Parcel ID: #{propertyProfileBB.currentProperty.countyParcelID})" />
                        </h2>

                        <ui:include src="compositions/propLinks.xhtml" />

                        <div class="p-grid nested-grid">

                            <div class="p-col">
                                <ui:include src="compositions/propInfo.xhtml" />
                                <ui:include src="compositions/propPersons.xhtml" />
                                <ui:include src="compositions/propAddresses.xhtml" />
                                <ui:include src="compositions/propNotes.xhtml" />
                                <ui:include src="compositions/propAdvanced.xhtml" />
                            </div>

                            <div class="p-col">
                                <ui:include src="compositions/propUnitsPeriods.xhtml" />
                                <ui:include src="compositions/propCases.xhtml" />
                                <ui:include src="compositions/propCEARS.xhtml" />
                                <ui:include src="/restricted/cogstaff/event/compositions/eventListPanel.xhtml" />
                                <ui:include src="compositions/propEventCompList.xhtml" />
                                <ui:include src="compositions/propBlobs.xhtml" />
                            </div>
                            
                        </div>
                    </div>
                </f:view>
            </ui:define>
        </ui:composition>
    </h:body>
</html>

