<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <link rel="stylesheet" type="text/css" href="css/style.css"></link>
        <title>Login error</title>
    </h:head>
    <h:body>
        <ui:composition template="navContainer_public.xhtml">
            <ui:define name="content">
                <f:view id="erroPageView">
                    <h:form>
                        <!-- MAIN CONTAINER -->
                        <div class="mainContainer">

                            <!-- CONTENTS CONTAINER -->
                            <div class="public-main-contents-containner">

                                <!--CONTENT MAIN COMPONENT -->
                                <div class="public-main-contents">

                                    <!-- CONTENT IO COMPONENT -->
                                    <div class="public-main-contents-io public-main-contents-login">
                                        
                                        <h:graphicImage styleClass="public-login-logo" value="/images/login-logo.png" />

                                        <div class="publi-login-container">
                                            <div class="publi-login-title" style="text-align: center; font-size: 3em" >
                                                Incorrect Username Or Password
                                            </div>
                                            <div class="public-login-text">
                                                <p><span class="bold">Remember:</span> Both usernames and passswords ARE cAse SenSiTIve.</p>
                                                <p>If you have tried a bunch of times and checked your records, etc., and believe 
                                                    this is non-user, system error please contact Natalie at TCVCOG at 412.858.5115.</p>
                                                <p>Automated password reset services are not yet setup for this system.</p>
                                            </div>

                                            <div class="public-login-button">
                                                <p:commandButton ajax="false" 
                                                                 value="Try Again" 
                                                                 action="systemHome"
                                                                 style="width: 100%"/>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </h:form>
                </f:view>
            </ui:define>
        </ui:composition>
    </h:body>
</html>

