<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <link rel="stylesheet" type="text/css" href="css/style.css"></link>
        <title>Error</title>
    </h:head>
    <h:body>
        <ui:composition template="navContainer_public.xhtml">
            <ui:define name="content">
                <div class="mainContainer">
                    <f:view id="erroPageView">
                        <h:form id="errorPageForm">

                            <!-- VALIDATION MESSAGE -->
                            <p:growl id="growl" showDetail="false"/>

                            <!-- MAIN CONTAINER -->
                            <div class="mainContainer">

                                <!-- TITLE COMPONENT -->
                                <div class="public-title">
                                    <div class="public-title-main">
                                        Page redirect error: code 504!
                                    </div>
                                    <div class="public-title-sub">
                                        <h:outputText value="#{request.contextPath}"/>
                                    </div>
                                </div>

                                <!-- CONTENTS CONTAINER -->
                                <div class="public-main-contents-containner">

                                    <!--CONTENT MAIN COMPONENT -->
                                    <div class="public-main-contents">

                                        <!-- GUIDANCE COMPONENT -->
                                        <div class="public-guide">
                                            <p>No fear, the Back button is...up there! Please click Back (or alt + left arrow) and try another pathway.</p>
                                        </div>


                                        <div class="ui-g data-container">
                                            <div class="ui-g-12 ui-md-6 ui-lg-4">
                                                <div class=" data_field_card">
                                                    <div class="data_field_card_title">
                                                        Reporting errors
                                                    </div>

                                                    <p>You are encouraged to log all errors you find troublesome through our google drive ticket tracker. </p>

                                                </div>
                                            </div>
                                            <div class="ui-g-12 ui-md-6 ui-lg-4 ">
                                                <div class="data_field_card">
                                                    <div class="data_field_card_title">
                                                        Troubleshooting
                                                    </div>

                                                    <p>A common source of page load errors may be not having an appropriate business object activated 
                                                        when trying to view its details (i.e. trying to view a Property's profile 
                                                        without having searched for and selected an active property.</p>

                                                    <p>Check the entries in your system status bar above for details on which Property, Case, Municipality, etc., are active 
                                                        during your session.</p>
                                                </div>

                                            </div>
                                            <div class="ui-g-12 ui-md-6 ui-lg-4">
                                                <div class="data_field_card">
                                                    <div class="data_field_card_title">
                                                        Talk to a human!
                                                    </div>
                                                    <p>In the event the error you are receiving is debilitating to your work, 
                                                        please call Natalie at the Turtle Creek Valley Council of Governments via 412.858.5115.</p>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </h:form>
                    </f:view>
                </div>
            </ui:define>
        </ui:composition>
    </h:body>
</html>

