<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <link rel="stylesheet" type="text/css" href="css/style.css"></link>
        <title>Login to restricted area</title>
    </h:head>
    <h:body>
        <ui:composition template="./navContainer_public.xhtml">
            <ui:define name="content">
                <f:view id="initiateSessionView">

                    <!-- MAIN CONTAINER -->
                    <div class="mainContainer">
                        <!-- CONTENTS CONTAINER -->
                        <div class="public-main-contents-containner">

                            <!--CONTENT MAIN COMPONENT -->
                            <div class="public-main-contents">

                                <!-- CONTENT IO COMPONENT -->
                                <div class="public-main-contents-io public-main-contents-login">

                                    <h:graphicImage styleClass="public-login-logo" value="/images/login-logo.png" />

                                    <div class="publi-login-container">

                                        <!--
                                        <div class="publi-login-title">
                                            Enter Your Login Credentials
                                        </div>
                                        -->

                                        <form method="POST" action="j_security_check">

                                            <input type="text" name="j_username" placeholder="User Name"/>

                                            <input type="password" name="j_password" placeholder="Password"/>

                                            <div class="public-login-button">
                                                <button type="submit" name="Login" title="Submit" value="submit" class="login-button">
                                                    <span>
                                                        Submit
                                                    </span>
                                                </button>
                                            </div>

                                            <div class="public-login-text">

                                                <p> For any login issues or to request access, please <br />
                                                    call Natalie at the Turtle Creek Valley COG at 412.858.5115
                                                </p>
                                            </div>

                                        </form>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <script>
                        var y = document.getElementById('public-login-arrow-id');
                        y.className += " public-menu-active";
                    </script> 
                </f:view>
            </ui:define>
        </ui:composition>
    </h:body>
</html>

