<?xml version='1.0' encoding='UTF-8' ?> 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <h:head>
        <link rel="shortcut icon" type="image/x-icon" href="#{request.contextPath}/resources/favicon.ico"/>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <h:outputStylesheet name="css/style.css"/>
        <h:outputStylesheet name="css/primeflex.min.css"/>
        <title>codeNforce</title>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
        <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" />
        <link href='https://fonts.googleapis.com/css?family=Heebo' rel='stylesheet'/>
    </h:head>

    <h:body>

        <div class="public-container">

            <div class="public-menu-toggler-button" id="public-menu-toggler-button-id" >
                <i class="fa fa-list" onclick="onClickMenuTogglerButton()"/>
            </div>

            <div class="public-menu-container" id="public-menu-container-id">

                <div class="public-menu-content">

                    <f:view id="sideBarView">

                        <h:form id="panelMenu">

                            <p:commandLink action="systemHome">
                                <h:graphicImage styleClass="public-menu-logo" value="/images/Logo-N_Font.png" />
                            </p:commandLink>

                            

                        </h:form>

                        <div class="public-menu-text">
                            <p>This database application is maintained and updated by the Turtle Creek Valley Council of Governments.</p>
                        </div>

                    </f:view>
                </div>

            </div>

            <div class="public-content-container">
                <div class="public-content">
                    <f:view id="sessionInfoView">
                        <ui:insert name="content">
                            <p>I am content in the template content</p>
                        </ui:insert>
                    </f:view>
                </div>
            </div>

        </div>

        <script>
            function onClickMenuTogglerButton() {
                var x = document.getElementById("public-menu-container-id");
                if (x.className === "public-menu-container") {
                    x.className += " public-menu-toggler-responsive";
                } else {
                    x.className = "public-menu-container";
                }
                var x = document.getElementById("public-menu-toggler-button-id");
                if (x.className === "public-menu-toggler-button") {
                    x.className += " public-menu-toggler-button-white";
                } else {
                    x.className = "public-menu-toggler-button";
                }
            }

        </script>

    </h:body>

</html>