<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <head>
        <title>cNf Privacy Policy</title>
    </head>
    <body>
        <ui:composition template="./navContainer_public.xhtml">
            <ui:define name="content">
                <f:view id="sysHomeView">
                    <h:form id="sysHomeForm">

                        <!-- MAIN CONTAINER -->
                        <div class="mainContainer">

                            <!-- CONTENTS CONTAINER -->
                            <div class="public-main-contents-containner">

                                <!--CONTENT MAIN COMPONENT -->
                                <div class="public-main-contents">


                                    <h1>codeNforce Privacy policy</h1>
                                    <p>EFFECTIVE DATE: 28-October-2022</p>

                                    <p>In this Privacy Policy (“Policy”), we describe how codeNforce (“cNf,” “we,” or “us”) collects, uses, and discloses information that we obtain about users of our browser-based software tool codeNforce (the “Tool", the "Site") and the services available through our Site (collectively, the “Services”) including the handheld computer Android OS-based inspection application (the "Handheld Computer Application").</p>

                                    <p>By using the Tool, the Handheld Computer Application, or using any of our Services, you agree that your personal information will be handled as described in this Policy. Your use of our Tool or Services, and any dispute over privacy, is subject to this Policy including its applicable limitations on damages and the resolution of disputes. </p>

                                    <h2>The Information We Collect About You.</h2>
                                    We collect information about you directly from you and automatically through your use of our Site and Handheld Computer Application.

                                    <h2>Information We Collect Directly From You. </h2>
                                    The information we collect from you depends on how you use our Services. 

                                    We collect the following information when you visit our Site or use the Handheld Computer Application:

                                    <ul>
                                        <li>your browser type and operating system;</li>
                                        <li>pages you view or use on the Site and or Handheld Computer Application;</li>
                                        <li>links you click on the Tool and or Handheld Computer Application;</li>
                                        <li>your client computer's IP address;</li>
                                        <li>the length of time you visit our Site, use the Handheld Computer Application, and or use our Services;</li>
                                    </ul>

                                    <h2>How We Use Your Information</h2>
                                    <p>We use your information, including your personal information, for the following purposes:</p>
                                    <ul>
                                        <li>To provide our Services to you, including managing and administering relational database applications, web servers, and computer file systems</li>
                                        <li>To communicate with you about your use of our Services, to respond to your inquiries, and for other system and software support purposes.</li>
                                        <li>To better understand how users access and use our Services, both on an aggregated and individualized basis.</li>
                                        <li>To comply with legal obligations, as part of our general business operations, and for other business administration purposes.</li>
                                        <li>Where we believe necessary to investigate, prevent or take action regarding illegal activities, suspected fraud, situations involving potential threats to the safety of any person, or violations of this Privacy Policy.</li>
                                    </ul>

                                    <h2>How We Share Your Information</h2>

                                    <p>We may share your information, including personal information, as follows:</p>

                                    <ul>
                                        <li>With other logged in users of codeNforce which may include other code officers, municipal staff, council people, technical support persons, and developers.</li>
                                        <li>With Technology Rediscovery LLC and its affiliates to carry out its role as the primary provider of technical services on the Site and Handheld Computer Application.</li>
                                        <li>In Response to Legal Process. We may disclose your information to comply with the law, a judicial proceeding, court order, or other legal process, such as in response to a court order or a subpoena.</li>
                                        <li>To Protect Us and Others. We may disclose your information when we believe it is appropriate to do so to investigate, prevent, or take action regarding illegal activities, suspected fraud, situations involving potential threats to the safety of any person, violations of our Terms of Service or this Policy, or as evidence in litigation in which we are involved.</li>
                                    </ul>

                                    <h2>Our Use of Cookies and Other Tracking Mechanisms</h2>
                                    <p>We use cookies and other tracking mechanisms to track information about your use of our Site or Services. We may combine this information with other personal information we collect from you. We use cookies for functional purposes only (i.e. to support the proper working of our Site and Services) and do not use cookies for advertising or profiling purposes.</p>

                                    <p>Cookies. Cookies are alphanumeric identifiers that we transfer to your device’s hard drive through your web browser for record-keeping purposes. Some cookies allow us to make it easier for you to navigate our Site and Services, while others are used to enable a faster log-in process or to allow us to track your activities at our Site and Service. There are two types of cookies: session and persistent cookies.</p>

                                    <ul>
                                        <li>Session Cookies. Session cookies exist only during an online session. They disappear from your device when you close your browser or turn off your device. We use session cookies to allow our systems to uniquely identify you during a session or while you are logged into the Tool and Services. This allows us to process your online transactions and requests and verify your identity, after you have logged in, as you move through our Site and Services.</li>

                                        <li>Persistent Cookies. Persistent cookies remain on your device after you have closed your browser or turned off your device. We may use persistent cookies to track aggregate and statistical information about user activity.</li>
                                    </ul>

                                    <p>Disabling Cookies. Most web browsers automatically accept cookies, but if you prefer, you can change your browser options to block them in the future. The Help portion of the toolbar on most browsers will tell you how to prevent your computer from accepting new cookies, how to have the browser notify you when you receive a new cookie, or how to disable cookies altogether. Visitors to our Site and Services who disable cookies will be able to browse certain areas of the Tool, but some features may not function properly.</p>


                                    <h2>User Generated Content</h2>
                                    <p>As a municipal workflow content management system, most data in codeNforce and the Handheld Computer Application is generated by users. If you post content to our Site or Services the information that you post will be available to all authorized visitors to our Site and Handheld Computer Application. </p>

                                    <h2>Third-Party Links</h2>
                                    <p>Our Site and Services may contain links to third-party websites. Any access to, and use of, such linked websites is not governed by this Policy, but instead is governed by the privacy policies of those third-party websites. We are not responsible for the information practices of such third-party websites.</p>

                                    <h2>Security of My Personal Information</h2>
                                    <p>We have implemented reasonable precautions to protect the information we collect from loss, misuse, and unauthorized access, disclosure, alteration, and destruction. Please be aware that despite our best efforts, no data security measures can guarantee security.</p>

                                    <p>You should take steps to protect against unauthorized access to your password, phone, and computer by, among other things, signing off after using a shared computer, choosing a robust password that nobody else knows or can easily guess, and keeping your log-in and password private. We are not responsible for any lost, stolen, or compromised passwords or for any activity on your account via unauthorized password activity.</p>

                                    <h2>Access to My Personal Information</h2>
                                    <p>You may modify personal information that you have submitted by logging into your accounts and updating your profile information. Please note that copies of information that you have updated, modified, or deleted may remain viewable in cached and archived pages of the Tool for a period of time.</p>

                                    <h2>What Choices Do I Have Regarding Use of My Personal Information?</h2>
                                    <p>You may choose to deactivate many database records containing Personal and business information you enter into the Site and Handheld Computer Application. Deactivated records remain stored in our databases indefinitely. The technology team conducts regular data audits to verify that deactivated records remain hidden from all non-administrator users.</p>


                                    <h2>Children Under 13</h2>
                                    <p>Our Services are not designed for children under 13. If we discover that a child under 13 has provided us with personal information, we will delete such information from our systems.</p>

                                    <h2>Contact Us</h2>
                                    <p>If you have questions about the privacy aspects of our Services or would like to make a complaint, please contact codeNforce administrators in writing, by phone, or email:</p>
                                    <p>Turtle Creek Valley Council of Governments<br />
                                        attn: codeNforce project<br />
                                        2700 Monroeville Blvd<br />
                                        Monreoville, PA 15146<br />
                                        Phone: 412-858-5115 <br />
                                        Fax: 412-858-5118<br />
                                        Email: echocharliedelta at protonmail dot com
                                    </p>

                                    <h2>Changes to this Policy</h2>
                                    <p>This Policy is current as of the Effective Date set forth above. We may change this Policy from time to time, so please be sure to check back periodically. We will post any changes to this Policy on this page including the data and summary of changes. If we make any changes to this Policy that materially affect our practices with regard to the personal information we have previously collected from you we will endeavor to provide you with notice in advance of such change by highlighting the change on our Site and providing you a reasonable time to provide comment or objections to the prposed changes.</p>

                                </div>
                            </div>
                        </div>
                    </h:form>
                </f:view>
            </ui:define>
        </ui:composition>
    </body>
</html>

